<template>
  <header :class="['header', {opened}]">
    <div class="container">
      <b-navbar toggleable="xl">
        <b-navbar-brand :to="localePath('index')">
          <Logo/>
        </b-navbar-brand>
        <div class="delimiter"></div>
        <b-navbar-toggle
          target="nav-collapse"
          @click="opened = !opened"
        >
          <div class="btn-icon">
            <MenuIcon/>
          </div>
        </b-navbar-toggle>
        <b-collapse
          id="nav-collapse"
          is-nav
        >
          <b-navbar-nav>
            <b-nav-item :to="localePath('pricing')">
              {{ $t('pages.pricing.title') }}
            </b-nav-item>
            <b-nav-item-dropdown :text="$t('accept_crypto.title')">
              <b-dropdown-item :to="localePath('how-to')">
                How to
              </b-dropdown-item>
              <b-dropdown-item :to="localePath('integrations')">
                CMS Integrations
              </b-dropdown-item>
              <b-dropdown-item :to="localePath('resources')">
                {{ $t('pages.resources.title') }}
              </b-dropdown-item>
              <b-dropdown-item
                href="/pos/"
              >
                Pos Terminal
                <img class="header__login-icon" src="/img/login.svg" alt="login">
                <i class="apr"></i>
              </b-dropdown-item>
              <span class="header__line"></span>
              <b-dropdown-item :to="localePath('payments-button')">
                {{ $t('pages.payments-button.title') }}
              </b-dropdown-item>
              <b-dropdown-item :to="localePath('payments-form')">
                {{ $t('pages.payments-form.title') }}
              </b-dropdown-item>
              <b-dropdown-item :to="localePath('mini-cart')">
                {{ $t('pages.mini-cart.title') }}
              </b-dropdown-item>
              <b-dropdown-item :to="localePath('donation-widget')">
                {{ $t('pages.donation-widget.title') }}
              </b-dropdown-item>
              <!--                            <b-dropdown-item :to="localePath('how-to')">{{ $t('pages.how-to.title') }}</b-dropdown-item>-->
              <!--              <b-dropdown-item href="/docs/ru/" v-if="$i18n.locale === 'ru'">Api</b-dropdown-item>-->
              <!--              <b-dropdown-item href="/docs/" v-else>Api</b-dropdown-item>-->
            </b-nav-item-dropdown>
            <b-nav-item href="/docs/">
              API Docs
            </b-nav-item>
            <!--            <b-nav-item :to="localePath('features')">-->
            <!--              {{ $t('pages.features.title') }}-->
            <!--            </b-nav-item>-->
            <!--            <b-nav-item :to="localePath('partners')">-->
            <!--              {{ $t('pages.partners.title') }}-->
            <!--            </b-nav-item>-->
            <b-nav-item :to="localePath('blog')">
              {{ $t('pages.blog.title') }}
            </b-nav-item>
            <b-nav-item :to="localePath('faq')">
              {{ $t('pages.faq.title') }}
            </b-nav-item>
            <b-nav-item :to="localePath('about-us')">
              {{ $t('pages.about-us.title') }}
            </b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <!-- <b-nav-item-dropdown :text="$i18n.locale.charAt(0).toUpperCase() + $i18n.locale.slice(1)">
              <b-dropdown-item
                v-for="locale in $i18n.locales"
                :key="locale.code"
                :to="switchLocalePath(locale.code)">
                {{ locale.name }}
              </b-dropdown-item>
            </b-nav-item-dropdown> -->
            <b-nav-item
              class="btn-link ml-2 hovered"
              href="/dashboard"
            >
              {{ $t('wallet') }}
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </header>
</template>

<script>
import MenuIcon from '@/components/icons/MenuIcon.vue'

export default {
  components: {
    MenuIcon
  },
  data() {
    return {
      opened: false
    }
  }
}
</script>

<style lang="scss" scoped>
.delimiter {
  margin: 0 1rem;
  width: .0625rem;
  height: 1.75rem;
  background-color: #c4c4c4;
}

.btn-link {
  padding: 0 .75rem;
}

@media (max-width: 1200px) {
  .delimiter {
    display: none;
  }
}
</style>

<style lang="scss">
.header {
  &__line {
    width: 65%;
    height: 1px;
    background: rgba(196, 196, 196, 1);
    display: block;
    margin: 8px auto;
  }

  &__login-icon {
    transform: translate(16px, -1px);
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

  .navbar {
    padding: .8rem 0 .6rem;
  }

  .nav-link {
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
  }

  .navbar-nav.ml-auto a {
    color: #000 !important;
  }

  .navbar-nav.ml-auto a:hover {
    opacity: .6;
  }

  .navbar-nav a {
    white-space: nowrap;
  }

  .navbar-nav a:active {
    background-color: #c4c4c4;
    color: inherit;
  }
}

.btn-icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.btn-icon .svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  header {
    .navbar-nav.ml-auto .btn-link {
      margin-left: 0 !important;
      width: fit-content;
      width: -moz-fit-content;
      margin-top: 1rem;
    }
  }

  .header {
    &__line {
      width: 116px;
      margin: 8px 0;
      margin-left: 32px;
    }
  }
}
</style>
