<script>
  import {page} from "$app/stores";
  import http from "$lib/http.js";
  import Notification from "$components/parts/Notification.svelte";
  import moment from 'moment';
  import {onMount} from "svelte";

  // notification
  export let isShow = false
  export let title = ''
  export let message = ''
  export let isValid = true

  let data = $page.data;

  const offsetMinutes = moment().utcOffset();
  const offsetHours = offsetMinutes / 60;

  onMount(() => {
    data.worktime.start = moment(data.worktime.start, 'HH:mm').add(offsetHours, 'hours').format('HH:mm')
    data.worktime.end = moment(data.worktime.end, 'HH:mm').add(offsetHours, 'hours').format('HH:mm')
  })


  Object.entries(data.timeslots).forEach(([key, value]) => {
    if (!value.name) {
      value.name = key;
    }
  });

  const params = $page.params.customer_key;

  function updateTime(name, value) {
    data.worktime[name] = value;
  }

  function addTypeSlot() {
    let newIndex = Object.keys(data.timeslots).length + 1;
    data.timeslots[`newSlot-${newIndex}`] = {name: `new-${newIndex}`, break: null, duration: null};
    const dataKeyArray = Object.keys(data.timeslots)
    typeSlotValue = dataKeyArray[dataKeyArray.length - 1]
  }

  function removeTypeSlot(name) {
    delete data.timeslots[name];
    data = {...data}
    typeSlotValue = Object.keys(data.timeslots)[0] || ''
  }

  async function updateSettings() {
    const sendData = {
      ...data,
      timeslots: Object.keys(data.timeslots).reduce((acc, key) => {
        const {name, ...rest} = data.timeslots[key];
        acc[name] = rest;
        return acc;
      }, {})
    };

    try {
      sendData.worktime.start = moment(sendData.worktime.start, 'HH:mm').subtract(offsetHours, 'hours').format('HH:mm')
      sendData.worktime.end = moment(sendData.worktime.end, 'HH:mm').subtract(offsetHours, 'hours').format('HH:mm')
      const response = await http.callMethod(`/customers/${params}/settings`, {
        method: 'PATCH',
        body: JSON.stringify(sendData)
      });
      isShow = true
      message = 'Settings successfully updated'
      title = 'Notification'
      data = response.result
      data.worktime.start = moment(data.worktime.start, 'HH:mm').add(offsetHours, 'hours').format('HH:mm')
      data.worktime.end = moment(data.worktime.end, 'HH:mm').add(offsetHours, 'hours').format('HH:mm')
      const dataKeyArray = Object.keys(data.timeslots)
      typeSlotValue = dataKeyArray[dataKeyArray.length - 1]
      Object.entries(data.timeslots).forEach(([key, value]) => {
        if (!value.name) {
          value.name = key;
        }
      });
      setTimeout(() => {
        isShow = false
      }, 5000)
    } catch (error) {
      isShow = true
      message = 'Failed updated settings'
      title = 'Error'
      isValid = false
      setTimeout(() => {
        isShow = false
      }, 5000)
      console.error("Ошибка при обновлении настроек:", error);
    }
  }

  let typeSlotValue = Object.keys(data.timeslots)[0] || ''
</script>

<section class="settings">
  <h1>Settings</h1>
  {#if Object.keys(data).length}
    <div class="settings__block">
      <h2>Time slots</h2>
      <div class="settings__select">
        <span>Selected type slot</span>
        <select bind:value={typeSlotValue}>
          <option selected disabled value="">Selected type slot</option>
          {#each Object.entries(data.timeslots) as [name, slot]}
            <option value={name}>{name}</option>
          {/each}
        </select>
      </div>
      {#each Object.entries(data.timeslots) as [name, slot]}
        {#if name === typeSlotValue || !Object.keys(data.timeslots).length}
          <div style="display: flex; align-items: flex-start">
            <div>
              <div class="input">
                <label for="{name}">Name slot</label>
                <input
                  type="text"
                  id="{name}"
                  placeholder="Name slot"
                  bind:value={slot.name}
                >
              </div>
              <div class="settings__row">
                {#each Object.keys(slot) as keyName}
                  {#if keyName !== 'name'}
                    <div class="input">
                      <label for="{name}-{keyName}">{keyName}</label>
                      <input
                        type="number"
                        id="{name}-{keyName}"
                        placeholder={keyName}
                        bind:value={slot[keyName]}
                      >
                    </div>
                  {/if}
                {/each}
              </div>
            </div>
            <button class="settings__delete" on:click={() => {removeTypeSlot(name)}}><i class="apr apr-trash"></i>
            </button>
          </div>
        {/if}
      {/each}
      <button class="button-add" on:click={addTypeSlot}>Add slot</button>
    </div>
    <div class="settings__block">
      <h2>Work time</h2>
      <div class="settings__row">
        {#each Object.entries(data.worktime) as [name, slot]}
          <div class="input">
            <label for={`${name}`}>{name}</label>
            <input
              type="time"
              id={name}
              placeholder={name}
              value={slot}
              on:input={e => updateTime(name, e.target.value)}
            >
          </div>
        {/each}
      </div>
    </div>
  {/if}
  <button
    class="button-confirmed"
    on:click={updateSettings}
  >
    Save
  </button>
</section>

<svelte:component
  this={Notification}
  bind:isShow
  bind:title
  bind:message
  bind:isValid
/>

<style lang="scss">
  .settings {
    .input {
      margin-top: 16px;

      input {
        &::placeholder {
          text-transform: capitalize;
        }
      }
    }

    &__select {
      margin-top: 16px;
      border-bottom: 1px solid var(--grey-dark);
      padding-bottom: 16px;

      span {
        display: block;
        margin-bottom: 4px;
        color: var(--grey-dark);
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 2px;
      }
    }

    .button-confirmed {
      font-size: 16px;
    }

    &__delete {
      border: none;
      color: red;
      font-size: 24px;
      margin-left: 16px;
      margin-top: 50px;
    }

    &__row {
      display: flex;
      align-items: center;

      .input + .input {
        margin-left: 16px;
      }
    }

    &__block {
      max-width: 400px;
      margin-bottom: 32px;

      .button-add {
        margin-top: 32px;
      }
    }
  }
</style>