<template>
  <svg
    fill="none"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    class="svg icon_arrow-right"
    alt="Arrow Right icon"
  >
    <g
      class="arrow-right__g"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-miterlimit="10"
      stroke-width="1.5"
    >
      <path d="m14.4301 5.92993 6.07 6.06997-6.07 6.07" />
      <path d="m3.5 12h16.83" />
    </g>
  </svg>
</template>

<style scoped>
.arrow-right__g {
  stroke: currentColor;
}
</style>
