<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="svg icon_arrow"
    alt="Arrow icon"
  >
    <path
      class="arrow__path"
      d="M1 8H15M15 8L8 1M15 8L8 15"
      stroke="#5D8AB9"
      stroke-opacity="0.7"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>