<template>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="svg icon_box"
    alt="Box icon"
  >
    <path
      class="box__path"
      d="M7.46997 10.1399L11 13.6599L14.53 10.1399M8 21.5H14C19 21.5 21 19.5 21 14.5V8.5C21 3.5 19 1.5 14 1.5H8C3 1.5 1 3.5 1 8.5V14.5C1 19.5 3 21.5 8 21.5Z"
      stroke="#292D32"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<style scoped>
.box__path {
  stroke: currentColor;
}
</style>
