<template>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="svg icon_code"
    alt="Code icon"
  >
    <path
      class="code__path"
      d="M8.00002 12.5C7.34002 12.83 6.79002 13.32 6.38002 13.93C6.15002 14.28 6.15002 14.72 6.38002 15.07C6.79002 15.68 7.34002 16.17 8.00002 16.5M14.21 12.5C14.87 12.83 15.42 13.32 15.83 13.93C16.06 14.28 16.06 14.72 15.83 15.07C15.42 15.68 14.87 16.17 14.21 16.5M1.22998 7.51L20.45 7.5M8 21.5H14C19 21.5 21 19.5 21 14.5V8.5C21 3.5 19 1.5 14 1.5H8C3 1.5 1 3.5 1 8.5V14.5C1 19.5 3 21.5 8 21.5Z"
      stroke="#292D32"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<style scoped>
.code__path {
  stroke: currentColor;
}
</style>
