<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="svg icon_link"
    height="1rem"
    width="1rem"
  >
    <g>
      <path
        class="link__path"
        d="M18,20.75H6A2.75,2.75,0,0,1,3.25,18V6A2.75,2.75,0,0,1,6,3.25h6a.75.75,0,0,1,0,1.5H6A1.25,1.25,0,0,0,4.75,6V18A1.25,1.25,0,0,0,6,19.25H18A1.25,1.25,0,0,0,19.25,18V12a.75.75,0,0,1,1.5,0v6A2.75,2.75,0,0,1,18,20.75Z"
      />
      <path
        class="link__path"
        d="M20,8.75A.76.76,0,0,1,19.25,8V4.75H16a.75.75,0,0,1,0-1.5h4a.76.76,0,0,1,.75.75V8A.76.76,0,0,1,20,8.75Z"
      />
      <path
        class="link__path"
        d="M13.5,11.25A.74.74,0,0,1,13,11,.75.75,0,0,1,13,10l6.5-6.5a.75.75,0,1,1,1.06,1.06L14,11A.74.74,0,0,1,13.5,11.25Z"
      />
    </g>
  </svg>
</template>

<style scoped>
.link__path {
  fill: currentColor;
}
</style>
