<template>
  <svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
    <path
      clip-rule="evenodd"
      d="m11.8137.736235c.2267.197942.2497.541795.0513.768005l-7.63632 8.70836c-.09942.1133-.24147.1805-.39235.1855s-.2971-.0526-.40384-.1591l-3.27273-3.2656c-.2130133-.21255-.2130133-.55716 0-.76971.213013-.21255.558375-.21255.771389 0l2.860461 2.85425 7.25239-8.270504c.1984-.226219.543-.249142.7697-.051201z"
      fill="#5d8ab9"
      fill-rule="evenodd"
    />
  </svg>
</template>
