<template>
  <svg
    data-v-5c1b58cb=""
    data-v-ac7af1ca=""
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="svg icon_trash"
    data-v-85e3c6d8=""
    width="17"
    height="17"
  >
    <path
      d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998"
      stroke="#a5a5a5"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="trash__path"
    ></path>
    <path
      d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
      stroke="#a5a5a5"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="trash__path"
    ></path>
    <path
      d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001"
      stroke="#a5a5a5"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="trash__path"
    ></path>
    <path
      stroke="#a5a5a5"
      d="M10.33 16.5H13.66"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="trash__path"
    ></path>
    <path
      stroke="#a5a5a5"
      d="M9.5 12.5H14.5"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="trash__path"
    ></path>
  </svg>
</template>
