<template>
  <PageTemplate
    :name="$options.name"
    :main-title="$t('pages.integrations.main-title')"
    :title="$t('pages.integrations.title')"
    :description="$t('pages.integrations.description')"
    :keywords="$t('pages.integrations.keywords')"
    :img="true"
  >
    <template #heading>
      <p
        class="text-secondary"
        v-html="$t('pages.integrations.text')"
      ></p>
    </template>
    <section class="integrations pt-5 case-page integrations">
      <div class="container">
        <div style="margin-bottom: 2rem;">
          <p>
            Our plugins is a simple and easy-to-install solution to accept crypto payments on your website on the basis
            of seamless CMS integration with our service. You can start your business with the Apirone gateway from
            anywhere in the world. Also, you do not have to be an expert in blockchain or dig into our API
            documentation. The only thing you should do is follow the step-by-step guidance or watch our tutorials on
            how to install and activate the plugins.
          </p>
        </div>
        <b-container>
          <b-row class="integrations__items">
            <b-col
              v-for="(item, index) in $t('integrations')"
              :key="`item${index}`"
              xs="12"
              sm="6"
              md="4"
              lg="3"
              class="integrations__item"
            >
              <b-link
                :to="localePath({ path: `${item.link}` })"
                class="integrations__link d-flex flex-column justify-content-between p-1"
              >
                <img
                  :src="`/img${item.link}.svg`"
                  :alt="item.title"
                >
                <h3 class="text-center">
                  {{ item.title }}
                </h3>
              </b-link>
            </b-col>
          </b-row>
        </b-container>
        <div>
          <p>
            According to this guidance, you just fill in fields with your crypto address (or addresses, if you are going
            to work with several cryptocurrencies) to which you are going to accept payments from your customers. All
            the following integration is conducted automatically, and afterward, you have a ready-to-use solution for
            payments. It has a user-friendly interface that can help: <br>
            <ul style="margin-top: 0.5rem;">
              <li>create invoices for customers,</li>
              <li>see all the information about payments,</li>
              <li>trace transactions in the blockchain.</li>
            </ul>
            These features are enough for complete work with crypto payments on your website.
            <br><br>
            All our plugins provide payments with all currencies we support now. In case any other cryptocurrency
            appears in our system, it will be added to your plugin naturally, you need to add the corresponding address
            of yours into the admin area.
            <br><br>
            Before real interactions with your customers, we recommend checking the payment process testnet coins (it is
            free). If everything is OK at this stage, you are ready to accept Bitcoin and/or altcoins from your
            customers. If not, contact the Apirone support team, and we will be glad to help you 24/7.
            <br><br>
            We provide white-label processing. There are no logos, cut-ins, external pages, or branded buttons in our
            plugins. Change, modify, or apply your design as you wish. Each plugin is an
            open-source code. All logos and registered trademarks are the property of their respective owners.
            <br><br>
            The CMS integration with the Apirone gateway is based on so-called payment forwarding. This solution
            provides the transfer of coins from a customer to a merchant via the crypto payment processor seamlessly and
            fast. It also helps protect payments due to the Apirone service arrangement of isolated wallets. It means
            the funds a merchant gets from their customers we separate from other users of our service, and allow
            processing in a personal merchant's wallet, not mixed with others. This design makes your cryptocurrency
            interactions safe and secure.
            <br><br>
            Apirone is not going to stop with what has already been achieved. If you do not see a platform among our
            plugins that you would like to integrate with, it is just a temporary absence. We are going to launch
            solutions for other famous e-commerce systems to help our users accept crypto payments and would be happy to
            assist in achieving prosperity for your business.
          </p>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import TickCases from '@/components/icons/TickCases.vue';

export default {
  name: 'integrations',
  components: {TickCases},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
