<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.opencart.title')"
    :main-title="$t('pages.opencart.main-title')"
    :description="$t('pages.opencart.description')"
    :keywords="$t('pages.opencart.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        Compatibility: <br>
        OpenCart from <span style="color: var(--primary)">2.2.0.0</span> up to <span style="color: var(--primary)">4.0.2.3</span>
        <br>
        OcStore <span style="color: var(--primary)">3.0.3.7</span>
        <a style="display: block" href="/blog/forwarding/">Forwarding payments</a>
      </p>
    </template>
    <section class="pt-5">
      <div class="container opencart case-page">
        <p>Apirone has released an updated OpenCart plugin to get payments in cryptocurrencies.</p>
        <p>
          The plugin expands the opportunities for merchants who use OpenCart for their online stores. It allows
          accepting payments in cryptocurrencies supported by Apirone and uses the Apirone service as a gateway to
          accept cryptocurrencies. The system does not store clients’ funds but forwards the payments directly to the
          addresses specified by the online store owner. It is called simple forwarding. Read more about it in our
          <a href="https://apirone.com/docs/receiving-callbacks/">documentation</a>.
        </p>
        <p style="color: black; font-weight: 600; font-size: 18px;">
          Below is a step by step instruction on how to install the plugin, there is also a video at the end of the page
          with the process of installing and paying for the plugin.
        </p>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>Plugin Installation</h2>
        </div>
        <ul class="case-page__ul-number">
          <li>
            <span>1</span>
            <div>
              <p style="margin-top: 0 !important;">
                To get started, download plugin from
                <a
                  style="margin: 0; padding: 0;"
                  href="https://www.opencart.com/index.php?route=marketplace/extension&filter_search=apirone"
                ><img
                  style="transform: translateY(-3px)"
                  width="20"
                  src="/img/blog/opencart-icon.png"
                  alt=""
                ></a>
                or from <a
                  style="padding: 0; margin: 0;"
                  href="https://github.com/Apirone/Opencart/releases/latest"
                ><img
                  style="transform: translateY(-3px)"
                  width="20"
                  src="/img/resources/github.png"
                  alt=""
                ></a>.
              </p>
            </div>
          </li>
          <li>
            <span>2</span>
            <div>
              <p style="margin-top: 0 !important;">
                Log in to your Opencart Admin Area.
                <img
                  src="/img/opencart/image1.png"
                  alt="opencart image 1"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>3</span>
            <div>
              <p style="margin-top: 0 !important;">
                From the menu go to <strong>Extensions >> Installer</strong> and click the button Upload. After
                successful upload, the
                plugin will appear in the list of added plugins. To complete the installation, click the plus button
                next to the plugin.
                <img
                  src="/img/opencart/image2.png"
                  alt="opencart image 2"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>4</span>
            <div>
              <p style="margin-top: 0 !important;">
                Then go to <strong>Extensions >> Extensions</strong>. Choose the Payments type from the Extensions list.
                <img
                  src="/img/opencart/image3.png"
                  alt="opencart image 3"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>5</span>
            <div>
              <p style="margin-top: 0 !important;">
                Then add <strong>Apirone Crypto Payments</strong> by clicking the plus button.
                <img
                  src="/img/opencart/image4.png"
                  alt="opencart image 4"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>6</span>
            <div>
              <p style="margin-top: 0 !important;">
                To customize all your data click the pencil icon.
                <img
                  src="/img/opencart/image5.png"
                  alt="opencart image 5"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>7.1</span>
            <div>
              <p style="margin-top: 0 !important; font-weight: 600; color: var(--black)">
                Step 1 - Module settings
              </p>
              <p>
                <b>Merchant: </b>Show Merchant name on the plugin invoice page. If this field is empty, it will not be
                displayed for a customer.
              </p>
              <p>
                <b>Payment timeout: </b> The period during which a customer shall pay. Set value in seconds. Default
                value is 1800 (30 minutes).
              </p>
              <p>
                <b>Test currency customer: </b> Enter an email of the customer to whom the test currencies will be
                shown.
              </p>
              <p>
                <b>Processing fee plan: </b>
                Processing fee plan may be percentage or fixed. More information see on
                <nuxt-link tag="a" style="padding: 0; display: inline-block" to="/pricing">
                  Pricing page
                </nuxt-link>
                .
              </p>
              <p>
                <b>Price adjustment factor: </b> If you want to add/subtract percent to/from the payment amount, use the
                following price adjustment factor multiplied by the amount.
              </p>
              <p style="margin-left: 1rem; margin-top: 0.5rem !important;">
                For example: 100% * 0.99 = 99% | 100% * 1.01
                = 101%
              </p>
              <p><b>Apirone Logo:</b> Show the Apirone logo on the invoice page.</p>
              <p><b>Debug mode: </b> Write debug information into the log file.</p>
              <p><b>GeoZone: </b> Select the geofence for which the plugin will be displayed.</p>
              <p><b>Status: </b> Enable or disable plugin.</p>
              <p><b>Sort Order: </b> Plugin position in the list of payment methods.</p>
              <img
                style="width: 100%; margin-top: 1rem;"
                src="/img/opencart/image6.png"
                alt="opencart 6"
              >
            </div>
          </li>
          <li>
            <span>7.2</span>
            <div>
              <p style="margin-top: 0 !important; font-weight: 600; color: var(--black)">
                Step 2 - Setup your cryptocurrencies addresses
              </p>
              <p>
                Fill in the addresses of the currencies you want to accept. All currencies that have Testnet in their
                names are used for testing purposes and are displayed to the user whose email is specified in the Test
                currency customer field.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                src="/img/opencart/image7.png"
                alt="opencart 7"
              >
            </div>
          </li>
          <li>
            <span>7.3</span>
            <div>
              <p style="margin-top: 0 !important; font-weight: 600; color: var(--black)">
                Step 3 - Statuses setup
              </p>
              <p>
                Configuring the correspondence between OC statuses and Apirone account statuses as you wish. By default,
                statuses are set as Opencart recommended.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                src="/img/opencart/image8.png"
                alt="opencart 8"
              >
            </div>
          </li>
        </ul>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>How do I install the plugin</h2>
        </div>
        <div class="opencart__iframe">
          <iframe
            src="https://www.youtube.com/embed/YYzsFksiSko?si=pKm66KJ6ezoxNJVq"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>How does it work </h2>
        </div>
        <div class="opencart__iframe">
          <iframe
            src="https://www.youtube.com/embed/SGxDv_pQGKQ?si=gq3GItkSyHrcrmpR"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'opencart',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style>
.opencart__iframe {
  overflow: hidden;
  padding-top: 51.25%;
  position: relative;
  margin-top: 2rem;
}

.opencart__iframe iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

</style>
