<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.prestashop.title')"
    :main-title="$t('pages.prestashop.main-title')"
    :description="$t('pages.prestashop.description')"
    :keywords="$t('pages.prestashop.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        Compatibility: <br>
        PrestaShop from <span style="color: var(--primary)">1.7.x</span> up to <span
          style="color: var(--primary)"
        >8.x</span> <br>
        <a style="display: block" href="/blog/forwarding/">Forwarding payments</a>
      </p>
    </template>
    <section class="pt-5">
      <div class="container case-page">
        <p>
          Apirone has released the PrestaShop payment module to get payments in cryptocurrencies.
          The module expands the opportunities for merchants who use PrestaShop for their online stores. It allows
          accepting payments in cryptocurrencies supported by Apirone and uses the Apirone service as a gateway to
          accept cryptocurrencies. The system does not store clients’ funds but forwards the payments directly to the
          addresses specified by the online store owner. It is called simple forwarding. Read more about it in our
          <a target="_blank" href="/docs/receiving-callbacks/">documentation</a>.
        </p>
        <p style="color: black; font-weight: 600; font-size: 18px;">
          Below is a step by step instruction on how to install the plugin, there is also a video at the end of the page
          with the process of installing and paying for the plugin.
        </p>
        <h2 style="margin-top: 3rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          Plugin Installation
        </h2>
        <ul style="margin-top: 2rem;" class="case-page__ul-number prestashop__ul">
          <li>
            <span>1</span>
            <div>
              <p style="margin-top: 0 !important;">
                To get started,
              </p>
              <ul class="case-page__ul-number">
                <li style="border: none; padding: 0; margin-top: 16px;">
                  <span><img width="30" src="/img/resources/github.png" alt=""></span>
                  <div>
                    <p style="margin-top: 4px !important; color: var(--black)">
                      <a
                        style="padding: 0;"
                        target="_blank"
                        href="https://github.com/Apirone/prestashop/releases/latest"
                      >Our github</a>
                    </p>
                  </div>
                </li>
              </ul>
              <p>
                Log in to your Prestashop Admin Area.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img1.webp"
                src="/img/blog/prestashop_img1.png"
                alt="Img 1"
              >
            </div>
          </li>
          <li>
            <span>2</span>
            <div>
              <p style="margin-top: 0 !important;">
                From the main menu go to Modules >> Module manager and click the Upload a module button.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img2.webp"
                src="/img/blog/prestashop_img2.png"
                alt="Img 2"
              >
            </div>
          </li>
          <li>
            <span>3</span>
            <div>
              <p style="margin-top: 0 !important;">
                Once the module is loaded, select the payment category from the drop-down list. Find Apirone Crypto
                Payments and click the install button.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img3.webp"
                src="/img/blog/prestashop_img3.png"
                alt="Img 3"
              >
            </div>
          </li>
          <li>
            <span>4</span>
            <div>
              <p style="margin-top: 0 !important;">
                To customize all your data click the Configure button.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img4.webp"
                src="/img/blog/prestashop_img4.png"
                alt="Img 4"
              >
            </div>
          </li>
          <li>
            <span>5</span>
            <div>
              <p style="margin-top: 0 !important; font-weight: 600; color: var(--black)">
                Step 1 - Module settings
              </p>
              <p>
                <b>Merchant: </b>Show Merchant name on the plugin invoice page. If this field is empty, it will not be
                displayed for a customer.
              </p>
              <p>
                <b>Payment timeout: </b> The period during which a customer shall pay. Set value in seconds. Default
                value is 1800 (30 minutes).
              </p>
              <p>
                <b>Test currency customer: </b> Enter an email of the customer to whom the test currencies will be
                shown.
              </p>
              <p>
                <b>Processing fee plan: </b>
                Processing fee plan may be percentage or fixed. More information see on
                <nuxt-link tag="a" style="padding: 0; display: inline-block" to="/pricing">
                  Pricing page
                </nuxt-link>
                .
              </p>
              <p>
                <b>Price adjustment factor: </b> If you want to add/subtract percent to/from the payment amount, use
                the following price adjustment factor multiplied by the amount.
              </p>
              <p style="margin-left: 1rem; margin-top: 0.5rem !important;">
                For example: 100% * 0.99 = 99% | 100% * 1.01
                = 101%
              </p>
              <p><b>Apirone Logo:</b> Show the Apirone logo on the invoice page.</p>
              <p><b>Debug mode: </b> Write debug information into the log file.</p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img5.webp"
                src="/img/blog/prestashop_img5.png"
                alt="Img 5"
              >
            </div>
          </li>
          <li>
            <span>6</span>
            <div>
              <p style="margin-top: 0 !important; font-weight: 600; color: var(--black)">
                Step 2 - Setup your
                cryptocurrencies addresses
              </p>
              <p>
                Fill in the addresses of the currencies you want to accept. All currencies that have Testnet in their
                names are used for testing purposes and are displayed to the user whose email is specified in the Test
                currency customer field.
              </p>
              <img
                style="width: 100%; margin-top: 1rem;"
                srcset="/img/blog/prestashop_img6.webp"
                src="/img/blog/prestashop_img6.png"
                alt="Img 6"
                class="opencart__step-img"
              >
              <p style="color: var(--black); font-size: 18px; font-weight: 600;">
                Attention! Each form is saved separately.
              </p>
            </div>
          </li>
        </ul>
        <h2 style="margin-top: 3rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          How do I install the plugin
        </h2>
        <div class="prestashop__iframe">
          <iframe
            src="https://www.youtube.com/embed/ppfYX7xq6MY?si=3cGZ1fWF6x9JFLFD"
            title="Apirone prestashop how install plugin"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <h2 style="margin-top: 3rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          How does it work
        </h2>
        <div class="prestashop__iframe">
          <iframe
            src="https://www.youtube.com/embed/SMv2Plj4cLc?si=esZppNqdHIg2qrVs"
            title="Apirone prestashop"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'prestashop',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style>

.prestashop__iframe {
  overflow: hidden;
  padding-top: 57.25%;
  position: relative;
  margin-top: 2rem;
}

.prestashop__iframe iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.opencart__step-img {
  width: 100%;
  display: block;
}

.prestashop__ul > li {
  margin-top: 4rem !important;
}

.prestashop__ul > li:first-child {
  margin-top: 0 !important;
}
</style>
