<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.woocommerce.title')"
    :main-title="$t('pages.woocommerce.main-title')"
    :description="$t('pages.woocommerce.description')"
    :keywords="$t('pages.woocommerce.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        Compatibility: <br>
        WordPress Version: <span style="color: var(--primary);">5.6</span> or higher <br>
        Tested up to: <span style="color: var(--primary)">6.2.2</span>
        <a style="display: block" href="/blog/forwarding/">Forwarding payments</a>
      </p>
    </template>
    <section class="pt-5 case-page opencart">
      <div class="container">
        <p>
          WooCommerce is an e-commerce system designed to help merchants launch an online shop easily and quickly using
          WordPress CMS. The plugin expands its functions noticeably. WooCommerce can be easily "equipped" with add-ons
          that will bring new opportunities for managing online businesses.
        </p>
        <p>
          The plugin uses the Apirone service as a gateway to accept cryptocurrencies. This feature will attract new
          customers and increase a working capital due to a new means of payment. The system does not store the client's
          funds, but transfers the payment directly to the specified bitcoin wallet.
        </p>
        <p style="color: black; font-weight: 600; font-size: 18px;">
          Below is a step by step instruction on how to install the plugin, there is also a video at the end of the page
          with the process of installing and paying for the plugin.
        </p>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>Plugin Installation</h2>
        </div>
        <ul class="case-page__ul-number">
          <li>
            <span>1</span>
            <div>
              <p style="margin-top: 0 !important;">
                To get started,
              </p>
              <ul class="case-page__ul-number">
                <li style="border: none; padding: 0; margin-top: 16px;">
                  <span><img width="30" src="/img/resources/github.png" alt=""></span>
                  <div>
                    <p style="margin-top: 4px !important; color: var(--black)">
                      <a
                        style="padding: 0;"
                        target="_blank"
                        href="https://github.com/zaytseff/mccp-woo/releases/latest"
                      >Our github</a>
                    </p>
                  </div>
                </li>
              </ul>
              <p>
                Login to your WordPress Admin Area. From the menu then go to
                <strong>Plugins -> Add New</strong>.
              </p>
            </div>
          </li>
          <li>
            <span>2</span>
            <div>
              <p style="margin-top: 0 !important;">
                In the search box, type <strong>Apirone</strong>".
              </p><p>
                Install the plugin <strong>Multi CryptoCurrency Payments</strong> by clicking the
                <strong>Install Now</strong> button.
              </p>
              <img
                src="/img/woocommerce/image5.png"
                alt="WooCommerce image 5"
                class="mt-2 mb-4"
                width="100%"
              >
              <p>
                Install the plugin <strong>Multi CryptoCurrency Payments</strong> by clicking the
                <strong>Install Now</strong> button.
              </p>
              <img
                src="/img/woocommerce/image5.png"
                alt="WooCommerce image 5"
                class="mt-2 mb-4"
                width="100%"
              >
            </div>
          </li>
          <li>
            <span>3</span>
            <div>
              <p style="margin-top: 0 !important;">
                Next, click the <strong>Activate</strong> button.
                <img
                  src="/img/woocommerce/image2.png"
                  alt="WooCommerce image 2"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>4</span>
            <div>
              <p style="margin-top: 0 !important;">
                From the menu <strong>WooCommerce -> Settings</strong> go to the Payments tab. In front of the <strong>Multi
                  CryptoCurrency
                  Payments</strong> title, use the toggle button to activate payments.
                <br>Click the <strong>Save changes</strong> button below.
                <img
                  src="/img/woocommerce/image4.png"
                  alt="WooCommerce image 4"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>5</span>
            <div>
              <p style="margin-top: 0 !important;">
                Go to the Multi CryptoCurrency Payments plugin, then paste the name of your company in the <strong>Merchant
                  name</strong>
                field, period in seconds during which a customer shall pay in the <strong>Payment timeout</strong>
                field, and your
                crypto
                addresses in the relevant fields.
                <img
                  src="/img/woocommerce/image3.png"
                  alt="WooCommerce image 3"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>6</span>
            <div>
              <p style="margin-top: 0 !important;">
                Set value in the <strong>Price adjustment factor</strong> field. This parameter helps subtract or add
                percentage to the
                payment amount. The default value is 1, i.e.100%.
              </p>
            </div>
          </li>
          <li>
            <span>7</span>
            <div>
              <p style="margin-top: 0 !important;">
                Set value in the <strong>Status update period</strong> field. THe minimum is 5 seconds.
              </p>
            </div>
          </li>
          <li>
            <span>8</span>
            <div>
              <p style="margin-top: 0 !important;">
                Enter a valid URL for the <strong>Back to store</strong> link on the invoice page. If empty the home
                page is used.
              </p>
            </div>
          </li>
          <li>
            <span>9</span>
            <div>
              <p style="margin-top: 0 !important;">
                Tick the checkbox to display the Apirone logo on the invoice or leave it empty if you do not want to
                show
                it. Click <strong>Save changes</strong>.
                <img
                  src="/img/woocommerce/image1.png"
                  alt="WooCommerce image 1"
                  class="mt-2 mb-4"
                  width="100%"
                >
              </p>
            </div>
          </li>
          <li>
            <span>10</span>
            <div>
              <p style="margin-top: 0 !important;">
                Then, to use cryptocurrencies you need, check the Use currency box. Click <strong>Save changes</strong>.
                <img
                  src="/img/woocommerce/image6.png"
                  alt="WooCommerce image 6"
                  width="100%"
                  class="mt-2 mb-4"
                >
              </p>
            </div>
          </li>
        </ul>
        <h2 style="margin-top: 3rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          How do I install the plugin
        </h2>
        <div class="woocommerce__iframe">
          <iframe
            src="https://www.youtube.com/embed/SGtGeY4uZrg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>How To Use Plugin</h2>
        </div>
        <p>
          The idea behind the plugin is quite simple. The customer places an order and selects the option to pay with
          cryptocurrency.
        </p>
        <p>
          The shop sends its crypto address and its website callback URL to the Apirone API server. The customer
          receives the order amount converted into cryptocurrency and a QR code to scan to pay for the goods.
        </p>
        <p>
          The transaction goes to the blockchain. The server sends a callback to the URL provided by the shop. The
          shop receives the first notification.
        </p>
        <p>
          The operation is then confirmed by the network. It usually takes about ten minutes. The system then
          transfers the crypto to the recipient and executes a second callback. Now the customer can receive their
          goods. The transaction is completed.
        </p>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'woocommerce',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.woocommerce__iframe {
  overflow: hidden;
  padding-top: 57.25%;
  position: relative;
  margin-top: 2rem;
}

.woocommerce__iframe iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
