<script>
  import {page} from "$app/stores";
  import http from "$lib/http.js";
  import Notification from "$components/parts/Notification.svelte";
  import {_downloadDecodedBase64} from "$lib/client/_downloadDecodeBase64.js";
  import {_removeBase64Prefix} from "$lib/_removeBase64Prefix.js";

  let presets = $page.data.presets
  const customerKey = $page.params.customer_key

  let files;
  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''
  export let isValidNotification = true

  async function togglePresetsAccessibility(id, type) {
    try {
      const response = await http.callMethod(`/customers/${customerKey}/presets/${id}/${type}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      await getPresets()
      titleNotification = 'Success'
      messageNotification = await response.result
      isValidNotification = true
      isShowNotification = true
      setTimeout(() => {
        isShowNotification = false
      }, 5000)
    } catch (e) {
      titleNotification = 'Error'
      messageNotification = 'Failed changed availability'
      isValidNotification = false
      isShowNotification = true
      setTimeout(() => {
        isShowNotification = false
      }, 5000)
    }
  }

  async function getPresets() {
    const response = await http.callMethod(`/customers/${customerKey}/presets`)
    presets = response.result
  }

  function handleFileChange(event) {
    let file = event.target.files[0]
    if (file) {
      const reader = new FileReader()
      reader.onload = async (e) => {
        const base64 = e.target.result
        file = _removeBase64Prefix(base64)
        await uploadPreset(file)
      };
      reader.readAsDataURL(file)
    }
  }

  async function uploadPreset(file) {
    try {
      const response = await http.callMethod(`/customers/${customerKey}/presets`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({data: file})
      })
      switch (response.response.status) {
        case 200:
          titleNotification = 'Success'
          messageNotification = await response.result
          isValidNotification = true
          break;
        case 400:
          titleNotification = 'Error'
          messageNotification = await response.result.error
          isValidNotification = false
      }
      await getPresets()
    } catch (e) {
      titleNotification = 'Error'
      messageNotification = 'Failed upload preset. Try again'
      isValidNotification = false
    } finally {
      isShowNotification = true
      setTimeout(() => {
        isShowNotification = false
      }, 5000)
    }
  }

  async function deletePreset(id) {
    try {
      const response = await http.callMethod(`/customers/${customerKey}/presets/${id}`, {
        method: 'DELETE'
      })
      await getPresets()
      titleNotification = 'Success'
      messageNotification = await response.result
      isValidNotification = true
    } catch (e) {
      titleNotification = 'Error'
      messageNotification = 'Failed deleted preset. Try again'
      isValidNotification = true
    } finally {
      isShowNotification = true
      setTimeout(() => {
        isShowNotification = false
      }, 5000)
    }
  }
</script>

<section>
  <section class="presets">
    <div class="presets__header">
      <h1>Presets</h1>
      <button
        on:click|preventDefault={files.click()}
        class="button-plus"
      >
        +
      </button>
      <input
        style="display: none"
        type="file"
        bind:this={files}
        on:change={handleFileChange}
      >
    </div>
    <div class="presets__content">
      <table class="table" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {#each presets as preset}
          <tr>
            <td>
              <button style="color: var(--blue); border: none"
                      on:click|preventDefault={() => {_downloadDecodedBase64(preset.data, preset.name)}}>{preset.id}</button>
            </td>
            <td>{preset.name}</td>
            <td>{preset.description ? preset.description : "You are no have a description :(" }</td>
            <td class="presets__table-action">
              <div>
                {#if preset.is_enabled}
                  <button class="presets__table-action-enable"
                          on:click|preventDefault={() => {togglePresetsAccessibility(preset.id, 'disable')}}>
                    <i class="apr apr-checkbox_small"></i>
                  </button>
                {:else}
                  <button class="presets__table-action-disable"
                          on:click|preventDefault={() => {togglePresetsAccessibility(preset.id, 'enable')}}>
                    <i class="apr apr-cancel_small"></i>
                  </button>
                {/if}
                <button on:click|preventDefault={() => {deletePreset(preset.id)}} class="presets__table-action-delete">
                  <i class="apr apr-trash"></i></button>
              </div>
            </td>
          </tr>
        {/each}
        </tbody>
      </table>
    </div>
  </section>
</section>
<svelte:component
  this={Notification}
  bind:isShow={isShowNotification}
  bind:title={titleNotification}
  bind:message={messageNotification}
  bind:isValid={isValidNotification}
/>

<style lang="scss">
  .presets {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;

      h1 {
        margin-bottom: 0;
      }
    }

    .table {
      th:first-child, td:first-child {
        width: 30%;
      }
    }

    &__table {
      &-action {
        div {
          display: flex;
          align-items: center;
        }

        button {
          border: none;
          font-size: 16px;
          color: var(--blue);
        }

        &-disable {
          color: white !important;
          background: var(--orange);
          border: 1px solid var(--orange) !important;
          font-size: 10px !important;
          border-radius: 100%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-enable {
          color: white !important;
          border: 1px solid var(--blue) !important;
          background: var(--blue);
          font-size: 10px !important;
          border-radius: 100%;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-delete {
          color: red !important;
          font-size: 20px !important;
          height: 20px;
          margin-left: 16px;
        }
      }
    }
  }
</style>