:root {
  --main_grey: #F3F4F2;
  --primary_grey: #8D8D9C;
  --light_blue: #E6E7F1;
  --black: #0C0B2D;
  --dark_blue: #0C0B2D;
  --primary: #625EE3;
  --green: #3BE155;
  --blue: #2676F7;
  --dark_red: #732926;
}