.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.small-container {
  max-width: 1196px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .container {
    padding: 0 24px;
  }
  .small-container {
    padding: 0 24px;
  }
}