.contact {
  padding: 190px 0;
  background: var(--main_grey);
  .suptitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 40px;
    color: var(--primary);
  }
  .title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
    max-width: 820px;
    margin-bottom: 105px;
    color: var(--black);
  }
  .group-btn {
    display: flex;
    align-items: center;
    span {
      font-size: 48px;
      line-height: 1.2;
      color: var(--primary_grey);
      margin: -20px 40px 0;
      display: block;
    }
    button, a {
      font-size: 48px;
      font-weight: 500;
      line-height: 1.2;
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      background: none;
      border: none;
      border-bottom: 3px solid var(--primary_grey);
      padding-right: 6px;
      img {
        margin-left: 18px;
        transition: 0.2s;
      }
      &:hover {
        img {
          transform: translateX(6px);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    .title {
      font-size: 45px;
      max-width: 780px;
      margin-bottom: 80px;
    }
    .group-btn {
      a {
        font-size: 38px;
        padding-bottom: 6px;
      }
      span {
        font-size: 38px;
        margin: -20px 30px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .contact {
    padding: 150px 0;
    .suptitle {
      font-size: 20px;
      line-height: 1.4;
    }
    .title {
      font-size: 37px;
      margin-bottom: 70px;
    }
    .group-btn {
      a {
        font-size: 29px;
        padding-bottom: 2px;
        border-width: 2px;
        img {
          width: 14px;
          margin-left: 12px;
        }
      }
      span {
        font-size: 29px;
        margin: -10px 24px 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .contact {
    padding: 120px 0;
    .suptitle {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    .title {
      font-size: 28px;
      margin-bottom: 44px;
    }
    .group-btn {
      a {
        font-size: 20px;
      }
      span {
        font-size: 20px;
        margin: -10px 18px 0;
      }
    }
  }
}

@media (max-width: 410px) {
  .contact {
    padding: 90px 0;
    .group-btn {
      a {
        font-size: 14px;
        img {
          margin-left: 10px;
          width: 12px;
        }
      }
      span {
        font-size: 16px;
        margin: -6px 14px 0;
      }
    }
  }
}