.data-protection {
  max-width: 1000px;
  width: 100%;
  margin: 200px auto 100px;
  padding: 0 20px;
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 120px;
  }
  &__item {
    margin-top: 32px;
    height: auto;
    justify-content: start;
    align-items: start;
    background: var(--main_grey);
    border: 16px solid white;
    box-shadow: 0 0 100px 0 rgba(#000000, 0.15);
    border-radius: 10px;
    padding: 32px;
    word-break: break-word;
    &:first-child {
      margin-top: 0;
    }
    & > p {
      text-align: start;
      max-width: 100%;
      line-height: 1.4;
    }
    & > h3 {
      line-height: 1.3;
      margin-bottom: 16px;
    }
    & a {
      color: var(--primary);
    }
  }
}

@media (max-width: 767px) {
  .data-protection {
    &__item {
      padding: 32px;
      h3 {
        text-align: start;
      }
    }
  }
}

@media (max-width: 550px) {
  .data-protection {
    margin-top: 120px;
    h1 {
      font-size: 30px;
    }
    &__item {
      padding: 16px;
      border-width: 8px;
    }

  }
}

@media (max-width: 400px) {
  .data-protection {
    a {
      font-size: 12px
    }
    h3,
    p {
      font-size: 15px
    }
  }
}

