.digital-process {
  background: var(--main_grey);
  border-radius: 0 0 120px 120px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  transition: 0.2s;
  &__blue {
    background: #0C0B2D;
  }
  &__title {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    max-width: 884px;
    width: 100%;
    margin: 0 auto;
    span {
      background: linear-gradient(to right, rgba(98, 94, 227, 1), rgba(55, 153, 251, 1));
      -webkit-background-clip: text;
      color: transparent;
      display: inline-block;
      height: 61px;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 745px;
    width: 100%;
    padding: 0 15px;
    margin: 24px auto 0;
    .item {
      white-space: nowrap;
      transition: 0.4s ease;
      display: flex;
      align-items: center;
      color: var(--primary);
      margin-left: 16px;
      &:first-child {
        margin-left: 0;
      }
      img {
        margin-right: 8px;
      }
      &:nth-child(even) {
        color: var(--primary_grey);
      }
    }
  }
}

@media (max-width: 1200px) {
  .digital-process {
    border-radius: 0 0 120px 120px;
  }
}

@media (max-width: 1000px) {
  .digital-process {
    &__title {
      font-size: 50px;
      max-width: 784px;
      padding: 0 15px;
    }
    &__list {
      max-width: 680px;
      .item {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .digital-process {
    &__title {
      font-size: 38px;
      max-width: 584px;
      span {
        height: 44px;
      }
    }
    &__list {
      flex-wrap: wrap;
      max-width: 450px;
      justify-content: center;
      .item {
        margin-left: 32px;
        margin-bottom: 16px;
        &:nth-child(n + 3) {
          margin-bottom: 0;
        }
        &:nth-child(4) {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .digital-process {
    border-radius: 0 0 70px 70px;
    &__title {
      font-size: 33px;
      span {
        height: 37px;
      }
    }
    &__list {
      margin-top: 40px;
    }
  }
}

@media (max-width: 400px) {
  .digital-process {
    &__list {
      .item {
        margin-left: 20px;
        font-size: 14px;
        img {
          width: 18px;
          margin-right: 6px;
        }
      }
    }
  }
}