@font-face {
  font-family: 'Mukta Vaani';
  src: local('MuktaVaani Medium'), local('MuktaVaani-Medium'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.woff2') format('woff2'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.woff') format('woff'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta Vaani';
  src: local('MuktaVaani SemiBold'), local('MuktaVaani-SemiBold'), url('/static/fonts/MuktaVaani/MuktaVaani-SemiBold.woff2') format('woff2'), url('/static/fonts/MuktaVaani/MuktaVaani-SemiBold.woff') format('woff'), url('/static/fonts/MuktaVaani/MuktaVaani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Light'), local('Inter-Light'), url('/static/fonts/Inter/Inter-Light.woff2') format('woff2'), url('/static/fonts/Inter/Inter-Light.woff') format('woff'), url('/static/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'), url('/static/fonts/Inter/Inter-Regular.woff2') format('woff2'), url('/static/fonts/Inter/Inter-Regular.woff') format('woff'), url('/static/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'), url('/static/fonts/Inter/Inter-Medium.woff2') format('woff2'), url('/static/fonts/Inter/Inter-Medium.woff') format('woff'), url('/static/fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter SemiBold'), local('Inter-SemiBold'), url('/static/fonts/Inter/Inter-SemiBold.woff2') format('woff2'), url('/static/fonts/Inter/Inter-SemiBold.woff') format('woff'), url('/static/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), local('Inter-Bold'), url('/static/fonts/Inter/Inter-Bold.woff2') format('woff2'), url('/static/fonts/Inter/Inter-Bold.woff') format('woff'), url('/static/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}