.footer {
  padding-bottom: 32px;
  background: var(--main_grey);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    a {
      font-weight: 600;

      & + a {
        margin-left: 28px;
      }
    }
  }

  .right {
    a {
      font-weight: 300;
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {

    &__inner {
      flex-direction: column;
      .left {
        width: 100%;
      }

      .right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__inner {
      .left {
        display: flex;
        justify-content: center;
      }

      .right {
        justify-content: center;
      }
    }
  }
}