.future-block {
  max-width: 885px;
  width: 100%;
  margin: 200px auto 300px;
  &__suptitle {
    color: var(--primary);
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 9px;
    font-weight: 500;
    display: flex;
    span {
      margin-top: 8px;
      font-size: 5px;
      border: 1px solid var(--primary);
      border-radius: 100%;
      width: 13px;
      height: 13px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 400;
    margin-bottom: 24px;
    span {
      display: block;
      font-weight: 500;
    }
  }
  &__subtitle {
    max-width: 850px;
    font-size: 24px;
    line-height: 1.33;
  }
}

@media (max-width: 1000px) {
  .future-block {
    margin: 200px auto 160px;
    &__suptitle {
      font-size: 22px;
      margin-bottom: 0;
    }
    &__title {
      font-size: 48px;
      margin-bottom: 32px;
    }
    &__subtitle {
      font-size: 22px;
    }
  }
}

@media (max-width: 767px) {
  .future-block {
    &__title {
      font-size: 37px;
    }
    &__subtitle {
      font-size: 20px;
      max-width: 600px;
    }
  }
}

@media (max-width: 600px) {
  .future-block {
    margin: 200px auto 150px;
    &__suptitle {
      display: block;
      text-align: center;
      font-size: 16px;
      span {
        transform: translateY(-10px);
        margin-top: 0;
      }
    }
    &__title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 16px;
    }
    &__subtitle {
      text-align: center;
      font-size: 16px;
      max-width: 350px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 430px) {
  .future-block {
    margin: 150px auto 100px;
  }
}