.header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
  //box-shadow: 0 0 13px 0 rgba(0,0,0,0.1);
  transition: 0.2s;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    transition: 0.2s;
    &:hover {
      color: var(--primary) !important;
    }
  }

  &__blue-bg {
    a {
      color: white !important;
    }
    svg {
      .change-fill {
        fill: white !important;
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  & ul {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 14px;
    margin-left: 64px;
    & li {
      margin-left: 32px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
    ul {
      display: none;
    }
  }
}