.integrations {
  background: var(--main_grey);
  padding-top: 300px;
  padding-bottom: 160px;
  margin-top: -190px;
  position: relative;
  transition: 0.2s;
  overflow: hidden;

  &:after {
    opacity: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--main_grey);
    transition: 0.2s;
  }

  &__hide-after {
    background: #0C0B2D;

    .integrations {
      &__header {
        color: white;
      }

      &__list {
        .item {
          color: white;
        }
      }
    }

    //&:after {
    //  opacity: 0;
    //  z-index: -1;
    //}
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-right {
      position: relative;

      &:after {
        content: '';
        display: block;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        position: absolute;
        //background: radial-gradient(circle, rgba(217, 217, 217, 0.1), rgba(217, 217, 217, .18));
      }
    }

    &-left {
      max-width: 502px;

      h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.25;
        max-width: 396px;
      }

      p {
        margin-top: 26px;
        margin-bottom: 34px;
        font-weight: 300;
        line-height: 1.5;
      }

      button {
        font-size: 16px;
        color: var(--primary);
        padding: 14px 24px;
        border-radius: 6px;
        background: white;
        border: none;

        img {
          margin-right: 8px;
        }
      }
    }

    &-right {
      max-width: 400px;
      width: 100%;
    }
  }

  &__list {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;

    .item {
      width: 25%;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
      }

      p {
        line-height: 1.5;
      }
    }
  }

  &__phone {
    position: relative;
    margin-top: 150px;

    &-img {
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      width: 42%;
    }

    .blur-circle {
      background: linear-gradient(135deg, rgba(22, 20, 82, 1), rgba(22, 20, 82, 1));
      width: 500px;
      height: 500px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 100%;
      z-index: 1;
      filter: blur(73px);
    }

    &-success {
      bottom: auto;
      position: absolute;
      top: 245px;
      left: 245px;
      z-index: 2;

      &-inner {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        transform: rotate(3deg);
        position: initial;
      }

      .text {
        color: white;

        span {
          opacity: 0.45;
        }
      }
    }

    &-info {
      max-width: 200px;
      position: absolute;
      top: 71%;
      left: 29.5%;
      z-index: 1;

      &-inner {
        transform: translate(-50%, -50%) rotate(-8deg);
      }

      .content {
        color: white;
        border-radius: 16px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        padding: 14px;

        .name {
          font-weight: 300;
          font-size: 12px;
        }

        .document {
          opacity: 0.5;
          font-size: 10px;
          margin-top: 4px;
          padding-bottom: 6px;
          font-weight: 300;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .data {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 8px;

          p {
            font-size: 10px;
            font-weight: 300;
          }

          span {
            opacity: 0.5;
            font-size: 10px;
          }
        }
      }

      .group-btn {
        display: flex;
        margin-top: 12px;

        span {
          background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          width: 100%;
          margin-left: 12px;
          border-radius: 10px;
          text-align: center;
          color: white;
          font-size: 10px;
          font-weight: 300;
          padding: 10px 0;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    &-list {
      max-width: 143px;
      width: 100%;
      position: absolute;
      top: 20%;
      right: 30.5%;
      z-index: 1;

      &-inner {
        transform: rotate(-8deg);
      }

      ul {
        li {
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          color: white;
          font-size: 10px;
          padding: 9px 14px;
          border-radius: 6px;
          text-align: center;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
            margin-top: 16px;
          }
        }
      }
    }

    &-feedback {
      color: white;
      position: absolute;
      bottom: 31%;
      right: 12%;
      transform: translate(-50%, -50%) rotate(2deg);
      z-index: 1;

      .feedback {
        font-size: 12px;
        display: flex;
        align-items: center;

        span {
          margin: 0 4px;
        }
      }

      .name {
        font-size: 10px;
        opacity: 0.5;
        margin-left: 14px;
        margin-top: 4px;
      }

      .stars {
        margin-top: 8px;
        margin-left: 14px;
      }
    }

    &-figures {
      .circle {
        width: 123px;
        height: 123px;
        background: linear-gradient(135deg, rgba(22, 20, 82, 1), rgba(22, 20, 82, 0));
        border-radius: 100%;
        position: absolute;
        bottom: 65%;
        right: 28%;
        transform: translate(-50%, -50%);
        z-index: 0;

        &-small {
          width: 90px;
          height: 90px;
          right: auto;
          bottom: auto;
          top: 33%;
          left: 30%;
        }
      }
    }
  }

  &__service {
    margin-top: 130px;
    color: white;

    h2 {
      font-weight: 300;
      font-size: 64px;
      max-width: 690px;
      line-height: 1.2;
    }

    ul {
      margin-top: 70px;
      max-width: 525px;

      li {
        margin-top: 48px;

        h5 {
          color: var(--primary);
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 9px;
        }

        p {
          font-size: 18px;
          line-height: 1.33;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  :root {
    --size: 1
  }
  .integrations {
    &__phone {
      &-img {
        width: calc(41vw * var(--size));
      }

      &-success {
        top: calc(22vw * 1);
        left: calc(20vw * 1);

        &-inner {
          border-radius: 0.5vw;
        }
      }

      &-info {
        top: calc(45vw * 1);
        left: calc(33vw * 1);

        .content {
          border-radius: calc(1.2vw * var(--size));
          padding: calc(1.2vw * var(--size));

          .name {
            font-size: calc(1.1vw * var(--size));
          }

          .document {
            font-size: calc(1vw * var(--size));
            margin-top: calc(0.3vw * var(--size));
            padding-bottom: calc(0.5vw * var(--size));
          }

          .data {
            margin-top: calc(0.8vw * var(--size));

            p, span {
              font-size: calc(0.85vw * var(--size));
            }

            span {
              margin-left: calc(0.4vw * var(--size));
            }
          }
        }

        .group-btn {
          margin-top: calc(1vw * var(--size));

          span {
            border-radius: calc(0.85vw * var(--size));
            font-size: calc(0.85vw * var(--size));
            padding: calc(0.85vw * var(--size)) 0;
            margin-left: calc(1vw * var(--size));
          }
        }
      }

      &-list {
        top: calc(15vw * 1);
        right: calc(28.5vw * 1);
        max-width: calc(12vw * var(--size));

        ul {
          li {
            font-size: calc(0.85vw * var(--size));
            padding: calc(0.8vw * var(--size)) calc(1.1vw * var(--size));
            margin-bottom: calc(0.75vw * var(--size));
            border-radius: 0.5vw;

            &:last-child {
              margin-top: calc(1.3vw * var(--size));
            }
          }
        }
      }

      &-feedback {
        bottom: 20vw;
        right: 10vw;

        .feedback {
          font-size: calc(1vw * var(--size));

          img {
            width: calc(1vw * var(--size));
          }
        }

        .name {
          font-size: calc(0.85vw * var(--size));
          margin-left: calc(1.1vw * var(--size));
          margin-top: calc(0.3vw * var(--size));
        }

        .stars {
          margin-top: calc(0.7vw * var(--size));
          margin-left: calc(1.1vw * var(--size));

          img {
            width: calc(2.1vw * var(--size));
          }
        }
      }

      &-figures {
        .circle {
          width: calc(10.3vw * var(--size));
          height: calc(10.3vw * var(--size));
          bottom: 45vw;
          right: 28vw;

          &-small {
            width: calc(9.5vw * var(--size));
            height: calc(9.5vw * var(--size));
            right: auto;
            bottom: auto;
            top: 22vw;
            left: 29vw;
          }
        }
      }

      .blur-circle {
        width: calc(50vw * var(--size));
        height: calc(50vw * var(--size));
      }
    }
  }
}

@media (max-width: 1000px) {
  .integrations {
    &__header {
      &-left {
        max-width: 50%;

        h2 {
          font-size: 28px;
        }

        p {
          margin-top: 16px;
        }
      }

      &-right {
        width: 50%;
        margin-left: 32px;
      }
    }

    &__list {
      flex-wrap: wrap;

      .item {
        width: 47%;
        margin-bottom: 32px;

        &:nth-child(odd) {
          margin-left: 0;
        }

        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }

    &__service {
      h2 {
        font-size: 50px;
      }

      ul {
        max-width: 425px;
      }
    }
  }
}

@media (max-width: 767px) {
  :root {
    --size: 1.3;
  }
  .integrations {
    &__header {
      flex-direction: column-reverse;

      &-left {
        max-width: 100%;
        margin-top: 50px;
      }

      &-right {
        width: 80%;
        margin: 0 auto;
      }
    }

    &__service {
      h2 {
        font-size: 37px;
        max-width: 510px;
      }

      ul {
        max-width: 320px;

        li {
          p {
            font-size: 16px;
          }
        }
      }
    }

    &__phone {
      &-info {
        top: 62vw;
        left: 27vw;
      }

      &-success {
        top: 30vw;
        left: 15vw;
      }

      &-list {
        top: 20vw;
        right: 23.5vw;
      }

      &-feedback {
        bottom: 27vw;
        right: -3vw;
      }

      &-figures {
        .circle {
          bottom: 58vw;
          right: 19vw;

          &-small {
            top: 30vw;
            left: 24vw;
          }
        }
      }
    }
  }

}

@media (max-width: 550px) {
  :root {
    --size: 1.7;
  }
  .integrations {
    &__list {
      .item {
        max-width: 300px;
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 64px !important;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__phone {
      margin-top: 100px;

      &-list {
        right: 15vw;
      }

      &-info {
        top: 75vw;
        left: 17vw;
      }

      &-success {
        left: 7vw;
      }

      &-feedback {
        bottom: 40vw;
        right: -14vw;
      }

      &-figures {
        .circle {
          bottom: 80vw;
          right: 10vw;

          &-small {
            top: 30vw;
            left: 14vw;
          }
        }
      }
    }
  }
}