.main {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;

  &__select-country {
    position: absolute;
    bottom: 62px;
    left: -30px;
  }

  &__visa-generation {
    position: absolute;
    top: 275px;
    left: 3px;
  }

  &__left {
    margin-top: 90px;
    max-width: 656px;

    & h1 {
      font-size: 48px;
      font-weight: 400;
      line-height: 1.33;
      max-width: 550px;

      & span {
        font-weight: 500;
      }
    }

    & p {
      line-height: 1.5;
      margin-top: 42px;
      margin-bottom: 90px;
      max-width: 548px;
    }

    & button, a {
      border-radius: 2px;
      border: 1px solid var(--black);
      padding: 17px 24px;
      align-items: center;
      justify-content: center;
      display: inline-flex;

      &:hover {
        .square {
          animation: start 2s infinite;
        }
      }

      @keyframes start {
        0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
      }

      & .square {
        width: 16px;
        height: 16px;
        background-color: var(--black);
        transform: rotate(45deg);
      }

      & .text {
        margin-left: 26px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .up {
          color: var(--primary);
          font-weight: 600;
          font-size: 16px;
          line-height: 1.5;
        }

        & .down {
          font-size: 14px;
          line-height: 1.3;
        }
      }
    }

    & ul {
      margin-top: 128px;
      display: flex;
      align-items: center;

      li {
        white-space: nowrap;
        margin-left: 32px;
        transition: 0.2s;
        cursor: default;

        &:hover {
          transform: translateY(-10px);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__right {
    position: relative;
    margin-left: 24px;

    & .small-circle {
      border-radius: 100%;
      background-color: var(--light_blue);
      width: 77px;
      height: 77px;
      display: block;

      &-wrap {
        position: absolute;
        top: 80px;
        right: 0;
      }
    }

    & .big-circle {
      width: 154px;
      height: 154px;
      background-color: var(--light_blue);
      border-radius: 100%;
      filter: blur(2px);
      position: absolute;
      bottom: 0;
      right: -20px;
      z-index: -1;
    }

    & .triangle {
      position: absolute;
      right: 0px;
      top: 100px;
      z-index: -1;
      width: 550px;
    }

    & .square-img {
      position: absolute;
      left: -50px;
      top: 250px;
      z-index: -1;
      width: 827px;
    }
  }
}


@media (max-width: 1000px) {
  .main {
    &__left {
      margin-top: 30px;
    }
  }
}

@media (max-width: 900px) {
  .main {
    &__left {
      h1 {
        font-size: 40px;
      }

      p {
        margin-top: 40px;
        margin-bottom: 60px;
      }

      ul {
        margin-top: 60px;
        flex-wrap: wrap;
        max-width: 300px;

        li {
          margin-top: 12px
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    &__visa-generation {
      width: 260px;
      top: 245px;

      svg {
        width: 100%;
      }
    }

    &__select-country {
      bottom: -16px;
    }

    &__phone {
      width: 280px;
    }

    &__left {
      h1 {
        font-size: 35px;
      }

      p {
        margin-top: 20px;
        margin-bottom: 40px;
      }

      ul {
        margin-top: 40px;
        font-size: 15px;
        max-width: 290px;
      }

      button {
        padding: 14px 20px;

        .text {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .main {
    flex-direction: column;

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__right {
      margin-left: 0;
    }

    &__select-country {
      left: 18%;
      bottom: 80px;
      transform: translateX(-18%);
    }

    &__visa-generation {
      left: 48%;
      top: 100px;
      transform: translateX(-50%);
      width: 340px;
    }

    &__left {
      h1 {
        font-size: 31px;
        max-width: 400px;
        margin: 0 auto;
      }

      h1, p {
        text-align: center;
      }

      button {
        margin: 0 auto;
      }

      ul {
        display: none;
      }
    }

    &__phone {
      width: auto;
      display: block;
      margin: 0 auto;
    }

    &__right {
      margin-top: 32px;

      .triangle {
        right: 8vw;
      }

      .big-circle {
        right: 6vw;
      }

      .small-circle-wrap {
        right: 19vw;
        top: 40px;
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    &__right {
      .small-circle-wrap {
        right: 12vw;
      }

      .big-circle {
        bottom: -40px;
      }

      .triangle {
        top: 200px;
        width: 350px;
      }
    }
  }
}

@media (max-width: 370px) {
  .main {
    &__phone {
      width: 100%;
    }

    &__visa-generation {
      width: 100%;
    }
  }
}