.modal-video {
  display: none;
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 20;
    cursor: pointer;
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-height: 100vh;
    z-index: 30;
  }

  .close-btn {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    z-index: 30;
    border-radius: 100%;
    border: 1px solid var(--black);
    background: white;
    transition: 0.2s;
    &:hover {
      background: var(--primary);
      border-color: var(--primary);
      &:after, &:before {
        background: white;
      }
    }
    &:active {
      background: var(--blue);
      border-color: var(--blue);
      &:after, &:before {
        background: white;
      }
    }
    &:after, &:before {
      content: '';
      display: block;
      background: var(--black);
      width: 18px;
      height: 2px;
      border-radius: 4px;
      position: absolute;
      top: 14px;
      left: 6px;
      transition: 0.2s;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}