.questionnaire-info {
  margin-top: 300px;
  margin-bottom: 150px;
  display: flex;
  color: var(--black) !important;
  &.small-container {
    padding: 0;
  }

  &__left {
    border-radius: 32px;
    overflow: hidden;
    background: #ECEDEF;
    padding-top: 116px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    width: 50%;

    .text {
      margin-top: 112px;
      max-width: 143px;

      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
      }

      p {
        line-height: 1.5;
      }
    }
  }

  &__right {
    width: 50%;
    margin-left: 24px;
    margin-top: 46px;
  }

  &__item {
    width: 100%;
    padding: 107px 32px 32px;
    background: #ECEDEF;
    border-radius: 32px;
    margin-bottom: 10px;
    h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    p {
      font-size: 24px;
      line-height: 1.33;
    }
  }

  &__group-item {
    display: flex;
  }

  &__small-item {
    width: 50%;
    padding: 66px 32px 32px;
    background: #ECEDEF;
    border-radius: 32px;
    h3 {
      color: var(--primary);
      font-size: 20px;
      line-height: 2;
      margin-bottom: 5px;
    }
    p {
      line-height: 1.5;
    }
    &:last-child {
      margin-left: 24px;
    }
  }

  &__demo {
    max-width: 367px;
    width: 100%;
    background: white;
    border-radius: 32px 0 0 0;
    padding: 18px 32px;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: -4px -3px 20px 0 rgba(17, 15, 87, 0.05);

    &-sidebar {
      padding-bottom: 145px;
      img {
        margin-bottom: 53px;
      }

      .name {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .created {
        font-size: 12px;
        font-weight: 500;
        color: #747474;
      }

      .list-link {
        margin-top: 14px;
        padding: 0;
        margin-left: -15px;
        max-width: 175px;

        li {
          display: flex;
          align-items: center;
          padding: 12px 16px;
          border-radius: 10px;
          cursor: pointer;

          div {
            margin-right: 8px;
          }

          span {
            font-size: 12px;
            font-weight: 600;
            color: #747474;
          }

          &:first-child, &:hover {
            background: rgba(98, 94, 227, 0.05);
            span {
              color: var(--primary);
            }

            svg {
              path {
                fill: var(--primary);
              }
            }
          }
        }
      }
    }

    &-content {
      background: #ECEDEF;
      height: 100%;
      width: 59%;
      margin-top: 40px;
      border-radius: 12px 0 0 0;
    }
  }
}

@media (max-width: 1200px) {
  .questionnaire-info {
    &__left {
      padding-top: 50px;
      flex-direction: column;
      align-items: flex-end;
      .text {
        padding-right: 32px;
        max-width: initial;
        margin-top: 0;
        margin-bottom: 12px;
        h3 {
          font-size: 20px;
          margin-bottom: 12px;
        }
        p {
          line-height: 1.33;
        }
      }
    }
    &__demo {
      margin-top: 16px;
      &-sidebar {
        padding-bottom: 80px;
      }
    }
    &__item {
      padding-top: 44px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
    &__group-item {
      flex-wrap: wrap;
    }
    &__small-item {
      padding-top: 32px;
      width: 100%;
      margin-left: 0 !important;
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .questionnaire-info {
    margin-top: 160px;
  }
}

@media (max-width: 900px) {
  .questionnaire-info {
    flex-direction: column;
    &__left {
      width: 100%;
      flex-direction: initial;
      align-items: flex-start;
      margin-bottom: 24px;
      .text {
        margin-top: 40px;
        width: 50%;
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    &__right {
      margin-left: 0;
      width: 100%;
    }
    &__item {
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
    }
    &__small-item {
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
    }
    &__demo {
      max-width: 300px;
      &-content {
        height: auto;
        width: 48%;
      }
    }
  }
}

@media (max-width: 767px) {
  .questionnaire-info {
    &__left {
      padding-top: 32px;
      .text {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    &__item {
      padding-top: 32px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
    &__small-item {
      h3 {
        font-size: 20px;
        line-height: 1.2;
      }
      p {
        font-size: 16px;
      }
    }
    &__demo {
      max-width: 240px;
      &-sidebar {
        padding-bottom: 32px;
        .name, .created, .list-link > li > span {
          font-size: 10px;
        }
      }
      .list-link {
        li {
          padding: 10px 16px;
        }
      }
      &-content {
        width: 44%;
      }
    }
  }
}

@media (max-width: 600px) {
  .questionnaire-info {
    margin-top: 150px;
    margin-bottom: 100px;
    &__left {
      padding-left: 24px;
      margin-bottom: 30px;
      .text {
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    &__demo {
      max-width: 160px;
      padding: 18px 21px;
      padding-right: 0;
      padding-bottom: 0;
      &-content {
        width: 17%;
      }
    }
    &__item {
      padding: 36px 24px 24px;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
    &__small-item {
      padding: 36px 24px 24px;
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 430px) {
  .questionnaire-info {
    margin-top: 120px;
  }
}

@media (max-width: 390px) {
  .questionnaire-info {
    &__left {
      flex-direction: column;
      align-items: flex-end;
      .text {
        width: 100%;
      }
    }
    &__demo {
      max-width: 260px;
      &-content {
        width: 50%;
      }
    }
  }
}