.section-video {
  margin-top: 200px;
  position: relative;
  background: url("/static/images/browser.png") no-repeat center;
  background-size: 90%;

  &__img {
    &-browser {
      display: block;
      margin: 0 auto;
      max-width: 1222px;
      width: 100%;
    }

    &-questionnaire {
      &-wrap {
        margin: 0 auto;
        max-width: 65%;
        width: 100%;
        transform: translateY(110px);
        position: relative;

        img {
          width: 100%;
        }
      }
    }
  }

  &__notification {
    max-width: 316px;
    width: 100%;
    padding: 20px 24px;
    box-shadow: 0 11px 40px 0 rgba(17, 15, 87, 0.06);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border-bottom: 6px solid var(--green);
    position: absolute;
    top: 420px;
    left: -85px;

    .circle {
      width: 27px;
      height: 27px;
      background-color: var(--green);
      border-radius: 100%;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 7px;
        height: 12px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        position: absolute;
        transform: rotate(45deg);
        left: 10px;
        top: 6px;
      }
    }

    .text {
      margin-left: 16px;
      margin-right: 62px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      span {
        font-size: 12px;
        opacity: 0.45;
      }
    }

    .view {
      color: var(--blue);
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__invalid {
    &-wrap {
      position: absolute;
      top: 330px;
      right: -67px;
    }

    border-radius: 0 6px 6px 6px;
    background-color: var(--dark_red);
    font-size: 12px;
    color: white;
    padding: 10px 18px;
    display: inline-block;
  }

  &__play {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      .section-video {
        &__play {
          &-hover-content {
            display: flex;
          }
        }
      }
    }

    &-button {
      width: 67px;
      height: 67px;
      background: rgba(98, 94, 227, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: none;

      img {
        width: 20px;
        margin-left: 4px;
      }

      &:hover {
        background: white;
        box-shadow: 0 11px 40px 0 rgba(17, 15, 87, 0.06);
      }
    }

    &-hover-content {
      flex-direction: column;
      align-items: flex-start;
      background: var(--primary);
      padding: 15px 24px 15px 40px;
      border-radius: 40px;
      color: white;
      font-size: 12px;
      width: 218px;
      position: absolute;
      top: 36px;
      left: 27px;
      z-index: -1;
      transition: 0.2s;
      display: none;

      p {
        margin-bottom: 4px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1350px) {
  .section-video {
    &__img {
      &-questionnaire-wrap {
        transform: translateY(7vw);
      }
    }

    &__invalid {
      &-wrap {
        top: 23vw;
        right: -5vw;
      }

      font-size: 0.9vw;
      padding: 0.7vw 1.1vw;
    }

    &__notification {
      border-width: 0.5vw;
      max-width: 23.5vw;
      top: 31vw;
      bottom: auto;
      left: -7vw;
      padding: 1.5vw 1.8vw;

      .circle {
        width: 2vw;
        height: 2vw;

        &:after {
          top: 0.45vw;
          left: 0.8vw;
          width: 0.5vw;
          height: 1vw;
        }
      }

      .text {
        margin-left: 1vw;
        margin-right: 4vw;

        p {
          font-size: 1.04vw;
        }

        span {
          font-size: 0.9vw;
        }
      }

      .view {
        font-size: 0.9vw;
      }
    }
  }
}

@media (max-width: 550px) {
  .section-video {
    background-position: left;
    &__img-questionnaire {
      &-wrap {
        transform: translate(-116px, 14vw);
      }
    }

    &__wrap {
      position: absolute;
      right: -70%;

      &-adaptive {
        position: relative;
        height: 710px;
        overflow: hidden;
      }
    }

    &__notification {
      top: 50vw;
      left: -3vw;
    }

    &__play {
      top: 26%;
      left: 37%;

      &:hover {
        .section-video__play-hover-content {
          display: none;
        }
      }

      &-button {
        width: 40px;
        height: 40px;

        img {
          width: 14px;
        }
      }

      &-hover-content {
        padding: 12px 14px 12px 30px;
        width: 200px;
        top: 12px;
        left: 21px;
      }
    }
  }
}

@media (max-width: 480px) {
  .section-video {
    margin-top: 120px;
    &__wrap {
      right: -93%;
      &-adaptive {
        height: 610px;
      }
    }
    &__notification {
      left: 3vw;
    }
  }
}