.social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s;
  z-index: 10;
  &:hover {
    background: white;
  }
  span {
    font-size: 14px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      margin-top: 8px;
      &:first-child {
        margin-top: 0;
      }
      img {
        width: 30px;
      }
    }
  }
}