.visa-components {
  display: flex;
  &.small-container {
    padding: 0;
  }

  &__left {
    padding: 40px 32px;
    width: 50%;
    background: linear-gradient(135deg, rgba(98, 94, 227, 0.16), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));
    border-radius: 32px;
  }

  &__right {
    width: 50%;
    margin-left: 24px;
    margin-top: 30px;
  }

  &__item {
    padding: 40px 25px;
    width: 100%;
    border-radius: 32px;
    background: linear-gradient(-90deg, rgba(98, 94, 227, 0.07), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));

    & + .visa-components__item {
      margin-top: 24px;
    }

    ul {
      border-radius: 16px;
      max-width: 438px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      background: white;
      padding: 27px 38px;

      li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-family: 'Mukta Vaani', sans-serif;
          margin-top: 14px;
          display: block;
          font-weight: 500;
          font-size: 14px;
          color: var(--primary_grey);
          text-align: center;
          text-transform: uppercase;
          transition: 0.2s;
        }

        svg {
          transition: 0.2s;
        }

        &:hover {
          span {
            color: var(--primary);
          }

          svg {
            path {
              fill: var(--primary)
            }
          }
        }
      }
    }
  }

  &__title {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 500;
  }

  &__text {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 42px;
  }

  &__select {
    max-width: 438px;
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 12px 10px 40px 0 rgba(17, 15, 87, 0.06);
  }

  &__selected {
    display: flex;
    align-items: center;
    padding: 24px 32px;
    border-bottom: 1px solid rgba(141, 141, 156, 0.2);

    span {
      font-family: 'Mukta Vaani', sans-serif;
      font-weight: 600;
    }

    img {
      margin-right: 32px;
    }
  }

  &__options {
    padding: 13px 0;

    span {
      font-family: 'Mukta Vaani', sans-serif;
      color: var(--primary_grey);
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px;
      display: block;
      margin-left: 32px;
    }

    ul {
      padding: 0;

      li {
        padding: 8px 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;

        img {
          margin-right: 32px;
        }

        &:hover {
          background: rgba(98, 94, 227, 0.03);
        }
      }
    }
  }

  &__data {
    max-width: 438px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-dropdown {
      padding: 6px 4px;
      background: white;
      border-radius: 2px;
      display: inline-flex;
      flex-direction: column;
      margin-top: 1px;
      margin-right: -32px;

      span {
        padding: 4px 27px 4px 11px;

        & + span {
          background: #F7F6FD;
        }
      }
    }

    &-bar {
      display: flex;
      background: white;
      border-left: 2px solid var(--green);
      border-radius: 2px;

      div {
        display: flex;
        align-items: center;
        padding: 14px 19px;
        border-right: 1px solid rgba(241, 242, 242, 1);

        img {
          margin-right: 8px;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &__action {
    background: #F7F6FD;
    width: 26px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    position: relative;

    & .arrow {
      margin: 0;
      position: absolute;
      top: 15px;
      left: 17px;
    }

    .actions {
      width: 4px;
      height: 4px;
      background: var(--black);
      border-radius: 100%;
      position: relative;

      &:after, &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background: var(--black);
        border-radius: 100%;
        position: absolute;
      }

      &:after {
        top: -7px;
      }

      &:before {
        top: 7px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .visa-components {
    &__left {
      padding: 24px 20px;
    }

    &__title {
      font-size: 28px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 28px;
    }

    &__data {
      transform: scale(0.8);
    }

    &__item {
      padding: 24px 20px;

      ul {
        padding: 20px;
        transform: scale(0.8);

        li {
          span {
            width: 90%;
          }
        }
      }
    }

    &__selected {
      padding: 24px;
    }

    &__options {
      li {
        padding: 8px 24px !important;
      }

      span {
        margin-left: 24px;
      }
    }
  }
}

@media (max-width: 900px) {
  .visa-components {
    flex-direction: column;

    &__left, &__right {
      width: 100%;
      margin-left: 0;
    }

    &__left {
      margin-bottom: 24px;
      padding: 32px;
    }

    &__item {
      padding: 32px;
      background: linear-gradient(155deg, rgba(98, 94, 227, 0.16), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));

      ul {
        transform: scale(1);
      }
    }

    &__data {
      transform: scale(1);
    }
  }
}

@media (max-width: 767px) {
  .visa-components {
    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 12px;
    }

    &__select {
      transform: scale(0.9);
    }

    &__left {
      padding: 24px;
    }

    &__item {
      padding: 24px;

      ul {
        transform: scale(0.9);
      }
    }

    &__data {
      transform: scale(0.8);
    }
  }
}

@media (max-width: 600px) {
  .visa-components {
    &__select {
      transform: scale(1);
    }

    &__selected {
      padding: 16px;

      img {
        width: 18px;
        margin-right: 16px;
      }

      span {
        font-size: 14px;
      }
    }

    &__options {
      span {
        margin-left: 16px;
        font-size: 14px;
      }

      li {
        padding: 6px 16px !important;
        font-size: 14px;

        img {
          width: 18px;
          margin-right: 16px !important;
        }
      }
    }

    &__item {
      ul {
        transform: scale(1);
        max-width: 330px;

        li {
          svg {
            width: 16px;
          }

          span {
            margin-top: 4px;
            font-size: 12px;
          }
        }
      }
    }

    &__data {
      transform: scale(0.7);
      max-width: 353px;

      &-dropdown {
        span {
          font-size: 14px;
          padding: 4px 12px 4px 10px;
        }
      }

      &-bar {
        div {
          padding: 10px 12px;
          font-size: 14px;
        }
      }
    }

    &__action {
      margin-left: 14px;
    }
  }
}

@media (max-width: 400px) {
  .visa-components {
    &__item {
      ul {
        padding: 10px;
        li {
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .visa-components {
    &__data {
      transform: scale(0.6) translateX(10vw);
    }
  }
}