<template>
  <div class="auth">
    <div class="auth__form">
      <form class="wh-shadow-block" action="" @submit.prevent="$emit('submitHandler')">
        <h2>{{ title }}</h2>
        <slot></slot>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "auth-layout",
  props: {title: String}
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"

.auth
  background sidebar_gray
  min-height 100vh
  width: 100%
  display flex
  align-items center
  justify-content center
  &__form
    max-width 600px
    width: 100%
    padding: 0 20px
    h2
      margin-bottom: 24px
</style>