<template>
  <div class="container layout">
    <div style="position: fixed; display: flex; z-index: 2">
      <navigation/>
      <aside class="sidebar">
        <h1 class="sidebar__title">{{ title }}</h1>
        <div class="sidebar__date">{{ date | date('datetime') }}</div>
        <div class="sidebar__line"></div>
        <sidebar-home-page v-if="$route.name === 'home'"/>
        <slot name="sidebar" v-else></slot>
      </aside>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import navigation from "@/components/navigation";
import sidebarHomePage from "@/components/sidebarHomePage";
import sidebarOtherPage from "@/components/sidebarOtherPage";

export default {
  name: "base-layout",
  components: {navigation, sidebarHomePage, sidebarOtherPage},
  props: {
    title: String
  },
  data() {
    return {
      date: new Date()
    }
  },
  beforeDestroy() {
    clearInterval(this.date)
  },
  mounted() {
    setInterval(() => this.date = new Date(), 1000)
  },
}
</script>

<style lang="stylus">
.layout
  display flex
  align-items flex-start
</style>
