<template>
  <base-layout title="Финансы">
    <template v-slot:sidebar>
      <sidebar-other-page path="/finance/add_operation/" />
    </template>
    <router-view></router-view>
  </base-layout>
</template>

<script>
import baseLayout from '@/layouts/base-layout'
import sidebarOtherPage from "@/components/sidebarOtherPage";
export default {
  name: "finance-layout",
  components: {baseLayout, sidebarOtherPage},
  methods: {
    addOperations() {
      console.log('kek')
    }
  }
}
</script>

<style scoped>

</style>