<template>
  <DataTable
    :value="$parent.data"
    :loading="$parent.loading"
    responsiveLayout="scroll"
    class="addresses-table">
    <template #empty>
      No data found.
    </template>
    <template #loading>
      Loading data. Please wait.
    </template>
    <template #header>
      <div class="d-flex justify-content-between align-items-center addresses__header">
        <div class="filters d-flex align-items-center">
          <Button
            type="button"
            :icon="receiveData.loading ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
            :disabled="receiveData.loading"
            label="Add address"
            class="p-button"
            @click="receive()"
            v-if="$store.state.wallet"/>
          <span class="p-input-icon-left">
            <i class="pi pi-search"/>
            <InputText
              class="addresses__search"
              placeholder="Search by address"
              v-model="$parent.q.address"
              @input="$parent.updateAddress()"/>
          </span>
          <div class="field-checkbox">
            <Checkbox
              id="isEmpty"
              v-model="$parent.q.empty"
              :binary="true"
              @change="$parent.pag.offset = 0; $parent.getData();"/>
            <label for="isEmpty">Show empty</label>
          </div>
        </div>
        <Button
          type="button"
          icon="pi pi-filter-slash"
          label="Clear"
          class="p-button"
          @click="$parent.clearQuery"/>
      </div>
    </template>
    <template #groupheader="slotProps">
      <strong>{{ slotProps.data.date }}</strong>
    </template>
    <Column>
      <template #body="{data}">
        <div class="d-flex align-items-center">
          <CopyButton :text="data.address"/>
          <router-link
            class="link hovered w-100"
            :to="getRouterLink(data)">
            <div class="d-flex justify-content-between align-items-center" style="flex-grow: 1;">
              <span v-if="$store.state.shorterFlag">
                {{ `${data.address.slice(0, 5)}...${data.address.slice(-5)}` }}
              </span>
              <span v-else>
                {{ data.address }}
              </span>
              <div style="text-align: right;">
                <div class="amount">
                  <span>{{
                      (data.balance.available *
                        data['units-factor']).toFixed(data.toFixed).slice(0, -4)
                    }}</span>
                  <span class="postfix">{{
                      (data.balance.available *
                        data['units-factor']).toFixed(data.toFixed).slice(-4)
                    }}</span>
                  <span class="currency">
                    {{ formatCurrency($store.state.currency) }}
                  </span>
                </div>
                <div v-if="$store.state.wallet" style="opacity: .6; margin-top: 0.5rem;">
                  <div class="amount" v-if="$store.state.ticker.current">
                    <span>
                      {{
                        (
                          data.balance.available *
                          $store.state.wallet['units-factor'] *
                          $store.state.ticker.current.value
                        ).toFixed(2)
                      }}
                    </span>
                    <span class="currency">
                      {{ $store.state.ticker.current.name }}
                    </span>
                  </div>
                  <div v-else>
                    <Skeleton width="7rem" height="1.286rem"></Skeleton>
                  </div>
                </div>
              </div>
            </div>
          </router-link>
        </div>
      </template>
    </Column>
    <template #footer>
      <Paginator
        v-model:first="$parent.pag.offset"
        v-model:rows="$parent.pag.limit"
        :totalRecords="$parent.pag.total"
        :rowsPerPageOptions="[10,50,100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        template="CurrentPageReport
          FirstPageLink
          PrevPageLink
          PageLinks
          NextPageLink
          LastPageLink
          RowsPerPageDropdown"
        @page="$parent.getData"/>
    </template>
  </DataTable>
  <Dialog
    v-model:visible="receiveData.display"
    @hide="onHideReceiveDialog"
    style="min-width: 310px;">
    <template #header>
      <h3>Receive address</h3>
    </template>
    <div class="d-flex flex-column align-items-center text-center">
      <div class="qr-container">
        <QRCode :value="receiveData.qr" :size="250" v-if="receiveData.qr"/>
        <Skeleton shape="square" width="100%" height="100%" v-else/>
      </div>
      <p v-if="receiveData.address" style="word-break: break-word;">
        {{ receiveData.address }}
      </p>
      <p class="w-100" v-else>
        <Skeleton width="100%" height="1rem"/>
      </p>
      <CopyButton
        :disabled="!receiveData.address"
        label="Copy address"
        :text="receiveData.address"/>
    </div>
  </Dialog>
  <Dialog v-model:visible="displayBilling">
    <template #header>
      <h3>Pricing Plans</h3>
    </template>
    <BillingTemplate/>
  </Dialog>
  <Dialog v-model:visible="displayAddressInput" style="width: 450px;">
    <template #header>
      <h3>Add Address</h3>
    </template>
    <div class="field">
      <InputText
        v-model="addressInput.value"
        :class="[!addressInput.error || 'p-invalid', 'w-100']"
        placeholder="Address"
        @keyup.enter="logIn()"
        @input="addressInput.error = false"
        autofocus/>
    </div>
    <template #footer>
      <Button
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        @click="displayAddressInput = false"/>
      <Button
        type="button"
        :icon="addressInput.loading ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
        :disabled="addressInput.loading"
        label="Add address"
        class="p-button"
        @click="receive(addressInput.value)"/>
    </template>
  </Dialog>
</template>

<script>
import CopyButton from '@/components/buttons/CopyButton.vue';
import BillingTemplate from '@/components/templates/BillingTemplate.vue';

export default {
  components: {
    CopyButton,
    BillingTemplate,
  },
  data() {
    return {
      receiveData: {
        qr: null,
        address: null,
        display: false,
        loading: false,
      },
      displayBilling: false,
      displayAddressInput: false,
      addressInput: {
        value: '',
        loading: false,
        error: false,
      },
    };
  },
  mounted() {
    if (!this.$parent.q.empty) {
      this.$parent.q.empty = false;
    }
  },
  methods: {
    getRouterLink(data) {
      const routesPrefix = this.$parent.type === 'account' ? 'Account ' : '';
      const to = {
        name: `${routesPrefix}Wallet Address`,
        params: {
          addressId: data.address,
          [`${this.$parent.type}Id`]: this.$store.state.id,
        },
        query: {
          offset: 0,
          limit: 10,
        },
      };
      if (data.currency) {
        to.params = Object.assign(to.params, {
          currency: data.currency,
        });
      }
      return to;
    },
    receive(address) {
      let data = {};
      if (this.$parent.type === 'account') {
        data = Object.assign(data, {
          currency: this.$store.state.currency,
        });
      }
      if (address !== undefined) {
        this.addressInput.loading = true;
        data = Object.assign(data, {
          address,
        });
      } else {
        this.receiveData.loading = true;
      }
      this.$axios
        .post(`/api/v2/${this.$parent.type}s/${this.$store.state.id}/addresses`, data)
        .then((response) => {
          if (address !== undefined) {
            this.displayAddressInput = false;
          }
          this.receiveData.address = response.data.address;
          this.receiveData.qr = `${this.$store.state.wallet.prefix}${response.data.address}`;
          this.receiveData.display = true;
          this.$parent.getData();
        })
        .catch((error) => {
          if (error?.response?.data?.message === 'Not enough addresses available.') {
            this.displayBilling = true;
          } else if (error?.response?.data?.message === 'Address is required for watch-only service.') {
            this.displayAddressInput = true;
          } else {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: error?.response?.data?.message,
              life: 3000,
            });
          }
          if ((address !== undefined) && error?.response?.data?.message) {
            this.addressInput.error = true;
          }
        })
        .then(() => {
          if (address !== undefined) {
            this.addressInput.loading = false;
          } else {
            this.receiveData.loading = false;
          }
        });
    },
    onHideReceiveDialog() {
      this.receiveData = {
        qr: null,
        address: null,
        display: false,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.filters {
  .field-checkbox {
    label {
      margin-left: .5rem;
      font-weight: normal;
    }
  }
}

.addresses__search {
  width: 310px;
}

@media (max-width: 800px) {
  .addresses__search {
    width: 270px;
  }
  .addresses__header {
    flex-wrap: wrap;

    > .p-button {
      margin: .5rem 0;
    }
  }
}

.addresses__header {
  @media screen and (max-width: 650px) {

    .addresses__search {
      width: auto;
    }

    .filters {
      margin: .5rem 0;
    }

    > .p-button {
      margin: .5rem 0;
    }
  }

  @media screen and (max-width: 390px) {
    .filters {
      .p-input-icon-left, .p-input-icon-left input {
        width: 100%;
      }
    }
  }
}
</style>

<style lang="scss">
.addresses-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
  }
}
</style>
