<template>
  <DataTable
    :value="$parent.data"
    :loading="$parent.loading"
    responsiveLayout="scroll"
    class="callback-log-table">
    <template #empty>
      <div style="padding: 1rem; border-bottom: 1px solid #e9ecef;">
        No data found.
      </div>
    </template>
    <template #loading>
      <div style="padding: 1rem; border-bottom: 1px solid #e9ecef;">
        Loading data. Please wait.
      </div>
    </template>
    <Column>
      <template #body="{data}">
        <div class="log">
          <Accordion @tab-open="addCommas()" :key="accordionKey">
            <AccordionTab>
              <template #header>
                <div class="log-header d-flex justify-content-between align-items-center w-100">
                  <span
                    class="log-header__left d-flex align-items-center"
                    v-if="data.response.status === 200">
                    <span class="log__status log__status-ok">
                      <span>{{ data.response.status }}</span>
                    </span>
                    {{ `${data.date}, ${data.time}` }}
                    <span
                      v-if="data.response.content === '*ok*'"
                      class="log__content">
                      Acked
                    </span>
                  </span>
                  <span
                    class="log-header__left d-flex align-items-center"
                    v-else>
                    <span class="log__status log__status-er">
                      <span>Er</span>
                    </span>
                    {{ `${data.date}, ${data.time}` }}
                  </span>
                  <div
                    class="text-secondary"
                    v-if="data.request?.args?.confirmations !== undefined">
                    {{`Confirmations: ${data.request.args.confirmations}`}}
                  </div>
                </div>
              </template>
              <div class="log__data">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    {{data.request.method}}
                  </span>
                  <span class="span">
                    {{data.request.url}}
                  </span>
                </div>
                <h4>Request</h4>
                <JsonViewer
                  :value="data.request.args"
                  preview-mode
                  copyable
                  :show-double-quotes="true"/>
                <h4>Response</h4>
                <JsonViewer
                  v-if="data.response.exception"
                  :value="data.response.exception"
                  preview-mode
                  copyable
                  :show-double-quotes="true"/>
                <JsonViewer
                  v-else
                  :value="data.response"
                  preview-mode
                  copyable
                  :show-double-quotes="true"/>
              </div>
            </AccordionTab>
          </Accordion>
        </div>
      </template>
    </Column>
    <template #footer>
      <Paginator
        v-model:first="$parent.pag.offset"
        v-model:rows="$parent.pag.limit"
        :totalRecords="$parent.pag.total"
        :rowsPerPageOptions="[10,50,100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        template="CurrentPageReport
          FirstPageLink
          PrevPageLink
          PageLinks
          NextPageLink
          LastPageLink
          RowsPerPageDropdown"
        @page="$parent.getData"/>
    </template>
  </DataTable>
</template>

<script>
import JsonViewer from 'vue-json-viewer';

export default {
  data() {
    return {
      accordionKey: 0,
    };
  },
  components: {
    JsonViewer,
  },
  watch: {
    '$parent.data': {
      handler(from, to) {
        if (from && to) {
          this.accordionKey += 1;
        }
      },
    },
  },
  methods: {
    addCommas() {
      const nodes = [...document.querySelectorAll('.jv-push .jv-key-node:not(:last-of-type)')];
      nodes.forEach((nodeItem) => {
        const node = nodeItem;
        const comma = document.createElement('span');
        comma.classList.add('jv-comma');
        comma.appendChild(document.createTextNode(','));
        if (!node?.getElementsByClassName('jv-comma')[0]) {
          node.appendChild(comma);
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.log__status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  color: #fff;
  border-radius: 50%;
  span {
    font-size: .7rem;
  }
  &.log__status-ok {
    background-color: #4caf50;
  }
  &.log__status-er {
    background-color: #ff4032;
  }
}
.log__content {
  margin-left: 10px;
  color: #4caf50;
}
.log-header {
  @media screen and (max-width: 450px) {
    display: block;
    .log-header__left {
      margin-bottom: .5rem;
    }
  }
}
.log__data {
  .p-inputgroup {
    margin-bottom: 1rem;
    max-width: 100%;
    .span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      flex: 1 1 auto;
      width: 1%;
      color: #495057;
      background: #ffffff;
      padding: 0.5rem 0.5rem;
      border: 1px solid #ced4da;
      word-break: break-word;
    }
  }
}
</style>

<style lang="scss">
.callback-log-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
    .p-datatable-tbody > tr > td {
      border: 0;
      padding: 0;
    }
  }
  .jv-container {
    .jv-code {
      padding: 0;
    }

    .jv-button {
      color: #5d8ab9;
    }

    .jv-node {
      .jv-key-node::after {
        content: '';
      }
    }
  }
}
</style>
