<template>
  <DataTable
    :value="$parent.data"
    :loading="$parent.loading"
    responsiveLayout="scroll"
    rowGroupMode="subheader" groupRowsBy="date"
    class="history-table">
    <template #empty>
      No data found.
    </template>
    <template #loading>
      Loading data. Please wait.
    </template>
    <template #header>
      <div class="d-flex justify-content-between align-items-center history__header">
        <div class="filters">
          <Dropdown
            :options="types"
            placeholder="Type"
            :showClear="true"
            v-model="$parent.q.item_type"
            @change="$parent.pag.offset = 0; $parent.getData();">
            <template #value="slotProps">
              <span
                :class="['type-badge', slotProps.value]"
                v-if="slotProps.value">
                {{slotProps.value}}
              </span>
              <span v-else>{{slotProps.placeholder}}</span>
            </template>
            <template #option="slotProps">
              <span :class="['type-badge', slotProps.option]">{{slotProps.option}}</span>
            </template>
          </Dropdown>
          <Calendar
            :dateFormat="getLocaleDateString()"
            :maxDate="new Date()"
            selectionMode="range"
            :manualInput="false"
            :showIcon="true"
            placeholder="Date from-to"
            v-model="$parent.date"
            ref="dateSelect">
            <template #footer>
              <div class="d-flex justify-content-between">
                <Button
                  type="button"
                  label="Clear"
                  class="p-button-outlined"
                  @click="$parent.clearDate(); hideCalendar()"/>
                <Button
                  type="button"
                  label="Ok"
                  class="p-button"
                  :disabled="!$parent.date || !$parent.date[0] || !$parent.date[1]"
                  @click="$parent.updateDate(); hideCalendar()"/>
              </div>
            </template>
          </Calendar>
          <span class="p-input-icon-left history-table__search">
            <i class="pi pi-search" />
            <InputText
              placeholder="Search by address"
              v-model="$parent.q.address"
              @input="$parent.updateAddress()"/>
          </span>
        </div>
        <Button
          type="button"
          icon="pi pi-filter-slash"
          label="Clear"
          class="p-button"
          @click="$parent.clearQuery"/>
      </div>
    </template>
    <template #groupheader="slotProps">
      <strong>{{slotProps.data.date}}</strong>
    </template>
    <Column field="date" header="Date"></Column>
    <Column>
      <template #body="{data}">
        <router-link
          v-if="$store.state.id !== ''"
          :to="getRouterLink(data)"
          :class="['history-list-item link hovered w-100', data.is_confirmed || 'unconfirmed']">
          <div class="d-flex">
            <div class="history-list-item__type">
              <span class="pi pi-arrow-left" style="color: #ff4032;" v-if="data.amount < 0"></span>
              <span class="pi pi-arrow-right" style="color: #4caf50;" v-else></span>
            </div>
            <div class="w-100">
              <div
                class="history-list-item__line1 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <img
                    v-if="data.currency"
                    :src="getImgSrc(data.currency)"
                    :alt="data.currency"
                    style="height: 1rem; margin-right: .5rem;">
                  <span class="history-list-item__id" v-if="$store.state.shorterFlag">
                    {{`${data.id.slice(0, 5)}...${data.id.slice(-5)}`}}
                  </span>
                  <span class="history-list-item__id" v-else>
                    {{data.id}}
                  </span>
                </div>
                <div class="amount" v-if="data.amount >= 0">
                  <span>{{ '+' + (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(0, -4) }}</span>
                  <span class="postfix">{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(-4) }}</span>
                  <span class="currency" v-if="data.currency">
                    {{ formatCurrency(data.currency) }}
                  </span>
                  <span class="currency" v-else-if="$store.state.currency">
                    {{ formatCurrency($store.state.currency) }}
                  </span>
                </div>
                <div class="amount" v-else>
                  <span>{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(0, -4) }}</span>
                  <span class="postfix">{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(-4) }}</span>
                  <span class="currency" v-if="data.currency">
                    {{ formatCurrency(data.currency) }}
                  </span>
                  <span class="currency" v-else-if="$store.state.currency">
                    {{ formatCurrency($store.state.currency) }}
                  </span>
                </div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center"
                style="margin-top: .5rem;">
                <div class="history-table__data">
                  <span class="text-secondary" style="margin-right: .5rem;">
                    {{data.time}}
                  </span>
                  <span class="history-table__confirmed" v-if="data.is_confirmed">
                    <i class="pi pi-check-circle" style="color: #4caf50;"></i> Confirmed
                  </span>
                  <span class="history-table__confirmed" v-else>
                    <i class="pi pi-spin pi-spinner" style="color: #fccc55;"></i> Unconfirmed
                  </span>
                  <span
                    :class="['status-payment',
                    {'status-payment__success': data.status === 'success',
                    'status-payment__pending': data.status === 'pending',
                    'status-payment__failed': data.status === 'failed'
                    }
                    ]"
                    v-if="data.status"
                  >
                    {{ data.status }}
                  </span>
                </div>
                <div v-if="$store.state.wallet" style="opacity: .6;">
                  <div class="amount" v-if="$store.state.ticker.current">
                    <span>
                      {{
                        (
                          data.amount *
                          $store.state.wallet['units-factor'] *
                          $store.state.ticker.current.value
                        ).toFixed(2)
                      }}
                    </span>
                    <span class="currency">
                      {{ $store.state.ticker.current.name }}
                    </span>
                  </div>
                  <div v-else>
                    <Skeleton width="7rem" height="1rem"></Skeleton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </router-link>
      </template>
    </Column>
    <template #footer>
      <Paginator
        v-model:first="$parent.pag.offset"
        v-model:rows="$parent.pag.limit"
        :totalRecords="$parent.pag.total"
        :rowsPerPageOptions="[10,50,100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        template="CurrentPageReport
          FirstPageLink
          PrevPageLink
          PageLinks
          NextPageLink
          LastPageLink
          RowsPerPageDropdown"
        @page="$parent.getData"/>
    </template>
  </DataTable>
</template>

<script>
export default {
  data() {
    return {
      types: [
        'payment',
        'receipt',
      ],
    };
  },
  methods: {
    getRouterLink(data) {
      const routesPrefix = this.$parent.type === 'account' ? 'Account ' : '';
      const itemType = data.type.charAt(0).toUpperCase() + data.type.slice(1);
      const to = {
        name: `${routesPrefix}Wallet ${itemType === 'Internal-transfer' ? 'Payment' : itemType}`,
        params: {
          historyItemId: data.id,
          [`${this.$parent.type}Id`]: this.$store.state.id,
        },
      };
      if (data.currency) {
        to.params = Object.assign(to.params, {
          currency: data.currency,
        });
      }
      return to;
    },
    hideCalendar() {
      const calendar = this.$refs.dateSelect;
      calendar.overlayVisible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.history-list-item {
  @media screen and (max-width: 380px) {
    * {
      font-size: 98%;
    }
  }
}

.unconfirmed {
  opacity: .8;
}

.history-list-item__type {
  margin-right: .5rem;
}
</style>

<style lang="scss">
.history-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
  }

  &__search {
    width: 34vw;
    max-width: 470px;
    input {
      width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .history-table {
    &__confirmed {
      font-size: 0 !important;
      i {
        font-size: 12px !important;
      }
    }
    &__data {
      max-width: 190px;
      .status-payment {
        margin-left: 10px;
        transform: translateY(-3px);
        font-size: 9px !important;
      }
    }
  }
}
</style>
