<template>
  <DataTable
    :value="$parent.data"
    :loading="$parent.loading"
    responsiveLayout="scroll"
    rowGroupMode="subheader" groupRowsBy="date"
    class="invoices-table">
    <template #empty>
      No data found.
    </template>
    <template #loading>
      Loading data. Please wait.
    </template>
    <template #header>
      <div class="d-flex justify-content-between align-items-center invoices__header">
        <div class="filters">
          <Button
            type="button"
            icon="pi pi-plus"
            label="Create invoice"
            class="p-button"
            @click="createData.display = true;"/>
          <Dropdown
            :options="statuses"
            placeholder="Status"
            :showClear="true"
            v-model="$parent.q.status"
            @change="$parent.pag.offset = 0; $parent.getData();">
            <template #value="slotProps">
              <span
                :class="['type-badge', slotProps.value]"
                v-if="slotProps.value">
                {{slotProps.value}}
              </span>
              <span v-else>{{slotProps.placeholder}}</span>
            </template>
            <template #option="slotProps">
              <span :class="['type-badge', slotProps.option]">{{slotProps.option}}</span>
            </template>
          </Dropdown>
          <Calendar
            :dateFormat="getLocaleDateString()"
            :maxDate="new Date()"
            selectionMode="range"
            :manualInput="false"
            :showIcon="true"
            placeholder="Date from-to"
            v-model="$parent.date"
            ref="dateSelect">
            <template #footer>
              <div class="d-flex justify-content-between">
                <Button
                  type="button"
                  label="Clear"
                  class="p-button-outlined"
                  @click="$parent.clearDate(); hideCalendar()"/>
                <Button
                  type="button"
                  label="Ok"
                  class="p-button"
                  :disabled="!$parent.date || !$parent.date[0] || !$parent.date[1]"
                  @click="$parent.updateDate(); hideCalendar()"/>
              </div>
            </template>
          </Calendar>
        </div>
        <Button
          type="button"
          icon="pi pi-filter-slash"
          label="Clear"
          class="p-button"
          @click="$parent.clearQuery"/>
      </div>
    </template>
    <template #groupheader="slotProps">
      <strong>{{slotProps.data.date}}</strong>
    </template>
    <Column field="date" header="Date"></Column>
    <Column>
      <template #body="{data}">
        <a
          :href="`/invoice?id=${data.invoice}`"
          target="_blank"
          class="invoice-list-item w-100 link hovered">
          <div class="invoice-list-item__line1 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                v-if="data.currency"
                :src="getImgSrc(data.currency)"
                :alt="data.currency"
                style="height: 1rem; margin-right: .5rem;">
              <span class="invoice-list-item__id" style="margin-right: .5rem;">
                {{data.invoice}}
              </span>
              <div>
                <span :class="['type-badge', data.status]">
                  {{data.status}}
                </span>
                <span class="text-secondary" style="margin: 0 .5rem;">
                  {{data.time}}
                </span>
              </div>
            </div>
            <div class="amount" v-if="data.amount">
              <span>{{ (data.amount *
                data['units-factor']).toFixed(data.toFixed).slice(0, -4) }}</span>
              <span class="postfix">{{ (data.amount *
                data['units-factor']).toFixed(data.toFixed).slice(-4) }}</span>
              <span class="currency">{{ formatCurrency(data.currency) }}</span>
            </div>
            <div class="amount text-secondary" v-else>
              No amount
            </div>
          </div>
        </a>
      </template>
    </Column>
    <template #footer>
      <Paginator
        v-model:first="$parent.pag.offset"
        v-model:rows="$parent.pag.limit"
        :totalRecords="$parent.pag.total"
        :rowsPerPageOptions="[10,50,100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        template="CurrentPageReport
          FirstPageLink
          PrevPageLink
          PageLinks
          NextPageLink
          LastPageLink
          RowsPerPageDropdown"
        @page="$parent.getData"/>
    </template>
  </DataTable>
  <Dialog
    v-model:visible="createData.display"
    class="create-invoice-dialog">
    <template #header>
      <h3>Create invoice</h3>
    </template>
    <div>
      <h4>Amount</h4>
      <InputNumber
        placeholder="Amount"
        :useGrouping="false"
        class="w-100"
        mode="decimal"
        locale="en-US"
        :minFractionDigits="0"
        :maxFractionDigits="createData.data.currency.currency.includes('usdt') || createData.data.currency.currency.includes('tcn') ? 2 : createData.data.currency.toFixed"
        v-model="createData.data.amount"/>
      <h4>Currency</h4>
      <Dropdown
        :options="$store.state.account.info"
        v-model="createData.data.currency"
        class="w-100">
        <template #value="slotProps">
          <div class="d-flex align-items-center" v-if="slotProps.value?.currency">
            <img
              :src="getImgSrc(slotProps.value.currency)"
              :alt="slotProps.value.currency"
              style="margin-right: .2rem; height: 1rem;">
            <span>{{ slotProps.value.name }}</span>
          </div>
        </template>
        <template #option="slotProps">
          <div class="d-flex align-items-center">
            <img
              :src="getImgSrc(slotProps.option.currency)"
              :alt="slotProps.option.currency"
              style="margin-right: .2rem; height: 1rem;">
            <span>{{ slotProps.option.name }}</span>
          </div>
        </template>
      </Dropdown>
      <h4>Lifetime</h4>
      <Dropdown
        :options="lifetimeList"
        v-model="createData.data.lifetime"
        class="w-100">
        <template #value="slotProps">
          {{slotProps.value.name}}
        </template>
        <template #option="slotProps">
          {{slotProps.option.name}}
        </template>
      </Dropdown>
      <div
        v-if="$store.state.watchOnly"
      >
        <h4>Address</h4>
        <InputText
          placeholder="Address"
          class="w-100"
          v-model="createData.data.address"/>
      </div>
      <Button
        type="button"
        :icon="createData.loading
          ? 'pi pi-spin pi-spinner'
          : 'pi pi pi-plus'"
        label="Create"
        class="p-button"
        style="margin-top: 1rem;"
        :disabled="createData.loading"
        @click="create"/>
    </div>
  </Dialog>
</template>

<script>
export default {
  data() {
    return {
      statuses: [],
      lifetimeList: [
        {
          name: '1 hour',
          value: 60 * 60,
        },
        {
          name: '3 hours',
          value: 60 * 60 * 3,
        },
        {
          name: '1 day',
          value: 60 * 60 * 24,
        },
        {
          name: '∞',
          value: null,
        },
      ],
      createData: {
        data: {
          amount: null,
          currency: this.$store.state.account.info[0],
          lifetime: {
            name: '1 hour',
            value: 60 * 60,
          },
          address: '',
        },
        display: false,
        loading: false,
      },
    };
  },
  created() {
    const statuses = this.$store.state.account['invoice-valid-statuses'];
    if (statuses) {
      this.statuses = statuses;
    }
  },
  methods: {
    create() {
      this.createData.loading = true;
      const inputAmount = this.createData.data.amount;
      let amount = null;
      if (inputAmount === 0) {
        amount = 0;
      } else if (inputAmount) {
        amount = Math.round(inputAmount / this.createData.data.currency['units-factor']);
      }
      let data = {
        amount,
        currency: this.createData.data.currency.currency,
      };
      if (this.createData.data.lifetime.value) {
        data = Object.assign(data, {
          lifetime: this.createData.data.lifetime.value,
        });
      }
      if (this.$store.state.watchOnly) {
        data = Object.assign(data, {
          address: this.createData.data.address,
        });
      }
      this.$axios
        .post(`/api/v2/accounts/${this.$store.state.id}/invoices`, data)
        .then((response) => {
          this.$toast.add({
            severity: 'success',
            summary: 'Success',
            detail: `Invoice ${response.data.invoice} has been created!`,
            life: 3000,
          });
          this.$parent.getData();
          this.createData.display = false;
          this.createData.data = {
            amount: null,
            currency: this.$store.state.account.info[0],
            lifetime: {
              name: '1 hour',
              value: 60 * 60,
            },
          };
        })
        .catch((error) => {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error?.response?.data?.message,
            life: 3000,
          });
        })
        .then(() => {
          this.createData.loading = false;
        });
    },
    getMaxFractionDigits() {
      const transformUnitsFactor = parseFloat(this.createData.data.currency['units-factor'])
      const maxFractionDigits = Number(transformUnitsFactor.toString().split('.')[1].length);
      return maxFractionDigits;
    },
    hideCalendar() {
      const calendar = this.$refs.dateSelect;
      calendar.overlayVisible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.invoice-list-item {
  cursor: pointer;
  @media screen and (max-width: 380px) {
    * {
      font-size: 98%;
    }
  }
}
.invoice-list-item__line1 {
  @media (max-width: 400px) {
    display: block;
    >.amount {
      margin-top: .5rem;
    }
  }
}
.invoices__header {
  @media screen and (max-width: 650px) {
    flex-wrap: wrap;

    .filters {
      margin: .5rem 0;
    }

    >.p-button {
      margin: .5rem 0;
    }
  }

  @media screen and (max-width: 390px) {
    .filters {
      .p-dropdown, .p-calendar {
        width: 100%;
      }
    }
  }
}

.invoice-list-item__line1 {
  @media screen and (max-width: 520px) {
    >div {
      display: block;
      >div {
        margin-top: .5rem;
      }
    }
  }
}
</style>

<style lang="scss">
.invoices-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
  }
}

.create-invoice-dialog {
  width: 450px;
  h4 {
    margin: 1rem 0 .5rem;
  }
}
</style>
