<template>
  <DataTable
    :value="$parent.data"
    :loading="$parent.loading"
    responsiveLayout="scroll"
    rowGroupMode="subheader" groupRowsBy="date"
    class="history-table">
    <template #empty>
      No data found.
    </template>
    <template #loading>
      Loading data. Please wait.
    </template>
    <template #groupheader="slotProps">
      <strong>{{slotProps.data.date}}</strong>
    </template>
    <Column field="date" header="Date"></Column>
    <Column>
      <template #body="{data}">
        <div :class="['history-list-item w-100', data.block.height !== -1 || 'unconfirmed']">
          <div class="d-flex">
            <div class="history-list-item__type">
              <span class="pi pi-arrow-left" style="color: #ff4032;" v-if="data.amount < 0"></span>
              <span class="pi pi-arrow-right" style="color: #4caf50;" v-else></span>
            </div>
            <div class="w-100">
              <div
                class="history-list-item__line1 d-flex justify-content-between align-items-center">
                <a
                  target="_blank"
                  :href="getExplorerHref($store.state.wallet.name, 'transaction', data.txid, $store.state.wallet.currency)"
                  class="link hovered">
                  <span class="pi pi-external-link" style="margin-right: .5rem;"></span>
                  <span class="history-list-item__id" v-if="$store.state.shorterFlag">
                    {{`${data.txid.slice(0, 5)}...${data.txid.slice(-5)}`}}
                  </span>
                  <span class="history-list-item__id" v-else>
                    {{data.txid}}
                  </span>
                </a>
                <div class="amount" v-if="data.amount >= 0">
                  <span>{{ '+' + (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(0, -4) }}</span>
                  <span class="postfix">{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(-4) }}</span>
                  <span class="currency">
                    {{ formatCurrency($store.state.currency) }}
                  </span>
                </div>
                <div class="amount" v-else>
                  <span>{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(0, -4) }}</span>
                  <span class="postfix">{{ (data.amount *
                    data['units-factor']).toFixed(data.toFixed).slice(-4) }}</span>
                  <span class="currency">
                    {{ formatCurrency($store.state.currency) }}
                  </span>
                </div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center"
                style="margin-top: .5rem;">
                <div>
                  <span class="text-secondary" style="margin-right: .5rem;">
                    {{data.time}}
                  </span>
                  <span v-if="data.block.height !== -1">
                    <i class="pi pi-check-circle" style="color: #4caf50;"></i> Confirmed
                    <a
                      target="_blank"
                      :href="getExplorerHref($store.state.wallet.name, 'block', data.block.height, $store.state.wallet.currency)"
                      class="link hovered">
                      (<i class="pi pi-box"></i> {{ data.block.height }})
                    </a>
                  </span>
                  <span v-else>
                    <i class="pi pi-spin pi-spinner" style="color: #fccc55;"></i> Unconfirmed
                  </span>
                </div>
                <div v-if="$store.state.wallet" style="opacity: .6;">
                  <div class="amount" v-if="$store.state.ticker.current">
                    <span>
                      {{
                        (
                          data.amount *
                          $store.state.wallet['units-factor'] *
                          $store.state.ticker.current.value
                        ).toFixed(2)
                      }}
                    </span>
                    <span class="currency">
                      {{ $store.state.ticker.current.name }}
                    </span>
                  </div>
                  <div v-else>
                    <Skeleton width="7rem" height="1rem"></Skeleton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Column>
    <template #footer>
      <Paginator
        v-model:first="$parent.pag.offset"
        v-model:rows="$parent.pag.limit"
        :totalRecords="$parent.pag.total"
        :rowsPerPageOptions="[10,50,100]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        template="CurrentPageReport
          FirstPageLink
          PrevPageLink
          PageLinks
          NextPageLink
          LastPageLink
          RowsPerPageDropdown"
        @page="$parent.getData"/>
    </template>
  </DataTable>
</template>

<script>
export default {
  data() {
    return {
      types: [
        'payment',
        'receipt',
      ],
    };
  },
  methods: {
    getRouterLink(data) {
      const routesPrefix = this.$parent.type === 'account' ? 'Account ' : '';
      const itemType = data.type.charAt(0).toUpperCase() + data.type.slice(1);
      const to = {
        name: `${routesPrefix}Wallet ${itemType}`,
        params: {
          historyItemId: data.id,
          [`${this.$parent.type}Id`]: this.$store.state.id,
        },
      };
      if (data.currency) {
        to.params = Object.assign(to.params, {
          currency: data.currency,
        });
      }
      return to;
    },
  },
};
</script>

<style lang="scss" scoped>
.history-list-item {
  @media screen and (max-width: 380px) {
    * {
      font-size: 98%;
    }
  }
}

.unconfirmed {
  opacity: .8;
}

.history-list-item__type {
  margin-right: .5rem;
}
</style>

<style lang="scss">
.history-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
  }
}
</style>
