<template>
  <div class="footer d-flex justify-content-center w-100">
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <span>
          © 2017-{{new Date().getFullYear()}} <a href="https://apirone.com/" target="_blank" class="link hovered">Apirone OÜ</a>.
          All Rights Reserved.
        </span>
      </div>
      <a
        href="mailto:support@apirone.com"
        class="social-link link hovered d-flex align-items-center">
        <i class="pi pi-envelope"></i>
        support
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer {
  margin-top: auto;
  opacity: .7;

  .container {
    padding: 2rem 0 .625rem;
  }

  .social-link i {
    font-size: 1.2rem;
    margin-right: .5rem;
  }
}
</style>
