<template>
  <div class="finance-history">
    <div class="wh-shadow-block">
      <div class="finance-history__header">
        <h2 class="h2-title">История доходов и расходов </h2>
        <span class="toggle-currency">RUB</span>
      </div>
      <table cellpadding="0" cellspacing="0" class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Тип</th>
          <th>Категория</th>
          <th>Источник дохода/расхода</th>
          <th>Дата операции</th>
          <th>Сумма (у.е)</th>
          <th>Общий счет (RUB)</th>
        </tr>
        </thead>
        <tbody>
        <tr @click="onRowClick(order.id)" v-for="order in orders" :key="order.id">
          <td>{{ order.id }}</td>
          <td>{{ order.typeOperation }}</td>
          <td>{{ order.category }}</td>
          <td>{{ order.source }}</td>
          <td>{{ order.operationDate | date('date') }}</td>
          <td>{{ order.amount }} {{ order.currency }}</td>
          <td>10000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import BaseLayout from "@/layouts/base-layout";
import moment from 'moment'

export default {
  name: "finance-history_page",
  components: {BaseLayout},
  data() {
    return {
      orders: null
    }
  },
  methods: {
    onRowClick(id) {
      this.$router.push({
        name: 'finance_operation',
        params: {id}
      })
    }
  },
  async mounted() {
    this.orders = await this.$services('getOrders')
    console.log(this.orders)
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"

.finance-history
  &__header
    display flex
    align-items center

  .table
    margin-top: 32px

</style>