<template>
  <div>

  </div>
</template>

<script>
import BaseLayout from "@/layouts/base-layout";
export default {
  name: "finance-analysis_page",
  components: {BaseLayout}
}
</script>

<style scoped>

</style>