<template>
  <div class="finance-main">
      <div class="finance-main__row">
        <div class="wh-shadow-block finance-main__item">
          <div>
            <h3>Общий счет</h3>
            <div class="add-item-plus"></div>
          </div>
          <ul class="finance-main__list">
            <li>8000 RUB</li>
            <li>100 USD</li>
            <li>100 EUR</li>
            <li>35000 KZT</li>
            <li>35000 KZT</li>
          </ul>
        </div>
        <div class="wh-shadow-block finance-main__item finance-main__item-big">
          <div>
            <h3>Сколько денег в какой валюте</h3>
            <div class="add-item-plus"></div>
          </div>
          <ul class="finance-main__list">
            <li>8000 RUB</li>
            <li>100 USD</li>
            <li>100 EUR</li>
            <li>35000 KZT</li>
          </ul>
        </div>
      </div>
      <div class="finance-main__row">
        <div class="wh-shadow-block finance-main__item">
          <div>
            <h3>Курс валют</h3>
            <div class="add-item">
              <div @click.prevent="addFiatCurrency = true" class="add-item__btn"></div>
            </div>
          </div>
          <ul class="finance-main__list">
            <li v-for="(value, currency) in fiatCurrencies">1 {{ currency }} - {{ (1 / value).toFixed(3) }}
              {{ baseFiatCurrency }}
            </li>
          </ul>
          <div v-show="addFiatCurrency" class="finance-main__form-update-currency">
            <select name="" id="" v-model="modelFiatCurrency" class="select">
              <option disabled selected value="">Валюта</option>
              <option v-for="item in isoListFiatCurrencies" :value="item">{{ item }}</option>
            </select>
            <button @click.prevent="updateFiatCurrency(modelFiatCurrency)"
                    class="finance-main__form-update-currency-btn-success"></button>
            <button @click.prevent="addFiatCurrency = false"
                    class="finance-main__form-update-currency-btn-close"></button>
          </div>
        </div>
        <div class="wh-shadow-block finance-main__item finance-main__item">
          <div>
            <h3>Курс криптовалют</h3>
            <div class="add-item-plus"></div>
          </div>
          <ul class="finance-main__list">
            <li>8000 RUB</li>
            <li>100 USD</li>
            <li>100 EUR</li>
            <li>35000 KZT</li>
          </ul>
        </div>
      </div>
  </div>
</template>

<script>
import baseLayout from '@/layouts/base-layout'

export default {
  name: "finance-main_page",
  components: {baseLayout},
  data() {
    return {
      addFiatCurrency: false,
      modelFiatCurrency: ''
    }
  },
  async mounted() {
    await this.$store.dispatch('fiat_currencies/requestIsoCodeFiatCurrencies')
    await this.$store.dispatch('fiat_currencies/requestFiatCurrencies')
  },
  computed: {
    isoListFiatCurrencies() {
      return this.$store.getters['fiat_currencies/isoListFiatCurrencies']
    },
    fiatCurrencies() {
        return this.$store.getters["fiat_currencies/fiatCurrencies"]
    },
    baseFiatCurrency() {
      return this.$store.getters["fiat_currencies/baseFiatCurrency"]
    }
  },
  methods: {
    async updateFiatCurrency(fiat) {
      if (this.modelFiatCurrency !== '') {
        this.$store.commit('fiat_currencies/updateToCurrencies', fiat)
        await this.$store.dispatch('fiat_currencies/requestFiatCurrencies')
      }
    }
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"

.finance-main
  .add-item__btn
    width: 20px
    height: 20px

  &__form-update-currency
    margin-top: 16px

    select
      height: 30px

    button
      position relative
      min-width: 30px
      height: 30px
      border-radius 100px
      display flex
      align-items center
      justify-content center

    &-btn-success
      background bright_green
      margin-left: 12px
      margin-right: 4px

      &:after
        content ''
        margin-top: -2px
        display block
        border-right 3px solid white
        border-bottom 3px solid white
        width: 8px
        height: 14px
        transform rotate(45deg)

    &-btn-close
      background main_red

      &:after
      &:before
        content ''
        display block
        width: 14px
        height: 3px
        position absolute
        background white

      &:after
        transform rotate(45deg)

      &:before
        transform rotate(-45deg)


  &__item
    max-width 258px
    padding: 24px 20px
    margin-left: 30px

    &:first-child
      margin-left: 0

    &-big
      max-width 448px

    & > div
      display flex
      align-items center
      justify-content space-between

  &__row
    display flex
    align-items flex-start
    margin-top: 32px

    &:first-child
      margin-top: 0

  &__list
    margin-top: 16px

    li
      margin-top: 12px

      &:first-child
        margin-top: 0

</style>
