<template>
  <div class="finance-operation">
    <div class="wh-shadow-block">
      <div style="display: flex; align-items: center">
        <h2 class="h2-title">Операция №{{ this.$route.params.id }}</h2>
        <button @click="editing = true" style="margin-left: 12px;" class="change-button button">Изменить</button>
      </div>
      <div class="finance-operation__data">
        <div class="finance-operation__row">
          <div class="finance-operation__value">
            <span class="label">Тип операции</span>
            <div v-if="editing" class="big-radio-input-container">
              <div>
                <input v-model="order.typeOperation" value="Доход" name="type_operation" id="income" type="radio">
                <label for="income">Доход</label>
              </div>
              <div>
                <input v-model="order.typeOperation" value="Расход" name="type_operation" id="expenditure"
                       type="radio">
                <label for="expenditure">Расход</label>
              </div>
            </div>
            <div v-if="!editing">{{ order.typeOperation }}</div>
          </div>
          <div class="finance-operation__value">
            <span class="label">Категория</span>
            <input class="input" type="text" v-model="order.category" v-if="editing">
            <div v-if="!editing">{{ order.category }}</div>
          </div>
        </div>
        <div class="finance-operation__row">
          <div class="finance-operation__value">
            <span class="label">Источник</span>
            <input class="input" v-if="editing" type="text" v-model="order.source">
            <div v-if="!editing">{{ order.source }}</div>
          </div>
          <div class="finance-operation__value">
            <span class="label">Дата операции</span>
            <datepicker v-if="editing" class="" v-model="order.operationDate" value-type="format" format="DD.MM.YYYY"></datepicker>
            <div v-if="!editing">{{ order.operationDate }}</div>
          </div>
        </div>
        <div class="finance-operation__row">
          <div class="finance-operation__value">
            <span class="label">Сумма</span>
            <div v-if="editing" class="finance-add-operation__currency">
              <input v-model="order.amount" class="input">
              <span class="toggle-currency">{{ order.currency }}</span>
            </div>
            <div v-if="!editing">{{ order.amount }} {{ order.currency }}</div>
          </div>
          <div class="finance-operation__value">
            <span class="label">Описание</span>
            <textarea v-if="editing" v-model="order.description" name="" id="" cols="30" rows="10"
                      class="textarea"></textarea>
            <div v-if="!editing">{{ order.description }}</div>
          </div>
        </div>
        <button v-if="editing" @click.prevent="updateOrder" class="success-button button finance-operation__btn">Сохранить</button>
      </div>
    </div>
        <div class="finance-operation__delete">
          <button @click="deleteOrder" class="delete-button button">Удалить</button>
<!--          <div class="finance (Vue.js + Node.js)-operation__delete-popup">-->
<!--            Уверены, что хотите удалить ?-->
<!--            <span>Да</span>-->
<!--            <span>Нет</span>-->
<!--          </div>-->
        </div>
  </div>
</template>

<script>
import moment from "moment";
import Datepicker from 'vue2-datepicker'

export default {
  name: "finance-edit-operation_page",
  components: {Datepicker},
  data() {
    return {
      editing: false,
      order: {
        typeOperation: null,
        category: null,
        source: null,
        operationDate: null,
        description: null,
        amount: null,
        currency: null
      }
    }
  },
  async mounted() {
    this.order = await this.$services('getOrder', {id: this.$route.params.id})
    this.order.operationDate = moment(this.order.operationDate).format('DD.MM.YYYY')
  },
  methods: {
    async updateOrder() {
      this.editing = false
      await this.$services('updateOrder', this.order)
    },
    async deleteOrder() {
      this.$router.push({name: 'finance_history'})
      await this.$services('deleteOrder', this.order.id)
    }
  }

}
</script>

<style lang="stylus">
.finance-operation
  position relative
  &__data
    margin-top: 16px
    max-width: 600px
    width: 100%

  &__delete
    position absolute
    right: 24px
    top: 32px

  &__value
    margin-top: 16px

  &__btn
    margin-top: 32px

</style>