<template>
  <div class="finance-add-operation">
    <div class="wh-shadow-block">
      <h2 class="h2-title">Создание дохода/расхода</h2>
      <form action="" class="finance-add-operation__form">
        <div class="container-input-row">
          <div class="container-input finance-add-operation__container-input">
            <label class="label">Выберите тип</label>
            <div class="big-radio-input-container">
              <div>
                <input v-model="data.typeOperation" value="Доход" name="type_operation" id="income" type="radio">
                <label for="income">Доход</label>
              </div>
              <div>
                <input v-model="data.typeOperation" value="Расход" name="type_operation" id="expenditure"
                       type="radio">
                <label for="expenditure">Расход</label>
              </div>
            </div>
          </div>
          <div class="container-input">
            <label class="label">Выберите категорию</label>
            <input v-model="data.category" class="input">
          </div>
        </div>
        <div class="container-input-row">
          <div class="container-input">
            <label class="label">Источник</label>
            <input v-model="data.source" class="input">
          </div>
          <div class="container-input">
            <label class="label">Дата дохода/расхода</label>
            <datepicker class="" v-model="data.operationDate" value-type="format" format="DD.MM.YYYY"></datepicker>
          </div>
        </div>
        <div class="container-input-row">
          <div class="container-input">
            <label class="label">Описание</label>
            <textarea v-model="data.description" class="textarea"></textarea>
          </div>
          <div class="container-input finance-add-operation__currency">
            <label class="label">Введите сумму</label>
            <input v-model="data.amount" class="input">
            <span class="toggle-currency">RUB</span>
          </div>
        </div>
        <button @click.prevent="createOperation" class="success-button button">Создать</button>
      </form>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vue2-datepicker'

export default {
  name: "finance-add-operation_page",
  components: {Datepicker},
  data() {
    return {
      data: {
        typeOperation: '',
        category: '',
        source: '',
        operationDate: null,
        amount: '',
        currency: 'RUB',
        description: '',
      }
    }
  },
  methods: {
    async createOperation() {
      console.log(this.data)
      await this.$services('createOrders', this.data)
    }
  },
  async mounted() {
    if(this.$route.params.id) {

    }
  }
}
</script>

<style lang="stylus">

.finance-add-operation
  &__form
    & > .container-input-row
      margin-top: 22px

      &:first-child
        margin-top: 28px

    button
      margin-top: 42px

  &__currency
    position relative

    span
      position absolute
      right: 0
      bottom: 0
      height: 40px
      padding: 4px 12px

</style>