.about-us-page
  font-size: 200px


  &__title
    max-width 500px
    span
      font-family: 'Kanit', sans-serif
      text-align: center

      background: linear-gradient(100deg, #9634B9, #53D3D1, #4A4EA8, #9634B9, #53D3D1, #9634B9)
      background-size: 200% auto

      color: #000
      text-fill-color: transparent
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
  &_who-are-you
    &__one-block
      height: 300px
      padding: 32px 24px
      &:last-child
        margin-top: 32px
    &__content
      margin-bottom: 104px
    &__text
      max-width: 834px
      width: 100%
      line-height 1.5
    &__item
      height: 275px
  &_our-approach
    display flex
    flex-direction column
    align-items center
    justify-content: center
    &__title
      font-size: 32px
    &__items
      display flex
      justify-content center
      flex-wrap wrap
      align-items self-start
      margin-top: 48px
      margin-bottom: 204px
    &__item
      border-radius 2px
      display flex
      flex-direction column
      align-items center
      justify-content: center;
      text-align center
      padding: 32px
      margin-left: 32px
      margin-bottom: 32px
      max-width 340px
      width: 100%
      &:first-child
      &:nth-child(4)
        margin-left: 0
      &:nth-child(4)
      &:nth-child(6)
        margin-top: -70px
      &:nth-child(5)
        margin-bottom: 0
      h3
        font-size: 24px
        font-weight: 700
        font-family: 'Kanit', sans-serif
        margin-top: 18px
        margin-bottom: 16px
      p
        line-height 1.5

  &_discuss-your-project
    padding: 0

@media screen and (max-width: 1150px)
  .about-us-page
    &_our-approach
      &__item
        max-width 292px
        padding: 24px
        &:nth-child(4)
        &:nth-child(6)
          margin-top: -42px
        h3
          font-size: 20px
        p
          font-size: 15px

@media screen and (max-width: 1000px)
  .about-us-page
    &_our-approach
      &__item
        max-width 340px
        margin-left: 0
        &:nth-child(even)
          margin-left: 32px
        &:nth-child(3)
          margin-top: -66px
        &:nth-child(4)
          margin-top: 0
        &:nth-child(5)
          margin-top: -42px
        &:nth-child(6)
          margin-top: 0

@media screen and (max-width: 767px)
  .about-us-page
    &_our-approach
      &__items
        margin-bottom: 140px
      &__title
        font-size: 30px
      &__item
        max-width 258px
        margin-bottom: 14px
        padding: 18px
        &:nth-child(even)
          margin-left: 14px
        &:nth-child(3)
          margin-top: -76px
        &:nth-child(5)
          margin-top: -56px
        img
          width: 50px
        h3
          font-size: 16px
          margin: 12px 0
        p
          font-size: 13px
    &_who-are-you
      &__one-block
        height: 268px
        padding: 24px

@media screen and (max-width: 570px)
  .about-us-page
    &_our-approach
      &__items
        margin-bottom: 100px
      &__title
        font-size: 24px
      &__item
        max-width 100%
        margin-left: 0 !important
        margin-bottom: 32px !important
        margin-top: 0 !important
    &_who-are-you
      &__one-block
        height: auto
        padding: 18px
