.cases-page
  margin-top: 93px
  margin-bottom: 256px
  display flex
  flex-direction column
  align-items center
  &__title
    max-width 560px !important
    span
      font-family: 'Kanit', sans-serif
      text-align: center

      background: linear-gradient(100deg, #9634B9, #53D3D1, #4A4EA8, #9634B9, #53D3D1, #9634B9)
      background-size: 200% auto

      color: #000
      text-fill-color: transparent
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
  &__item
    width: 100%
    display flex
    justify-content end
    position relative
    margin-bottom: 24px
    height: 650px
    overflow hidden
    align-items center
    &:last-child
      margin-bottom: 0
  &__content
    display flex
    flex-direction column
    border-radius 20px
    overflow hidden
    max-width 827px
    max-height 464px
    width: 100%
    border 1px solid rgba(#54d3d1, 0.3)
    transition 0.5s ease-out
    &:hover
      img
        opacity 1
    img
      opacity 0.5
      transition 0.5s
      max-width 827px
      width: 100%
      border-radius 0 0 20px 20px
  &__content-start
    justify-content start
    & > .--cases-description
      left: auto
      right: 0
  &__item-header
    display flex
    padding: 16px 20px
    background linear-gradient(45deg, rgba(#54d3d1, 0.25), rgba(#54d3d1, 0.15))
    span
      font-size: 14px
      background rgba(#54d3d1, 0.3)
      border-radius 10px
      padding: 4px 8px
      margin-left: 12px
      &:first-child
        margin-left: 0
  &__product-visa
    border 1px solid rgba(#4C6FB2, 0.3)
    & > .cases-page__item-header
      background linear-gradient(45deg, rgba(#4C6FB2, 0.25), rgba(#4C6FB2, 0.15))
      span
        background rgba(#4C6FB2, 0.3)

  &__shop
    border 1px solid rgba(#ffffff, 0.3)
    & > .cases-page__item-header
      background linear-gradient(45deg, rgba(#000000, 0.25), rgba(#000000, 0.15))
      span
        background rgba(#7b7b7b, 0.3)

  &__sapegin-autoplates
    border 1px solid rgba(#114092, 0.3)
    background linear-gradient(45deg, rgba(#114092, 0.4), rgba(#114092, 0.2))
    & > .cases-page__item-header
      background linear-gradient(45deg, rgba(#114092, 0.2), rgba(#114092, 0.1))
      span
        background rgba(#114092, 0.3)

  &__tthomes
    border 1px solid rgba(#AD2317, 0.3)
    background linear-gradient(45deg, rgba(#AD2317, 0.2), rgba(#AD2317, 0.1))
    & > .cases-page__item-header
      background linear-gradient(45deg, rgba(#AD2317, 0.2), rgba(#AD2317, 0.1))
      span
        background rgba(#AD2317, 0.3)

  &__sapegin-kzevb
    border 1px solid rgba(#54D3D1, 0.3)
    background linear-gradient(45deg, rgba(#54D3D1, 0.5), rgba(#54D3D1, 0.3))
    & > .cases-page__item-header
      background linear-gradient(45deg, rgba(#4C6FB2, 0.15), rgba(#54D3D1, 0.05))
      span
        background rgba(#54D3D1, 0.3)

@media screen and (max-width: 1000px)
  .cases-page
    &__content
      max-width 600px
    &__item
      max-width 800px
      height: 560px
      align-items end

@media screen and (max-width: 767px)
  .cases-page
    &__content
      max-width 400px
      border-radius 15px
      .slick-track
        margin-left: 0
      img
        border-radius 0 0 15px 15px
    &__item
      overflow initial
      max-width 580px
      height: auto
      margin-bottom: 120px
    &__item-header
      padding: 10px 16px
      span
        font-size: 11px

@media screen and (max-width: 550px)
  .cases-page
    &__content
      max-width 100%
      border-radius 8px
      img
        border-radius 0 0 8px 8px
    &__item
      justify-content: center
      margin-bottom: 180px
    &__content-start
      & > .--cases-description
        right: 20px

@media screen and (max-width: 400px)
  .cases-page
    &__description
      top: 55%
