.data-protection
  margin-bottom: 288px
  &__item
    margin-top: 32px
    height: auto
    justify-content start
    align-items start
    padding: 32px 64px
    &:first-child
      margin-top: 0
    & > p
      text-align start
      max-width 100%
    & > h3
      line-height 1.3

@media screen and (max-width: 767px)
  .data-protection
    &__item
      padding: 32px
      h3
        text-align start
