.imprint
  &__discuss-project
    padding: 40px 26px 26px
    top: 40px
    max-width 315px
    h4
      font-size: 16px
    &:after
      display none
      background none
  &__items
    h5
      font-weight: 600
      opacity 0.5
      margin-bottom: 32px
      font-size: 16px
  &__item
    display flex
    margin-bottom: 16px
    &:last-child
      margin-bottom: 0
    h5
      opacity 1
      max-width 200px
      width: 100%
      margin-bottom: 0
      font-size: 16px
      line-height 1.3
    span
      margin-left: 80px
      font-size: 16px
      line-height 1.3
      max-width 280px
      width: 100%
  &__form
    padding: 64px 69px 50px
    justify-content end

  &__content
    margin-top: 80px
    margin-bottom: 220px

@media screen and (max-width: 1000px)
  .imprint
    &__content
      margin-top: 180px
    &__form
      padding: 64px 15px 50px
    &__item
      span
        margin-left: 40px
    &__discuss-project
      top: -130px

@media screen and (max-width: 767px)
  .imprint
    &__form
      padding: 64px 24px 50px
      max-width 420px
    &__item
      h5
        font-size: 14px
      span
        font-size: 14px

@media screen and (max-width: 550px)
  .imprint
    &__form
      max-width 320px
    &__item
      flex-direction column
      margin-bottom: 24px
      h5
        font-size: 15px
        margin-bottom: 8px
      span
        margin-left: 0
    &__discuss-project
      padding: 20px
      top: -100px
      max-width 260px
      h4
        font-size: 14px
