.modal-uae
  display block
  position fixed
  bottom: 20px
  left: 50%
  transform translate(-50%)
  max-width 1352px
  width: 100%
  z-index 1000
  overflow-y scroll
  height: 100vh
  background #1A1A1A
  &__container
    max-width 880px
    width: 100%
    margin: 0 auto
    padding: 0 15px
  &__main
    background url("/static/images/modal-uae_bg.jpeg") no-repeat center
    background-size cover
    width: 100%
    padding-top: 240px
    padding-bottom: 135px
    &-content
      display flex
      margin-top: 126px
      justify-content: end
      position relative
    &-mobile-images
      position absolute
      top: 0
      left: 0
    &-items
      max-width 375px
    &-title
      font-size: 20px
      font-weight: 700
    &-text
      line-height: 1.5
      font-weight: 600
      margin-top: 16px
      margin-bottom: 45px
    &-icons
      display flex
      img
        background #6FC9C1
        padding: 9px
        box-shadow 0 2px 10px 0 #36968E
        margin-left: 16px
        &:first-child
          margin-left: 0
  &__task
    display flex
    justify-content: end
    margin-top: 263px
    &-content
      max-width 375px
      p
        margin-bottom: 0
  &__grid
    margin-top: 205px
    &-header
      display flex
      justify-content: space-between
      span
        font-size: 12px
        line-height: 2
        font-weight: 600
    &-content
      display flex
      align-items center
      margin-top: 44px
      border 1px solid white
      border-radius 10px
    &-text
      line-height: 1.5
      font-size: 8px
      color rgba(#ffffff, 0.5)
      font-weight: 600
      max-width: 80px
      width: 100%
      text-align center
    &-columns
      height: 326px
      width: 100%
      display flex
    &-column
      background rgba(#ffffff, 0.05)
      max-width 49px
      width: 100%
      height: 100%
      margin-left: 12px
      &:first-child
        margin-left: 0
  &__components
    display flex
    justify-content: space-between
    padding: 0 80px
    margin-top: 75px
    margin-bottom: 380px
    &-colors
      display flex
      margin-top: 16px
      .--accent
        background #F1922B
      .--pink
        background #C22C91
      .--turquoise
        background #7BCBC3
      .--light-turquoise
        background #CAEAE7
    &-color
      width: 32px
      height: 32px
      border-radius 100%
      margin-left: 16px
      &:first-child
        margin-left: 0
    &-icons
      display flex
      margin-top: 16px
      img
        margin-left: 16px
        &:first-child
          margin-left: 0
    &-font
      display inline-block
      font-size: 12px
      font-weight: 600
      line-height: 2
      margin-top: 20px
    &-title
      font-size: 12px
      font-weight: 600
      line-height: 2
  &__events
    position relative
    &-images
      border-radius 10px
      border 6px solid #191919
      position absolute
      top: -100px
      left: 50%
      transform translateX(-50%)
  &__mobile-design
    background #54D3D1
    padding-top: 600px
    padding-bottom: 236px
    &-title
      color #191919
      font-size: 20px
      margin-bottom: 8px
      font-weight: 700
      text-align center
    &-subtitle
      text-align center
      display block
    &-items
      display flex
      justify-content: end
      margin-top: 110px
      img
        margin-left: 64px
        &:first-child
          margin-left: 0
  &__page-questionnaire
    position relative
    padding: 250px 0 170px
    &-title
      font-size: 48px
      color #54D3D1
      font-weight: 700
      line-height 1.2
      position absolute
      left: 0
      top: 240px
    img
      margin-left: -70px

@media screen and (max-width: 1000px)
  .modal-uae
    &__main
      &-mobile-images
        width: 250px
    &__task
      margin-top: 200px
    &__events
      &-images
        width 100%
        top: -150px
    &__mobile-design
      padding-top: 400px
      padding-bottom: 150px
      &-items
        img
          max-width 200px
          &:last-child
            max-width 160px
    &__page-questionnaire
      display flex
      flex-direction column
      align-items center
      justify-content: center
      &-title
        left: 36px
        font-size: 41px
      img
        margin-left: 0
        max-width 700px

@media screen and (max-width: 767px)
  .modal-uae
    &__main
      padding: 100px 0
      & > .modal-uae__container > img
        width: 120px
      &-content
        margin-top: 85px
      &-mobile-images
        width: 200px
      &-items
        max-width 300px
      &-title
        font-size: 18px
      &-text
        font-size: 14px
      &-icons
        img
          padding: 6px
    &__grid
      margin-top: 150px
      &-columns
        height: 200px
      &-text
        max-width 60px
      &-content
        margin-top: 24px
    &__components
      flex-direction column
      margin-bottom: 280px
      &-item
        margin-bottom: 16px
        display flex
        align-items center
        &:last-child
          margin-bottom: 0
      &-title
        margin-right: 16px
      &-colors
      &-icons
      &-font
        margin-top: 0
    &__events
      &-images
        border-width 4px
    &__mobile-design
      padding-top: 300px
      margin-bottom: 100px
      &-items
        img
          max-width 150px
          margin-left: 48px
          &:last-child
            max-width 120px
    &__page-questionnaire
      padding: 50px 0 120px
      img
        max-width 500px
      &-title
        font-size: 30px
        top: 0

@media screen and (max-width: 550px)
  .modal-uae
    &__main
      padding: 100px 0 150px
      & > .modal-uae__container > img
        width: 80px
      &-content
        margin-top: 60px
        img
          width: 120px
          top: 195px
      &-items
        max-width 260px
      &-title
        font-size: 16px
      &-text
        font-size: 13px
        margin: 16px 0
      &-icons
        img
          width: 30px
          padding: 4px
    &__task
      margin-top: 170px
    &__grid
      &-header
        span
          font-size: 10px
      &-content
        margin-top: 6px
      &-text
        max-width 40px
      &-columns
        height: 160px
      &-column
        margin-left: 8px
    &__components
      padding: 0 20px
      margin-bottom: 220px
      &-color
        width: 22px
        height: 22px
      &-icons
        img
          &:first-child
            width: 24px
          &:nth-child(2)
            width: 22px
          &:nth-child(3)
            width: 34px
          &:last-child
            width: 22px
    &__mobile-design
      padding-top: 200px
      padding-bottom: 80px
      &-items
        margin-top: 60px
        img
          max-width 110px
          margin-left: 24px
          &:last-child
            max-width 85px
    &__page-questionnaire
      padding: 50px 0 90px
      img
        max-width 300px
      &-title
        font-size: 22px
        width: 15px

@media screen and (max-width: 400px)
  .modal-uae
    &__mobile-design
      padding-top: 135px
    &__events
      &-images
        top: -100px

@import "../components/modal-product-visa-case.styl";
@import "../components/modal-questionnaire-visa-case.styl";
@import "../components/modal-shop-case.styl";
@import "../components/modal-sapegin-autoplates-case.styl";
@import "../components/modal-sapegin-cases.styl";
@import "../components/modal-tthomes-case.styl";


