.services
  &_digital-service
    margin-bottom: 32px
    &__item-one
      background linear-gradient(45deg, rgba(#53D3D1, 0.02), rgba(#53D3D1, 0.01))
    &__item-two
      background linear-gradient(45deg, rgba(#53D3D1, 0.04), rgba(#53D3D1, 0.03))
    &__item-three
      background linear-gradient(45deg, rgba(#53D3D1, 0.07), rgba(#53D3D1, 0.04))
    &__item-one,
    &__item-two,
    &__item-three
      margin-left: 32px
      padding: 32px
    h3
      font-family 'Kanit', sans-serif

@media screen and (max-width: 1000px)
  .services
    &_digital-service
      &__item-two,
      &__item-three
        margin-left: 24px

@media screen and (max-width: 767px)
  .services
    &_digital-service
      &__item-one,
      &__item-two,
      &__item-three
        margin-left: 14px
        padding: 20px 14px

@media screen and (max-width: 550px)
  .services
    &_digital-service
      &__item-two
        margin-left: 0
      &__item-one,
      &__item-two,
      &__item-three
        max-width 500px
        display flex
        flex-direction column
        align-items center
        justify-content center
        div > span
          text-align center

.second-services-page
  backdrop-filter blur(10px)
  &__item
    height: auto
    margin-bottom: 80px
    padding: 48px 64px
    border-radius 2px
    h3
      font-size: 20px
      font-weight: 700
      margin-bottom: 32px
      text-align center
    p
      text-align start
      max-width 100%
  &__title
    text-align center
    margin-bottom: 32px
    font-size: 24px
    font-weight: 700
    font-family: 'Kanit', sans-serif

  &__animate-section
    display flex
    align-items center
    margin-top: 80px
    width: 100%
    padding: 32px 64px
    border-radius 2px
    border 1px solid rgba(#ffffff, 0.2)
    background linear-gradient(45deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1))
    span
      border-radius 2px
      padding: 8px
      font-size: 14px
      font-weight: 600
      white-space nowrap
      opacity 0.5
    div
      max-width 164px
      width: 100%
      height: 4px
      background rgba(#D9D9D9, 0.1)
      position relative
      &:after
        content ''
        display block
        position absolute
        width: 0
        height: 4px
        left: 0
        top: 0
        transition 0.3s ease-in-out
        background #D9D9D9
  &__active-section
    span
      opacity 1
    div
      &:after
        width: 100%
      &:nth-child(1)
        &:after
          transition 0.5s ease-in-out
      &:nth-child(2)
        &:after
          transition 0.8s ease-in-out
      &:nth-child(3)
        &:after
          transition 1s ease-in-out

.active-line
  &:after
    width: 100% !important

#activeBlock1
  animation move 4s infinite ease-in-out
  @keyframes move {
    0% {
      opacity 0.5
    }
    10%, 20%, 30%, 40%, 50%, 60%, 100% {
      opacity 1
    }
  }

#activeLine1
  &:after
    animation moveLine 4s infinite ease-in-out

    @keyframes moveLine {
      0%, 10% {
        width: 0
      }
      20%, 30%, 40%, 50%, 60%, 100% {
        width: 100%
      }
    }

#activeBlock2
  animation moveBlock2 4s infinite ease-in-out
  @keyframes moveBlock2 {
    0%, 10%, 20% {
      opacity 0.5
    }
    30%, 40%, 50%, 60%, 100% {
      opacity 1
    }
  }

#activeLine2
  &:after
    animation moveLine2 4s infinite ease-in-out

    @keyframes moveLine2 {
      0%, 10%, 20%, 30% {
        width: 0
      }
      40%, 50%, 60%, 100% {
        width: 100%
      }
    }

#activeBlock3
  animation moveBlock3 4s infinite ease-in-out
  @keyframes moveBlock3 {
    0%, 10%, 20%, 30%, 40%{
      opacity 0.5
    }
      50%, 60%, 100% {
      opacity 1
    }
  }

#activeLine3
  &:after
    animation moveLine3 4s infinite ease-in-out

    @keyframes moveLine3 {
      0%, 10%, 20%, 30%, 40%, 50% {
        width: 0
      }
      60%, 100% {
        width: 100%
      }
    }

#activeBlock4
  animation moveBlock4 4s infinite ease-in-out
  @keyframes moveBlock4 {
    0%, 10%, 20%, 30%, 40%, 50%, 60%{
      opacity 0.5
    }
    70% {
      opacity 1
    }
      100% {
      opacity 1
    }
  }

@media screen and (max-width: 1000px)
  .second-services-page
    &__animate-section
      padding: 24px
    &__item
      padding: 48px 24px

@media screen and (max-width: 767px)
  .second-services-page
    &__animate-section
      padding: 18px
      border-radius 4px
      span
        padding: 6px
        font-size: 11px
      div
        height: 3px
        &:after
          height: 3px

    &__item
      padding: 24px 16px
      h3
        font-size: 18px
        line-height 1.3

@media screen and (max-width: 600px)
  .second-services-page
    &__animate-section
      max-width 240px
      margin: 60px auto
      flex-direction column
      span
        font-size: 13px
        padding: 8px
      div
        width: 4px
        height: 50px
        &:after
          height: 0
          width: 4px

  #activeLine1
    &:after
      animation moveLine 4s infinite ease-in-out

      @keyframes moveLine {
        0%, 10% {
          height: 0
          width: 100%
        }
        20%, 30%, 40%, 50%, 60%, 100% {
          height: 100%
          width: 100%
        }
      }

  #activeLine2
    &:after
      animation moveLine2 4s infinite ease-in-out

      @keyframes moveLine2 {
        0%, 10%, 20%, 30% {
          height: 0
          width: 100%
        }
        40%, 50%, 60%, 100% {
          width: 100%
          height: 100%
        }
    }

    #activeLine3
      &:after
        animation moveLine3 4s infinite ease-in-out

        @keyframes moveLine3 {
          0%, 10%, 20%, 30%, 40%, 50% {
            width: 100%
            height: 0
          }
          60%, 100% {
            width: 100%
            height: 100%
          }
      }

