.service-card
  margin: 0 auto
  padding-top: 170px
  display flex
  flex-direction column
  align-items center
  max-width 560px
  width: 100%
  &__subtitle
    font-family: 'Kanit', sans-serif
    font-size: 20px
    font-weight: 100
    margin-bottom: 24px
  &__title
    font-family: 'Kanit', sans-serif
    font-size: 48px
    font-weight: 500
    line-height: 1.3
    text-align center
  &__btn
    margin-top: 64px
    font-weight: 700
    box-shadow 0 0 14px 0 rgba(#ffffff, 0.2)
    padding: 18px 31.5px !important

  &_advantages
    overflow hidden
    display flex
    justify-content: space-between
    margin-top: 81px
    padding: 64px 48px
    border 1px solid rgba(#53d3d1, 0.1)
    position relative
    backdrop-filter blur(2px)
    -webkit-backdrop-filter: blur(2px)
    -moz-backdrop-filter: blur(5px)
    -o-backdrop-filter: blur(5px)
    -ms-backdrop-filter: blur(5px)
    &__left-content
      max-width 350px
    &__title
      margin-top: 24px
      font-weight: 500
      font-size: 48px
      font-family: 'Kanit', sans-serif
    &__right-content
      margin-left: 40px
      max-width 432px
    &__item
      display flex
      align-items center
      margin-bottom: 48px
      position relative
      cursor pointer
      &:hover
        &:after
          opacity 1
      &:after
        transition 0.2s
        content ''
        display block
        background rgba(#9334B8, 0.3)
        position absolute
        height: 100px
        width: 700px
        left: -40px
        top: 50%
        transform translateY(-50%)
        border-radius 10px 0 0 10px
        z-index -1
        filter blur(10px)
        opacity 0

      &:last-child
        margin-bottom: 0
      span
        display block
        font-size: 48px
        font-weight: 500
        font-family: 'Kanit', sans-serif
      p
        line-height: 1.5
        margin-left: 40px
  &_our-approach
    width: 100%
    margin-top: 90px
    &__content
      margin-top: 32px
    &__one-block
      display flex
      flex-direction column
      align-items center
      justify-content: center
      padding: 32px 0 32px
      border: 1px solid rgba(83,211,209,0.1)
      height: 240px
      background linear-gradient(45deg, rgba(#53D3D1, 0.02), rgba(#53D3D1, 0.01))
      backdrop-filter blur(2px)
    &__one-block-bg
      background linear-gradient(45deg, rgba(#53D3D1, 0.02), rgba(#53D3D1, 0.01))
    &__title-block
      margin: 16px 0
      font-size: 24px
      font-family: 'Kanit', sans-serif
      font-weight: 700
    &__text
      text-align center
      line-height: 1.3
      max-width 571px
      width: 100%
    &__two-block
      display flex
      margin: 32px 0
    &__item
      border: 1px solid rgba(83,211,209,0.2)
      max-width 529px
      height: 240px
      width: 100%
      display flex
      flex-direction column
      align-items center
      justify-content: center
      padding: 40px 66px 32px
      background linear-gradient(45deg, rgba(#53D3D1, 0.07), rgba(#53D3D1, 0.04))
      backdrop-filter blur(2px)
      & + .service-card_our-approach__item
        margin-left: 32px
        background linear-gradient(45deg, rgba(#53D3D1, 0.03), rgba(#53D3D1, 0.01))
  &_instrument
    max-width 1440px
    width: 100%
    margin: 96px auto
    padding: 0 16px
    &__inner
      width: 100%
      background linear-gradient(45deg, rgba(#4C6FB2, 0.05), rgba(#4C6FB2, 0.02))
      border 1px solid rgba(#4C6FB2, 0.5)
      display flex
      align-items center
      justify-content center
      padding: 32px 20px 62px
      backdrop-filter blur(2px)
    &__content
      max-width 1090px
      width: 100%
    &__items
      display flex
      justify-content: space-between;
      margin-top: 40px
    &__item
      margin-left: 50px
      display flex !important
      align-items center
      span
        font-family: 'Kanit', sans-serif
        font-size: 20px
        font-weight: 100
      img
        margin-right: 16px
      &:first-child
        margin-left: 0
  &_done-deal
    display flex
    justify-content: space-between
    border: 1px solid rgba(83,211,209,0.1)
    padding: 64px 48px
    background linear-gradient(45deg, rgba(#53D3D1, 0.02), rgba(#53D3D1, 0.01))
    backdrop-filter blur(2px)
    &__title
      max-width 300px
      text-align start
      line-height: 1
    &__content
      display flex
      flex-direction column
      max-width 415px
    &__item
      margin-bottom: 48px
      &:last-child
        margin-bottom: 0
      h4
        font-size: 20px
        font-weight: 700
        margin-bottom: 16px
      p
        line-height: 1.5
  &_contact
    position relative
    width: 100%
    display flex
    justify-content right
    margin-top: 268px
    margin-bottom: 152px
    &__group-link
      display flex
      margin-top: 24px
      a
        color white
        font-weight: 600
      a + a
        margin-left: 32px
    &__form
      justify-content: space-between
      display flex
      max-width 827px
      width: 100%
      background linear-gradient(45deg, rgba(#53D3D1, 0.1), rgba(#53D3D1, 0.05))
      border 1px solid
      border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2, #53d3d1)
      border-image-slice: 2
      padding: 80px 100px 76px 57px
      transform rotateY(0deg)
      transition 0.3s
    &__right-content
      max-width 310px
      width: 100%
    &__left-content
      img
        width: 325px
  &_discuss-project
    max-width 441px
    width: 100%
    padding: 40px 90px
    background linear-gradient(45deg, rgba(#ffffff, 0.3), rgba(#ffffff, 0.2))
    border 1px solid rgba(#ffffff, 0.5)
    position absolute
    left: 0
    top: 230px
    border-radius 10px
    backdrop-filter blur(3px)
    &:after
      content ''
      display block
      width: 80px
      height: 100px
      background url("/static/images/discuss-project-icon.png") no-repeat center
      background-size contain
      position absolute
      left: -10px
      top: -40px
    h4
      font-size: 20px
      line-height: 1.5
      font-weight: 700
    p
      line-height: 1.5
      margin-top: 12px

@media screen and (max-width: 1000px)
  .service-card
    &__title
      font-size: 35px
    &__subtitle
      font-size: 18px
      margin-bottom: 16px
    &_advantages
      padding: 50px 32px
      &__title
        font-size: 35px
      &__item
        margin-bottom: 38px
        span
          font-size: 44px
        p
          font-size: 13px
          margin-left: 28px
    &_our-approach
      &__title-block
        font-size: 18px
        margin: 16px 0 12px
      &__text
        font-size: 14px
      &__item
        height: auto
        padding: 32px 32px 24px
    &_instrument
      &__items
        justify-content: center
        margin-top: 32px
      &__item
        margin-left: 40px
        img
          margin-right: 8px
          width: 45px
        span
          font-size: 14px
    &_done-deal
      padding: 52px 32px
      justify-content: center
      &__content
        margin-left: 32px
      &__item
        margin-bottom: 38px
        h4
          font-size: 18px
          margin-bottom: 12px
        p
          font-size: 14px
    &_discuss-project
      max-width 390px
      padding: 28px 48px 28px 85px
      top: 155px
      h4
        font-size: 18px
        line-height 1.4
      p
        font-size: 14px
        margin-top: 12px
        line-height 1.4
    &_contact
      max-width 780px
      margin: 150px auto
      &__form
        max-width 665px
        padding: 40px 32px
      &__left-content
        img
          width: 250px
      &__group-link
        margin-top: 24px
        a
          font-size: 13px
        a + a
          margin-left: 16px
      &__right-content
        max-width 290px
        & > .contact-form__container-input > input
        & > .contact-form__container-input > textarea
          &::placeholder
            font-size: 12px
        & > .contact-form__btn
          font-size: 12px
          padding: 12px 0
        & > .--error-click
          padding-left: 20px
          span
            left: 14px
            top: 6px
        & > .--success-click
          padding-left: 24px
          span
            left: 8px
            top: 8px
        & > button
          height: auto
          & > .contact-form__error-icon
            left: 14px
            top: 6px
          & > .contact-form__success-icon
            left: 6px
            top: 8px

@media screen and (max-width: 767px)
  .service-card
    &__title
      font-size: 30px
    &__subtitle
      font-size: 16px
      margin-bottom: 10px
    &__btn
      margin-top: 52px
      padding: 16px 24px !important
      font-size: 16px !important
    &_advantages
      flex-direction column
      padding: 50px 58px
      &__left-content
        margin-bottom: 32px
      &__right-content
        margin-left: 0
        max-width 500px
      &__item
        &:after
          top: -17px
        span
          font-size: 50px
        p
          font-size: 15px
    &_our-approach
      &__one-block
        padding: 24px 16px
        height: auto
        img
          width: 50px
      &__title-block
        font-size: 16px
        text-align center
        margin: 16px 0 12px
      &__text
        font-size: 13px
      &__two-block
        margin: 16px 0
      &__item
        padding: 22px 20px
        img
          width: 50px
        & + .service-card_our-approach__item
          margin-left: 16px
    &_instrument
      &__item
        margin-left: 50px
    &_contact
      justify-content: center
      max-width 500px
      margin: 250px auto 100px
      &__form
        max-width 360px
        padding: 40px 32px
        flex-direction column
        align-items center
      &__left-content
        margin-bottom: 32px
      &__right-content
        max-width 100%
        & > .--success-click
          span
            left: 12px
            top: 7px
      &__group-link
        margin-top: 10px

    &_discuss-project
      max-width 296px
      padding: 28px 45px
      top: -115px
      &:after
        width: 50px
        height: 70px
      h4
        font-size: 16px
      p
        font-size: 13px
        margin-top: 12px

@media screen and (max-width: 550px)
  .service-card
    padding-top: 150px
    &__title
      font-size: 24px
      max-width 400px
    &__subtitle
      margin-bottom: 10px
    &__btn
      margin-top: 38px
      padding: 14px 20px !important
      font-size: 12px !important
    &_advantages
      padding: 32px 24px
      &__left-content
        img
          width: 40px
      &__right-content
        max-width 400px
      &__title
        font-size: 24px
        margin-top: 12px
      &__item
        margin-bottom: 32px
        p
          font-size: 12px
          margin-left: 16px
    &_our-approach
      & > .service-card__title
        max-width 100%
      &__two-block
        flex-direction column
      &__one-block
        padding: 32px 24px
        img
          width: 40px
      &__title-block
        font-size: 14px
      &__text
        font-size: 12px
      &__item
        padding: 32px 24px
        img
          width: 40px
        & + .service-card_our-approach__item
          margin-left: 0
          margin-top: 16px
    &_done-deal
      flex-direction column
      padding: 32px 24px
      &__content
        margin-left: 0
        margin-top: 32px
        max-width 400px
      &__item
        margin-bottom: 32px
        h4
          font-size: 17px
    &_discuss-project
      left: 10px
      max-width 260px
      padding: 28px 24px
      h4
        font-size: 15px
      p
        font-size: 12px










