<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{# JQuery #}
    <script src="{{ url_for('static', filename='libs/jquery/jquery-3.6.0.min.js') }}"></script>

{# Slider #}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{# Animate #}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/animate/animate.css') }}">
    <script src="{{ url_for('static', filename='libs/animate/wow.min.js') }}"></script>

{# Datepicker #}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datepicker/datepicker.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='libs/datepicker/datepicker.min.js') }}"></script>
{# Select 2#}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/select2/select2.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='libs/select2/select2.full.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    {% block title %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% include 'components/modal.html' %}
    <div id="darkMask"></div>
</body>
<script>
    new WOW().init();
</script>
{% block script %}
{% endblock %}
<script src="{{ url_for('static', filename='scripts/pages/cart.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/pages/modal.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/components/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/components/documentation.js') }}"></script>
</html>
