.accordion__card {
    z-index: 1;
    border: none;
    margin-bottom: 0.5rem !important;
}

.accordion__card > header {
    padding: 0 !important;
    border: none !important;
    margin-bottom: 0 !important;
}

.accordion__card .btn-info {
    text-align: start;
    background-color: var(--bg) !important;
    border-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: var(--primary) !important;
    box-shadow: none !important;
}

.accordion__card .btn-info:after {
    content: '';
    display: block;
    border-color: var(--primary) transparent transparent transparent;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    transition: 0.2s;
    margin-left: 1rem;
}

.accordion__card .not-collapsed {
    background-color: var(--primary) !important;
    color: white !important;
}

.accordion__card .not-collapsed:after {
    border-color: white transparent transparent transparent;
    transform: rotate(-180deg);
}

.accordion__list {
    margin: 6px 0;
    list-style-type: none;
    padding-left: 1.5rem;
}

.accordion__img {
    vertical-align: top;
    margin: 8px 0;
}

.accordion__legend {
    color: var(--dark-gray);
    word-break: break-word;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.accordion__legend-lifetime {
    margin-top: 0;
}

@media (max-width: 991px) {
    .accordion__legend-lifetime {
        margin-top: 0.5rem;
    }
}

@media (max-width: 767px) {

    .accordion__card .btn-info {
        padding: 0.5rem 0.8rem;
    }
}

@media (max-width: 480px) {

    .accordion__card .card-body {
        padding: 0.8rem;
    }
}
