.btn-link-arrow {
  padding: 12px 57px !important;
  text-decoration: none !important;
  background: none;
  position: relative;
}

.btn-link-arrow > .apr-arrow_right {
  font-size: 12px;
  color: var(--primary);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.btn-link-arrow:hover > .apr-arrow_right {
  left: 30px;
}
