.case-page {
  color: #6D6D7A;
}

.case-page__ul {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

.case-page__ul > li {
  display: flex;
  align-items: flex-start;
  margin-top: 6px;
}

.case-page__ul > li:first-child {
  margin-top: 0;
}

.case-page__ul > li > svg {
  margin-right: 12px;
  min-width: 12px;
  margin-top: 6px;
}

.case-page .btn-link {
  display: inline-block;
  background: none;
  text-decoration: none !important;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.case-page__title-arrow {
  display: flex;
  align-items: center;
  margin-top: 2.5rem !important;
  margin-bottom: 2rem !important;
}

.case-page__title-arrow > span {
  min-width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #5D8AB9;
  margin-right: 12px;
}

.case-page > button {
  display: block;
  margin: 2.5rem auto 0;
  padding: 0.6rem 2rem;
}

.case-page  h2 {
  color: #2F2E41 !important;
  margin: 0 !important;
}

.case-page__notes {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
}

.case-page__note {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px 24px;
  border-radius: 12px;
}

.case-page__notes-warn {
  background: #FFEBEF;
}

.case-page__notes-info {
  background: #F1FAF0;
  margin-left: 2rem;
}

.case-page__note img {
  margin-right: 12px;
  margin-top: 6px;
}

.case-page__ul-number {
  padding-left: 0 !important;
  list-style-type: none !important;
}

.case-page__ul-number li {
  display: flex;
  align-items: flex-start;
  border: 1px solid #D8E2F0;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 0.9rem
}

.case-page__ul-number li:first-child {
  margin-top: 0
}

.case-page__ul-number span {
  color: #5D8AB9;
  margin-right: 12px;
  display: block;
}

.case-page__ul-number div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.case-page__ul-number a {
  margin: 2rem 0 0 0 !important;
  padding: 0.3rem 1.5rem;
}

.case-page__ul-number p {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  .case-page__notes-info {
    margin-left: 1rem;
  }
  .case-page__note {
    font-size: 15px;
    padding: 16px 20px;
  }
}

@media (max-width: 767px) {
  .case-page__notes {
    flex-direction: column;
  }

  .case-page__notes-info {
    margin-left: 0;
  }

  .case-page__notes-warn {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .case-page h2 {
    font-size: 24px;
  }
}
