.cases {
  z-index: 9;
}

.cases__left {
  max-width: 31rem;
  width: 100%;
}

.case__img {
  border-radius: 2rem;
}

.case__img img {
  height: 100%;
  transition: .3s;
}

.case__content {
  transition: .3s;
}

.case:hover .case__img img {
  transform: scale(1.2);
}

.case:hover {
  opacity: 1;
}

.case:hover .case__content {
  opacity: .6;
}

.cases__left .case__img {
  width: 31rem;
  height: 31rem;
  margin-bottom: 2rem;
}

.cases__left .case {
  flex-direction: column;
}

.cases__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cases__right .case__img {
  width: 12rem;
  height: 12rem;
  order: 1;
}

.cases__right .case__content {
  margin-right: 2rem;
  flex-grow: 1;
}

.case__content-left p {
  margin-bottom: 0;
}

.case__content-right {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2.5rem;
  align-self: flex-end;
  border: .0625rem solid rgba(93, 138, 185, 0.7);
  color: rgba(93, 138, 185, 0.7);
  border-radius: 50%;
}

.case p {
  color: rgba(47, 46, 65, 0.7);
}

@media (max-width: 1199px) {
  .cases__left .case__img {
    width: 28rem;
    height: 28rem;
  }

  .case__content h3 {
    font-size: 1.2rem;
  }

  .case__content p {
    font-size: .9rem;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .cases__right .case__content {
    margin-right: 1rem;
  }

  .cases__right .case__content .case__content-left {
    margin-right: 1rem !important;
  }

  .cases__right .case__img {
    width: 10rem;
    height: 10rem;
    order: 1;
  }
}

@media (max-width: 991px) {
  .cases__container {
    flex-direction: column;
  }

  .case__content, .case__content-left {
    flex-grow: 1;
  }

  .cases__left {
    max-width: unset;
  }

  .cases__left .case__img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 0;
  }

  .cases__left .case {
    flex-direction: row;
  }

  .cases__left .case__img, .cases__right .case__img {
    order: -1;
  }

  .cases__left .case__content {
    flex-grow: 1;
    margin-left: 2rem;
  }

  .cases__right .case__content {
    margin-left: 2rem;
    margin-right: 0;
    flex-grow: 1;
  }

  .case {
    margin-top: 2rem;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 491px) {
  .cases__left .case, .cases__right .case {
    flex-direction: column;
  }

  .cases__right .case__img, .cases__left .case__img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cases__right .case__content, .cases__left .case__content {
    margin-left: 0;
  }
}
