.integrations__items {
    margin: 0 -1.875rem;
}

.integrations__item {
    margin-bottom: 1.875rem;
}

.integrations__link {
    min-height: 11rem;
    width: 100%;
    border: .0625rem solid rgba(93, 138, 185, 0.5);
    border-radius: 32px;
    overflow: hidden;
}

.integrations__link img {
    width: 100%;
}

.integrations__item h3 {
    font-size: 1rem;
    transition: .3s;
    min-height: 2rem;
}

.integrations h2 {
    margin-bottom: 2rem !important;
}
