.brand-list {
    list-style-type: none;
    padding: 0;
}

.brand-list > li > span,
.banner__list-item > span {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.brand-list > li > span > i,
.banner__list-item > span > i {
    margin-right: 8px;
    font-size: 11px;
    color: var(--primary);
}

.brand-list > li > p,
.banner__list-item > p {
    color: var(--text);
    line-height: 1.5;
    margin: 0;
}
