.partners {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.partners > p {
  margin: 0 !important;
  padding: 0 !important;
  white-space: nowrap;
}

.partners__items {
  display: flex;
  align-items: center;
  margin-left: 100px;
  flex-wrap: wrap;
}

.partners__img {
  max-height: 3rem;
}

.partners__items > div {
  width: fit-content;
  padding: 15px;
}

.partners__items > div:first-child {
  margin-left: 0;
}

@media (max-width: 991px) {
  .partners {
    flex-direction: column;
  }

  .partners > p {
    font-size: 20px;
  }

  .partners__items {
    margin-left: 0;
    margin-top: 12px;
    justify-content: center;
  }
}

@media (max-width: 727px) {
  .partners__item-telegramchannels {
    transform: translateX(21px);
  }
}

@media (max-width: 400px) {
  .partners > p {
    font-size: 16px;
    text-align: center;
    white-space: initial;
  }
}

@media (max-width: 390px) {
  .partners__item-telegramchannels {
    transform: translateX(0px);
  }
}
