<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"

@font-face
  font-family: 'Open-Sans'
  src: local('Open-Sans'), local('Open-Sans Regular'), url("assets/fonts/open_sans/OpenSans-Regular.woff2") format('woff2'), url("assets/fonts/open_sans/OpenSans-Regular.woff") format('woff'), url("assets/fonts/open_sans/OpenSans-Regular.ttf") format('truetype')
  font-weight: 400
  font-style normal

@font-face
  font-family: 'Open-Sans'
  src: local('Open-Sans'), local('Open-Sans SemiBold'), url("assets/fonts/open_sans/OpenSans-SemiBold.woff2") format('woff2'), url("assets/fonts/open_sans/OpenSans-SemiBold.woff") format('woff'), url("assets/fonts/open_sans/OpenSans-SemiBold.ttf") format('truetype')
  font-weight: 600
  font-style normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat'), local('Montserrat Medium'), url("assets/fonts/montserrat/Montserrat-Medium.woff2") format('woff2'), url("assets/fonts/montserrat/Montserrat-Medium.woff") format('woff'), url("assets/fonts/montserrat/Montserrat-Medium.ttf") format('truetype')
  font-weight: 500
  font-style normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat'), local('Montserrat SemiBold'), url("assets/fonts/montserrat/Montserrat-SemiBold.woff2") format('woff2'), url("assets/fonts/montserrat/Montserrat-SemiBold.woff") format('woff'), url("assets/fonts/montserrat/Montserrat-SemiBold.ttf") format('truetype')
  font-weight: 600
  font-style normal

*,
*:after
*:before
  box-sizing border-box
  line-height 1
  margin: 0
  padding: 0
  color main_black
  font-family: 'Open-Sans', sans-serif

a
  text-decoration none

ul
  list-style-type none

.button
  font-family: 'Montserrat', sans-serif
  display block
  cursor pointer
  outline none
  border-radius 5px
  transition 0.2s
  border 2px solid
  color white
  font-size: 18px

h1,h2,h3,h4,h5,h6
  font-family 'Montserrat', sans-serif

.container
  max-width 1440px
  width: 100%
  margin: 0 auto
  position relative

.content
  background sidebar_gray
  min-height 100vh
  position absolute
  left: 284px
  padding: 58px 32px 32px
  width calc(100% - 284px)

.wh-shadow-block
  background white
  box-shadow 0 2px 10px 0 rgba(#000000, 0.1)
  border-radius 10px
  padding: 32px 24px
  width: 100%

.label
  font-size: 15px
  font-weight: 600
  margin-bottom: 6px
  display block

.input
.select
.textarea
  width: 100%
  background none
  border 1px solid
  border-color main_blue
  border-radius 5px
  outline none
  transition 0.2s
  height: 40px
  padding-left: 10px
  &:hover
    border-color main_gray

.textarea
  width: 100%
  min-width: 100%
  min-height 120px
  max-height 180px
  resize vertical
  padding-top: 10px
  font-size: 16px
.invalid-input
  border-color main_red

.error-input
  font-size: 14px
  margin-top: 6px
  margin-bottom: 6px
  color main_red
  & > span
    display block
    color main_red
    margin-bottom: 6px
    &:last-child
      margin-bottom: 0

.container-input
  margin-top: 16px
  &:first-child
    margin-top: 0

.success-button
  background bright_green
  border-color bright_green
  padding: 6px 24px
  font-weight: 600
  &:hover
    color bright_green
    background white

.delete-button
  background main_red
  border-color main_red
  padding: 6px 24px
  font-weight: 600
  &:hover
    color main_red
    background white

.change-button
  background main_blue
  border-color main_blue
  padding: 6px 12px
  font-weight: 500
  &:hover
    background white
    color main_blue

.back-button
  background main_orange
  border-color main_orange
  font-weight: 600
  padding: 6px 20px
  &:hover
    color main_orange

.border-blue-button
  border-color main_blue
  background none
  color main_blue
  padding: 6px 20px
  font-weight: 500
  &:hover
    background main_blue
    color white

.border-green-button
  border-color main_green
  background none
  color main_green
  padding: 6px 20px
  font-weight: 500
  &:hover
    background main_green
    color white

.h2-title
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  font-weight: 600

.container-input-row
  display flex
  align-items flex-start
  & > div
    width: 100%
    & + div
      margin-left: 54px
  & > .container-input
    margin-top: 0

.big-radio-input-container
  display flex
  div
    width: 50%
    height: 40px
    input[type="radio"]:checked
    input[type="radio"]:not(:checked)
      position: absolute
      left: -99999px

    input[type="radio"]:checked + label
    input[type="radio"]:not(:checked) + label
      position: relative
      cursor: pointer
      height: 100%
      width: 100%
      display flex
      align-items center
      justify-content center
      transition 0.2s
      border 1px solid main_blue
      border-radius 5px 0 0 5px

    input[type="radio"]:checked + label
      color white
      background main_blue
  div + div
    input[type="radio"]:checked + label
    input[type="radio"]:not(:checked) + label
      border-radius 0 5px 5px 0

.mx-datepicker
  width: 100% !important
  input
    height: 40px !important
    box-shadow none
    border-color main_blue
    transition 0.2s
    &:hover
      border-color main_gray

.mx-datepicker-popup
  tr > .active
    div
      color white

.toggle-currency
  font-size: 18px
  font-weight: 600
  background linear_blue_purple
  color white
  padding: 4px 8px
  border-radius 5px
  margin-left: 32px
  cursor pointer
  display flex
  align-items center
  justify-content center

.loader
  background linear_blue_purple
  border-radius: 50%;
  width 50px;
  height 50px;
  animation animate 2s linear infinite;
  align-items center
  justify-content center;
  display flex
  margin: 16px auto
  span
    width: 35px
    height: 35px
    display block
    background #ffffff
    border-radius 100%
    margin: 0

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.add-item
  &__btn
    cursor: pointer
    display block
    width: 50px
    height: 50px
    background bright_green
    border-radius 100%
    position relative
    &:after
    &:before
      display block
      content ''
      width: 60%
      height: 10%
      min-height 2px
      background white
      position absolute
      top: 50%
      transform translate(-50%, -50%)
      border-radius 4px
    &:after
      transform rotate(-90deg)
      left: 19%
      top: 46%
    &:before
      left: 50%
      top: 50%

.table
  width: 100%
  th,td
    text-align start
    max-width 200px
    padding-right: 20px
    &:first-child
      padding-left: 0
  thead
    th
      padding-bottom: 10px
      border-bottom 2px solid main_blue
  tbody
    td
      padding: 9px 0
      &:first-child
        padding-left: 4px
    tr
      cursor: pointer
      &:hover
        background rgba(main_blue, 0.1)
      &:first-child
        td
          padding-top: 10px
</style>
