<template>
  <div>
    <div
      v-if="!isOnline"
      class="home__no-connection"
    >
      No internet connection. Check the internet connection.
    </div>
    <div class="home container">
      <div
        v-if="isShowHistoryInvoiceMobile"
        class="mask"
        @click.prevent="showMobileHistoryInvoice"
      ></div>
      <Notification
        :title="notification.title"
        :message="notification.message"
        :show="notification.show"
        @close-notification="notification.show = !notification.show"
      />
      <Header
        v-model="debugMode"
        :is-show-history-invoice-mobile="isShowHistoryInvoiceMobile"
        :is-show-account-mobile="isShowAccountMobile"
        :show-invoice="showInvoice"
        @click-home="clickHome"
        @show-mobile-history-invoice="showMobileHistoryInvoice"
        @logout="logout"
      />
      <div
        v-if="!showInvoice"
        class="home__terminal"
      >
        <div class="home__left-content">
          <Terminal
            v-model="amount"
            :debug-mode="debugMode"
            :currencies="currencies"
            @create-invoice="createInvoice"
          />
        </div>
        <div
          ref="invoiceHistory"
          class="home__right-content"
        >
          <div style="height: 100%;">
            <div class="home__last-payments">
              <div
                v-if="isShowAccountMobile"
                class="header__action header__mobile"
              >
                <div class="header__account">
                  <span>{{ $store.state.accountId }}</span>
                </div>
                <div class="header__mobile-bar header__mobile-bar-home">
                  <div
                    class="header__more-btn"
                    @click="toggleDropdown"
                  >
                    <i class="pi pi-cog"></i>
                  </div>
                  <div
                    class="header__dropdown"
                    :class="{'header__dropdown-show': dropdownHeader}"
                  >
                    <p>Settings</p>
                    <div class="header__dropdown-item">
                      <div>
                        <Switcher v-model="debugMode"/>
                      </div>
                      Debug mode
                    </div>
                    <div
                      class="header__dropdown-item"
                      @click="logout"
                    >
                      <div><i class="pi pi-sign-out"></i></div>
                      Log out
                    </div>
                  </div>
                </div>
              </div>
              <div class="home__title-and-filters">
                <h3>Last Payments</h3>
                <v-select
                  v-model="filter"
                  :options="filterOptions"
                  label="label"
                  :reduce="option => option.value"
                  placeholder="Status filter"
                  class="home__filters"
                >
                </v-select>
              </div>
              <div style="height: 100%;">
                <div
                  v-if="loader"
                  class="loader"
                >
                </div>
                <div
                  v-else
                  class="home__accordion"
                >
                  <History
                    v-if="accordionItems.length"
                    :items="accordionItems"
                  />
                  <div
                    v-else-if="!loader || !accordionItems.length"
                    class="home__no-list-history"
                  >
                    <span v-if="filter === 'paid' || filter === 'partpaid'">No payments in process</span>
                    <span v-else>There aren’t {{ filter }} invoices yet</span>
                  </div>
                </div>
              </div>
            </div>
            <Paginator
              v-if="accordionItems.length"
              :pagination="pagination"
              :page-range="pageRange"
              @click-start-page="getHistory(0)"
              @click-per-page="getHistory(pagination.offset - 6)"
              @click-page="clickPage"
              @click-next-page="getHistory(pagination.offset + 6)"
              @click-end-page="clickEndPage"
            />
          </div>
        </div>
      </div>
      <div
        v-else
        class="home__invoice"
      >
        <figure class="home__invoice-qr">
          <SuccessIcon v-if="invoice && (invoice.status === 'paid' || invoice.status === 'overpaid')"/>
          <div v-else>
            <qr-code
              :text="qrCodeValue"
              error-level="H"
              size="200"
            />
            <img
              class="home__invoice-qr-img"
              :srcset="require(`/src/assets/images/coins/${$filters.checkCryptoForImg($store.state.cryptoCurrency.toLowerCase()).main}1.webp`)"
              :src="require(`/src/assets/images/coins/${$filters.checkCryptoForImg($store.state.cryptoCurrency.toLowerCase()).main}1.png`)"
              :alt="$store.state.cryptoCurrency"
            />
          </div>
        </figure>
        <InvoiceData
          :amount="amount"
          :crypto-currency="$store.state.cryptoCurrency"
          :fiat-currency="$store.state.fiatCurrency"
          :formatted-time="expire"
          :invoice="invoice"
          :invoice-address="invoiceAddress"
          :total="total"
          @click-home="clickHome"
        />
      </div>
    </div>
  </div>
</template>

<script>
import store from "@/store";
import jwtDecode from "jwt-decode";

import History from "@/components/History.vue";
import Paginator from "@/components/Paginator.vue";
import Notification from "@/components/Notification.vue";
import InvoiceData from "@/components/InvoiceData.vue";
import Terminal from "@/components/Terminal.vue";
import Header from "@/components/Header.vue";

import Countdown from "@/mixins/countdown";
import explorerHref from "@/mixins/explorerHref";
import Logout from "@/components/icons/Logout.vue";
import Switcher from "@/components/Switcher.vue";
import barDropdown from "@/mixins/barDropdown";

import 'vue-select/dist/vue-select.css';
import vSelect from 'vue-select'

import getCurrencies from "@/mixins/getCurrencies";

function decodeJwtToken(token) {
  return jwtDecode(token);
}

export default {
  name: "home",
  components: {
    Switcher,
    Logout,
    Header,
    Terminal,
    InvoiceData,
    Notification,
    Paginator,
    History,
    vSelect
  },
  mixins: [explorerHref, Countdown, barDropdown, getCurrencies],
  data() {
    return {
      isOnline: navigator.onLine,
      amount: '',
      total: 0,
      accordionItems: [],
      lifetime: 3600,
      showInvoice: false,
      invoiceAddress: '',
      pagination: {
        offset: null,
        limit: 6,
        total: 0
      },
      qrCodeValue: '',
      loader: false,
      isShowHistoryInvoiceMobile: false,
      isShowAccountMobile: false,
      pageRange: 2,
      coins: ['tbtc'],
      notification: {
        title: '',
        message: '',
        show: false
      },
      invoice: {},
      filter: null,
      filterOptions: [
        {
          label: 'Created',
          value: 'created'
        },
        {
          label: 'Expired',
          value: 'expired'
        },
        {
          label: 'Paid',
          value: 'paid'
        },
        {
          label: 'Partpaid',
          value: 'partpaid'
        },
        {
          label: 'Overpaid',
          value: 'overpaid'
        },
        {
          label: 'Completed',
          value: 'completed'
        },
        {
          label: 'Status',
          value: null
        }
      ],
    };
  },
  watch: {
    'notification.show'(newValue) {
      if (newValue === true) {
        setTimeout(() => {
          this.notification.show = false;
        }, 5000);
      }
    },
    async 'filter'() {
      await this.getHistory(0)
    }
  },
  async mounted() {
    if (localStorage.crypto === 'TBTC') {
      this.debugMode = true
    }
    await this.getHistory(0)
    if (window.innerWidth <= 700) {
      this.isShowAccountMobile = true
    }
    window.addEventListener('click', this.closeDropdownOnOutsideClick);
    window.addEventListener('resize', () => {
      this.isShowAccountMobile = window.innerWidth <= 700;
    })
  },
  beforeUnmount() {
    window.removeEventListener('click', this.closeDropdownOnOutsideClick);
    window.removeEventListener('keydown', this.handleKeyDown);
    window.removeEventListener('keyup', this.handleKeyUp)
  },
  methods: {
    showMobileHistoryInvoice() {
      const invoiceContent = this.$refs.invoiceHistory
      if (this.isShowHistoryInvoiceMobile) {
        invoiceContent.style.height = 0
        invoiceContent.style.opacity = 0
        setTimeout(() => {
          invoiceContent.style.zIndex = '-1'
        }, 600)
        this.isShowHistoryInvoiceMobile = false
      } else {
        invoiceContent.style.height = '670px'
        invoiceContent.style.opacity = 1
        invoiceContent.style.zIndex = 10
        this.isShowHistoryInvoiceMobile = true
      }
    },
    checkLifetimeToken() {
      const decodeJwt = decodeJwtToken(store.state.accessToken)
      return Date.now() <= decodeJwt.exp * 10 ** 3;
    },
    async callRefreshToken() {
      try {
        const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/auth/refresh-token`, {
          method: 'POST',
          headers: {
            "Authorization": `Bearer ${store.state.refreshToken}`,
            "Content-Type": 'application/json'
          }
        })
        const result = await response.json()
        localStorage['login'] = store.state.accountId = result['login']
        localStorage['access-token'] = store.state.accessToken = result['access-token']
        localStorage['refresh-token'] = store.state.refreshToken = result['refresh-token']
        store.commit('setToken', result['access-token'])
      } catch (e) {
        console.log(e)
      }
    },
    async clickPage(page) {
      console.log(page)
      await this.getHistory((page - 1) * 6)
    },
    async clickEndPage(offset) {
      await this.getHistory(offset)
    },
    async getHistory(offset) {
      // if (this.pagination.offset !== offset) {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      if (offset < 0) {
        offset = 0
      } else if (this.pagination.total && offset >= this.pagination.total) {
        offset = offset - this.pagination.limit
      }
      try {
        const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/accounts/${this.$store.state.accountId}/invoices?limit=6&offset=${offset}${this.filter ? `&q=status:${this.filter}` : ''}`, {
          headers: {
            "Authorization": `Bearer ${store.state.accessToken}`,
          }
        })
        const result = await response.json()
        this.accordionItems = result.items
        this.currencies.forEach(currency => {
          const toFixed = currency.abbr.toLowerCase().includes('usdt') || currency.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currency['units-factor']).toString().length - 1;
          this.accordionItems.forEach((item, index) => {
            if (currency.abbr === item.currency) {
              this.accordionItems[index].amount = (this.accordionItems[index].amount * parseFloat(currency['units-factor'])).toFixed(toFixed)
            }
          })
        })
        this.pagination = result.pagination
      } catch (e) {
        console.log(e)
      } finally {
        this.loader = false
      }
      // }
    },
    async clickHome() {
      this.pagination.offset = null
      await this.getHistory(0)
      this.$router.push('/')
      this.showInvoice = false
      this.amount = ''
      this.total = 0
      this.invoiceAddress = ''
      this.qrCodeValue = ''
      this.invoice = {}
      this.checkInvoice()
    },
    async checkCoins() {
      try {
        const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/wallets`, {
          method: 'OPTIONS'
        })
        const result = await response.json()
        for (const currency in result.currencies) {
          if (result.currencies[currency].abbr === this.$store.state.cryptoCurrency.toLowerCase()) {
            return result.currencies[currency].name
          }
        }
      } catch (e) {
        console.log(e)
      }
    },
    async checkInvoice() {
      let update
      update = setInterval(async () => {
        if (Object.keys(this.invoice).length !== 0) {
          const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/invoices/${this.invoice.invoice}`)
          this.invoice = await response.json()
          if (this.invoice.status !== 'expired') {
            if (this.invoice.status === 'partpaid') {
              this.invoice.history.forEach((itemHistory) => {
                if (itemHistory.status === 'partpaid') {
                  this.invoice.amount = this.invoice.amount - itemHistory.amount
                }
              })
            }
            if (this.invoice.status === 'overpaid') {
              this.notification.title = 'Notification'
              this.notification.message = 'You paid more than it is required. Please contact the seller to refund the difference'
              this.notification.show = true
              setTimeout(() => {
                this.notification.title = ''
                this.notification.message = ''
                this.notification.show = false
              }, 10000)
            }
            if (this.invoice.status === 'paid' || this.invoice.status === 'overpaid') {
              setTimeout(() => {
                this.clickHome()
                clearInterval(update)
              }, 5000)
            }
            this.currencies.forEach((currency) => {
              const toFixed = currency.abbr.toLowerCase().includes('usdt') || currency.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currency['units-factor']).toString().length - 1;
              if (currency.abbr === this.invoice.currency) {
                this.invoice.currencyName = currency.name
                this.invoice.amount = (this.invoice.amount * currency['units-factor']).toFixed(toFixed)
              }
            })
          } else {
            this.clickHome()
            clearInterval(update)
          }
        } else {
          clearInterval(update)
        }
      }, 5000)
    },
    async createInvoice() {
      if (this.amount === '') {
        this.notification.title = 'Amount'
        this.notification.message = 'Enter the amount!'
        this.notification.show = true
      } else if (isNaN(this.amount) || this.amount === '0') {
        this.notification.title = 'Amount'
        this.notification.message = 'Enter the correct amount!'
        this.notification.show = true
      } else {
        this.lifetime = 3600
        this.loader = true
        this.total = await this.conversionFiatToCrypto(this.$store.state.fiatCurrency, this.$store.state.cryptoCurrency)
        const options = {
          currency: this.$store.state.cryptoCurrency.toLowerCase(),
          lifetime: this.lifetime
        }
        this.currencies.forEach(currency => {
          if (currency.abbr.toLowerCase() === this.$store.state.cryptoCurrency.toLowerCase()) {
            options.amount = Math.round(this.total / parseFloat(currency['units-factor']))
          }
        })
        try {
          const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/accounts/${this.$store.state.accountId}/invoices`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(options)
          })
          localStorage['fiat'] = this.$store.state.fiatCurrency
          localStorage['crypto'] = this.$store.state.cryptoCurrency
          if (response.status === 200) {
            this.showInvoice = true
            await this.getHistory(0)
          }
          const result = await response.json()
          this.invoice = result
          this.countdown(this.invoice.expire)
          this.currencies.forEach((currency) => {
            const toFixed = currency.abbr.toLowerCase().includes('usdt') || currency.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currency['units-factor']).toString().length - 1;
            if (currency.abbr === this.invoice.currency) {
              this.invoice.currencyName = currency.name
              this.invoice.amount = (this.invoice.amount * currency['units-factor']).toFixed(toFixed)
            }
          })
          this.invoiceAddress = result.address
          const nameCrypto = await this.checkCoins()
          this.qrCodeValue = `${nameCrypto.toLowerCase()}:${result.address}?=${this.total}`
        } catch (e) {
          console.log(e)
        } finally {
          this.checkInvoice()
          this.loader = false
        }
      }
    },
    async conversionFiatToCrypto(fiat, crypto) {
      try {
        const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/ticker?currency=${crypto.toLowerCase()}`)
        const result = await response.json()
        let total
        this.currencies.forEach(currency => {
          const toFixed = currency.abbr.toLowerCase().includes('usdt') || currency.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currency['units-factor']).toString().length - 1;
          if (crypto.toLowerCase() === currency.abbr) {
            total = (Number(this.amount) / result[fiat.toLowerCase()]).toFixed(toFixed)
          }
        })
        return total
      } catch (e) {
        console.log(e)
      }
    },
    async logout() {
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      const options = {
        method: 'POST',
        headers: {
          "Authorization": `Bearer ${localStorage['access-token']}`,
          "Content-Type": 'application/json'
        }
      }
      await fetch(`${this.$store.state.serviceUrl}/api/v2/auth/logout`, options)
      this.$router.push('/auth/')
      delete localStorage['access-token']
      delete localStorage['refresh-token']
      delete localStorage['login']
      delete localStorage['fiat']
      delete localStorage['currency']
    }
  },
}
</script>

<style lang="scss">
@import "@/assets/scss/keyframes";
@import "@/assets/scss/loading";


.home {
  padding-top: 24px;

  &__title-and-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__filters {
    width: 140px;
    height: 30px;

    & .vs__dropdown-option--highlight {
      background: var(--blue);
    }

    & .vs__dropdown-toggle {
      height: 100%;
      border-color: var(--blue);
    }

    & .vs__dropdown-menu {
      border-color: var(--blue);
      width: 140px !important;
      min-width: 140px;
    }

    & .vs__dropdown-menu li {
      padding-left: 8px;
    }

    & .vs__search {
      margin-top: 2px;
    }

    & .vs__selected {
      margin-top: 2px;
    }
  }

  &__no-connection {
    text-align: center;
    width: 100%;
    padding: 8px;
    background: #FFD5C7;
    color: #cc3300;
  }

  &__no-list-history {
    font-size: 20px;
    color: var(--dark-grey);
    text-align: center;
    margin-top: 4vh;
  }

  &__terminal {
    display: flex;
    align-items: flex-start;
  }

  &__left-content {
    width: 215px;
    min-width: 215px;
    position: relative;
  }

  &__right-content {
    width: 100%;
    height: 483px;
    margin-left: 32px;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: height 0.5s, opacity 0.6s;

    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__last-payments {
    border-radius: var(--radius);
    height: calc(100% - 36.5px);
  }

  &__invoice {
    display: flex;
    align-items: center;
    max-width: 710px;
    justify-content: space-between;
    margin: 48px auto 0;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;

    &-success {
      color: #4caf50;

      h4 {
        font-size: 30px;
        font-weight: 600;
      }

      span, i {
        color: var(--dark-grey);
      }

      i {
        margin-right: 8px;
        font-size: 16px;
        font-weight: 700;
      }

      span {
        display: inline-block;
        margin-top: 6px;
        font-size: 17px;
      }
    }

    &-qr {
      margin-right: 32px;
      display: inline-block;
      font-size: 0;
      position: relative;

      &-img {
        background-color: white;
        border: 0.25rem solid white;
        border-radius: 50%;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
        height: 15% !important;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 15% !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    &__right-content {
      margin-left: 20px;
    }
  }
}

@media (max-width: 700px) {
  .home {
    min-height: 100vh;
    position: relative;

    &__title-and-filters {
      margin: 10px 0;
    }

    &__invoice {
      flex-direction: column;
      max-width: 300px;
      padding: 16px;

      &-qr {
        margin: 0;
      }
    }

    &__terminal {
      justify-content: center;
    }

    &__left-content {
      width: 300px;
    }

    &__right-content {
      padding-top: 0;
      padding-bottom: 8px;
      z-index: -1;
      height: 0;
      opacity: 0;
      position: absolute;
      background: white;
      margin-left: 0;
      max-width: 370px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #999;
      top: 68px;
    }

    &__last-payments {
      padding: 16px;

      h3 {
        margin-top: 10px;
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .home {
    &__invoice {
      max-width: 300px;
      flex-direction: column;
      justify-content: center;

      &-qr {
        margin-right: 0;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 370px) {
  .home {
    &__last-payments {
      padding: 16px 10px;
    }

    &__no-list-history {
      font-size: 18px;
    }
  }
}

</style>
