<template>
  <svg width="31" height="34" viewBox="0 0 31 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M6.18945 33V9.439C6.18945 7.64422 7.53848 6.18921 9.20253 6.18921C10.8666 6.18921 12.2156 7.64422 12.2156 9.439V25.688L29.5408 29.7502V33"
      stroke="#5D8AB9"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M6.2285 18.2973C3.16807 16.9948 1 13.7503 1 9.95385C1 5.00878 4.67853 1 9.21622 1C13.7539 1 17.4324 5.00878 17.4324 9.95385C17.4324 13.7503 15.2644 16.9948 12.2039 18.2973"
      stroke="#5D8AB9"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
