<template>
  <svg width="39" height="38" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M26.7059 2H32.8824C35.1565 2 37 3.90279 37 6.25V31.75C37 34.0973 35.1565 36 32.8824 36H26.7059M18.4706 27.5L26.7059 19M26.7059 19L18.4706 10.5M26.7059 19H2"
      stroke="#5D8AB9"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
