<template>
  <svg width="45" height="32" viewBox="0 0 45 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M31.3737 0L19.5872 14.8897H0L11.7865 0H31.3737ZM25.6228 2.84698H13.1815L5.69395 12.242H18.1352L25.6228 2.84698Z"
      fill="#5D8AB9"
    />
    <path
      d="M19.5872 17.0818L31.3737 31.9999H11.7865L0 17.0818H19.5872ZM18.1352 19.9288H5.69395L13.1815 29.3238H25.6228L18.1352 19.9288Z"
      fill="#5D8AB9"
    />
    <path
      d="M33.9645 2.27759L44.8968 15.8861L33.9929 29.5516L32.0285 27.0463L39.8008 17.3666H24.2278L23.0605 15.8861L24.2278 14.4911H40.1139L31.9431 4.83987L33.9645 2.27759Z"
      fill="#5D8AB9"
    />
  </svg>
</template>
