<template>
  <svg width="22" height="28" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M10.9039 0.277588L21.8363 13.8861L10.9324 27.5516L8.96797 25.0463L16.7402 15.3666H1.16726L0 13.8861L1.16726 12.4911H17.0534L8.88256 2.83987L10.9039 0.277588Z"
      fill="#5D8AB9"
    />
  </svg>
</template>
