<template>
  <div class="auth">
    <notification
      :title="notification.title"
      :message="notification.message"
      :show="notification.show"
      @close-notification="notification.show = !notification.show"
    />
    <div class="auth__inner">
      <Logo />
      <p>Mission control login</p>
      <input
        v-model="login.value"
        type="text"
        placeholder="Apirone account ID"
        :class="{'invalid-input': !login.valid}"
        @input="resetErrorInput('login')"
      >
      <input
        v-model="password.value"
        type="password"
        placeholder="Transfer key"
        :class="{'invalid-input': !password.valid}"
        @input="resetErrorInput('password')"
      >
      <div style="display: flex; justify-content: flex-end; width: 100%;">
        <button
          :disabled="loading"
          :class="['auth__button primary-btn', {'auth__button-loading': loading}]"
          @click.prevent="authenticate"
        >
          Log in
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/icons/Logo.vue'
import Notification from "@/components/Notification.vue";

export default {
  name: "auth",
  components: {Logo, Notification},
  data() {
    return {
      login: {
        value: '',
        valid: true
      },
      password: {
        value: '',
        valid: true
      },
      notification: {
        title: '',
        message: '',
        show: false
      },
      loading: false
    }
  },
  watch: {
    'notification.show'(newValue) {
      if (newValue === true) {
        setTimeout(() => {
          this.notification.show = false;
        }, 5000);
      }
    },
  },
  methods: {
    async authenticate() {
      const login = this.checkValidField('login')
      const password = this.checkValidField('password')
      this.loading = true
      if (login && password) {
        try {
          const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/auth/login`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              login: this.login.value.trim().replace(/\s+/g, ''),
              password: this.password.value.trim().replace(/\s+/g, '')
            })
          })
          const result = await response.json()
          switch (response.status) {
            case 200:
              localStorage['login'] = this.$store.state.login = result['login']
              localStorage['access-token'] = this.$store.state.accessToken = result['access-token']
              localStorage['refresh-token'] = this.$store.state.refreshToken = result['refresh-token']
              if (result['login'].includes('support')) {
                this.$router.push('/operations/')
              } else {
                // this.$router.push('/')
                this.$router.push('/operations/')
              }
              break;
            case 400:
              this.notification.title = 'Authorization'
              this.notification.message = 'Invalid Apirone account ID or Transfer key'
              this.notification.show = true
              break;
            case 500:
              this.notification.title = 'Error server'
              this.notification.message = 'The server is currently unavailable'
              this.notification.show = true
              break;
          }
        } catch (e) {
          console.error(`[ERROR] ${e}`)
        }
      }
      this.loading = false
    },
    checkValidField(field) {
      if (this[field].value === '') {
        this[field].valid = false
        return false
      } else {
        return true
      }
    },
    resetErrorInput(field) {
      if (field === 'login' && this[field].value.length) {
        if (this[field].value.startsWith('apr')) {
          this[field].valid = true;
        } else {
          this[field].valid = ['a', 'ap', 'apr'].includes(this[field].value);
        }
      } else {
        this[field].valid = true;
      }
    }
  }
}
</script>

<style lang="scss">
.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    &-loading {
      cursor: not-allowed;
      opacity: 0.6;
    }

    i {
      margin-right: 8px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    width: 100%;
    padding: 0 15px;

    input {
      width: 100%;
      border: 1px solid #ced4da;
      height: 35px;
      margin-bottom: 16px;
      transition: 0.2s;
      border-radius: 4px;

      &:hover {
        border-color: var(--primary);
      }

      &:focus {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.2rem rgba(93, 138, 185, 0.1);
      }
    }

    p {
      margin-top: 12px;
      margin-bottom: 24px;
      color: #909090;
    }
  }
}

</style>
