<template>
  <Base>
    Hello !
  </Base>
</template>

<script>
import Base from "@/layouts/base-layout.vue";

export default {
  name: "home",
  components: {Base},
  provide: {
    title: 'Home'
  }
}
</script>

<style scoped lang="scss">

</style>