<template>
  <div class="account">
    <MainTemplate type="account">
      <div style="align-items: flex-end" class="d-flex">
        <MainMenu type="account" view="account" style="flex-grow: 1;"/>
        <div class="testnet-cb" v-if="$route.name === 'Account Wallets'">
          <label for="showTestnet">Show testnet</label>
          <Checkbox
            id="showTestnet"
            v-model="showTestnet"
            :binary="true"
            @change="getData()"/>
        </div>
      </div>
      <LoadingTemplate v-if="loading"/>
      <EmptyTemplate text="Invalid account" v-else-if="error"/>
      <router-view v-else-if="$store.state.account"/>
    </MainTemplate>
  </div>
</template>

<script>
import MainTemplate from '@/components/templates/MainTemplate.vue';
import MainMenu from '@/components/MainMenu.vue';
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';

export default {
  components: {
    MainTemplate,
    MainMenu,
    EmptyTemplate,
    LoadingTemplate,
  },
  beforeCreate() {
    this.$store.commit('setWatchOnly', false);
    this.$store.commit('setId', this.$route.params.accountId);
  },
  async created() {
    await this.getData();
  },
  mounted() {
    this.$store.commit('setWallet', null);
    this.$store.commit('setDestinations', null);
  },
  watch: {
    showTestnet: {
      handler(to) {
        this.$store.commit('setShowTestnet', to);
        this.$router.push({ query: { testnet: to } });
      },
    },
    $route: {
      handler(to) {
        if (to?.name === 'Account Wallets' && this.showTestnet) {
          this.$router.push({ query: { testnet: 'true' } });
        }
      },
    },
  },
  data() {
    return {
      loading: true,
      error: false,
      showTestnet: false,
    };
  },
  methods: {
    async getData() {
      this.loading = true;
      const accountsRequest = this.$axios.options('/api/v2/accounts');
      const accountRequest = this.$axios.get(`/api/v2/accounts/${this.$store.state.id}`);
      await this.$axios
        .all([accountsRequest, accountRequest])
        .then(this.$axios.spread((...responses) => {
          if (this.$route?.query?.testnet === 'true') {
            this.showTestnet = true;
          }
          const accountsResponse = responses[0].data;
          const accountResponse = responses[1].data;
          if (accountResponse.watch_only || accountResponse['watch-only']) {
            this.$store.commit('setWatchOnly', true);
            if (accountResponse['paid-addresses'] !== undefined) {
              this.$store.commit('setPaidAddresses', accountResponse['paid-addresses']);
            }
          }
          const account = {
            account: accountResponse.account,
            'invoice-valid-statuses': accountsResponse['invoice-valid-statuses'],
          };
          const items = [];
          accountsResponse.currencies.forEach((currency) => {
            accountResponse.info.forEach((item) => {
              if (currency.abbr === item.currency) {
                const toFixed = (1 / currency['units-factor']).toString().length - 1;
                items.push(
                  Object.assign(item, {
                    toFixed,
                    'units-factor': parseFloat(currency['units-factor']),
                    name: currency.name,
                  }),
                );
              }
            });
          });
          this.$store.commit('setAccount', Object.assign(account, {
            info: items,
          }));
        }))
        .catch((error) => {
          if (error.response) {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: error.response.data?.message,
              life: 3000,
            });
          } else if (error.request) {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: 'Check your internet connection.',
              life: 3000,
            });
          }
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.testnet-cb {
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
  label {
    margin-right: .5rem;
    font-weight: normal;
  }
}
</style>
