<template>
  <EmptyTemplate text="Please authorize to view invoices." v-if="!$store.state.authorized"/>
  <div class="invoices" v-else>
    <ListTemplate type="account" dataType="invoices"/>
  </div>
</template>

<script>
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import ListTemplate from '@/components/templates/list/ListTemplate.vue';

export default {
  components: {
    EmptyTemplate,
    ListTemplate,
  },
};
</script>
