<template>
  <div class="account-wallets d-flex">
    <div
      class="d-flex align-items-center"
      v-for="wallet in wallets" :key="wallet.currency">
      <router-link
        v-if="$store.state.id !== ''"
        :to="{
          name: 'Account Wallet History',
          params: {
            currency: wallet.currency,
            accountId: $store.state.id,
          },
          query: {
            limit: 10,
            offset: 0,
          },
        }"
        class="account-wallet d-flex flex-column align-items-center link">
        <Avatar
          class="p-overlay-badge"
          shape="circle">
          <img
            class="account-wallet__avatar-img"
            :src="getImgSrc(wallet.currency)"
            :alt="wallet.currency"
          />
          <img
            v-if="wallet.currency.includes('@')"
            class="account-wallet__avatar-badge"
            :src="getImgSrc(wallet.currency.split('@')[1])"
            :alt="wallet.currency.split('@')[1]"
          />
        </Avatar>
        <div class="account-wallet__badges">
          <Badge v-if="wallet.destinations">
            <i class="pi pi-sort-alt rotate-90"></i>
          </Badge>
          <Badge v-if="wallet['processing-fee-policy'] === 'percentage'">
            <i class="pi pi-percentage"></i>
          </Badge>
        </div>
        <div class="d-flex flex-column align-items-center text-center">
          <h2>{{wallet.name}}</h2>
          <div class="amount" v-if="!loading">
            <span>{{ (wallet.amount *
              wallet['units-factor']).toFixed(wallet.toFixed).slice(0, -4) }}</span>
            <span class="postfix">{{ (wallet.amount *
              wallet['units-factor']).toFixed(wallet.toFixed).slice(-4) }}</span>
            <span class="currency">{{ formatCurrency(wallet.currency) }}</span>
          </div>
          <div class="d-flex align-items-center amount" v-else>
            <Skeleton height="1rem" width="5rem"/>
            <span class="currency">{{ formatCurrency(wallet.currency) }}</span>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      wallets: this.filterWallets(Object.assign(this.$store.state.account.info)),
      loading: true,
    };
  },
  mounted() {
    this.getBalance();
  },
  methods: {
    getBalance() {
      this.loading = true;
      this.$axios
        .get(`/api/v2/accounts/${this.$store.state.id}/balance`)
        .then((response) => {
          const wallets = [];
          response.data.balance.forEach((item) => {
            this.wallets.forEach((wallet) => {
              if (wallet.currency === item.currency) {
                wallets.push(
                  Object.assign(wallet, {
                    amount: item.available,
                  }),
                );
              }
            });
          });
          this.wallets = wallets;
          this.loading = false;
        });
    },
    filterWallets(wallets) {
      const filteredWallets = [];
      const { showTestnet } = this.$store.state;
      wallets.forEach((wallet) => {
        if (showTestnet || (!showTestnet && !wallet.name.includes('testnet'))) {
          filteredWallets.push(wallet);
        }
      });
      return filteredWallets;
    },
  },
};
</script>

<style lang="scss" scoped>
.account-wallets {
  flex-wrap: wrap;
  margin: -.5rem;
  >div {
    flex: 0 0 25%;
    .account-wallet {
      position: relative;
      margin: .5rem;
      padding: 1rem;
      width: 100%;
      background: rgba(#5d8ab9, .1);
      border-radius: 3px;
      .p-avatar {
        background: none;
        position: relative;
        min-width: 6rem;
        width: 6rem;
        height: 6rem;
        transition: .3s;

        .account-wallet__avatar-badge {
          position: absolute;
          top: 4.5rem;
          left: 4.5rem;
          width: 2rem;
          height: 2rem;
          border: 1px solid #fff;
        }
      }
      &:hover {
        .p-avatar {
          transform: scale(1.1);
        }
      }
      .account-wallet__badges {
        position: absolute;
        top: 0;
        right: 0;
        .p-badge {
          display: block;
          margin: .5rem;
          padding: 0 0.3rem;
          border-radius: 50%;
          i {
            font-size: .7rem
          }
        }
      }
      h2 {
        margin-top: 1rem;
        margin-bottom: .2rem;
        font-size: 1rem;
      }
      .amount {
        opacity: .7;
        width: fit-content;
      }
      .p-skeleton {
        background-color: #000;
        opacity: .1;
      }
    }
  }

  @media (max-width: 1024px) {
    >div {
      flex: 0 0 33.3%;
    }
  }

  @media (max-width: 768px) {
    >div {
      flex: 0 0 50%;
    }
  }

  @media (max-width: 480px) {
    >div {
      flex: 0 0 100%;
    }
  }
}
</style>
