<script>
  import {page} from "$app/stores";
  import moment from 'moment'
  import addDevice from "$components/devices/addDevice.svelte";
  import Notification from "$components/parts/Notification.svelte";
  import http from "$lib/http.js";

  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''

  export let isValidNotification = true

  const devices = $page.data.devices
  export let isShowCreateDevice = false
  const customerKey = $page.params.customer_key;

  async function deleteDevice(device) {
    const response = await http.callMethod(`/customers/${customerKey}/devices/${device}`, {
      method: 'DELETE'
    })
  }

  let showDeviceDataInfo
</script>

<section class="devices">
  <div class="devices__header">
    <h1>Devices</h1>
    <button on:click={() => {isShowCreateDevice = true}} class="button-plus">+</button>
  </div>
  <div class="devices__content">
    <table class="table" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Heartbeat</th>
        <th>Model</th>
        <th>Serial number</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {#each devices as device}
        <tr>
          <td>{device.code}</td>
          <td>{device.title ? device.title : 'You are no have a title :('}</td>
          <td>{moment(device.heartbeat).utc().format('DD.MM.YYYY:HH:mm')}</td>
          <td>{device.data.model}</td>
          <td>{device.data.sn}</td>
          <td style="position: relative">
            <button on:click|preventDefault={() => {deleteDevice(device.data.model)}} class="devices__btn-delete">
              <i class="apr apr-trash"></i></button>
            <button on:click|preventDefault={() => {showDeviceDataInfo = device.data.sn}} class="devices__btn-info">
              <i class="apr apr-info"></i>
            </button>
            {#if showDeviceDataInfo === device.data.sn}
              <div class="devices__data-info">
                <button on:click|preventDefault={() => {showDeviceDataInfo = null}}><i class="apr apr-cancel_small"></i></button>
                <h4>Data</h4>
                {#each Object.entries(device.data) as [index, data]}
                  <div>
                    <span>{index}</span>
                    <p>{data}</p>
                  </div>
                {/each}
              </div>
            {/if}
          </td>
        </tr>
      {/each}
      </tbody>
    </table>
  </div>
</section>
<svelte:component
  this={addDevice}
  bind:isShowCreateDevice
  bind:isShowNotification
  bind:titleNotification
  bind:messageNotification
  bind:isValidNotification
/>
<svelte:component
  this={Notification}
  bind:isShow={isShowNotification}
  bind:title={titleNotification}
  bind:message={messageNotification}
  bind:isValid={isValidNotification}
/>

<style lang="scss">
  .devices {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;

      h1 {
        margin-bottom: 0;
      }
    }

    &__btn {
      &-delete {
        color: red !important;
        font-size: 20px !important;
        height: 24px;
        border: none;
      }

      &-info {
        border: none;
        color: var(--orange);
        font-size: 20px;
        height: 24px;
        margin-left: 8px;
      }
    }

    &__data-info {
      position: absolute;
      right: 5px;
      top: 90%;
      width: 300px;
      background: white;
      padding: 16px;
      border-radius: 3px;
      box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
      z-index: 10;

      button {
        font-size: 10px;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 2px solid var(--black);
        background: white;
        transition: 0.2s;

        &:hover {
          background: var(--lime);
        }
      }

      h4 {
        margin-bottom: 24px;
        font-size: 20px;
      }

      div {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        span {
          font-weight: 600;
        }
      }
    }
  }
</style>

