<template>
  <section class="callback">
    <div>
      <div class="d-flex justify-content-between settings__header" style="align-items: flex-start">
        <h3 style="margin-top: 0;">Callback</h3>
        <div style="display: flex">
          <div class="settings__heading d-flex align-items-center">
            <InputSwitch v-model="callback.flag" style="margin-right: 1rem;"/>
          </div>
          <Button
            type="button"
            :icon="onSaveLoading ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
            label="Save"
            :disabled="onSaveLoading"
            class="settings__button"
            @click="$emit('save')"/>
        </div>
      </div>
      <div class="settings__callback" v-if="callback.flag">
        <div class="request__input">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-globe"></i>
            </span>
            <Dropdown
              :options="['GET', 'POST']"
              v-model="callback.method"
              style="max-width: 6rem;"/>
            <InputText placeholder="https://example.com" v-model="callback.url"/>
          </div>
        </div>
        <p>Data in JSON format</p>
        <JsonEditor v-model="callback.json"/>
      </div>
      <div class="settings__disabled-section" v-else>
        <img
          srcset="@/assets/settings/callback.webp"
          src="@/assets/settings/callback.png"
          alt="callback"
        >
        <p>Enable to setup callback parameters.</p>
      </div>
    </div>
  </section>
</template>

<script>
import JsonEditor from '@/components/JsonEditor.vue';

export default {
  name: 'callback',
  components: {JsonEditor},
  props: {
    modelValue: {
      type: Object,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: {},
    },
    onSaveLoading: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    this.callback = this.modelValue;
  },
  data() {
    return {
      callback: {
        json: '',
        method: 'POST',
        url: '',
        flag: false,
      },
    };
  },
  watch: {
    callback(to) {
      this.$emit('update:modelValue', to);
    },
  },

};
</script>

<style scoped lang="scss">

</style>
