<template>
  <section class="fee-policy">
    <div>
      <div class="d-flex justify-content-between settings__header" style="align-items: flex-start">
        <h3 style="margin-top: 0;">Processing fee policy*</h3>
        <Button
          type="button"
          :icon="onSaveLoading ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
          label="Save"
          :disabled="onSaveLoading"
          class=" settings__button"
          @click="$emit('save')"/>
      </div>
      <div>
        <div class="d-flex align-items-center settings__policy-item">
          <RadioButton v-model="policy" inputId="policy1" name="policy" value="fixed"/>
          <label for="policy1">Fixed</label>
        </div>
        <p>
          For this plan instantly <b>forwarding</b> transactions costs
          {{
            ($store.state.pricing.data.fixed.forwarding *
              $store.state.pricing.data.fixed['units-factor'])
          }}
          {{ $store.state.currency.toUpperCase() }}
          and <b>regular</b> transactions costs
          {{
            ($store.state.pricing.data.fixed.regular *
              $store.state.pricing.data.fixed['units-factor'])
          }}
          {{ $store.state.currency.toUpperCase() }}
          for each.
        </p>
        <div style="margin-top: 32px;" class="d-flex align-items-center settings__policy-item">
          <RadioButton v-model="policy" inputId="policy2" name="policy" value="percentage"/>
          <label for="policy2">Percentage</label>
        </div>
        <p>
          {{ $store.state.pricing.data.percentage.regular }}
          fee for all outcoming transactions.
        </p>
        <p
          style="font-size: 12px; color: #6C757D; margin-top: 60px; margin-bottom: 0;"
        >
          * See
          <a
            class="settings__link"
            target="_blank"
            :href="$store.state.serviceUrl + '/pricing/#fixed-fees'">
            Pricing
          </a>
          for more details
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'fee-policy',
  data() {
    return {
      policy: 'fixed',
    };
  },
  props: {
    onSaveLoading: {
      type: Boolean,
      default: false,
    },
    modelValue: {
      type: String,
      default: '',
    },
  },
  watch: {
    policy(to) {
      this.$emit('update:modelValue', to);
    },
  },
  mounted() {
    this.policy = this.modelValue;
  },
};
</script>
