<template>
  <section class="forwarding-destinations">
    <div>
      <div class="d-flex justify-content-between" style="align-items: flex-start">
        <h3 style="margin-top: 0;">Forwarding Destinations</h3>
        <div style="display: flex">
          <div class="settings__heading d-flex align-items-center">
            <InputSwitch v-model="$parent.$data.destinations.flag" style="margin-right: 1rem;"/>
          </div>
          <Button
            type="button"
            :icon="onSaveLoading ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
            label="Save"
            :disabled="onSaveLoading"
            class="forwarding-destinations__button"
            @click="$emit('save')"/>
        </div>
      </div>
      <div
        class="settings__tab"
        v-if="!$store.state.watchOnly">
        <div class="settings__destinations" v-if="$parent.$data.destinations.flag">
          <slot name="inputsList"></slot>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'forwarding-destinations',
  data() {
    return {
    };
  },
  props: {
    onSaveLoading: {
      type: Boolean,
      default: false,
    },
    destinations: {
      type: Boolean,
      default: false,
    },
    inputsList: {
      type: Array,
    },
  },

};
</script>

<style lang="scss">

.forwarding-destinations {
  &__button {
    margin: 0;
    padding: 4px;
    background: none;
    border: none;
    color: #5D8AB9 !important;

    &:hover {
      opacity: 0.6;
    }
  }
}

</style>
