<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M21.3333 0H2.66667C1.2 0 0 1.2 0 2.66667V21.3333C0 22.8 1.2 24 2.66667 24H21.3333C22.8 24 24 22.8 24 21.3333V2.66667C24 1.2 22.8 0 21.3333 0ZM21.3333 14.6667H16.5867C16.1067 14.6667 15.68 14.92 15.44 15.3333C14.7467 16.5333 13.48 17.3333 12 17.3333C10.52 17.3333 9.25333 16.5333 8.56 15.3333C8.44366 15.1318 8.27661 14.9643 8.07545 14.8473C7.87428 14.7303 7.64602 14.6681 7.41333 14.6667H2.66667V2.66667H21.3333V14.6667ZM15.72 9.33333H13.3333V5.33333C13.3333 4.6 12.7333 4 12 4C11.2667 4 10.6667 4.6 10.6667 5.33333V9.33333H8.28C7.68 9.33333 7.38667 10.0533 7.81333 10.4667L11.5333 14.1867C11.8 14.4533 12.2133 14.4533 12.48 14.1867L16.2 10.4667C16.2921 10.3727 16.3544 10.2535 16.3789 10.1242C16.4034 9.99487 16.3891 9.86119 16.3378 9.73999C16.2865 9.61879 16.2004 9.5155 16.0905 9.44313C15.9805 9.37077 15.8516 9.33256 15.72 9.33333Z"
      fill="#5A5A5A"/>
  </svg>
</template>