<template>
  <svg width="26" height="26" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 17C0 16.4477 0.447715 16 1 16H6.11111C6.6634 16 7.11111 16.4477 7.11111 17V32H0V17Z"
          fill="#5A5A5A"/>
    <path
      d="M12.4492 1C12.4492 0.447715 12.8969 0 13.4492 0H18.5603C19.1126 0 19.5603 0.447715 19.5603 1V32H12.4492V1Z"
      fill="#5A5A5A"/>
    <path
      d="M24.8906 10.3333C24.8906 9.78097 25.3383 9.33325 25.8906 9.33325H31.0017C31.554 9.33325 32.0017 9.78097 32.0017 10.3333V31.9999H24.8906V10.3333Z"
      fill="#5A5A5A"/>
  </svg>
</template>