<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 122.88 122.88" xml:space="preserve"
       width="18"
  >
    <g><path class="st0" d="M0,61.44C0,44.47,6.88,29.11,18,18C29.11,6.88,44.47,0,61.44,0s32.33,6.88,43.44,18 c11.12,11.12,18,26.48,18,43.44c0,16.97-6.88,32.33-18,43.44c-11.12,11.12-26.48,18-43.44,18c-16.97,0-32.33-6.88-43.44-18 C6.88,93.77,0,78.41,0,61.44L0,61.44L0,61.44z M77.56,45.69v-1.73H52.84l13.77,13.84c0.98,0.99,1.46,2.27,1.46,3.56 c0,1.29-0.5,2.58-1.48,3.56l-14.1,14h25.08V77.3c0-1.23,1-2.23,2.23-2.23h5.63c1.23,0,2.23,1,2.23,2.23v6.66 c0,1.39-0.57,2.65-1.48,3.56l-0.01,0.01c-0.91,0.91-2.17,1.48-3.56,1.48H40.26c-0.09,0-0.17-0.01-0.26-0.02 c-0.57-0.03-1.13-0.16-1.67-0.38c-0.59-0.25-1.15-0.61-1.63-1.1c-0.98-0.99-1.46-2.27-1.46-3.56c0-1.29,0.5-2.58,1.48-3.56 l19.21-19.06L37.36,42.66c-0.51-0.45-0.92-1.02-1.21-1.65c-0.3-0.65-0.46-1.36-0.46-2.09c0-1.39,0.57-2.65,1.48-3.56l0.01-0.01 c0.91-0.91,2.17-1.48,3.56-1.48h41.88c1.39,0,2.65,0.57,3.56,1.48l0.01,0.01c0.91,0.91,1.48,2.17,1.48,3.56v6.77 c0,1.23-1,2.23-2.23,2.23h-5.63C78.56,47.92,77.56,46.92,77.56,45.69L77.56,45.69z M25.46,25.46c-9.21,9.21-14.9,21.93-14.9,35.98 s5.7,26.78,14.9,35.98c9.21,9.21,21.93,14.9,35.98,14.9c14.05,0,26.78-5.7,35.98-14.9c9.21-9.21,14.9-21.93,14.9-35.98 s-5.7-26.78-14.9-35.98c-9.21-9.21-21.93-14.9-35.98-14.9C47.39,10.55,34.66,16.25,25.46,25.46L25.46,25.46L25.46,25.46z"/></g>
</svg>
</template>
<style>
.st0 {
  fill: #ed8e68;
  fill-rule: evenodd;
  clip-rule: evenodd;
}
</style>