<template>
  <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14 5L6 14.6H13.2L12.4 21L20.4 11.4H13.2L14 5Z" fill="#CC3333"/>
    <path
      d="M25 13C25 10.0385 23.9049 7.18165 21.9254 4.97895C19.9459 2.77626 17.2217 1.38335 14.2771 1.06818C11.3324 0.753007 8.37523 1.53784 5.97437 3.2717C3.57352 5.00556 1.89861 7.56597 1.27185 10.4604C0.645088 13.3548 1.11075 16.3787 2.57926 18.9504C4.04776 21.5222 6.41538 23.4601 9.22664 24.3913C12.0379 25.3225 15.0942 25.1813 17.8076 23.9948C20.521 22.8084 22.6999 20.6604 23.925 17.9643M25 13L27.5714 10.4286M25 13L22.4285 10.4286"
      stroke="#CC3333"/>
  </svg>
</template>