<template>
  <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12.5676 4.58602C10.5043 7.00639 5.05419 6.24206 7.00074 0C5.87447 0.558409 4.77028 1.47122 3.78378 2.60832C2.81882 3.72061 1.96647 5.0475 1.31624 6.46722C-1.15997 11.8738 -0.705085 18.6265 7.62353 20C14.6747 18.7049 15.678 13.7085 14.9235 9.71046C14.4658 7.28519 13.3613 5.22733 12.5676 4.58602ZM7.62353 10.913C11.8668 15.2866 12.1004 17.3673 7.62353 20C5.23586 19.3347 1.70626 16.4331 7.62353 10.913Z"
          fill="#3B66FE"/>
  </svg>
</template>