<template>
  <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M5.8 12.2L1 17M1 17L5.8 21.8M1 17H33M12.2 5.8L17 1M17 1L21.8 5.8M17 1V33M21.8 28.2L17 33M17 33L12.2 28.2M28.2 12.2L33 17M33 17L28.2 21.8"
      stroke="#CC3333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>