<template>
  <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M17.0541 8.66881C15.4034 10.6051 11.0434 9.99365 12.6006 5C11.6996 5.44673 10.8162 6.17698 10.027 7.08666C9.25505 7.97649 8.57318 9.038 8.05299 10.1738C6.07202 14.499 6.43593 19.9012 13.0988 21C18.7397 19.9639 19.5424 15.9668 18.9388 12.7684C18.5727 10.8282 17.689 9.18187 17.0541 8.66881ZM13.0988 13.7304C16.4935 17.2293 16.6803 18.8938 13.0988 21C11.1887 20.4678 8.36501 18.1465 13.0988 13.7304Z"
          fill="#3B66FE"/>
    <path
      d="M25 13C25 10.0385 23.9049 7.18165 21.9254 4.97895C19.9459 2.77626 17.2217 1.38335 14.2771 1.06818C11.3324 0.753007 8.37523 1.53784 5.97437 3.2717C3.57352 5.00556 1.89861 7.56597 1.27185 10.4604C0.645088 13.3548 1.11075 16.3787 2.57926 18.9504C4.04776 21.5222 6.41538 23.4601 9.22664 24.3913C12.0379 25.3225 15.0942 25.1813 17.8076 23.9948C20.521 22.8084 22.6999 20.6604 23.925 17.9643M25 13L27.5714 10.4286M25 13L22.4285 10.4286"
      stroke="#3B66FE"/>
  </svg>
</template>