<template>
  <ListTemplate :type="this.type" :currency="this.currency" dataType="addresses"/>
</template>

<script>
import ListTemplate from '@/components/templates/list/ListTemplate.vue';

export default {
  components: {
    ListTemplate,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
};
</script>

<style lang="scss" scoped>
.qr-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  >* {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
}
</style>
