<template>
  <LoadingTemplate v-if="loading"/>
  <EmptyTemplate :text="message" v-else-if="error"/>
  <div class="address" v-else-if="item">
    <Button
      label="Back"
      icon="pi pi-angle-left"
      class="p-button-text"
      style="padding: 0;"
      @click="$router.go(-1)"/>
    <div class="d-flex justify-content-between">
      <div class="address__balance">
        <h2 class="d-flex align-items-center">
          <CopyButton :text="addressId"/>
          <span v-if="isAdaptiveAddress">{{ getShorter(addressId) }}</span>
          <span v-else>{{ addressId }}</span>
          <a
            :href="getExplorerHref($store.state.wallet.name, 'address', addressId, $store.state.wallet.currency)"
            target="_blank"
            class="link hovered">
            <span class="pi pi-external-link"></span>
          </a>
        </h2>
        <div class="address__info-container">
          <div class="address__info">
            <div class="d-flex align-items-center justify-content-between">
              <h3>Available</h3>
              <div class="amount">
              <span>{{
                  (item.balance.available *
                    $store.state.wallet['units-factor'])
                    .toFixed($store.state.wallet.toFixed)
                    .slice(0, -4)
                }}</span>
                <span class="postfix">{{
                    (item.balance.available *
                      $store.state.wallet['units-factor'])
                      .toFixed($store.state.wallet.toFixed)
                      .slice(-4)
                  }}</span>
                <span class="currency">
                {{ formatCurrency($store.state.currency) }}
              </span>
              </div>
            </div>
            <div
              style="opacity: 0.6; font-size: 0.95rem; color: #495057"
              class="d-flex align-items-center justify-content-end"
            >
              <div class="amount">
              <span>
                {{
                  (item.balance.available * $store.state.wallet['units-factor'] *
                    $store.state.ticker.current.value).toFixed(2)
                }}
              </span>
                <span class="currency">{{ $store.state.ticker.current.name }}</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="address__total-title">
                <h3>
                  Total
                </h3>
              </div>
              <div class="amount">
              <span>{{
                  (item.balance.total *
                    $store.state.wallet['units-factor'])
                    .toFixed($store.state.wallet.toFixed)
                    .slice(0, -4)
                }}</span>
                <span class="postfix">{{
                    (item.balance.total *
                      $store.state.wallet['units-factor'])
                      .toFixed($store.state.wallet.toFixed)
                      .slice(-4)
                  }}</span>
                <span class="currency">
                {{ formatCurrency($store.state.currency) }}
              </span>
              </div>
            </div>
            <div
              style="opacity: 0.6; font-size: 0.95rem; color: #495057; margin: 0 0 0.5rem;"
              class="d-flex align-items-center justify-content-end"
            >
              <div class="amount">
              <span>
                {{
                  (item.balance.total * $store.state.wallet['units-factor'] *
                    $store.state.ticker.current.value).toFixed(2)
                }}
              </span>
                <span class="currency">{{ $store.state.ticker.current.name }}</span>
              </div>
            </div>
          </div>
          <div class="address__info">
            <div class="d-flex align-items-center justify-content-between">
              <h3>Sent</h3>
              <div class="amount" v-if="stat">
              <span>{{
                  (stat.sent *
                    $store.state.wallet['units-factor'])
                    .toFixed($store.state.wallet.toFixed)
                    .slice(0, -4)
                }}</span>
                <span class="postfix">{{
                    (stat.sent *
                      $store.state.wallet['units-factor'])
                      .toFixed($store.state.wallet.toFixed)
                      .slice(-4)
                  }}</span>
                <span class="currency">
                {{ formatCurrency($store.state.currency) }}
              </span>
              </div>
              <div v-else>
                <Skeleton width="8rem" height="1rem"></Skeleton>
              </div>
            </div>
            <div
              style="opacity: 0.85; font-size: 0.95rem; color: #495057;"
              class="d-flex align-items-center justify-content-end"
            >
              <div class="amount" v-if="stat">
              <span>
                {{
                  (stat.sent * $store.state.wallet['units-factor'] *
                    $store.state.ticker.current.value).toFixed(2)
                }}
              </span>
                <span class="currency">{{ $store.state.ticker.current.name }}</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <h3>Received</h3>
              <div class="amount" v-if="stat">
              <span>{{
                  (stat.received *
                    $store.state.wallet['units-factor'])
                    .toFixed($store.state.wallet.toFixed)
                    .slice(0, -4)
                }}</span>
                <span class="postfix">{{
                    (stat.received *
                      $store.state.wallet['units-factor'])
                      .toFixed($store.state.wallet.toFixed)
                      .slice(-4)
                  }}</span>
                <span class="currency">
                {{ formatCurrency($store.state.currency) }}
              </span>
              </div>
              <div v-else>
                <Skeleton width="8rem" height="1rem"></Skeleton>
              </div>
            </div>
            <div
              style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0 0 0.5rem;"
              class="d-flex align-items-center justify-content-end"
            >
              <div class="amount" v-if="stat">
              <span>
                {{
                  (stat.received * $store.state.wallet['units-factor'] *
                    $store.state.ticker.current.value).toFixed(2)
                }}
              </span>
                <span class="currency">{{ $store.state.ticker.current.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="address__sidebar">
        <div class="qr-container">
          <QRCode :value="addressId" :size="$store.state.shorterFlag ? 122 : 160"/>
        </div>
        <div class="address-buttons w-100">
          <router-link
            :to="getLink('Transfer')"
            v-tooltip="'Transfer from this address'"
            v-if="item.balance.available > 0"
            class="p-button p-component p-button-outlined link hovered">
            <span class="pi pi-arrow-right p-button-icon p-button-icon-left"></span>
            <span class="p-button-label">Transfer</span>
          </router-link>
          <Button
            v-tooltip="`Address balance is 0 ${$store.state.currency.toUpperCase()}`"
            label="Transfer"
            icon="pi pi-arrow-right"
            class="p-button-outlined disabled-button"
            v-else/>
          <router-link
            :to="getLink('Callback log')"
            v-if="$store.state.authorized"
            class="p-button p-component p-button-outlined link hovered">
            <span class="pi pi-code p-button-icon p-button-icon-left"></span>
            <span class="p-button-label">Callback log</span>
          </router-link>
          <Button
            v-tooltip="'Authorize to view Callback log'"
            label="Callback log"
            icon="pi pi-code"
            class="p-button-outlined disabled-button"
            v-else/>
        </div>
      </div>
    </div>
    <h2>Transactions</h2>
    <ListTemplate
      :type="type"
      :currency="currency"
      dataType="txs"
      :urlData="`addresses/${addressId}/history`"
      :enableQ="false"/>
  </div>
</template>

<script>
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import ListTemplate from '@/components/templates/list/ListTemplate.vue';
import CopyButton from '@/components/buttons/CopyButton.vue';

export default {
  components: {
    LoadingTemplate,
    EmptyTemplate,
    ListTemplate,
    CopyButton,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      id: this.$store.state.id,
      addressId: this.$route.params.addressId,
      loading: true,
      error: false,
      item: null,
      stat: null,
      successCopy: false,
      isAdaptiveAddress: false,
    };
  },
  mounted() {
    this.getData();
    window.addEventListener('resize', (event) => {
      if (window.innerWidth <= 600) {
        this.isAdaptiveAddress = true;
      } else {
        this.isAdaptiveAddress = false;
      }
    });
  },
  methods: {
    getData() {
      const queryParams =
        this.type === 'account'
          ? `?currency=${this.$store.state.currency}`
          : ''
      this.$axios
        .get(`/api/v2/${this.type}s/${this.id}/addresses/${this.addressId}${queryParams}`)
        .then((response) => {
          const item = response.data;
          if (item.created) {
            const date = new Date(Date.parse(`${item.created.slice(0, 19)}+00:00`));
            const dateTime = `${date.toLocaleDateString(navigator.language || navigator.userLanguage)} ${this.getTime(date)}`;
            item.created = dateTime;
          }
          this.item = item;
        })
        .catch((error) => {
          this.message = error?.response?.data?.message;
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
      this.$axios
        .get(`/api/v2/${this.type}s/${this.id}/addresses/${this.addressId}/stat${queryParams}`)
        .then((response) => {
          this.stat = {
            sent: response.data['total-transferred'],
            received: response.data['total-received'],
          };
        });
    },
    getShorter(value) {
      return `${value.slice(0, 5)}...${value.slice(-4)}`;
    },
    getLink(routeName) {
      const routesPrefix = this.type === 'account' ? 'Account ' : '';
      let to = {
        name: `${routesPrefix}Wallet ${routeName}`,
        params: {
          [`${this.type}Id`]: this.$store.state.id,
        },
      };
      if (this.currency) {
        to.params = Object.assign(to.params, {
          currency: this.currency,
        });
      }
      if (routeName === 'Callback log') {
        to = Object.assign(to, {
          query: {
            offset: 0,
            limit: 10,
          },
        });
        to.params = Object.assign(to.params, {
          addressId: this.addressId,
        });
      } else if (routeName === 'Transfer') {
        to = Object.assign(to, {
          query: {
            addresses: this.addressId,
          },
        });
      }
      return to;
    },
  },
};
</script>

<style lang="scss" scoped>
.address__info {
  width: 50%;

  & + .address__info {
    margin-left: 32px;
  }

  &-container {
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
  }

  &:nth-child(3) {
    opacity: .7;
  }
}

.address__total-title {
  position: relative;
  &:hover {
      .address__hint {
        transform: scaleY(1);
      }
    }

  & h3 {
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    & i {
      font-size: 10px;
      margin-left: 2px;
    }
  }
}

@media (max-width: 610px) {
  .address {
    &__info {
      width: 100%;
      margin-left: 0 !important;
      &-container {
        flex-wrap: wrap;
      }
    }
  }
}

.address__hint {
  color: #a1a1a1;
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.1);
  position: absolute;
  padding: 6px 10px;
  width: 181px;
  border-radius: 3px;
  z-index: 1;
  top: -14px;
  left: 36px;
  transition: 0.2s;
  transform: scaleY(0);
}

.address__balance {
  width: 100%;
  max-width: 600px;
  margin-bottom: 3rem;
  margin-right: 2rem;

  h2 {
    line-height: 100%;

    .link {
      margin-left: .5rem;
      color: #5d8ab9;
    }
  }

  h3 {
    margin: .5rem 0;
  }
}

.address__sidebar {
  width: 160px;
}

.qr-container {
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-top: 1.245rem;

  > * {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
}

.address {
  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  @media screen and (max-width: 800px) {
    .address__sidebar {
      width: 122px;
    }
    .qr-container {
      width: 122px;
      height: 122px;
    }
  }
  @media screen and (max-width: 400px) {
    .address__info {
      & > .d-flex {
        display: block;
        margin: .5rem 0;
      }

      & + .address__info {
        display: none;
      }

      transform: translateY(-4px);
    }
  }
}
</style>

<style lang="scss">
.address {
  h2 .button-copy .p-button {
    width: 1rem;
    padding: 0;
    margin-right: .5rem;
  }
}

.address-buttons {
  margin-top: .25rem;

  .p-button {
    width: 100%;
    margin: .25rem 0;

    &.disabled-button {
      cursor: default;
      user-select: none;
      opacity: .6;

      &:hover {
        background: #ffffff;
      }
    }
  }
}
</style>
