<template>
  <div class="billing-template">
    <div class="d-flex align-items-center" style="margin-bottom: 2rem;">
      <span style="margin-right: 1rem;">Payment currency:</span>
      <Dropdown
        :options="currencies.list"
        v-model="currencies.current"
        style="width: 180px;"
        v-if="currencies">
        <template #value="slotProps">
          <div class="d-flex align-items-center">
            <img
              :src="getImgSrc(slotProps.value.abbr)"
              :alt="slotProps.value.abbr"
              style="margin-right: .2rem; height: 1rem;">
            <span>{{ slotProps.value.name }}</span>
          </div>
        </template>
        <template #option="slotProps">
          <div class="d-flex align-items-center">
            <img
              :src="getImgSrc(slotProps.option.abbr)"
              :alt="slotProps.option.abbr"
              style="margin-right: .2rem; height: 1rem;">
            <span>{{ slotProps.option.name }}</span>
          </div>
        </template>
      </Dropdown>
      <Dropdown placeholder="Loading..." :loading="true" style="width: 180px;" v-else />
    </div>
    <LoadingTemplate v-if="loading" style="height: 14rem;" />
    <div class="pricing-plans">
      <div class="pricing-plans__grid">
        <div class="pricing-plans__col" v-for="item in data" :key="item.id">
          <div class="pricing-plans__item-wrapper">
            <div class="pricing-plans__item">
              <h4>{{ item.title }}</h4>
              <strong>
                {{ item.size }}
                <span v-if="item.size === 1">address</span>
                <span v-else>addresses</span>
              </strong>
              <hr />
              <div class="amount" v-if="toFixed">
                <span>{{
                  (item.price * item.packets_quantity * unitsFactor)
                    .toFixed(toFixed).slice(0, -4)
                }}</span>
                <span class="postfix">
                  {{ (item.price * unitsFactor).toFixed(toFixed).slice(-4) }}
                </span>
                <span class="currency">{{ formatCurrency(billingCurrency) }}</span>
              </div>
              <hr />
              <InputNumber
                v-model="item.packets_quantity"
                mode="decimal"
                showButtons
                :min="1" />
              <hr />
              <Button
                class="w-100"
                :label="
                  `Buy ${item.packets_quantity || 1} package${item.packets_quantity > 1 ? 's' : ''}`
                "
                :icon="payLoading === item.id ? 'pi pi-spin pi-spinner' : 'pi pi-shopping-cart'"
                :disabled="payLoading === item.id"
                @click="pay(item)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';

export default {
  components: {
    LoadingTemplate,
  },
  data() {
    return {
      loading: true,
      data: [],
      toFixed: null,
      unitsFactor: null,
      billingCurrency: '',
      payLoading: null,
      currencies: null,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      this.loading = true;
      const accountsRequest = this.$axios.options('/api/v2/accounts');
      const billingRequest = this.$axios.options('/api/v2/billing');
      this.$axios
        .all([accountsRequest, billingRequest])
        .then(this.$axios.spread((...responses) => {
          const accountsResponse = responses[0].data;
          const billingResponse = responses[1].data;
          this.currencies = {
            list: accountsResponse.currencies.filter((item) => (!item.name.includes('testnet') || billingResponse['billing-currency'] === item.abbr)),
            current: accountsResponse.currencies.find((item) => (billingResponse['billing-currency'] === item.abbr)),
          };
          accountsResponse.currencies.forEach((currency) => {
            if (billingResponse['billing-currency'] === currency.abbr) {
              this.billingCurrency = currency.abbr;
              this.unitsFactor = currency['units-factor'];
              this.toFixed = (1 / this.unitsFactor).toString().length - 1;
              this.data = billingResponse['non-custodial-plans'].map((v) => Object.assign(v, { packets_quantity: 1 }));
            }
          });
        }))
        .catch((error) => {
          if (error.response) {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: 'Something went wrong. Please try again later.',
              life: 3000,
            });
          } else if (error.request) {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: 'Check your internet connection.',
              life: 3000,
            });
          }
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
    },
    pay(data) {
      this.payLoading = data.id;
      this.$axios
        .post('/api/v2/billing/order', {
          payment_currency: this.currencies.current.abbr,
          purchasing_item: 'non-custodial-address-slots',
          account_key: this.$store.state.id,
          packet_id: data.id,
          packets_quantity: data.packets_quantity || 1,
          linkback: window.location.href,
        })
        .then((response) => {
          window.location.href = response.data['invoice-url'];
        })
        .catch((error) => {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error?.response?.data?.message,
            life: 3000,
          });
        })
        .then(() => {
          this.payLoading = null;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.billing-template {
  width: 90vw;
}

.pricing-plans {
  margin: -1rem;
  .pricing-plans__grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }

  .pricing-plans__col {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;

    @media screen and (min-width: 992px) {
      flex: 0 0 auto;
      padding: 0.5rem;
      width: 33.3333%;
    }
  }

  .pricing-plans__item-wrapper {
    height: 100%;
    padding: 1rem;

    .pricing-plans__item {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1rem;
      border-radius: 6px;
      box-shadow: 0px 4px 10px rgb(0 0 0 / 3%),
                  0px 0px 2px rgb(0 0 0 / 6%),
                  0px 2px 6px rgb(0 0 0 / 12%);

      hr {
        width: 100%;
        margin: 1rem 0;
        border-top: 1px solid #dee2e6;
      }

      h4 {
        font-size: 1.15rem;
      }

      strong {
        opacity: .8;
      }
    }
  }
}
</style>
