<template>
  <EmptyTemplate text="Please authorize to view callback log." v-if="!$store.state.authorized"/>
  <div class="callback-log" v-else>
    <Button
      label="Back"
      icon="pi pi-angle-left"
      class="p-button-text"
      style="padding: 0;"
      @click="$router.go(-1)"/>
    <h2 class="d-flex align-items-center">
      <CopyButton :text="addressId"/>
      <router-link :to="getRouterLink()" class="link hovered">
        <span v-if="$store.state.shorterFlag">
          {{ `${addressId.slice(0, 5)}...${addressId.slice(-4)}` }}
        </span>
        <span v-else>{{ addressId }}</span>
      </router-link>
    </h2>
    <h3>Callback log</h3>
    <ListTemplate
      :type="type"
      :currency="currency"
      dataType="callbackLog"
      :urlData="`addresses/${addressId}/callback-log`"
      :enableQ="false"/>
  </div>
</template>

<script>
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import CopyButton from '@/components/buttons/CopyButton.vue';
import ListTemplate from '@/components/templates/list/ListTemplate.vue';

export default {
  components: {
    EmptyTemplate,
    CopyButton,
    ListTemplate,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      addressId: this.$route.params?.addressId,
    };
  },
  methods: {
    getRouterLink() {
      const routesPrefix = this.type === 'account' ? 'Account ' : '';
      const to = {
        name: `${routesPrefix}Wallet Address`,
        params: {
          addressId: this.addressId,
          [`${this.type}Id`]: this.$store.state.id,
        },
        query: {
          offset: 0,
          limit: 10,
        },
      };
      if (this.currency) {
        to.params = Object.assign(to.params, {
          currency: this.currency,
        });
      }
      return to;
    },
  },
};
</script>

<style lang="scss" scoped>
.callback-log {
  h2 {
    line-height: 100%;
    font-size: 1.1rem;
    .link {
      opacity: .8;
    }
  }
}
</style>

<style lang="scss">
.callback-log {
  h2 .button-copy .p-button {
    width: 1rem;
    padding: 0;
    margin-right: .5rem;
  }
}
</style>
