<template>
  <div class="data-manager">
    <div class="d-flex justify-content-end">
      <Button
        type="button"
        icon="pi pi-trash"
        label="Clear all"
        class="p-button-text"
        @click="clearAll()"/>
    </div>
    <DataTable
      :value="idsList"
      responsiveLayout="scroll"
      class="data-manager-table">
      <template #empty>
        No data found.
      </template>
      <Column>
        <template #body="{data}">
          <Avatar
            :class="[
              'p-overlay-badge',
              !data.auth || 'p-avatar-authorized',
              data.abbr !== 'apr' || 'p-avatar-account',
            ]"
            shape="circle">
            <img
              v-if="data.abbr !== 'apr'"
              :src="data.imgSrc"
              :alt="data.abbr">
            <i v-else class="p-avatar-icon pi pi-user"></i>
          </Avatar>
        </template>
      </Column>
      <Column>
        <template #body="{data}">
          <span v-if="$store.state.shorterFlag">
            {{`${data.login.slice(0, 8)}...${data.login.slice(-5)}`}}
          </span>
          <span v-else>
            {{data.login}}
          </span>
        </template>
      </Column>
      <Column style="max-width: 1rem;">
        <template #body="{data}">
          <Button
            class="p-button-text"
            icon="pi pi-sign-out"
            :disabled="!data.auth || data.deauthorizing"
            v-tooltip="'Deauthorize'"
            @click="deauthorize(data.login)"/>
        </template>
      </Column>
      <Column style="max-width: 1rem;">
        <template #body="{data}">
          <Button
            class="p-button-text"
            icon="pi pi-trash"
            @click="remove(data.login)"/>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script>
import {jwtDecode} from 'jwt-decode';

export default {
  data() {
    return {
      idsList: [],
    };
  },
  mounted() {
    this.getIds();
  },
  methods: {
    isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },
    searchId(event) {
      if (!event.query.trim().length) {
        this.filteredIds = [...this.idsList];
      } else {
        this.filteredIds = this.idsList.filter(
          (id) => id.login.toLowerCase().includes(event.query.toLowerCase()),
        );
      }
    },
    getIds() {
      this.$store.commit('updateIdsListKey', !this.$store.state.idsListKey);
      this.idsList = [];
      const idsList = [];
      Object.entries(localStorage).forEach((localStorageItem) => {
        const localStorageItemValue = this.isJsonString(localStorageItem[1])
          ? JSON.parse(localStorageItem[1])
          : null;
        let abbr = null;
        let auth = false;
        let login = null;
        if (localStorageItemValue?.login) {
          login = localStorageItemValue.login;
          abbr = login.split('-')?.[0];
          const token = localStorageItemValue['access-token'];
          if (token && token !== '') {
            const decodedToken = jwtDecode(token);
            if (Date.now() < decodedToken.exp * 10 ** 3) {
              auth = true;
            }
          }
        } else {
          const localStorageItemPrefix = localStorageItem?.[0]?.split('-')[0];
          if (localStorageItemPrefix === 'ticker' || localStorageItemPrefix === 'cb' || localStorageItemPrefix === 'd') {
            login = localStorageItem?.[0].replace(`${localStorageItemPrefix}-`, '');
            const loginArray = login.split('-');
            if (loginArray.length === 3) {
              login = `${loginArray?.[0]}-${loginArray?.[1]}`;
            }
            abbr = loginArray?.[0];
          }
        }
        if (login && abbr) {
          idsList.push({
            login,
            abbr,
            auth,
            imgSrc: this.getImgSrc(abbr),
            deauthorizing: false,
          });
        }
      });
      idsList.sort((a, b) => b.auth - a.auth);
      this.idsList = idsList.filter(
        (item, index, self) => index === self.findIndex(
          (obj) => (obj.login === item.login),
        ),
      );
    },
    remove(id) {
      Object
        .keys(localStorage).filter((x) => x.includes(id))
        .forEach((x) => localStorage.removeItem(x));
      this.getIds();
    },
    clearAll() {
      localStorage.clear();
      this.getIds();
    },
    deauthorize(login) {
      const idItem = this.idsList.find((item) => (item.login === login));
      idItem.deauthorizing = true;
      let type = 'wallet';
      if (idItem.abbr === 'apr') type = 'account';
      const storageItem = localStorage[login];
      if (storageItem) {
        const token = JSON.parse(storageItem)?.['access-token'];
        this.$axios
          .post('/api/v2/auth/logout', {}, { headers: { Authorization: `Bearer ${token}` } })
          .then(() => {
            this.$toast.add({
              severity: 'info',
              detail: `Logged out full access of ${type}!`,
              life: 3000,
            });
            idItem.auth = false;
            localStorage[login] = JSON.stringify({
              'access-token': '',
              login,
              'refresh-token': '',
            });
          })
          .catch(() => {
            this.$toast.add({
              severity: 'error',
              detail: 'Something went wrong',
              life: 3000,
            });
          })
          .then(() => {
            idItem.deauthorizing = false;
          });
      } else {
        idItem.auth = false;
        idItem.deauthorizing = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.data-manager {
  .p-avatar {
    width: 3rem;
    height: 3rem;
    padding: 1px;
    border: 3px solid #dee2e6;

    &.p-avatar-authorized {
      border: 3px solid #689F38;
    }

    &.p-avatar-account {
      background-color: #fff;
    }

    .p-avatar-icon.pi-user {
      color: #5d8ab9;
      font-weight: bold;
    }
  }
}
</style>

<style lang="scss">
.data-manager {
  .p-button-text {
    padding: 0;
  }

  .p-datatable-thead {
    display: none;
  }

  .p-datatable {
    border-top: 1px solid #e9ecef;
    margin-top: 1rem;

    .p-datatable-wrapper {
      overflow: unset;
    }
  }
}
</style>
