<template>
  <DataTable
    :value="$store.state.destinations"
    responsiveLayout="scroll"
    class="destinations-table">
    <template #empty>
      No data found.
    </template>
    <Column>
      <template #body="{data}">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <CopyButton :text="data.address"/>
            {{`${data.address.slice(0, 10)}...${data.address.slice(-4)}`}}
          </div>
          <div v-if="(typeof data.amount) !== 'number'">
            {{data.amount}}
          </div>
          <div class="amount" v-else>
            <span>{{ (data.amount *
              $store.state.wallet['units-factor'])
              .toFixed($store.state.wallet.toFixed)
              .slice(0, -4) }}</span>
            <span class="postfix">{{ (data.amount *
              $store.state.wallet['units-factor'])
              .toFixed($store.state.wallet.toFixed)
              .slice(-4) }}</span>
            <span class="currency">
              {{ formatCurrency($store.state.currency) }}
            </span>
          </div>
        </div>
      </template>
    </Column>
  </DataTable>
</template>

<script>
import CopyButton from '@/components/buttons/CopyButton.vue';

export default {
  components: {
    CopyButton,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
};
</script>

<style lang="scss">
.destinations-table {
  &.p-datatable {
    .p-datatable-thead > tr > th {
      padding: 0;
      background: unset;
    }
    .p-datatable-tbody > tr > td {
      padding: 1rem 0;
    }
  }
  .p-button.p-button-icon-only {
    width: 1.357rem;
  }
}
</style>
