<template>
  <div class="empty-template w-100 d-flex align-items-center justify-content-center">
    <div class="empty">
      <img v-if="imgIcon" class="empty-template__img" src="@/assets/settings/oops-icon.svg" alt="">
      <i v-else class="pi pi-ban p-buzz"></i>
      <p>{{text}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Nothing Found',
    },
    imgIcon: {
      type: Boolean,
      default: false
    }
  },
};
</script>

<style lang="scss" scoped>
.empty-template {
  height: 25rem;
  opacity: .5;

  &__img {
    margin-bottom: -60px;
  }

  .empty {
    text-align: center;

    i {
      font-size: 5rem;
    }
  }
}
</style>
