<template>
  <div class="loading-template w-100 d-flex align-items-center justify-content-center">
    <div class="loading text-primary">
      <svg ref="animatedLogo" width="96" height="70" viewBox="0 0 158 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Group">
          <path id="Path" fill="#000000" stroke="none" d="M 110.199997 1.599998 L 68.800003 53.899998 L 0 53.899998 L 41.400002 1.599998 Z M 90 11.599998 L 46.299999 11.599998 L 20 44.599998 L 63.700001 44.599998 Z" class="svg-elem-1"></path>
          <path id="path1" fill="#000000" stroke="none" d="M 68.800003 61.599998 L 110.199997 114 L 41.400002 114 L 0 61.599998 Z M 63.700001 71.599998 L 20 71.599998 L 46.299999 104.599998 L 90 104.599998 Z" class="svg-elem-2"></path>
          <path id="path2" fill="#000000" stroke="none" d="M 119.300003 9.599998 L 157.699997 57.399998 L 119.400002 105.400002 L 112.5 96.599998 L 139.800003 62.599998 L 85.099998 62.599998 L 81 57.399998 L 85.099998 52.5 L 140.899994 52.5 L 112.199997 18.599998 Z" class="svg-elem-3"></path>
        </g>
      </svg>
      <p>{{text}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Loading',
    },
  },
  mounted() {
    this.startAnimation();
  },
  beforeDestroy() {
    this.stopAnimation();
  },
  methods: {
    draw() {
      this.$refs.animatedLogo?.classList.add('active');
    },
    erase() {
      this.$refs.animatedLogo?.classList.remove('active');
    },
    animation() {
      this.draw();
      setTimeout(() => {
        this.erase();
      }, 600);
    },
    startAnimation() {
      this.animation();
      this.interval = setInterval(() => {
        this.animation();
      }, 1200);
    },
    stopAnimation() {
      clearInterval(this.interval);
    },
  },
};
</script>

<style lang="scss" scoped>
.loading-template {
  height: 25rem;
  opacity: .7;

  .loading {
    text-align: center;

    i {
      font-size: 5rem;
    }
  }
}

svg .svg-elem-1 {
  fill: rgba(#5d8ab9, .3);
  -webkit-transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.0s;
          transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.0s;
}

svg.active .svg-elem-1 {
  fill: #5d8ab9;
}

svg .svg-elem-2 {
  fill: rgba(#5d8ab9, .3);
  -webkit-transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
          transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.active .svg-elem-2 {
  fill: #5d8ab9;
}

svg .svg-elem-3 {
  fill: rgba(#5d8ab9, .3);
  -webkit-transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
          transition: fill 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.active .svg-elem-3 {
  fill: #5d8ab9;
}
</style>
