<template>
  <div class="template d-flex flex-column align-items-center">
    <Header :type="type"/>
    <div class="container">
      <slot :key="viewKey"/>
    </div>
    <Footer/>
  </div>
  <Toast :baseZIndex="999999"/>
</template>

<script>
import Header from '@/components/header/Header.vue';
import Footer from '@/components/footer/Footer.vue';

export default {
  components: {
    Header,
    Footer,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
  },
  watch: {
    '$store.state.refreshFlag': {
      handler(to) {
        if (to) {
          this.viewKey += 1;
          this.$store.state.refreshFlag = false;
        }
      },
    },
  },
  data() {
    return {
      viewKey: 0,
    };
  },
};
</script>

<style lang="scss" scoped>
.template {
  min-height: 100vh;

  >.container {
    padding-top: 4.25rem;
    margin-top: 1.5rem;
  }
}
</style>
