<template>
  <LoadingTemplate v-if="loading"/>
  <EmptyTemplate :img-icon="imgIcon" :text="message" v-else-if="error"/>
  <div class="payment" v-else-if="item">
    <div class="payment__heading">
      <div class="d-flex align-items-center">
        <Button
          icon="pi pi-angle-double-left"
          class="p-button-text"
          style="padding: 0; margin-top: 1px; margin-right: 3px;"
          @click="$router.go(-1)"/>
        <h2
          class="h2 d-flex align-items-center"
          v-if="isAdaptiveAddress"
        >
          {{ getShorter(historyItemId) }}
          <CopyButton style="margin-left: 3px; margin-top: 1px;" :text="historyItemId"/>
        </h2>
        <h2 class="h2" v-else>
          {{ historyItemId }}
        </h2>
      </div>
      <div class="d-flex align-items-center payment__tag-and-date">
        <span class="payment__confirmed" v-if="item.is_confirmed">
          <i class="pi pi-check-circle" style="color: #4caf50;"></i> Confirmed
        </span>
        <span class="payment__confirmed" v-else>
          <i class="pi pi-spin pi-spinner" style="color: #fccc55;"></i> Unconfirmed
        </span>
        <span
          :class="['status-payment payment__status',
            {'status-payment__success': item.status === 'success',
            'status-payment__pending': item.status === 'pending',
            'status-payment__failed': item.status === 'failed'
            }
          ]"
          v-if="item.status"
        >{{ item.status }}</span>
        <span class="span">{{ item.created }}</span>
      </div>
    </div>
    <div style="border-bottom: 1px solid #e9ecef; padding-bottom: 0.5rem;">
      <div style="font-size: 1rem;" class="d-flex align-items-center justify-content-between">
        <h3 style="font-size: inherit; margin-bottom: 0.5rem;" class="h3">
          Destinations
        </h3>
        <h3 style="font-size: inherit; margin-bottom: 0.5rem;" class="h3">
          Amount
        </h3>
      </div>
      <div class="payment__row1-destinations">
        <span class="payment__row" v-for="(d, index) in item.destinations" :key="index">
          <span
            class="span d-flex justify-content-between"
            style="align-items: flex-start;"
            v-if="d.address !== item?.fee?.processing?.address"
          >
            <span class="d-flex align-items-center">
              <span>
                <span
                  target="_blank"
                  :href="getExplorerHref($store.state.wallet.name, 'address', d.address, $store.state.wallet.currency)"
                >
                  <a
                    class="pi pi-external-link link hovered"
                    style="margin-right: .5rem; text-decoration: none; color: #5d8ab9"
                    target="_blank"
                    :href="getExplorerHref($store.state.wallet.name, 'address', d.address, $store.state.wallet.currency)"
                  ></a>
                  <span v-if="$store.state.shorterFlag">
                    {{ getShorter(d.address) }}
                  </span>
                  <span v-else>
                    {{ d.address }}
                  </span>
                </span>
              </span>
              <CopyButton style="margin-top: 2px; margin-left: 2px;" :text="d.address"/>
            </span>
            <span style="align-items: flex-end" class="d-flex flex-column">
              {{
                (d.amount * $store.state.wallet['units-factor'])
                  .toFixed($store.state.wallet.toFixed)
              }}
              {{ formatCurrency($store.state.wallet.currency) }}
              <span
                style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0.5rem 0 0;"
              >
                <span>
                  {{
                    (d.amount *
                      $store.state.wallet['units-factor'] *
                      $store.state.ticker.current.value).toFixed(2)
                  }}
                  {{ $store.state.ticker.current.name }}
                </span>
              </span>
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="payment__row2">
      <h3 class="h3">Fees</h3>
      <div class="payment__row2-line" v-if="item.fee.processing">
        <h4 class="h4">Service</h4>
        <span class="span" v-if="$store.state.shorterFlag">
          {{ getShorter(item.fee.processing.address) }}
        </span>
        <span class="span" v-else>
          {{ item.fee.processing.address }}
        </span>
        <span style="align-items: flex-end" class="d-flex flex-column span">
          {{
            (item.fee.processing.amount * $store.state.wallet['units-factor'])
              .toFixed($store.state.wallet.toFixed)
          }}
          {{ formatCurrency($store.state.wallet.currency) }}
          <span
            style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0.5rem 0 0;"
          >
            <span>
              {{
                (item.fee.processing.amount *
                  $store.state.wallet['units-factor'] *
                  $store.state.ticker.current.value).toFixed(2)
              }}
              {{ $store.state.ticker.current.name }}
            </span>
          </span>
        </span>
      </div>
      <div style="align-items:flex-start;" class="payment__row2-line">
        <h4 class="h4">Network</h4>
        <span class="span">
          <span v-if="!isAdaptiveAddress" style="margin-right: 2px;">Strategy:</span>
          <span v-if="!isAdaptiveAddress">{{ item.fee.network.strategy }}</span> {{ !isAdaptiveAddress ? '(' : '' }}{{ item.fee.network.rate }} sat/byte{{ !isAdaptiveAddress ? ')' : '' }}
        </span>
        <span style="align-items: flex-end" class="d-flex flex-column span">
          {{
            (item.fee.network.amount * $store.state.wallet['units-factor'])
              .toFixed($store.state.wallet.toFixed)
          }}
          {{ formatCurrency($store.state.wallet.currency) }}
          <span
            style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0.5rem 0 0;"
          >
            <span>
              {{
                (item.fee.network.amount *
                  $store.state.wallet['units-factor'] *
                  $store.state.ticker.current.value).toFixed(2)
              }}
              {{ $store.state.ticker.current.name }}
            </span>
          </span>
        </span>
      </div>
      <div class="payment__row2-line payment__subtract">
        <h4 class="h4">Subtract from amount</h4>
        <span
          class="span pi pi-check"
          style="color: #4caf50;"
          v-if="item.fee['subtract-from-amount']"></span>
        <span class="span pi pi-times" v-else></span>
        <span class="span empty"></span>
      </div>
    </div>
    <div class="payment__total">
      <h3>Total</h3>
      <span style="align-items: flex-end" class="d-flex flex-column">
        {{
          (item.total * $store.state.wallet['units-factor']).toFixed($store.state.wallet.toFixed)
        }}
        {{ formatCurrency($store.state.wallet.currency) }}
        <span
          style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0.5rem 0 0;"
        >
            <span>
              {{
                (item.total *
                  $store.state.wallet['units-factor'] *
                  $store.state.ticker.current.value).toFixed(2)
              }}
              {{ $store.state.ticker.current.name }}
            </span>
          </span>
      </span>
    </div>
    <div v-if="item.errors" class="payment__errors-block">
      <h3>Errors</h3>
      <div class="payment__list-errors">
        <div
          class="payment__error"
          v-for="(error, index) in item.errors"
          :key="`error_${index}`"
        >
          <Warning/> <span>{{ error }}</span>
        </div>
      </div>
    </div>
    <div class="payment__transaction">
      <h3>Transactions</h3>
      <ul class="ul payment__ul">
        <li v-for="(tx, index) in item.txs" :key="index"
            :class="['li', {'payment__li-reset': !tx}]">
          <a
            v-if="tx"
            target="_blank"
            :href="getExplorerHref($store.state.wallet.name, 'transaction', tx, $store.state.wallet.currency)"
            class="link hovered">
            <span class="pi pi-external-link" style="margin-right: .5rem;"></span>
            <span v-if="$store.state.shorterFlag">
              {{ getShorter(tx) }}
            </span>
            <span v-else>
              {{ tx }}
            </span>
          </a>
        </li>
        <li
          v-if="qtyEmptyTx > 0"
          class="li payment__li-pending"
        >
          +{{ qtyEmptyTx }} pending transaction{{ qtyEmptyTx === 1 ? '' : 's' }}
        </li>
      </ul>
    </div>
    <!--    <div class="d-flex justify-content-between">-->
    <!--      <router-link-->
    <!--        :to="getRouterLink(item)"-->
    <!--        class="p-button p-component p-button-outlined link hovered"-->
    <!--        style="margin-top: 1rem;"-->
    <!--      >-->
    <!--        <i class="pi pi pi-refresh" style="margin-right: .5rem;"></i>-->
    <!--        Repeat transaction-->
    <!--      </router-link>-->
    <!--    </div>-->
  </div>
</template>

<script>
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import CopyButton from '@/components/buttons/CopyButton.vue';
import Warning from "@/components/icons/Warning.vue";

export default {
  components: {
    Warning,
    LoadingTemplate,
    EmptyTemplate,
    CopyButton,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      id: this.$store.state.id,
      historyItemId: this.$route.params.historyItemId,
      loading: true,
      error: false,
      message: '',
      item: null,
      imgIcon: false,
      qtyEmptyTx: 0,
      isAdaptiveAddress: false
    };
  },
  mounted() {
    this.getData();
    this.checkSizeWindowForAdaptive();
    window.addEventListener('resize', (event) => {
      this.checkSizeWindowForAdaptive();
    });
  },
  methods: {
    checkSizeWindowForAdaptive() {
      this.isAdaptiveAddress = window.innerWidth <= 900;
    },
    getData() {
      this.$axios
        .get(`/api/v2/${this.type}s/${this.id}/history/${this.historyItemId}`)
        .then((response) => {
          const item = response.data;
          const date = new Date(Date.parse(`${item.created.slice(0, 19)}+00:00`));
          const dateTime = `${date.toLocaleDateString(navigator.language || navigator.userLanguage)} ${this.getTime(date)}`;
          item.created = dateTime;
          this.item = item;
        })
        .catch((error) => {
          this.message = error?.response?.data?.message;
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
    },
    getShorter(value) {
      return `${value.slice(0, 5)}...${value.slice(-5)}`;
    },
    getRouterLink(data) {
      const filteredDestinations = data.destinations.filter(
        (obj) => obj.address !== data.fee?.processing?.address,
      );
      const query = {
        destinations: JSON.stringify(filteredDestinations),
        fee: JSON.stringify(data.fee),
      };
      const routesPrefix = this.type === 'account' ? 'Account ' : '';
      const to = {
        name: `${routesPrefix}Wallet Transfer`,
        params: {
          [`${this.type}Id`]: this.$store.state.id,
        },
        query,
      };
      return to;
    },
  },
  watch: {
    item(to) {
      if (to.type === 'receipt') {
        this.error = true
        this.message = 'Oops, something went wrong.'
        this.imgIcon = true
      }
      for (const tx in to.txs) {
        if (!to.txs[tx]) {
          this.qtyEmptyTx++
        }
      }
    }
  }
};
</script>

<style scoped>
.payment span {
  color: rgb(73, 80, 87);
}

.payment__errors-block {
  border-top: 1px solid #e9ecef;
}

.payment__list-errors {
  padding-left: 16px;
}

.payment__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.4rem;
}

.payment__error:first-child {
  margin-top: 0;
}

.payment__error > svg {
  min-width: 14px;
  margin-right: 8px;
  margin-top: 3px;
  fill: rgb(207 31 18);
}

.payment__error > span {
  color: rgb(207 31 18);
  word-break: break-all;
}


.payment__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.payment__li-reset {
  margin: 0 !important;
}

.payment__li-pending {
  color: var(--gray-500);
  font-style: italic;
}

.payment__status {
  transform: initial;
  margin-left: 0;
  margin-right: 6px;
}

.payment__ul {
  list-style-type: none;
}

.payment__confirmed {
  margin-right: 8px;
}

.payment__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(93, 138, 185, .6)
}

.payment__heading .h2 {
  font-size: 1rem;
}

.payment__copy {
  display: inline-block;
}

.payment__heading .span {
  color: #a5a5a5;
}

.payment__row {
  margin-top: 0.5rem;
  display: block;
}

.payment__row:first-child {
  margin-top: 0;
}

.payment__row1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e9ecef;
  padding: 1rem 0;
}

.payment__row1 .h3 {
  margin-top: 0;
  font-size: 1rem;
}

.payment__row1-amount .h3 {
  text-align: right;
}

.payment__row1 .span {
  display: flex;
  margin-top: .5rem;
}

.payment__row2 {
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

.payment__row2 .h3 {
  margin-top: unset;
}

.payment__row2-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 8px;
}

.payment__row2-line .h4 {
  flex: 0 0 25%;
  margin: 0;
}

.payment__row2-line .span:nth-child(2) {
  flex: 0 0 34%;
}

.payment__row2-line .span:nth-child(3) {
  flex-grow: 1;
  text-align: right;
}

.payment__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.payment__transaction .ul {
  padding-left: 1.25rem;
}

.payment__transaction .li {
  margin-top: .5rem;
}
</style>

<style lang="scss">
.payment {
  .p-button.p-button-icon-only {
    width: 1.357rem;
  }
}

.payment__row1-destinations {
  .button-copy {
    .p-button {
      padding: 0;
      margin-right: .25rem;
      transform: translateY(-1px);
    }
  }
}

@media (max-width: 550px) {
  .payment__subtract > .empty {
    display: none;
  }
  .payment__subtract > h4 {
    flex: initial !important;
  }
  .payment__subtract > span {
    flex: initial !important;
  }
}

@media (max-width: 460px) {
  .payment__tag-and-date {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 240px;
  }
  .payment__tag-and-date > .span {
    margin-top: 4px;
    font-style: italic;
    font-size: 12px;
  }
  .payment__status {
    margin-right: 0 !important;
  }
  .payment__heading {
    margin-top: 14px;
    padding-bottom: 14px;
    align-items: flex-start !important;
  }
  .payment__heading > div > h2 {
    margin: 0 !important;
  }
  .payment__heading .p-button.p-button-icon-only {
    padding: 0 !important;
  }
}
</style>
