<template>
  <LoadingTemplate v-if="loading"/>
  <EmptyTemplate :img-icon="imgIcon" :text="message" v-else-if="error"/>
  <div class="receipt" v-else-if="item">
    <div class="receipt__heading">
      <div class="d-flex align-items-center">
        <Button
          icon="pi pi-angle-double-left"
          class="p-button-text"
          style="padding: 0; margin-top: 3px;"
          @click="$router.go(-1)"/>
        <h2
          class="h2 d-flex align-items-center"
          v-if="isAdaptiveAddress"
        >
          {{ getShorter(historyItemId) }}
          <CopyButton style="margin-left: 3px; margin-top: 1px;" :text="historyItemId"/>
        </h2>
        <h2 class="h2" v-else>
          {{ historyItemId }}
        </h2>
      </div>
      <div class="d-flex align-items-center payment__tag-and-date receipt__tag-and-date">
        <span class="receipt__confirmed" v-if="item.is_confirmed">
        <i class="pi pi-check-circle" style="color: #4caf50;"></i>
          Confirmed
        </span>
        <span class="receipt__confirmed" v-else>
          <i class="pi pi-spin pi-spinner" style="color: #fccc55;"></i>
          Unconfirmed
        </span>
        <span class="span">
        {{ item.created }}
      </span>
      </div>
    </div>
    <div
      v-for="(txid, index) in txids"
      :key="index"
    >
      <div style="font-size: 1rem;" class="d-flex align-items-center justify-content-between">
        <h3 style="font-size: inherit;" class="h3">
          Addresses
        </h3>
        <h3 style="font-size: inherit;" class="h3">
          Amount
        </h3>
      </div>
      <div
        class="receipt__row1-addresses"
        style="border-bottom: 1px solid #e9ecef; padding-bottom: 0.5rem;"
      >
          <span
            class="span d-flex justify-content-between receipt__row"
            v-for="(a, aId) in item.items" :key="aId"
          >
            <span class="d-flex" v-if="a.txid === txid.txid">
              <a
                target="_blank"
                :href="getExplorerHref($store.state.wallet.name, 'address', a.address, $store.state.wallet.currency)"
                class="link hovered">
                <span
                  class="pi pi-external-link"
                  style="margin-right: .5rem; color: #5d8ab9;">
                </span>
              </a>
              <router-link
                :to="getRouterLink(a)"
                class="link hovered">
                <span v-if="$store.state.shorterFlag">
                  {{ getShorter(a.address) }}
                </span>
                <span v-else>
                  {{ a.address }}
                </span>
              </router-link>
              <CopyButton style="margin-left: 0.25em;" :text="a.address"/>
            </span>
            <span
              style="align-items: flex-end" class="d-flex flex-column" v-if="a.txid === txid.txid"
            >
              {{
                (a.amount * $store.state.wallet['units-factor'])
                  .toFixed($store.state.wallet.toFixed)
              }}
              {{ formatCurrency($store.state.wallet.currency) }}
              <span
                style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0.5rem 0 0;"
              >
                <span v-if="$store.state.ticker.current">
                  {{
                    (item.amount *
                      $store.state.wallet['units-factor'] *
                      $store.state.ticker.current.value).toFixed(2)
                  }}
                  {{ $store.state.ticker.current.name }}
                </span>
              </span>
            </span>
          </span>
      </div>
      <div class="receipt__row2">
        <h3 class="h3">
          Details
        </h3>
        <div class="receipt__row2-line">
          <h4 class="h4">Txid</h4>
          <span class="span">
            <a
              target="_blank"
              :href="getExplorerHref($store.state.wallet.name, 'transaction', txid.txid, $store.state.wallet.currency)"
              class="link hovered">
              <span class="pi pi-external-link" style="margin-right: .5rem;"></span>
              <span v-if="$store.state.shorterFlag">
                {{ getShorter(txid.txid) }}
              </span>
              <span v-else>
                {{ txid.txid }}
              </span>
            </a>
          </span>
        </div>
        <div class="receipt__row2-line">
          <h4 class="h4">Block</h4>
          <span class="span" v-if="txid.isConfirmed">
            <a
              target="_blank"
              :href="getExplorerHref($store.state.wallet.name, 'block', block, $store.state.wallet.currency)"
              class="link hovered">
              <i class="pi pi-box"></i> {{ block }}
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="receipt__total">
      <h3>Total</h3>
      <span>
        {{
          (item.amount * $store.state.wallet['units-factor']).toFixed($store.state.wallet.toFixed)
        }}
        {{ formatCurrency($store.state.wallet.currency) }}
      </span>
    </div>
    <div style="margin-top: -16px;" class="receipt__total">
      <h3></h3>
      <div
        style="opacity: 0.85; font-size: 0.95rem; color: #495057; margin: 0 0 0.5rem;"
      >
          <span  v-if="$store.state.ticker.current">
            {{
              (item.amount *
                $store.state.wallet['units-factor'] *
                $store.state.ticker.current.value).toFixed(2)
            }} {{ $store.state.ticker.current.name }}
          </span>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import CopyButton from '@/components/buttons/CopyButton.vue';

export default {
  components: {
    LoadingTemplate,
    EmptyTemplate,
    CopyButton,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      id: this.$store.state.id,
      historyItemId: this.$route.params.historyItemId,
      loading: true,
      error: false,
      message: '',
      item: null,
      block: 0,
      txids: [],
      imgIcon: false,
      isAdaptiveAddress: false
    };
  },
  mounted() {
    this.getData();
    this.checkSizeWindowForAdaptive();
    window.addEventListener('resize', (event) => {
      this.checkSizeWindowForAdaptive();
    });
  },
  methods: {
    checkSizeWindowForAdaptive() {
      this.isAdaptiveAddress = window.innerWidth <= 900;
    },
    getData() {
      this.$axios
        .get(`/api/v2/${this.type}s/${this.id}/history/${this.historyItemId}`)
        .then((response) => {
          const item = response.data;
          const date = new Date(Date.parse(`${item.created.slice(0, 19)}+00:00`));
          const dateTime = `${date.toLocaleDateString(navigator.language || navigator.userLanguage)} ${this.getTime(date)}`;
          item.created = dateTime;
          this.item = item;
          if (this.item.items) {
            this.item.items.forEach((listItem) => {
              this.block = listItem.block.height;
              this.txids.push({
                txid: listItem.txid,
                isConfirmed: listItem.is_confirmed,
              });
            });
            this.txids = this.uniq(this.txids);
          }
        })
        .catch((error) => {
          this.message = error?.response?.data?.message;
          this.error = true;
        })
        .then(() => {
          this.loading = false;
        });
    },
    getShorter(value) {
      return `${value.slice(0, 5)}...${value.slice(-5)}`;
    },
    uniq(list) {
      const seen = {};
      const out = [];
      let j = 0;
      list.forEach((item) => {
        if (seen[item] !== 1) {
          seen[item] = 1;
          out[j] = item;
          j += 1;
        }
      });
      return out;
    },
    getRouterLink(data) {
      const routesPrefix = this.type === 'account' ? 'Account ' : '';
      const to = {
        name: `${routesPrefix}Wallet Address`,
        params: {
          addressId: data.address,
          [`${this.type}Id`]: this.$store.state.id,
        },
        query: {
          offset: 0,
          limit: 10,
        },
      };
      if (this.currency) {
        to.params = Object.assign(to.params, {
          currency: this.currency,
        });
      }
      return to;
    },
  },
  watch: {
    item(to) {
      if (to.type === 'payment') {
        this.error = true
        this.message = 'Oops, something went wrong.'
        this.imgIcon = true
      }
    }
  }
};
</script>

<style scoped>
.receipt__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba(93, 138, 185, .6);
}

.receipt__heading .h2 {
  font-size: 1rem;
  font-weight: 600;
}

.receipt__copy {
  display: inline-block;
}

.receipt__heading .span {
  color: #a5a5a5;
}

.receipt__confirmed {
  margin-right: 8px;
}

.receipt__row1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #e9ecef;
  padding: 1rem 0;
}

.receipt__row {
  margin-bottom: 0.5rem;
}

.receipt__row:last-child {
  margin-bottom: 0;
}

.receipt__row1 .h3 {
  margin-top: 0;
  font-size: 1rem;
}

.receipt__row1-amount .h3 {
  text-align: right;
}

.receipt__row1 .span {
  display: block;
  margin-top: .5rem;
}

.receipt__row2 {
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

.receipt__row2 .h3 {
  margin-top: unset;
}

.receipt__row2-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 8px;
}

.receipt__row2-line .h4 {
  flex: 0 0 25%;
  margin: 0;
}

.receipt__row2-line .span {
  flex-grow: 1;
}

.receipt__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receipt__btn {
  margin-top: 1rem;
  width: 4.3rem;
}

@media (max-width: 460px) {
  .receipt__tag-and-date {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 190px
  }

  .receipt__tag-and-date > .span {
    margin-top: 4px;
    font-style: italic;
    font-size: 12px;
  }

  .receipt__confirmed {
    margin-right: 0;
  }

  .receipt__heading {
    margin-top: 14px;
    padding-bottom: 14px;
    align-items: flex-start;
  }

  .receipt__heading > div > h2 {
    margin: 0 !important;
  }
}
</style>

<style lang="scss">
.receipt {
  .p-button.p-button-icon-only {
    width: 1.357rem;
    padding: 0 !important;
    margin-right: 0.25em;
    transform: translateY(-1px);
  }
}

.receipt__row1 {
  .button-copy {
    .p-button {
      padding: 0;
      margin-right: .25rem;
      transform: translateY(-1px);
    }
  }
}
</style>
