<template>
  <LoadingTemplate v-if="loading"/>
  <div v-else class="settings">
    <aside v-if="!$store.state.watchOnly" class="settings__sidebar">
      <ul>
        <li
          @click.prevent="toggleSections('fee-policy')"
          :class="{'settings__active-link': activeSection === 'fee-policy'}"
        >
          <span v-if="$store.state.shorterFlag">FP</span>
          <span v-else>Fee Policy</span>
        </li>
        <li
          @click.prevent="toggleSections('forwarding-destinations')"
          :class="{'settings__active-link': activeSection === 'forwarding-destinations'}"
        >
          <span v-if="$store.state.shorterFlag">FD</span>
          <span v-else>Forwarding Destinations</span>
        </li>
        <li
          @click.prevent="toggleSections('callback')"
          :class="{'settings__active-link': activeSection === 'callback'}"
        >
          <span v-if="$store.state.shorterFlag">CB</span>
          <span v-else>Callback</span>
        </li>
      </ul>
    </aside>
    <div v-if="!$store.state.watchOnly" class="settings__content">
      <fee-policy
        v-if="activeSection === 'fee-policy'"
        v-model="policy"
        :on-save-loading="onSaveLoading"
        @save="save"
      />
      <section v-if="activeSection === 'forwarding-destinations'" class="forwarding-destinations">
        <div>
          <div class="d-flex justify-content-between settings__header"
               style="align-items: flex-start">
            <h3 style="margin-top: 0;">Forwarding Destinations<span v-if="destinations.flag">*</span></h3>
            <div style="display: flex">
              <div class="settings__heading d-flex align-items-center">
                <InputSwitch v-model="destinations.flag" style="margin-right: 1rem;"/>
              </div>
              <Button
                type="button"
                :icon="onSaveLoading ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
                label="Save"
                :disabled="onSaveLoading"
                class="settings__button"
                @click="save"/>
            </div>
          </div>
          <div
            class="settings__tab">
            <div class="settings__destinations" v-if="destinations.flag">
              <InputsList/>
              <p
                style="font-size: 12px; color: #6C757D; margin-top: 60px; margin-bottom: 0;"
              >
                * See
                <a
                  class="settings__link"
                  target="_blank"
                  :href="$store.state.serviceUrl + '/blog/forwarding/'">
                  Forwarding
                </a>
                for more details
              </p>
            </div>
            <div class="settings__disabled-section" v-else>
              <img
                srcset="@/assets/settings/forwarding-destinations.webp"
                src="@/assets/settings/forwarding-destinations.png"
                alt="forwarding-destinations"
              >
              <p>Enable to specify destinations addresses for instant forwarding all incoming
                payments.</p>
            </div>
          </div>
        </div>
      </section>
      <callback
        v-if="activeSection === 'callback'"
        v-model="callback"
        :on-save-loading="onSaveLoading"
        @save="save"
      />
    </div>
  </div>
</template>

<script>
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';
import InputsList from '@/components/InputsList.vue';
import FeePolicy from '@/components/settings/fee-policy.vue';
import Callback from '@/components/settings/callback.vue';

export default {
  components: {
    Callback,
    FeePolicy,
    LoadingTemplate,
    InputsList,
  },
  data() {
    return {
      activeSection: 'fee-policy',
      loading: true,
      valid: true,
      policy: 'fixed',
      destinations: {
        flag: false,
      },
      callback: {
        json: '',
        method: 'POST',
        url: '',
        flag: false,
      },
      isAddressChecked: true,
      onSaveLoading: false,
      inputsList: [],
    };
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  watch: {
    '$store.state.authorized': {
      handler(to) {
        if (to) {
          this.getData();
        }
      },
    },
  },
  computed: {
    section: {
      get() {
        return this.$route.query.section || '';
      },
      set(sort) {
        this.$router.push({
          query: {
            ...this.$route.query,
            section: sort,
          },
        });
      },
    },
  },
  created() {
    if (this.$route.query.section) {
      this.toggleSections(this.$route.query.section);
    } else {
      this.section = this.activeSection;
    }
  },
  mounted() {
    if (this.$store.state.authorized) {
      this.getData();
    }
  },
  methods: {
    toggleSections(section) {
      if (section !== this.activeSection) {
        this.activeSection = section;
        this.section = section;
        this.getData(true)
      }
    },
    pushNewItem() {
      this.inputsList.push({
        value: {
          data: '',
          error: false,
        },
        amount: {
          data: '',
          error: false,
          type: 'empty',
        },
      });
    },
    getData(toggleSection = false) {
      this.inputsList = [];
      if (!toggleSection) {
        this.loading = true;
      }
      const {id} = this.$store.state;
      const {currency} = this.$store.state;
      const {watchOnly} = this.$store.state;
      let destinations = [];
      if (!watchOnly) {
        this.policy = this.$store.state.policy || 'fixed';
        if (this.$store.state.destinations !== null) {
          destinations = this.$store.state.destinations;
          this.destinations.flag = true;
        } else if (localStorage[`d-${id}-${currency}`]) {
          destinations = JSON.parse(localStorage[`d-${id}-${currency}`]);
        }
        destinations.forEach((destination) => {
          let type = typeof destination.amount;
          let amount = '';
          if (type === 'undefined') {
            type = 'empty';
          } else if (type === 'number') {
            amount = (
              destination.amount * this.$store.state.wallet['units-factor']
            ).toFixed(this.$store.state.wallet.toFixed);
          } else {
            amount = destination.amount;
          }
          this.inputsList.push({
            value: {
              data: destination.address,
              error: false,
            },
            amount: {
              data: amount,
              error: false,
              type,
            },
          });
        });
        this.pushNewItem();
      }
      this.$axios
        .get(`/api/v2/${this.type}s/${id}/callback${this.currency ? ('?currency=' + this.currency) : ''}`)
        .then((response) => {
          if (response.data.callback !== null) {
            this.callback.url = response.data.callback.url;
            this.callback.method = response.data.callback.method;
            if (response.data.callback.data !== null) {
              this.callback.json = JSON.stringify(response.data.callback.data, null, '\t');
            } else {
              this.callback.json = '';
            }
            this.callback.flag = true;
          } else if (localStorage[`cb-${id}-${currency}`]) {
            this.callback.url = JSON.parse(localStorage[`cb-${id}-${currency}`]).url;
            this.callback.method = JSON.parse(localStorage[`cb-${id}-${currency}`]).method;
            if (JSON.parse(localStorage[`cb-${id}-${currency}`]).data != null) {
              this.callback.json = JSON.stringify(JSON.parse(localStorage[`cb-${id}-${currency}`]).data, null, '\t');
            } else {
              this.callback.json = '';
            }
          }
          this.loading = false;
        })
        .catch((error) => {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error?.response?.data?.message,
            life: 3000,
          });
        });
    },
    checkAmount(index) {
      const {amount} = this.inputsList[index];
      amount.error = false;
      if (amount.data === '' || amount.data === undefined) {
        amount.data = '';
        amount.type = 'empty';
      } else if (!Number.isNaN(Number(amount.data)) && Number(amount.data) > 0) {
        amount.data = Number(amount.data).toFixed(this.$store.state.wallet.toFixed);
        amount.type = 'number';
      } else if (amount.data.indexOf('%') === amount.data.length - 1
        && !Number.isNaN(Number(amount.data.slice(0, -1)))
        && Number(amount.data.slice(0, -1)) > 0) {
        amount.data = `${Number(amount.data.slice(0, -1))}%`;
        amount.type = 'string';
      } else {
        amount.error = true;
      }
    },
    save() {
      this.onSaveLoading = true;
      this.valid = true;
      const list = this.inputsList;
      const {id} = this.$store.state;
      const {currency} = this.$store.state;
      const {watchOnly} = this.$store.state;

      /* destinations */

      let destinations = [];
      if (!watchOnly) {
        list.forEach((destination, index) => {
          if (index + 1 !== list.length) {
            if (!destination.amount.error && !destination.value.error) {
              if (destination.amount.type === 'empty') {
                if (index + 2 !== list.length) {
                  this.$toast.add({
                    severity: 'error',
                    summary: 'Error',
                    detail: 'Fill in all the amounts.',
                    life: 3000,
                  });
                  this.valid = false;
                } else {
                  destinations.push(
                    {
                      address: destination.value.data,
                    },
                  );
                }
              } else {
                let amount;
                if (destination.amount.type === 'number') {
                  amount = Number((destination.amount.data / this.$store.state.wallet['units-factor']).toFixed(0));
                } else {
                  amount = destination.amount.data;
                }
                destinations.push(
                  {
                    address: destination.value.data,
                    amount,
                  },
                );
              }
            } else {
              this.$toast.add({
                severity: 'error',
                summary: 'Error',
                detail: 'Invalid destinations.',
                life: 3000,
              });
              this.valid = false;
            }
          }
        });
      }

      /* callback */

      const urlExpression = '^(?!mailto:)(?:(?:http|https|ftp)://)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$';
      const urlRegex = new RegExp(urlExpression, 'i');
      let callback = {
        data: null,
        method: this.callback.method,
        url: null,
      };
      if (!this.callback.flag) {
        callback = null;
      } else {
        if (document.getElementsByClassName('editor__error').length === 0) {
          if (this.callback.json !== '') {
            callback.data = JSON.parse(this.callback.json);
          }
        } else {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: 'Invalid JSON data.',
            life: 3000,
          });
          this.valid = false;
        }
        if (this.callback.url.match(urlRegex)) {
          callback.url = this.callback.url;
          localStorage[`cb-${id}-${currency}`] = JSON.stringify(callback);
        } else {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: 'Invalid request url.',
            life: 3000,
          });
          this.valid = false;
        }
      }

      /* saving */

      if (this.valid) {
        if (destinations.length < 1) {
          destinations = null;
        } else {
          localStorage[`d-${id}-${currency}`] = JSON.stringify(destinations);
        }
        if (!this.destinations.flag) {
          destinations = null;
        }
        let requestParams;
        if (!watchOnly) {
          requestParams = this.currency ? {
            callback,
            destinations,
            processing_fee_policy: this.policy || 'fixed',
            currency: this.currency,
          } : {
            callback,
            destinations,
            processing_fee_policy: this.policy || 'fixed',
          };
        } else {
          requestParams = this.currency ? {
            callback,
            currency: this.currency,
          } : {
            callback,
          };
        }
        this.$axios
          .patch(`/api/v2/${this.type}s/${id}`, requestParams)
          .then(() => {
            this.$toast.add({
              severity: 'success',
              summary: 'Success',
              life: 3000,
            });
            if (!watchOnly) {
              this.$axios
                .get(`/api/v2/${this.type}s/${id}${this.currency ? ('?currency=' + this.currency) : ''}`)
                .then((response) => {
                  const data = this.type === 'account' ? response.data.info[0] : response.data;
                  this.$store.commit('setDestinations', data.destinations);
                  const policy = data['processing-fee-policy'];
                  if (policy) {
                    this.$store.commit('setPolicy', policy);
                  }
                });
            }
          })
          .catch((error) => {
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: error?.response?.data?.message,
              life: 3000,
            });
          })
          .then(() => {
            this.onSaveLoading = false;
          });
      } else {
        this.onSaveLoading = false;
      }
    },
  },
};
</script>

<style lang="scss">
.settings__policy-item {
  margin-bottom: 1rem;

  label {
    margin-left: .5rem;
  }
}

.settings {
  display: flex;

  &__link {
    text-decoration: none;
    color: #5D8AB9;
    transition: 0.2s;

    &:hover {
      opacity: 0.6
    }
  }

  & .editor {
    height: 250px;
  }

  &__header {
    margin-bottom: 1rem;
    margin-top: 4px;
    & h3 {
      margin-right: 16px;
    }
  }

  &__disabled-section {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & img {
      width: 80px;
    }

    & p {
      color: #6C757D;
      max-width: 330px;
      text-align: center;
      font-size: 16px;
    }
  }

  &__button {
    margin: 0;
    padding: 4px;
    background: none;
    border: none;
    color: #5D8AB9 !important;

    &:active {
      background: none !important;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__active-link {
    background: #5D8AB9 !important;
    color: white;
  }

  &__sidebar {
    max-width: 232px;
    width: 100%;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      & li {
        padding: 8px 10px;
        cursor: pointer;
        border-radius: 5px 0 0 5px;

        &:hover {
          background: #f3f3f3;
        }
      }
    }
  }

  &__content {
    width: 100%;
    border-left: 1px solid #5D8AB9;
    padding: 0 14px;
  }

  & .mobile {
    display: none;
  }

  &__content-block {
    width: 50%;
    padding: 12px;
    border-right: 1px solid rgb(222, 226, 230);
  }

  &__destinations {
    & .inputs-list__address {
      max-width: 500px;
    }
  }
}

@media (max-width: 991px) {
  .settings {
    &__sidebar {
      max-width: 190px;
    }

    & .editor {
      height: 200px;
    }
  }
}

@media (max-width: 800px) {
  .settings {
    &__sidebar {
      width: 35px;
    }
  }
}

@media (max-width: 767px) {
  .settings {
    & .desktop {
      display: none;
    }

    & .mobile {
      display: flex;
    }

    &__content-block {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgb(222, 226, 230);
    }
  }
}

@media (max-width: 400px) {
  .settings {
    &__header {
      align-items: center !important;
      margin-bottom: 1.5rem;
      & h3 {
        margin-bottom: 0;
        font-size: 15px;
      }
    }

    &__disabled-section {
      & img {
        width: 70px;
      }
      & p {
        font-size: 14px;
        max-width: 250px;
      }
    }
  }
}
</style>
