<template>
  <div class="wallet">
    <MainTemplate type="wallet">
      <MainMenu :type="type" view="wallet"/>
      <LoadingTemplate v-if="loading"/>
      <EmptyTemplate text="Invalid wallet" v-else-if="error"/>
      <router-view v-else-if="$store.state.wallet"/>
    </MainTemplate>
    <Dialog v-model:visible="$store.state.pricing.show" style="width: 450px;">
      <template #header>
        <h3>Processing Fee</h3>
      </template>
      <div>
        <DataTable
          :value="Object.values($store.state.pricing.data)"
          v-if="$store.state.pricing.data"
        >
          <Column style="background: #f8f9fa;">
            <template #body="{ data }">
              <strong style="flex: 0 0 100%;">
                <i :class="data.icon" style="margin-right: .5rem;"></i>
                {{ data.title }}
              </strong>
            </template>
          </Column>
          <Column header="Forwarding">
            <template #body="{ data }">
              <div v-if="isNaN(data.forwarding)">{{ data.forwarding }}</div>
              <div class="amount" v-else>
                <span>{{ Number((data.forwarding *
                  data['units-factor'])
                  .toFixed(data.toFixed)) }}</span>
                <span class="currency">
                  {{ formatCurrency($store.state.currency) }}
                </span>
              </div>
            </template>
          </Column>
          <Column header="Regular">
            <template #body="{ data }">
              <div v-if="isNaN(data.regular)">{{ data.regular }}</div>
              <div class="amount" v-else>
                <span>{{ Number((data.regular *
                  data['units-factor'])
                  .toFixed(data.toFixed)) }}</span>
                <span class="currency">
                  {{ formatCurrency($store.state.currency) }}
                </span>
              </div>
            </template>
          </Column>
        </DataTable>
        <p>
          Go to
          <router-link
            class="link hovered"
            style="color: #5d8ab9;"
            :to="{
              name: `${type === 'account' ? 'Account ' : ''}Wallet Settings`,
            }"
            @click="$store.state.pricing.show = false"
          >
            Settings
          </router-link>
          to change the Processing Fee Policy.</p>
      </div>
    </Dialog>
  </div>
</template>

<script>
import MainTemplate from '@/components/templates/MainTemplate.vue';
import MainMenu from '@/components/MainMenu.vue';
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';

export default {
  components: {
    MainTemplate,
    MainMenu,
    EmptyTemplate,
    LoadingTemplate,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      loading: true,
      error: false,
    };
  },
  beforeCreate() {
    this.$store.commit('setWatchOnly', false);
    this.$store.commit('setId', this.$route.params[`${this.type}Id`]);
    if (this.$route.params.currency) {
      this.$store.commit('setCurrency', this.$route.params.currency);
    }
  },
  async created() {
    const walletsRequest = this.$axios.options('/api/v2/wallets');
    const walletRequest = this.$axios.get(`/api/v2/${this.type}s/${this.$store.state.id}${this.type === 'account' ? ('?currency=' + this.$store.state.currency) : ''}`);
    await this.$axios
      .all([walletsRequest, walletRequest])
      .then(this.$axios.spread((...responses) => {
        const walletsResponse = responses[0].data.currencies;
        const walletResponse = this.type === 'account' ? responses[1].data.info[0] : responses[1].data;
        if (walletResponse.watch_only || walletResponse['watch-only']) {
          this.$store.commit('setWatchOnly', true);
          if (responses[1].data['paid-addresses'] !== undefined) {
            this.$store.commit('setPaidAddresses', responses[1].data['paid-addresses']);
          }
        }
        let wallet;
        walletsResponse.forEach((currency) => {
          if (currency.abbr === walletResponse.currency) {
            let name = '';
            let prefix = '';
            if (currency.abbr === 'bch') {
              name = 'bitcoin-cash';
            } else if (currency.abbr === 'tbch') {
              name = 'bitcoin-cash/testnet';
            } else {
              name = currency.name.toLowerCase().replace(/[()]/g, '').split(' ').join('/');
              prefix = `${currency.name.toLowerCase().replace(/[()]/g, '').split(' ').join('-')}:`;
            }
            const toFixed = (1 / currency['units-factor']).toString().length - 1;
            const pricing = currency['processing-fee'];
            if (pricing?.fixed && pricing?.percentage) {
              this.$store.commit('setPricing', {
                fixed: Object.assign(pricing.fixed, {
                  toFixed,
                  'units-factor': parseFloat(currency['units-factor']),
                  title: 'Fixed',
                  icon: 'pi pi-tag',
                }),
                percentage: Object.assign(pricing.percentage, {
                  toFixed,
                  'units-factor': parseFloat(currency['units-factor']),
                  title: 'Percentage',
                  icon: 'pi pi-percentage',
                }),
              });
            }
            wallet = Object.assign(walletResponse, {
              toFixed,
              'units-factor': parseFloat(currency['units-factor']),
              name,
              prefix,
            });
          }
        });
        this.$store.commit('setCurrency', wallet.currency);
        this.$store.commit('setWallet', wallet);
        this.$store.commit('setDestinations', wallet.destinations);
        this.$store.commit('setPolicy', wallet['processing-fee-policy']);
        this.$axios
          .get(`/api/v2/networks/${wallet.currency}/fee`)
          .then((fee) => {
            const list = fee.data;
            list.push({
              strategy: 'custom',
              rate: parseFloat(list[0].rate),
            });
            this.$store.commit('setFeeList', list);
            this.$store.commit('setCurrentFee', list[0]);
          });
        this.getBalance();
      }))
      .catch((error) => {
        if (error.response) {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error.response.data?.message,
            life: 3000,
          });
        } else if (error.request) {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: 'Check your internet connection.',
            life: 3000,
          });
        }
        this.error = true;
      })
      .then(() => {
        this.loading = false;
      });
  },
  mounted() {
    this.$store.commit('setAccount', null);
  },
  watch: {
    '$store.state.balance': {
      handler(to) {
        if (!to) {
          this.getBalance();
        }
      },
    },
    $route: {
      handler(to) {
        if (to?.name === 'Account Wallets' && this.$store.state.showTestnet) {
          this.$router.push({ query: { testnet: 'true' } });
        }
      },
    },
  },
  methods: {
    getBalance() {
      const { id } = this.$store.state;
      const type = id.slice(0, 3) === 'apr' ? 'account' : 'wallet';
      this.$axios
        .get(`/api/v2/${type}s/${id}/balance${type === 'account' ? ('?currency=' + this.$store.state.currency) : ''}`)
        .then((response) => {
          const balance = type === 'account' ? response.data.balance[0] : response.data;
          this.$store.commit('setBalance', Object.assign(balance, {
            toFixed: this.$store.state.wallet.toFixed,
            'units-factor': this.$store.state.wallet['units-factor'],
          }));
          this.getTicker();
        });
    },
    getTicker() {
      const { state } = this.$store;
      this.$store.commit('setTickerList', []);
      this.$axios
        .get(`/api/v2/ticker?currency=${state.currency}`)
        .then((response) => {
          let currentTicker = null;
          state.fiatItems.forEach((item) => {
            const val = response.data[item.toLowerCase()];
            if (localStorage[`ticker-${state.id}`] && JSON.parse(localStorage[`ticker-${state.id}`]).name === item) {
              currentTicker = {
                name: item,
                value: val,
                label: `${item} ${val.toFixed(2)}`,
              };
            }
            const { list } = state.ticker;
            list.push(
              {
                name: item,
                value: val,
                label: `${item} ${val.toFixed(2)}`,
              },
            );
            this.$store.commit('setTickerList', list);
          });
          if (currentTicker !== null) {
            this.$store.commit('setCurrentTicker', currentTicker);
            localStorage[`ticker-${state.id}`] = JSON.stringify(currentTicker);
          } else {
            this.$store.commit('setCurrentTicker', state.ticker.list[0]);
            localStorage[`ticker-${state.id}`] = JSON.stringify(state.ticker.list[0]);
          }
        });
    },
  },
};
</script>
