<script>

  import Logo from "$components/Logo.svelte";
  import {page} from "$app/stores";

  export let info
  export let preset

  export let reverseImages = false;

  let sessionKey = $page.params.session
  let loaderDownloadArchive = false


  async function resetInfo() {
    sessionStorage.clear();
    try {
      const response = await fetch(`${import.meta.env.VITE_BACKEND_URL}/sessions/${sessionKey}`)
      info = await response.json()

      const uniquePrefixes = new Set();

      info.items.forEach(item => {
        const parts = item.split('_');
        if (parts.length > 2) {
          uniquePrefixes.add(parts[0]);
        }
      });

      info.presets = Array.from(uniquePrefixes);
    } catch (e) {
      console.error('cscs')
    }
  }
</script>

<header class="header">
  <div class="container">
    <svelte:component
      this={Logo}
      width={130}
      height={25}
    />
    {#if info && typeof info !== 'string'}
      <div class="header__action">
        <button on:click|preventDefault={resetInfo} class="button-refresh header__refresh-btn"><i
          class="apr apr-refresh"></i></button>
        <label class="header__checkbox">
          <input id="reverse" type="checkbox" bind:checked={reverseImages}>
          <label for="reverse"><i class="apr apr-sort"></i></label>
        </label>
        <select bind:value={preset}>
          {#each info.presets as preset}
            <option value={preset}>{preset}</option>
          {/each}
        </select>
        <a
          class="button-confirmed"
          target="_blank"
          href={`${import.meta.env.VITE_BACKEND_URL.replace('api', '')}sessions/${sessionKey}.zip`}
          class:header__download-btn-loader={loaderDownloadArchive}
        >
          <span>Download ZIP</span>
          <i class="apr apr-save"></i>
          <i style="display: none" class="apr apr-refresh"></i>
        </a>
      </div>
    {/if}
  </div>
</header>

<style lang="scss">
  .header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--linear-primary);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 20px 0;

    @keyframes refresh {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(-360deg);
      }
    }

    &__download-btn-loader {
      width: 126.43px;
      height: 37px;
      display: flex;
      justify-content: center;
      background: var(--grey);
      cursor: not-allowed;

      span {
        display: none;
      }

      .apr-save {
        display: none !important;
      }

      .apr-refresh {
        animation: refresh 2s linear infinite;
        display: block !important;
      }
    }

    &__checkbox {
      margin-right: 12px;
    }

    &__refresh-btn {
      margin-right: 12px;
    }

    &__action {
      display: flex;
      align-items: center;

      .button-confirmed {
        font-size: 16px;
        i {
          display: none;
        }
      }

      select {
        width: 200px;
        height: 37px;
        margin-right: 16px;
      }
    }
  }

  @media (max-width: 600px) {
    .header {
      &__action {
        margin-left: 12px;

        .button-confirmed {
          height: 37px;
          border-radius: 0 4px 4px 0;

          i {
            display: block;
          }

          span {
            display: none;
          }
        }

        select {
          width: 140px;
          margin-right: 0;
          border-radius: 4px 0 0 4px;
          transform: translateX(1px);
        }
      }
    }
  }

  @media (max-width: 400px) {
    .header {
      &__action {
        select {
          width: 110px;
          height: 30px;
        }

        .button-confirmed {
          height: 30px;
        }
      }

      &__checkbox, &__refresh-btn {
        margin-right: 3px;
      }
    }
  }
</style>