<script>
  import {scale, fade} from 'svelte/transition';
  import {linear} from 'svelte/easing';
  export let openPhoto
  export let showPhoto = false

  function closePhoto() {
    showPhoto = false
    openPhoto = ''
  }
</script>

{#if showPhoto}
  <section class="open-photo">
    <button
      on:click|preventDefault={closePhoto}
      class="mask"
      in:fade={{duration: 200}}
      out:fade={{duration: 200}}
    ></button>
    <img
      src={openPhoto} alt=""
      in:scale={{ start: 0, end: 1, duration: 200, easing: linear }}
      out:scale={{ start: 1, end: 0, duration: 200, easing: linear }}
    >
  </section>
{/if}

<style lang="scss">
  .open-photo {
    img {
      position: fixed;
      max-height: 80vh;
      max-width: 80vw;
      transform: translate(-50%, -50%) !important;
      top: 50%;
      left: 50%;
      z-index: 105;
      transition: 0.2s;
    }
  }
</style>