<svg
        width="175"
        data-rellax-percentage="0.3" data-rellax-speed="1.5"
        class="rellax"
        id="eKS9CLFjkoW1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 0 200 200" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
    <g id="eKS9CLFjkoW2" transform="translate(0-33)" opacity="0">
        <rect id="eKS9CLFjkoW3" width="176" height="32" rx="0" ry="0" transform="translate(12.499999 72.161118)"
              fill="#f7f8f7" stroke-width="0"></rect>
        <text dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12" font-weight="400"
              transform="translate(53.771925 89.524955)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                USA
                ]]>
            </tspan>
        </text>
        <g transform="translate(28.62 79.161118)">
            <path d="M9.2,0.92C8.26,0.34,7.18,0,6,0v.92h3.2Z" fill="#ed4c5c"></path>
            <path d="M6,1.84h4.32c-.34-.34-.72-.66-1.12-.92h-3.2v.92Z" fill="#fff"></path>
            <path d="M6,2.76h5.06c-.22-.34-.46-.64-.72-.92h-4.34v.92Z" fill="#ed4c5c"></path>
            <path d="M6,3.68h5.54c-.14-.32-.3-.64-.48-.92h-5.06v.92Z" fill="#fff"></path>
            <path d="M6,4.6h5.84c-.08-.32-.18-.62-.3-.92h-5.54v.92Z" fill="#ed4c5c"></path>
            <path d="M6,5.54h5.98c-.02-.32-.08-.62-.14-.92h-5.84v.92Z" fill="#fff"></path>
            <path d="M11.98,5.54h-5.98L6,6h-6c0,.16,0,.3.02.46h11.96C12,6.3,12,6.16,12,6s0-.32-.02-.46Z"
                  fill="#ed4c5c"></path>
            <path d="M0.16,7.38h11.68c.08-.3.12-.6.14-.92h-11.96c.02.3.06.62.14.92Z" fill="#fff"></path>
            <path d="M0.46,8.3h11.08c.12-.3.22-.6.3-.92h-11.68c.08.32.18.62.3.92Z" fill="#ed4c5c"></path>
            <path d="M0.94,9.22h10.12c.18-.3.34-.6.48-.92h-11.08c.14.32.3.62.48.92Z" fill="#fff"></path>
            <path d="M1.66,10.14h8.68c.26-.28.52-.6.72-.92h-10.12c.2.34.46.64.72.92Z" fill="#ed4c5c"></path>
            <path d="M2.78,11.06h6.44c.42-.26.78-.58,1.12-.92h-8.68c.34.36.72.66,1.12.92Z" fill="#fff"></path>
            <path d="M6,12c1.18,0,2.28-.34,3.22-.94h-6.44c.94.6,2.04.94,3.22.94Z" fill="#ed4c5c"></path>
            <path d="M2.8,0.92c-.42.26-.8.58-1.14.92-.28.28-.52.6-.72.92-.18.3-.36.6-.48.92-.12.3-.22.6-.3.92-.08.3-.12.6-.14.92C0,5.68,0,5.84,0,6h6v-6c-1.18,0-2.26.34-3.2.92Z"
                  fill="#428bc1"></path>
            <path d="M4.6,0.2l.1.3h.3l-.24.2.08.3-.24-.18L4.36,1l.08-.3-.24-.2h.3l.1-.3Zm.8,1.2l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3L5,1.7h.3l.1-.3Zm-1.6,0l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3-.24-.2h.3l.1-.3Zm.8,1.2l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3-.24-.2h.3l.1-.3ZM3,2.6l.1.3h.3l-.24.2.08.3L3,3.22l-.24.18.08-.3-.24-.2h.3L3,2.6Zm-1.6,0l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3L1,2.9h.3l.1-.3Zm4,1.2l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3L5,4.1h.3l.1-.3Zm-1.6,0l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3-.24-.2h.3l.1-.3Zm-1.6,0l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3-.24-.2h.3l.1-.3ZM4.6,5l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3-.24-.2h.3L4.6,5ZM3,5l.1.3h.3l-.24.2.08.3L3,5.62l-.24.18.08-.3-.24-.2h.3L3,5ZM1.4,5l.1.3h.3l-.24.2.08.3-.24-.18-.24.18.08-.3L1,5.3h.3L1.4,5Zm.56-2.8l.24-.18.24.18-.1-.3.24-.2h-.3L2.2,1.4l-.1.3h-.28l.24.18-.1.32ZM0.36,4.6l.24-.18.24.18-.1-.3.24-.2h-.28l-.1-.3-.1.3h-.2c0,.02-.02.04-.02.06l.16.12-.08.32Z"
                  fill="#fff"></path>
        </g>
    </g>
    <g id="eKS9CLFjkoW22" transform="translate(0-33)" opacity="0">
        <rect width="176" height="26" rx="0" ry="0" transform="translate(12.499999 72.161118)" fill="#f7f8f7"
              stroke-width="0"></rect>
        <text dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12" font-weight="400"
              transform="translate(53.771925 89.524955)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Vietnam
                ]]>
            </tspan>
        </text>
        <g transform="translate(28.62 79.161118)">
            <path d="M6,12c3.31371,0,6-2.68629,6-6s-2.68629-6-6-6-6,2.68629-6,6s2.68629,6,6,6Z" fill="#f42f4c"/>
            <path d="M6,7.4L7.98,8.8L7.24,6.52L9.2,5.04h-2.44L6,2.8L5.26,5.04h-2.46L4.76,6.52L4.02,8.8L6,7.4Z"
                  fill="#ffe62e"></path>
        </g>
    </g>
    <g id="eKS9CLFjkoW29" transform="translate(0-33)" opacity="0">
        <rect id="eKS9CLFjkoW30" width="176" height="26" rx="0" ry="0" transform="translate(12.499999 72.161118)"
              fill="#f7f8f7" stroke-width="0"></rect>
        <text dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12" font-weight="400"
              transform="translate(53.771925 89.524955)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                India
                ]]>
            </tspan>
        </text>
        <g transform="translate(28.62 79.161118)">
            <path d="M5.98,0C3.38,0,1.16,1.68,0.34,4h11.32C10.82,1.68,8.6,0,5.98,0Z" fill="#f2b200"></path>
            <path d="M5.98,12c2.62,0,4.84-1.66,5.66-4h-11.3c.82,2.34,3.04,4,5.64,4Z" fill="#83bf4f"></path>
            <path d="M0.34,4C0.12,4.62,0,5.3,0,6s.12,1.38.34,2h11.32c.22-.62.34-1.3.34-2s-.12-1.38-.34-2L0.34,4Z"
                  fill="#fff"></path>
            <path d="M5.98,7.6c.88366,0,1.6-.71634,1.6-1.6s-.71634-1.6-1.6-1.6-1.6.71634-1.6,1.6.71634,1.6,1.6,1.6Z"
                  fill="#428bc1"></path>
            <path d="M5.98,7.4c.7732,0,1.4-.6268,1.4-1.4s-.6268-1.4-1.4-1.4-1.4.6268-1.4,1.4.6268,1.4,1.4,1.4Z"
                  fill="#fff"></path>
            <path d="M5.46,4.8c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.14,4.98c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.88,5.24c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.7,5.56c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.6,5.92c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.6,6.28c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.7,6.64c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.88,6.96c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.14,7.22c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.46,7.4c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.8,7.48c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.08,7.4c0-.06.04-.1.08-.12.06,0,.1.04.12.08c0,.06-.04.1-.08.12-.08.02-.12-.02-.12-.08Z"
                  fill="#428bc1"></path>
            <path d="M6.52,7.4c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.84,7.22c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.1,6.96c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.28,6.64c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.38,6.28c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.38,5.92c-.06,0-.1-.04-.12-.08c0-.06.04-.1.08-.12.06,0,.1.04.12.08.02.06-.02.1-.08.12Z"
                  fill="#428bc1"></path>
            <path d="M7.28,5.56c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.1,5.24c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.84,4.98c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.62,4.74c-.02.06-.08.08-.14.06s-.08-.08-.06-.14.08-.08.14-.06c.06.04.08.1.06.14Zm-.36-.12c0,.06-.06.1-.12.08-.06,0-.1-.06-.08-.12c0-.06.06-.1.12-.08s.1.08.08.12ZM5.9,4.6c0,.06-.04.1-.08.12-.06,0-.1-.04-.12-.08c0-.06.04-.1.08-.12.06-.02.12.02.12.08Z"
                  fill="#428bc1"></path>
            <path d="M5.98,6.3c.16569,0,.3-.13431.3-.3s-.13431-.3-.3-.3-.3.13431-.3.3.13431.3.3.3Z" fill="#428bc1"></path>
            <path d="M5.98,4.6l-.04.86.04.54.06-.54-.06-.86Zm-.36.04l.18.86.18.5-.08-.54-.28-.82Z" fill="#428bc1"></path>
            <path d="M5.28,4.78l.4.78.3.44-.22-.5-.48-.72ZM5,5l.58.66.4.34-.34-.42L5,5Z" fill="#428bc1"></path>
            <path d="M4.78,5.3l.72.48.48.22-.44-.32-.76-.38Z" fill="#428bc1"></path>
            <path d="M4.64,5.64l.82.26.52.1-.5-.18-.84-.18ZM4.58,6l.88.04L5.98,6l-.52-.04L4.58,6Z" fill="#428bc1"></path>
            <path d="M4.64,6.36l.84-.18.5-.18-.52.1-.82.26Zm.14.34l.76-.38L5.98,6l-.48.22-.72.48Z" fill="#428bc1"></path>
            <path d="M5,6.98l.64-.56L5.98,6l-.4.34L5,6.98Zm.28.24l.48-.74L5.98,6l-.3.44-.4.78Z" fill="#428bc1"></path>
            <path d="M5.62,7.36l.28-.82L5.98,6l-.18.5-.18.86Zm.36.04l.06-.86L5.98,6l-.04.54.04.86Zm.36-.04L6.18,6.5L5.98,6l.1.54.26.82Z"
                  fill="#428bc1"></path>
            <path d="M6.68,7.22L6.3,6.44L5.98,6l.24.5.46.72Zm.3-.24L6.4,6.34L5.98,6l.36.42.64.56Z" fill="#428bc1"></path>
            <path d="M7.2,6.7l-.72-.48L5.98,6l.44.32.78.38Zm.14-.34L6.52,6.1L5.98,6l.52.18.84.18ZM7.38,6l-.86-.06L5.98,6l.54.04L7.38,6Zm-.04-.36l-.84.18L5.98,6l.54-.1.82-.26Z"
                  fill="#428bc1"></path>
            <path d="M7.2,5.3l-.78.38L5.98,6l.5-.22.72-.48Zm-.22-.28l-.64.56L5.98,6l.42-.34.58-.64Z" fill="#428bc1"></path>
            <path d="M6.68,4.78l-.46.74L5.98,6l.32-.44.38-.78Z" fill="#428bc1"></path>
            <path d="M6.36,4.64l-.28.82-.1.54.2-.5.18-.86Z" fill="#428bc1"></path>
        </g>
    </g>
    <g id="eKS9CLFjkoW74" transform="translate(0-33)" opacity="0">
        <rect width="176" height="26" rx="0" ry="0" transform="translate(12.499999 72.161118)" fill="#f7f8f7"
              stroke-width="0"></rect>
        <text dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12" font-weight="400"
              transform="translate(53.771925 89.524955)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                China
                ]]>
            </tspan>
        </text>
        <g transform="translate(28.623524 79.161118)">
            <path d="M6,12c3.31371,0,6-2.68629,6-6s-2.68629-6-6-6-6,2.68629-6,6s2.68629,6,6,6Z" fill="#ed4c5c"></path>
            <path d="M3.99984,5.28l1.6,1.12-.6-1.84l1.6-1.16h-1.98l-.62-1.8-.6,1.8h-2l1.6,1.16-.6,1.84l1.6-1.12Zm2.66,1.38l-.46.1.44.18v.46l.3-.34.44.16-.26001-.38.28001-.36-.46.1-.28-.38v.46Zm.68-1.36l-.34.3.46-.04.2.44.08-.46.46-.04-.4-.24.1-.46-.34001.3-.39999-.24.18.44Zm.12-1.56l.14.46.14-.44h.46l-.36-.28.14-.46-.38.28-.36-.3.14.46-.38.26.46.02Zm-.8-1.6v.46l.28-.38.46.1-.28001-.36.26001-.38-.44.18-.3-.36v.46l-.44.18.46.1Z"
                  fill="#ffe62e"></path>
        </g>
    </g>
    <rect id="eKS9CLFjkoW81" width="176" height="26" rx="0" ry="0" transform="translate(12.499999 39.161118)"
          opacity="0" fill="#f7f8f7" stroke-width="0"></rect>
    <g id="eKS9CLFjkoW82" transform="translate(-8.485949 0)">
        <rect width="176" height="40" rx="6" ry="6" transform="translate(20.985948 31.329188)" fill="#f7f8f7"
              stroke-width="0"></rect>
        <g id="eKS9CLFjkoW84" transform="matrix(.199485 0 0 0.199485 33.137726 41.354937)">
            <circle r="30.09" transform="translate(50 50)" fill="none" stroke="#625ee3" stroke-width="4"
                    stroke-linecap="round" stroke-linejoin="round"></circle>
            <ellipse rx="16.46" ry="30.09" transform="translate(50 50)" fill="none" stroke="#625ee3" stroke-width="4"
                     stroke-linecap="round" stroke-linejoin="round"></ellipse>
            <path d="M71.09,71.46C64.946628,67.054701,57.559204,64.72183,50,64.8c-7.559204-.07817-14.946628,2.254701-21.09,6.66"
                  fill="none" stroke="#625ee3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M71.09,28.54C64.946628,32.945299,57.559204,35.27817,50,35.2c-7.559204.07817-14.946628-2.254701-21.09-6.66"
                  fill="none" stroke="#625ee3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
            <line x1="19.91" y1="50" x2="80.09" y2="50" fill="none" stroke="#625ee3" stroke-width="4"
                  stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="50" y1="19.91" x2="50" y2="80.09" fill="none" stroke="#625ee3" stroke-width="4"
                  stroke-linecap="round" stroke-linejoin="round"></line>
        </g>
        <text id="eKS9CLFjkoW91" dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(61.771925 55.770113)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Select country
                ]]>
            </tspan>
        </text>
        <path id="eKS9CLFjkoW93" d="M4,0L8,4h-8L4,0Z" transform="matrix(-1 0 0-1 184.985948 53.329188)" fill="#8d8d9c"></path>
        <text id="eKS9CLFjkoW94" dx="0" dy="0" font-family="&quot;eKS9CLFjkoW1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(61.771925 55.524955)" opacity="0" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                India
                ]]>
            </tspan>
        </text>
        <g id="eKS9CLFjkoW96" transform="translate(37.105949 45.161118)" opacity="0">
            <path d="M5.98,0C3.38,0,1.16,1.68,0.34,4h11.32C10.82,1.68,8.6,0,5.98,0Z" fill="#f2b200"></path>
            <path d="M5.98,12c2.62,0,4.84-1.66,5.66-4h-11.3c.82,2.34,3.04,4,5.64,4Z" fill="#83bf4f"></path>
            <path d="M0.34,4C0.12,4.62,0,5.3,0,6s.12,1.38.34,2h11.32c.22-.62.34-1.3.34-2s-.12-1.38-.34-2L0.34,4Z"
                  fill="#fff"></path>
            <path d="M5.98,7.6c.88366,0,1.6-.71634,1.6-1.6s-.71634-1.6-1.6-1.6-1.6.71634-1.6,1.6.71634,1.6,1.6,1.6Z"
                  fill="#428bc1"></path>
            <path d="M5.98,7.4c.7732,0,1.4-.6268,1.4-1.4s-.6268-1.4-1.4-1.4-1.4.6268-1.4,1.4.6268,1.4,1.4,1.4Z"
                  fill="#fff"></path>
            <path d="M5.46,4.8c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.14,4.98c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.88,5.24c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.7,5.56c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.6,5.92c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.6,6.28c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.7,6.64c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M4.88,6.96c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.14,7.22c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.46,7.4c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M5.8,7.48c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.08,7.4c0-.06.04-.1.08-.12.06,0,.1.04.12.08c0,.06-.04.1-.08.12-.08.02-.12-.02-.12-.08Z"
                  fill="#428bc1"></path>
            <path d="M6.52,7.4c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.84,7.22c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.1,6.96c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.28,6.64c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.38,6.28c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.38,5.92c-.06,0-.1-.04-.12-.08c0-.06.04-.1.08-.12.06,0,.1.04.12.08.02.06-.02.1-.08.12Z"
                  fill="#428bc1"></path>
            <path d="M7.28,5.56c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M7.1,5.24c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.84,4.98c.05523,0,.1-.04477.1-.1s-.04477-.1-.1-.1-.1.04477-.1.1.04477.1.1.1Z" fill="#428bc1"></path>
            <path d="M6.62,4.74c-.02.06-.08.08-.14.06s-.08-.08-.06-.14.08-.08.14-.06c.06.04.08.1.06.14Zm-.36-.12c0,.06-.06.1-.12.08-.06,0-.1-.06-.08-.12c0-.06.06-.1.12-.08s.1.08.08.12ZM5.9,4.6c0,.06-.04.1-.08.12-.06,0-.1-.04-.12-.08c0-.06.04-.1.08-.12.06-.02.12.02.12.08Z"
                  fill="#428bc1"></path>
            <path d="M5.98,6.3c.16569,0,.3-.13431.3-.3s-.13431-.3-.3-.3-.3.13431-.3.3.13431.3.3.3Z" fill="#428bc1"></path>
            <path d="M5.98,4.6l-.04.86.04.54.06-.54-.06-.86Zm-.36.04l.18.86.18.5-.08-.54-.28-.82Z" fill="#428bc1"></path>
            <path d="M5.28,4.78l.4.78.3.44-.22-.5-.48-.72ZM5,5l.58.66.4.34-.34-.42L5,5Z" fill="#428bc1"></path>
            <path d="M4.78,5.3l.72.48.48.22-.44-.32-.76-.38Z" fill="#428bc1"></path>
            <path d="M4.64,5.64l.82.26.52.1-.5-.18-.84-.18ZM4.58,6l.88.04L5.98,6l-.52-.04L4.58,6Z" fill="#428bc1"></path>
            <path d="M4.64,6.36l.84-.18.5-.18-.52.1-.82.26Zm.14.34l.76-.38L5.98,6l-.48.22-.72.48Z" fill="#428bc1"></path>
            <path d="M5,6.98l.64-.56L5.98,6l-.4.34L5,6.98Zm.28.24l.48-.74L5.98,6l-.3.44-.4.78Z" fill="#428bc1"></path>
            <path d="M5.62,7.36l.28-.82L5.98,6l-.18.5-.18.86Zm.36.04l.06-.86L5.98,6l-.04.54.04.86Zm.36-.04L6.18,6.5L5.98,6l.1.54.26.82Z"
                  fill="#428bc1"></path>
            <path d="M6.68,7.22L6.3,6.44L5.98,6l.24.5.46.72Zm.3-.24L6.4,6.34L5.98,6l.36.42.64.56Z" fill="#428bc1"></path>
            <path d="M7.2,6.7l-.72-.48L5.98,6l.44.32.78.38Zm.14-.34L6.52,6.1L5.98,6l.52.18.84.18ZM7.38,6l-.86-.06L5.98,6l.54.04L7.38,6Zm-.04-.36l-.84.18L5.98,6l.54-.1.82-.26Z"
                  fill="#428bc1"></path>
            <path d="M7.2,5.3l-.78.38L5.98,6l.5-.22.72-.48Zm-.22-.28l-.64.56L5.98,6l.42-.34.58-.64Z" fill="#428bc1"></path>
            <path d="M6.68,4.78l-.46.74L5.98,6l.32-.44.38-.78Z" fill="#428bc1"></path>
            <path d="M6.36,4.64l-.28.82-.1.54.2-.5.18-.86Z" fill="#428bc1"></path>
        </g>
    </g>
    <ellipse id="eKS9CLFjkoW137" rx="5" ry="5" transform="translate(151.348271 108.586065)" opacity="0" fill="#625ee3"
             stroke-width="0"></ellipse>
    <ellipse id="eKS9CLFjkoW138" rx="5" ry="5" transform="matrix(.617073 0 0 0.617073 151.348271 108.586065)"
             opacity="0" fill="none" stroke="#625ee3"></ellipse>
    <ellipse id="eKS9CLFjkoW139" rx="5" ry="5" transform="matrix(0 0 0 0 151.382788 108.620582)" opacity="0" fill="none"
             stroke="#625ee3"></ellipse>

    <style>
    tspan {
        font-family: 'Inter', sans-serif;
    }

    ></style>
</svg>
