<svg id="eLZAnc5IEh81" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 0 400 313" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
    <defs>
        <filter id="eLZAnc5IEh8119-filter" x="-150%" width="400%" y="-150%" height="400%">
            <feGaussianBlur id="eLZAnc5IEh8119-filter-blur-0" stdDeviation="0.5,0.5" result="result"></feGaussianBlur>
        </filter>
        <filter id="eLZAnc5IEh8122-filter" x="-150%" width="400%" y="-150%" height="400%">
            <feGaussianBlur id="eLZAnc5IEh8122-filter-blur-0" stdDeviation="0.5,0.5" result="result"></feGaussianBlur>
        </filter>
        <filter id="eLZAnc5IEh8125-filter" x="-150%" width="400%" y="-150%" height="400%">
            <feGaussianBlur id="eLZAnc5IEh8125-filter-blur-0" stdDeviation="0.5,0.5" result="result"></feGaussianBlur>
        </filter>
    </defs>
    <g mask="url(#eLZAnc5IEh84)">
        <path d="M148.595,113.714l.866.5v-1l-.866-.5v1ZM98.8633,85.9995L148.595,114.714v-2L98.8632,83.9995l.0001,2ZM147.729,113.214l.002,57.426l1.732,1-.002-57.426-1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh84" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M98.8633,84.9995L148.595,113.714l.002,57.426-49.7319-28.714-.0018-57.4265Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh88)">
        <path d="M49.1318,113.714l.0001-1-.866.5-.0001,1l.866-.5ZM49.13,171.14l-.866.5v1l.866-.5v-1Zm.0018-56.426L98.8635,85.9993l.0001-2L49.1319,112.714l-.0001,2Zm49.7299,26.712L49.13,170.14v2l49.7317-28.714v-2ZM49.996,170.64l.0018-57.426-1.732,1-.0018,57.426l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh88" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M49.1318,113.714L98.8635,84.9993l-.0018,57.4267L49.13,171.14l.0018-57.426Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh812)">
        <path d="M98.8633,199.846l-.8661.5.8661.5.866-.5-.866-.5ZM49.1298,171.135l-.8661-.5-.866.5.866.5.8661-.5Zm98.6012-.5L97.9972,199.346l1.7321,1l49.7337-28.711-1.732-1ZM99.7293,199.346L49.9958,170.635l-1.7321,1l49.7335,28.711l1.7321-1ZM49.9958,171.635l49.7335-28.712-1.7321-1-49.7335,28.712l1.7321,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh812" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M98.8633,142.423l49.7337,28.712-49.7337,28.711-49.7335-28.711l49.7335-28.712Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <rect id="eLZAnc5IEh814" width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 49.562925 114.454536)" opacity="0.1" fill="#625ee3"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh817)">
        <path d="M98.8643,142.419v-1l-.866.5-.0001,1l.8661-.5Zm49.7317-28.714l.866-.5v-1l-.866.5v1ZM98.8642,143.419l49.7318-28.714v-2L98.8643,141.419l-.0001,2ZM147.73,114.205l-.002,57.426l1.732-1l.002-57.426-1.732,1ZM99.7284,199.346l.0019-57.427-1.7321,1-.0018,57.427l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh817" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M98.8643,142.419l49.7317-28.714-.002,57.426-49.7316,28.715.0019-57.427Z" fill="#fff"></path>
        </mask>
    </g>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 49.995927 113.711004)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh822)">
        <path d="M197.987,28.7155l.866.5v-1l-.866-.5v1ZM148.255,1.00079L197.987,29.7155v-2L148.255,-0.999207v1.999997ZM197.121,28.2155l.001,57.4262l1.732,1.0001-.001-57.4263-1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh822" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M148.255,0.000793L197.987,28.7155l.001,57.4263-49.731-28.7147-.002-57.426307Z"
                  transform="translate(0 0.000001)" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh826)">
        <path d="M98.5234,28.7153l.0001-1-.866.5-.0001,1l.866-.5Zm-.0018,57.4263l-.866.5v1l.866-.5v-1Zm.0018-56.4263L148.255,1.00059v-2.000002L98.5235,27.7153l-.0001,2ZM148.253,56.4268L98.5216,85.1416v2L148.253,58.4268v-2ZM99.3876,85.6415l.0018-57.4262-1.732,1-.0018,57.4263l1.732-1.0001Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh826" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M98.5234,28.7153L148.255,0.000588L148.253,57.4268L98.5216,86.1416l.0018-57.4263Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh830)">
        <path d="M148.255,114.847l-.866.5.866.5.866-.5-.866-.5ZM98.5214,86.1354l-.8661-.4999-.866.4999.866.5.8661-.5Zm98.6006-.4999L147.389,114.347l1.732,1l49.733-28.7116-1.732-.9999ZM149.121,114.347L99.3874,85.6355l-1.7321.9999L147.389,115.347l1.732-1ZM99.3874,86.6354L149.121,57.9239l-1.732-1L97.6553,85.6355l1.7321.9999Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh830" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M148.255,57.4239l49.733,28.7115-49.733,28.7116L98.5214,86.1354L148.255,57.4239Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <rect id="eLZAnc5IEh832" width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 98.954525 29.456236)" opacity="0.3" fill="#625ee3"
          stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 148.688965 57.670679)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 99.387527 28.711504)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh837)">
        <path d="M297.917,84.9988l.866.5001v-1l-.866-.5001v1ZM248.186,57.2841l49.731,28.7147v-2L248.186,55.2841v2Zm48.865,27.2147l.002,57.4262l1.732,1-.002-57.4261-1.732-1.0001Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh837" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M248.186,56.2841l49.731,28.7147.002,57.4262-49.732-28.715-.001-57.4259Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh841)">
        <path d="M198.454,84.9991v-1l-.866.5001v1l.866-.5001Zm-.002,57.4259l-.866.5v1l.866-.5v-1Zm.002-56.4259l49.732-28.7147v-2L198.454,83.9991v2Zm49.73,26.7119l-49.732,28.714v2l49.732-28.714v-2Zm-48.866,29.214l.002-57.4259-1.732,1.0001-.002,57.4258l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh841" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M198.454,84.9991l49.732-28.7147-.002,57.4266-49.732,28.714.002-57.4259Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh845)">
        <path d="M248.186,171.13l-.866.5.866.5.866-.5-.866-.5Zm-49.734-28.711l-.866-.5-.866.5.866.5.866-.5Zm98.601-.5L247.32,170.63l1.732,1l49.733-28.711-1.732-1ZM249.052,170.63l-49.734-28.711-1.732,1L247.32,171.63l1.732-1Zm-49.734-27.711l49.734-28.712-1.732-1-49.734,28.712l1.732,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh845" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M248.186,113.707l49.733,28.712-49.733,28.711-49.734-28.711l49.734-28.712Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <rect id="eLZAnc5IEh847" width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 198.885025 85.739436)" opacity="0.4" fill="#625ee3"
          stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 248.619965 113.954479)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 199.318027 84.995404)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh852)">
        <path d="M347.465,170.968l.866.5v-1l-.866-.5v1Zm-49.732-27.715l49.732,28.715v-2l-49.732-28.715v2Zm48.866,27.215l.002,57.426l1.732,1-.002-57.426-1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh852" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M297.733,142.253l49.732,28.715.002,57.426-49.732-28.715-.002-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh856)">
        <path d="M248.003,170.968v-1l-.866.5v1l.866-.5Zm-.002,57.426l-.866.5v1l.866-.5v-1Zm.002-56.426l49.732-28.715v-2l-49.732,28.715v2Zm49.73,26.711l-49.732,28.715v2l49.732-28.715v-2Zm-48.866,29.215l.002-57.426-1.732,1-.002,57.426l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh856" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M248.003,170.968l49.732-28.715-.002,57.426-49.732,28.715.002-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh860)">
        <path d="M297.733,257.1l-.866.5.866.5.866-.5-.866-.5ZM248,228.389l-.866-.5-.866.5.866.5.866-.5Zm98.601-.5L296.867,256.6l1.732,1l49.734-28.711-1.732-1ZM298.599,256.6l-49.733-28.711-1.732,1L296.867,257.6l1.732-1Zm-49.733-27.711l49.733-28.712-1.732-1-49.733,28.712l1.732,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh860" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M297.733,199.677l49.734,28.712L297.733,257.1L248,228.389l49.733-28.712Z" fill="#fff"></path>
        </mask>
    </g>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 248.433025 171.708536)" fill="none"
          stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 298.166965 199.923479)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 248.866027 170.965004)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh867)">
        <path d="M99.4651,141.968l.8659.5v-1l-.8659-.5v1ZM49.7334,114.253l49.7317,28.715v-2L49.7334,112.253v2Zm48.8657,27.215l.0018,57.426l1.7321,1-.002-57.426-1.7319-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh867" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M49.7334,113.253l49.7317,28.715.0018,57.426-49.7317-28.715-.0018-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh871)">
        <path d="M0.001953,141.968l.000032-1-.86601.5-.000031,1l.866009-.5Zm-.000032,1L49.7336,114.253l.0001-2L0.001985,140.968l-.000064,2Zm.864213,55.926l.001829-57.426-1.732019,1-.001829,57.426l1.732019-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh871" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M0.001953,141.968L49.7336,113.253l-.0018,57.426L0.000125,199.394l.001828-57.426Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh875)">
        <path d="M49.7334,228.1l-.866.5.866.5.866-.5-.866-.5Zm48.8675-29.212L48.8674,227.6l1.732,1l49.7336-28.712-1.7321-1ZM50.5994,227.6L0.865925,198.888l-1.732083,1L48.8674,228.6l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh875" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M49.7334,170.677l49.7335,28.711L49.7334,228.1L-0.000116,199.388L49.7334,170.677Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 0.433022 142.708536)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 50.167365 170.922479)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 0.866041 141.965004)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh882)">
        <path d="M397.465,84.9677l.866.5v-1l-.866-.5v1ZM347.733,57.253l49.732,28.7147v-2L347.733,55.253v2Zm48.866,27.2147l.002,57.4263l1.732,1-.002-57.4263-1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh882" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M347.733,56.253l49.732,28.7147.002,57.4263-49.732-28.715-.002-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh886)">
        <path d="M298.002,84.968v-1l-.866.5001v1l.866-.5001ZM298,142.394l-.866.5v1l.866-.5v-1Zm.002-56.426l49.732-28.7147v-2L298.002,83.968v2Zm49.73,26.712L298,141.394v2l49.732-28.714v-2Zm-48.866,29.214l.002-57.426-1.732,1.0001-.002,57.4259l1.732-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh886" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M298.002,84.968l49.732-28.7147-.002,57.4267L298,142.394l.002-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh890)">
        <path d="M347.733,171.099l-.866.5.866.5.866-.5-.866-.5ZM298,142.388l-.866-.5-.866.5.866.5.866-.5Zm98.601-.5l-49.734,28.711l1.732,1l49.734-28.711-1.732-1Zm-48.002,28.711l-49.733-28.711-1.732,1l49.733,28.711l1.732-1Zm-49.733-27.711l49.733-28.712-1.732-1-49.733,28.712l1.732,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh890" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M347.733,113.676l49.734,28.712-49.734,28.711L298,142.388l49.733-28.712Z" fill="#fff"></path>
        </mask>
    </g>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 298.433025 85.708436)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 348.166965 113.923479)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 298.866027 84.964304)" opacity="0.2"
          fill="#625ee3" stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh897)">
        <path d="M99.4651,84.9678l.8659.5v-1l-.8659-.5v1ZM49.7334,57.2531L99.4651,85.9678v-2L49.7334,55.2531v2ZM98.5991,84.4677l.0018,57.4263l1.7321,1-.002-57.4262-1.7319-1.0001Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh897" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M49.7334,56.2531L99.4651,84.9678l.0018,57.4262-49.7317-28.715-.0018-57.4259Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh8101)">
        <path d="M0.001953,84.9681l.000032-1-.86601.5-.000031,1l.866009-.5ZM0.000125,142.394l-.86601.5-.000031,1l.866009-.5.000032-1Zm.001796-56.4259L49.7336,57.2534l.0001-2L0.001985,83.9681l-.000064,2ZM49.7318,112.68L0.000157,141.394l-.000064,2L49.7318,114.68v-2ZM0.866134,141.894l.001829-57.4259-1.732019,1-.001829,57.4259l1.732019-1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh8101" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M0.001953,84.9681L49.7336,56.2534L49.7318,113.68L0.000125,142.394l.001828-57.4259Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <g mask="url(#eLZAnc5IEh8105)">
        <path d="M49.7334,171.099l-.866.5.866.5.866-.5-.866-.5ZM-0.000116,142.388l-.866042-.5-.866042.5.866042.5.866042-.5Zm98.601016-.5L48.8674,170.599l1.732,1l49.7336-28.711-1.7321-1ZM50.5994,170.599L0.865925,141.888l-1.732083,1L48.8674,171.599l1.732-1ZM0.865925,142.888L50.5994,114.176l-1.732-1-49.733558,28.712l1.732083,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh8105" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M49.7334,113.676l49.7335,28.712-49.7335,28.711-49.733516-28.711L49.7334,113.676Z"
                  fill="#fff"></path>
        </mask>
    </g>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 0.433022 85.708436)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 50.167365 113.923479)" fill="none" stroke="#625ee3"></rect>
    <rect id="eLZAnc5IEh8109" width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 0.866041 84.964404)" opacity="0.5"
          fill="#625ee3" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601 0.500028 0.000032 1 148.688025 171.897536)" fill="none"
          stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.86601-.500028-.000032 1 98.956465 200.112479)" fill="none" stroke="#625ee3"></rect>
    <rect width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041 0.499972-.866041 0.499972 148.255004 229.070972)" fill="none"
          stroke="#625ee3"></rect>
    <g mask="url(#eLZAnc5IEh8115)">
        <path d="M98.5215,199.853v-1l-.8661-.5.0001,1l.866.5Zm.0018,57.426l-.866-.5v1l.866.5v-1Zm-.0018-56.426l49.7315,28.715v-2L98.5215,198.853v2Zm49.7335,84.141L98.5233,256.279v2l49.7317,28.715v-2ZM99.3893,257.779l-.0018-57.426-1.732-1l.0018,57.426l1.732,1Z"
              fill="#625ee3"></path>
        <mask id="eLZAnc5IEh8115" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M98.5215,199.853l49.7315,28.715.002,57.426-49.7317-28.715-.0018-57.426Z" fill="#fff"></path>
        </mask>
    </g>
    <path d="M197.986,257.279l.002-57.426-49.732,28.715v78.119" fill="none" stroke="#625ee3"></path>
    <rect id="eLZAnc5IEh8118" width="56.4263" height="56.4263" rx="0" ry="0"
          transform="matrix(.866041-.499972 0.866041 0.499972 99.387527 199.858004)" opacity="0.2"
          fill="#625ee3" stroke="#625ee3"></rect>
    <g id="eLZAnc5IEh8119" opacity="0" filter="url(#eLZAnc5IEh8119-filter)">
        <path d="M250,56.2529c0,1.1046-.895,2-2,2s-2-.8954-2-2c0-1.1045.895-2,2-2s2,.8955,2,2Z"
              fill="#625ee3"></path>
        <path d="M249,56.2529c0,.5523-.448,1-1,1s-1-.4477-1-1s.448-1,1-1s1,.4477,1,1Z" fill="#8783fa"></path>
    </g>
    <g id="eLZAnc5IEh8122" opacity="0" filter="url(#eLZAnc5IEh8122-filter)">
        <path d="M150,309.253c0,1.104-.895,2-2,2s-2-.896-2-2c0-1.105.895-2,2-2s2,.895,2,2Z" fill="#625ee3"></path>
        <path d="M149,309.253c0,.552-.448,1-1,1s-1-.448-1-1s.448-1,1-1s1,.448,1,1Z" fill="#8783fa"></path>
    </g>
    <g id="eLZAnc5IEh8125" opacity="0" filter="url(#eLZAnc5IEh8125-filter)">
        <path d="M399,142.253c0,1.104-.895,2-2,2s-2-.896-2-2c0-1.105.895-2,2-2s2,.895,2,2Z" fill="#625ee3"></path>
        <path d="M398,142.253c0,.552-.448,1-1,1s-1-.448-1-1s.448-1,1-1s1,.448,1,1Z" fill="#8783fa"></path>
    </g>
</svg>