<svg
        class="rellax"
        data-rellax-percentage="0.4"
        data-rellax-speed="6.5"
        data-rellax-xs-speed="1.3"
        width="320"
        cache-id="4cfbe0833cc24c10844722907da74ec3" id="eJDR8acjFEo1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 316 76" shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision">
    <rect width="301.247173" height="59.599261" rx="5" ry="5"
          transform="matrix(1.048972 0 0 1.275183 0.000151 0.000017)" fill="#f7f8f7" stroke-width="0"></rect>
    <g mask="url(#eJDR8acjFEo7)">
        <g>
            <rect width="316" height="6" rx="0" ry="0" transform="translate(0 70)" fill="#d2dbed" stroke-width="0"></rect>
            <rect id="eJDR8acjFEo6" width="316" height="6" rx="0" ry="0" transform="matrix(0 0 0 1 0.000151 70.084031)"
                  fill="#625ee3" stroke-width="0"></rect>
        </g>
        <mask id="eJDR8acjFEo7" mask-type="luminance" x="-150%" y="-150%" height="400%" width="400%">
            <path d="M5.24501,75.99998c-2.79285,0-5.07585-2.65366-5.2359-6h315.98192c-.16005,3.34634-2.44305,6-5.2359,6h-305.51012Z"
                  fill="#dedee3" stroke-width="0"></path>
        </mask>
    </g>
    <g transform="translate(0-.97851)">
        <text dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="14" font-weight="600"
              transform="translate(65.414506 35.832754)" fill="#0c0b2d" stroke-width="0">
            <tspan y="0" font-weight="600" stroke-width="0"><![CDATA[
                Visa Application
                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo12" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" opacity="0" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Completed
                ]]>
            </tspan>
            <tspan x="0" y="24" font-weight="400" stroke-width="0"><![CDATA[

                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo15" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" opacity="0" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Contacting minesterial website
                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo17" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" opacity="0" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Contacting minesterial website.
                ]]>
            </tspan>
            <tspan x="0" y="24" font-weight="400" stroke-width="0"><![CDATA[

                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo20" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" opacity="0" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Contacting minesterial website..
                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo22" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" opacity="0" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Contacting minesterial website...
                ]]>
            </tspan>
        </text>
        <text id="eJDR8acjFEo24" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="12"
              font-weight="400" transform="translate(65.414506 52.832754)" fill="#8d8d9c" stroke-width="0">
            <tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
                Waiting
                ]]>
            </tspan>
        </text>
    </g>
    <text id="eJDR8acjFEo26" dx="0" dy="0" font-family="&quot;eJDR8acjFEo1:::Inter&quot;" font-size="14"
          font-weight="600" transform="translate(258.196278 43.23194)" opacity="0.3" fill="#2676f7" stroke-width="0">
        <tspan y="0" font-weight="600" stroke-width="0"><![CDATA[
            View
            ]]>
        </tspan>
    </text>
    <ellipse id="eJDR8acjFEo28" rx="13" ry="13" transform="translate(36.917848 38)" fill="#625ee3" stroke-width="0"></ellipse>
    <g id="eJDR8acjFEo29" transform="translate(32.047258 32)">
        <path d="M0,11.8333c0,.0921.079296.1667.177112.1667h9.564068v-9h-2.82017c-.09782,0-.17712-.07462-.17712-.16667v-2.83333h-6.566778C0.079296,0,0,0.074619,0,0.166667L0,11.8333Z"
              fill="#f7f8f7"></path>
        <path d="M7.22567,0v2.52549h2.51551L7.22567,0Z" fill="#f7f8f7"></path>
    </g>
    <path id="eJDR8acjFEo32" d="M1,5.19048L4.80952,9L12.8095,1" transform="translate(30.466083 32.135534)" opacity="0"
          fill="none" stroke="#f7f8f7" stroke-width="2"></path>


    <style>

    tspan {
        font-family: 'Inter', sans-serif;
    }
    ></style>
</svg>
