.time {
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #e4e4e4;
  color: #a1a1a1;
  margin: 12px 0;
  font-weight: 500;
  display: block;
}

.empty {
  padding: 8px;
  background: var(--grey);
  border-radius: var(--radius);
  color: var(--black);
  max-width: 170px;
  width: 100%;
}

.status {
  text-transform: capitalize;
  text-align: end;
  background: rgba(200, 76, 9, 0.2);
  padding: 4px;
  font-size: 11px;
  border-radius: 4px;
  color: var(--black);
  display: inline-block;
  margin-bottom: 8px;

  &__short {
    background: rgba(88, 135, 255, 0.2);
  }
}

.slot {
  max-width: 170px;
  width: 100%;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  padding: 12px 8px;
  border-radius: 8px;
  background: #f2f7ff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid #f2f7ff;
  font-size: 16px;

  &-unavailable {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.4) !important;
    opacity: 1 !important;
  }

  &-reserved {
    background: rgb(151, 207, 148) !important;
  }

  &-active {
    box-shadow: 0 0 7px 6px rgba(0, 0, 0, 0.2);
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: var(--black);

    &:first-child {
      margin-top: 0;
    }
  }
}

.day {
  width: calc(100% / 7);
  flex-shrink: 0;
  transition: transform 0.5s ease;
  padding: 10px 16px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;

  &:last-child {
    border-right: none;
  }
}

.week {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.weekend {
  .calendar__date {
    color: var(--orange) !important;

    span {
      color: var(--orange) !important;
    }
  }
}

.today {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: var(--blue);
    border-radius: 100%;
    position: absolute;
    top: 30px;
    right: 16px;
  }
}

.break {
  margin-top: 6px;
}

.slot-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reserved {
  opacity: 0.8;
  padding: 4px;
  font-size: 12px;
  border-radius: var(--radius);
  background: var(--lime);
  color: var(--black);
  border: 1px solid var(--black);
  margin: 0 8px;
  white-space: nowrap;

  &-not {
    background: var(--orange) !important;
    color: white !important;
  }
}

.slot-id {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__status-and-confirmed {
    display: flex;
    align-items: center;

    .status {
      margin-bottom: 0;
    }
  }
}

.confirmed {
  margin-left: 4px !important;
  padding: 4px;
  font-size: 12px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-all-reserved {
    color: white;
    background: green;
  }

  &-not-reserved {
    color: white;
    background: var(--blue);
  }

  &-reserved {
    background: red;
    color: white;
  }
}

.calendar-skeleton {
  margin-top: 32px;

  div.skeleton__box {
    height: 73.5px;
    margin-top: 16px;
  }

  p.skeleton__box {
    margin-top: 12px;
    width: 50px;
    height: 24px;
  }
}