.input {
  width: 100%;
  label {
    margin-left: 2px;
    margin-bottom: 6px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.7;
  }
  input {
    transition: 0.2s;
    &:hover {
      border: 1px solid var(--blue);
    }
    &:focus,
    &:active {
      border: 1px solid var(--blue);
      box-shadow: 0 0 8px 1px rgba(88, 135, 255, 0.2);
    }
  }
}