<template>
  <router-view/>
</template>

<script>
export default {
  beforeCreate() {
    if (window.innerWidth > 800) {
      this.$store.commit('setShorterFlag', false);
    } else {
      this.$store.commit('setShorterFlag', true);
    }

    window.addEventListener('resize', () => {
      if (window.innerWidth > 800) {
        this.$store.commit('setShorterFlag', false);
      } else {
        this.$store.commit('setShorterFlag', true);
      }
    });
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        document.title = to.meta.title || 'Apirone Dashboard';
      },
    },
  },
};
</script>

<style lang="scss">
.status-payment {
  background: var(--surface-500);
  padding: 1px 6px 3px;
  color: white !important;
  border-radius: 6px;
  display: inline-block;
  transform: translateY(-2px);
  margin-left: 5px;
  font-size: 11px !important;

  &__success {
    background: rgba(53, 123, 56, 0.7) !important;
  }

  &__pending {
    background: rgba(216, 164, 33, 0.8) !important;
  }

  &__failed {
    padding-top: 2px;
    background: rgb(255, 64, 50, 0.9) !important;
  }
}
</style>
