@import "components/variables";
@import "components/skeleton";
@import "components/container";
@import "components/fields";
@import "components/buttons";
@import "components/calendar";
@import "components/table";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: var(--blue);
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid var(--grey-dark);
  border-radius: var(--radius);
  padding-left: 16px;
  font-size: 16px;

  &::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

select {
  width: 100%;
  height: 40px;
  border: 1px solid var(--grey-dark);
  border-radius: var(--radius);
  padding-left: 12px;
  font-size: 16px;
  outline: none;
  cursor: pointer;

}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 98;
  backdrop-filter: blur(3px);
  cursor: pointer;
  border: none;
  opacity: 1 !important;
  width: 100vw;
  height: 100vh;
}