{% extends 'layouts/base.html' %}

{% block title %}
    <title>ALL TITLE</title>
{% endblock %}

{% block body %}
    <section class="all-events-main">
        {% include 'components/header.html' %}
        <div class="container">
            <div class="all-events-main__link-tabs event-main__link-tabs --link-tabs">
                <a class="event-main__link" href="/">Home</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a class="event-main__link" href="/all_events/">Events</a>
            </div>
            <div class="all-events-main__content">
                <h1 class="all-events-main__title">
                    Für jeden Anlass...
                </h1>
                <span class="all-events-main__subtitle">
                    Ob Sie geschäftlich zu einem Event in die Vereinigten Arabischen Emirate reisen, oder als Zuschauer - das passende Visum können Sie online über uns beantragen.
                </span>
                <a href="/" class="all-events-main__btn">
                    VISUM BEANTRAGEN
                </a>
            </div>
        </div>
    </section>
    <section class="going-the-moment">
        <div class="container">
            <h2 class="--all-event-title">
                Was ist zur Zeit los?
            </h2>
            <div class="going-the-moment__list all-events-main__list">
                <a href="/event/dp_world_tour/" class="going-the-moment__item">
                    <div style="background: url({{ url_for('static', filename='images/events/dp_world_tour_championship.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        DP World Tour <br>
                        Championship
                    </span>
                    <span class="going-the-moment__date">
                        17. Nov - 20. Nov
                    </span>
                </a>
                <a href="/event/downtown_design/" class="going-the-moment__item">
                    <div style="background: url({{ url_for('static', filename='images/events/downtown_design.jpeg') }}) no-repeat center; background-size: cover;"></div>
                    <span class="going-the-moment__name-event">
                        Downtown Design <br><br>
                    </span>
                    <span class="going-the-moment__date">
                        09. Nov - 12. Nov
                    </span>
                </a>
                <a href="/event/international_boat_show/" class="going-the-moment__item">
                    <div style="background: url({{ url_for('static', filename='images/events/dubai_international_boat_show.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Dubai International <br>
                        Boat Show
                    </span>
                    <span class="going-the-moment__date">
                        09. Mar - 13. Mar
                    </span>
                </a>
            </div>
        </div>
        <img class="going-the-moment__arrow-left all-events-main__arrow-left"
             src="{{ url_for('static', filename='images/slider-arrow-left.svg') }}" alt="">
        <img class="going-the-moment__arrow-right all-events-main__arrow-right"
             src="{{ url_for('static', filename='images/slider-arrow-right.svg') }}" alt="">
        <ul class="slick-dots going-the-moment__dots customer-ask__dots" style="font-size: 50px;"></ul>
    </section>
    <section class="top-event">
        <div class="container">
            <h2 class="--all-event-title">
                Top Event
            </h2>
            <div class="top-event__content">
                <div class="top-event__img"></div>
                <div class="top-event__text">
                    <h3>
                        ADIHEX 2022
                    </h3>
                    <span>
                        26. Sap - 02. Oct
                    </span>
                    <p>
                        Die Abu Dhabi International Hunting and Equestrian Exhibition (ADIHEX) ist eine jährliche
                        Veranstaltung, die von Seiner Hoheit Scheich Hamdan Bin Zayed Al Nahyan, Vertreter des
                        Herrschers der Region Al Dhafra und Vorsitzender des Emirates Falconers' Club, gesponsert wird.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="other-events">
        <div class="container">
            <h2 class="--all-event-title">
                Was ist zur Zeit los?
            </h2>
            <div class="other-events__list">
                <a href="/event/eid_al_fitr/" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/eid_al_fitr.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Eid Al Fitr <br><br>
                    </span>
                    <span class="going-the-moment__date">
                        02. Mai - 05. Mai
                    </span>
                </a>
                <a href="/event/electric_vehicle_innovation_summit/" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/electric_vehicle_summit_2022.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Electric Vehicle <br>
                        Innovation Summit 2022
                    </span>
                    <span class="going-the-moment__date">
                        23. Mai - 25. Mai
                    </span>
                </a>
                <a href="/event/emirates_airline_dubai_rugby_sevens" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/emirates_airline_dubai_rugby_sevens.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Emirates Airline Dubai <br>
                        Rugby Sevens
                    </span>
                    <span class="going-the-moment__date">
                        01. Dec - 03. Dec
                    </span>
                </a>
                <a href="/event/hr_technology_summit/" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/hr_technology_summit_2022.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        HR Technology Summit 2022
                        <br><br>
                    </span>
                    <span class="going-the-moment__date">
                        17. Oct - 19 Oct
                    </span>
                </a>
                <a href="/event/international_indian_film_academy/" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/international_indian_film_academy.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        International Indian Film Academy <br>
                        (IIFA) Weekend & Awards
                    </span>
                    <span class="going-the-moment__date">
                        20. Mai - 21. Mai
                    </span>
                </a>
                <a href="/event/adihex/" class="going-the-moment__item other-events__item">
                    <div style="background: url({{ url_for('static', filename='images/events/adihex_2022.jpeg') }}) no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        ADIHEX 2022 <br>
                        <br>
                    </span>
                    <span class="going-the-moment__date">
                        26. Sap - 02. Oct
                    </span>
                </a>
            </div>
{#            <button class="other-events__btn">MEHR ANZEIGEN</button>#}
        </div>
    </section>
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/footer.html' %}
    <script src="{{ url_for('static', filename='scripts/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
{% endblock %}
