{% extends 'layouts/base.html' %}

{% block title %}
    <title>ALL PLACE</title>
{% endblock %}

{% block body %}
    <section class="all-events-main --all-place-main">
        {% include 'components/header.html' %}
        <div class="container">
            <div class="all-events-main__link-tabs event-main__link-tabs --link-tabs">
                <a href="/">Home</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a href="/all_place/">Places</a>
            </div>
            <div class="all-events-main__content" style="background: #7BCBC3">
                <h1 class="all-events-main__title">
                    Für jeden Anlass...
                </h1>
                <span class="all-events-main__subtitle">
                    Ob Sie geschäftlich zu einem Event in die Vereinigten Arabischen Emirate reisen, oder als Zuschauer - das passende Visum können Sie online über uns beantragen.
                </span>
                <a href="/" class="all-events-main__btn">
                    VISUM BEANTRAGEN
                </a>
            </div>
        </div>
    </section>
    <section class="going-the-moment">
        <div class="container">
            <h2 class="--all-event-title">
                Was ist zur Zeit los?
            </h2>
            <div class="going-the-moment__list all-place__list">
                <a href="/places/sheikh_zayed_grand_mosque/" class="going-the-moment__item">
                    <div style="background: url('/static/images/places/sheikh_zayed_grand_mosque.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Sheikh Zayed <br>
                        Grand Mosque
                    </span>
                </a>
                <a href="/places/wb_sten_safari_dubai/" class="going-the-moment__item">
                    <div style="background: url('/static/images/places/wastensafari_dubai.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Wüstensafari Dubai <br>
                        <br>
                    </span>
                </a>
                <a href="/places/die_dubai_fountains/" class="going-the-moment__item">
                    <div style="background: url('/static/images/places/die_dubai_fountains.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Die Dubai Fountains <br>
                        <br>
                    </span>
                </a>
            </div>
        </div>
        <img class="going-the-moment__arrow-left all-place__arrow-left"
             src="{{ url_for('static', filename='images/slider-arrow-left.svg') }}" alt="">
        <img class="going-the-moment__arrow-right all-place__arrow-right"
             src="{{ url_for('static', filename='images/slider-arrow-right.svg') }}" alt="">
        <ul class="slick-dots going-the-moment__dots customer-ask__dots" style="font-size: 50px;"></ul>
    </section>
    <section class="top-event">
        <div class="container">
            <h2 class="--all-event-title">
                Top Place
            </h2>
            <div class="top-event__content">
                <div class="top-event__img --top-place-image"></div>
                <div class="top-event__text">
                    <h3 style="margin-bottom: 16px; line-height: 1.2">
                        Dubai Aquarium & Underwater Zoo
                    </h3>
                    <p>
                        Möchten Sie eines der größten Aquarien der Welt erkunden? Dann sollten Sie das Dubai Aquarium
                        and Underwater Zoo besuchen, das Ihnen mit einem Fassungsvermögen von 10 Millionen Litern und
                        mehr als 33.000 Arten von Meereslebewesen einen Einblick in die faszinierende Unterwasserwelt
                        gibt.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="other-events">
        <div class="container">
            <h2 class="--all-event-title">
                Was ist zur Zeit los?
            </h2>
            <div class="other-events__list">
                <a href="/places/dubai_mall/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/dubai_mall.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Dubai Mall <br>
                        <br>
                    </span>
                </a>
                <a href="/places/dubai_miracle_garden/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/dubai_miracle_garden.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Dubai Miracle Garden <br>
                    </span>
                </a>
                <a href="/places/etihad_towers/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/etihad_towers.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Etihad Towers
                    </span>
                </a>
                <a href="/places/louvre_abu_dhabi/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/louvre_abu_dhabi.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Louvre Abu Dhabi
                    </span>
                </a>
                <a href="/places/palm_jumeirah/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/palm_jumeirah.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Palm Jumeirah
                    </span>
                </a>
                <a href="/places/dubai_aquarium_and_underwater_zoo/" class="going-the-moment__item other-events__item">
                    <div style="background: url('/static/images/places/dubai_aquarium_underwater_zoo.jpeg') no-repeat center; background-size: cover"></div>
                    <span class="going-the-moment__name-event">
                        Dubai Aquarium & <br>
                        Underwater Zoo
                    </span>
                </a>
            </div>
        </div>
    </section>
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/footer.html' %}
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    <script>
        let window_width = $(window).width();
        if (window_width <= 767) {
            $('.going-the-moment__list').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 1,
                dots: true,
                dotsClass: 'going-the-moment__dots',
                prevArrow: $('.customer-ask__arrow-left'),
                nextArrow: $('.customer-ask__arrow-right'),
                centerMode: true,
                variableWidth: true
            });
        }

    </script>
{% endblock %}
