{% extends 'layouts/base.html' %}

{% block title %}
    <title>Emailing</title>
{% endblock %}

{% block body %}
    <div class="emailing">
        {% include 'components/header.html' %}
        <div class="emailing__container">
            <h1 class="emailing__title">Message has been successfully sent</h1>
        </div>
    </div>

{% endblock %}
