{% extends 'layouts/base.html' %}

{% block title %}
    <title>{{ events.title }}</title>
{% endblock %}

{% block body %}
    {% include 'components/header.html' %}
    <div class="container">
        <div class="event-main">
            <div class="event-main__link-tabs --gray-color --link-tabs">
                <a href="/">Home</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a href="/all_events/">Events</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a href="{{ events.url }}">{{ events.title }}</a>
            </div>
            <div class="event-main__content">
                <div style="background: url({{ events.image }}) no-repeat center" class="event-main__image"></div>
                <div class="event-main__content-text">
                    <h2 class="event-main__title">
                        {{ events.title }}
                    </h2>
                    <span class="event-main__subtitle">
                        {{ events.text.start }}
                    </span>
                    <div class="event-main__date">
                        <div class="event-main__date-container">
                            <span class="upcoming-events__date">
                            {{ events.from_time }}
                            <span class="upcoming-events__month"
                                  style="display: block;margin-top: 1px;">{{ events.month or events.from_month }}</span>
                        </span>
                            <span style="font-size: 24px; font-weight: 800; margin: 0 15px;">-</span>
                            <span class="upcoming-events__date">
                            {{ events.to_time }}
                            <span class="upcoming-events__month"
                                  style="display: block;margin-top: 1px;">{{ events.month or events.to_month }}</span>
                        </span>
                        </div>
                        <div class="event-main__line"></div>
                        <div class="event-main__date-container">
                            <span style="font-size: 24px;" class="upcoming-events__month ">
                            <span class="timer__days__{{ events.name_class }}">00</span>
                            <span style="font-size: 12px; margin-top: 1px; display: block">Days</span>
                        </span>
                            <span style="font-size: 24px; font-weight: 500; margin: 0 8px;">:</span>
                            <span style="font-size: 24px;" class="upcoming-events__month ">
                            <span class="timer__hours__{{ events.name_class }}">00</span>
                            <span style="font-size: 12px; margin-top: 1px; display: block">Hours</span>
                        </span>
                            <span style="font-size: 24px; font-weight: 500; margin: 0 8px;">:</span>
                            <span style="font-size: 24px;" class="upcoming-events__month ">
                            <span class="timer__minutes__{{ events.name_class }}">00</span>
                            <span style="font-size: 12px; margin-top: 1px; display: block">Mins</span>
                        </span>
                            <span style="font-size: 24px; font-weight: 500; margin: 0 8px;">:</span>
                            <span style="font-size: 24px;" class="upcoming-events__month ">
                            <span class="timer__seconds__{{ events.name_class }}">00</span>
                            <span style="font-size: 12px; margin-top: 1px; display: block">Secs</span>
                        </span>
                        </div>
                        <hr>
                    </div>
                    <a href="/" class="event-main__btn --btn-start-order">VISUM BEANTRAGEN</a>
                </div>
            </div>
            <div class="event-main__text">
                {{ events.text.start }}
                <br><br>
                {{ events.text.midle }}
                <br><br>
                {{ events.text.end }}
            </div>
        </div>
    </div>
    <section style="margin-bottom: 100px;" class="maps">
        <div class="container">
            <div class="maps__inner">
                <div class="maps__title">
                    <div>
                        <h2>
                            ÜBERBLICK
                        </h2>
                    </div>
                </div>
                <div class="maps__content">
                    <div class="maps__text">
                        <div>
                            <img src="{{ url_for('static', filename='images/maps-icon-1.svg') }}" alt="">
                            <span class="maps__location">
                                LOCATION
                                <span>Majlis Course, Emirates Golf Course</span>
                            </span>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='images/maps-icon-2.svg') }}" alt="">
                            <span class="maps__location">
                                VISIT OFFICIAL WEBSITE
                                <a style="color: #F1922B; font-weight: 500;" href="www.europeantour.com/"
                                   target="_blank">www.europeantour.com/</a>
                            </span>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36605.5823797475!2d82.9150214401707!3d55.01081368129198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe676bb4c1a03%3A0x12f154eb87d934ab!2z0J7QntCeICLQmtCRINCt0L3Qs9C40YDQviI!5e0!3m2!1sru!2sru!4v1640778268554!5m2!1sru!2sru"
                            width="825" height="593" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
    {% include 'components/upcoming-events_block.html' %}
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/footer.html' %}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='scripts/components/event.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
{% endblock %}
