{% extends 'layouts/base.html' %}

{% block title %}
    <title>F.A.Q</title>
{% endblock %}

{% block body %}
    <div class="background-color-index">
        {% include 'components/header.html' %}
        <h1 class="faq__title">Häufig gestellte Fragen</h1>
        <span class="faq__subtitle">
            Sie haben Fragen? Hier finden Sie die Antworten...
        </span>
        <div class="faq__list">
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button1" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText1">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button2" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText2">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button3" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText3">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button4" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText4">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button5" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText5">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
            </div>
        </div>
        {% include'components/select-country-and-visa.html' %}
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
    {% block script %}
        <script src="{{ url_for('static', filename='scripts/components/faq.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/components/index.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    {% endblock %}
