{% extends 'layouts/base.html' %}

{% block title %}
    <title>VISUMIO UAE</title>
{% endblock %}

{% block body %}
    <img class="main__svg-one" src="{{ url_for('static', filename='images/test.svg') }}" alt="">
    <img class="main__svg-two" src="{{ url_for('static', filename='images/test-left.svg') }}" alt="">
    <div class="background-color-index">
        {% include 'components/header.html' %}
        <section class="main">
            <div class="container">
                <div class="main__inner">
                    <h1 class="main__title">
                        Apply for UAE visa online <br>
                        Easy - in 5 minutes.
                    </h1>
                    <span class="main__subtitle">
                    Wählen Sie unten Ihre Staatsangehörigkeit, um zu prüfen ob Sie ein Visum benötigen.
                </span>
                    <form method="post" action="" id="mainCountryForm" class="main__form">
                        <select class="main__select" name="country" id="mainSelectCountry">
                            <option selected="selected" value="">Staatsangehörigkeit auswählen</option>
                            {% for iso_3code, country in countries.items() %}
                                <option data-country-value="" value="{{ iso_3code }}">
                                    {{ country.name_deu }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="button" id="selectButton" class="main__select-btn">
                            PRÜFEN
                        </button>
                    </form>
{#                    <form method="post" action="" class="main__form">#}
{#                        <select id="selectPage" name="country" style="">#}
{#                            <option value="Russia"></option>#}
{#                            <option value="China"></option>#}
{#                            <option value="Indian"></option>#}
{#                        </select>#}
{#                        <div id="formSelect" class="main__select">#}
{#                            <button type="button" id="selectButton" class="main__select-btn">#}
{#                                PRÜFEN#}
{#                            </button>#}
{#                            <div style="position: relative; width: 100%; height: 100%;">#}
{#                                <div id="formSelectionPage" class="main__select-inner">#}
{#                                Staatsangehörigkeit auswählen#}
{#                                </div>#}
{#                                <div id="mainOptions" class="main__options">#}
{#                                    <div id="optionRus" class="main__option">#}
{#                                        <span class="option-text">Russland</span>#}
{#                                    </div>#}
{#                                    <div id="optionChn" class="main__option">#}
{#                                        <span class="option-text">China</span>#}
{#                                    </div>#}
{#                                    <div id="optionInd" class="main__option">#}
{#                                        <span class="option-text">Indian</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </form>#}

                    <div class="main__links">
                        <span class="main__link">Keine Buchung nötig</span>
                        <span class="main__link">Online Abwicklung</span>
                        <span class="main__link">Sichere Zahlung</span>
                        <span class="main__link">Express mögich</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="steps-visa__container">
            <img class="steps-visa__svg-one" src="{{ url_for('static', filename='images/test.svg') }}" alt="">
            <img class="steps-visa__svg-two" src="{{ url_for('static', filename='images/test.svg') }}" alt="">
            <section class="steps-visa">
                <h2 class="steps-visa__title">
                    Vier Schritte zum Visum
                </h2>
                <span class="steps-visa__subtitle --steps-visa-width-subtitle">
                Die Bestellung des Visum können Sie komplett online und sogar vom Ihrem Smartphone abwickeln. Lernen Sie hier wie schnell und einfach die Bestellung abgewickelt wird.
            </span>
                <div class="steps-visa__item">
                    <div class="steps-visa__text">
                        <h3 class="steps-visa__caption">
                            Bestimmungen prüfen
                        </h3>
                        <span class="steps-visa__subtitle --steps-visa-width-item-subtitle">
                        Geben Sie Ihre Staatsangehörigkeit ein und erfahren ob Sie für die Einreise ein Visum benötigen. Unser System wird Ihnen die passende Antwort präsentieren.
                    </span>
                        <span class="steps-visa__number --one">1.</span>
                    </div>
                    <img src="{{ url_for('static', filename='images/steps-visa-1.svg') }}" alt="">
                </div>

                <div class="steps-visa__item flex-reverse">
                    <img src="{{ url_for('static', filename='images/steps-visa-2.svg') }}" alt="">
                    <div class="steps-visa__text">
                        <h3 class="steps-visa__caption">
                            Visum auswählen
                        </h3>
                        <span class="steps-visa__subtitle --steps-visa-width-item-subtitle">
                        Geben Sie Ihre Staatsangehörigkeit ein und erfahren ob Sie für die Einreise ein Visum benötigen. Unser System wird Ihnen die passende Antwort präsentieren.
                    </span>
                        <span class="steps-visa__number --two">2.</span>
                    </div>
                </div>

                <div class="steps-visa__item">
                    <div class="steps-visa__text">
                        <h3 class="steps-visa__caption">
                            Dokumente uploaden, <br>
                            Gebühr bezahlen
                        </h3>
                        <span class="steps-visa__subtitle --steps-visa-width-item-subtitle">
                        Geben Sie Ihre Staatsangehörigkeit ein und erfahren ob Sie für die Einreise ein Visum benötigen. Unser System wird Ihnen die passende Antwort präsentieren.
                    </span>
                        <span class="steps-visa__number --three">3.</span>
                    </div>
                    <img src="{{ url_for('static', filename='images/steps-visa-3.svg') }}" alt="">
                </div>

                <div class="steps-visa__item flex-reverse">
                    <img src="{{ url_for('static', filename='images/steps-visa-4.svg') }}" alt="">
                    <div class="steps-visa__text">
                        <h3 class="steps-visa__caption">
                            Visum per E-Mail erhalten
                        </h3>
                        <span class="steps-visa__subtitle --steps-visa-width-item-subtitle">
                        Geben Sie Ihre Staatsangehörigkeit ein und erfahren ob Sie für die Einreise ein Visum benötigen. Unser System wird Ihnen die passende Antwort präsentieren.
                    </span>
                        <span class="steps-visa__number --four">4.</span>
                    </div>
                </div>
            </section>
        </div>
        <section class="customer-say">
            <h2 class="customer-say__title">
                Erfahren Sie hier, was andere Kunden über uns sagen
            </h2>
            <div class="customer-say__items">
                <span>Hervorragend</span>
                <div class="customer-say__evaluation">
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                </div>
                <div class="customer-say__trustpilot">
                    <img src="{{ url_for('static', filename='images/customers-say-evaluation-green.svg') }}" alt="">
                    <span>Trustpilot</span>
                </div>
            </div>
            <div class="customer-say__review">
                <p>Basierend auf</p>
                <span>456 Bewertungen</span>
            </div>
        </section>
        <section class="fast-visa">
            <div class="fast-visa__left-content">
                <div>
                    <span class="fast-visa__subtitle">
                        UNSERE VORTEILE
                    </span>
                    <h2 class="fast-visa__title">
                        Der schnellste <br>
                        Weg zum Visum
                    </h2>
                </div>
                <div class="fast-visa__group-btn">
                    <a href="/price/" class="--btn-view-price fast-visa__btn">Preise ansehen</a>
                    <button class="--btn-start-order">Bestellung starten</button>
                </div>
            </div>
            <div class="fast-visa__right-content">
                <div class="fast-visa__item --fast-visa-item-one">
                    <img style="width: 35px; height: 35px;"
                         src="{{ url_for('static', filename='images/fast-visa-1.svg') }}" alt="">
                    <span class="fast-visa__title-item">Keine Buchung</span>
                    <p class="fast-visa__text">
                        Für die Beantragung des Visums benötigen Sie weder eine Hotel-
                        noch eine Flugbuchung.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-two">
                    <img style="width: 33px; height: 34px;"
                         src="{{ url_for('static', filename='images/fast-visa-2.svg') }}" alt="">
                    <span class="fast-visa__title-item">Alles Online</span>
                    <p class="fast-visa__text">
                        Sparen Sie sich den Besuch
                        im Konsulat - die komplette
                        Abwicklung erfolgt online.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-three">
                    <img style="width: 43px; height: 25px;"
                         src="{{ url_for('static', filename='images/fast-visa-3.svg') }}" alt="">
                    <span class="fast-visa__title-item">Express-Visum</span>
                    <p class="fast-visa__text">
                        Visum innerhalb 24h - auch wenn es schnell gehen muss, können Sie sich auf uns verlassen.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-four">
                    <img style="width: 32px; height: 28px;"
                         src="{{ url_for('static', filename='images/fast-visa-4.svg') }}" alt="">
                    <span class="fast-visa__title-item">Sicher bezahlen</span>
                    <p class="fast-visa__text">
                        Wir nutzen ausschließlich sichere, marktgeprüfte Bezahldienste.
                    </p>
                </div>
            </div>
            <div class="fast-visa__group-btn-adaptive">
                <a href="/price/" class="--btn-view-price fast-visa__btn">Preise ansehen</a>
                <button class="--btn-start-order">Bestellung starten</button>
            </div>
        </section>
        <section class="quick-answer">
            <h2 class="quick-answer__title">
                <span>Schnelle</span> Antworten
            </h2>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button1" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText1">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle1"></div>
                <div class="quick-answer__square" id="square1"></div>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Benötigen auch Kinder und Babys ein Visum für die Einreise?
                </span>
                    <a id="button2" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText2">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle2"></div>
                <div class="quick-answer__square" id="square2"></div>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Welche Folgen hat ein über die Visumgültigkeit gehender Aufenthalt?
                </span>
                    <a id="button3" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText3">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle3"></div>
                <div class="quick-answer__square" id="square3"></div>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Für welchen Zeitraum wird das Visum erteilt?
                </span>
                    <a id="button4" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText4">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle4"></div>
                <div class="quick-answer__square" id="square4"></div>
            </div>
            <div class="quick-answer__list">
                <div class="quick-answer__item">
                    <span class="quick-answer__text">
                    Welche Folgen hat ein über die Visumgültigkeit gehender Aufenthalt?
                </span>
                    <a id="button5" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p id="blockText5">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle5"></div>
                <div class="quick-answer__square" id="square5"></div>
            </div>

        </section>
        <div class="circle">
            <div class="circle__one"></div>
            <div class="circle__two"></div>
            <div class="circle__three"></div>
            <div class="circle__four"></div>
            <div class="circle__five"></div>
        </div>
        <section class="customer-ask" style="position: relative">
            <h2 class="customer-ask__title">
                Unsere Kunden fragen - wir beantworten!
            </h2>
            <span class="customer-ask__subtitle">
            Hier können Sie nach Anliegen unserer Kunden suchen,
            die wir bereits beantwortet haben
        </span>
            <form method="post" class="customer-ask__form">
                <input type="search" placeholder="Suche nach Thema">
                <label for=""></label>
            </form>
            <div class="customer-ask__slider-container">
                <div class="customer-ask__slider">
                    <div class="customer-ask__slider-list">
                        <div class="customer-ask__slider-item">
                            <img src="{{ url_for('static', filename='images/customer-ask-1.png') }}" alt="">
                            <span>vor 7 Tagen</span>
                        </div>
                        <span class="customer-ask__slider-text">
                        Ich habe einen blauen Pass, kann ich trotzdem ein Visum beantragen?
                    </span>
                        <div class="customer-ask__slider-actions">
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-like.svg') }}" alt="">
                                <span>23</span>
                            </div>
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-commentary.svg') }}"
                                     alt="">
                                <span>7</span>
                            </div>
                        </div>
                    </div>
                    <div class="customer-ask__slider-list">
                        <div class="customer-ask__slider-item">
                            <img src="{{ url_for('static', filename='images/customer-ask-2.png') }}" alt="">
                            <span>vor 2 Tagen</span>
                        </div>
                        <span class="customer-ask__slider-text">
                        Ich habe einen blauen Pass, kann ich trotzdem ein Visum beantragen?
                    </span>
                        <div class="customer-ask__slider-actions">
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-like.svg') }}" alt="">
                                <span>14</span>
                            </div>
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-commentary.svg') }}"
                                     alt="">
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="customer-ask__slider-list">
                        <div class="customer-ask__slider-item">
                            <img src="{{ url_for('static', filename='images/customer-ask-3.png') }}" alt="">
                            <span>vor 7 Tagen</span>
                        </div>
                        <span class="customer-ask__slider-text">
                        Ich habe einen blauen Pass, kann ich trotzdem ein Visum beantragen?
                    </span>
                        <div class="customer-ask__slider-actions">
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-like.svg') }}" alt="">
                                <span>3</span>
                            </div>
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-commentary.svg') }}"
                                     alt="">
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="customer-ask__slider-list">
                        <div class="customer-ask__slider-item">
                            <img src="{{ url_for('static', filename='images/customer-ask-4.png') }}" alt="">
                            <span>vor 12 Tagen</span>
                        </div>
                        <span class="customer-ask__slider-text">
                        Ich habe einen blauen Pass, kann ich trotzdem ein Visum beantragen?
                    </span>
                        <div class="customer-ask__slider-actions">
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-like.svg') }}" alt="">
                                <span>23</span>
                            </div>
                            <div class="customer-ask__slider-action">
                                <img src="{{ url_for('static', filename='images/customer-ask-commentary.svg') }}"
                                     alt="">
                                <span>7</span>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="customer-ask__arrow-left slider__arrow-left"
                     src="{{ url_for('static', filename='images/slider-arrow-left.svg') }}" alt="">
                <img class="customer-ask__arrow-right slider__arrow-right"
                     src="{{ url_for('static', filename='images/slider-arrow-right.svg') }}" alt="">
                <ul class="slick-dots customer-ask__dots" style="font-size: 50px;"></ul>
            </div>
        </section>
        <section class="price">
            <img src="{{ url_for('static', filename='images/test.svg') }}" alt="" class="price__svg">
            <div class="container">
                <div class="price__inner">
                    <h2 class="price__title">Unsere Preise</h2>
                    <div class="price__list">

                        <div class="price__item">
                            <div id="priceTitleTourismStandard" class="price__name-visa">
                                <h3 id="priceArrowTourismStandard" class="price__item-title">
                                    Tourismus Visum
                                </h3>
                                <div style="display: flex; margin-top: 8px;">
                                    <span class="price__currency">€</span>
                                    <span class="price__price">150</span>
                                    <span class="price__date">/ 30 Tage <br>
                                    Aufenthalt
                                </span>
                                </div>
                            </div>
                            <div id="priceDescriptionTourismStandard"
                                 class="price__description --price-description-one">
                                <span class="price__description-title">
                                    Das Perfekte Visum wenn Du in den Urlaub reist.
                                </span>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-1.svg') }}" alt="">
                                    <span>Aufenhalt bis zu 30 Tage ab Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-2.svg') }}" alt="">
                                    <span>Einmalige Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-3.svg') }}" alt="">
                                    <span>7 Werktage Bearbeitungsdauer</span>
                                </div>
                                <button class="--btn-view-price price__btn">Bedingungen</button>
                            </div>
                        </div>


                        <div class="price__item --price-item-2">
                            <div id="priceTitleTourismExpress" class="price__name-visa">
                                <h3 id="priceArrowTourismExpress" class="price__item-title">
                                    Tourismus Visum
                                </h3>
                                <div style="display: flex; margin-top: 8px;">
                                    <span class="price__currency">€</span>
                                    <span class="price__price">230</span>
                                    <span class="price__date">/ 30 Tage <br>
                                    Aufenthalt
                                </span>
                                </div>
                            </div>
                            <div id="priceDescriptionTourismExpress" class="price__description --price-description-two">
                                <span class="price__description-title">
                                    Wenn Du in den Urlaub reist und es eilig haben.                                 </span>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-1.svg') }}" alt="">
                                    <span>Aufenhalt bis zu 30 Tage ab Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-2.svg') }}" alt="">
                                    <span>Einmalige Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-3.svg') }}" alt="">
                                    <span>2 Werktage Bearbeitungsdauer</span>
                                </div>
                                <button class="--btn-view-price price__btn">Bedingungen</button>
                            </div>
                        </div>


                        <div class="price__item --price-item-3">
                            <div id="priceTitleBusinessStandard" class="price__name-visa">
                                <h3 id="priceArrowBusinessStandard" class="price__item-title">
                                    Tourismus Visum
                                </h3>
                                <div style="display: flex; margin-top: 8px;">
                                    <span class="price__currency">€</span>
                                    <span class="price__price">200</span>
                                    <span class="price__date">/ 30 Tage <br>
                                    Aufenthalt
                                </span>
                                </div>
                            </div>
                            <div id="priceDescriptionBusinessStandard"
                                 class="price__description --price-description-three"
                                 style="border-radius: 30px 0 0 0 ">
                                <span class="price__description-title">
                                    Das Visum wenn Du geschäftlich nach UAE reist.                                 </span>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-1.svg') }}" alt="">
                                    <span>Aufenhalt bis zu 30 Tage ab Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-2.svg') }}" alt="">
                                    <span>Einmalige Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-3.svg') }}" alt="">
                                    <span>7 Werktage Bearbeitungsdauer</span>
                                </div>
                                <button class="--btn-view-price price__btn">Bedingungen</button>
                            </div>
                        </div>


                        <div class="price__item --price-item-4">
                            <div id="priceTitleBusinessExpress" class="price__name-visa">
                                <h3 id="priceArrowBusinessExpress" class="price__item-title">
                                    Tourismus Visum
                                </h3>
                                <div style="display: flex; margin-top: 8px;">
                                    <span class="price__currency">€</span>
                                    <span class="price__price">200</span>
                                    <span class="price__date">/ 30 Tage <br>
                                    Aufenthalt
                                </span>
                                </div>
                            </div>
                            <div id="priceDescriptionBusinessExpress"
                                 class="price__description --price-description-four" style="border-radius: 0 30px 0 0 ">
                                <span class="price__description-title">
                                    Wenn Du geschäftlich nach UAE reist und es eilig hast.                                 </span>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-1.svg') }}" alt="">
                                    <span>Aufenhalt bis zu 30 Tage ab Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-2.svg') }}" alt="">
                                    <span>Einmalige Einreise</span>
                                </div>
                                <div class="price__description-item">
                                    <img src="{{ url_for('static', filename='images/price-3.svg') }}" alt="">
                                    <span>7 Werktage Bearbeitungsdauer</span>
                                </div>
                                <button class="--btn-view-price price__btn">Bedingungen</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="visa-information">
            <img src="{{ url_for('static', filename='images/test-left.svg') }}" alt=""
                 style="position: absolute; top: 160px; right: 8%;">
            <h2 class="visa-information__title">
                Visuminformationen für die <br>
                Vereinigten Arabischen Emirate
            </h2>
            <span class="visa-information__subtitle">
                Alles, was Sie über Visa und Einreise in die VAE wissen müssen.
            </span>
            <div class="visa-information__list">
                <div class="visa-information__items">
                    <div class="visa-information__item">
                        <div>
                            <div class="visa-information__img-size">
                                <svg id="svgVisaOnArrivalAdaptive" width="25" height="20"
                                     viewBox="0 0 25 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.375 17.5H0.624999C0.279687 17.5 0 17.7797 0 18.125V19.375C0 19.7203 0.279687 20 0.624999 20H24.375C24.7203 20 25 19.7203 25 19.375V18.125C25 17.7797 24.7203 17.5 24.375 17.5ZM1.75039 8.03361L5.21679 11.1586C5.50122 11.4154 5.84202 11.6018 6.21171 11.7027L17.4461 14.7633C18.4804 15.0449 19.5773 15.1039 20.6101 14.8164C21.7691 14.4934 22.307 13.9879 22.4558 13.4215C22.6054 12.8551 22.3882 12.1438 21.5429 11.2746C20.7898 10.5004 19.8105 9.99377 18.7761 9.71212L14.9672 8.67463L11.0469 1.1805C10.9879 0.953545 10.8144 0.776201 10.5914 0.715264L8.04882 0.0226867C7.63632 -0.0898131 7.23241 0.230499 7.23983 0.664873L9.1117 7.07932L5.11952 5.99182L4.04179 3.34026C3.9664 3.14924 3.80703 3.00549 3.61132 2.95237L2.05937 2.52932C1.65547 2.41917 1.25742 2.72464 1.25 3.14964L1.25898 7.12541C1.2664 7.47346 1.49453 7.80275 1.75039 8.03361Z"
                                          fill="#ABABAB"/>
                                </svg>
                            </div>
                            <span id="titleVisaOnArrivalAdaptive" class="visa-information__name">Visa-on-Arrival</span>
                        </div>
                        <a href="javascript: void(0)"
                           id="buttonVisaOnArrivalAdaptive"
                           class="quick-answer__arrow">
                        </a>
                    </div>
                    <div id="textVisaOnArrivalAdaptive" class="visa-information__text">
                        <span>30‑tägige Besuchsberechtigung</span>
                        <br><br>
                        Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                        Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                        International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                        Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                        <br><br><br>
                        Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                        Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                        San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                        <br><br><br>
                        <span>90‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                        Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                        gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                        Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                        Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                        vollständig genutzt wurde.

                        <br><br><br>
                        Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                        Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                        Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                        Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                        Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                        Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                        Schweden, Schweiz, Uruguay.

                        <br><br><br>
                        <span>180‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                        Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                        Aufenthalt von insgesamt 180 Tagen gültig ist.

                        <br><br><br>
                        <span>Einreiseverfahren in Dubai</span> <br>
                        Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                        Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                        <br><br><br>
                        Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                        ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                        keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                        <br><br><br>
                        <span>Wichtige Informationen</span> <br>
                        Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                        Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                        ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                        unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                        müssen und ob andere Reisepassvorschriften gelten.

                        <br><br><br>
                        Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                        Visum für die Vereinigten Arabischen Emirate beantragen.

                        <br><br><br>
                        Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                        Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                        die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                        der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                        von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                        Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
                    </div>
                </div>
                <div class="visa-information__items">
                    <div class="visa-information__item">
                        <div>
                            <div class="visa-information__img-size">
                                <svg id="svgProvisionalVisaAdaptive" width="26" height="20" viewBox="0 0 26 20"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.3652 10H17.8652C17.2022 10 16.5663 9.73661 16.0975 9.26777C15.6286 8.79893 15.3652 8.16304 15.3652 7.5V0H2.86523C2.20219 0 1.56631 0.263392 1.09747 0.732233C0.628626 1.20107 0.365234 1.83696 0.365234 2.5V17.5C0.365234 18.163 0.628626 18.7989 1.09747 19.2678C1.56631 19.7366 2.20219 20 2.86523 20H22.8652C23.5283 20 24.1642 19.7366 24.633 19.2678C25.1018 18.7989 25.3652 18.163 25.3652 17.5V10Z"
                                          fill="#ABABAB"/>
                                    <path d="M24.7402 8.125H17.8652C17.6995 8.125 17.5405 8.05915 17.4233 7.94194C17.3061 7.82473 17.2402 7.66576 17.2402 7.5V0.625L24.7402 8.125Z"
                                          fill="#ABABAB"/>
                                </svg>
                            </div>
                            <span id="titleProvisionalVisaAdaptive" class="visa-information__name">Vorab-Visum</span>
                        </div>
                        <a href="javascript: void(0)"
                           id="buttonProvisionalVisaAdaptive"
                           class="quick-answer__arrow">
                        </a>
                    </div>
                    <div id="textProvisionalVisaAdaptive" class="visa-information__text">
                        <span>30‑tägige Besuchsberechtigung</span>
                        <br><br>
                        Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                        Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                        International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                        Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                        <br><br><br>
                        Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                        Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                        San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                        <br><br><br>
                        <span>90‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                        Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                        gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                        Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                        Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                        vollständig genutzt wurde.

                        <br><br><br>
                        Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                        Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                        Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                        Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                        Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                        Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                        Schweden, Schweiz, Uruguay.

                        <br><br><br>
                        <span>180‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                        Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                        Aufenthalt von insgesamt 180 Tagen gültig ist.

                        <br><br><br>
                        <span>Einreiseverfahren in Dubai</span> <br>
                        Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                        Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                        <br><br><br>
                        Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                        ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                        keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                        <br><br><br>
                        <span>Wichtige Informationen</span> <br>
                        Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                        Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                        ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                        unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                        müssen und ob andere Reisepassvorschriften gelten.

                        <br><br><br>
                        Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                        Visum für die Vereinigten Arabischen Emirate beantragen.

                        <br><br><br>
                        Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                        Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                        die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                        der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                        von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                        Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
                    </div>
                </div>
                <div class="visa-information__items">
                    <div class="visa-information__item">
                        <div>
                            <div class="visa-information__img-size">
                                <svg id="svgContactInfoAdaptive" width="21" height="20" viewBox="0 0 21 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.3652 6C12.1609 6 12.9239 6.31607 13.4866 6.87868C14.0492 7.44129 14.3652 8.20435 14.3652 9C14.3652 9.26522 14.4706 9.51957 14.6581 9.70711C14.8457 9.89464 15.1 10 15.3652 10C15.6305 10 15.8848 9.89464 16.0723 9.70711C16.2599 9.51957 16.3652 9.26522 16.3652 9C16.3652 7.67392 15.8385 6.40215 14.9008 5.46447C13.9631 4.52678 12.6913 4 11.3652 4C11.1 4 10.8457 4.10536 10.6581 4.29289C10.4706 4.48043 10.3652 4.73478 10.3652 5C10.3652 5.26522 10.4706 5.51957 10.6581 5.70711C10.8457 5.89464 11.1 6 11.3652 6Z"
                                          fill="#ABABAB"/>
                                    <path d="M11.3652 2C13.2218 2 15.0022 2.7375 16.315 4.05025C17.6277 5.36301 18.3652 7.14348 18.3652 9C18.3652 9.26522 18.4706 9.51957 18.6581 9.70711C18.8457 9.89464 19.1 10 19.3652 10C19.6305 10 19.8848 9.89464 20.0723 9.70711C20.2599 9.51957 20.3652 9.26522 20.3652 9C20.3652 6.61305 19.417 4.32387 17.7292 2.63604C16.0414 0.948211 13.7522 0 11.3652 0C11.1 0 10.8457 0.105357 10.6581 0.292893C10.4706 0.48043 10.3652 0.734784 10.3652 1C10.3652 1.26522 10.4706 1.51957 10.6581 1.70711C10.8457 1.89464 11.1 2 11.3652 2ZM20.1152 13.91C20.0602 13.7495 19.9653 13.6056 19.8393 13.4919C19.7134 13.3781 19.5605 13.2984 19.3952 13.26L13.3952 11.89C13.2324 11.8531 13.0629 11.8575 12.9022 11.9029C12.7414 11.9484 12.5947 12.0333 12.4752 12.15C12.3352 12.28 12.3252 12.29 11.6752 13.53C9.51843 12.5362 7.79023 10.8009 6.80523 8.64C8.07523 8 8.08523 8 8.21523 7.85C8.33194 7.73056 8.41688 7.58379 8.4623 7.42308C8.50771 7.26238 8.51216 7.09286 8.47523 6.93L7.10523 1C7.06688 0.834696 6.98709 0.681871 6.87338 0.555912C6.75967 0.429952 6.61577 0.335002 6.45523 0.28C6.2217 0.196589 5.98055 0.1363 5.73523 0.0999999C5.48249 0.0413952 5.22457 0.00789934 4.96523 0C3.74524 0 2.57521 0.484642 1.71254 1.34731C0.849876 2.20998 0.365234 3.38 0.365234 4.6C0.370526 8.68271 1.99472 12.5967 4.88163 15.4836C7.76855 18.3705 11.6825 19.9947 15.7652 20C16.3693 20 16.9675 19.881 17.5256 19.6498C18.0837 19.4187 18.5908 19.0798 19.0179 18.6527C19.4451 18.2255 19.7839 17.7184 20.0151 17.1603C20.2463 16.6022 20.3652 16.0041 20.3652 15.4C20.3655 15.1455 20.3455 14.8913 20.3052 14.64C20.2632 14.3916 20.1996 14.1474 20.1152 13.91Z"
                                          fill="#ABABAB"/>
                                </svg>
                            </div>
                            <span id="titleContactInfoAdaptive" class="visa-information__name">Kontakt</span>
                        </div>
                        <a href="javascript: void(0)"
                           id="buttonContactInfoAdaptive"
                           class="quick-answer__arrow">
                        </a>
                    </div>
                    <div id="textContactInfoAdaptive" class="visa-information__text">
                        <span>30‑tägige Besuchsberechtigung</span>
                        <br><br>
                        Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                        Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                        International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                        Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                        <br><br><br>
                        Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                        Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                        San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                        <br><br><br>
                        <span>90‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                        Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                        gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                        Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                        Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                        vollständig genutzt wurde.

                        <br><br><br>
                        Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                        Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                        Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                        Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                        Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                        Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                        Schweden, Schweiz, Uruguay.

                        <br><br><br>
                        <span>180‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                        Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                        Aufenthalt von insgesamt 180 Tagen gültig ist.

                        <br><br><br>
                        <span>Einreiseverfahren in Dubai</span> <br>
                        Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                        Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                        <br><br><br>
                        Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                        ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                        keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                        <br><br><br>
                        <span>Wichtige Informationen</span> <br>
                        Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                        Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                        ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                        unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                        müssen und ob andere Reisepassvorschriften gelten.

                        <br><br><br>
                        Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                        Visum für die Vereinigten Arabischen Emirate beantragen.

                        <br><br><br>
                        Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                        Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                        die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                        der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                        von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                        Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
                    </div>
                </div>
                <div class="visa-information__items">
                    <div class="visa-information__item">
                        <div>
                            <div class="visa-information__img-size">
                                <svg id="svgCovidAdaptive" width="29" height="20" viewBox="0 0 29 20" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M3.46786 4.90571C3.46786 1.88714 11.4393 1.88714 11.4393 1.88714L12.0829 0.732857C12.2068 0.510653 12.3877 0.325568 12.6071 0.196729C12.8265 0.0678912 13.0763 -2.49326e-05 13.3307 6.86643e-09H15.1586C15.413 -2.49326e-05 15.6628 0.0678912 15.8822 0.196729C16.1015 0.325568 16.2825 0.510653 16.4064 0.732857L17.0493 1.88714C17.0493 1.88714 24.8964 1.88714 24.8964 4.905V5.02429L26.1321 5.32429C26.7962 5.48536 27.3806 5.87909 27.7792 6.43408C28.1779 6.98907 28.3644 7.66855 28.305 8.34929L27.9071 12.9114C27.8598 13.4537 27.6585 13.9712 27.327 14.403C26.9954 14.8348 26.5474 15.1628 26.0357 15.3486L21.2107 17.1C21.1 17.1405 20.9809 17.1527 20.8643 17.1357C17.9521 20 14.5279 20 14.5279 20H13.8364C13.8364 20 10.3614 20 7.43429 17.0714L2.29714 15.0729C1.80372 14.8809 1.37331 14.5557 1.05396 14.1334C0.734607 13.7112 0.538865 13.2085 0.488573 12.6814L0.0792868 8.38071C0.013223 7.68718 0.202835 6.9934 0.61246 6.42987C1.02209 5.86634 1.62349 5.47189 2.30357 5.32071L3.46786 5.06214V4.90571ZM22.475 15.1221C23.7143 13.1486 24.6557 10.3779 24.8564 6.485L25.7957 6.71357C26.1276 6.79424 26.4195 6.99112 26.6187 7.26852C26.8179 7.54593 26.9111 7.8855 26.8814 8.22571L26.4843 12.7879C26.4606 13.059 26.36 13.3178 26.1942 13.5336C26.0284 13.7495 25.8044 13.9136 25.5486 14.0064L22.475 15.1221ZM3.50929 6.51643L2.61357 6.715C2.27353 6.79059 1.97283 6.98781 1.76802 7.26958C1.5632 7.55134 1.4684 7.89823 1.50143 8.245L1.91072 12.5457C1.93586 12.8092 2.03373 13.0606 2.19341 13.2717C2.35309 13.4829 2.56829 13.6455 2.815 13.7414L5.74143 14.8793C4.57857 12.9293 3.705 10.2357 3.50929 6.51643ZM14.1821 6.04929L18.6407 7.16357C18.8246 7.20951 18.9826 7.3266 19.0802 7.48909C19.1777 7.65158 19.2067 7.84615 19.1607 8.03C19.1148 8.21385 18.9977 8.37192 18.8352 8.46944C18.6727 8.56696 18.4781 8.59594 18.2943 8.55L14.1821 7.52143L10.0693 8.55C9.97769 8.57457 9.88213 8.58066 9.78815 8.56791C9.69418 8.55516 9.60369 8.52383 9.52196 8.47573C9.44023 8.42764 9.36889 8.36376 9.31211 8.28781C9.25533 8.21185 9.21424 8.12535 9.19124 8.03335C9.16824 7.94135 9.16379 7.84569 9.17815 7.75195C9.19251 7.65822 9.22539 7.56828 9.27487 7.48738C9.32436 7.40648 9.38946 7.33625 9.46637 7.28078C9.54329 7.22531 9.63048 7.18571 9.72286 7.16429L14.1821 6.04929Z"
                                          fill="#ABABAB"/>
                                </svg>
                            </div>
                            <span id="titleCovidAdaptive" class="visa-information__name">COVID-19 Bestimmungen</span>
                        </div>
                        <a href="javascript: void(0)"
                           id="buttonCovidAdaptive"
                           class="quick-answer__arrow">
                        </a>
                    </div>
                    <div id="textCovidAdaptive" class="visa-information__text">
                        <span>30‑tägige Besuchsberechtigung</span>
                        <br><br>
                        Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                        Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                        International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                        Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                        <br><br><br>
                        Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                        Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                        San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                        <br><br><br>
                        <span>90‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                        Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                        gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                        Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                        Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                        vollständig genutzt wurde.

                        <br><br><br>
                        Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                        Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                        Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                        Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                        Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                        Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                        Schweden, Schweiz, Uruguay.

                        <br><br><br>
                        <span>180‑Tage‑Besuchsberechtigung</span> <br>
                        Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                        Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                        Aufenthalt von insgesamt 180 Tagen gültig ist.

                        <br><br><br>
                        <span>Einreiseverfahren in Dubai</span> <br>
                        Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                        Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                        <br><br><br>
                        Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                        ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                        keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                        <br><br><br>
                        <span>Wichtige Informationen</span> <br>
                        Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                        Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                        ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                        unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                        müssen und ob andere Reisepassvorschriften gelten.

                        <br><br><br>
                        Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                        Visum für die Vereinigten Arabischen Emirate beantragen.

                        <br><br><br>
                        Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                        Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                        die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                        der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                        von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                        Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
                    </div>
                </div>
            </div>
        </section>
        <div class="background-index-image">
            {% include 'components/select-country-and-visa.html' %}
            {% include 'components/popular-place_block.html' %}
            {% include 'components/upcoming-events_block.html' %}
            <div class="upcoming-events__buttons">
                <a href="/all_place/" class="upcoming-events__btn-all-places">Alle Sehenswürdigkeiten ansehen</a>
                <a href="/all_events/" class="upcoming-events__btn-all-events">Alle Events ansehen</a>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}


{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='scripts/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/faq.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/form_select_country.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/visa_information.js') }}"></script>
{% endblock %}
