{% extends 'layouts/base.html' %}

{% block title %}
    <title>TRUE NEED VISA</title>
{% endblock %}

{% block body %}
    {% include 'components/header.html' %}
    <div class="need-visa-main">
        <span class="need-visa-main__country-name">
            Staatsangehörigkeit:
            {% for iso_3code, country in countries.items() %}
                {% if session['country'] == iso_3code %}
                    <span>{{ country.name_deu }}</span>
                {% endif %}
            {% endfor %}
        </span>
        <h1 class="need-visa-main__title">
            Ja, für die Einreise in die Vereinigten Arabischen
            Emirate benötigen Sie ein Visum.
        </h1>
        <span class="need-visa-main__subtitle">
            Wählen Sie Ihre Visumart aus und laden Sie die notwendigen Dokumente hoch.
            Nach Abschluss erhalten Sie eine Bestätigung per E-Mail.
        </span>
        <form  method="post" class="need-visa-main__form">
            <div class="need-visa-main__container-form">
                <a href="/" class="need-visa-main__link">
                    <img src="{{ url_for('static', filename='images/need-visa-main.svg') }}" alt="">
                    zurück
                </a>
                <div id="form" class="main__form --visa-main-form">
                    <select class="need-visa-main__select" name="" id="mainSelectVisa">
                        <option></option>
                        <option value="tourism_standard">Tourismus Visum</option>
                        <option value="tourism_express">Tourismus - Express Visum</option>
                        <option value="business_standard">Business Visum</option>
                        <option value="business_express">Business - Express Visum</option>
                    </select>
                </div>
            </div>
            <div class="need-visa-main__block">
                <div class="need-visa-main__first-block">
                    {% for iso_3code, country in countries.items() %}
                        {% if session['country'] == iso_3code %}
                            <span class="need-visa-main__country-block">{{ country.name_deu }}</span>
                        {% endif %}
                    {% endfor %}
                    <div class="need-visa-main__circle circle-one --active-circle-primary"
                         style="margin-right: 8px;"></div>
                    <div class="need-visa-main__line --active-line-primary"></div>
                    <div class="need-visa-main__circle circle-two" style="margin: 0 8px;"></div>
                    <div class="need-visa-main__line"></div>
                    <div class="need-visa-main__circle circle-three" style="margin-left: 8px;"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="price-options">
            <h3 class="price-options__title">
                Ihre Preisoptionen
            </h3>
            <div class="price__list" style="margin-top: 32px;">
                <div id="priceTourismStandard"
                     class="price__item price-options__item need-visa-main__price-item --need-visa-price-item-1">
                    <div class="price__name-visa price-need-visa__name-visa price-options__name-visa">
                        <h3 class="price__item-title price-need-visa__item-title">
                            Tourismus Visum
                        </h3>
                        <div style="display: flex; margin-top: 8px;">
                            <span class="price__currency">€</span>
                            <span class="price__price">150</span>
                            <span class="price__date">/ 30 Tage <br>
                        Aufenthalt
                    </span>
                        </div>
                    </div>
                    <div class="price__description price-need-visa__description price-options__description"
                         style="border-radius: 30px 0 0 0 ">
                        <div>
                            <img src="{{ url_for('static', filename='images/price-options-watch.svg') }}" alt="">
                            7 Werktage Bearbeitungsdauer
                        </div>
                    </div>
                </div>
                <div id="priceTourismExpress"
                     class="price__item price-options__item need-visa-main__price-item --need-visa-price-item-2">
                    <div class="price__name-visa price-need-visa__name-visa price-options__name-visa">
                        <h3 class="price__item-title price-need-visa__item-title">
                            Tourismus - Express Visum
                        </h3>
                        <div style="display: flex; margin-top: 8px;">
                            <span class="price__currency">€</span>
                            <span class="price__price">230</span>
                            <span class="price__date">/ 30 Tage <br>
                        Aufenthalt
                    </span>
                        </div>
                    </div>
                    <div class="price__description price-need-visa__description price-options__description"
                         style="border-radius: 0 30px 0 0 ">
                        <div style="color: #F1922B">
                            <img src="{{ url_for('static', filename='images/price-options-watch-primary.svg') }}"
                                 alt="">
                            2 Werktage Bearbeitungsdauer
                        </div>
                    </div>
                </div>
                <div id="priceBusinessStandard"
                     class="price__item price-options__item need-visa-main__price-item --need-visa-price-item-3">
                    <div class="price__name-visa price-need-visa__name-visa price-options__name-visa">
                        <h3 class="price__item-title price-need-visa__item-title">
                            Business Visum
                        </h3>
                        <div style="display: flex; margin-top: 8px;">
                            <span class="price__currency">€</span>
                            <span class="price__price">200</span>
                            <span class="price__date">/ 30 Tage <br>
                        Aufenthalt
                    </span>
                        </div>
                    </div>
                    <div class="price__description price-need-visa__description price-options__description"
                         style="border-radius: 30px 0 0 0 ">
                        <div>
                            <img src="{{ url_for('static', filename='images/price-options-watch.svg') }}" alt="">
                            7 Werktage Bearbeitungsdauer
                        </div>
                    </div>
                </div>
                <div id="priceBusinessExpress"
                     class="price__item price-options__item need-visa-main__price-item --need-visa-price-item-4">
                    <div class="price__name-visa price-need-visa__name-visa price-options__name-visa">
                        <h3 class="price__item-title price-need-visa__item-title">
                            Business - Express Visum
                        </h3>
                        <div style="display: flex; margin-top: 8px;">
                            <span class="price__currency">€</span>
                            <span class="price__price">280</span>
                            <span class="price__date">/ 30 Tage <br>
                        Aufenthalt
                    </span>
                        </div>
                    </div>
                    <div class="price__description price-need-visa__description price-options__description"
                         style="border-radius: 0 30px 0 0 ">
                        <div style="color: #F1922B">
                            <img src="{{ url_for('static', filename='images/price-options-watch-primary.svg') }}"
                                 alt="">
                            7 Werktage Bearbeitungsdauer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="apply-for-visa">
        <h2 class="apply-for-visa__title">
            Einige Dinge, die Sie wissen sollten, bevor Sie beginnen.
        </h2>
        <div class="apply-for-visa__group-link">
            <a id="documentButton" href="javascript: void(0)"
               class="apply-for-visa__link --active-apply-btn">Dokumente</a>
            <a id="electronicVisaButton" href="javascript: void(0)" class="apply-for-visa__link">eVisum</a>
            <a id="covidButton" href="javascript: void(0)" class="apply-for-visa__link">COVID-19</a>
        </div>
        <span class="apply-for-visa__subtitle">
            Diese Dokumente bzw. Info sind notwendig um das Visum beantragen zu können.
        </span>
        <div id="applyForVisaList" class="apply-for-visa__list">
            <div class="apply-for-visa__item">
                <span id="titleOneItem" class="apply-for-visa__item-name">
                    REISEPASS <br>
                    SCAN
                </span>
                <div id="imgOneItem" class="apply-for-visa__img">
                    <img src="{{ url_for('static', filename='images/apply-for-visa-1.svg') }}" alt="">
                </div>
                <span id="textOneItem" class="apply-for-visa__text">
                    Klarer Scan oder Bild Ihres Reisepasses mit mindestens 6 Monaten Gültigkeit.
                </span>
            </div>
            <div class="apply-for-visa__item">
                <span id="titleTwoItem" class="apply-for-visa__item-name">
                    DIGITALES <br>
                    PASSBILD
                </span>
                <div id="imgTwoItem" class="apply-for-visa__img">
                    <img src="{{ url_for('static', filename='images/apply-for-visa-2.svg') }}" alt="">
                </div>
                <span id="textTwoItem" class="apply-for-visa__text">
                    Klares Farbfoto im Pass-Stil oder ein Selfie mit weißem Hintergrund.
                </span>
            </div>
            <div class="apply-for-visa__item">
                <span id="titleThreeItem" class="apply-for-visa__item-name">
                    ANGABEN <br>
                    ZUR REISE
                </span>
                <div id="imgThreeItem" class="apply-for-visa__img">
                    <img src="{{ url_for('static', filename='images/apply-for-visa-3.svg') }}" alt="">
                </div>
                <span id="textThreeItem" class="apply-for-visa__text">
                    Einreisedatum in die Vereinigten  Arabischen Emirate.
                </span>
            </div>
        </div>
    </section>
    <div class="background-true-need-visa">
        <section style="padding-top: 108px;" class="customer-say">
            <h2 class="customer-say__title">
                Erfahren Sie hier, was andere Kunden über uns sagen
            </h2>
            <div class="customer-say__items">
                <span>Hervorragend</span>
                <div class="customer-say__evaluation">
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                    <div class="customer-say__item">
                        <img src="{{ url_for('static', filename='images/customers-say-evaluation.svg') }}" alt="">
                    </div>
                </div>
                <div class="customer-say__trustpilot">
                    <img src="{{ url_for('static', filename='images/customers-say-evaluation-green.svg') }}" alt="">
                    <span>Trustpilot</span>
                </div>
            </div>
            <div class="customer-say__review">
                <p>Basierend auf</p>
                <span>456 Bewertungen</span>
            </div>
        </section>
        <section class="fast-visa">
            <div class="fast-visa__left-content">
                <div>
                    <span class="fast-visa__subtitle">
                        UNSERE VORTEILE
                    </span>
                    <h2 class="fast-visa__title">
                        Der schnellste <br>
                        Weg zum Visum
                    </h2>
                </div>
                <div class="fast-visa__group-btn">
                    <a href="/price/" class="--btn-view-price fast-visa__btn">Preise ansehen</a>
                    <button class="--btn-start-order">Bestellung starten</button>
                </div>
            </div>
            <div class="fast-visa__right-content">
                <div class="fast-visa__item --fast-visa-item-one">
                    <img style="width: 35px; height: 35px;"
                         src="{{ url_for('static', filename='images/fast-visa-1.svg') }}" alt="">
                    <span class="fast-visa__title-item">Keine Buchung</span>
                    <p class="fast-visa__text">
                        Für die Beantragung des Visums benötigen Sie weder eine Hotel-
                        noch eine Flugbuchung.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-two">
                    <img style="width: 33px; height: 34px;"
                         src="{{ url_for('static', filename='images/fast-visa-2.svg') }}" alt="">
                    <span class="fast-visa__title-item">Alles Online</span>
                    <p class="fast-visa__text">
                        Sparen Sie sich den Besuch
                        im Konsulat - die komplette
                        Abwicklung erfolgt online.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-three">
                    <img style="width: 43px; height: 25px;"
                         src="{{ url_for('static', filename='images/fast-visa-3.svg') }}" alt="">
                    <span class="fast-visa__title-item">Express-Visum</span>
                    <p class="fast-visa__text">
                        Visum innerhalb 24h - auch wenn es schnell gehen muss, können Sie sich auf uns verlassen.
                    </p>
                </div>
                <div class="fast-visa__item --fast-visa-item-four">
                    <img style="width: 32px; height: 28px;"
                         src="{{ url_for('static', filename='images/fast-visa-4.svg') }}" alt="">
                    <span class="fast-visa__title-item">Sicher bezahlen</span>
                    <p class="fast-visa__text">
                        Wir nutzen ausschließlich sichere, marktgeprüfte Bezahldienste.
                    </p>
                </div>
            </div>
            <div class="fast-visa__group-btn-adaptive">
                <a href="/price/" class="--btn-view-price fast-visa__btn">Preise ansehen</a>
                <button class="--btn-start-order">Bestellung starten</button>
            </div>
        </section>
        <section style="max-width: 1196px;" class="quick-answer">
            <h2 style="font-weight: 800;" class="quick-answer__title">
                FAQ
            </h2>
            <div class="quick-answer__list faqs__list">
                <div class="quick-answer__item">
                        <span class="quick-answer__text faqs__item-title">
                        Ist für die Einreise in die VAE zwingend ein Visum notwendig?
                    </span>
                    <a id="button1" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p class="faqs__text" id="blockText1">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle1"></div>
                <div class="quick-answer__square" id="square1"></div>
            </div>
            <div class="quick-answer__list faqs__list">
                <div class="quick-answer__item">
                        <span class="quick-answer__text faqs__item-title">
                        Benötigen auch Kinder und Babys ein Visum für die Einreise?
                    </span>
                    <a id="button2" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p class="faqs__text" id="blockText2">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle2"></div>
                <div class="quick-answer__square" id="square2"></div>
            </div>
            <div class="quick-answer__list faqs__list">
                <div class="quick-answer__item">
                        <span class="quick-answer__text faqs__item-title">
                        Welche Folgen hat ein über die Visumgültigkeit gehender Aufenthalt?
                    </span>
                    <a id="button3" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p class="faqs__text" id="blockText3">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle3"></div>
                <div class="quick-answer__square" id="square3"></div>
            </div>
            <div class="quick-answer__list faqs__list">
                <div class="quick-answer__item">
                        <span class="quick-answer__text faqs__item-title">
                        Für welchen Zeitraum wird das Visum erteilt?
                    </span>
                    <a id="button4" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p class="faqs__text" id="blockText4">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle4"></div>
                <div class="quick-answer__square" id="square4"></div>
            </div>
            <div class="quick-answer__list faqs__list">
                <div class="quick-answer__item">
                        <span class="quick-answer__text faqs__item-title">
                        Welche Folgen hat ein über die Visumgültigkeit gehender Aufenthalt?
                    </span>
                    <a id="button5" href="javascript: void(0)"
                       class="quick-answer__arrow">
                    </a>
                </div>
                <p class="faqs__text" id="blockText5">
                    Die Bearbeitung eines Visums dauert in der Regel 3 bis 4 Arbeitstage. Dies hängt jedoch auch von der
                    unverzüglichen Einreichung der erforderlichen Dokumente und der Erfüllung der Richtlinien ab.
                </p>
                <div class="quick-answer__circle" id="circle5"></div>
                <div class="quick-answer__square" id="square5"></div>
            </div>

        </section>
    </div>
    {% include 'components/visa_inforamtion_block.html' %}
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/footer.html' %}


{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='scripts/components/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/faq.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/form_select_visa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/need_visa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/visa_information.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    <script>
        $('#mainSelectVisa').select2({
            selectionCssClass: 'need-visa-main__custom-select',
            placeholder: 'Select your visa now',
            dropdownParent: $('#form'),
            dropdownCssClass: 'main__custom-option',
            dropdownPosition: 'below'
        });
    </script>
{% endblock %}
