{% extends 'layouts/base.html' %}

{% block title %}
    <title>{{ events.title }}</title>
{% endblock %}

{% block body %}
    {% include 'components/header.html' %}
    <div class="container">
        <section class="place-main">
            <div class="event-main__link-tabs --gray-color --link-tabs">
                <a href="/">Home</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a href="/all_place/">Sehenswürdigkeiten</a>
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 0.75L5.5 4.75L1.5 8.75" stroke="#666666" stroke-width="2"/>
                </svg>
                <a href="{{ events.url }}">{{ events.title }}</a>
            </div>
            <div class="place-main__content" style="background: url('{{ events.image }}') no-repeat center">
                <div class="place-main__text">
                    <h1 class="place-main__title">
                        {{ events.title }}
                    </h1>
                    <div class="place-main__subtitle">
                        Ausblicke auf das historische und heutige Dubai
                    </div>
                </div>
            </div>
            <div class="event-main__text">
                {{ events.text }}
            </div>
        </section>
    </div>
    <section style="margin-bottom: 100px;" class="maps">
        <div class="container">
            <div class="maps__inner">
                <div class="maps__title">
                    <div>
                        <h2>
                            ÜBERBLICK
                        </h2>
                    </div>
                </div>
                <div class="maps__content">
                    <div class="maps__text">
                        <div>
                            <img src="{{ url_for('static', filename='images/maps-icon-1.svg') }}" alt="">
                            <span class="maps__location">
                                LOCATION
                                <span>Majlis Course, Emirates Golf Course</span>
                            </span>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='images/maps-icon-2.svg') }}" alt="">
                            <span class="maps__location">
                                VISIT OFFICIAL WEBSITE
                                <a style="color: #F1922B; font-weight: 500;" href="www.europeantour.com/"
                                   target="_blank">www.europeantour.com/</a>
                            </span>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28900.16658625078!2d55.130988825286515!3d25.11807697148029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f153b1ab96b39%3A0x29534cb39124ca86!2sThe%20Pointe!5e0!3m2!1sru!2sru!4v1641285023169!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
    {% include 'components/popular-place_block.html' %}
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/footer.html' %}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='scripts/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
{% endblock %}
