{% extends 'layouts/base.html' %}

{% block title %}
    <title>PRICE</title>
{% endblock %}

{% block body %}
    {% include 'components/header.html' %}
    <section class="page-price">
        <h1 class="page-price__title">Preise und Visa-Informationen</h1>
        <span class="page-price__subtitle">
            Sie planen eine Reise in die Vereinigten Arabischen Emirate? <br>
            Finden Sie heraus, ob Sie ein Visum brauchen, wie Sie es beantragen <br>
            können und zu welchen Preisen.
        </span>
        <span class="page-price__choice-of-nationality">
            WÄHLEN SIE IHRE STAATSANGEHÖRIGKEIT UM MEHR ZU ERFAHREN.
        </span>
        <span class="page-price__select-title">
            Welche Staatsangehörigkeit?
        </span>
        <form action="" method="post" id="priceForm" class="page-price__form">
            <div class="page-price__item-select">
                <select class="page-price__select" name="" id="priceSelect">
                    <option value=""></option>
                    {% for iso_3code, country in countries.items() %}
                        <option value="{{ iso_3code }}">
                            {{ country.name_deu }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button disabled type="button" id="priceButton" class="page-price__button --page-price-close-btn">
                Preise und Bedingungen anzeigen
            </button>
        </form>
        <div style="display: none" id="priceInformationVisa">
            <span class="page-price__choice-of-nationality">VISABESTIMMUNGEN</span>
            <div class="page-price__container-information">
                Für die Einreise in die Vereinigten Arabischen Emirate benötigen Sie auf jeden Fall ein Visum. Es muss
                ein
                Visum vor der Einreise beantragt werden. <br>
                <span>Bei der Beschaffung des Visums können wir Ihnen helfen.</span>
            </div>

            <span class="page-price__title-list">Zur Auswahl stehen folgende Visa-Arten:</span>
            <ul class="page-price__list">
                <li>Elektronisches Touristenvisum - 30 Tage Aufenthalt, mit einmaliger Einreise</li>
                <li>Elektronisches Businessvisum - 30 Tage Aufenthalt, mit einmalige Einreise</li>
            </ul>

            <span class="page-price__title-list">Welche Dokumente sind erforderlich?</span>
            <ul class="page-price__list">
                <li>Scan von Reisepass, muss mindestens 6 Monate gültig sein</li>
                <li>Scan eines Passfotos, darf nicht älter als 3 Monate als sein</li>
            </ul>

            <span class="page-price__title-list">Wie viel kostet das Visum?</span>
            <ul class="page-price__list">
                <li>Elektronisches Touristenvisum - Bearbeitung innerhalb von 7 Werktagen - 149€</li>
                <li>Elektronisches Touristenvisum - Bearbeitung innerhalb von 2 Werktagen - 220€</li>
                <li>Elektronische Businessvisum - Bearbeitung innerhalb von 7 Werktagen - 199€</li>
                <li>Elektronische Businessvisum - Bearbeitung innerhalb von 2 Werktagen - 350€</li>
            </ul>
        </div>
        <div id="darkMask"></div>
    </section>
    {% include 'components/select-country-and-visa.html' %}
    {% include 'components/popular-place_block.html' %}
    {% include 'components/upcoming-events_block.html' %}
    <div style="margin-bottom: 270px;"></div>
    {% include 'components/footer.html' %}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/components/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pages/price_page.js') }}"></script>
{% endblock %}
