{% extends 'layouts/base.html' %}

{% block title %}
    <title>VISA INFORMATION</title>
{% endblock %}

{% block body %}
    <div class="page-information-background">
        {% include 'components/header.html' %}
        {% include'components/visa_inforamtion_block.html' %}
        {% include 'components/select-country-and-visa.html' %}
    </div>
        {% include 'components/footer.html' %}

{% endblock %}
    {% block script %}
        <script src="{{ url_for('static', filename='scripts/components/visa_information.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/pages/select_country_and_visa.js') }}"></script>
    {% endblock %}
