.about-us-page {
  font-size: 200px;
}
.about-us-page__title {
  max-width: 500px;
}
.about-us-page__title span {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  background: linear-gradient(100deg, #9634b9, #53d3d1, #4a4ea8, #9634b9, #53d3d1, #9634b9);
  background-size: 200% auto;
  color: #000;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.about-us-page_who-are-you__one-block {
  height: 300px;
  padding: 32px 24px;
}
.about-us-page_who-are-you__one-block:last-child {
  margin-top: 32px;
}
.about-us-page_who-are-you__content {
  margin-bottom: 104px;
}
.about-us-page_who-are-you__text {
  max-width: 834px;
  width: 100%;
  line-height: 1.5;
}
.about-us-page_who-are-you__item {
  height: 275px;
}
.about-us-page_our-approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us-page_our-approach__title {
  font-size: 32px;
}
.about-us-page_our-approach__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: self-start;
  margin-top: 48px;
  margin-bottom: 204px;
}
.about-us-page_our-approach__item {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  max-width: 340px;
  width: 100%;
}
.about-us-page_our-approach__item:first-child,
.about-us-page_our-approach__item:nth-child(4) {
  margin-left: 0;
}
.about-us-page_our-approach__item:nth-child(4),
.about-us-page_our-approach__item:nth-child(6) {
  margin-top: -70px;
}
.about-us-page_our-approach__item:nth-child(5) {
  margin-bottom: 0;
}
.about-us-page_our-approach__item h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  margin-top: 18px;
  margin-bottom: 16px;
}
.about-us-page_our-approach__item p {
  line-height: 1.5;
}
.about-us-page_discuss-your-project {
  padding: 0;
}
@media screen and (max-width: 1150px) {
  .about-us-page_our-approach__item {
    max-width: 292px;
    padding: 24px;
  }
  .about-us-page_our-approach__item:nth-child(4),
  .about-us-page_our-approach__item:nth-child(6) {
    margin-top: -42px;
  }
  .about-us-page_our-approach__item h3 {
    font-size: 20px;
  }
  .about-us-page_our-approach__item p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .about-us-page_our-approach__item {
    max-width: 340px;
    margin-left: 0;
  }
  .about-us-page_our-approach__item:nth-child(even) {
    margin-left: 32px;
  }
  .about-us-page_our-approach__item:nth-child(3) {
    margin-top: -66px;
  }
  .about-us-page_our-approach__item:nth-child(4) {
    margin-top: 0;
  }
  .about-us-page_our-approach__item:nth-child(5) {
    margin-top: -42px;
  }
  .about-us-page_our-approach__item:nth-child(6) {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .about-us-page_our-approach__items {
    margin-bottom: 140px;
  }
  .about-us-page_our-approach__title {
    font-size: 30px;
  }
  .about-us-page_our-approach__item {
    max-width: 258px;
    margin-bottom: 14px;
    padding: 18px;
  }
  .about-us-page_our-approach__item:nth-child(even) {
    margin-left: 14px;
  }
  .about-us-page_our-approach__item:nth-child(3) {
    margin-top: -76px;
  }
  .about-us-page_our-approach__item:nth-child(5) {
    margin-top: -56px;
  }
  .about-us-page_our-approach__item img {
    width: 50px;
  }
  .about-us-page_our-approach__item h3 {
    font-size: 16px;
    margin: 12px 0;
  }
  .about-us-page_our-approach__item p {
    font-size: 13px;
  }
  .about-us-page_who-are-you__one-block {
    height: 268px;
    padding: 24px;
  }
}
@media screen and (max-width: 570px) {
  .about-us-page_our-approach__items {
    margin-bottom: 100px;
  }
  .about-us-page_our-approach__title {
    font-size: 24px;
  }
  .about-us-page_our-approach__item {
    max-width: 100%;
    margin-left: 0 !important;
    margin-bottom: 32px !important;
    margin-top: 0 !important;
  }
  .about-us-page_who-are-you__one-block {
    height: auto;
    padding: 18px;
  }
}
