.cases-page {
  margin-top: 93px;
  margin-bottom: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cases-page__title {
  max-width: 560px !important;
}
.cases-page__title span {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  background: linear-gradient(100deg, #9634b9, #53d3d1, #4a4ea8, #9634b9, #53d3d1, #9634b9);
  background-size: 200% auto;
  color: #000;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.cases-page__item {
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
  margin-bottom: 24px;
  height: 650px;
  overflow: hidden;
  align-items: center;
}
.cases-page__item:last-child {
  margin-bottom: 0;
}
.cases-page__content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  max-width: 827px;
  max-height: 464px;
  width: 100%;
  border: 1px solid rgba(84,211,209,0.3);
  transition: 0.5s ease-out;
}
.cases-page__content:hover img {
  opacity: 1;
}
.cases-page__content img {
  opacity: 0.5;
  transition: 0.5s;
  max-width: 827px;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.cases-page__content-start {
  justify-content: start;
}
.cases-page__content-start > .--cases-description {
  left: auto;
  right: 0;
}
.cases-page__item-header {
  display: flex;
  padding: 16px 20px;
  background: linear-gradient(45deg, rgba(84,211,209,0.25), rgba(84,211,209,0.15));
}
.cases-page__item-header span {
  font-size: 14px;
  background: rgba(84,211,209,0.3);
  border-radius: 10px;
  padding: 4px 8px;
  margin-left: 12px;
}
.cases-page__item-header span:first-child {
  margin-left: 0;
}
.cases-page__product-visa {
  border: 1px solid rgba(76,111,178,0.3);
}
.cases-page__product-visa > .cases-page__item-header {
  background: linear-gradient(45deg, rgba(76,111,178,0.25), rgba(76,111,178,0.15));
}
.cases-page__product-visa > .cases-page__item-header span {
  background: rgba(76,111,178,0.3);
}
.cases-page__shop {
  border: 1px solid rgba(255,255,255,0.3);
}
.cases-page__shop > .cases-page__item-header {
  background: linear-gradient(45deg, rgba(0,0,0,0.25), rgba(0,0,0,0.15));
}
.cases-page__shop > .cases-page__item-header span {
  background: rgba(123,123,123,0.3);
}
.cases-page__sapegin-autoplates {
  border: 1px solid rgba(17,64,146,0.3);
  background: linear-gradient(45deg, rgba(17,64,146,0.4), rgba(17,64,146,0.2));
}
.cases-page__sapegin-autoplates > .cases-page__item-header {
  background: linear-gradient(45deg, rgba(17,64,146,0.2), rgba(17,64,146,0.1));
}
.cases-page__sapegin-autoplates > .cases-page__item-header span {
  background: rgba(17,64,146,0.3);
}
.cases-page__tthomes {
  border: 1px solid rgba(173,35,23,0.3);
  background: linear-gradient(45deg, rgba(173,35,23,0.2), rgba(173,35,23,0.1));
}
.cases-page__tthomes > .cases-page__item-header {
  background: linear-gradient(45deg, rgba(173,35,23,0.2), rgba(173,35,23,0.1));
}
.cases-page__tthomes > .cases-page__item-header span {
  background: rgba(173,35,23,0.3);
}
.cases-page__sapegin-kzevb {
  border: 1px solid rgba(84,211,209,0.3);
  background: linear-gradient(45deg, rgba(84,211,209,0.5), rgba(84,211,209,0.3));
}
.cases-page__sapegin-kzevb > .cases-page__item-header {
  background: linear-gradient(45deg, rgba(76,111,178,0.15), rgba(84,211,209,0.05));
}
.cases-page__sapegin-kzevb > .cases-page__item-header span {
  background: rgba(84,211,209,0.3);
}
@media screen and (max-width: 1000px) {
  .cases-page__content {
    max-width: 600px;
  }
  .cases-page__item {
    max-width: 800px;
    height: 560px;
    align-items: end;
  }
}
@media screen and (max-width: 767px) {
  .cases-page__content {
    max-width: 400px;
    border-radius: 15px;
  }
  .cases-page__content .slick-track {
    margin-left: 0;
  }
  .cases-page__content img {
    border-radius: 0 0 15px 15px;
  }
  .cases-page__item {
    overflow: initial;
    max-width: 580px;
    height: auto;
    margin-bottom: 120px;
  }
  .cases-page__item-header {
    padding: 10px 16px;
  }
  .cases-page__item-header span {
    font-size: 11px;
  }
}
@media screen and (max-width: 550px) {
  .cases-page__content {
    max-width: 100%;
    border-radius: 8px;
  }
  .cases-page__content img {
    border-radius: 0 0 8px 8px;
  }
  .cases-page__item {
    justify-content: center;
    margin-bottom: 180px;
  }
  .cases-page__content-start > .--cases-description {
    right: 20px;
  }
}
@media screen and (max-width: 400px) {
  .cases-page__description {
    top: 55%;
  }
}
