.data-protection {
  margin-bottom: 288px;
}
.data-protection__item {
  margin-top: 32px;
  height: auto;
  justify-content: start;
  align-items: start;
  padding: 32px 64px;
}
.data-protection__item:first-child {
  margin-top: 0;
}
.data-protection__item > p {
  text-align: start;
  max-width: 100%;
}
.data-protection__item > h3 {
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .data-protection__item {
    padding: 32px;
  }
  .data-protection__item h3 {
    text-align: start;
  }
}
