@font-face {
  font-family: 'Open-Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url("/static/fonts/open-sans/opensanslight.woff2") format('woff2'), url("/static/fonts/open-sans/opensanslight.woff") format('woff'), url("/static/fonts/open-sans/opensanslight.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open-Sans';
  src: local('Open Sans'), local('OpenSans'), url("/static/fonts/open-sans/opensans.woff2") format('woff2'), url("/static/fonts/open-sans/opensans.woff") format('woff'), url("/static/fonts/open-sans/opensans.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open-Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("/static/fonts/open-sans/opensanssemibold.woff2") format('woff2'), url("/static/fonts/open-sans/opensanssemibold.woff") format('woff'), url("/static/fonts/open-sans/opensanssemibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open-Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("/static/fonts/open-sans/opensansbold.woff2") format('woff2'), url("/static/fonts/open-sans/opensansbold.woff") format('woff'), url("/static/fonts/open-sans/opensansbold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: local('Kanit Thin'), local('Kanit-Thin'), url("/static/fonts/kanit/Kanitthin.woff2") format('woff2'), url("/static/fonts/kanit/Kanitthin.woff") format('woff'), url("/static/fonts/kanit/Kanitthin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: local('Kanit Medium'), local('Kanit-Medium'), url("/static/fonts/kanit/Kanitmedium.woff2") format('woff2'), url("/static/fonts/kanit/Kanitmedium.woff") format('woff'), url("/static/fonts/kanit/Kanitmedium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), local('Kanit-Regular'), url("/static/fonts/kanit/Kanit.woff2") format('woff2'), url("/static/fonts/kanit/Kanit.woff") format('woff'), url("/static/fonts/kanit/Kanit.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: local('Kanit Bold'), local('Kanit-Bold'), url("/static/fonts/kanit/Kanitbold.woff2") format('woff2'), url("/static/fonts/kanit/Kanitbold.woff") format('woff'), url("/static/fonts/kanit/Kanitbold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuktaVaani';
  src: local('MuktaVaani'), local('MuktaVaani-Regular'), url("/static/fonts/MuktaVaani/MuktaVaani-Regular.woff2") format('woff2'), url("/static/fonts/MuktaVaani/MuktaVaani-Regular.woff") format('woff'), url("/static/fonts/MuktaVaani/MuktaVaani-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MuktaVaani';
  src: local('MuktaVaani Medium'), local('MuktaVaani-Medium'), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.woff2") format('woff2'), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.woff") format('woff'), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuktaVaani';
  src: local('MuktaVaani Bold'), local('MuktaVaani-Bold'), url("/static/fonts/MuktaVaani/MuktaVaani-Bold.woff2") format('woff2'), url("/static/fonts/MuktaVaani/MuktaVaani-Bold.woff") format('woff'), url("/static/fonts/MuktaVaani/MuktaVaani-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial'), local('Arial-Regular'), url("/static/fonts/arial/arial-regular.woff2") format('woff2'), url("/static/fonts/arial/arial-regular.woff") format('woff'), url("/static/fonts/arial/arial-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial Italic'), local('Arial-Italic-Regular'), url("/static/fonts/arial/arial-italic.woff2") format('woff2'), url("/static/fonts/arial/arial-italic.woff") format('woff'), url("/static/fonts/arial/arial-italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial Bold'), local('Arial-Bold'), url("/static/fonts/arial/arial-bold.woff2") format('woff2'), url("/static/fonts/arial/arial-bold.woff") format('woff'), url("/static/fonts/arial/arial-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
.footer {
  background: #fff;
  padding: 32px 105px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #1b1f24;
}
.footer__items {
  display: flex;
}
.footer__item {
  margin-left: 88px;
  display: flex;
  flex-direction: column;
}
.footer__item a,
.footer__item span {
  color: #1b1f24;
  font-weight: 600;
  line-height: 1.5;
}
.footer__item-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  margin-bottom: 17px;
}
.footer__item:first-child {
  margin-left: 0;
}
.footer__prefix {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__prefix span {
  font-size: 14px;
  color: #1b1f24;
}
.footer__navbar a {
  font-size: 14px;
  color: #1b1f24;
  margin-left: 16px;
}
.footer__navbar a:first-child {
  margin-left: 0;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 40px;
  }
  .footer__items {
    margin-left: 30px;
  }
  .footer__item {
    margin-left: 40px;
  }
  .footer__item span,
  .footer__item a {
    font-size: 14px;
  }
  .footer__prefix span {
    font-size: 13px;
  }
  .footer__navbar a {
    margin-left: 10px;
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column;
  }
  .footer__items {
    margin-left: 0;
    margin-top: 32px;
  }
  .footer__prefix {
    margin-top: 32px;
    align-items: end;
    flex-direction: column;
  }
  .footer__navbar {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 20px;
  }
  .footer__items {
    flex-direction: column;
  }
  .footer__item {
    margin-left: 0;
    margin-bottom: 16px;
    align-items: center;
  }
  .footer__item span {
    text-align: center;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__content {
    align-items: center;
  }
  .footer__prefix {
    align-items: center;
  }
  .footer__navbar a {
    margin-left: 9px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 1356px;
  width: 100%;
  padding: 21px 30px 0;
  z-index: 10;
  transform: translateX(-50%);
}
.header__logo {
  max-width: 150px;
  width: 100%;
}
.header__btn-contact-form {
  cursor: pointer;
  position: relative;
}
.header__links {
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.05);
  background: radial-gradient(rgba(65,75,87,0.2), rgba(45,53,61,0.2));
  overflow: hidden;
}
.header__links a {
  padding: 20px 0;
  color: #fff;
  opacity: 0.6;
  transition: 0.2s;
}
.header__links a:hover {
  opacity: 1;
}
.header__links span {
  display: block;
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0.6;
  border-radius: 100%;
  margin: 0 24px;
}
@media screen and (max-width: 950px) {
  .header__btn {
    font-size: 16px;
    padding: 10px 24px;
  }
  .header__btn-adaptive {
    display: none;
  }
  .header__logo img {
    width: 100px;
  }
}
@media screen and (max-width: 550px) {
  .header__logo img {
    width: 80px;
  }
  .header__btn {
    font-size: 14px;
    padding: 8px 18px;
  }
}
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: -9999999px;
  background: radial-gradient(rgba(65,75,87,0.6), rgba(45,53,61,0.6));
  height: 100vh;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.05);
  max-width: 340px;
  width: 100%;
  transition: 0.4s ease-in;
  overflow: scroll;
  z-index: -1;
  opacity: 0;
}
.sidebar__btn {
  margin-left: 240px;
  margin-top: 48px;
  margin-bottom: 120px;
  display: inline-block;
  opacity: 0;
  transition: margin-left 0.9s, opacity 2s !important;
}
.sidebar__show-btn {
  opacity: 1;
  margin-left: 64px;
}
.sidebar__links {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
}
.sidebar__link {
  margin-bottom: 32px;
  padding-left: 320px;
  opacity: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}
.sidebar__link:nth-child(1) {
  transition: padding-left 0.2s, opacity 1s;
}
.sidebar__link:nth-child(2) {
  transition: padding-left 0.3s, opacity 1s;
}
.sidebar__link:nth-child(3) {
  transition: padding-left 0.4s, opacity 1s;
}
.sidebar__link:nth-child(4) {
  transition: padding-left 0.5s, opacity 1s;
}
.sidebar__link:last-child {
  margin-bottom: 0;
}
.sidebar__link:after {
  content: '';
  display: block;
}
.sidebar__show-link {
  padding-left: 64px;
  opacity: 0.6;
}
.sidebar__animation {
  z-index: 101;
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, rgba(83,211,209,0.8), rgba(29,117,169,0.8), rgba(147,52,184,0.8));
  opacity: 0.5;
  transition: 0.7s ease-in-out;
  backdrop-filter: blur(1000px);
}
.sidebar__burger {
  z-index: 100;
  display: none;
  padding: 11px 3px;
  cursor: pointer;
  position: fixed;
  top: 21px;
  right: 30px;
}
.sidebar__burger span {
  transition: 2s;
  display: block;
  background: #9334b8;
  width: 29px;
  height: 2px;
  position: relative;
}
.sidebar__burger span:after,
.sidebar__burger span:before {
  transition: 3.4s;
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  right: 0;
}
.sidebar__burger span:after {
  background: #0a539a;
  top: 8px;
}
.sidebar__burger span:before {
  background: #53d3d1;
  bottom: 8px;
}
.sidebar__burger-open span {
  width: 20px;
}
.sidebar__burger-open span:after,
.sidebar__burger-open span:before {
  width: 29px;
}
@media screen and (max-width: 950px) {
  .sidebar {
    right: 0;
    left: auto;
  }
  .sidebar__burger {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .sidebar {
    max-width: 240px;
  }
  .sidebar__link {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .sidebar__show-link {
    padding-left: 48px;
  }
  .sidebar__show-btn {
    margin-left: 48px !important;
  }
  .sidebar__btn {
    transition: margin-left 0.7s, opacity 2.7s !important;
    margin-top: 28px;
    padding: 10px 22px !important;
    font-size: 15px !important;
  }
}
.contact-form {
  z-index: 10;
  position: absolute;
  max-width: 908px;
  width: 100%;
  max-height: 567px;
  height: 100%;
  background: #1b1f24;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px 25px rgba(83,211,209,0.5);
  border: 2px solid #fff;
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2);
  border-image-slice: 2;
}
.contact-form__loader {
  left: 15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  margin-right: 18px;
  animation: rotate 1s linear infinite;
}
.contact-form__loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid #000;
  animation: prixClipFix 2s linear infinite;
}
.contact-form__wrap {
  z-index: 100;
  display: none;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}
.contact-form__inner {
  width: 100%;
  height: 100%;
  padding: 122px 60px;
  display: flex;
  justify-content: space-between;
}
.contact-form__checkbox {
  display: flex;
  align-items: center;
}
.contact-form__text {
  font-size: 12px;
  line-height: 1.2;
}
.contact-form__text a {
  color: #096bff;
}
.contact-form__label {
  display: block;
  width: 0;
  height: 1px;
  background: #53d3d1;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-form__form {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  width: 100%;
}
.contact-form__success-icon {
  position: absolute;
  left: 22px;
  top: 11px;
  display: block;
  width: 9px;
  height: 16px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.contact-form__error-icon {
  position: absolute;
  left: 22px;
  top: 11px;
}
.contact-form__error-icon:after,
.contact-form__error-icon:before {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  left: -5px;
  width: 18px;
  height: 2px;
  background: #f00;
}
.contact-form__error-icon:after {
  transform: rotate(45deg);
}
.contact-form__error-icon:before {
  transform: rotate(-45deg);
}
.contact-form__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-top: 32px;
  background: #fff;
  width: 100%;
  padding: 16px 0;
  cursor: not-allowed;
  outline: none;
  border: 3px dashed;
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2, #53d3d1);
  border-image-slice: 2;
}
.contact-form__container-input {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}
.contact-form__container-input textarea {
  resize: vertical;
  padding-bottom: 0;
  min-height: 28px;
  max-height: 60px;
}
.contact-form__container-input textarea + label {
  bottom: 2px;
}
.contact-form__container-input:hover .contact-form__label {
  width: 100%;
  transition: 0.7s;
}
.contact-form__input {
  border: none;
  border-radius: 8px 8px 0 0;
  padding-top: 8px;
  padding-left: 8px;
  background: none;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  width: 100%;
  padding-bottom: 8px;
  color: #fff;
  outline: none;
}
.contact-form__close-btn {
  right: 15px !important;
  top: 15px !important;
}
.contact-form__content {
  margin-left: 116px;
}
.contact-form__content p {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 100px;
}
.contact-form__content span a {
  color: #fff;
  font-weight: 600;
}
.contact-form__content span a + a {
  margin-left: 44px;
}
@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@-webkit-keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@-o-keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@media screen and (max-width: 1000px) {
  .contact-form {
    height: 430px;
    max-width: 650px;
  }
  .contact-form .--success-click {
    padding-left: 24px;
  }
  .contact-form__error-icon {
    left: 10px;
    top: 5px;
  }
  .contact-form__success-icon {
    left: 10px;
    top: 5px;
  }
  .contact-form__btn {
    margin-top: 4px;
    height: 30px;
  }
  .contact-form__inner {
    padding: 40px 30px;
  }
  .contact-form__container-input {
    margin-bottom: 24px;
  }
  .contact-form__text {
    font-size: 10px;
  }
  .contact-form__checkbox {
    margin-bottom: 16px;
  }
  .contact-form__content {
    margin-left: 60px;
  }
  .contact-form__content img {
    width: 290px;
  }
  .contact-form__content p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
  }
  .contact-form__content span a {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form {
    overflow: scroll;
    max-width: 500px;
    height: auto;
  }
  .contact-form__error-icon,
  .contact-form__success-icon {
    left: 22px;
    top: 11px;
  }
  .contact-form .--success-click {
    padding-left: 16px;
  }
  .contact-form__btn {
    height: auto;
  }
  .contact-form__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact-form__content {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    max-width: 300px;
  }
  .contact-form__content p {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .contact-form {
    max-width: 300px;
  }
  .contact-form__error-icon,
  .contact-form__success-icon {
    left: 10px;
    top: 7px;
  }
  .contact-form__inner {
    padding: 30px 24px;
  }
  .contact-form__content img {
    width: 245px;
    margin-left: 10px;
  }
  .contact-form__content p {
    font-size: 13px;
    margin-bottom: 26px;
    margin-top: 12px;
  }
  .contact-form__content span {
    display: flex;
  }
  .contact-form__content span a {
    font-size: 12px;
  }
  .contact-form__content span a a + a {
    margin-left: 24px;
  }
  .contact-form__close-btn {
    width: 18px !important;
    height: 20px !important;
  }
  .contact-form__close-btn:after {
    height: 19px !important;
    left: 7px !important;
    top: 1px !important;
  }
  .contact-form__close-btn:before {
    width: 19px !important;
    left: -2px !important;
    top: 10px !important;
  }
  .contact-form__input {
    font-size: 12px;
    padding-bottom: 6px;
  }
  .contact-form__input::placeholder {
    font-size: 12px;
  }
  .contact-form__btn {
    padding: 12px 0;
  }
}
.main {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  font-family: 'Kanit', sans-serif;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  max-width: 630px;
  width: 100%;
}
.main__title span {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  background: linear-gradient(100deg, #9634b9, #53d3d1, #4a4ea8, #9634b9, #53d3d1, #9634b9);
  background-size: 200% auto;
  color: #000;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.main__subtitle {
  max-width: 730px;
  font-size: 20px;
  margin: 20px auto 0;
  line-height: 1.3;
  display: block;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .main {
    padding-top: 150px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__subtitle {
    font-size: 19px;
  }
}
@media screen and (max-width: 767px) {
  .main__title {
    font-size: 34px;
  }
  .main__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .main__title {
    font-size: 29px;
  }
  .main__subtitle {
    font-size: 13px;
  }
}
.product__adaptive-container .container {
  padding: 0;
  max-width: 1440px;
}
.product__dots {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  padding: 0;
}
.product__dots .slick-active {
  opacity: 1;
}
.product__dots li {
  list-style-type: none;
  width: 10px;
  height: 10px;
  margin-left: 16px;
  opacity: 0.3;
}
.product__dots li:first-child {
  margin-left: 0;
}
.product__dots li button {
  cursor: pointer;
  background: #53d3d1;
  border: none;
  font-size: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.product__line {
  width: 0;
  height: 1px;
  transition: 0.4s;
  margin-bottom: 20px;
  background: linear-gradient(100deg, #0a539a, #72288f, #1c7776);
  background-size: 150% auto;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.product__items {
  display: flex;
  align-items: center;
  margin-top: 118px;
  justify-content: center;
}
.product__item {
  position: relative;
  color: #fff;
  max-width: 268px;
  width: 100%;
  height: 344px;
  padding: 40px 24px 40px 24px;
  margin: 20px 0 20px 24px;
  transition: 0.2s;
}
.product__item:hover .product__line {
  width: 100%;
  height: 1px;
  transition: 0.4s;
}
.product__item:hover .product__text h3 {
  top: -20px;
  transition: 0.4s;
}
.product__item:hover .product__text span {
  opacity: 0;
  transition: 0.2s;
}
.product__item:hover .product__text > p {
  top: 46px;
  opacity: 1;
  transition: 0.4s;
}
.product__item:first-child {
  margin-left: 0;
}
.product__img {
  height: 41px;
}
.product__image-small {
  height: 45px;
}
.product__text {
  margin-top: 70px;
  margin-bottom: 68px;
  position: relative;
  transition: 0.2s;
}
.product__text h3 {
  position: relative;
  top: 0;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
  transition: 0.4s;
}
.product__text span {
  opacity: 1;
  transition: 0.2s;
  line-height: 1.3;
}
.product__text > p {
  line-height: 1.2;
  position: absolute;
  top: 90px;
  opacity: 0;
  transition: 0.4s;
  font-size: 14px;
}
.product__price {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
}
.product__price img {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 8px;
}
.product__slide-logo {
  cursor: auto;
  margin-top: 120px;
}
.product__slide-logo img {
  margin-left: 64px;
}
.product__slide-logo .slick-track {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .product__dots {
    bottom: -20px;
  }
  .product__slide-logo img {
    width: 70px;
    margin-left: 42px;
  }
  .product__image-small {
    height: 33px;
    width: auto !important;
  }
  .product__items {
    margin-top: 80px;
  }
  .product__item {
    max-width: 240px;
    height: 270px;
    padding: 20px 16px;
    margin-bottom: 10px;
  }
  .product__img img {
    height: 26px;
  }
  .product__text {
    margin-bottom: 0;
    margin-top: 36px;
  }
  .product__text h3 {
    font-size: 16px;
  }
  .product__text span,
  .product__text p {
    font-size: 13px;
  }
  .product__price {
    bottom: 25px;
    font-size: 14px;
    width: calc(100% - 34px);
  }
  .product__price img {
    width: 24px;
    padding: 6px;
  }
}
@media screen and (max-width: 550px) {
  .product__items {
    max-width: 100%;
    margin-left: 0;
  }
}
.cases {
  margin-top: 150px;
  margin-bottom: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cases__block-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.cases__link {
  position: relative;
}
.cases__link img {
  position: absolute;
  top: 0;
  left: 0;
}
.cases__link-item {
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cases__link-item span {
  margin-top: 0 !important;
}
.cases__subtitle {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.cases__title {
  margin-top: 8px;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}
.cases__items {
  margin-top: 58px;
  max-width: 1010px;
  width: 100%;
}
.cases__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}
.cases__item:last-child {
  margin-bottom: 0;
}
.cases__item-content {
  margin-left: 80px;
  max-width: 432px;
}
.cases__item-line {
  width: 68px;
  height: 1px;
  background: #fff;
}
.cases__item-title {
  margin-top: 42px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 48px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}
.cases__item-text {
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.3;
}
.cases__item-hashtag {
  color: #fff;
  padding: 4px 12px;
  font-weight: 600;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .cases__items {
    max-width: 825px;
  }
  .cases__item-title {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 0;
  }
  .cases__item-text {
    font-size: 16px;
  }
  .cases__item-hashtag {
    font-size: 14px;
  }
  .cases__item {
    margin-bottom: 90px;
  }
  .cases__item > a {
    max-width: 340px;
    padding: 20px 24px;
  }
  .cases__item > a > h4 {
    font-size: 20px;
  }
  .cases__item > a > p {
    font-size: 14px;
  }
  .cases__link-item {
    margin-top: 15px;
  }
  .cases__title {
    font-size: 38px;
    margin-top: 4px;
  }
  .cases__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .cases {
    margin-top: 100px;
    margin-bottom: 120px;
  }
  .cases__items {
    max-width: 600px;
  }
  .cases__item {
    margin-bottom: 70px;
  }
  .cases__item > a {
    max-width: 260px;
    padding: 12px 14px;
    transform: translateY(0);
  }
  .cases__item > a > h4 {
    font-size: 18px;
  }
  .cases__item > a > p {
    font-size: 12px;
  }
  .cases__link-item span {
    font-size: 14px;
    padding: 6px 12px;
  }
  .cases__item-content {
    margin-left: 40px;
  }
  .cases__item-title {
    font-size: 16px;
    line-height: 36px;
  }
  .cases__item-text {
    font-size: 13px;
  }
  .cases__item-hashtag {
    font-size: 12px;
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .cases__title {
    font-size: 22px;
  }
  .cases__subtitle {
    font-size: 13px;
  }
  .cases__item {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .cases__item > a {
    max-width: 270px;
    padding: 14px;
    margin-top: 32px;
  }
  .cases__item > a > p {
    font-size: 12px;
  }
  .cases__item-content {
    margin-left: 0;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }
  .cases__item-text {
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .cases__item > a {
    margin-top: 18px;
  }
}
.strategy-and-execution {
  margin-top: 160px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.strategy-and-execution__blur-first,
.strategy-and-execution__blur-second {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #9334b8, rgba(147,52,184,0.8));
  filter: blur(30px);
  position: absolute;
}
.strategy-and-execution__blur-first {
  left: 75px;
  top: -30px;
  height: 100px;
  transform: rotate(-45deg);
}
.strategy-and-execution__blur-second {
  left: 113px;
  top: 40px;
}
.strategy-and-execution__btn {
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 22px;
  transition: 0.2s;
}
.strategy-and-execution__btn img {
  margin-left: 10px;
  margin-top: 2px;
  transition: 0.2s;
  position: relative;
  left: 0;
}
.strategy-and-execution__btn:hover img {
  left: 10px;
}
.strategy-and-execution__items {
  display: flex;
  align-items: baseline;
  margin-top: 68px;
  max-width: 965px;
  width: 100%;
}
.strategy-and-execution__item {
  position: relative;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
}
.strategy-and-execution__item img {
  z-index: 10;
}
.strategy-and-execution__item:first-child {
  margin-left: 0;
}
.strategy-and-execution__item-title {
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
}
.strategy-and-execution__item-text {
  text-align: center;
  line-height: 1.4;
}
@media screen and (max-width: 1000px) {
  .strategy-and-execution__items {
    justify-content: center;
  }
  .strategy-and-execution__item {
    margin-left: 40px;
  }
  .strategy-and-execution__item img {
    max-width: 50px;
  }
  .strategy-and-execution__item-title {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .strategy-and-execution__item-text {
    font-size: 14px;
  }
  .strategy-and-execution__blur-first {
    left: 74px;
    top: -15px;
  }
  .strategy-and-execution__blur-second {
    left: 106px;
    top: 40px;
  }
  .strategy-and-execution__blur-first,
  .strategy-and-execution__blur-second {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 767px) {
  .strategy-and-execution__items {
    flex-wrap: wrap;
  }
  .strategy-and-execution__item {
    max-width: 220px;
  }
  .strategy-and-execution__item:nth-child(3) {
    margin-left: 0;
  }
  .strategy-and-execution__item:last-child {
    margin-top: 40px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 550px) {
  .strategy-and-execution {
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .strategy-and-execution__item {
    margin-left: 0 !important;
    margin-bottom: 32px;
  }
  .strategy-and-execution__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .strategy-and-execution__item {
    margin-top: 0 !important;
    margin-bottom: 60px;
  }
  .strategy-and-execution__item:last-child {
    margin-bottom: 0;
  }
}
.digital-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.digital-service__items {
  width: 100%;
  display: flex;
  margin-top: 68px;
}
.digital-service__item {
  max-width: 400px;
  width: 100%;
  padding: 56px 32px;
  border: 1px solid rgba(255,255,255,0.2);
  margin-left: 48px;
}
.digital-service__item:first-child {
  margin-left: 0;
}
.digital-service__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
.digital-service__item-line {
  width: 80px;
  height: 3px;
  background: #fff;
}
.digital-service__item-text {
  margin-top: 40px;
}
.digital-service__item-text span {
  line-height: 1.2;
  display: block;
  margin-bottom: 14px;
}
.digital-service__item-text span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .digital-service__items {
    justify-content: center;
  }
  .digital-service__item {
    margin-left: 20px;
    max-width: 270px;
    padding: 30px 20px;
  }
  .digital-service__item-title {
    font-size: 20px;
  }
  .digital-service__item-text {
    margin-top: 30px;
  }
  .digital-service__item-text span {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .digital-service__item {
    margin-left: 10px;
    padding: 20px 14px;
  }
  .digital-service__item img {
    height: 30px;
    width: 25px;
  }
  .digital-service__item-title {
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 8px;
  }
  .digital-service__item-line {
    width: 45px;
  }
  .digital-service__item-text {
    margin-top: 20px;
  }
  .digital-service__item-text span {
    font-size: 11px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 550px) {
  .digital-service__items {
    flex-wrap: wrap;
  }
  .digital-service__item {
    margin-left: 0;
    margin-bottom: 16px;
    padding: 32px 24px 48px;
  }
  .digital-service__item-text span {
    font-size: 13px;
  }
  .digital-service__item:last-child {
    margin-left: 0;
  }
}
.about-us {
  padding: 48px 70px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.about-us__left-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us__item {
  max-width: 500px;
  margin-top: 150px;
  margin-bottom: 100px;
  height: 300px;
  transition: 0.2s;
  position: relative;
}
.about-us__item:first-child {
  margin-left: 0;
  transition: 0.5s;
}
.about-us__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us__item-num {
  z-index: -1;
  letter-spacing: -15px;
  position: absolute;
  left: 54%;
  bottom: 90%;
  width: 150px;
  transform: translateX(-50%);
  font-size: 200px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  opacity: 1;
  background: linear-gradient(45deg, #9634b9, #53d3d1, #4a4ea8, #9634b9, #53d3d1, #9634b9);
  background-size: 200% auto;
  color: #000;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.about-us__item-years {
  font-family: 'Kanit', sans-serif;
  display: block;
  max-width: 320px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 42px;
  line-height: 1.3;
  text-transform: uppercase;
}
.about-us__item-text {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
  opacity: 0.6;
}
.about-us__right-content {
  max-width: 380px;
  position: sticky;
  top: 100px;
}
.about-us__text {
  transition: 0.1s;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .about-us-page_our-approach__item {
    height: auto !important;
  }
}
@media screen and (max-width: 550px) {
  .about-us {
    padding: 0;
  }
  .about-us__text {
    font-size: 20px;
    line-height: 1.2;
  }
  .about-us__item-num {
    left: 53%;
    width: 113px;
    font-size: 160px;
    letter-spacing: -5px;
  }
  .about-us__item-years {
    font-size: 20px;
    line-height: 1.2;
    max-width: 250px;
  }
  .about-us__item-text {
    font-size: 16px;
  }
}
.discuss-your-project {
  color: #fff;
  max-width: 1416px;
  width: 100%;
  height: 300px;
  padding: 0 20px;
  margin: 0 auto 138px;
  transition: 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discuss-your-project:hover {
  width: 95%;
}
.discuss-your-project:hover .discuss-your-project__title {
  font-size: 28px;
}
.discuss-your-project:hover .discuss-your-project__inner {
  background-size: 100%;
  animation: shine 0s;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
  height: 95%;
}
.discuss-your-project:hover .discuss-your-project__inner img {
  margin-left: 300px;
  opacity: 0;
}
.discuss-your-project__inner {
  transition: 0.4s ease-out;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(100deg, #0a539a, #72288f, #1c7776);
  background-size: 150% auto;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  animation: shine 3s ease-in-out alternate infinite;
}
.discuss-your-project__inner img {
  margin-left: 0;
  opacity: 1;
  transition: 0.4s;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.discuss-your-project__title {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 18px;
  transition: 0.5s;
}
@media screen and (max-width: 1000px) {
  .discuss-your-project:hover .discuss-your-project__title {
    font-size: 22px;
  }
  .discuss-your-project:hover .discuss-your-project__inner img {
    margin-left: 250px;
  }
  .discuss-your-project__inner img {
    max-width: 100px;
  }
  .discuss-your-project__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 767px) {
  .discuss-your-project:hover .discuss-your-project__title {
    font-size: 18px;
  }
  .discuss-your-project:hover .discuss-your-project__inner img {
    margin-left: 200px;
  }
  .discuss-your-project__title {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .discuss-your-project__inner img {
    max-width: 80px;
  }
}
@media screen and (max-width: 550px) {
  .discuss-your-project {
    height: 150px;
  }
  .discuss-your-project:hover .discuss-your-project__title {
    font-size: 14px;
  }
  .discuss-your-project:hover .discuss-your-project__inner img {
    margin-left: 150px;
  }
  .discuss-your-project__title {
    font-size: 16px;
    line-height: 22px;
  }
  .discuss-your-project__inner img {
    max-width: 50px;
  }
}
.popup-advertisement {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 730px;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.popup-advertisement button {
  position: relative;
}
.popup-advertisement button:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, #53d3d1, #9334b8, #31436f, #53d3d1, #9334b8, #31436f);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.popup-advertisement__left-content {
  position: relative;
}
.popup-advertisement__left-content .--circle-blue,
.popup-advertisement__left-content .--circle-green,
.popup-advertisement__left-content .--circle-purple {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: -1;
  filter: blur(35px);
  opacity: 1;
}
.popup-advertisement__left-content .--circle-blue {
  background: radial-gradient(#4c6fb2, #4c6fb2);
  top: -40px;
  left: 50px;
}
.popup-advertisement__left-content .--circle-green {
  background: radial-gradient(#53d3d1, #53d3d1);
  top: 18px;
  left: 10px;
}
.popup-advertisement__left-content .--circle-purple {
  background: radial-gradient(#9334b8, #9334b8);
  top: 18px;
  left: 70px;
}
.popup-advertisement__right-content {
  max-width: 432px;
}
.popup-advertisement__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 40px;
}
.popup-advertisement__hashtag {
  background: #9334b8;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 16px;
  padding: 8px 12px;
  font-size: 14px;
  display: inline-block;
}
.popup-advertisement__title {
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1.2;
}
.popup-advertisement__text {
  line-height: 1.5;
  margin-bottom: 34px;
}
.popup-advertisement__start-btn {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 38px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}
.popup-advertisement__start-btn:before {
  padding: 3px;
}
.popup-advertisement__start-btn span {
  font-weight: 400;
  color: rgba(35,35,35,0.8);
  margin-top: 10px;
  font-size: 16px;
}
.popup-advertisement__container-inputs {
  max-width: 309px;
  width: 100%;
}
.popup-advertisement__container-inputs select {
  color: rgba(255,255,255,0.35);
}
.popup-advertisement__container-inputs span {
  font-size: 12px;
  margin-top: 12px;
  line-height: 1.2;
  display: block;
}
.popup-advertisement__btn {
  border: none;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 16px 0;
  font-size: 16px;
  cursor: pointer;
}
.popup-advertisement__btn:before {
  padding: 2px;
}
.popup-advertisement__group-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-advertisement__change-select {
  color: #fff !important;
}
.popup-advertisement__invalid-inputs {
  border-bottom: 1px solid #f00;
}
.popup-advertisement__invalid-inputs + .contact-form__label {
  display: none;
}
.popup-advertisement__container-error {
  color: #f00;
  margin-bottom: 12px;
  opacity: 0;
}
.popup-advertisement__invalid-btn {
  background: #ffc9c9;
  color: #f00;
  border: 2px solid #f00;
  height: 48px;
}
.popup-advertisement__invalid-btn:before {
  display: none;
}
.popup-advertisement__success-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 52px;
}
.popup-advertisement__success-message span {
  display: block;
  margin-right: 32px;
  width: 20px;
  height: 10px;
  transform: rotate(45deg);
  background: linear-gradient(100deg, #0a539a, #72288f, #1c7776);
  background-size: 150% auto;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.popup-advertisement__success-message p {
  margin-left: 32px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .popup-advertisement {
    max-height: none !important;
  }
  .popup-advertisement__inner {
    flex-direction: column;
    align-items: center;
    padding: 36px 32px;
  }
  .popup-advertisement__form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup-advertisement__right-content {
    margin-top: 24px;
  }
  .popup-advertisement__left-content .--circle-purple,
  .popup-advertisement__left-content .--circle-blue,
  .popup-advertisement__left-content .--circle-green {
    filter: blur(23px);
    width: 95px;
    height: 100px;
  }
  .popup-advertisement__left-content .--circle-blue {
    top: -26px;
    left: 43px;
  }
  .popup-advertisement__left-content .--circle-green {
    top: 27px;
    left: 6px;
  }
  .popup-advertisement__left-content .--circle-purple {
    top: 35px;
    left: 54px;
  }
  .popup-advertisement__left-content img {
    width: 140px;
  }
  .popup-advertisement__title {
    margin-bottom: 18px;
    font-size: 36px;
  }
  .popup-advertisement__text {
    margin-bottom: 28px;
  }
  .popup-advertisement__start-btn {
    padding: 13px 38px;
    font-size: 14px;
  }
  .popup-advertisement__start-btn span {
    font-size: 14px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 550px) {
  .popup-advertisement__inner {
    padding: 48px 28px;
  }
  .popup-advertisement__left-content .--circle-purple,
  .popup-advertisement__left-content .--circle-blue,
  .popup-advertisement__left-content .--circle-green {
    filter: blur(23px) !important;
    width: 95px !important;
    height: 100px !important;
  }
  .popup-advertisement__left-content .--circle-blue {
    top: -26px !important;
    left: 43px !important;
  }
  .popup-advertisement__left-content .--circle-green {
    top: 27px !important;
    left: 6px !important;
  }
  .popup-advertisement__left-content .--circle-purple {
    top: 35px !important;
    left: 54px !important;
  }
  .popup-advertisement__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 400px) {
  .popup-advertisement__title {
    font-size: 29px;
  }
  .popup-advertisement__text {
    font-size: 14px;
  }
  .popup-advertisement__start-btn {
    font-size: 14px;
    padding: 12px 36px;
  }
  .popup-advertisement__start-btn span {
    font-size: 14px;
  }
  .popup-advertisement__success-message {
    padding: 32px 22px;
  }
}
@media screen and (max-width: 360px) {
  .popup-advertisement {
    max-height: 440px !important;
    display: block;
  }
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
}
.contact-captcha > div {
  width: 230px !important;
}
.g-recaptcha {
  margin-top: 16px;
}
.cookies {
  color: #fff;
  padding: 30px;
  width: 100%;
  height: auto;
  background: #1b1f24;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 50px 25px rgba(83,211,209,0.5);
  border: 2px solid #fff;
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2);
  border-image-slice: 2;
}
.cookies__text {
  width: 80%;
}
.cookies__btn {
  padding: 7px 20px !important;
}
.modal-iframe {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  max-width: 1352px;
  width: 100%;
  z-index: 100;
  height: calc(100vh - 40px);
}
body {
  background: #1b1f24;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  font-family: 'Open-Sans', sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: 'Open-Sans', sans-serif;
}
a {
  text-decoration: none;
}
.button {
  background: none;
  cursor: pointer;
  color: #53d3d1;
  font-size: 20px;
  border: 1px solid #53d3d1;
  padding: 14px 31.5px;
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2, #53d3d1);
  border-image-slice: 1;
  transition: 0.2s;
}
.button:hover {
  background: linear-gradient(100deg, #9634b9, #53d3d1, #4a4ea8, #9634b9, #53d3d1, #9634b9);
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out alternate infinite;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.--modal-close-btn {
  display: block;
  width: 21px;
  height: 22px;
  position: absolute;
  right: 40px;
  top: 50px;
  cursor: pointer;
  z-index: 101;
}
.--modal-close-btn:after,
.--modal-close-btn:before {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
}
.--modal-close-btn:after {
  width: 2px;
  height: 25px;
  transform: rotate(45deg);
  left: 9px;
  top: -1px;
}
.--modal-close-btn:before {
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
  left: -2px;
  top: 10px;
}
.modal-close-black-background:after,
.modal-close-black-background:before {
  background: #000;
}
.cases-rotate {
  transform: rotateX(5deg) rotateY(10deg) !important;
  -webkit-transform: rotateX(5deg) rotateY(10deg);
  -ms-transform: rotateX(5deg) rotateY(10deg) !important;
}
.cases-rotate-reverse {
  transform: rotateX(-5deg) rotateY(10deg) !important;
  -webkit-transform: rotateX(-5deg) rotateY(10deg) !important;
  -ms-transform: rotateX(-5deg) rotateY(10deg) !important;
}
.cases-stop-rellax {
  transform: translate3d(0px, 0px, 0px) !important;
}
.opacity {
  background-size: 100% !important;
}
.opacity .--circle-green,
.opacity .--circle-blue,
.opacity .--circle-purple {
  opacity: 1 !important;
}
.--green-background-after:after {
  background: rgba(83,211,209,0.3);
}
.--blue-background-after:after {
  background: rgba(76,111,178,0.3);
}
.--success-click {
  border-image: none;
  border: 3px solid #54d3d1;
  background: #54d3d1;
  color: #fff;
}
.--error-click {
  border-image: none;
  border: 3px solid #f00;
  background: #ffe5e5;
  color: #f00;
}
.container-error {
  background: #ffe5e5;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  color: #f00;
  display: none;
}
.--container-fixed {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
}
.label {
  width: 20px;
  height: 20px;
}
.checkbox[type="checkbox"]:checked,
.checkbox[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -99999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px #fff solid;
  background: none;
  border-radius: 3px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 4px;
  top: 5px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 4px solid #53d3d1;
  border-bottom: 4px solid #53d3d1;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.--cases-description {
  color: #fff;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  max-width: 441px;
  width: 100%;
  padding: 32px 40px;
  position: absolute;
  transition: 0.2s;
  left: 0;
  top: 25%;
  overflow: hidden;
}
.--cases-description:after {
  display: block;
  content: '';
  opacity: 0;
  background: linear-gradient(100deg, #0a539a, #72288f, #1c7776);
  background-size: 150% auto;
  animation: shine 3s ease-in-out alternate infinite;
  margin-left: 0;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@-moz-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@-o-keyframes shine {
  to {
    background-position: 100% center;
  }
}
@keyframes shine {
  to {
    background-position: 100% center;
  }
}
.--cases-description:hover {
  border: 1px solid rgba(255,255,255,0.1);
}
.--cases-description:hover:after {
  opacity: 1;
}
.--cases-description h4 {
  font-size: 24px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}
.--cases-description p {
  margin-top: 16px;
  line-height: 1.4;
}
.--cases-description span {
  color: #fff;
  background: #9334b8;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 19px;
  display: inline-block;
}
.--circle-purple {
  position: fixed;
  background: linear-gradient(0deg, rgba(147,52,184,0.25), rgba(147,52,184,0.2));
  left: -50px;
  top: 100px;
  filter: blur(50px);
  width: 45%;
  height: calc(100vh - 100px);
  border-radius: 0 100% 0 0;
  z-index: -1;
  opacity: 0.7;
}
.--circle-blue {
  position: fixed;
  background: linear-gradient(0deg, rgba(10,83,154,0.3), rgba(10,83,154,0.2));
  left: -50px;
  top: 50px;
  filter: blur(35px);
  width: 55%;
  height: calc(100vh - 50px);
  border-radius: 0 100% 0 0;
  z-index: -2;
  opacity: 0.5;
}
.--service-card_container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
.arrow_dis-none {
  display: none;
}
.slick-arrow {
  display: none !important;
}
.slick-track {
  margin-left: 48px;
}
.container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
.mask {
  display: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}
.background-blur {
  filter: blur(2px);
}
.--active-sidebar-link {
  opacity: 1 !important;
  position: relative;
}
.--active-sidebar-link:after {
  display: block;
  content: '';
  width: 42px;
  height: 45px;
  border-radius: 100%;
  background: #53d3d1;
  filter: blur(15px);
  position: absolute;
  top: -6px;
  left: -10px;
  z-index: -1;
}
.--active-sidebar-link:before {
  content: '';
  display: block;
  position: absolute;
  height: 42px;
  width: 1px;
  background: #53d3d1;
  left: 0;
  top: -2px;
}
.--active-header-link {
  border-bottom: 2px solid #53d3d1;
  position: relative;
  font-weight: 600;
  opacity: 1 !important;
}
.--active-header-link:after {
  display: block;
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #53d3d1;
  filter: blur(16px);
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.--webshop {
  background: linear-gradient(45deg, rgba(83,211,209,0.01), rgba(83,211,209,0.05));
  border: 1px solid rgba(83,211,209,0.2);
}
.--webshop:hover {
  box-shadow: 0 0 20px 0 rgba(83,211,209,0.5);
  animation: webshop-shadow 1s ease-in-out alternate infinite;
}
@-moz-keyframes webshop-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@-webkit-keyframes webshop-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@-o-keyframes webshop-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@keyframes webshop-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
.--landing-page {
  background: linear-gradient(45deg, rgba(147,52,184,0.01), rgba(147,52,184,0.05));
  border: 1px solid rgba(147,52,184,0.2);
}
.--landing-page:hover {
  box-shadow: 0 0 20px 0 rgba(147,52,184,0.5);
  animation: landing-shadow 1s ease-in-out alternate infinite;
}
@-moz-keyframes landing-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(147,52,184,0.5);
  }
}
@-webkit-keyframes landing-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(147,52,184,0.5);
  }
}
@-o-keyframes landing-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(147,52,184,0.5);
  }
}
@keyframes landing-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(147,52,184,0.5);
  }
}
.--process-automation {
  background: linear-gradient(45deg, rgba(76,111,178,0.01), rgba(76,111,178,0.05));
  border: 1px solid rgba(76,111,178,0.2);
}
.--process-automation:hover {
  box-shadow: 0 0 20px 0 rgba(76,111,178,0.5);
  animation: process-automation-shadow 1s ease-in-out alternate infinite;
}
@-moz-keyframes process-automation-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(76,111,178,0.5);
  }
}
@-webkit-keyframes process-automation-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(76,111,178,0.5);
  }
}
@-o-keyframes process-automation-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(76,111,178,0.5);
  }
}
@keyframes process-automation-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(76,111,178,0.5);
  }
}
.--tech-support {
  background: linear-gradient(45deg, rgba(83,211,209,0.01), rgba(83,211,209,0.05));
  border: 1px solid rgba(83,211,209,0.2);
}
.--tech-support:hover {
  box-shadow: 0 0 20px 0 rgba(83,211,209,0.5);
  animation: tech-support-shadow 1s ease-in-out alternate infinite;
}
@-moz-keyframes tech-support-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@-webkit-keyframes tech-support-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@-o-keyframes tech-support-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
@keyframes tech-support-shadow {
  to {
    box-shadow: 0 0 10px 0 rgba(83,211,209,0.5);
  }
}
.--tech-support-icon {
  height: 41px;
  width: 36px;
  position: relative;
}
.--tech-support-icon:after,
.--tech-support-icon:before {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 24px;
  background: #53d3d1;
  top: 0;
}
.--tech-support-icon:after {
  left: 0;
}
.--tech-support-icon:before {
  right: 0;
}
.--left-content {
  margin-left: 0;
  margin-right: 80px;
}
.--automation-hashtag {
  background: #4c6fb2;
}
.--webshop-hashtag {
  background: #53d3d1;
}
.--secondary-blur {
  background: linear-gradient(45deg, #53d3d1, rgba(83,211,209,0.8));
}
.--blue-blur {
  background: linear-gradient(45deg, #0a539a, rgba(10,83,154,0.8));
}
.--dubai-visa-link {
  margin-left: -20px;
  background: url("/static/images/dubai-visa.png") no-repeat center;
  background-size: 90%;
  max-width: 437px;
  width: 100%;
  height: 311px;
  transition: 0.5s;
}
.--dubai-visa-link .--circle-blue {
  transition: 0.8s;
  width: 300px;
  height: 450px;
  left: 80px;
  top: -80px;
  transform: rotate(45deg);
  position: absolute;
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  filter: blur(60px);
  z-index: -1;
  opacity: 0;
}
.--dubai-visa-link .--circle-purple,
.--dubai-visa-link .--circle-green {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 450px;
  transition: 0.8s;
  transform: rotate(45deg);
  z-index: -1;
}
.--dubai-visa-link .--circle-purple {
  left: 0;
  top: -140px;
  filter: blur(70px);
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  opacity: 0;
}
.--dubai-visa-link .--circle-green {
  left: 150px;
  top: 30px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
}
.--product-visa-link {
  margin-right: 105px;
  background: url("/static/images/product-visa.png") no-repeat center;
  background-size: 90%;
  transition: 0.5s;
  max-width: 206px;
  width: 100%;
  height: 357px;
}
.--product-visa-link .--circle-green {
  width: 150px;
  height: 240px;
  left: 19px;
  top: 25px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  transform: rotate(90deg);
  filter: blur(70px);
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: 0.8s;
}
.--product-visa-link .--circle-purple,
.--product-visa-link .--circle-blue {
  display: block;
  content: '';
  position: absolute;
  width: 150px;
  height: 240px;
  transition: 0.8s;
  transform: rotate(90deg);
  z-index: -1;
}
.--product-visa-link .--circle-blue {
  left: 25px;
  top: -84px;
  filter: blur(60px);
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  opacity: 0;
}
.--product-visa-link .--circle-purple {
  left: 22px;
  top: 151px;
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  filter: blur(60px);
  opacity: 0;
}
.--questionnaire-visa-link {
  margin-left: -25px;
  background: url("/static/images/questionnaire-visa.png") no-repeat center;
  background-size: 90%;
  transition: 0.5s;
  max-width: 500px;
  width: 100%;
  height: 340px;
}
.--questionnaire-visa-link .--circle-blue {
  width: 300px;
  height: 300px;
  left: 0;
  bottom: 85px;
  transform: rotate(-55deg);
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  position: absolute;
  z-index: -1;
  filter: blur(50px);
  opacity: 0;
}
.--questionnaire-visa-link .--circle-green,
.--questionnaire-visa-link .--circle-purple {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 450px;
  transition: 0.8s;
  transform: rotate(45deg);
  z-index: -1;
}
.--questionnaire-visa-link .--circle-purple {
  left: 35px;
  bottom: -110px;
  filter: blur(70px);
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  opacity: 0;
}
.--questionnaire-visa-link .--circle-green {
  left: 200px;
  bottom: -60px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
}
.--shop-link {
  margin-right: -25px;
  max-width: 480px;
  width: 100%;
  height: 286px;
  background: url("/static/images/shop.png") no-repeat center;
  background-size: 90%;
  transition: 0.5s;
}
.--shop-link .--circle-blue {
  width: 150px;
  height: 240px;
  right: 150px;
  bottom: -90px;
  transform: rotate(90deg);
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.--shop-link .--circle-green,
.--shop-link .--circle-purple {
  display: block;
  content: '';
  position: absolute;
  width: 200px;
  height: 300px;
  transition: 0.8s;
  transform: rotate(90deg);
  z-index: -1;
}
.--shop-link .--circle-purple {
  left: -5px;
  bottom: -30px;
  filter: blur(70px);
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  opacity: 0;
}
.--shop-link .--circle-green {
  left: 170px;
  bottom: 50px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
}
.--tthomes-link {
  background: url("/static/images/index-tthomes.png") no-repeat center;
  background-size: 95%;
  transition: 0.5s;
  max-width: 400px;
  width: 100%;
  height: 300px;
  margin-left: 20px;
}
.--tthomes-link .--circle-blue {
  transition: 0.8s;
  width: 300px;
  height: 450px;
  left: 80px;
  top: -80px;
  transform: rotate(45deg);
  position: absolute;
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  filter: blur(60px);
  z-index: -1;
  opacity: 0;
}
.--tthomes-link .--circle-purple,
.--tthomes-link .--circle-green {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 450px;
  transition: 0.8s;
  transform: rotate(45deg);
  z-index: -1;
}
.--tthomes-link .--circle-purple {
  left: 0;
  top: -50px;
  filter: blur(70px);
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  opacity: 0;
}
.--tthomes-link .--circle-green {
  left: 150px;
  top: 100px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
  width: 250px;
  height: 300px;
}
.--sapegin-autoplates-link {
  background: url("/static/images/sapegin-autoplates.png") no-repeat center;
  background-size: 90%;
  transition: 0.5s;
  max-width: 320px;
  width: 100%;
  height: 340px;
  margin-left: 40px;
}
.--sapegin-autoplates-link .--circle-blue {
  transition: 0.8s;
  width: 300px;
  height: 450px;
  left: 80px;
  top: -80px;
  transform: rotate(45deg);
  position: absolute;
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  filter: blur(60px);
  z-index: -1;
  opacity: 0;
}
.--sapegin-autoplates-link .--circle-purple,
.--sapegin-autoplates-link .--circle-green {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 450px;
  transition: 0.8s;
  transform: rotate(45deg);
  z-index: -1;
}
.--sapegin-autoplates-link .--circle-purple {
  left: 0;
  top: -50px;
  filter: blur(70px);
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  opacity: 0;
}
.--sapegin-autoplates-link .--circle-green {
  left: 150px;
  top: 100px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
  width: 250px;
  height: 300px;
}
.--sapegin-kzevb-link {
  background: url("/static/images/sapegin-kzevb.png") no-repeat center;
  background-size: 90%;
  max-width: 500px;
  width: 100%;
  height: 340px;
  transition: 0.5s;
  margin-right: -25px;
}
.--sapegin-kzevb-link .--circle-green {
  width: 300px;
  height: 300px;
  left: 202px;
  top: -30px;
  background: radial-gradient(#54d3d1, rgba(84,211,209,0));
  filter: blur(70px);
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: 0.8s;
}
.--sapegin-kzevb-link .--circle-purple,
.--sapegin-kzevb-link .--circle-blue {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  transition: 0.8s;
  z-index: -1;
}
.--sapegin-kzevb-link .--circle-blue {
  left: 0;
  top: -25px;
  filter: blur(60px);
  background: radial-gradient(#4c6fb2, rgba(76,111,178,0));
  opacity: 0;
}
.--sapegin-kzevb-link .--circle-purple {
  left: 125px;
  top: 91px;
  background: radial-gradient(#9334b8, rgba(147,52,184,0));
  filter: blur(60px);
  opacity: 0;
}
@media screen and (max-width: 1000px) {
  .g-recaptcha {
    margin-top: 0;
  }
  .--cases-description {
    padding: 20px 24px;
    max-width: 380px;
    top: 50%;
  }
  .--cases-description h4 {
    font-size: 20px;
  }
  .--cases-description p {
    font-size: 14px;
    margin-top: 12px;
  }
  .--cases-description span {
    font-size: 14px;
    margin-top: 14px;
  }
  .--product-visa-link {
    margin-right: 80px;
    max-width: 120px;
    height: 215px;
  }
  .--product-visa-link .--circle-green,
  .--product-visa-link .--circle-purple,
  .--product-visa-link .--circle-blue {
    width: 200px;
    left: 0;
  }
  .--tthomes-link {
    margin-left: 14px;
    max-width: 320px;
    height: 230px;
  }
  .--tthomes-link .--circle-blue {
    width: 260px;
    height: 350px;
    left: 40px;
    top: -25px;
  }
  .--tthomes-link .--circle-purple {
    width: 200px;
    height: 260px;
    top: -25px;
  }
  .--tthomes-link .--circle-green {
    width: 200px;
    height: 200px;
  }
  .--sapegin-autoplates-link {
    max-width: 270px;
    height: 295px;
  }
  .--sapegin-autoplates-link .--circle-green,
  .--sapegin-autoplates-link .--circle-blue,
  .--sapegin-autoplates-link .--circle-purple {
    width: 200px;
    height: 200px;
  }
  .--sapegin-autoplates-link .--circle-green {
    left: 100px;
  }
  .--sapegin-kzevb-link {
    max-width: 350px;
    height: 210px;
  }
  .--sapegin-kzevb-link .--circle-green,
  .--sapegin-kzevb-link .--circle-blue,
  .--sapegin-kzevb-link .--circle-purple {
    width: 200px;
    height: 200px;
  }
  .--sapegin-kzevb-link .--circle-blue {
    left: 4px;
    top: -41px;
  }
  .--sapegin-kzevb-link .--circle-green {
    left: 144px;
    top: -30px;
  }
  .--sapegin-kzevb-link .--circle-purple {
    left: 70px;
    top: 70px;
  }
  .--dubai-visa-link {
    max-width: 350px;
    height: 250px;
  }
  .--dubai-visa-link:before {
    left: 110px;
    top: 86px;
    filter: blur(50px);
  }
  .--dubai-visa-link:after {
    left: 0;
    top: 12px;
    filter: blur(50px);
  }
  .--dubai-visa-link span {
    width: 150px;
    height: 300px;
    left: 40px;
    top: -16px;
    filter: blur(50px);
  }
  .--dubai-visa-link:before,
  .--dubai-visa-link:after {
    width: 150px;
    height: 280px;
    transform: rotate(30deg);
  }
  .--questionnaire-visa-link {
    height: 215px;
    max-width: 350px;
  }
  .--questionnaire-visa-link:after,
  .--questionnaire-visa-link:before {
    width: 150px;
    height: 200px;
  }
  .--questionnaire-visa-link:after {
    left: 8px;
    bottom: 0;
  }
  .--questionnaire-visa-link:before {
    left: 130px;
    bottom: 0;
  }
  .--questionnaire-visa-link span {
    width: 200px;
    height: 150px;
    transform: rotate(0);
    left: 40px;
    bottom: 150px;
  }
  .--shop-link {
    height: 215px;
    max-width: 350px;
  }
  .--shop-link:after,
  .--shop-link:before {
    width: 150px;
    height: 250px;
  }
  .--shop-link:after {
    left: 0;
    bottom: 0;
  }
  .--shop-link:before {
    left: 65px;
    bottom: 50px;
  }
  .--shop-link span {
    right: 60px;
    bottom: -90px;
    width: 150px;
    height: 240px;
  }
  .--shop-link .--circle-green {
    transform: rotate(0deg);
    right: 0;
    bottom: 30px;
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .--cases-description {
    padding: 12px 16px;
    max-width: 300px;
    top: 50%;
    transform: translateY(-50%);
  }
  .--cases-description h4 {
    font-size: 18px;
  }
  .--cases-description p {
    font-size: 13px;
    margin-top: 8px;
  }
  .--cases-description span {
    font-size: 13px;
    margin-top: 12px;
  }
  .--landing-page_container {
    padding: 0 20px;
  }
  .--tthomes-link {
    max-width: 230px;
    height: 170px;
  }
  .--tthomes-link .--circle-purple {
    width: 100px;
    height: 160px;
    top: -25px;
    left: -16px;
  }
  .--tthomes-link .--circle-green {
    width: 170px;
    height: 180px;
    left: 60px;
    top: 40px;
  }
  .--tthomes-link .--circle-blue {
    width: 160px;
    height: 250px;
    left: 40px;
    top: -25px;
  }
  .--sapegin-kzevb-link {
    max-width: 220px;
    height: 135px;
  }
  .--sapegin-kzevb-link .--circle-green,
  .--sapegin-kzevb-link .--circle-blue,
  .--sapegin-kzevb-link .--circle-purple {
    width: 150px;
    height: 150px;
  }
  .--sapegin-kzevb-link .--circle-blue {
    left: 0;
    top: -40px;
  }
  .--sapegin-kzevb-link .--circle-green {
    left: auto;
    top: -30px;
    right: 0;
  }
  .--sapegin-kzevb-link .--circle-purple {
    left: 34px;
    top: 35px;
  }
  .--sapegin-autoplates-link {
    max-width: 180px;
    height: 200px;
  }
  .--sapegin-autoplates-link .--circle-green,
  .--sapegin-autoplates-link .--circle-blue,
  .--sapegin-autoplates-link .--circle-purple {
    width: 180px;
    height: 180px;
    filter: blur(30px);
  }
  .--sapegin-autoplates-link .--circle-blue {
    left: 46px;
    top: -56px;
  }
  .--sapegin-autoplates-link .--circle-green {
    left: 12px;
    top: 70px;
    transform: rotate(0deg);
  }
  .--sapegin-autoplates-link .--circle-purple {
    left: -40px;
    top: -50px;
    transform: rotate(0deg);
  }
  .--dubai-visa-link {
    max-width: 220px;
    height: 160px;
    margin-left: -11px;
  }
  .--dubai-visa-link .--circle-green {
    left: 100px;
  }
  .--product-visa-link {
    margin-right: 45px;
    max-width: 100px;
    height: 180px;
  }
  .--product-visa-link:before,
  .--product-visa-link:after {
    width: 100px;
    height: 140px;
    filter: blur(30px);
  }
  .--product-visa-link:before {
    top: 123px;
  }
  .--product-visa-link:after {
    top: -66px;
  }
  .--product-visa-link span {
    width: 100px;
    height: 140px;
    filter: blur(40px);
  }
  .--product-visa-link .--circle-green,
  .--product-visa-link .--circle-blue,
  .--product-visa-link .--circle-purple {
    right: -30px;
    left: auto;
  }
  .--questionnaire-visa-link {
    max-width: 220px;
    height: 135px;
    margin-left: -9px;
  }
  .--questionnaire-visa-link .--circle-green {
    right: -150px;
    left: auto;
  }
  .--shop-link {
    max-width: 220px;
    height: 135px;
    margin-right: -10px;
  }
  .--shop-link:before,
  .--shop-link:after {
    width: 150px;
    height: 150px;
    filter: blur(35px);
  }
  .--shop-link:before {
    left: 30px;
    bottom: 30px;
  }
  .--shop-link:after {
    left: 40px;
    bottom: -40px;
  }
  .--shop-link span {
    width: 150px;
    height: 150px;
    right: 90px;
    bottom: -50px;
  }
  .--left-content {
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .contact-captcha > div {
    height: 105px !important;
  }
  .--cases-description {
    left: 20px;
    top: 80%;
    transform: translateY(0);
    max-width: 240px;
    padding: 8px 16px;
  }
  .--cases-description h4 {
    font-size: 16px;
  }
  .--cases-description p {
    font-size: 12px;
    margin-top: 8px;
  }
  .--cases-description span {
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 12px;
  }
  .container {
    padding: 0 20px;
  }
  .--left-content {
    margin-right: 0;
  }
  .--flex-reverse {
    flex-direction: column-reverse;
  }
  .--active-sidebar-link:before {
    top: 0;
    height: 30px;
  }
  .--active-sidebar-link:after {
    width: 38px;
    height: 28px;
    top: -2px;
    left: -18px;
  }
  .--tthomes-link {
    max-width: 330px;
    height: 230px;
  }
  .--dubai-visa-link,
  .--product-visa-link,
  .--shop-link,
  .--questionnaire-visa-link,
  .--tthomes-link {
    margin: 0;
  }
  .--dubai-visa-link {
    max-width: 300px;
    height: 210px;
  }
  .--dubai-visa-link:before {
    left: 55px;
  }
  .--dubai-visa-link .--circle-blue {
    top: -18px;
  }
  .--dubai-visa-link .--circle-green {
    top: 80px;
  }
  .--dubai-visa-link .--circle-purple {
    top: -80px;
  }
  .--sapegin-autoplates-link {
    max-width: 230px;
    height: 250px;
    margin-left: 0;
  }
  .--sapegin-autoplates-link .--circle-blue {
    transform: rotate(0deg);
    left: 64px;
    top: -48px;
  }
  .--sapegin-autoplates-link .--circle-green {
    left: 25px;
    top: 105px;
  }
  .--sapegin-autoplates-link .--circle-purple {
    top: 10px;
  }
  .--sapegin-kzevb-link {
    max-width: 350px;
    height: 210px;
    margin-right: 0;
  }
  .--sapegin-kzevb-link .--circle-blue {
    top: -41px;
  }
  .--sapegin-kzevb-link .--circle-green {
    top: 0;
  }
  .--sapegin-kzevb-link .--circle-purple {
    top: 45px;
  }
  .--circle-green,
  .--circle-blue,
  .--circle-purple {
    right: 0 !important;
    left: auto !important;
    transform: rotate(0deg) !important;
    width: 300px !important;
    height: 150px !important;
  }
  .--questionnaire-visa-link {
    max-width: 350px;
    height: 200px;
  }
  .--questionnaire-visa-link:before {
    left: 81px;
  }
  .--questionnaire-visa-link .--circle-green {
    top: 63px;
    filter: blur(50px);
  }
  .--product-visa-link {
    margin-left: 15px;
    max-width: 120px;
    height: 200px;
  }
  .--shop-link {
    max-width: 320px;
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .--cases-description {
    top: 55%;
  }
  .service-captcha > div {
    height: 105px !important;
  }
}
