.imprint__discuss-project {
  padding: 40px 26px 26px;
  top: 40px;
  max-width: 315px;
}
.imprint__discuss-project h4 {
  font-size: 16px;
}
.imprint__discuss-project:after {
  display: none;
  background: none;
}
.imprint__items h5 {
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 32px;
  font-size: 16px;
}
.imprint__item {
  display: flex;
  margin-bottom: 16px;
}
.imprint__item:last-child {
  margin-bottom: 0;
}
.imprint__item h5 {
  opacity: 1;
  max-width: 200px;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
}
.imprint__item span {
  margin-left: 80px;
  font-size: 16px;
  line-height: 1.3;
  max-width: 280px;
  width: 100%;
}
.imprint__form {
  padding: 64px 69px 50px;
  justify-content: end;
}
.imprint__content {
  margin-top: 80px;
  margin-bottom: 220px;
}
@media screen and (max-width: 1000px) {
  .imprint__content {
    margin-top: 180px;
  }
  .imprint__form {
    padding: 64px 15px 50px;
  }
  .imprint__item span {
    margin-left: 40px;
  }
  .imprint__discuss-project {
    top: -130px;
  }
}
@media screen and (max-width: 767px) {
  .imprint__form {
    padding: 64px 24px 50px;
    max-width: 420px;
  }
  .imprint__item h5 {
    font-size: 14px;
  }
  .imprint__item span {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .imprint__form {
    max-width: 320px;
  }
  .imprint__item {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .imprint__item h5 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .imprint__item span {
    margin-left: 0;
  }
  .imprint__discuss-project {
    padding: 20px;
    top: -100px;
    max-width: 260px;
  }
  .imprint__discuss-project h4 {
    font-size: 14px;
  }
}
