.modal-uae {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  max-width: 1352px;
  width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  height: 100vh;
  background: #1a1a1a;
}
.modal-uae__container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.modal-uae__main {
  background: url("/static/images/modal-uae_bg.jpeg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding-top: 240px;
  padding-bottom: 135px;
}
.modal-uae__main-content {
  display: flex;
  margin-top: 126px;
  justify-content: end;
  position: relative;
}
.modal-uae__main-mobile-images {
  position: absolute;
  top: 0;
  left: 0;
}
.modal-uae__main-items {
  max-width: 375px;
}
.modal-uae__main-title {
  font-size: 20px;
  font-weight: 700;
}
.modal-uae__main-text {
  line-height: 1.5;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 45px;
}
.modal-uae__main-icons {
  display: flex;
}
.modal-uae__main-icons img {
  background: #6fc9c1;
  padding: 9px;
  box-shadow: 0 2px 10px 0 #36968e;
  margin-left: 16px;
}
.modal-uae__main-icons img:first-child {
  margin-left: 0;
}
.modal-uae__task {
  display: flex;
  justify-content: end;
  margin-top: 263px;
}
.modal-uae__task-content {
  max-width: 375px;
}
.modal-uae__task-content p {
  margin-bottom: 0;
}
.modal-uae__grid {
  margin-top: 205px;
}
.modal-uae__grid-header {
  display: flex;
  justify-content: space-between;
}
.modal-uae__grid-header span {
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
}
.modal-uae__grid-content {
  display: flex;
  align-items: center;
  margin-top: 44px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.modal-uae__grid-text {
  line-height: 1.5;
  font-size: 8px;
  color: rgba(255,255,255,0.5);
  font-weight: 600;
  max-width: 80px;
  width: 100%;
  text-align: center;
}
.modal-uae__grid-columns {
  height: 326px;
  width: 100%;
  display: flex;
}
.modal-uae__grid-column {
  background: rgba(255,255,255,0.05);
  max-width: 49px;
  width: 100%;
  height: 100%;
  margin-left: 12px;
}
.modal-uae__grid-column:first-child {
  margin-left: 0;
}
.modal-uae__components {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin-top: 75px;
  margin-bottom: 380px;
}
.modal-uae__components-colors {
  display: flex;
  margin-top: 16px;
}
.modal-uae__components-colors .--accent {
  background: #f1922b;
}
.modal-uae__components-colors .--pink {
  background: #c22c91;
}
.modal-uae__components-colors .--turquoise {
  background: #7bcbc3;
}
.modal-uae__components-colors .--light-turquoise {
  background: #caeae7;
}
.modal-uae__components-color {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-left: 16px;
}
.modal-uae__components-color:first-child {
  margin-left: 0;
}
.modal-uae__components-icons {
  display: flex;
  margin-top: 16px;
}
.modal-uae__components-icons img {
  margin-left: 16px;
}
.modal-uae__components-icons img:first-child {
  margin-left: 0;
}
.modal-uae__components-font {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  margin-top: 20px;
}
.modal-uae__components-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
}
.modal-uae__events {
  position: relative;
}
.modal-uae__events-images {
  border-radius: 10px;
  border: 6px solid #191919;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.modal-uae__mobile-design {
  background: #54d3d1;
  padding-top: 600px;
  padding-bottom: 236px;
}
.modal-uae__mobile-design-title {
  color: #191919;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
}
.modal-uae__mobile-design-subtitle {
  text-align: center;
  display: block;
}
.modal-uae__mobile-design-items {
  display: flex;
  justify-content: end;
  margin-top: 110px;
}
.modal-uae__mobile-design-items img {
  margin-left: 64px;
}
.modal-uae__mobile-design-items img:first-child {
  margin-left: 0;
}
.modal-uae__page-questionnaire {
  position: relative;
  padding: 250px 0 170px;
}
.modal-uae__page-questionnaire-title {
  font-size: 48px;
  color: #54d3d1;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  left: 0;
  top: 240px;
}
.modal-uae__page-questionnaire img {
  margin-left: -70px;
}
@media screen and (max-width: 1000px) {
  .modal-uae__main-mobile-images {
    width: 250px;
  }
  .modal-uae__task {
    margin-top: 200px;
  }
  .modal-uae__events-images {
    width: 100%;
    top: -150px;
  }
  .modal-uae__mobile-design {
    padding-top: 400px;
    padding-bottom: 150px;
  }
  .modal-uae__mobile-design-items img {
    max-width: 200px;
  }
  .modal-uae__mobile-design-items img:last-child {
    max-width: 160px;
  }
  .modal-uae__page-questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-uae__page-questionnaire-title {
    left: 36px;
    font-size: 41px;
  }
  .modal-uae__page-questionnaire img {
    margin-left: 0;
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .modal-uae__main {
    padding: 100px 0;
  }
  .modal-uae__main > .modal-uae__container > img {
    width: 120px;
  }
  .modal-uae__main-content {
    margin-top: 85px;
  }
  .modal-uae__main-mobile-images {
    width: 200px;
  }
  .modal-uae__main-items {
    max-width: 300px;
  }
  .modal-uae__main-title {
    font-size: 18px;
  }
  .modal-uae__main-text {
    font-size: 14px;
  }
  .modal-uae__main-icons img {
    padding: 6px;
  }
  .modal-uae__grid {
    margin-top: 150px;
  }
  .modal-uae__grid-columns {
    height: 200px;
  }
  .modal-uae__grid-text {
    max-width: 60px;
  }
  .modal-uae__grid-content {
    margin-top: 24px;
  }
  .modal-uae__components {
    flex-direction: column;
    margin-bottom: 280px;
  }
  .modal-uae__components-item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  .modal-uae__components-item:last-child {
    margin-bottom: 0;
  }
  .modal-uae__components-title {
    margin-right: 16px;
  }
  .modal-uae__components-colors,
  .modal-uae__components-icons,
  .modal-uae__components-font {
    margin-top: 0;
  }
  .modal-uae__events-images {
    border-width: 4px;
  }
  .modal-uae__mobile-design {
    padding-top: 300px;
    margin-bottom: 100px;
  }
  .modal-uae__mobile-design-items img {
    max-width: 150px;
    margin-left: 48px;
  }
  .modal-uae__mobile-design-items img:last-child {
    max-width: 120px;
  }
  .modal-uae__page-questionnaire {
    padding: 50px 0 120px;
  }
  .modal-uae__page-questionnaire img {
    max-width: 500px;
  }
  .modal-uae__page-questionnaire-title {
    font-size: 30px;
    top: 0;
  }
}
@media screen and (max-width: 550px) {
  .modal-uae__main {
    padding: 100px 0 150px;
  }
  .modal-uae__main > .modal-uae__container > img {
    width: 80px;
  }
  .modal-uae__main-content {
    margin-top: 60px;
  }
  .modal-uae__main-content img {
    width: 120px;
    top: 195px;
  }
  .modal-uae__main-items {
    max-width: 260px;
  }
  .modal-uae__main-title {
    font-size: 16px;
  }
  .modal-uae__main-text {
    font-size: 13px;
    margin: 16px 0;
  }
  .modal-uae__main-icons img {
    width: 30px;
    padding: 4px;
  }
  .modal-uae__task {
    margin-top: 170px;
  }
  .modal-uae__grid-header span {
    font-size: 10px;
  }
  .modal-uae__grid-content {
    margin-top: 6px;
  }
  .modal-uae__grid-text {
    max-width: 40px;
  }
  .modal-uae__grid-columns {
    height: 160px;
  }
  .modal-uae__grid-column {
    margin-left: 8px;
  }
  .modal-uae__components {
    padding: 0 20px;
    margin-bottom: 220px;
  }
  .modal-uae__components-color {
    width: 22px;
    height: 22px;
  }
  .modal-uae__components-icons img:first-child {
    width: 24px;
  }
  .modal-uae__components-icons img:nth-child(2) {
    width: 22px;
  }
  .modal-uae__components-icons img:nth-child(3) {
    width: 34px;
  }
  .modal-uae__components-icons img:last-child {
    width: 22px;
  }
  .modal-uae__mobile-design {
    padding-top: 200px;
    padding-bottom: 80px;
  }
  .modal-uae__mobile-design-items {
    margin-top: 60px;
  }
  .modal-uae__mobile-design-items img {
    max-width: 110px;
    margin-left: 24px;
  }
  .modal-uae__mobile-design-items img:last-child {
    max-width: 85px;
  }
  .modal-uae__page-questionnaire {
    padding: 50px 0 90px;
  }
  .modal-uae__page-questionnaire img {
    max-width: 300px;
  }
  .modal-uae__page-questionnaire-title {
    font-size: 22px;
    width: 15px;
  }
}
@media screen and (max-width: 400px) {
  .modal-uae__mobile-design {
    padding-top: 135px;
  }
  .modal-uae__events-images {
    top: -100px;
  }
}
.modal-product-visa {
  background: #fff;
  width: 100%;
}
.modal-product-visa__main {
  background: #191919;
}
.modal-product-visa__main > .modal-uae__container {
  max-width: 910px;
  padding-right: 30px;
  box-sizing: content-box;
}
.modal-product-visa__main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 115px;
}
.modal-product-visa__main-items {
  margin-left: 60px;
  margin-top: -150px;
}
.modal-product-visa__main-title {
  font-family: 'MuktaVaani', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin-bottom: 16px;
}
.modal-product-visa__main-text {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.modal-product-visa__task {
  display: flex;
  justify-content: end;
  margin-top: 60px;
}
.modal-product-visa__task-content {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #191919;
  max-width: 546px;
}
.modal-product-visa__task-content h4 {
  margin-right: 80px;
  font-size: 24px;
  font-weight: 700;
}
.modal-product-visa__task-content p {
  font-weight: 600;
  line-height: 1.5;
}
.modal-product-visa__grid-header {
  color: #191919;
}
.modal-product-visa__grid-content {
  border: 1px solid #5a5a5a;
}
.modal-product-visa__grid-column {
  background: rgba(35,35,35,0.05);
}
.modal-product-visa__components {
  display: flex;
  padding: 0 80px;
  margin-top: 75px;
  margin-bottom: 95px;
}
.modal-product-visa__components-item {
  margin-left: 64px;
}
.modal-product-visa__components-title,
.modal-product-visa__components-font {
  color: #806262;
}
.modal-product-visa__design {
  margin-bottom: 416px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.modal-product-visa__design img {
  max-width: 620px;
}
.modal-product-visa__design-item {
  margin-right: 105px;
  margin-left: 15px;
  max-width: 305px;
  margin-top: -120px;
}
.modal-product-visa__design-item h4 {
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 32px;
}
.modal-product-visa__design-item ul {
  color: #191919;
}
.modal-product-visa__design-item ul li {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
}
.modal-product-visa__design-item ul li:last-child {
  margin-bottom: 0;
}
.modal-product-visa__events {
  position: relative;
}
.modal-product-visa__events img {
  position: absolute;
  top: -300px;
  border: 6px solid #111;
  border-radius: 10px;
}
.modal-product-visa__footer-block {
  padding-top: 435px;
  padding-bottom: 300px;
  background: #000;
}
.modal-product-visa__instrument {
  width: 100%;
  background: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.modal-product-visa__instrument h4 {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.2;
  font-family: 'MuktaVaani', sans-serif;
  font-weight: 700;
}
.modal-product-visa__instrument-item {
  display: flex;
}
.modal-product-visa__instrument-item img {
  margin-left: 64px;
}
.modal-product-visa__instrument-item img:first-child {
  margin-left: 0;
}
.modal-product-visa__adaptive-design {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.modal-product-visa__adaptive-design h3 {
  font-family: 'MuktaVaani', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  font-size: 32px;
  max-width: 350px;
}
.modal-product-visa__adaptive-design-item {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;
}
.modal-product-visa__adaptive-design-item img {
  margin-left: 32px;
}
.modal-product-visa__adaptive-design-item img:first-child {
  margin-left: 0;
}
.modal-product-visa__adaptive-design-item img:nth-child(2n) {
  margin-top: 100px;
}
@media screen and (max-width: 1000px) {
  .modal-product-visa__main > .modal-uae__container {
    max-width: 810px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .modal-product-visa__main-content img {
    max-width: 500px;
    width: 100%;
  }
  .modal-product-visa__main-items {
    margin-left: 25px;
  }
  .modal-product-visa__design img {
    max-width: 400px;
  }
  .modal-product-visa__design-item {
    margin-right: 80px;
  }
  .modal-product-visa__design-item h4 {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .modal-product-visa__design-item ul li {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .modal-product-visa__events img {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-product-visa__instrument {
    padding: 50px 0;
  }
  .modal-product-visa__instrument h4 {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .modal-product-visa__instrument-item img {
    margin-left: 48px;
  }
  .modal-product-visa__instrument-item img:first-child {
    width: 30px;
  }
  .modal-product-visa__instrument-item img:nth-child(2) {
    width: 43px;
  }
  .modal-product-visa__instrument-item img:nth-child(3) {
    width: 58px;
  }
  .modal-product-visa__instrument-item img:last-child {
    width: 40px;
  }
  .modal-product-visa__adaptive-design h3 {
    font-size: 28px;
  }
  .modal-product-visa__adaptive-design-item img {
    width: 115px;
  }
  .modal-product-visa__footer-block {
    padding-top: 335px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 767px) {
  .modal-product-visa__main > .modal-uae__container {
    max-width: 610px;
  }
  .modal-product-visa__main-content {
    padding-top: 50px;
  }
  .modal-product-visa__main-content img {
    max-width: 344px;
  }
  .modal-product-visa__main-items {
    margin-top: -90px;
  }
  .modal-product-visa__main-title {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .modal-product-visa__main-text {
    font-size: 14px;
  }
  .modal-product-visa__task-content {
    max-width: 430px;
  }
  .modal-product-visa__task-content h4 {
    font-size: 21px;
    margin-right: 32px;
  }
  .modal-product-visa__task-content p {
    font-size: 14px;
  }
  .modal-product-visa__design {
    margin-bottom: 216px;
  }
  .modal-product-visa__design-item {
    margin-right: 32px;
    margin-top: -30px;
  }
  .modal-product-visa__design-item h4 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .modal-product-visa__design-item ul {
    padding-left: 30px;
  }
  .modal-product-visa__design-item ul li {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .modal-product-visa__design img {
    max-width: 300px;
  }
  .modal-product-visa__events img {
    top: -100px;
  }
  .modal-product-visa__instrument {
    padding: 38px 0;
  }
  .modal-product-visa__instrument h4 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .modal-product-visa__instrument-item img:first-child {
    width: 22px;
  }
  .modal-product-visa__instrument-item img:nth-child(2) {
    width: 34px;
  }
  .modal-product-visa__instrument-item img:nth-child(3) {
    width: 47px;
  }
  .modal-product-visa__instrument-item img:last-child {
    width: 32px;
  }
  .modal-product-visa__adaptive-design h3 {
    max-width: 250px;
    font-size: 22px;
  }
  .modal-product-visa__adaptive-design-item img {
    width: 80px;
    margin-left: 28px;
  }
  .modal-product-visa__adaptive-design-item img:nth-child(2n) {
    margin-top: 80px;
  }
}
@media screen and (max-width: 550px) {
  .modal-product-visa__main-content {
    flex-direction: column-reverse;
  }
  .modal-product-visa__main-content img {
    max-width: 400px;
  }
  .modal-product-visa__main-items {
    margin-bottom: 32px;
    margin-top: 0;
    margin-left: 0;
  }
  .modal-product-visa__main-title {
    text-align: center;
    font-size: 32px;
  }
  .modal-product-visa__main-text {
    text-align: center;
    font-size: 16px;
  }
  .modal-product-visa__task-content {
    flex-direction: column;
  }
  .modal-product-visa__task-content h4 {
    margin-bottom: 8px;
    margin-right: 0;
    font-size: 18px;
  }
  .modal-product-visa__task-content p {
    font-size: 13px;
  }
  .modal-product-visa__components {
    padding: 0 20px;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 70px;
  }
  .modal-product-visa__components-item:last-child {
    margin-left: 0;
  }
  .modal-product-visa__design {
    flex-direction: column;
    align-items: end;
    margin-bottom: 150px;
  }
  .modal-product-visa__design-item {
    margin: 0 24px 32px;
  }
  .modal-product-visa__design-item h4 {
    margin-bottom: 18px;
  }
  .modal-product-visa__design-item ul li {
    margin-bottom: 4px;
  }
  .modal-product-visa__design img {
    max-width: 230px;
  }
  .modal-product-visa__events img {
    top: -80px;
  }
  .modal-product-visa__footer-block {
    padding-top: 250px;
    padding-bottom: 120px;
  }
  .modal-product-visa__adaptive-design {
    margin-top: 60px;
  }
  .modal-product-visa__adaptive-design h3 {
    font-size: 20px;
  }
  .modal-product-visa__adaptive-design-item img {
    width: 70px;
    margin-left: 10px;
  }
  .modal-product-visa__adaptive-design-item img:nth-child(2n) {
    margin-top: 50px;
  }
}
@media screen and (max-width: 420px) {
  .modal-product-visa__adaptive-design-item img {
    width: 50px;
  }
  .modal-product-visa__footer-block {
    padding-top: 190px;
  }
}
.modal-questionnaire-visa {
  background: #fff;
}
.modal-questionnaire-visa__main {
  background: url("/static/images/modal-questionnaire-visa_bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 75px;
}
.modal-questionnaire-visa__main-content {
  display: flex;
  flex-direction: column;
}
.modal-questionnaire-visa__main-content img {
  max-width: 850px;
  width: 100%;
}
.modal-questionnaire-visa__main-items {
  color: #231f20;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.modal-questionnaire-visa__main-items span {
  padding-left: 32px;
  max-width: 300px;
  font-family: 'MuktaVaani', sans-serif;
  line-height: 1.3;
}
.modal-questionnaire-visa__main-item {
  max-width: 275px;
  border-right: 1px solid #0a1a19;
  padding-right: 30px;
  padding-bottom: 16px;
}
.modal-questionnaire-visa__main-item h2 {
  font-family: 'MuktaVaani', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.modal-questionnaire-visa__main-item p {
  font-family: 'MuktaVaani', sans-serif;
  line-height: 1.3;
}
.modal-questionnaire-visa__task {
  background: #1a1a1a;
  padding: 98px 0;
}
.modal-questionnaire-visa__task-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 220px;
}
.modal-questionnaire-visa__task-item {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.modal-questionnaire-visa__task-item:last-child {
  margin-bottom: 0;
}
.modal-questionnaire-visa__task-item img {
  min-width: 44px;
}
.modal-questionnaire-visa__task-item > div {
  margin-left: 34px;
}
.modal-questionnaire-visa__task-item > div > h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'MuktaVaani', sans-serif;
  margin-bottom: 8px;
}
.modal-questionnaire-visa__task-item > div > p {
  font-family: 'MuktaVaani', sans-serif;
  line-height: 1.3;
}
.modal-questionnaire-visa__form-select-page {
  padding: 73px 96px 100px 24px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.modal-questionnaire-visa__form-select-page-inner {
  display: flex;
  align-items: center;
  max-width: 960px;
  justify-content: space-between;
  width: 100%;
}
.modal-questionnaire-visa__form-select-page h4 {
  font-family: 'MuktaVaani', sans-serif;
  color: #231f20;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
  margin-right: 130px;
  max-width: 290px;
}
.modal-questionnaire-visa__click-navigation {
  padding: 0 96px 64px;
}
.modal-questionnaire-visa__click-navigation h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'MuktaVaani', sans-serif;
  margin-bottom: 32px;
  color: #231f20;
  text-align: center;
}
.modal-questionnaire-visa__click-navigation-items {
  display: flex;
  justify-content: end;
}
.modal-questionnaire-visa__click-navigation-items .--secondary-color {
  background: linear-gradient(90deg, #f3fcfc, #ebfafa);
}
.modal-questionnaire-visa__click-navigation-item {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 5px;
  max-width: 296px;
  width: 100%;
  margin-left: 32px;
}
.modal-questionnaire-visa__click-navigation-item:first-child {
  margin-left: 0;
}
.modal-questionnaire-visa__click-navigation-item img {
  margin-right: 10px;
}
.modal-questionnaire-visa__click-navigation-item span {
  font-weight: 500;
  font-family: 'MuktaVaani', sans-serif;
  color: #747474;
}
.modal-questionnaire-visa__components {
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  padding: 80px 15px;
}
.modal-questionnaire-visa__components-inner {
  display: flex;
  justify-content: space-between;
  max-width: 755px;
  width: 100%;
}
.modal-questionnaire-visa__components-colors {
  max-width: 296px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}
.modal-questionnaire-visa__components-colors span {
  border: 4px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  margin-left: 32px;
  margin-bottom: 32px;
}
.modal-questionnaire-visa__components-colors span:first-child {
  margin-left: 0;
}
.modal-questionnaire-visa__components-colors span:nth-child(5) {
  margin-left: 0;
  margin-bottom: 0;
}
.modal-questionnaire-visa__components-colors span:nth-child(6) {
  margin-bottom: 0;
}
.modal-questionnaire-visa__components-text {
  display: flex;
  flex-direction: column;
  max-width: 310px;
}
.modal-questionnaire-visa__components-text h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'MuktaVaani', sans-serif;
  margin-bottom: 24px;
}
.modal-questionnaire-visa__components-text p {
  line-height: 1.3;
  font-family: 'MuktaVaani', sans-serif;
}
.modal-questionnaire-visa__technical-solution {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 185px;
}
.modal-questionnaire-visa__technical-solution-inner {
  display: flex;
  justify-content: space-between;
  max-width: 923px;
  width: 100%;
  margin-left: 13%;
}
.modal-questionnaire-visa__technical-solution-text {
  max-width: 356px;
  display: flex;
  flex-direction: column;
}
.modal-questionnaire-visa__technical-solution-text h4 {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 700;
  font-family: 'MuktaVaani', sans-serif;
  line-height: 1.3;
  margin-bottom: 24px;
}
.modal-questionnaire-visa__technical-solution-text p {
  color: #1a1a1a;
  font-family: 'MuktaVaani', sans-serif;
  line-height: 1.3;
}
.modal-questionnaire-visa__technical-solution-items {
  display: flex;
}
.modal-questionnaire-visa__technical-solution-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 127px;
}
.modal-questionnaire-visa__technical-solution-item p {
  text-align: center;
  color: #1a1a1a;
  margin-top: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.modal-questionnaire-visa__technical-solution-item img {
  width: 32px;
}
.modal-questionnaire-visa__admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.modal-questionnaire-visa__admin h4 {
  color: #b5afa6;
  font-size: 80px;
  line-height: 0.5;
  margin-bottom: 35px;
  font-weight: 700;
  font-family: 'MuktaVaani', sans-serif;
  text-align: center;
}
.modal-questionnaire-visa__admin img {
  max-width: 1025px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .modal-questionnaire-visa__click-navigation {
    margin: 0 15px;
    padding: 0 0 64px;
  }
  .modal-questionnaire-visa__form-select-page {
    padding-right: 15px;
  }
  .modal-questionnaire-visa__form-select-page-inner {
    max-width: 725px;
  }
  .modal-questionnaire-visa__form-select-page-inner img {
    max-width: 400px;
    width: 100%;
  }
  .modal-questionnaire-visa__form-select-page-inner h4 {
    margin-right: 54px;
    font-size: 30px;
  }
  .modal-questionnaire-visa__technical-solution {
    padding: 80px 15px 185px;
  }
  .modal-questionnaire-visa__technical-solution-inner {
    margin-left: 0;
  }
  .modal-questionnaire-visa__technical-solution-text {
    max-width: 300px;
  }
  .modal-questionnaire-visa__technical-solution-text h4 {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .modal-questionnaire-visa__technical-solution-text p {
    font-size: 14px;
  }
  .modal-questionnaire-visa__technical-solution-items {
    margin-left: 40px;
  }
  .modal-questionnaire-visa__technical-solution-item {
    width: 100px;
    margin-left: 12px;
  }
  .modal-questionnaire-visa__technical-solution-item:first-child {
    margin-left: 0;
  }
  .modal-questionnaire-visa__technical-solution-item p {
    font-size: 14px;
  }
  .modal-questionnaire-visa__admin {
    margin: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .modal-questionnaire-visa__task-content {
    align-items: end;
    margin-left: 0;
  }
  .modal-questionnaire-visa__task-item {
    max-width: 400px;
  }
  .modal-questionnaire-visa__form-select-page {
    padding: 73px 15px 100px;
  }
  .modal-questionnaire-visa__form-select-page-inner {
    max-width: 100%;
    flex-direction: column;
  }
  .modal-questionnaire-visa__form-select-page-inner h4 {
    margin-right: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  .modal-questionnaire-visa__click-navigation-item {
    max-width: 240px;
    margin-left: 10px;
    padding: 9px;
  }
  .modal-questionnaire-visa__click-navigation-item img {
    width: 20px;
  }
  .modal-questionnaire-visa__click-navigation-item span {
    font-size: 14px;
  }
  .modal-questionnaire-visa__components {
    padding: 60px 15px;
    justify-content: center;
  }
  .modal-questionnaire-visa__components-inner {
    justify-content: center;
  }
  .modal-questionnaire-visa__components-colors {
    max-width: 180px;
    margin-right: 40px;
  }
  .modal-questionnaire-visa__components-colors span {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    margin-left: 12px;
    margin-bottom: 12px;
  }
  .modal-questionnaire-visa__components-text {
    max-width: 300px;
  }
  .modal-questionnaire-visa__components-text h4 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .modal-questionnaire-visa__technical-solution {
    padding-bottom: 140px;
  }
  .modal-questionnaire-visa__technical-solution-inner {
    flex-direction: column;
    align-items: center;
  }
  .modal-questionnaire-visa__technical-solution-text h4,
  .modal-questionnaire-visa__technical-solution-text p {
    text-align: center;
  }
  .modal-questionnaire-visa__technical-solution-items {
    margin-left: 0;
    margin-top: 32px;
  }
  .modal-questionnaire-visa__admin h4 {
    font-size: 60px;
  }
}
@media screen and (max-width: 550px) {
  .modal-questionnaire-visa__main-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 38px;
  }
  .modal-questionnaire-visa__main-items span {
    padding-top: 16px;
    padding-left: 0;
  }
  .modal-questionnaire-visa__main-item {
    padding-right: 0;
    border-bottom: 1px solid #0a1a19;
    border-right: none;
  }
  .modal-questionnaire-visa__task {
    padding: 80px 15px;
  }
  .modal-questionnaire-visa__task-content {
    align-items: center;
  }
  .modal-questionnaire-visa__task-item {
    max-width: 300px;
  }
  .modal-questionnaire-visa__task-item div {
    margin-left: 24px;
  }
  .modal-questionnaire-visa__form-select-page-inner h4 {
    font-size: 22px;
    line-height: 1.1;
  }
  .modal-questionnaire-visa__click-navigation-items {
    flex-direction: column;
    align-items: center;
  }
  .modal-questionnaire-visa__click-navigation-item {
    margin-left: 0;
    margin-top: 16px;
  }
  .modal-questionnaire-visa__click-navigation-item:first-child {
    margin-top: 0;
  }
  .modal-questionnaire-visa__components-inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .modal-questionnaire-visa__components-colors {
    margin-top: 16px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }
  .modal-questionnaire-visa__components-colors span:nth-child(5) {
    margin-left: 12px;
  }
  .modal-questionnaire-visa__components-text {
    text-align: center;
  }
  .modal-questionnaire-visa__components-text h4 {
    font-size: 28px;
  }
  .modal-questionnaire-visa__components-text p {
    font-size: 14px;
  }
  .modal-questionnaire-visa__technical-solution-item {
    width: 90px;
  }
  .modal-questionnaire-visa__technical-solution-item p {
    font-size: 13px;
  }
  .modal-questionnaire-visa__admin h4 {
    font-size: 36px;
  }
}
.modal-shop__main {
  padding-top: 200px;
  padding-bottom: 186px;
  background: url("/static/images/modal-shop_bg.jpeg") no-repeat center;
  background-size: cover;
  background-position-x: 0;
}
.modal-shop__main-content {
  margin-top: 0;
}
.modal-shop__main-items img {
  margin-bottom: 113px;
}
.modal-shop__main-items h2,
.modal-shop__main-items p {
  color: #231f20;
}
.modal-shop__main-icons img {
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(117,117,87,0.3);
}
.modal-shop__page-images {
  border: 6px solid #fff;
}
.modal-shop__slider-section {
  background: #d7603a;
  padding-bottom: 106px;
}
.modal-shop__slider-section-title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 58px;
}
.modal-shop__slider-section-images {
  margin-left: 50px;
}
.modal-shop__admin {
  padding-top: 135px;
  padding-bottom: 230px;
}
.modal-shop__admin img {
  margin-left: -20px;
}
.modal-shop__admin-title {
  position: relative;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  top: 0;
  margin-bottom: 76px;
}
@media screen and (max-width: 1000px) {
  .modal-shop__main {
    padding: 170px 0;
  }
  .modal-shop__main-items {
    max-width: 320px;
  }
  .modal-shop__main-items img {
    width: 140px;
    margin-bottom: 18px;
  }
  .modal-shop__main-text {
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .modal-shop__main-icons img {
    width: auto;
    margin-bottom: 0;
  }
  .modal-shop__slider-section > .modal-uae__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-shop__slider-section-images {
    width: 100%;
    margin-left: 0;
  }
  .modal-shop__slider-section-title {
    font-size: 50px;
  }
  .modal-shop__admin img {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .modal-shop__admin-title {
    left: auto;
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .modal-shop__main {
    background-position-x: 20%;
  }
  .modal-shop__main-content {
    justify-content: center;
  }
  .modal-shop__main-items {
    max-width: 200px;
    margin-left: 300px;
  }
  .modal-shop__main-items img {
    width: 80px;
  }
  .modal-shop__main-items p {
    margin-bottom: 32px;
  }
  .modal-shop__main-icons img {
    width: 30px;
  }
  .modal-shop__slider-section {
    padding-top: 330px;
  }
}
@media screen and (max-width: 550px) {
  .modal-shop__main {
    padding: 75px 0;
  }
  .modal-shop__main-items {
    margin-left: 190px;
    max-width: 140px;
  }
  .modal-shop__main-items img {
    width: 60px;
    margin-bottom: 12px;
  }
  .modal-shop__main-items p {
    margin-bottom: 18px;
    font-size: 12px;
  }
  .modal-shop__main-icons img {
    width: 24px;
    margin-left: 12px;
  }
  .modal-shop__slider-section {
    padding-top: 190px;
  }
  .modal-shop__slider-section-title {
    font-size: 35px;
  }
  .modal-shop__admin {
    padding-top: 60px;
    padding-bottom: 180px;
  }
  .modal-shop__admin-title {
    width: 100%;
    font-size: 35px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .modal-shop__main {
    padding: 50px 0;
  }
  .modal-shop__main-title {
    font-size: 15px;
  }
  .modal-shop__main-items {
    margin-left: 150px;
  }
  .modal-shop__main-icons img {
    margin-left: 11px;
  }
  .modal-shop__slider-section {
    padding-top: 150px;
  }
  .modal-shop__slider-section-title {
    font-size: 30px;
  }
}
.modal-sapegin-autoplates__main {
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 116px;
}
.modal-sapegin-autoplates__main h2 {
  margin-bottom: -40px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 32px;
  max-width: 320px;
  text-align: center;
}
.modal-sapegin-autoplates__main img {
  max-width: 1261px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .modal-sapegin-autoplates__main h2 {
    margin-bottom: -28px;
    font-size: 26px;
  }
}
@media screen and (max-width: 550px) {
  .modal-sapegin-autoplates__main {
    padding-top: 55px;
  }
  .modal-sapegin-autoplates__main h2 {
    width: 150px;
    margin-bottom: -10px;
    font-size: 18px;
  }
}
.modal-sapegin__main {
  background: #84d069;
  padding-top: 106px;
  padding-bottom: 41px;
  padding-left: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.modal-sapegin__main-left-content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.modal-sapegin__main-title {
  margin-top: 16px;
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}
.modal-sapegin__main-items {
  margin-top: 48px;
}
.modal-sapegin__main-item {
  margin-bottom: 32px;
}
.modal-sapegin__main-item:last-child {
  margin-bottom: 0;
}
.modal-sapegin__main-item span {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
  display: block;
}
.modal-sapegin__main-item p {
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
}
.modal-sapegin__main-square {
  margin-left: 30px;
  position: relative;
  background: #feb249;
  width: 24px;
  height: 24px;
}
.modal-sapegin__main-square:after,
.modal-sapegin__main-square:before {
  content: '';
  background: #feb249;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
}
.modal-sapegin__main-square:after {
  left: -30px;
}
.modal-sapegin__main-square:before {
  right: -30px;
}
.modal-sapegin__main-right-content {
  margin-left: 30px;
}
.modal-sapegin__main-right-content img {
  max-width: 923px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-sapegin__main-hashtag {
  display: flex;
  justify-content: center;
}
.modal-sapegin__main-hashtag span {
  font-family: 'Arial', serif;
  font-style: italic;
  line-height: 1.25;
  margin-left: 32px;
}
.modal-sapegin__main-hashtag span:first-child {
  margin-left: 0;
}
.modal-sapegin__task {
  padding: 98px 15px;
}
.modal-sapegin__task-content {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.modal-sapegin__task-text {
  max-width: 400px;
}
.modal-sapegin__task-text h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 24px;
}
.modal-sapegin__task-text p {
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
}
.modal-sapegin__task-items {
  display: flex;
  margin-left: 90px;
}
.modal-sapegin__task-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  margin-left: 54px;
}
.modal-sapegin__task-item:first-child {
  margin-left: 0;
}
.modal-sapegin__task-item img {
  max-width: 48px;
}
.modal-sapegin__task-item h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 22px;
  text-align: center;
}
.modal-sapegin__design-inner {
  max-width: 1030px;
}
.modal-sapegin__design-text {
  margin-right: 80px;
  max-width: 340px;
}
.modal-sapegin__design-text h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 32px;
  color: #1a1a1a;
}
.modal-sapegin__design-text p {
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
  color: #1a1a1a;
}
.modal-sapegin__instrument {
  padding-bottom: 445px;
}
.modal-sapegin__management {
  padding-top: 480px;
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-sapegin__management a {
  display: flex;
  align-items: center;
  color: #232323;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 67px;
}
.modal-sapegin__management a img {
  margin-right: 8px;
}
.modal-sapegin__management-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -300px;
}
.modal-sapegin__management-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-sapegin__management-items h3 {
  color: #bad0c3;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 51px;
  margin-bottom: 32px;
  text-align: center;
}
.modal-sapegin__management-items p {
  font-family: 'Arial', sans-serif;
  color: #728078;
  font-size: 20px;
  line-height: 1.6;
  max-width: 550px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .modal-sapegin__main-items {
    margin-top: 32px;
  }
  .modal-sapegin__main-item {
    margin-bottom: 24px;
  }
  .modal-sapegin__task-content {
    margin-left: 0;
  }
  .modal-sapegin__task-text h3 {
    margin-bottom: 16px;
    font-size: 30px;
  }
  .modal-sapegin__task-items {
    margin-left: 32px;
  }
  .modal-sapegin__task-item {
    margin-left: 24px;
  }
  .modal-sapegin__design-inner {
    justify-content: center;
  }
  .modal-sapegin__design-inner img {
    max-width: 340px;
  }
  .modal-sapegin__design-text h3 {
    font-size: 29px;
  }
  .modal-sapegin__management img {
    max-width: 820px;
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .modal-sapegin__main {
    flex-direction: column;
    align-items: end;
  }
  .modal-sapegin__main-left-content {
    align-items: end;
    padding-right: 32px;
    max-width: 420px;
  }
  .modal-sapegin__main-right-content {
    margin-left: 0;
  }
  .modal-sapegin__main-item {
    text-align: end;
  }
  .modal-sapegin__main-title {
    text-align: end;
  }
  .modal-sapegin__main-square:before {
    right: 60px;
  }
  .modal-sapegin__task-content {
    flex-direction: column;
    align-items: center;
  }
  .modal-sapegin__task-text {
    text-align: center;
    margin-bottom: 32px;
  }
  .modal-sapegin__task-items {
    margin-left: 0;
  }
  .modal-sapegin__design-text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .modal-sapegin__design-text h3 {
    margin-bottom: 16px;
  }
  .modal-sapegin__instrument {
    padding-bottom: 200px;
  }
  .modal-sapegin__management {
    padding-top: 280px;
  }
  .modal-sapegin__management img {
    position: relative;
    bottom: 0;
    top: 0;
    margin-top: -400px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 550px) {
  .modal-sapegin__main {
    padding-left: 15px;
  }
  .modal-sapegin__main-left-content {
    padding-right: 15px;
  }
  .modal-sapegin__main-title {
    font-size: 22px;
  }
  .modal-sapegin__main-hashtag {
    flex-direction: column;
    align-items: start;
  }
  .modal-sapegin__main-hashtag span {
    margin-left: 0;
  }
  .modal-sapegin__task {
    padding: 60px 15px;
  }
  .modal-sapegin__task-text h3 {
    font-size: 26px;
  }
  .modal-sapegin__task-text p {
    font-size: 14px;
  }
  .modal-sapegin__task-items {
    align-items: baseline;
  }
  .modal-sapegin__task-item {
    margin-left: 12px;
  }
  .modal-sapegin__task-item img {
    width: 35px;
  }
  .modal-sapegin__task-item h4 {
    font-size: 12px;
  }
  .modal-sapegin__design-text h3 {
    font-size: 22px;
  }
  .modal-sapegin__design-text p {
    font-size: 14px;
  }
  .modal-sapegin__management-items h3 {
    font-size: 29px;
    margin-bottom: 24px;
  }
  .modal-sapegin__management-items p {
    font-size: 16px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 550px) {
  .modal-sapegin__instrument {
    padding-bottom: 150px;
  }
}
.modal-tthomes {
  background: #232323;
}
.modal-tthomes__main {
  background: linear-gradient(180deg, #0066b2, #005da3);
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
}
.modal-tthomes__main-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-tthomes__main-content {
  margin-top: 0;
}
.modal-tthomes__main-image {
  width: 62%;
}
.modal-tthomes__main-bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #005799, #005799);
  box-shadow: 2px 0 10px 0 rgba(26,26,26,0.3);
  height: 30%;
  filter: blur(2px);
}
.modal-tthomes__main-item {
  width: 38%;
  margin-top: 80px;
  margin-right: 16px;
}
.modal-tthomes__main-item h2 {
  font-size: 48px;
  line-height: 1.16;
  margin-top: 22px;
  font-family: 'MuktaVaani', sans-serif;
}
.modal-tthomes__task {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-tthomes__task-items {
  max-width: 816px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-tthomes__task-item {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  max-width: 258px;
}
.modal-tthomes__task-item span {
  height: 56px;
  display: block;
}
.modal-tthomes__task-item p {
  margin-top: 24px;
  line-height: 1.5;
  color: #fff;
}
.modal-tthomes__task-item:first-child {
  margin-left: 0;
}
.modal-tthomes__task-item:last-child {
  max-width: 162px;
}
.modal-tthomes__about-the-customer {
  background: #fff;
}
.modal-tthomes__about-the-customer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-tthomes__about-the-customer-item {
  display: flex;
  align-items: center;
  max-width: 885px;
}
.modal-tthomes__about-the-customer-item p {
  max-width: 413px;
  color: #232323;
  line-height: 1.5;
  font-weight: 600;
  margin-right: 50px;
}
.modal-tthomes__search-and-contact {
  padding: 80px 0;
}
.modal-tthomes__search-and-contact-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 57px;
}
.modal-tthomes__search-and-contact-text div {
  max-width: 816px;
  width: 100%;
}
.modal-tthomes__search-and-contact-text p {
  line-height: 1.5;
  font-weight: 600;
  max-width: 550px;
}
.modal-tthomes__search-and-contact-slider {
  margin-bottom: 32px;
}
.modal-tthomes__search-and-contact-slider:last-child {
  margin-bottom: 0;
}
.modal-tthomes__search-and-contact-slider img {
  margin-left: 32px;
}
.modal-tthomes__googlemaps {
  padding: 80px 10px;
  background: #fff;
  width: 100%;
}
.modal-tthomes__googlemaps-mobile-image {
  max-width: 30%;
  width: 100%;
}
.modal-tthomes__googlemaps-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 987px;
  width: 100%;
  margin: 0 auto;
}
.modal-tthomes__googlemaps-items div {
  max-width: 69%;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-tthomes__googlemaps-items div img {
  max-width: 675px;
  width: 100%;
}
.modal-tthomes__googlemaps-items div h3 {
  font-size: 32px;
  line-height: 1.16;
  font-weight: 700;
  color: #232323;
  max-width: 382px;
  margin-bottom: 64px;
}
.modal-tthomes__admin-link img {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding: 0 !important;
}
.modal-tthomes__container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.modal-tthomes__h3-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  max-width: 170px;
  width: 100%;
}
@media screen and (max-width: 1170px) {
  .modal-tthomes__main-item h2 {
    font-size: 39px;
  }
}
@media screen and (max-width: 1000px) {
  .modal-tthomes__main-item img {
    width: 80px;
  }
  .modal-tthomes__main-item h2 {
    font-size: 33px;
  }
  .modal-tthomes__main-bottom-container {
    height: 26%;
  }
  .modal-tthomes__task-item {
    max-width: 33% !important;
  }
  .modal-tthomes__task-item p {
    font-size: 14px;
  }
  .modal-tthomes__about-the-customer-inner {
    height: 283px;
    position: relative;
    justify-content: flex-start;
  }
  .modal-tthomes__about-the-customer-item img {
    position: absolute;
    right: 0;
    filter: blur(2px);
    top: 2px;
  }
  .modal-tthomes__about-the-customer-item p {
    z-index: 1;
    margin-top: 12px;
    margin-right: 0;
  }
  .modal-tthomes__h3-title {
    font-size: 29px;
  }
}
@media screen and (max-width: 850px) {
  .modal-tthomes__main-item {
    width: 41%;
    margin-top: 63px;
  }
  .modal-tthomes__main-item h2 {
    font-size: 32px;
    margin-top: 14px;
  }
  .modal-tthomes__main-image {
    width: 59%;
  }
  .modal-tthomes__search-and-contact-slider img {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .modal-tthomes__main {
    padding-top: 100px;
  }
  .modal-tthomes__main-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .modal-tthomes__main-item {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .modal-tthomes__main-item h2 {
    font-size: 30px;
    text-align: center;
  }
  .modal-tthomes__main-image {
    margin-left: -20px;
    width: 100% !important;
  }
  .modal-tthomes__task {
    flex-direction: column;
  }
  .modal-tthomes__task h3 {
    margin-bottom: 24px;
  }
  .modal-tthomes__task-items {
    margin-left: 0;
  }
  .modal-tthomes__task-item {
    max-width: 32% !important;
    margin-left: 12px;
  }
  .modal-tthomes__task-item span {
    display: flex;
    justify-content: center;
  }
  .modal-tthomes__task-item p {
    text-align: center;
    font-size: 13px;
  }
  .modal-tthomes__about-the-customer-inner {
    flex-direction: column;
    padding-top: 58px;
  }
  .modal-tthomes__about-the-customer-inner h3 {
    max-width: 100% !important;
    z-index: 1;
  }
  .modal-tthomes__about-the-customer-item p {
    max-width: 510px;
  }
  .modal-tthomes__search-and-contact-text {
    flex-direction: column;
    align-items: center;
  }
  .modal-tthomes__search-and-contact-text div {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .modal-tthomes__search-and-contact-text div p {
    max-width: 510px;
  }
  .modal-tthomes__search-and-contact-slider {
    margin-bottom: 16px;
  }
  .modal-tthomes__search-and-contact-slider img {
    width: 250px;
    margin-left: 16px;
  }
  .modal-tthomes__googlemaps-items div h3 {
    font-size: 28px;
    margin-left: 32px;
  }
  .modal-tthomes__h3-title {
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .modal-tthomes__main {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .modal-tthomes__main-item {
    max-width: 342px;
    width: 100%;
  }
  .modal-tthomes__main-item h2 {
    font-size: 24px;
  }
  .modal-tthomes__main-item img {
    width: 70px;
  }
  .modal-tthomes__about-the-customer-item p {
    text-align: center;
  }
  .modal-tthomes__search-and-contact-text p {
    text-align: center;
  }
  .modal-tthomes__search-and-contact-slider img {
    width: 200px;
  }
  .modal-tthomes__googlemaps {
    padding: 50px 10px;
  }
  .modal-tthomes__googlemaps-items div {
    margin-top: 48px;
  }
  .modal-tthomes__googlemaps-items div h3 {
    max-width: 290px;
    margin-left: 28px;
    margin-bottom: 32px;
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .modal-tthomes__task {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .modal-tthomes__task-items {
    flex-direction: column;
    align-items: center;
  }
  .modal-tthomes__task-item {
    max-width: 74% !important;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .modal-tthomes__task-item p {
    margin-top: 16px;
  }
  .modal-tthomes__task-item:last-child {
    margin-bottom: 0;
  }
  .modal-tthomes__about-the-customer-inner {
    padding-top: 40px;
  }
  .modal-tthomes__about-the-customer-item img {
    right: -28px;
  }
  .modal-tthomes__about-the-customer-item p {
    font-size: 14px;
  }
  .modal-tthomes__search-and-contact {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .modal-tthomes__search-and-contact-text p {
    font-size: 14px;
  }
  .modal-tthomes__search-and-contact-slider img {
    width: 170px;
  }
  .modal-tthomes__googlemaps-items div {
    margin-top: 42px;
  }
  .modal-tthomes__googlemaps-items div h3 {
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 18px;
  }
}
