.service-card {
  margin: 0 auto;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
  width: 100%;
}
.service-card__subtitle {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 24px;
}
.service-card__title {
  font-family: 'Kanit', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}
.service-card__btn {
  margin-top: 64px;
  font-weight: 700;
  box-shadow: 0 0 14px 0 rgba(255,255,255,0.2);
  padding: 18px 31.5px !important;
}
.service-card_advantages {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
  padding: 64px 48px;
  border: 1px solid rgba(83,211,209,0.1);
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
}
.service-card_advantages__left-content {
  max-width: 350px;
}
.service-card_advantages__title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 48px;
  font-family: 'Kanit', sans-serif;
}
.service-card_advantages__right-content {
  margin-left: 40px;
  max-width: 432px;
}
.service-card_advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  position: relative;
  cursor: pointer;
}
.service-card_advantages__item:hover:after {
  opacity: 1;
}
.service-card_advantages__item:after {
  transition: 0.2s;
  content: '';
  display: block;
  background: rgba(147,52,184,0.3);
  position: absolute;
  height: 100px;
  width: 700px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px 0 0 10px;
  z-index: -1;
  filter: blur(10px);
  opacity: 0;
}
.service-card_advantages__item:last-child {
  margin-bottom: 0;
}
.service-card_advantages__item span {
  display: block;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
}
.service-card_advantages__item p {
  line-height: 1.5;
  margin-left: 40px;
}
.service-card_our-approach {
  width: 100%;
  margin-top: 90px;
}
.service-card_our-approach__content {
  margin-top: 32px;
}
.service-card_our-approach__one-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0 32px;
  border: 1px solid rgba(83,211,209,0.1);
  height: 240px;
  background: linear-gradient(45deg, rgba(83,211,209,0.02), rgba(83,211,209,0.01));
  backdrop-filter: blur(2px);
}
.service-card_our-approach__one-block-bg {
  background: linear-gradient(45deg, rgba(83,211,209,0.02), rgba(83,211,209,0.01));
}
.service-card_our-approach__title-block {
  margin: 16px 0;
  font-size: 24px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}
.service-card_our-approach__text {
  text-align: center;
  line-height: 1.3;
  max-width: 571px;
  width: 100%;
}
.service-card_our-approach__two-block {
  display: flex;
  margin: 32px 0;
}
.service-card_our-approach__item {
  border: 1px solid rgba(83,211,209,0.2);
  max-width: 529px;
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 66px 32px;
  background: linear-gradient(45deg, rgba(83,211,209,0.07), rgba(83,211,209,0.04));
  backdrop-filter: blur(2px);
}
.service-card_our-approach__item + .service-card_our-approach__item {
  margin-left: 32px;
  background: linear-gradient(45deg, rgba(83,211,209,0.03), rgba(83,211,209,0.01));
}
.service-card_instrument {
  max-width: 1440px;
  width: 100%;
  margin: 96px auto;
  padding: 0 16px;
}
.service-card_instrument__inner {
  width: 100%;
  background: linear-gradient(45deg, rgba(76,111,178,0.05), rgba(76,111,178,0.02));
  border: 1px solid rgba(76,111,178,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 20px 62px;
  backdrop-filter: blur(2px);
}
.service-card_instrument__content {
  max-width: 1090px;
  width: 100%;
}
.service-card_instrument__items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.service-card_instrument__item {
  margin-left: 50px;
  display: flex !important;
  align-items: center;
}
.service-card_instrument__item span {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.service-card_instrument__item img {
  margin-right: 16px;
}
.service-card_instrument__item:first-child {
  margin-left: 0;
}
.service-card_done-deal {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(83,211,209,0.1);
  padding: 64px 48px;
  background: linear-gradient(45deg, rgba(83,211,209,0.02), rgba(83,211,209,0.01));
  backdrop-filter: blur(2px);
}
.service-card_done-deal__title {
  max-width: 300px;
  text-align: start;
  line-height: 1;
}
.service-card_done-deal__content {
  display: flex;
  flex-direction: column;
  max-width: 415px;
}
.service-card_done-deal__item {
  margin-bottom: 48px;
}
.service-card_done-deal__item:last-child {
  margin-bottom: 0;
}
.service-card_done-deal__item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.service-card_done-deal__item p {
  line-height: 1.5;
}
.service-card_contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 268px;
  margin-bottom: 152px;
}
.service-card_contact__group-link {
  display: flex;
  margin-top: 24px;
}
.service-card_contact__group-link a {
  color: #fff;
  font-weight: 600;
}
.service-card_contact__group-link a + a {
  margin-left: 32px;
}
.service-card_contact__form {
  justify-content: space-between;
  display: flex;
  max-width: 827px;
  width: 100%;
  background: linear-gradient(45deg, rgba(83,211,209,0.1), rgba(83,211,209,0.05));
  border: 1px solid;
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2, #53d3d1);
  border-image-slice: 2;
  padding: 80px 100px 76px 57px;
  transform: rotateY(0deg);
  transition: 0.3s;
}
.service-card_contact__right-content {
  max-width: 310px;
  width: 100%;
}
.service-card_contact__left-content img {
  width: 325px;
}
.service-card_discuss-project {
  max-width: 441px;
  width: 100%;
  padding: 40px 90px;
  background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.2));
  border: 1px solid rgba(255,255,255,0.5);
  position: absolute;
  left: 0;
  top: 230px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.service-card_discuss-project:after {
  content: '';
  display: block;
  width: 80px;
  height: 100px;
  background: url("/static/images/discuss-project-icon.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: -10px;
  top: -40px;
}
.service-card_discuss-project h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}
.service-card_discuss-project p {
  line-height: 1.5;
  margin-top: 12px;
}
@media screen and (max-width: 1000px) {
  .service-card__title {
    font-size: 35px;
  }
  .service-card__subtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .service-card_advantages {
    padding: 50px 32px;
  }
  .service-card_advantages__title {
    font-size: 35px;
  }
  .service-card_advantages__item {
    margin-bottom: 38px;
  }
  .service-card_advantages__item span {
    font-size: 44px;
  }
  .service-card_advantages__item p {
    font-size: 13px;
    margin-left: 28px;
  }
  .service-card_our-approach__title-block {
    font-size: 18px;
    margin: 16px 0 12px;
  }
  .service-card_our-approach__text {
    font-size: 14px;
  }
  .service-card_our-approach__item {
    height: auto;
    padding: 32px 32px 24px;
  }
  .service-card_instrument__items {
    justify-content: center;
    margin-top: 32px;
  }
  .service-card_instrument__item {
    margin-left: 40px;
  }
  .service-card_instrument__item img {
    margin-right: 8px;
    width: 45px;
  }
  .service-card_instrument__item span {
    font-size: 14px;
  }
  .service-card_done-deal {
    padding: 52px 32px;
    justify-content: center;
  }
  .service-card_done-deal__content {
    margin-left: 32px;
  }
  .service-card_done-deal__item {
    margin-bottom: 38px;
  }
  .service-card_done-deal__item h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .service-card_done-deal__item p {
    font-size: 14px;
  }
  .service-card_discuss-project {
    max-width: 390px;
    padding: 28px 48px 28px 85px;
    top: 155px;
  }
  .service-card_discuss-project h4 {
    font-size: 18px;
    line-height: 1.4;
  }
  .service-card_discuss-project p {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.4;
  }
  .service-card_contact {
    max-width: 780px;
    margin: 150px auto;
  }
  .service-card_contact__form {
    max-width: 665px;
    padding: 40px 32px;
  }
  .service-card_contact__left-content img {
    width: 250px;
  }
  .service-card_contact__group-link {
    margin-top: 24px;
  }
  .service-card_contact__group-link a {
    font-size: 13px;
  }
  .service-card_contact__group-link a + a {
    margin-left: 16px;
  }
  .service-card_contact__right-content {
    max-width: 290px;
  }
  .service-card_contact__right-content > .contact-form__container-input > input::placeholder,
  .service-card_contact__right-content > .contact-form__container-input > textarea::placeholder {
    font-size: 12px;
  }
  .service-card_contact__right-content > .contact-form__btn {
    font-size: 12px;
    padding: 12px 0;
  }
  .service-card_contact__right-content > .--error-click {
    padding-left: 20px;
  }
  .service-card_contact__right-content > .--error-click span {
    left: 14px;
    top: 6px;
  }
  .service-card_contact__right-content > .--success-click {
    padding-left: 24px;
  }
  .service-card_contact__right-content > .--success-click span {
    left: 8px;
    top: 8px;
  }
  .service-card_contact__right-content > button {
    height: auto;
  }
  .service-card_contact__right-content > button > .contact-form__error-icon {
    left: 14px;
    top: 6px;
  }
  .service-card_contact__right-content > button > .contact-form__success-icon {
    left: 6px;
    top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .service-card__title {
    font-size: 30px;
  }
  .service-card__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .service-card__btn {
    margin-top: 52px;
    padding: 16px 24px !important;
    font-size: 16px !important;
  }
  .service-card_advantages {
    flex-direction: column;
    padding: 50px 58px;
  }
  .service-card_advantages__left-content {
    margin-bottom: 32px;
  }
  .service-card_advantages__right-content {
    margin-left: 0;
    max-width: 500px;
  }
  .service-card_advantages__item:after {
    top: -17px;
  }
  .service-card_advantages__item span {
    font-size: 50px;
  }
  .service-card_advantages__item p {
    font-size: 15px;
  }
  .service-card_our-approach__one-block {
    padding: 24px 16px;
    height: auto;
  }
  .service-card_our-approach__one-block img {
    width: 50px;
  }
  .service-card_our-approach__title-block {
    font-size: 16px;
    text-align: center;
    margin: 16px 0 12px;
  }
  .service-card_our-approach__text {
    font-size: 13px;
  }
  .service-card_our-approach__two-block {
    margin: 16px 0;
  }
  .service-card_our-approach__item {
    padding: 22px 20px;
  }
  .service-card_our-approach__item img {
    width: 50px;
  }
  .service-card_our-approach__item + .service-card_our-approach__item {
    margin-left: 16px;
  }
  .service-card_instrument__item {
    margin-left: 50px;
  }
  .service-card_contact {
    justify-content: center;
    max-width: 500px;
    margin: 250px auto 100px;
  }
  .service-card_contact__form {
    max-width: 360px;
    padding: 40px 32px;
    flex-direction: column;
    align-items: center;
  }
  .service-card_contact__left-content {
    margin-bottom: 32px;
  }
  .service-card_contact__right-content {
    max-width: 100%;
  }
  .service-card_contact__right-content > .--success-click span {
    left: 12px;
    top: 7px;
  }
  .service-card_contact__group-link {
    margin-top: 10px;
  }
  .service-card_discuss-project {
    max-width: 296px;
    padding: 28px 45px;
    top: -115px;
  }
  .service-card_discuss-project:after {
    width: 50px;
    height: 70px;
  }
  .service-card_discuss-project h4 {
    font-size: 16px;
  }
  .service-card_discuss-project p {
    font-size: 13px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 550px) {
  .service-card {
    padding-top: 150px;
  }
  .service-card__title {
    font-size: 24px;
    max-width: 400px;
  }
  .service-card__subtitle {
    margin-bottom: 10px;
  }
  .service-card__btn {
    margin-top: 38px;
    padding: 14px 20px !important;
    font-size: 12px !important;
  }
  .service-card_advantages {
    padding: 32px 24px;
  }
  .service-card_advantages__left-content img {
    width: 40px;
  }
  .service-card_advantages__right-content {
    max-width: 400px;
  }
  .service-card_advantages__title {
    font-size: 24px;
    margin-top: 12px;
  }
  .service-card_advantages__item {
    margin-bottom: 32px;
  }
  .service-card_advantages__item p {
    font-size: 12px;
    margin-left: 16px;
  }
  .service-card_our-approach > .service-card__title {
    max-width: 100%;
  }
  .service-card_our-approach__two-block {
    flex-direction: column;
  }
  .service-card_our-approach__one-block {
    padding: 32px 24px;
  }
  .service-card_our-approach__one-block img {
    width: 40px;
  }
  .service-card_our-approach__title-block {
    font-size: 14px;
  }
  .service-card_our-approach__text {
    font-size: 12px;
  }
  .service-card_our-approach__item {
    padding: 32px 24px;
  }
  .service-card_our-approach__item img {
    width: 40px;
  }
  .service-card_our-approach__item + .service-card_our-approach__item {
    margin-left: 0;
    margin-top: 16px;
  }
  .service-card_done-deal {
    flex-direction: column;
    padding: 32px 24px;
  }
  .service-card_done-deal__content {
    margin-left: 0;
    margin-top: 32px;
    max-width: 400px;
  }
  .service-card_done-deal__item {
    margin-bottom: 32px;
  }
  .service-card_done-deal__item h4 {
    font-size: 17px;
  }
  .service-card_discuss-project {
    left: 10px;
    max-width: 260px;
    padding: 28px 24px;
  }
  .service-card_discuss-project h4 {
    font-size: 15px;
  }
  .service-card_discuss-project p {
    font-size: 12px;
  }
}
