@font-face {
  font-family: "Mukta Vaani";
  src: local("MuktaVaani Medium"), local("MuktaVaani-Medium"), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.woff2") format("woff2"), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.woff") format("woff"), url("/static/fonts/MuktaVaani/MuktaVaani-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mukta Vaani";
  src: local("MuktaVaani SemiBold"), local("MuktaVaani-SemiBold"), url("/static/fonts/MuktaVaani/MuktaVaani-SemiBold.woff2") format("woff2"), url("/static/fonts/MuktaVaani/MuktaVaani-SemiBold.woff") format("woff"), url("/static/fonts/MuktaVaani/MuktaVaani-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Light"), local("Inter-Light"), url("/static/fonts/Inter/Inter-Light.woff2") format("woff2"), url("/static/fonts/Inter/Inter-Light.woff") format("woff"), url("/static/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), local("Inter-Regular"), url("/static/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("/static/fonts/Inter/Inter-Regular.woff") format("woff"), url("/static/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"), url("/static/fonts/Inter/Inter-Medium.woff2") format("woff2"), url("/static/fonts/Inter/Inter-Medium.woff") format("woff"), url("/static/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url("/static/fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("/static/fonts/Inter/Inter-SemiBold.woff") format("woff"), url("/static/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: local("Inter Bold"), local("Inter-Bold"), url("/static/fonts/Inter/Inter-Bold.woff2") format("woff2"), url("/static/fonts/Inter/Inter-Bold.woff") format("woff"), url("/static/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --main_grey: #F3F4F2;
  --primary_grey: #8D8D9C;
  --light_blue: #E6E7F1;
  --black: #0C0B2D;
  --dark_blue: #0C0B2D;
  --primary: #625EE3;
  --green: #3BE155;
  --blue: #2676F7;
  --dark_red: #732926;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.small-container {
  max-width: 1196px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .container {
    padding: 0 24px;
  }
  .small-container {
    padding: 0 24px;
  }
}
.header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
  transition: 0.2s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  transition: 0.2s;
}
.header a:hover {
  color: var(--primary) !important;
}
.header__blue-bg a {
  color: white !important;
}
.header__blue-bg svg .change-fill {
  fill: white !important;
}
.header__left {
  display: flex;
  align-items: center;
}
.header ul {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 14px;
  margin-left: 64px;
}
.header ul li {
  margin-left: 32px;
}
.header ul li:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
  .header ul {
    display: none;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.main__select-country {
  position: absolute;
  bottom: 62px;
  left: -30px;
}
.main__visa-generation {
  position: absolute;
  top: 275px;
  left: 3px;
}
.main__left {
  margin-top: 90px;
  max-width: 656px;
}
.main__left h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.33;
  max-width: 550px;
}
.main__left h1 span {
  font-weight: 500;
}
.main__left p {
  line-height: 1.5;
  margin-top: 42px;
  margin-bottom: 90px;
  max-width: 548px;
}
.main__left button, .main__left a {
  border-radius: 2px;
  border: 1px solid var(--black);
  padding: 17px 24px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.main__left button:hover .square, .main__left a:hover .square {
  animation: start 2s infinite;
}
@keyframes start {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.main__left button .square, .main__left a .square {
  width: 16px;
  height: 16px;
  background-color: var(--black);
  transform: rotate(45deg);
}
.main__left button .text, .main__left a .text {
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__left button .text .up, .main__left a .text .up {
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.main__left button .text .down, .main__left a .text .down {
  font-size: 14px;
  line-height: 1.3;
}
.main__left ul {
  margin-top: 128px;
  display: flex;
  align-items: center;
}
.main__left ul li {
  white-space: nowrap;
  margin-left: 32px;
  transition: 0.2s;
  cursor: default;
}
.main__left ul li:hover {
  transform: translateY(-10px);
}
.main__left ul li:first-child {
  margin-left: 0;
}
.main__right {
  position: relative;
  margin-left: 24px;
}
.main__right .small-circle {
  border-radius: 100%;
  background-color: var(--light_blue);
  width: 77px;
  height: 77px;
  display: block;
}
.main__right .small-circle-wrap {
  position: absolute;
  top: 80px;
  right: 0;
}
.main__right .big-circle {
  width: 154px;
  height: 154px;
  background-color: var(--light_blue);
  border-radius: 100%;
  filter: blur(2px);
  position: absolute;
  bottom: 0;
  right: -20px;
  z-index: -1;
}
.main__right .triangle {
  position: absolute;
  right: 0px;
  top: 100px;
  z-index: -1;
  width: 550px;
}
.main__right .square-img {
  position: absolute;
  left: -50px;
  top: 250px;
  z-index: -1;
  width: 827px;
}

@media (max-width: 1000px) {
  .main__left {
    margin-top: 30px;
  }
}
@media (max-width: 900px) {
  .main__left h1 {
    font-size: 40px;
  }
  .main__left p {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .main__left ul {
    margin-top: 60px;
    flex-wrap: wrap;
    max-width: 300px;
  }
  .main__left ul li {
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .main__visa-generation {
    width: 260px;
    top: 245px;
  }
  .main__visa-generation svg {
    width: 100%;
  }
  .main__select-country {
    bottom: -16px;
  }
  .main__phone {
    width: 280px;
  }
  .main__left h1 {
    font-size: 35px;
  }
  .main__left p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .main__left ul {
    margin-top: 40px;
    font-size: 15px;
    max-width: 290px;
  }
  .main__left button {
    padding: 14px 20px;
  }
  .main__left button .text {
    margin-left: 20px;
  }
}
@media (max-width: 670px) {
  .main {
    flex-direction: column;
  }
  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main__right {
    margin-left: 0;
  }
  .main__select-country {
    left: 18%;
    bottom: 80px;
    transform: translateX(-18%);
  }
  .main__visa-generation {
    left: 48%;
    top: 100px;
    transform: translateX(-50%);
    width: 340px;
  }
  .main__left h1 {
    font-size: 31px;
    max-width: 400px;
    margin: 0 auto;
  }
  .main__left h1, .main__left p {
    text-align: center;
  }
  .main__left button {
    margin: 0 auto;
  }
  .main__left ul {
    display: none;
  }
  .main__phone {
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .main__right {
    margin-top: 32px;
  }
  .main__right .triangle {
    right: 8vw;
  }
  .main__right .big-circle {
    right: 6vw;
  }
  .main__right .small-circle-wrap {
    right: 19vw;
    top: 40px;
  }
}
@media (max-width: 500px) {
  .main__right .small-circle-wrap {
    right: 12vw;
  }
  .main__right .big-circle {
    bottom: -40px;
  }
  .main__right .triangle {
    top: 200px;
    width: 350px;
  }
}
@media (max-width: 370px) {
  .main__phone {
    width: 100%;
  }
  .main__visa-generation {
    width: 100%;
  }
}
.section-video {
  margin-top: 200px;
  position: relative;
  background: url("/static/images/browser.png") no-repeat center;
  background-size: 90%;
}
.section-video__img-browser {
  display: block;
  margin: 0 auto;
  max-width: 1222px;
  width: 100%;
}
.section-video__img-questionnaire-wrap {
  margin: 0 auto;
  max-width: 65%;
  width: 100%;
  transform: translateY(110px);
  position: relative;
}
.section-video__img-questionnaire-wrap img {
  width: 100%;
}
.section-video__notification {
  max-width: 316px;
  width: 100%;
  padding: 20px 24px;
  box-shadow: 0 11px 40px 0 rgba(17, 15, 87, 0.06);
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border-bottom: 6px solid var(--green);
  position: absolute;
  top: 420px;
  left: -85px;
}
.section-video__notification .circle {
  width: 27px;
  height: 27px;
  background-color: var(--green);
  border-radius: 100%;
  position: relative;
}
.section-video__notification .circle:after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  transform: rotate(45deg);
  left: 10px;
  top: 6px;
}
.section-video__notification .text {
  margin-left: 16px;
  margin-right: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-video__notification .text p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.section-video__notification .text span {
  font-size: 12px;
  opacity: 0.45;
}
.section-video__notification .view {
  color: var(--blue);
  font-size: 12px;
  font-weight: 600;
}
.section-video__invalid {
  border-radius: 0 6px 6px 6px;
  background-color: var(--dark_red);
  font-size: 12px;
  color: white;
  padding: 10px 18px;
  display: inline-block;
}
.section-video__invalid-wrap {
  position: absolute;
  top: 330px;
  right: -67px;
}
.section-video__play {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-video__play:hover .section-video__play-hover-content {
  display: flex;
}
.section-video__play-button {
  width: 67px;
  height: 67px;
  background: rgba(98, 94, 227, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: none;
}
.section-video__play-button img {
  width: 20px;
  margin-left: 4px;
}
.section-video__play-button:hover {
  background: white;
  box-shadow: 0 11px 40px 0 rgba(17, 15, 87, 0.06);
}
.section-video__play-hover-content {
  flex-direction: column;
  align-items: flex-start;
  background: var(--primary);
  padding: 15px 24px 15px 40px;
  border-radius: 40px;
  color: white;
  font-size: 12px;
  width: 218px;
  position: absolute;
  top: 36px;
  left: 27px;
  z-index: -1;
  transition: 0.2s;
  display: none;
}
.section-video__play-hover-content p {
  margin-bottom: 4px;
  font-weight: 600;
}

@media (max-width: 1350px) {
  .section-video__img-questionnaire-wrap {
    transform: translateY(7vw);
  }
  .section-video__invalid {
    font-size: 0.9vw;
    padding: 0.7vw 1.1vw;
  }
  .section-video__invalid-wrap {
    top: 23vw;
    right: -5vw;
  }
  .section-video__notification {
    border-width: 0.5vw;
    max-width: 23.5vw;
    top: 31vw;
    bottom: auto;
    left: -7vw;
    padding: 1.5vw 1.8vw;
  }
  .section-video__notification .circle {
    width: 2vw;
    height: 2vw;
  }
  .section-video__notification .circle:after {
    top: 0.45vw;
    left: 0.8vw;
    width: 0.5vw;
    height: 1vw;
  }
  .section-video__notification .text {
    margin-left: 1vw;
    margin-right: 4vw;
  }
  .section-video__notification .text p {
    font-size: 1.04vw;
  }
  .section-video__notification .text span {
    font-size: 0.9vw;
  }
  .section-video__notification .view {
    font-size: 0.9vw;
  }
}
@media (max-width: 550px) {
  .section-video {
    background-position: left;
  }
  .section-video__img-questionnaire-wrap {
    transform: translate(-116px, 14vw);
  }
  .section-video__wrap {
    position: absolute;
    right: -70%;
  }
  .section-video__wrap-adaptive {
    position: relative;
    height: 710px;
    overflow: hidden;
  }
  .section-video__notification {
    top: 50vw;
    left: -3vw;
  }
  .section-video__play {
    top: 26%;
    left: 37%;
  }
  .section-video__play:hover .section-video__play-hover-content {
    display: none;
  }
  .section-video__play-button {
    width: 40px;
    height: 40px;
  }
  .section-video__play-button img {
    width: 14px;
  }
  .section-video__play-hover-content {
    padding: 12px 14px 12px 30px;
    width: 200px;
    top: 12px;
    left: 21px;
  }
}
@media (max-width: 480px) {
  .section-video {
    margin-top: 120px;
  }
  .section-video__wrap {
    right: -93%;
  }
  .section-video__wrap-adaptive {
    height: 610px;
  }
  .section-video__notification {
    left: 3vw;
  }
}
.future-block {
  max-width: 885px;
  width: 100%;
  margin: 200px auto 300px;
}
.future-block__suptitle {
  color: var(--primary);
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 9px;
  font-weight: 500;
  display: flex;
}
.future-block__suptitle span {
  margin-top: 8px;
  font-size: 5px;
  border: 1px solid var(--primary);
  border-radius: 100%;
  width: 13px;
  height: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.future-block__title {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 400;
  margin-bottom: 24px;
}
.future-block__title span {
  display: block;
  font-weight: 500;
}
.future-block__subtitle {
  max-width: 850px;
  font-size: 24px;
  line-height: 1.33;
}

@media (max-width: 1000px) {
  .future-block {
    margin: 200px auto 160px;
  }
  .future-block__suptitle {
    font-size: 22px;
    margin-bottom: 0;
  }
  .future-block__title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .future-block__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .future-block__title {
    font-size: 37px;
  }
  .future-block__subtitle {
    font-size: 20px;
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .future-block {
    margin: 200px auto 150px;
  }
  .future-block__suptitle {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  .future-block__suptitle span {
    transform: translateY(-10px);
    margin-top: 0;
  }
  .future-block__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 16px;
  }
  .future-block__subtitle {
    text-align: center;
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .future-block {
    margin: 150px auto 100px;
  }
}
.visa-components {
  display: flex;
}
.visa-components.small-container {
  padding: 0;
}
.visa-components__left {
  padding: 40px 32px;
  width: 50%;
  background: linear-gradient(135deg, rgba(98, 94, 227, 0.16), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));
  border-radius: 32px;
}
.visa-components__right {
  width: 50%;
  margin-left: 24px;
  margin-top: 30px;
}
.visa-components__item {
  padding: 40px 25px;
  width: 100%;
  border-radius: 32px;
  background: linear-gradient(-90deg, rgba(98, 94, 227, 0.07), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));
}
.visa-components__item + .visa-components__item {
  margin-top: 24px;
}
.visa-components__item ul {
  border-radius: 16px;
  max-width: 438px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: white;
  padding: 27px 38px;
}
.visa-components__item ul li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visa-components__item ul li span {
  font-family: "Mukta Vaani", sans-serif;
  margin-top: 14px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary_grey);
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}
.visa-components__item ul li svg {
  transition: 0.2s;
}
.visa-components__item ul li:hover span {
  color: var(--primary);
}
.visa-components__item ul li:hover svg path {
  fill: var(--primary);
}
.visa-components__title {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 500;
}
.visa-components__text {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 42px;
}
.visa-components__select {
  max-width: 438px;
  width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  background-color: white;
  box-shadow: 12px 10px 40px 0 rgba(17, 15, 87, 0.06);
}
.visa-components__selected {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  border-bottom: 1px solid rgba(141, 141, 156, 0.2);
}
.visa-components__selected span {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 600;
}
.visa-components__selected img {
  margin-right: 32px;
}
.visa-components__options {
  padding: 13px 0;
}
.visa-components__options span {
  font-family: "Mukta Vaani", sans-serif;
  color: var(--primary_grey);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  margin-left: 32px;
}
.visa-components__options ul {
  padding: 0;
}
.visa-components__options ul li {
  padding: 8px 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.visa-components__options ul li img {
  margin-right: 32px;
}
.visa-components__options ul li:hover {
  background: rgba(98, 94, 227, 0.03);
}
.visa-components__data {
  max-width: 438px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.visa-components__data-dropdown {
  padding: 6px 4px;
  background: white;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 1px;
  margin-right: -32px;
}
.visa-components__data-dropdown span {
  padding: 4px 27px 4px 11px;
}
.visa-components__data-dropdown span + span {
  background: #F7F6FD;
}
.visa-components__data-bar {
  display: flex;
  background: white;
  border-left: 2px solid var(--green);
  border-radius: 2px;
}
.visa-components__data-bar div {
  display: flex;
  align-items: center;
  padding: 14px 19px;
  border-right: 1px solid rgb(241, 242, 242);
}
.visa-components__data-bar div img {
  margin-right: 8px;
}
.visa-components__data-bar div:last-child {
  border-right: none;
}
.visa-components__action {
  background: #F7F6FD;
  width: 26px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  position: relative;
}
.visa-components__action .arrow {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 17px;
}
.visa-components__action .actions {
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 100%;
  position: relative;
}
.visa-components__action .actions:after, .visa-components__action .actions:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 100%;
  position: absolute;
}
.visa-components__action .actions:after {
  top: -7px;
}
.visa-components__action .actions:before {
  top: 7px;
}

@media (max-width: 1200px) {
  .visa-components__left {
    padding: 24px 20px;
  }
  .visa-components__title {
    font-size: 28px;
  }
  .visa-components__text {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .visa-components__data {
    transform: scale(0.8);
  }
  .visa-components__item {
    padding: 24px 20px;
  }
  .visa-components__item ul {
    padding: 20px;
    transform: scale(0.8);
  }
  .visa-components__item ul li span {
    width: 90%;
  }
  .visa-components__selected {
    padding: 24px;
  }
  .visa-components__options li {
    padding: 8px 24px !important;
  }
  .visa-components__options span {
    margin-left: 24px;
  }
}
@media (max-width: 900px) {
  .visa-components {
    flex-direction: column;
  }
  .visa-components__left, .visa-components__right {
    width: 100%;
    margin-left: 0;
  }
  .visa-components__left {
    margin-bottom: 24px;
    padding: 32px;
  }
  .visa-components__item {
    padding: 32px;
    background: linear-gradient(155deg, rgba(98, 94, 227, 0.16), rgba(98, 94, 227, 0.03), rgba(234, 235, 241, 0));
  }
  .visa-components__item ul {
    transform: scale(1);
  }
  .visa-components__data {
    transform: scale(1);
  }
}
@media (max-width: 767px) {
  .visa-components__title {
    font-size: 22px;
  }
  .visa-components__text {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .visa-components__select {
    transform: scale(0.9);
  }
  .visa-components__left {
    padding: 24px;
  }
  .visa-components__item {
    padding: 24px;
  }
  .visa-components__item ul {
    transform: scale(0.9);
  }
  .visa-components__data {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .visa-components__select {
    transform: scale(1);
  }
  .visa-components__selected {
    padding: 16px;
  }
  .visa-components__selected img {
    width: 18px;
    margin-right: 16px;
  }
  .visa-components__selected span {
    font-size: 14px;
  }
  .visa-components__options span {
    margin-left: 16px;
    font-size: 14px;
  }
  .visa-components__options li {
    padding: 6px 16px !important;
    font-size: 14px;
  }
  .visa-components__options li img {
    width: 18px;
    margin-right: 16px !important;
  }
  .visa-components__item ul {
    transform: scale(1);
    max-width: 330px;
  }
  .visa-components__item ul li svg {
    width: 16px;
  }
  .visa-components__item ul li span {
    margin-top: 4px;
    font-size: 12px;
  }
  .visa-components__data {
    transform: scale(0.7);
    max-width: 353px;
  }
  .visa-components__data-dropdown span {
    font-size: 14px;
    padding: 4px 12px 4px 10px;
  }
  .visa-components__data-bar div {
    padding: 10px 12px;
    font-size: 14px;
  }
  .visa-components__action {
    margin-left: 14px;
  }
}
@media (max-width: 400px) {
  .visa-components__item ul {
    padding: 10px;
  }
  .visa-components__item ul li span {
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .visa-components__data {
    transform: scale(0.6) translateX(10vw);
  }
}
.questionnaire-info {
  margin-top: 300px;
  margin-bottom: 150px;
  display: flex;
  color: var(--black) !important;
}
.questionnaire-info.small-container {
  padding: 0;
}
.questionnaire-info__left {
  border-radius: 32px;
  overflow: hidden;
  background: #ECEDEF;
  padding-top: 116px;
  padding-left: 32px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.questionnaire-info__left .text {
  margin-top: 112px;
  max-width: 143px;
}
.questionnaire-info__left .text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.questionnaire-info__left .text p {
  line-height: 1.5;
}
.questionnaire-info__right {
  width: 50%;
  margin-left: 24px;
  margin-top: 46px;
}
.questionnaire-info__item {
  width: 100%;
  padding: 107px 32px 32px;
  background: #ECEDEF;
  border-radius: 32px;
  margin-bottom: 10px;
}
.questionnaire-info__item h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 10px;
}
.questionnaire-info__item p {
  font-size: 24px;
  line-height: 1.33;
}
.questionnaire-info__group-item {
  display: flex;
}
.questionnaire-info__small-item {
  width: 50%;
  padding: 66px 32px 32px;
  background: #ECEDEF;
  border-radius: 32px;
}
.questionnaire-info__small-item h3 {
  color: var(--primary);
  font-size: 20px;
  line-height: 2;
  margin-bottom: 5px;
}
.questionnaire-info__small-item p {
  line-height: 1.5;
}
.questionnaire-info__small-item:last-child {
  margin-left: 24px;
}
.questionnaire-info__demo {
  max-width: 367px;
  width: 100%;
  background: white;
  border-radius: 32px 0 0 0;
  padding: 18px 32px;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: -4px -3px 20px 0 rgba(17, 15, 87, 0.05);
}
.questionnaire-info__demo-sidebar {
  padding-bottom: 145px;
}
.questionnaire-info__demo-sidebar img {
  margin-bottom: 53px;
}
.questionnaire-info__demo-sidebar .name {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.questionnaire-info__demo-sidebar .created {
  font-size: 12px;
  font-weight: 500;
  color: #747474;
}
.questionnaire-info__demo-sidebar .list-link {
  margin-top: 14px;
  padding: 0;
  margin-left: -15px;
  max-width: 175px;
}
.questionnaire-info__demo-sidebar .list-link li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.questionnaire-info__demo-sidebar .list-link li div {
  margin-right: 8px;
}
.questionnaire-info__demo-sidebar .list-link li span {
  font-size: 12px;
  font-weight: 600;
  color: #747474;
}
.questionnaire-info__demo-sidebar .list-link li:first-child, .questionnaire-info__demo-sidebar .list-link li:hover {
  background: rgba(98, 94, 227, 0.05);
}
.questionnaire-info__demo-sidebar .list-link li:first-child span, .questionnaire-info__demo-sidebar .list-link li:hover span {
  color: var(--primary);
}
.questionnaire-info__demo-sidebar .list-link li:first-child svg path, .questionnaire-info__demo-sidebar .list-link li:hover svg path {
  fill: var(--primary);
}
.questionnaire-info__demo-content {
  background: #ECEDEF;
  height: 100%;
  width: 59%;
  margin-top: 40px;
  border-radius: 12px 0 0 0;
}

@media (max-width: 1200px) {
  .questionnaire-info__left {
    padding-top: 50px;
    flex-direction: column;
    align-items: flex-end;
  }
  .questionnaire-info__left .text {
    padding-right: 32px;
    max-width: initial;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .questionnaire-info__left .text h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .questionnaire-info__left .text p {
    line-height: 1.33;
  }
  .questionnaire-info__demo {
    margin-top: 16px;
  }
  .questionnaire-info__demo-sidebar {
    padding-bottom: 80px;
  }
  .questionnaire-info__item {
    padding-top: 44px;
  }
  .questionnaire-info__item h3 {
    font-size: 20px;
  }
  .questionnaire-info__item p {
    font-size: 16px;
  }
  .questionnaire-info__group-item {
    flex-wrap: wrap;
  }
  .questionnaire-info__small-item {
    padding-top: 32px;
    width: 100%;
    margin-left: 0 !important;
  }
  .questionnaire-info__small-item:first-child {
    margin-bottom: 24px;
  }
}
@media (max-width: 1000px) {
  .questionnaire-info {
    margin-top: 160px;
  }
}
@media (max-width: 900px) {
  .questionnaire-info {
    flex-direction: column;
  }
  .questionnaire-info__left {
    width: 100%;
    flex-direction: initial;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .questionnaire-info__left .text {
    margin-top: 40px;
    width: 50%;
  }
  .questionnaire-info__left .text h3 {
    font-size: 24px;
  }
  .questionnaire-info__left .text p {
    font-size: 20px;
  }
  .questionnaire-info__right {
    margin-left: 0;
    width: 100%;
  }
  .questionnaire-info__item h3 {
    font-size: 24px;
  }
  .questionnaire-info__item p {
    font-size: 20px;
  }
  .questionnaire-info__small-item h3 {
    font-size: 24px;
  }
  .questionnaire-info__small-item p {
    font-size: 20px;
  }
  .questionnaire-info__demo {
    max-width: 300px;
  }
  .questionnaire-info__demo-content {
    height: auto;
    width: 48%;
  }
}
@media (max-width: 767px) {
  .questionnaire-info__left {
    padding-top: 32px;
  }
  .questionnaire-info__left .text h3 {
    font-size: 20px;
  }
  .questionnaire-info__left .text p {
    font-size: 16px;
  }
  .questionnaire-info__item {
    padding-top: 32px;
  }
  .questionnaire-info__item h3 {
    font-size: 20px;
  }
  .questionnaire-info__item p {
    font-size: 16px;
  }
  .questionnaire-info__small-item h3 {
    font-size: 20px;
    line-height: 1.2;
  }
  .questionnaire-info__small-item p {
    font-size: 16px;
  }
  .questionnaire-info__demo {
    max-width: 240px;
  }
  .questionnaire-info__demo-sidebar {
    padding-bottom: 32px;
  }
  .questionnaire-info__demo-sidebar .name, .questionnaire-info__demo-sidebar .created, .questionnaire-info__demo-sidebar .list-link > li > span {
    font-size: 10px;
  }
  .questionnaire-info__demo .list-link li {
    padding: 10px 16px;
  }
  .questionnaire-info__demo-content {
    width: 44%;
  }
}
@media (max-width: 600px) {
  .questionnaire-info {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .questionnaire-info__left {
    padding-left: 24px;
    margin-bottom: 30px;
  }
  .questionnaire-info__left .text h3 {
    font-size: 16px;
  }
  .questionnaire-info__left .text p {
    font-size: 14px;
  }
  .questionnaire-info__demo {
    max-width: 160px;
    padding: 18px 21px;
    padding-right: 0;
    padding-bottom: 0;
  }
  .questionnaire-info__demo-content {
    width: 17%;
  }
  .questionnaire-info__item {
    padding: 36px 24px 24px;
  }
  .questionnaire-info__item h3 {
    font-size: 16px;
  }
  .questionnaire-info__item p {
    font-size: 14px;
  }
  .questionnaire-info__small-item {
    padding: 36px 24px 24px;
  }
  .questionnaire-info__small-item h3 {
    font-size: 16px;
  }
  .questionnaire-info__small-item p {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .questionnaire-info {
    margin-top: 120px;
  }
}
@media (max-width: 390px) {
  .questionnaire-info__left {
    flex-direction: column;
    align-items: flex-end;
  }
  .questionnaire-info__left .text {
    width: 100%;
  }
  .questionnaire-info__demo {
    max-width: 260px;
  }
  .questionnaire-info__demo-content {
    width: 50%;
  }
}
.digital-process {
  background: var(--main_grey);
  border-radius: 0 0 120px 120px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  transition: 0.2s;
}
.digital-process__blue {
  background: #0C0B2D;
}
.digital-process__title {
  font-size: 56px;
  font-weight: 500;
  text-align: center;
  max-width: 884px;
  width: 100%;
  margin: 0 auto;
}
.digital-process__title span {
  background: linear-gradient(to right, rgb(98, 94, 227), rgb(55, 153, 251));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  height: 61px;
}
.digital-process__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 745px;
  width: 100%;
  padding: 0 15px;
  margin: 24px auto 0;
}
.digital-process__list .item {
  white-space: nowrap;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  color: var(--primary);
  margin-left: 16px;
}
.digital-process__list .item:first-child {
  margin-left: 0;
}
.digital-process__list .item img {
  margin-right: 8px;
}
.digital-process__list .item:nth-child(even) {
  color: var(--primary_grey);
}

@media (max-width: 1200px) {
  .digital-process {
    border-radius: 0 0 120px 120px;
  }
}
@media (max-width: 1000px) {
  .digital-process__title {
    font-size: 50px;
    max-width: 784px;
    padding: 0 15px;
  }
  .digital-process__list {
    max-width: 680px;
  }
  .digital-process__list .item {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .digital-process__title {
    font-size: 38px;
    max-width: 584px;
  }
  .digital-process__title span {
    height: 44px;
  }
  .digital-process__list {
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: center;
  }
  .digital-process__list .item {
    margin-left: 32px;
    margin-bottom: 16px;
  }
  .digital-process__list .item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .digital-process__list .item:nth-child(4) {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .digital-process {
    border-radius: 0 0 70px 70px;
  }
  .digital-process__title {
    font-size: 33px;
  }
  .digital-process__title span {
    height: 37px;
  }
  .digital-process__list {
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  .digital-process__list .item {
    margin-left: 20px;
    font-size: 14px;
  }
  .digital-process__list .item img {
    width: 18px;
    margin-right: 6px;
  }
}
.integrations {
  background: var(--main_grey);
  padding-top: 300px;
  padding-bottom: 160px;
  margin-top: -190px;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
}
.integrations:after {
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--main_grey);
  transition: 0.2s;
}
.integrations__hide-after {
  background: #0C0B2D;
}
.integrations__hide-after .integrations__header {
  color: white;
}
.integrations__hide-after .integrations__list .item {
  color: white;
}
.integrations__header {
  display: flex;
  justify-content: space-between;
}
.integrations__header-right {
  position: relative;
}
.integrations__header-right:after {
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: absolute;
}
.integrations__header-left {
  max-width: 502px;
}
.integrations__header-left h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  max-width: 396px;
}
.integrations__header-left p {
  margin-top: 26px;
  margin-bottom: 34px;
  font-weight: 300;
  line-height: 1.5;
}
.integrations__header-left button {
  font-size: 16px;
  color: var(--primary);
  padding: 14px 24px;
  border-radius: 6px;
  background: white;
  border: none;
}
.integrations__header-left button img {
  margin-right: 8px;
}
.integrations__header-right {
  max-width: 400px;
  width: 100%;
}
.integrations__list {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
.integrations__list .item {
  width: 25%;
  margin-left: 24px;
}
.integrations__list .item:first-child {
  margin-left: 0;
}
.integrations__list .item h4 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
}
.integrations__list .item p {
  line-height: 1.5;
}
.integrations__phone {
  position: relative;
  margin-top: 150px;
}
.integrations__phone-img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  width: 42%;
}
.integrations__phone .blur-circle {
  background: linear-gradient(135deg, rgb(22, 20, 82), rgb(22, 20, 82));
  width: 500px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 100%;
  z-index: 1;
  filter: blur(73px);
}
.integrations__phone-success {
  bottom: auto;
  position: absolute;
  top: 245px;
  left: 245px;
  z-index: 2;
}
.integrations__phone-success-inner {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  transform: rotate(3deg);
  position: initial;
}
.integrations__phone-success .text {
  color: white;
}
.integrations__phone-success .text span {
  opacity: 0.45;
}
.integrations__phone-info {
  max-width: 200px;
  position: absolute;
  top: 71%;
  left: 29.5%;
  z-index: 1;
}
.integrations__phone-info-inner {
  transform: translate(-50%, -50%) rotate(-8deg);
}
.integrations__phone-info .content {
  color: white;
  border-radius: 16px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  padding: 14px;
}
.integrations__phone-info .content .name {
  font-weight: 300;
  font-size: 12px;
}
.integrations__phone-info .content .document {
  opacity: 0.5;
  font-size: 10px;
  margin-top: 4px;
  padding-bottom: 6px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.integrations__phone-info .content .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.integrations__phone-info .content .data p {
  font-size: 10px;
  font-weight: 300;
}
.integrations__phone-info .content .data span {
  opacity: 0.5;
  font-size: 10px;
}
.integrations__phone-info .group-btn {
  display: flex;
  margin-top: 12px;
}
.integrations__phone-info .group-btn span {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  width: 100%;
  margin-left: 12px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 300;
  padding: 10px 0;
}
.integrations__phone-info .group-btn span:first-child {
  margin-left: 0;
}
.integrations__phone-list {
  max-width: 143px;
  width: 100%;
  position: absolute;
  top: 20%;
  right: 30.5%;
  z-index: 1;
}
.integrations__phone-list-inner {
  transform: rotate(-8deg);
}
.integrations__phone-list ul li {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  color: white;
  font-size: 10px;
  padding: 9px 14px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 8px;
}
.integrations__phone-list ul li:last-child {
  margin-bottom: 0;
  margin-top: 16px;
}
.integrations__phone-feedback {
  color: white;
  position: absolute;
  bottom: 31%;
  right: 12%;
  transform: translate(-50%, -50%) rotate(2deg);
  z-index: 1;
}
.integrations__phone-feedback .feedback {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.integrations__phone-feedback .feedback span {
  margin: 0 4px;
}
.integrations__phone-feedback .name {
  font-size: 10px;
  opacity: 0.5;
  margin-left: 14px;
  margin-top: 4px;
}
.integrations__phone-feedback .stars {
  margin-top: 8px;
  margin-left: 14px;
}
.integrations__phone-figures .circle {
  width: 123px;
  height: 123px;
  background: linear-gradient(135deg, rgb(22, 20, 82), rgba(22, 20, 82, 0));
  border-radius: 100%;
  position: absolute;
  bottom: 65%;
  right: 28%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.integrations__phone-figures .circle-small {
  width: 90px;
  height: 90px;
  right: auto;
  bottom: auto;
  top: 33%;
  left: 30%;
}
.integrations__service {
  margin-top: 130px;
  color: white;
}
.integrations__service h2 {
  font-weight: 300;
  font-size: 64px;
  max-width: 690px;
  line-height: 1.2;
}
.integrations__service ul {
  margin-top: 70px;
  max-width: 525px;
}
.integrations__service ul li {
  margin-top: 48px;
}
.integrations__service ul li h5 {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 9px;
}
.integrations__service ul li p {
  font-size: 18px;
  line-height: 1.33;
}
.integrations__service ul li:first-child {
  margin-top: 0;
}

@media (max-width: 1200px) {
  :root {
    --size: 1 ;
  }
  .integrations__phone-img {
    width: calc(41vw * var(--size));
  }
  .integrations__phone-success {
    top: 22vw;
    left: 20vw;
  }
  .integrations__phone-success-inner {
    border-radius: 0.5vw;
  }
  .integrations__phone-info {
    top: 45vw;
    left: 33vw;
  }
  .integrations__phone-info .content {
    border-radius: calc(1.2vw * var(--size));
    padding: calc(1.2vw * var(--size));
  }
  .integrations__phone-info .content .name {
    font-size: calc(1.1vw * var(--size));
  }
  .integrations__phone-info .content .document {
    font-size: calc(1vw * var(--size));
    margin-top: calc(0.3vw * var(--size));
    padding-bottom: calc(0.5vw * var(--size));
  }
  .integrations__phone-info .content .data {
    margin-top: calc(0.8vw * var(--size));
  }
  .integrations__phone-info .content .data p, .integrations__phone-info .content .data span {
    font-size: calc(0.85vw * var(--size));
  }
  .integrations__phone-info .content .data span {
    margin-left: calc(0.4vw * var(--size));
  }
  .integrations__phone-info .group-btn {
    margin-top: calc(1vw * var(--size));
  }
  .integrations__phone-info .group-btn span {
    border-radius: calc(0.85vw * var(--size));
    font-size: calc(0.85vw * var(--size));
    padding: calc(0.85vw * var(--size)) 0;
    margin-left: calc(1vw * var(--size));
  }
  .integrations__phone-list {
    top: 15vw;
    right: 28.5vw;
    max-width: calc(12vw * var(--size));
  }
  .integrations__phone-list ul li {
    font-size: calc(0.85vw * var(--size));
    padding: calc(0.8vw * var(--size)) calc(1.1vw * var(--size));
    margin-bottom: calc(0.75vw * var(--size));
    border-radius: 0.5vw;
  }
  .integrations__phone-list ul li:last-child {
    margin-top: calc(1.3vw * var(--size));
  }
  .integrations__phone-feedback {
    bottom: 20vw;
    right: 10vw;
  }
  .integrations__phone-feedback .feedback {
    font-size: calc(1vw * var(--size));
  }
  .integrations__phone-feedback .feedback img {
    width: calc(1vw * var(--size));
  }
  .integrations__phone-feedback .name {
    font-size: calc(0.85vw * var(--size));
    margin-left: calc(1.1vw * var(--size));
    margin-top: calc(0.3vw * var(--size));
  }
  .integrations__phone-feedback .stars {
    margin-top: calc(0.7vw * var(--size));
    margin-left: calc(1.1vw * var(--size));
  }
  .integrations__phone-feedback .stars img {
    width: calc(2.1vw * var(--size));
  }
  .integrations__phone-figures .circle {
    width: calc(10.3vw * var(--size));
    height: calc(10.3vw * var(--size));
    bottom: 45vw;
    right: 28vw;
  }
  .integrations__phone-figures .circle-small {
    width: calc(9.5vw * var(--size));
    height: calc(9.5vw * var(--size));
    right: auto;
    bottom: auto;
    top: 22vw;
    left: 29vw;
  }
  .integrations__phone .blur-circle {
    width: calc(50vw * var(--size));
    height: calc(50vw * var(--size));
  }
}
@media (max-width: 1000px) {
  .integrations__header-left {
    max-width: 50%;
  }
  .integrations__header-left h2 {
    font-size: 28px;
  }
  .integrations__header-left p {
    margin-top: 16px;
  }
  .integrations__header-right {
    width: 50%;
    margin-left: 32px;
  }
  .integrations__list {
    flex-wrap: wrap;
  }
  .integrations__list .item {
    width: 47%;
    margin-bottom: 32px;
  }
  .integrations__list .item:nth-child(odd) {
    margin-left: 0;
  }
  .integrations__list .item:nth-child(3), .integrations__list .item:nth-child(4) {
    margin-bottom: 0;
  }
  .integrations__service h2 {
    font-size: 50px;
  }
  .integrations__service ul {
    max-width: 425px;
  }
}
@media (max-width: 767px) {
  :root {
    --size: 1.3;
  }
  .integrations__header {
    flex-direction: column-reverse;
  }
  .integrations__header-left {
    max-width: 100%;
    margin-top: 50px;
  }
  .integrations__header-right {
    width: 80%;
    margin: 0 auto;
  }
  .integrations__service h2 {
    font-size: 37px;
    max-width: 510px;
  }
  .integrations__service ul {
    max-width: 320px;
  }
  .integrations__service ul li p {
    font-size: 16px;
  }
  .integrations__phone-info {
    top: 62vw;
    left: 27vw;
  }
  .integrations__phone-success {
    top: 30vw;
    left: 15vw;
  }
  .integrations__phone-list {
    top: 20vw;
    right: 23.5vw;
  }
  .integrations__phone-feedback {
    bottom: 27vw;
    right: -3vw;
  }
  .integrations__phone-figures .circle {
    bottom: 58vw;
    right: 19vw;
  }
  .integrations__phone-figures .circle-small {
    top: 30vw;
    left: 24vw;
  }
}
@media (max-width: 550px) {
  :root {
    --size: 1.7;
  }
  .integrations__list .item {
    max-width: 300px;
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 64px !important;
  }
  .integrations__list .item:last-child {
    margin-bottom: 0;
  }
  .integrations__phone {
    margin-top: 100px;
  }
  .integrations__phone-list {
    right: 15vw;
  }
  .integrations__phone-info {
    top: 75vw;
    left: 17vw;
  }
  .integrations__phone-success {
    left: 7vw;
  }
  .integrations__phone-feedback {
    bottom: 40vw;
    right: -14vw;
  }
  .integrations__phone-figures .circle {
    bottom: 80vw;
    right: 10vw;
  }
  .integrations__phone-figures .circle-small {
    top: 30vw;
    left: 14vw;
  }
}
.contact {
  padding: 190px 0;
  background: var(--main_grey);
}
.contact .suptitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 40px;
  color: var(--primary);
}
.contact .title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  max-width: 820px;
  margin-bottom: 105px;
  color: var(--black);
}
.contact .group-btn {
  display: flex;
  align-items: center;
}
.contact .group-btn span {
  font-size: 48px;
  line-height: 1.2;
  color: var(--primary_grey);
  margin: -20px 40px 0;
  display: block;
}
.contact .group-btn button, .contact .group-btn a {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  background: none;
  border: none;
  border-bottom: 3px solid var(--primary_grey);
  padding-right: 6px;
}
.contact .group-btn button img, .contact .group-btn a img {
  margin-left: 18px;
  transition: 0.2s;
}
.contact .group-btn button:hover img, .contact .group-btn a:hover img {
  transform: translateX(6px);
}

@media (max-width: 1000px) {
  .contact .title {
    font-size: 45px;
    max-width: 780px;
    margin-bottom: 80px;
  }
  .contact .group-btn a {
    font-size: 38px;
    padding-bottom: 6px;
  }
  .contact .group-btn span {
    font-size: 38px;
    margin: -20px 30px 0;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 150px 0;
  }
  .contact .suptitle {
    font-size: 20px;
    line-height: 1.4;
  }
  .contact .title {
    font-size: 37px;
    margin-bottom: 70px;
  }
  .contact .group-btn a {
    font-size: 29px;
    padding-bottom: 2px;
    border-width: 2px;
  }
  .contact .group-btn a img {
    width: 14px;
    margin-left: 12px;
  }
  .contact .group-btn span {
    font-size: 29px;
    margin: -10px 24px 0;
  }
}
@media (max-width: 550px) {
  .contact {
    padding: 120px 0;
  }
  .contact .suptitle {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .contact .title {
    font-size: 28px;
    margin-bottom: 44px;
  }
  .contact .group-btn a {
    font-size: 20px;
  }
  .contact .group-btn span {
    font-size: 20px;
    margin: -10px 18px 0;
  }
}
@media (max-width: 410px) {
  .contact {
    padding: 90px 0;
  }
  .contact .group-btn a {
    font-size: 14px;
  }
  .contact .group-btn a img {
    margin-left: 10px;
    width: 12px;
  }
  .contact .group-btn span {
    font-size: 16px;
    margin: -6px 14px 0;
  }
}
.footer {
  padding-bottom: 32px;
  background: var(--main_grey);
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .left a {
  font-weight: 600;
}
.footer .left a + a {
  margin-left: 28px;
}
.footer .right a {
  font-weight: 300;
  margin-left: 32px;
}
.footer .right a:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer__inner .left {
    width: 100%;
  }
  .footer__inner .right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
@media (max-width: 600px) {
  .footer__inner .left {
    display: flex;
    justify-content: center;
  }
  .footer__inner .right {
    justify-content: center;
  }
}
.data-protection {
  max-width: 1000px;
  width: 100%;
  margin: 200px auto 100px;
  padding: 0 20px;
}
.data-protection h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 120px;
}
.data-protection__item {
  margin-top: 32px;
  height: auto;
  justify-content: start;
  align-items: start;
  background: var(--main_grey);
  border: 16px solid white;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 32px;
  word-break: break-word;
}
.data-protection__item:first-child {
  margin-top: 0;
}
.data-protection__item > p {
  text-align: start;
  max-width: 100%;
  line-height: 1.4;
}
.data-protection__item > h3 {
  line-height: 1.3;
  margin-bottom: 16px;
}
.data-protection__item a {
  color: var(--primary);
}

@media (max-width: 767px) {
  .data-protection__item {
    padding: 32px;
  }
  .data-protection__item h3 {
    text-align: start;
  }
}
@media (max-width: 550px) {
  .data-protection {
    margin-top: 120px;
  }
  .data-protection h1 {
    font-size: 30px;
  }
  .data-protection__item {
    padding: 16px;
    border-width: 8px;
  }
}
@media (max-width: 400px) {
  .data-protection a {
    font-size: 12px;
  }
  .data-protection h3,
  .data-protection p {
    font-size: 15px;
  }
}
.imprint__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imprint__body .data-protection {
  margin-bottom: 0;
}
.imprint__discuss-project {
  padding: 40px 26px 26px;
  top: 40px;
  max-width: 315px;
}
.imprint__discuss-project h4 {
  font-size: 16px;
}
.imprint__discuss-project:after {
  display: none;
  background: none;
}
.imprint__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imprint__items h5 {
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 32px;
  font-size: 16px;
}
.imprint__item {
  display: flex;
  margin-bottom: 16px;
  max-width: 600px;
  width: 100%;
}
.imprint__item:last-child {
  margin-bottom: 0;
}
.imprint__item h5 {
  opacity: 1;
  max-width: 200px;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
}
.imprint__item span {
  margin-left: 80px;
  font-size: 16px;
  line-height: 1.3;
  max-width: 280px;
  width: 100%;
}
.imprint__form {
  padding: 64px 69px 50px;
  justify-content: end;
}
.imprint__content {
  margin-top: 80px;
  margin-bottom: 220px;
  background: var(--main_grey);
  border: 16px solid white;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 32px;
}

@media screen and (max-width: 1000px) {
  .imprint__form {
    padding: 64px 15px 50px;
  }
  .imprint__item span {
    margin-left: 40px;
  }
  .imprint__discuss-project {
    top: -130px;
  }
}
@media screen and (max-width: 767px) {
  .imprint__form {
    padding: 64px 24px 50px;
    max-width: 420px;
  }
  .imprint__item h5 {
    font-size: 14px;
  }
  .imprint__item span {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .imprint__content {
    padding: 16px;
    border-width: 8px;
  }
  .imprint__item {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .imprint__item h5 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .imprint__item span {
    margin-left: 0;
  }
  .imprint__discuss-project {
    padding: 20px;
    top: -100px;
    max-width: 260px;
  }
  .imprint__discuss-project h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .imprint__content {
    margin-top: 100px;
  }
}
.modal-video {
  display: none;
}
.modal-video .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
  cursor: pointer;
}
.modal-video video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-height: 100vh;
  z-index: 30;
}
.modal-video .close-btn {
  position: fixed;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  z-index: 30;
  border-radius: 100%;
  border: 1px solid var(--black);
  background: white;
  transition: 0.2s;
}
.modal-video .close-btn:hover {
  background: var(--primary);
  border-color: var(--primary);
}
.modal-video .close-btn:hover:after, .modal-video .close-btn:hover:before {
  background: white;
}
.modal-video .close-btn:active {
  background: var(--blue);
  border-color: var(--blue);
}
.modal-video .close-btn:active:after, .modal-video .close-btn:active:before {
  background: white;
}
.modal-video .close-btn:after, .modal-video .close-btn:before {
  content: "";
  display: block;
  background: var(--black);
  width: 18px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 14px;
  left: 6px;
  transition: 0.2s;
}
.modal-video .close-btn:before {
  transform: rotate(-45deg);
}
.modal-video .close-btn:after {
  transform: rotate(45deg);
}

.social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s;
  z-index: 10;
}
.social-network:hover {
  background: white;
}
.social-network span {
  font-size: 14px;
}
.social-network__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-network__list a {
  margin-top: 8px;
}
.social-network__list a:first-child {
  margin-top: 0;
}
.social-network__list a img {
  width: 30px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--main_grey);
  transition: background-color 0.2s;
  min-height: 100vh;
}

.body__blue {
  background: #0C0B2D;
  color: white !important;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style-type: none;
}

input, select, button, textarea {
  outline: none;
}

button {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
