<script>
  import {fade, scale} from 'svelte/transition';
  import {linear} from 'svelte/easing';
  import http from "$lib/http.js";
  import {page} from "$app/stores";

  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''

  export let isValidNotification = true

  const customerKey = $page.params.customer_key
  export let isShowCreateDevice = false

  let dataValue = {
    sn: '',
    title: ''
  }

  async function addDevice() {
    try {
      const response = await http.callMethod(`/customers/${customerKey}/devices`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataValue)
      })
      if (response.response.status === 200) {

      }

      switch (response.response.status) {
        case 200:
          titleNotification = 'Success'
          messageNotification = 'Device successfully added'
          break;
        case 400:
          titleNotification = 'Error'
          messageNotification = response.result
          isValidNotification = false
          break;
      }
    } catch (e) {
      console.error(e)
      isValidNotification = false
      titleNotification = 'Error'
      messageNotification = 'Failed to add the device. Try again'
    } finally {
      isShowNotification = true
      setTimeout(() => {
        isShowNotification = false
      }, 5000)
      togglePopup()
    }
  }

  function togglePopup() {
    isShowCreateDevice = !isShowCreateDevice
    if (!isShowCreateDevice) {
      dataValue.sn = ''
      dataValue.title = ''
    }
  }
</script>

{#if isShowCreateDevice}
  <button
    on:click={togglePopup} class="mask"
    on:fade={{duration: 300, easing: linear}}
    out:fade={{duration: 300, easing: linear}}
  ></button>
  <section
    class="add-device"
    on:scale={{duration: 200, start: 0.5, easing: linear}}
    out:scale={{duration: 200, start: 0.5, easing: linear}}
  >
    <button on:click={togglePopup} class="close-btn"><i class="apr
       apr-cancel_small"></i></button>
    <h2>Add device</h2>
    <form on:submit={addDevice} class="add-device__form">
      <div class="input">
        <label for="">Serial Number</label>
        <input
          bind:value={dataValue.sn}
          type="text"
          placeholder="Serial Number"
        >
      </div>
      <div class="input">
        <label for="">Title</label>
        <input
          bind:value={dataValue.title}
          type="text"
          placeholder="Title"
        >
      </div>
      <button class="button-add">
        Add +
      </button>
    </form>
  </section>
{/if}

<style lang="scss">
  .add-device {
    padding: 32px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    z-index: 100;

    .close-btn {
      position: absolute;
      right: 24px;
      top: 24px;
    }

    &__form {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .input + .input {
        margin-top: 16px;
      }

      button {
        margin-top: 16px;
      }
    }
  }
</style>