<template>
  <div class="er404">
    <MainTemplate>
      <div class="er404-container d-flex flex-column align-items-center justify-content-center">
        <div>
          <h1 class="h1">404</h1>
          <p>Page not found</p>
          <Button
            label="Go back"
            class="p-button-outlined"
            @click="$router.go(-1)"/>
        </div>
      </div>
    </MainTemplate>
  </div>
</template>

<script>
import MainTemplate from '@/components/templates/MainTemplate.vue';

export default {
  components: {
    MainTemplate,
  },
};
</script>

<style lang="scss" scoped>
.er404-container {
  min-height: calc(100vh - 9.75rem);
  text-align: center;

  .h1 {
    font-size: 7rem;
    line-height: 7rem;
    margin: 1rem 0;
    padding: 0;
    color: #5d8ab9;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: .5;
  }
  p {
    padding: 0;
  }
}

@keyframes pulsate {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
</style>
