<template>
  <div class="create">
    <MainTemplate>
      <div class="create-container d-flex flex-column align-items-center justify-content-center">
        <div class="create-form w-100" v-if="step === 1">
          <p>What do you want to create?</p>
          <Dropdown
            :options="type.list"
            v-model="type.current"
            class="w-100">
            <template #value="slotProps">
              <span>
                <i :class="slotProps.value.icon" style="margin-right: .5rem;"></i>
                {{ slotProps.value.title }}
              </span>
            </template>
            <template #option="slotProps">
              <span>
                <i :class="slotProps.option.icon" style="margin-right: .5rem;"></i>
                {{ slotProps.option.title }}
              </span>
            </template>
          </Dropdown>
          <div class="d-flex justify-content-between" style="margin-top: 1rem;">
            <Button
              label="Back"
              icon="pi pi-angle-left"
              class="p-button-outlined"
              @click="$router.push('/')"/>
            <Button
              label="Next"
              icon="pi pi-angle-right"
              @click="step = 2"
              v-if="type.current.title === 'Wallet'"/>
            <Button
              label="Create"
              :icon="!data.loading ? 'pi pi-plus' : 'pi pi-spin pi-spinner'"
              @click="create('account')"
              :disabled="data.loading"
              v-else/>
          </div>
        </div>
        <div class="create-form w-100" v-else-if="step === 2">
          <p>Please, choose currency</p>
          <Dropdown
            :options="currencies.list"
            v-model="currencies.current"
            class="w-100"
            v-if="currencies">
            <template #value="slotProps">
              <div class="d-flex align-items-center">
                <img
                  :src="getImgSrc(slotProps.value.abbr)"
                  :alt="slotProps.value.abbr"
                  style="margin-right: .2rem; height: 1rem;">
                <span>{{ slotProps.value.name }}</span>
              </div>
            </template>
            <template #option="slotProps">
              <div class="d-flex align-items-center">
                <img
                  :src="getImgSrc(slotProps.option.abbr)"
                  :alt="slotProps.option.abbr"
                  style="margin-right: .2rem; height: 1rem;">
                <span>{{ slotProps.option.name }}</span>
              </div>
            </template>
          </Dropdown>
          <Dropdown placeholder="Loading..." :loading="true" class="w-100" v-else/>
          <div class="d-flex justify-content-between" style="margin-top: 1rem;">
            <Button
              label="Back"
              icon="pi pi-angle-left"
              class="p-button-outlined"
              @click="step = 1"/>
            <Button
              label="Next"
              icon="pi pi-angle-right"
              :disabled="!currencies"
              @click="step = 3"/>
          </div>
        </div>
        <div class="create-form w-100" v-else-if="step === 3">
          <Dialog
              v-model:visible="displayProcessingFee"
              style="width: 450px;"
              v-if="currencies.current">
            <template #header>
              <h3>Processing Fee</h3>
            </template>
            <div>
              <DataTable
                :value="Object.values(currencies.current['processing-fee'])"
              >
                <Column style="background: #f8f9fa;">
                  <template #body="{ data }">
                    <strong style="flex: 0 0 100%;">
                      <i :class="data.icon" style="margin-right: .5rem;"></i>
                      {{ data.title }}
                    </strong>
                  </template>
                </Column>
                <Column header="Forwarding">
                  <template #body="{ data }">
                    <div v-if="isNaN(data.forwarding)">{{ data.forwarding }}</div>
                    <div class="amount" v-else>
                      <span>{{ Number((data.forwarding *
                        data['units-factor'])
                        .toFixed(data.toFixed)) }}</span>
                      <span class="currency">
                        {{ formatCurrency(data.abbr) }}
                      </span>
                    </div>
                  </template>
                </Column>
                <Column header="Regular">
                  <template #body="{ data }">
                    <div v-if="isNaN(data.regular)">{{ data.regular }}</div>
                    <div class="amount" v-else>
                      <span>{{ Number((data.regular *
                        data['units-factor'])
                        .toFixed(data.toFixed)) }}</span>
                      <span class="currency">
                        {{ formatCurrency(data.abbr) }}
                      </span>
                    </div>
                  </template>
                </Column>
              </DataTable>
            </div>
          </Dialog>
          <p>
            Please, choose the Processing Fee Policy
            <Button
              class="p-button-text"
              style="padding: 0; transform: translateY(-0.5rem); width: unset; box-shadow: unset;"
              icon="pi pi-info-circle"
              @click="displayProcessingFee = true"
            />
          </p>
          <Dropdown
            :options="policies.list"
            v-model="policies.current"
            class="w-100"
          >
            <template #value="slotProps">
              <div>
                <span><i :class="slotProps.value.icon"></i> {{ slotProps.value.name }}</span>
              </div>
            </template>
            <template #option="slotProps">
              <div>
                <span><i :class="slotProps.option.icon"></i> {{ slotProps.option.name }}</span>
              </div>
            </template>
          </Dropdown>
          <div class="d-flex justify-content-between" style="margin-top: 1rem;">
            <Button
              label="Back"
              icon="pi pi-angle-left"
              class="p-button-outlined"
              @click="step = 2"/>
            <Button
              label="Create"
              :icon="(currencies && !data.loading) ? 'pi pi-plus' : 'pi pi-spin pi-spinner'"
              @click="create('wallet')"
              :disabled="!currencies || data.loading"/>
          </div>
        </div>
        <div class="create-form w-100" v-else-if="step === 4">
          <div class="create-response w-100 text-center">
            <h2>{{ capitalizedType }} ID</h2>
            <p>{{ data.response.id }}</p>
            <h2>Transfer key</h2>
            <p>{{ data.response.key }}</p>
          </div>
          <div class="d-flex justify-content-center">
            <CopyButton
              :label="`Copy ${capitalizedType} ID and Transfer key`"
              :text="`${data.response.id} : ${data.response.key}`"/>
          </div>
          <div class="d-flex align-items-center">
            <InputSwitch v-model="isConfirmed" style="margin-right: 1rem; min-width: 3rem;"/>
            <p>
              I know that I can lose money if I lost my {{ capitalizedType }} ID and Transfer key
            </p>
          </div>
          <div class="d-flex justify-content-center" style="margin-top: 1rem;">
            <Button
              :disabled="!isConfirmed"
              label="Log in"
              :icon="isConfirmed ? 'pi pi-sign-in' : 'pi pi-lock'"
              @click="$router.push(`/${data.response.type}/${data.response.id}`)"/>
          </div>
        </div>
      </div>
    </MainTemplate>
  </div>
</template>

<script>
import MainTemplate from '@/components/templates/MainTemplate.vue';
import CopyButton from '@/components/buttons/CopyButton.vue';

export default {
  components: {
    MainTemplate,
    CopyButton,
  },
  data() {
    return {
      step: 1,
      type: {
        current: {
          title: 'Account',
          icon: 'pi pi-user',
          watch_only: false,
        },
        list: [
          {
            title: 'Account',
            icon: 'pi pi-user',
            watch_only: false,
          },
          {
            title: 'Wallet',
            icon: 'pi pi-wallet',
            watch_only: false,
          },
        ],
      },
      currencies: null,
      policies: {
        list: [
          {
            name: 'Fixed',
            value: 'fixed',
            icon: 'pi pi-tag',
          },
          {
            name: 'Percentage',
            value: 'percentage',
            icon: 'pi pi-percentage',
          },
        ],
        current: {
          name: 'Fixed',
          value: 'fixed',
          icon: 'pi pi-tag',
        },
      },
      data: {
        loading: false,
        response: null,
      },
      isConfirmed: false,
      displayProcessingFee: false,
    };
  },
  computed: {
    capitalizedType() {
      const { type } = this.data.response;
      return type.charAt(0).toUpperCase() + type.slice(1);
    },
  },
  mounted() {
    const { showNonCustodial } = this.$store.state;
    if (showNonCustodial === 'true') {
      this.type.list.push({
        title: 'Non-Custodial Account',
        icon: 'pi pi-key',
        watch_only: true,
      });
    }
    this.$axios
      .options('/api/v2/wallets')
      .then((response) => {
        const { currencies } = response.data;
        currencies.forEach((currency) => {
          const toFixed = (1 / currency['units-factor']).toString().length - 1;
          const pricing = currency['processing-fee'];
          if (pricing?.fixed && pricing?.percentage) {
            Object.assign(currency, {
              'processing-fee': {
                fixed: Object.assign(pricing.fixed, {
                  toFixed,
                  'units-factor': parseFloat(currency['units-factor']),
                  title: 'Fixed',
                  icon: 'pi pi-tag',
                  abbr: currency.abbr.toUpperCase(),
                }),
                percentage: Object.assign(pricing.percentage, {
                  toFixed,
                  'units-factor': parseFloat(currency['units-factor']),
                  title: 'Percentage',
                  icon: 'pi pi-percentage',
                  abbr: currency.abbr.toUpperCase(),
                }),
              },
            });
          }
        });
        this.currencies = {
          current: currencies[0],
          list: currencies,
        };
      });
  },
  methods: {
    create(type) {
      this.data.loading = true;
      let requestData = {
        watch_only: this.type.current.watch_only,
      };
      if (type === 'wallet') {
        requestData = Object.assign(requestData, {
          currency: this.currencies.current.abbr,
          processing_fee_policy: this.policies.current.value,
        });
      }
      this.$axios
        .post(`/api/v2/${type}s`, requestData)
        .then((response) => {
          this.data.response = {
            id: response.data[type],
            key: response.data.transfer_key || response.data['transfer-key'],
            type,
          };
          this.data.loading = false;
          this.step = 4;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.create-container {
  min-height: calc(100vh - 9.75rem);
}

.create-form {
  max-width: 28rem;
  >p {
    text-align: center;
  }
}

.create-response {
  padding: .5rem;
  border: 0.0625rem solid rgba(#5d8ab9, .5);
  border-radius: 3px;
  margin-bottom: 1rem;
  h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
    @media (max-width: 440px) {
      font-size: 1rem;
    }
  }
  p {
    margin: 1rem 0;
    @media (max-width: 440px) {
      font-size: 4vw;
    }
  }
}
</style>
