<template>
  <div class="home">
    <MainTemplate>
      <div class="home-container d-flex flex-column align-items-center justify-content-center">
        <div class="home-form w-100">
          <AutoComplete
            :class="[!error || 'p-invalid', 'w-100']"
            v-model="value"
            :suggestions="filteredIds"
            placeholder="Wallet or Account ID"
            @input="error = false"
            :dropdown="idsList.length < 1 ? false : true"
            @complete="searchId($event)"
            @keyup.enter="logIn"
            @item-select="onSelectId($event)">
            <template #item="slotProps">
              <div class="d-flex align-items-center">
                <img
                  style="margin-right: .5rem; height: 1rem;"
                  :alt="slotProps.item.abbr"
                  :src="slotProps.item.imgSrc"/>
                <span>{{ slotProps.item.login }}</span>
              </div>
            </template>
          </AutoComplete>
          <div class="d-flex justify-content-between" style="margin-top: 1rem;">
            <Button
              label="Create now"
              icon="pi pi-plus"
              class="p-button-outlined"
              @click="$router.push('/create')">
            </Button>
            <Button
              label="Log in"
              :icon="!loading ? 'pi pi-sign-in' : 'pi pi-spin pi-spinner'"
              :disabled="loading"
              @click="logIn">
            </Button>
          </div>
        </div>
      </div>
    </MainTemplate>
  </div>
</template>

<script>
import MainTemplate from '@/components/templates/MainTemplate.vue';

export default {
  components: {
    MainTemplate,
  },
  data() {
    return {
      error: false,
      value: '',
      loading: false,
      idsList: [],
      filteredIds: null,
    };
  },
  watch: {
    '$store.state.idsListKey': {
      handler() {
        this.getIds();
      },
    },
  },
  mounted() {
    this.getIds();
  },
  methods: {
    logIn() {
      const id = this.value.replace(/\s/g, '');
      this.error = false;
      if (!this.loading) {
        this.loading = true;
        const type = id.slice(0, 4) === 'apr-' ? 'account' : 'wallet';
        this.$axios
          .get(`/api/v2/${type}s/${id}`)
          .then((response) => {
            if (response) {
              this.$router.push(`/${type}/${response.data[type]}`);
              this.error = false;
            }
          })
          .catch(() => {
            this.error = true;
          })
          .then(() => {
            this.loading = false;
          });
      }
    },
    isJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },
    searchId(event) {
      if (!event.query.trim().length) {
        this.filteredIds = [...this.idsList];
      } else {
        this.filteredIds = this.idsList.filter(
          (id) => id.login.toLowerCase().includes(event.query.toLowerCase()),
        );
      }
    },
    onSelectId(event) {
      this.value = event.value.login;
      this.logIn();
    },
    getIds() {
      this.idsList = [];
      Object.entries(localStorage).forEach((localStorageItem) => {
        const localStorageItemValue = this.isJsonString(localStorageItem[1])
          ? JSON.parse(localStorageItem[1])
          : null;
        let abbr = null;
        let login = null;
        if (localStorageItemValue?.login) {
          login = localStorageItemValue.login;
          abbr = login.split('-')?.[0];
        } else {
          const localStorageItemPrefix = localStorageItem?.[0]?.split('-')[0];
          if (localStorageItemPrefix === 'ticker' || localStorageItemPrefix === 'cb' || localStorageItemPrefix === 'd') {
            login = localStorageItem?.[0].replace(`${localStorageItemPrefix}-`, '');
            const loginArray = login.split('-');
            if (loginArray.length === 3) {
              login = `${loginArray?.[0]}-${loginArray?.[1]}`;
            }
            abbr = loginArray?.[0];
          }
        }
        if (login && abbr) {
          this.idsList.push({
            login,
            abbr,
            imgSrc: this.getImgSrc(abbr),
          });
        }
      });
      this.idsList.sort((a, b) => b.auth - a.auth);
      this.idsList = this.idsList.filter(
        (item, index, self) => index === self.findIndex(
          (obj) => (obj.login === item.login),
        ),
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.home-container {
  min-height: calc(100vh - 9.75rem);
}

.home-form {
  max-width: 28rem;
}
</style>

<style lang="scss">
.w-100 .p-autocomplete-input {
  width: 100%;
}
</style>
