<script>
  import Logo from "$components/Logo.svelte";
  import Notification from "$components/parts/Notification.svelte";
  import http from "$lib/http.js";
  import {goto} from '$app/navigation';

  let login = ''

  const notification = {
    show: false,
    title: '',
    message: '',
    isValid: true
  }


  async function authenticate(user) {
    if (login === '') {
      return;
    }
    const data = await http.callMethod(`/customers/${user}/slots?date=20240125`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    switch (data.response.status) {
      case 200:
        goto(`slots/${login}/`)
        break;
      case 400:
        notification.show = true
        notification.title = 'Error'
        notification.message = data.result
        notification.isValid = false
        break;
      case 404:
        notification.show = true
        notification.title = 'Error'
        notification.message = 'Page not found'
        notification.isValid = true
        break;
      case 500:
        notification.show = true
        notification.title = 'Error'
        notification.message = 'Cannot connect to the server.'
        notification.isValid = true
        break;
    }
    setTimeout(() => {
      notification.show = false
      notification.isValid = false
    }, 5000)
  }
</script>

<section class="auth">
  <svelte:component
    this={Notification}
    title={notification.title}
    isShow={notification.show}
    message={notification.message}
    isValid={notification.isValid}
  />
  <div class="auth__inner">
    <svelte:component this={Logo} width={250}/>
    <h1>Authorization</h1>
    <form on:submit={authenticate(login)}>
      <div class="input">
        <label for="">Login</label>
        <input
          bind:value={login}
          type="text"
          placeholder="Login"
        >
      </div>
      <button>
        Log in
      </button>
    </form>
  </div>
</section>

<style lang="scss">
  :global {
    @import "static/styles/app.scss";
  }

  .auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__inner {
      border: 1px solid var(--black);
      padding: 32px;
      max-width: 464px;
      border-radius: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--linear-primary);

      h1 {
        font-weight: 500;
        color: var(--grey-dark);
        font-size: 20px;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 32px;

        button {
          padding: 8px 16px;
          background: var(--blue);
          color: white;
          border: none;
          border-radius: var(--radius);
          margin-top: 16px;
        }
      }
    }
  }
</style>