<script>
  export let width = 392
  export let height = 74
</script>

<svg viewBox="0 0 392 74" width={width} height={height} fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M33.45 59.023c5.246 0 8.715-.233 10.405-.698 1.224-.349 1.836-.989 1.836-1.92 0-.929-.581-1.6-1.749-2.006-1.693-.524-5.19-.873-10.491-1.047-13.465-.41-22.558-1.98-27.28-4.712C2.209 46.313.227 42.212.227 36.338c0-5.646 2.332-9.747 6.995-12.303 5.246-2.853 13.99-4.278 26.23-4.275 12.185 0 20.782 1.657 25.792 4.973 4.372 2.909 6.557 7.65 6.557 14.222H44.817c0-1.745-.67-2.908-2.011-3.49-1.457-.582-4.576-.873-9.355-.873-5.246 0-8.715.233-10.405.699-1.224.349-1.836.988-1.836 1.92 0 .872.612 1.453 1.836 1.744 1.516.407 4.984.698 10.405.873 13.464.523 22.528 2.123 27.191 4.798 4.022 2.269 6.033 6.34 6.033 12.216 0 5.64-2.332 9.798-6.995 12.477-5.301 3.025-14.044 4.537-26.23 4.537-12.295 0-21.039-1.658-26.23-4.974C2.559 65.916.227 61.175.227 54.66H21.21c0 1.8.641 2.964 1.924 3.49 1.518.58 4.957.87 10.317.873zm58.318-8.725c1.399 5.235 5.858 7.852 13.377 7.852 5.421 0 9.297-1.454 11.628-4.362h22.47c-3.092 13.379-14.458 20.068-34.098 20.068-11.427 0-20.17-2.385-26.23-7.155-5.829-4.653-8.743-11.284-8.743-19.893 0-8.61 2.915-15.24 8.743-19.894 6.06-4.772 14.802-7.157 26.23-7.154 11.48 0 20.223 2.385 26.23 7.154 5.828 4.654 8.743 11.285 8.743 19.894 0 .523-.031 1.103-.088 1.745l-.262 1.745h-48zm13.377-14.833c-6.761 0-11.075 2.036-12.94 6.108h25.88c-1.865-4.07-6.179-6.105-12.94-6.108zm40.219-32.283h20.983v69.801h-20.983V3.182zm100.547 17.45v52.351h-20.984v-34.9h-20.984v34.9h-20.984v-34.9h-12.24v-17.45h12.24c0-7.504 2.711-12.71 8.132-15.619 5.595-2.966 15.708-4.45 30.339-4.45 3.205 0 7.023.117 11.453.35 4.429.23 7.226.436 9.53.785-10.054-.816-9.591 14.784 0 15.356-1.394-.148-4.402-.35-8.481-.524-4.078-.174-7.374-.261-9.879-.261-7.869 0-13.115.29-15.738.872-2.448.582-3.818 1.745-4.11 3.49h41.706zm27.716 29.666c1.399 5.235 5.858 7.852 13.377 7.852 5.42 0 9.297-1.454 11.628-4.362h22.47c-3.089 13.379-14.455 20.068-34.098 20.068-11.428 0-20.171-2.385-26.23-7.155-5.829-4.653-8.743-11.284-8.743-19.893 0-8.61 2.914-15.24 8.743-19.894 6.059-4.772 14.802-7.157 26.23-7.154 11.48 0 20.223 2.385 26.229 7.154 5.829 4.654 8.744 11.285 8.744 19.894 0 .523-.031 1.103-.088 1.745l-.262 1.745h-48zm13.377-14.833c-6.765 0-11.078 2.036-12.94 6.108h25.88c-1.866-4.07-6.179-6.105-12.94-6.108zm71.69 23.558c5.246 0 8.714-.233 10.404-.698 1.224-.349 1.836-.989 1.836-1.92 0-.929-.581-1.6-1.748-2.006-1.688-.524-5.185-.873-10.492-1.047-13.465-.41-22.558-1.98-27.279-4.712-3.961-2.327-5.943-6.428-5.946-12.302 0-5.646 2.332-9.747 6.995-12.303 5.246-2.853 13.989-4.278 26.23-4.275 12.185 0 20.782 1.657 25.792 4.973 4.372 2.909 6.558 7.65 6.558 14.222H370.06c0-1.745-.669-2.908-2.007-3.49-1.457-.582-4.577-.873-9.359-.873-5.246 0-8.714.233-10.405.699-1.219.349-1.836.99-1.836 1.92 0 .928.617 1.452 1.836 1.744 1.519.407 4.987.698 10.405.873 13.464.523 22.528 2.123 27.191 4.798 4.025 2.269 6.036 6.34 6.033 12.216 0 5.64-2.332 9.798-6.995 12.477-5.301 3.025-14.044 4.537-26.229 4.537-12.296 0-21.039-1.658-26.23-4.974-4.663-2.966-6.995-7.707-6.995-14.222h20.984c0 1.8.643 2.964 1.928 3.49 1.513.58 4.95.87 10.313.873z"
    fill="#231F20"/>
  <path
    d="M245.159 4.242a3.564 3.564 0 0 0-2.256-.615 3.572 3.572 0 0 0-2.251.615 2.06 2.06 0 0 0-.748 1.71 2.058 2.058 0 0 0 .748 1.706c.661.453 1.455.67 2.255.615a3.631 3.631 0 0 0 2.252-.615 2.074 2.074 0 0 0 .752-1.71 2.05 2.05 0 0 0-.752-1.706zm0 6.906a3.565 3.565 0 0 0-2.256-.615 3.572 3.572 0 0 0-2.251.615 2.318 2.318 0 0 0-.747 1.708 2.317 2.317 0 0 0 .747 1.708c.661.453 1.455.67 2.255.615a3.631 3.631 0 0 0 2.252-.615 2.317 2.317 0 0 0 .751-1.71 2.326 2.326 0 0 0-.751-1.71v.004z"
    fill="#231F20"/>
</svg>

