<script>

  import Header from "$components/parts/Header.svelte";
  import Sidebar from "$components/parts/Sidebar.svelte";
</script>

<section class="page-layout">
  <svelte:component this={Header}/>
  <div class="container page-layout__content">
    <svelte:component this={Sidebar}/>
    <main class="page-layout__main">
      <slot></slot>
    </main>
  </div>
</section>

<style lang="scss">
  :global {
    @import "static/styles/app.scss";
  }

  .page-layout {
    :global {
      h1 {
        font-size: 32px;
        position: relative;
        display: inline-block;
        margin-bottom: 32px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          width: calc(100% + 32px);
          height: 2px;
          background: var(--blue);
        }
      }
    }

    &__content {
      display: flex;
      align-items: flex-start;
    }

    &__main {
      //background: #fbfbfb;
      //box-shadow: 0 0 9px 6px rgba(0, 0, 0, 0.1);
      padding: 32px;
      width: 100%;
      margin-top: 32px;
      border-radius: 10px;
      min-height: calc(100vh - 122px);
    }
  }
</style>