<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo-white.svg') }}" alt="">
                </a>
                <span class="footer__link">
                    Der schnellste Weg <br>
                    zum Visum
                </span>
            </div>
            <div class="footer__item">
                <div class="footer__column">
                    <h3 class="footer__title">
                        ADRESSE
                    </h3>
                    <span class="footer__link">
                        Los Angeles
                    </span>
                    <span class="footer__link">
                        44444 New York
                    </span>
                    <a href="tel:+49(0)6946908163" class="footer__link">+49 (0) 99 99 99 99</a>
                    <a href="mailto:info@uaevisa.de" class="footer__link">info@info.de</a>
                </div>
                <div class="footer__column">
                    <h2 class="footer__title">LINKS</h2>
                    <a href="/price/" class="footer__link">Preise</a>
                    <a href="/faq/" class="footer__link">FAQs</a>
                    <a href="/visa_information/" class="footer__link">Bedingungen</a>
                </div>
                <div class="footer__column">
                    <h2 class="footer__title">RECHTLICHES</h2>
                    <a id="btnAgb" href="/agb/" class="footer__link">AGB</a>
                    <a id="btnImprint" href="/imprint/" class="footer__link">Impressum</a>
                    <a id="btnDataProtection" href="/data_protection/" class="footer__link">Datenschutz</a>
                    <a id="btnCancellationPolicy" href="/cancellation_policy/" class="footer__link">Widerrufsbelehrung</a>
                </div>
            </div>
        </div>
    </div>
</footer>
