<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__container-adaptive" id="logoContainer">
                <div class="header__burger" id="sidebarBurger">
                    <span></span>
                </div>
                <a href="/" class="header__logo">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                </a>
            </div>
            <div class="header__items">
                <a class="header__covid" href="/visa_information/">COVID-19 NEWS</a>
                <div class="header__sidebar" id="sidebar">
                    <a class="header__link" href="/visa_information/">ABOUT VISA</a>
                    <a class="header__link" href="/price/">PREISE</a>
                    <a class="header__link" href="/faq/">FAQ</a>
                    <a href="/visa_information/" class="header__link header__covid-sidebar">COVID-19 NEWS</a>
                    <a class="header__lang" href="#">DE</a>
                </div>
                <a id="cart" class="header__basket" href="#">
                    <img src="{{ url_for('static', filename='images/basket.svg') }}" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
