<form method="post" action="" class="modal-start" id="modalStartPage">
    <a id="closeModal" href="#" class="--modal-link-close"></a>
    <div class="modal-start__text">
        <a href="#" class="modal-start__title">
            <img src="{{ url_for('static', filename='images/modal-arrow.svg') }}" alt="">
            Bestellvorgang
        </a>
        <div class="modal-start__price">
            Gesamtsumme:
            <span id="totalPrice">220 EUR</span>
        </div>
    </div>

    {#  =================================  #}
    {#  ModalStart  #}
    {#  =================================  #}

    <div style="width: 100%;">
        <div id="modalStartContainer" class="modal-start__content">
            <div class="need-visa-main__first-block modal-start__first-block">
                <div class="modal-start__circle need-visa-main__circle modal-circle-one --active-circle-primary"></div>
                <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
                <div class="modal-start__circle need-visa-main__circle modal-circle-two"></div>
                <div class="modal-start__line need-visa-main__line modal-start__line"></div>
                <div class="modal-start__circle need-visa-main__circle modal-circle-three"></div>
                <div class="modal-start__line need-visa-main__line modal-start__line"></div>
                <div class="modal-start__circle need-visa-main__circle modal-circle-four"></div>
            </div>
            <div class="modal-start__radio-list">
                <div class="modal-start__radio-item" id="stylizedRadioTourismStandard">
                    <div class="modal-start__radio">
                        <input type="radio" id="radioTourismStandard" name="radioTypeVisa">
                        <label for="radioTourismStandard"></label>
                    </div>
                    <div class="modal-start__adaptive-text">
                        <span id="titleTourismNormal" class="modal-start__radio-title">Tourismus normal</span>
                        <div class="modal-start__adaptive-duration-visa">
                            <span class="modal-start__radio-text">30 Tage Aufenthalt</span>
                            <span class="modal-start__radio-text">7 Werktage Bearbeitung</span>
                        </div>
                    </div>
                    <span id="modalPriceTourismNormal" class="modal-start__radio-price">149 EUR</span>
                </div>
                <div class="modal-start__radio-item" id="stylizedRadioTourismExpress">
                    <div class="modal-start__radio">
                        <input type="radio" id="radioTourismExpress" name="radioTypeVisa">
                        <label for="radioTourismExpress"></label>
                    </div>
                    <div class="modal-start__adaptive-text">
                        <span id="titleTourismExpress" class="modal-start__radio-title">Tourismus express</span>
                        <div class="modal-start__adaptive-duration-visa">
                            <span class="modal-start__radio-text">30 Tage Aufenthalt</span>
                            <span class="modal-start__radio-text">2 Werktage Bearbeitung</span>
                        </div>
                    </div>
                    <span id="modalPriceTourismExpress" class="modal-start__radio-price">
                        220 EUR
                    </span>
                </div>
                <div class="modal-start__radio-item" id="stylizedRadioBusinessStandard">
                    <div class="modal-start__radio">
                        <input type="radio" id="radioBusinessStandard" name="radioTypeVisa">
                        <label for="radioBusinessStandard"></label>
                    </div>
                    <div class="modal-start__adaptive-text">
                        <span id="titleBusinessNormal" class="modal-start__radio-title">Business normal</span>
                        <div class="modal-start__adaptive-duration-visa">
                            <span class="modal-start__radio-text">30 Tage Aufenthalt</span>
                            <span class="modal-start__radio-text">7 Werktage Bearbeitung</span>
                        </div>
                    </div>
                    <span id="modalPriceBusinessNormal" class="modal-start__radio-price">199 EUR</span>
                </div>
                <div class="modal-start__radio-item" id="stylizedRadioBusinessExpress">
                    <div class="modal-start__radio">
                        <input type="radio" id="radioBusinessExpress" name="radioTypeVisa">
                        <label for="radioBusinessExpress"></label>
                    </div>
                    <div class="modal-start__adaptive-text">
                        <span id="titleBusinessExpress" class="modal-start__radio-title">Business express</span>
                        <div class="modal-start__adaptive-duration-visa">
                            <span class="modal-start__radio-text">30 Tage Aufenthalt</span>
                            <span class="modal-start__radio-text">2 Werktage Bearbeitung</span>
                        </div>
                        <span id="modalPriceBusinessExpress" class="modal-start__radio-price">350 EUR</span>
                    </div>
                </div>
            </div>
            <div class="modal-start__document-upload">
                <span class="modal-start__document-title">Bitte lade folgende Dokumente hoch</span>
                <div class="modal-start__document-list">
                    <div class="modal-start__document-item">
            <span class="modal-start__document-format">
                Zulässige Formate: <span>JPG, PNG, PDF</span>
            </span>
                        <span class="modal-start__document-format modal-start__adaptive-document-format">Max. Datengröße: <span>4 MB pro Dokument</span></span>
                        <div class="modal-start__document-file">
                            <div id="filePassport" class="modal-start__content-file">
                                <img style="height: 55px;"
                                     src="{{ url_for('static', filename='images/modal-start-doc-1.svg') }}" alt="">
                                <span class="modal-start__document-name">Reisepass</span>
                                <span class="modal-start__document-description">(Fotoseite des Reisepasses)</span>
                            </div>

                            <div class="modal-start__file-img">
                                <img id="passportImg" src="#" alt=""/>
                                <div class="modal-start__file-link">
                                    <label for="passportInput">Datei wählen</label>
                                    <input type="file" name="pic[]" class="photo" id="passportInput"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-start__document-item">
            <span class="modal-start__document-format modal-start__desktop-document-format">
                Max. Datengröße: <span>4 MB pro Dokument</span>
            </span>
                        <div class="modal-start__document-file">
                            <div id="filePhotoPassport" class="modal-start__content-file">
                                <img src="{{ url_for('static', filename='images/modal-start-doc-2.svg') }}" alt="">
                                <span class="modal-start__document-name">Passbild</span>
                                <span class="modal-start__document-description">(Nicht älter als 6 Monate)</span>
                            </div>
                            <div class="modal-start__file-img">
                                <img id="photoPassportImg" src="#" alt=""/>
                                <div class="modal-start__file-link">
                                    <label for="photoPassportInput">Datei wählen</label>
                                    <input type="file" name="pic[]" class="photo" id="photoPassportInput"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-start__group-btn">
                <button type="button" id="startPageCancel" class="--modal-btn-cancel">
                    ABBRECHEN
                </button>
                <button id="startPageNext" name="next_modal" type="button" class="--modal-btn-next" style="margin-left: 32px;">
                    WEITER
                    <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
                </button>
            </div>
        </div>
    </div>

    {#  ====================================  #}
    {#  Modal Order Process  #}
    {#  ====================================  #}

    <div id="modalQuestionnaire" style="display: none" class="modal-order-process">
        <div class="need-visa-main__first-block modal-start__first-block">
            <div class="modal-start__circle need-visa-main__circle modal-circle-one --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-two --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-three"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-four"></div>
        </div>
        <div style="width: 100%;">
            <div class="modal-order-process__list">
                <h2 class="modal-order-process__title">
                    <img src="{{ url_for('static', filename='images/modal-order-process-1.svg') }}" alt="">
                    Angaben zur Reise
                </h2>
                <div class="modal-order-process__group-input">
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">Einreisedatum</label>
                        <input autocomplete="off" class="datepicker-here" data-language='en' id="fillingDate" name="fillingDate"
                               type="text" placeholder="Einreisedatum">
                    </div>
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">Ausreisedatum</label>
                        <input autocomplete="off" class="datepicker-here" data-language='en' id="departureDate" name="departureDate"
                               type="text" placeholder="Ausreisedatum">
                    </div>
                </div>
            </div>
            <div class="modal-order-process__list">
                <h2 class="modal-order-process__title">
                    <img src="{{ url_for('static', filename='images/modal-order-process-2.svg') }}" alt="">
                    Rechnungsadresse
                </h2>
                <div class="modal-order-process__group-input">
                    <div class="modal-order-process__input">
                        <label for="">Vor- und Nachname</label>
                        <input id="firstAndLastName" name="firstAndLastName" type="text"
                               placeholder="Vor- und Nachname">
                    </div>
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">Straßenname</label>
                        <input id="streetName" name="streetName" type="text" placeholder="Straßenname">
                    </div>
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">Hausnr.</label>
                        <input id="houseNumber" name="houseNumber" type="text" placeholder="Hausnr.">
                    </div>
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">PLZ</label>
                        <input id="postCode" name="zipCode" type="text" placeholder="PLZ">
                    </div>
                    <div class="modal-order-process__input --modal-input-width">
                        <label for="">Stadt</label>
                        <input id="city" name="city" type="text" placeholder="Stadt">
                    </div>
                    <div class="modal-order-process__input">
                        <label for="">E-Mail-Adresse</label>
                        <input id="email" name="email" type="text" placeholder="E-Mail-Adresse">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-start__group-btn modal-order-process__group-btn">
            <button type="button" id="questionnaireBackButton" class="--modal-btn-back modal-order-process__btn-back">
                <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
                DOKUMENTE
            </button>
            <button type="button" id="questionnaireCancelButton" class="--modal-btn-cancel modal-order-process__btn-cancel" style="margin: 0 32px;">
                ABBRECHEN
            </button>
            <button type="button" id="questionnaireNextButton" class="--modal-btn-next modal-order-process__btn-next">
                WEITER
                <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
            </button>
        </div>
    </div>


    {#  ====================================  #}
    {#  Modal Add Applicant  #}
    {#  ====================================  #}


    <div id="modalAddApplicant" class="modal-container">
        <div class="need-visa-main__first-block modal-start__first-block">
            <div class="modal-start__circle need-visa-main__circle modal-circle-one --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-two --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-three --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-four"></div>
        </div>
        <div class="modal-order-process">
            <div class="modal-add-applicant__list">
                <h2 class="modal-order-process__title modal-add-applicant__title" style="text-align: start">
                    Möchten Sie weitere Antragsteller hinzufügen?
                </h2>
                <div id="addApplicantList" class="modal-add-applicant__items">
                    <div class="modal-add-applicant__item modal-add-applicant__add-item">
                        <div class="modal-add-applicant__left-container">
                            <div class="modal-add-applicant__photo --add-item">
                                <img src="{{ url_for('static', filename='images/modal-add-applicant-photo.svg') }}" alt="">
                            </div>
                            <span class="modal-add-applicant__add-text">Antragsteller hinzufügen</span>
                        </div>
                        <a href="javascript: void(0)" id="buttonAddApplicant" class="modal-add-applicant__add-link"></a>
                    </div>
                </div>
            </div>
            <div class="modal-start__group-btn modal-order-process__group-btn" style="margin-top: 60px; justify-content:center; padding-bottom: 60px;">
                <button type="button" id="buttonBackAddApplicant" class="--modal-btn-back modal-order-process__btn-back">
                    <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
                    DOKUMENTE
                </button>
                <button type="button" id="buttonCancelAddApplicant" class="--modal-btn-cancel modal-order-process__btn-cancel" style="margin: 0 32px;">
                    ABBRECHEN
                </button>
                <button type="button" id="buttonNextAddApplicant" class="--modal-btn-next modal-order-process__btn-next">
                    WEITER
                    <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
                </button>
            </div>
        </div>
    </div>


    {#  ==========================  #}
    {#  Modal Pay  #}
    {#  ==========================  #}

    <div id="modalPay" class="modal-container">
        <div class="need-visa-main__first-block modal-start__first-block">
            <div class="modal-start__circle need-visa-main__circle modal-circle-one --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-two --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-three --active-circle-primary"></div>
            <div class="modal-start__line need-visa-main__line modal-start__line --active-line-primary"></div>
            <div class="modal-start__circle need-visa-main__circle modal-circle-four --active-circle-primary"></div>
        </div>
        <div class="modal-order-process">
            <div class="modal-pay__list">
                <div class="modal-pay__item">
                    <div class="modal-pay__text" style="padding: 0 16px;">
                        <span class="modal-pay__summary">Zusammenfassung</span>
                        <span class="modal-pay__all-delete">Alle löschen</span>
                    </div>
                    <div id="personsPayList" style="height: 321px; overflow-y: scroll; padding-right: 16px;"></div>

                    <div style="width: 100%; margin-top: 20px; padding: 0 16px">
                        <div style="background: #c4c4c4; width: 100%; height: 1px;"></div>
                        <div class="modal-pay__text modal-pay__final-price" style="margin-bottom: 0;">
                            <span class="modal-pay__summary">Visa netto</span>
                            <span class="modal-pay__summary" style="color: #808080;">€383</span>
                        </div>
                        <div class="modal-pay__text modal-pay__final-price" style="margin-bottom: 0;">
                            <span class="modal-pay__summary">MwSt 19%</span>
                            <span class="modal-pay__summary" style="color: #808080;">€57</span>
                        </div>
                        <div class="modal-pay__text modal-pay__final-price" style="margin-bottom: 0;">
                            <span style="font-size: 16px;" class="modal-pay__summary">Gesamt (inkl. MwSt)</span>
                            <span style="font-size: 16px;" class="modal-pay__summary">€440</span>
                        </div>
                    </div>
                </div>
                <div class="modal-pay__item modal-pay__item-paypal" style="background: #7BCBC3; padding: 40px 24px">
                    <img class="modal-pay__ssl" style="width: 42px; height: 52px;" src="{{ url_for('static', filename='images/ssl.svg') }}"
                         alt="">
                    <select name="" id="" class="modal-pay__select">
                        <option value="">Kreditkarte</option>
                    </select>
                    <div class="modal-pay__input">
                        <input type="text" placeholder="Kartennummer">
                        <label for="">
                            <img src="{{ url_for('static', filename='images/modal-card.svg') }}" alt="">
                        </label>
                    </div>
                    <div class="modal-pay__input">
                        <input type="text" placeholder="Karteninhaber">
                        <label for="">
                            <img src="{{ url_for('static', filename='images/modal-card-name.svg') }}" alt="">
                        </label>
                    </div>
                    <div class="modal-pay__group-input">
                        <div class="modal-pay__input">
                            <input class="datepicker-here" data-language='en' type="text" placeholder="Gültig bis">
                            <label for="">
                                <img src="{{ url_for('static', filename='images/modal-card-date.svg') }}" alt="">
                            </label>
                        </div>
                        <div class="modal-pay__input">
                            <input type="text" placeholder="CVC">
                            <label for="">
                                <img src="{{ url_for('static', filename='images/modal-card-cvc.svg') }}" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="modal-pay__type-card">
                        <img class="modal-pay__visa" src="{{ url_for('static', filename='images/visa.svg') }}" alt="">
                        <img class="modal-pay__mastercard" style="margin: 0 32px;" src="{{ url_for('static', filename='images/mastercard.svg') }}"
                             alt="">
                        <img class="modal-pay__american-express" src="{{ url_for('static', filename='images/american-express.svg') }}" alt="">
                    </div>
                    <div class="modal-pay__group-btn">
                        <button class="--modal-btn-cancel --modal-pay-cancel-btn">ABBRECHEN</button>
                        <button id="btnPay" name="btn_pay" type="submit" class="--modal-btn-next --modal-pay-next-btn">BEZAHLEN</button>
                    </div>
                </div>
            </div>
            <button id="backModalPay" type="button" class="--modal-btn-back --modal-pay-back-btn">
                <img src="{{ url_for('static', filename='images/modal-button-arrow.svg') }}" alt="">
                ÜBERSICHT
            </button>
        </div>
    </div>


    <div class="loader --modal-loader" id="loader">
        <span style="background: #f5f5f5;"></span>
    </div>
</form>

