<section class="popular-place">
    <h2 class="event-title wow animate__fadeInUp" data-wow-duration="1.4s">POPULAR PLACES</h2>
    <div class="popular-place__slider">
        <div class="popular-place__item popular-place__images-1 wow animate__fadeInUp"
             data-wow-duration="1.3s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Sheikh Zayed Grand Mosque</span>
                    </div>
                    <p class="popular-place__text">
                        Die Sheikh Zayed Grand Mosqueist beeindruckend, inspirierend und eine der größten Moscheen der
                        Welt. Nur hier können Sie das einzigartige Zusammenspiel zwischen dem Islam und den Kulturen auf
                        der ganzen Welt sehen.
                    </p>
                    <a href="/places/sheikh_zayed_grand_mosque/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-2 wow animate__fadeInUp"
             data-wow-duration="1.4s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Wüstensafari Dubai</span>
                    </div>
                    <p class="popular-place__text">
                        Dubais größte Sanddüne beeindruckt nicht nur mit ihrer roten Farbe, sondern bietet auch jede
                        Menge Aktivitäten für Abenteurer.
                    </p>
                    <a href="/places/wb_sten_safari_dubai/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-3 wow animate__fadeInUp"
             data-wow-duration="1.5s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Die Dubai Fountains</span>
                    </div>
                    <p class="popular-place__text">
                        Besuchen Sie die Innenstadt von Dubai und bewundern Sie die Wasserspiele des höchsten
                        Springbrunnens der Welt. Die Dubai Fountains faszinieren durch das Zusammenspiel von Wasser,
                        Musik und Licht.
                    </p>
                    <a href="/places/die_dubai_fountains/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-4 wow animate__fadeInUp"
             data-wow-duration="1.1s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Dubai Mall</span>
                    </div>
                    <p class="popular-place__text">
                        Das größte Einkaufszentrum der Welt bietet unzählige Einkaufs- und Unterhaltungsmöglichkeiten.
                        Mit mehr als 1.200 Geschäften, zwei großen Kaufhausketten und Hunderten von Bistros, Cafés und
                        Restaurants
                    </p>
                    <a href="/places/dubai_mall/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-5 wow animate__fadeInUp"
             data-wow-duration="1.2s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Dubai Miracle Garden</span>
                    </div>
                    <p class="popular-place__text">
                        Der größte Garten der Welt, Dubai Miracle Garden, erwartet Sie in einer Welt blumiger Düfte.

                    </p>
                    <a href="/places/dubai_miracle_garden/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-6 wow animate__fadeInUp"
             data-wow-duration="1.3s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Etihad Towers</span>
                    </div>
                    <p class="popular-place__text">
                        Der ikonische Gebäudekomplex an der Abu Dhabi Corniche besteht aus fünf Türmen in einem
                        architektonischen Stil, der Einwohner und Reisende einlädt, an einem Ort zu leben, zu arbeiten,
                        zu schlafen, einzukaufen und zu speisen.
                    </p>
                    <a href="/places/etihad_towers/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-7 wow animate__fadeInUp"
             data-wow-duration="1.4s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Louvre Abu Dhabi</span>
                    </div>
                    <p class="popular-place__text">
                        Der legendäre Louvre Abu Dhabi ist das erste kosmopolitische Museum der arabischen Welt, das
                        Weltoffenheit und Weltoffenheit zwischen verschiedenen Kulturen fördert.
                    </p>
                    <a href="/places/louvre_abu_dhabi/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-8 wow animate__fadeInUp"
             data-wow-duration="1.5s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Palm Jumeirah</span>
                    </div>
                    <p class="popular-place__text">
                        Dubai ist weltbekannt für seine bahnbrechenden Projekte, darunter die beeindruckende Palm
                        Jumeirah. Von oben ähnelt die künstliche Insel einer stilisierten Palme.
                    </p>
                    <a href="/places/palm_jumeirah/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="popular-place__item popular-place__images-9 wow animate__fadeInUp"
             data-wow-duration="1.1s">
            <div class="popular-place__animate-block">
                <div class="popular-place__animate-item">
                    <div class="popular-place__item-title">
                        <img src="{{ url_for('static', filename='images/popular-place-icon.svg') }}" alt="">
                        <span>Dubai Aquarium & Underwater Zoo</span>
                    </div>
                    <p class="popular-place__text">
                        Sie sollten das Dubai Aquarium und den Unterwasserzoo besuchen, der 10 Millionen Liter Wasser
                        und über 33.000 Arten von Meereslebewesen beherbergt.
                    </p>
                    <a href="/places/dubai_aquarium_and_underwater_zoo/" class="popular-place__link">
                        Zur Sehenswürdigkeit
                        <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img class="popular-place__arrow-left slider__arrow-left"
         src="{{ url_for('static', filename='images/slider-arrow-left.svg') }}" alt="">
    <img class="popular-place__arrow-right slider__arrow-right"
         src="{{ url_for('static', filename='images/slider-arrow-right.svg') }}" alt="">
    <div class="box-shadow-left"></div>
    <div class="box-shadow-right"></div>
</section>
