<div style="padding-bottom: 270px; overflow: hidden;">
    <section id="sectionSelectCountryAndVisa" class="select-country-and-visa {{ all_clear }}">
        <div id="sectionInnerSelectCountryAndVisa" class="select-country-and-visa__inner">
            <div class="select-country-and-visa__text">
                <h2 class="select-country-and-visa__title">
                    {{ render_title_index or render_title_faq or render_title_place }}
                </h2>
                <span class="select-country-and-visa__subtitle">
                            {{ render_subtitle_index or render_subtitle_place }}
                        </span>
            </div>
            <div class="select-country-and-visa__container-form">
                <form method="post" id="form" class="select-country-and-visa__form">
                    <div class="select-country-and-visa__item-select" id="countryForm"
                         style="border-radius: 80px 0 0 80px;">
                        <select name="" id="selectCountry">
                            <option selected="selected"></option>
                            {% for iso_3code, country in countries.items() %}
                                <option data-select2-id="{{ country.name_deu }}"
                                        value="{{ country.name_deu }}">{{ country.name_deu }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-country-and-visa__item-select" id="visaForm"
                         style="border-radius: 80px 0 0 80px;">
                        <select disabled name="" id="selectVisa">
                            <option selected="selected"></option>
                            <option value="tourism_standard">Tourismus - 7 Tage</option>
                            <option value="tourism_express">Tourismus Express - 3 Tage</option>
                            <option value="business_standard">Business - 7 Tage</option>
                            <option value="business_express">Business Express - 3 Tage</option>
                        </select>
                    </div>
                    <button disabled type="submit" id="selectButtonCountryAndVisa"
                            class="select-country-and-visa__btn --closed-btn">
                        JETZ
                        BEANTRAGEN
                    </button>
                </form>
            </div>
        </div>
        <div class="select-country-and-visa__decorative-container {{ decorate_container }}"></div>
    </section>
</div>

<script>
    $('#selectCountry').select2({
        selectionCssClass: 'select-country-and-visa__custom-select-country',
        placeholder: 'My citizenship',
        dropdownParent: $('#countryForm'),
        dropdownCssClass: 'select-country-and-visa__custom-option-country'
    });
    $('#selectVisa').select2({
        selectionCssClass: 'select-country-and-visa__custom-select-visa',
        placeholder: 'My visa type',
        dropdownParent: $('#visaForm'),
        dropdownCssClass: 'select-country-and-visa__custom-option-country'
    });
</script>
