<section class="upcoming-events">
    <h2 class="event-title wow animate__fadeInUp" data-wow-duration="1.4s">
        UPCOMING EVENTS
    </h2>
    <div class="upcoming-events__slider">
        <div class="upcoming-events__item upcoming-events__images-1 wow animate__fadeInUp"
             data-wow-duration="1.3s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">17</span>
                        <span class="upcoming-events__month">NOV</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">20</span>
                        <span class="upcoming-events__month">NOV</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">DP World Tour</span>
                        <span class="upcoming-events__location">Dubai Championship</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Beim großem Finale der European Tour, der Dubai World Tour Championship, treten erneut die
                        weltbesten Golfer gegeneinander an.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/dp_world_tour/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-2 wow animate__fadeInUp"
             data-wow-duration="1.4s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">09</span>
                        <span class="upcoming-events__month">NOV</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">12</span>
                        <span class="upcoming-events__month">NOV</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">Downtown Design </span>
                        <span class="upcoming-events__location">Dubai</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Downtown Design ist die einzige Ausstellung im Nahen Osten, die sich innovativem, hochwertigem
                        Design widmet.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/downtown_design/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-3 wow animate__fadeInUp"
             data-wow-duration="1.5s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">09</span>
                        <span class="upcoming-events__month">MAR</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">13</span>
                        <span class="upcoming-events__month">MAR</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">Boat Show</span>
                        <span class="upcoming-events__location">Dubai International</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Seit ihrer Premiere vor 28 Jahren hat sich die Dubai International Boat Show zu einem der
                        wichtigsten Events der Branche entwickelt.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/international_boat_show/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-4 wow animate__fadeInUp"
             data-wow-duration="1.1s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">02</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">05</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">Eid Al Fitr</span>
                        <span class="upcoming-events__location">Dubai</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Das Eid al Fitr Fest markiert das Ende des Ramadan, während Muslime auf der ganzen Welt von
                        Sonnenaufgang bis Sonnenuntergang fasten.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/eid_al_fitr/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-5 wow animate__fadeInUp"
             data-wow-duration="1.2s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">23</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">25</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">Electric Vehicle</span>
                        <span class="upcoming-events__location">Innovation Summit 2022</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Der Electric Vehicle Innovation Summit (EVIS) ist eine jährlich stattfindende Ausstellung und
                        Konferenz für Elektrofahrzeuge.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/electric_vehicle_innovation_summit/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-6 wow animate__fadeInUp"
             data-wow-duration="1.4s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">01</span>
                        <span class="upcoming-events__month">DEC</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">03</span>
                        <span class="upcoming-events__month">DEC</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">Emirates Airline Dubai </span>
                        <span class="upcoming-events__location">Rugby Sevens</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Das Emirates Dubai Rugby Sevens ist eine der beliebtesten Sportveranstaltungen der Stadt.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/emirates_airline_dubai_rugby_sevens/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-7 wow animate__fadeInUp"
             data-wow-duration="1.5s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">17</span>
                        <span class="upcoming-events__month">OCT</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">19</span>
                        <span class="upcoming-events__month">OCT</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">HR Technology </span>
                        <span class="upcoming-events__location">Summit 2022</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        HRTech.abudhabi ist einzigartig darin, miteinander verbundene Technologien in einer Veranstaltung zusammenzubringen.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/hr_technology_summit/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-8 wow animate__fadeInUp"
             data-wow-duration="1.1s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">20</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">21</span>
                        <span class="upcoming-events__month">MAY</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">International Indian Film Academy</span>
                        <span class="upcoming-events__location">(IIFA) Weekend & Awards</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Nach 2 Jahren ist die International Indian Film Academy (IIFA) zurück! Die 22. IIFA findet mit Bollywood-Superstar Salman Khan auf Yas Island in Abu Dhabi statt.
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/international_indian_film_academy/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-events__item upcoming-events__images-9 wow animate__fadeInUp"
             data-wow-duration="1.2s">
            <div class="upcoming-events__mask"></div>
            <div class="upcoming-events__animate-block">
                <div class="upcoming-events__pink-block"></div>
                <div class="upcoming-events__item-title">
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">26</span>
                        <span class="upcoming-events__month">SAP</span>
                    </div>
                    <span class="upcoming-events__date date-margin">-</span>
                    <div style="display: flex; flex-direction: column;">
                        <span class="upcoming-events__date" style="margin-bottom: 1px;">02</span>
                        <span class="upcoming-events__month">OCT</span>
                    </div>
                    <div class="upcoming-events__event-name">
                        <span class="upcoming-events__name" style="margin-bottom: 1px;">ADIHEX 2022</span>
                        <span class="upcoming-events__location">Abu Dhabi</span>
                    </div>
                </div>
                <div class="upcoming-events__animate-item">
                    <div class="upcoming-events__text popular-place__text">
                        Die Abu Dhabi International Hunting and Equestrian Exhibition (ADIHEX) ist eine jährliche Veranstaltung, die von Seiner Hoheit Scheich Hamdan Bin Zayed Al Nahyan
                    </div>
                    <div style="width: 100%;">
                        <a class="popular-place__link" href="/event/adihex/">
                            Zum Event
                            <img src="{{ url_for('static', filename='images/popular-place-icon-arrow.svg') }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="upcoming-events__arrow-left slider__arrow-left"
         src="{{ url_for('static', filename='images/slider-arrow-left.svg') }}" alt="">
    <img class="upcoming-events__arrow-right slider__arrow-right"
         src="{{ url_for('static', filename='images/slider-arrow-right.svg') }}" alt="">
    <div class="box-shadow-left"></div>
    <div class="box-shadow-right"></div>
</section>
