<form action="" method="post" class="visa-information-uae">
    <h2 class="visa-information-uae__title">
        Visuminformationen für die <br>
        Vereinigten Arabischen Emirate
    </h2>
    <span class="visa-information-uae__subtitle">Alles, was Sie über Visa und Sponsoring in den VAE wissen müssen.</span>
    <div class="visa-information-uae__list">
        <div class="visa-information-uae__group-link">
            <div class="visa-information-uae__checkbox" id="buttonVisaOnArrival">
                <input checked name="text" id="text1" type="radio">
                <label class="visa-information-uae__link" for="text1">
                    <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">#}
                        <path d="M24.375 17.5H0.624999C0.279687 17.5 0 17.7797 0 18.125V19.375C0 19.7203 0.279687 20 0.624999 20H24.375C24.7203 20 25 19.7203 25 19.375V18.125C25 17.7797 24.7203 17.5 24.375 17.5ZM1.75039 8.03361L5.21679 11.1586C5.50122 11.4154 5.84202 11.6018 6.21171 11.7027L17.4461 14.7633C18.4804 15.0449 19.5773 15.1039 20.6101 14.8164C21.7691 14.4934 22.307 13.9879 22.4558 13.4215C22.6054 12.8551 22.3882 12.1438 21.5429 11.2746C20.7898 10.5004 19.8105 9.99377 18.7761 9.71212L14.9672 8.67463L11.0469 1.1805C10.9879 0.953545 10.8144 0.776201 10.5914 0.715264L8.04882 0.0226867C7.63632 -0.0898131 7.23241 0.230499 7.23983 0.664873L9.1117 7.07932L5.11952 5.99182L4.04179 3.34026C3.9664 3.14924 3.80703 3.00549 3.61132 2.95237L2.05937 2.52932C1.65547 2.41917 1.25742 2.72464 1.25 3.14964L1.25898 7.12541C1.2664 7.47346 1.49453 7.80275 1.75039 8.03361Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                    </svg>
                    Visa-on-Arraival
                </label>
            </div>
            <div class="visa-information-uae__checkbox" id="buttonProvisionalVisa">
                <input name="text" id="text2" type="radio">
                <label class="visa-information-uae__link" for="text2">
                    <svg style="margin-top: 3px;" width="21" height="16" viewBox="0 0 21 16" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.5 8H14.5C13.9696 8 13.4609 7.78929 13.0858 7.41421C12.7107 7.03914 12.5 6.53043 12.5 6V0H2.5C1.96957 0 1.46086 0.210714 1.08579 0.585786C0.710714 0.960859 0.5 1.46957 0.5 2V14C0.5 14.5304 0.710714 15.0391 1.08579 15.4142C1.46086 15.7893 1.96957 16 2.5 16H18.5C19.0304 16 19.5391 15.7893 19.9142 15.4142C20.2893 15.0391 20.5 14.5304 20.5 14V8Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                        <path d="M20 6.5H14.5C14.3674 6.5 14.2402 6.44732 14.1464 6.35355C14.0527 6.25979 14 6.13261 14 6V0.5L20 6.5Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                    </svg>
                    Vorab-Visum
                </label>
            </div>
            <div class="visa-information-uae__checkbox" id="buttonContactInfo">
                <input name="text" id="text3" type="radio">
                <label class="visa-information-uae__link" for="text3">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3652 6C12.1609 6 12.9239 6.31607 13.4866 6.87868C14.0492 7.44129 14.3652 8.20435 14.3652 9C14.3652 9.26522 14.4706 9.51957 14.6581 9.70711C14.8457 9.89464 15.1 10 15.3652 10C15.6305 10 15.8848 9.89464 16.0723 9.70711C16.2599 9.51957 16.3652 9.26522 16.3652 9C16.3652 7.67392 15.8385 6.40215 14.9008 5.46447C13.9631 4.52678 12.6913 4 11.3652 4C11.1 4 10.8457 4.10536 10.6581 4.29289C10.4706 4.48043 10.3652 4.73478 10.3652 5C10.3652 5.26522 10.4706 5.51957 10.6581 5.70711C10.8457 5.89464 11.1 6 11.3652 6Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                        <path d="M11.3652 2C13.2218 2 15.0022 2.7375 16.315 4.05025C17.6277 5.36301 18.3652 7.14348 18.3652 9C18.3652 9.26522 18.4706 9.51957 18.6581 9.70711C18.8457 9.89464 19.1 10 19.3652 10C19.6305 10 19.8848 9.89464 20.0723 9.70711C20.2599 9.51957 20.3652 9.26522 20.3652 9C20.3652 6.61305 19.417 4.32387 17.7292 2.63604C16.0414 0.948211 13.7522 0 11.3652 0C11.1 0 10.8457 0.105357 10.6581 0.292893C10.4706 0.48043 10.3652 0.734784 10.3652 1C10.3652 1.26522 10.4706 1.51957 10.6581 1.70711C10.8457 1.89464 11.1 2 11.3652 2ZM20.1152 13.91C20.0602 13.7495 19.9653 13.6056 19.8393 13.4919C19.7134 13.3781 19.5605 13.2984 19.3952 13.26L13.3952 11.89C13.2324 11.8531 13.0629 11.8575 12.9022 11.9029C12.7414 11.9484 12.5947 12.0333 12.4752 12.15C12.3352 12.28 12.3252 12.29 11.6752 13.53C9.51843 12.5362 7.79023 10.8009 6.80523 8.64C8.07523 8 8.08523 8 8.21523 7.85C8.33194 7.73056 8.41688 7.58379 8.4623 7.42308C8.50771 7.26238 8.51216 7.09286 8.47523 6.93L7.10523 1C7.06688 0.834696 6.98709 0.681871 6.87338 0.555912C6.75967 0.429952 6.61577 0.335002 6.45523 0.28C6.2217 0.196589 5.98055 0.1363 5.73523 0.0999999C5.48249 0.0413952 5.22457 0.00789934 4.96523 0C3.74524 0 2.57521 0.484642 1.71254 1.34731C0.849876 2.20998 0.365234 3.38 0.365234 4.6C0.370526 8.68271 1.99472 12.5967 4.88163 15.4836C7.76855 18.3705 11.6825 19.9947 15.7652 20C16.3693 20 16.9675 19.881 17.5256 19.6498C18.0837 19.4187 18.5908 19.0798 19.0179 18.6527C19.4451 18.2255 19.7839 17.7184 20.0151 17.1603C20.2463 16.6022 20.3652 16.0041 20.3652 15.4C20.3655 15.1455 20.3455 14.8913 20.3052 14.64C20.2632 14.3916 20.1996 14.1474 20.1152 13.91Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                    </svg>
                    Kontaktdaten
                </label>
            </div>
            <div class="visa-information-uae__checkbox" id="buttonCovid">
                <input name="text" id="text4" type="radio">
                <label class="visa-information-uae__link" for="text4">
                    <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3.46786 4.90571C3.46786 1.88714 11.4393 1.88714 11.4393 1.88714L12.0829 0.732857C12.2068 0.510653 12.3877 0.325568 12.6071 0.196729C12.8265 0.0678912 13.0763 -2.49326e-05 13.3307 6.86643e-09H15.1586C15.413 -2.49326e-05 15.6628 0.0678912 15.8822 0.196729C16.1015 0.325568 16.2825 0.510653 16.4064 0.732857L17.0493 1.88714C17.0493 1.88714 24.8964 1.88714 24.8964 4.905V5.02429L26.1321 5.32429C26.7962 5.48536 27.3806 5.87909 27.7792 6.43408C28.1779 6.98907 28.3644 7.66855 28.305 8.34929L27.9071 12.9114C27.8598 13.4537 27.6585 13.9712 27.327 14.403C26.9954 14.8348 26.5474 15.1628 26.0357 15.3486L21.2107 17.1C21.1 17.1405 20.9809 17.1527 20.8643 17.1357C17.9521 20 14.5279 20 14.5279 20H13.8364C13.8364 20 10.3614 20 7.43429 17.0714L2.29714 15.0729C1.80372 14.8809 1.37331 14.5557 1.05396 14.1334C0.734607 13.7112 0.538865 13.2085 0.488573 12.6814L0.0792868 8.38071C0.013223 7.68718 0.202835 6.9934 0.61246 6.42987C1.02209 5.86634 1.62349 5.47189 2.30357 5.32071L3.46786 5.06214V4.90571ZM22.475 15.1221C23.7143 13.1486 24.6557 10.3779 24.8564 6.485L25.7957 6.71357C26.1276 6.79424 26.4195 6.99112 26.6187 7.26852C26.8179 7.54593 26.9111 7.8855 26.8814 8.22571L26.4843 12.7879C26.4606 13.059 26.36 13.3178 26.1942 13.5336C26.0284 13.7495 25.8044 13.9136 25.5486 14.0064L22.475 15.1221ZM3.50929 6.51643L2.61357 6.715C2.27353 6.79059 1.97283 6.98781 1.76802 7.26958C1.5632 7.55134 1.4684 7.89823 1.50143 8.245L1.91072 12.5457C1.93586 12.8092 2.03373 13.0606 2.19341 13.2717C2.35309 13.4829 2.56829 13.6455 2.815 13.7414L5.74143 14.8793C4.57857 12.9293 3.705 10.2357 3.50929 6.51643ZM14.1821 6.04929L18.6407 7.16357C18.8246 7.20951 18.9826 7.3266 19.0802 7.48909C19.1777 7.65158 19.2067 7.84615 19.1607 8.03C19.1148 8.21385 18.9977 8.37192 18.8352 8.46944C18.6727 8.56696 18.4781 8.59594 18.2943 8.55L14.1821 7.52143L10.0693 8.55C9.97769 8.57457 9.88213 8.58066 9.78815 8.56791C9.69418 8.55516 9.60369 8.52383 9.52196 8.47573C9.44023 8.42764 9.36889 8.36376 9.31211 8.28781C9.25533 8.21185 9.21424 8.12535 9.19124 8.03335C9.16824 7.94135 9.16379 7.84569 9.17815 7.75195C9.19251 7.65822 9.22539 7.56828 9.27487 7.48738C9.32436 7.40648 9.38946 7.33625 9.46637 7.28078C9.54329 7.22531 9.63048 7.18571 9.72286 7.16429L14.1821 6.04929Z"
                              fill="#0E2522" fill-opacity="0.3"/>
                    </svg>
                    COVID-19
                </label>
            </div>
        </div>
        <div id="visaInformationText" class="visa-information__text visa-information-uae__text">
            <span>30‑tägige Besuchsberechtigung</span>
            <br><br>
            Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
            Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
            International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
            Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

            <br><br><br>
            Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
            Mauritius, Monaco, Neuseeland, Republik Irland, <br>
            San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

            <br><br><br>
            <span>90‑Tage‑Besuchsberechtigung</span> <br>
            Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
            Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
            gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
            Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
            Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
            vollständig genutzt wurde.

            <br><br><br>
            Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
            Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
            Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
            Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
            Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
            Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
            Schweden, Schweiz, Uruguay.

            <br><br><br>
            <span>180‑Tage‑Besuchsberechtigung</span> <br>
            Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
            Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
            Aufenthalt von insgesamt 180 Tagen gültig ist.

            <br><br><br>
            <span>Einreiseverfahren in Dubai</span> <br>
            Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
            Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

            <br><br><br>
            Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
            ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
            keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

            <br><br><br>
            <span>Wichtige Informationen</span> <br>
            Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
            Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
            ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
            unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
            müssen und ob andere Reisepassvorschriften gelten.

            <br><br><br>
            Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
            Visum für die Vereinigten Arabischen Emirate beantragen.

            <br><br><br>
            Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
            Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
            die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
            der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
            von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
            Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
        </div>
    </div>
    <div class="visa-information__list">
        <div class="visa-information__items">
            <div class="visa-information__item">
                <div>
                    <div class="visa-information__img-size">
                        <svg id="svgVisaOnArrivalAdaptive" width="25" height="20"
                             viewBox="0 0 25 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.375 17.5H0.624999C0.279687 17.5 0 17.7797 0 18.125V19.375C0 19.7203 0.279687 20 0.624999 20H24.375C24.7203 20 25 19.7203 25 19.375V18.125C25 17.7797 24.7203 17.5 24.375 17.5ZM1.75039 8.03361L5.21679 11.1586C5.50122 11.4154 5.84202 11.6018 6.21171 11.7027L17.4461 14.7633C18.4804 15.0449 19.5773 15.1039 20.6101 14.8164C21.7691 14.4934 22.307 13.9879 22.4558 13.4215C22.6054 12.8551 22.3882 12.1438 21.5429 11.2746C20.7898 10.5004 19.8105 9.99377 18.7761 9.71212L14.9672 8.67463L11.0469 1.1805C10.9879 0.953545 10.8144 0.776201 10.5914 0.715264L8.04882 0.0226867C7.63632 -0.0898131 7.23241 0.230499 7.23983 0.664873L9.1117 7.07932L5.11952 5.99182L4.04179 3.34026C3.9664 3.14924 3.80703 3.00549 3.61132 2.95237L2.05937 2.52932C1.65547 2.41917 1.25742 2.72464 1.25 3.14964L1.25898 7.12541C1.2664 7.47346 1.49453 7.80275 1.75039 8.03361Z"
                                  fill="#ABABAB"/>
                        </svg>
                    </div>
                    <span id="titleVisaOnArrivalAdaptive" class="visa-information__name">Visa-on-Arrival</span>
                </div>
                <a href="javascript: void(0)"
                   id="buttonVisaOnArrivalAdaptive"
                   class="quick-answer__arrow">
                </a>
            </div>
            <div id="textVisaOnArrivalAdaptive" class="visa-information__text">
                <span>30‑tägige Besuchsberechtigung</span>
                <br><br>
                Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                <br><br><br>
                Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                <br><br><br>
                <span>90‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                vollständig genutzt wurde.

                <br><br><br>
                Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                Schweden, Schweiz, Uruguay.

                <br><br><br>
                <span>180‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                Aufenthalt von insgesamt 180 Tagen gültig ist.

                <br><br><br>
                <span>Einreiseverfahren in Dubai</span> <br>
                Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                <br><br><br>
                Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                <br><br><br>
                <span>Wichtige Informationen</span> <br>
                Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                müssen und ob andere Reisepassvorschriften gelten.

                <br><br><br>
                Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                Visum für die Vereinigten Arabischen Emirate beantragen.

                <br><br><br>
                Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
            </div>
        </div>
        <div class="visa-information__items">
            <div class="visa-information__item">
                <div>
                    <div class="visa-information__img-size">
                        <svg id="svgProvisionalVisaAdaptive" width="26" height="20" viewBox="0 0 26 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.3652 10H17.8652C17.2022 10 16.5663 9.73661 16.0975 9.26777C15.6286 8.79893 15.3652 8.16304 15.3652 7.5V0H2.86523C2.20219 0 1.56631 0.263392 1.09747 0.732233C0.628626 1.20107 0.365234 1.83696 0.365234 2.5V17.5C0.365234 18.163 0.628626 18.7989 1.09747 19.2678C1.56631 19.7366 2.20219 20 2.86523 20H22.8652C23.5283 20 24.1642 19.7366 24.633 19.2678C25.1018 18.7989 25.3652 18.163 25.3652 17.5V10Z"
                                  fill="#ABABAB"/>
                            <path d="M24.7402 8.125H17.8652C17.6995 8.125 17.5405 8.05915 17.4233 7.94194C17.3061 7.82473 17.2402 7.66576 17.2402 7.5V0.625L24.7402 8.125Z"
                                  fill="#ABABAB"/>
                        </svg>
                    </div>
                    <span id="titleProvisionalVisaAdaptive" class="visa-information__name">Vorab-Visum</span>
                </div>
                <a href="javascript: void(0)"
                   id="buttonProvisionalVisaAdaptive"
                   class="quick-answer__arrow">
                </a>
            </div>
            <div id="textProvisionalVisaAdaptive" class="visa-information__text">
                <span>30‑tägige Besuchsberechtigung</span>
                <br><br>
                Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                <br><br><br>
                Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                <br><br><br>
                <span>90‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                vollständig genutzt wurde.

                <br><br><br>
                Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                Schweden, Schweiz, Uruguay.

                <br><br><br>
                <span>180‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                Aufenthalt von insgesamt 180 Tagen gültig ist.

                <br><br><br>
                <span>Einreiseverfahren in Dubai</span> <br>
                Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                <br><br><br>
                Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                <br><br><br>
                <span>Wichtige Informationen</span> <br>
                Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                müssen und ob andere Reisepassvorschriften gelten.

                <br><br><br>
                Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                Visum für die Vereinigten Arabischen Emirate beantragen.

                <br><br><br>
                Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
            </div>
        </div>
        <div class="visa-information__items">
            <div class="visa-information__item">
                <div>
                    <div class="visa-information__img-size">
                        <svg id="svgContactInfoAdaptive" width="21" height="20" viewBox="0 0 21 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.3652 6C12.1609 6 12.9239 6.31607 13.4866 6.87868C14.0492 7.44129 14.3652 8.20435 14.3652 9C14.3652 9.26522 14.4706 9.51957 14.6581 9.70711C14.8457 9.89464 15.1 10 15.3652 10C15.6305 10 15.8848 9.89464 16.0723 9.70711C16.2599 9.51957 16.3652 9.26522 16.3652 9C16.3652 7.67392 15.8385 6.40215 14.9008 5.46447C13.9631 4.52678 12.6913 4 11.3652 4C11.1 4 10.8457 4.10536 10.6581 4.29289C10.4706 4.48043 10.3652 4.73478 10.3652 5C10.3652 5.26522 10.4706 5.51957 10.6581 5.70711C10.8457 5.89464 11.1 6 11.3652 6Z"
                                  fill="#ABABAB"/>
                            <path d="M11.3652 2C13.2218 2 15.0022 2.7375 16.315 4.05025C17.6277 5.36301 18.3652 7.14348 18.3652 9C18.3652 9.26522 18.4706 9.51957 18.6581 9.70711C18.8457 9.89464 19.1 10 19.3652 10C19.6305 10 19.8848 9.89464 20.0723 9.70711C20.2599 9.51957 20.3652 9.26522 20.3652 9C20.3652 6.61305 19.417 4.32387 17.7292 2.63604C16.0414 0.948211 13.7522 0 11.3652 0C11.1 0 10.8457 0.105357 10.6581 0.292893C10.4706 0.48043 10.3652 0.734784 10.3652 1C10.3652 1.26522 10.4706 1.51957 10.6581 1.70711C10.8457 1.89464 11.1 2 11.3652 2ZM20.1152 13.91C20.0602 13.7495 19.9653 13.6056 19.8393 13.4919C19.7134 13.3781 19.5605 13.2984 19.3952 13.26L13.3952 11.89C13.2324 11.8531 13.0629 11.8575 12.9022 11.9029C12.7414 11.9484 12.5947 12.0333 12.4752 12.15C12.3352 12.28 12.3252 12.29 11.6752 13.53C9.51843 12.5362 7.79023 10.8009 6.80523 8.64C8.07523 8 8.08523 8 8.21523 7.85C8.33194 7.73056 8.41688 7.58379 8.4623 7.42308C8.50771 7.26238 8.51216 7.09286 8.47523 6.93L7.10523 1C7.06688 0.834696 6.98709 0.681871 6.87338 0.555912C6.75967 0.429952 6.61577 0.335002 6.45523 0.28C6.2217 0.196589 5.98055 0.1363 5.73523 0.0999999C5.48249 0.0413952 5.22457 0.00789934 4.96523 0C3.74524 0 2.57521 0.484642 1.71254 1.34731C0.849876 2.20998 0.365234 3.38 0.365234 4.6C0.370526 8.68271 1.99472 12.5967 4.88163 15.4836C7.76855 18.3705 11.6825 19.9947 15.7652 20C16.3693 20 16.9675 19.881 17.5256 19.6498C18.0837 19.4187 18.5908 19.0798 19.0179 18.6527C19.4451 18.2255 19.7839 17.7184 20.0151 17.1603C20.2463 16.6022 20.3652 16.0041 20.3652 15.4C20.3655 15.1455 20.3455 14.8913 20.3052 14.64C20.2632 14.3916 20.1996 14.1474 20.1152 13.91Z"
                                  fill="#ABABAB"/>
                        </svg>
                    </div>
                    <span id="titleContactInfoAdaptive" class="visa-information__name">Kontakt</span>
                </div>
                <a href="javascript: void(0)"
                   id="buttonContactInfoAdaptive"
                   class="quick-answer__arrow">
                </a>
            </div>
            <div id="textContactInfoAdaptive" class="visa-information__text">
                <span>30‑tägige Besuchsberechtigung</span>
                <br><br>
                Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                <br><br><br>
                Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                <br><br><br>
                <span>90‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                vollständig genutzt wurde.

                <br><br><br>
                Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                Schweden, Schweiz, Uruguay.

                <br><br><br>
                <span>180‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                Aufenthalt von insgesamt 180 Tagen gültig ist.

                <br><br><br>
                <span>Einreiseverfahren in Dubai</span> <br>
                Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                <br><br><br>
                Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                <br><br><br>
                <span>Wichtige Informationen</span> <br>
                Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                müssen und ob andere Reisepassvorschriften gelten.

                <br><br><br>
                Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                Visum für die Vereinigten Arabischen Emirate beantragen.

                <br><br><br>
                Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
            </div>
        </div>
        <div class="visa-information__items">
            <div class="visa-information__item">
                <div>
                    <div class="visa-information__img-size">
                        <svg id="svgCovidAdaptive" width="29" height="20" viewBox="0 0 29 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.46786 4.90571C3.46786 1.88714 11.4393 1.88714 11.4393 1.88714L12.0829 0.732857C12.2068 0.510653 12.3877 0.325568 12.6071 0.196729C12.8265 0.0678912 13.0763 -2.49326e-05 13.3307 6.86643e-09H15.1586C15.413 -2.49326e-05 15.6628 0.0678912 15.8822 0.196729C16.1015 0.325568 16.2825 0.510653 16.4064 0.732857L17.0493 1.88714C17.0493 1.88714 24.8964 1.88714 24.8964 4.905V5.02429L26.1321 5.32429C26.7962 5.48536 27.3806 5.87909 27.7792 6.43408C28.1779 6.98907 28.3644 7.66855 28.305 8.34929L27.9071 12.9114C27.8598 13.4537 27.6585 13.9712 27.327 14.403C26.9954 14.8348 26.5474 15.1628 26.0357 15.3486L21.2107 17.1C21.1 17.1405 20.9809 17.1527 20.8643 17.1357C17.9521 20 14.5279 20 14.5279 20H13.8364C13.8364 20 10.3614 20 7.43429 17.0714L2.29714 15.0729C1.80372 14.8809 1.37331 14.5557 1.05396 14.1334C0.734607 13.7112 0.538865 13.2085 0.488573 12.6814L0.0792868 8.38071C0.013223 7.68718 0.202835 6.9934 0.61246 6.42987C1.02209 5.86634 1.62349 5.47189 2.30357 5.32071L3.46786 5.06214V4.90571ZM22.475 15.1221C23.7143 13.1486 24.6557 10.3779 24.8564 6.485L25.7957 6.71357C26.1276 6.79424 26.4195 6.99112 26.6187 7.26852C26.8179 7.54593 26.9111 7.8855 26.8814 8.22571L26.4843 12.7879C26.4606 13.059 26.36 13.3178 26.1942 13.5336C26.0284 13.7495 25.8044 13.9136 25.5486 14.0064L22.475 15.1221ZM3.50929 6.51643L2.61357 6.715C2.27353 6.79059 1.97283 6.98781 1.76802 7.26958C1.5632 7.55134 1.4684 7.89823 1.50143 8.245L1.91072 12.5457C1.93586 12.8092 2.03373 13.0606 2.19341 13.2717C2.35309 13.4829 2.56829 13.6455 2.815 13.7414L5.74143 14.8793C4.57857 12.9293 3.705 10.2357 3.50929 6.51643ZM14.1821 6.04929L18.6407 7.16357C18.8246 7.20951 18.9826 7.3266 19.0802 7.48909C19.1777 7.65158 19.2067 7.84615 19.1607 8.03C19.1148 8.21385 18.9977 8.37192 18.8352 8.46944C18.6727 8.56696 18.4781 8.59594 18.2943 8.55L14.1821 7.52143L10.0693 8.55C9.97769 8.57457 9.88213 8.58066 9.78815 8.56791C9.69418 8.55516 9.60369 8.52383 9.52196 8.47573C9.44023 8.42764 9.36889 8.36376 9.31211 8.28781C9.25533 8.21185 9.21424 8.12535 9.19124 8.03335C9.16824 7.94135 9.16379 7.84569 9.17815 7.75195C9.19251 7.65822 9.22539 7.56828 9.27487 7.48738C9.32436 7.40648 9.38946 7.33625 9.46637 7.28078C9.54329 7.22531 9.63048 7.18571 9.72286 7.16429L14.1821 6.04929Z"
                                  fill="#ABABAB"/>
                        </svg>
                    </div>
                    <span id="titleCovidAdaptive" class="visa-information__name">COVID-19 Bestimmungen</span>
                </div>
                <a href="javascript: void(0)"
                   id="buttonCovidAdaptive"
                   class="quick-answer__arrow">
                </a>
            </div>
            <div id="textCovidAdaptive" class="visa-information__text">
                <span>30‑tägige Besuchsberechtigung</span>
                <br><br>
                Wenn Sie Inhaber eines Reisepasses des untenstehenden Landes oder Territoriums sind, benötigen
                Sie für den Besuch der VAE kein Vorabvisum. Sie verlassen lediglich Ihr Flugzeug am Dubai
                International Airport und begeben sich zur Passkontrolle. Dort erhalten Sie kostenlos ein
                Besuchervisum, das 30 Tage gültig ist und in Ihren Pass gestempelt wird.

                <br><br><br>
                Andorra, Australien, Brunei, Kanada, China, Hongkong, Japan, Kasachstan, Macao, Malaysia,
                Mauritius, Monaco, Neuseeland, Republik Irland, <br>
                San Marino, Singapur, Ukraine, Vereinigtes Königreich und Nordirland, USA, Vatikanstadt.

                <br><br><br>
                <span>90‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie Inhaber eines Reisepasses eines Landes oder Gebiets sind, das in der nachstehenden
                Liste verzeichnet ist, wird Ihr Reisepass mit einem 90‑Tage‑Visum für mehrmalige Einreise
                gestempelt, das 6 Monate ab dem Stempeldatum gültig ist und zu einem Aufenthalt von insgesamt 90
                Tagen berechtigt. Bürger der untenstehenden europäischen Länder sind auch berechtigt, ein im
                Voraus vereinbartes Besuchsvisum zu beantragen, wenn ihr 90‑Tage‑Visum bei der Einreise
                vollständig genutzt wurde.

                <br><br><br>
                Argentinien, Österreich, Bahamas Inseln, Barbados, Belgien, Brasilien, Bulgarien, Chile,
                Kolumbien, Costa Rica, Kroatien, Zypern, Tschechische Republik, Dänemark, El Salvador, Estland,
                Finnland, Frankreich, Deutschland, Griechenland, Honduras, Ungarn, Island, Italien, Kiribati,
                Lettland, Liechtenstein, Litauen, Luxemburg, Malediven, Malta, Montenegro, Nauru, Niederlande,
                Norwegen, Paraguay, Peru, Polen, Portugal, Rumänien, Russische Föderation, St. Vincent und die
                Grenadinen, San Marino, Serbien, Seychellen, Slowakei, Slowenien, Salomonen,Südkorea, Spanien,
                Schweden, Schweiz, Uruguay.

                <br><br><br>
                <span>180‑Tage‑Besuchsberechtigung</span> <br>
                Wenn Sie im Besitz eines mexikanischen Reisepasses sind, haben Sie Anspruch auf ein 180‑tägiges
                Besuchsvisum mit mehrfacher Einreise, das für 6 Monate ab Ausstellungsdatum und für einen
                Aufenthalt von insgesamt 180 Tagen gültig ist.

                <br><br><br>
                <span>Einreiseverfahren in Dubai</span> <br>
                Als zusätzliche Sicherheitsmaßnahme führen die Einwanderungsbehörden am Dubai International
                Airport jetzt bei Dubai‑Besuchern stichprobenartig Augenscans durch.

                <br><br><br>
                Besucher, die zum Augenscan aufgefordert werden, müssen einen Ausdruck ihres Visums oder eine
                ausgedruckte Version der Visanummer‑Bestätigungsseite am Augenscanschalter vorlegen. Falls Sie
                keinen Ausdruck bei sich haben, fällt eine Gebühr von 30 AED pro Kopie an – zahlbar nur in AED.

                <br><br><br>
                <span>Wichtige Informationen</span> <br>
                Bevor Sie in die VAE reisen, prüfen Sie bitte die für Sie gültigen Visabestimmungen und stellen
                Sie, falls nötig, sicher, dass Sie ein gültiges Visum besitzen bzw. ob Ihr Reisepass noch gültig
                ist. Für Inhaber von nicht standardisierten Pässen und Reisedokumenten können ebenfalls
                unterschiedliche Einreisebestimmungen gelten: Erkundigen Sie sich, ob Sie ein Visum beantragen
                müssen und ob andere Reisepassvorschriften gelten.

                <br><br><br>
                Ab 29. April 2016 müssen Inhaber einer GCC‑Aufenthaltserlaubnis vor Ihrer Ankunft in Dubai ein
                Visum für die Vereinigten Arabischen Emirate beantragen.

                <br><br><br>
                Ab 1. Mai 2017 können indische Staatsbürger mit einem normalen Reisepass, der mindestens sechs
                Monate ab Ankunftsdatum gültig ist, und einem Besuchsvisum oder einer Green Card für die USA,
                die für mindestens sechs Monate gültig ist, oder Personen mit Wohnsitz in Großbritannien oder
                der EU ein Visum bei der Ankunft für einen maximalen Aufenthalt von 14 Tagen gegen eine Gebühr
                von 120 AED (Änderungen vorbehalten) erhalten. Sie können einen Antrag auf Verlängerung ihres
                Aufenthalts um 14 Tage gegen eine Gebühr von 250 AED (Änderungen vorbehalten) stellen.
            </div>
        </div>
    </div>
</form>
