<template>
  <component :is="`${dataType}Table`"/>
</template>

<script>
import historyTable from '@/components/templates/list/tables/HistoryTable.vue';
import invoicesTable from '@/components/templates/list/tables/InvoicesTable.vue';
import addressesTable from '@/components/templates/list/tables/AddressesTable.vue';
import txsTable from '@/components/templates/list/tables/TxsTable.vue';
import callbackLogTable from '@/components/templates/list/tables/CallbackLogTable.vue';

export default {
  components: {
    historyTable,
    invoicesTable,
    addressesTable,
    txsTable,
    callbackLogTable,
  },
  data() {
    return {
      loading: true,
      data: null,
      pag: {
        total: 0,
        limit: 10,
        offset: 0,
      },
      q: {
        item_type: null,
        status: null,
        date_from: '',
        date_to: '',
        address: '',
        empty: null,
      },
      date: null,
      handle: false,
    };
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    dataType: {
      type: String,
      default: 'history',
    },
    urlData: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
    enableQ: {
      type: Boolean,
      default: true,
    },
  },
  watch: {
    $route: {
      handler(to, from) {
        if (from.path === to.path && !to.query.offset) {
          this.checkQuery();
          this.getData();
        }
      },
    },
  },
  mounted() {
    this.checkQuery();
    this.getData();
  },
  methods: {
    getData() {
      this.updateUrl();
      this.loading = true;
      const queryString = Object.keys(this.makeParams())
        .map(key => `${key}=${this.makeParams()[key]}`)
        .join("&");
      this.$axios
        .get(`/api/v2/${this.type}s/${this.$store.state.id}/${this.urlData || this.dataType}?${queryString}`)
        .then((response) => {
          const {data} = response;
          let items = [];
          if (data.items) {
            items = data.items;
          } else if (data.addresses) {
            items = data.addresses;
          } else if (data.txs) {
            items = data.txs;
          } else if (data.log) {
            items = data.log;
          }
          items.forEach((item) => {
            if (item.created) {
              Object.defineProperty(item, 'date', Object.getOwnPropertyDescriptor(item, 'created'));
            }
            let date
            if (item.date) {
              date = new Date(Date.parse(`${item.date.slice(0, 19)}+00:00`));
              Object.assign(item, {
                date: date.toLocaleDateString(navigator.language || navigator.userLanguage),
                time: `${this.getTime(date)}`,
              });
            }
            if (item.currency && this.$store.state.account) {
              this.$store.state.account.info.forEach((el) => {
                if (el.currency === item.currency) {
                  const toFixed = (1 / el['units-factor']).toString().length - 1;
                  Object.assign(item, {
                    toFixed,
                    'units-factor': el['units-factor'],
                  });
                }
              });
            } else if (this.$store.state.currency && this.$store.state.wallet) {
              Object.assign(item, {
                toFixed: this.$store.state.wallet.toFixed,
                'units-factor': this.$store.state.wallet['units-factor'],
              });
            }
          });
          this.data = items;
          this.pag = response.data.pagination;
          this.loading = false;
        })
        .catch((error) => {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error.response?.data.message,
            life: 3000,
          });
        });
    },
    checkQuery() {
      const { query } = this.$route;
      if (query.offset) {
        if (!Number.isNaN(Number(query.offset))) {
          this.pag.offset = Number(query.offset);
        } else {
          this.pag.offset = 0;
        }
        if (!Number.isNaN(Number(query.limit))) {
          this.pag.limit = Number(query.limit);
        } else {
          this.pag.limit = 10;
        }
        this.$router.push({ path: `/${this.$parent.id}`, query: { offset: this.pag.offset, limit: this.pag.limit, q: query.q } });
      }
      if (query.q) {
        this.getQ();
      }
    },
    getQ() {
      this.$route.query.q.split(',').forEach((item) => {
        const splitedItem = item.split(':');
        if (splitedItem[0] === 'empty') {
          if (splitedItem[1] === 'true' || splitedItem[1] === 'false') {
            this.q[splitedItem[0]] = (splitedItem[1] === 'true');
          }
        } else {
          [, this.q[splitedItem[0]]] = splitedItem;
        }
      });
      if (this.q.date_from && this.q.date_to) {
        this.q.date_from = new Date(`${this.q.date_from.slice(0, 10)}T00:00:00`);
        this.q.date_to = new Date(`${this.q.date_to.slice(0, 10)}T23:59:59`);
        this.date = [this.q.date_from, this.q.date_to];
      }
    },
    makeQ() {
      let q = { ...this.q };
      Object.keys(q).forEach((item) => {
        if ((q[item] === '') || (q[item] === null)) {
          delete q[item];
        } else if (item === 'date_from' && typeof q[item] === 'object') {
          const dateObject = new Date(`${q[item].toString().slice(0, 24)} GMT+0000`);
          const date = dateObject.toISOString().split('T');
          q[item] = `${date[0]}T00:00:00`;
        } else if (item === 'date_to' && typeof q[item] === 'object') {
          const dateObject = new Date(`${q[item].toString().slice(0, 24)} GMT+0000`);
          const date = dateObject.toISOString().split('T');
          q[item] = `${date[0]}T23:59:59`;
        }
      });
      q = JSON.stringify(q).split('"').join('').slice(1, -1);
      return q;
    },
    makeParams() {
      let q = { ...this.q };
      Object.keys(q).forEach((item) => {
        if ((q[item] === '') || (q[item] === null)) {
          delete q[item];
        }
      });
      q = JSON.stringify(q).split('"').join('').slice(1, -1);
      let params = {
        limit: this.pag.limit,
        offset: this.pag.offset,
      };
      if (q && q !== '' && this.enableQ) {
        params = Object.assign(params, { q });
      }
      if (this.currency) {
        return Object.assign(params, {
          currency: this.currency,
        });
      }
      return params;
    },
    updateUrl() {
      const q = this.makeQ();
      let query = {};
      if (q !== '') {
        query = {
          offset: this.pag.offset,
          limit: this.pag.limit,
          q,
        };
      } else {
        query = {
          offset: this.pag.offset,
          limit: this.pag.limit,
        };
      }
      this.$router.push({ query });
    },
    updateAddress() {
      if (this.handle) {
        clearTimeout(this.handle);
      }
      this.handle = setTimeout(() => {
        this.pag.offset = 0;
        this.getData();
      }, 500);
    },
    clearQuery() {
      this.q = {
        item_type: null,
        date_to: '',
        date_from: '',
        address: '',
        empty: this.q.empty ? false : null,
      };
      this.date = null;
      this.pag.offset = 0;
      this.pag.limit = 10;
      this.getData();
    },
    clearDate() {
      this.q.date_to = '';
      this.q.date_from = '';
      this.date = null;
      this.pag.offset = 0;
      this.pag.limit = 10;
      this.getData();
    },
    updateDate() {
      if (this.date?.[0] && this.date?.[1]) {
        const dateTo = new Date(this.date?.[1].setHours(23, 59, 59));
        const dateFrom = this.date?.[0];
        this.q.date_to = dateTo;
        this.q.date_from = dateFrom;
        this.pag.offset = 0;
        this.getData();
      } else if (!this.date) {
        this.$toast.add({
          severity: 'error',
          summary: 'Error',
          detail: 'Fill in Date.',
          life: 3000,
        });
      } else if (!this.date?.[1]) {
        this.$toast.add({
          severity: 'error',
          summary: 'Error',
          detail: 'Fill in second Date.',
          life: 3000,
        });
      } else {
        this.$toast.add({
          severity: 'error',
          summary: 'Error',
          detail: 'Invalid Date.',
          life: 3000,
        });
      }
    },
  },
};
</script>

<style lang="scss">
.type-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  background-color: rgba($color: #5d8ab9, $alpha: .1);
  color: #5d8ab9;

  &.receipt, &.completed, &.paid, &.overpaid {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.payment {
    background-color: #ffcdd2;
    color: #c63737;
  }

  &.expired {
    background-color: #f1f1f1;
    color: #a1a1a1;
  }

  &.partialpaid {
    background-color: rgba($color: #f79530, $alpha: .1);
    color: #f79530;
  }
}

.filters {
  >* {
    margin-right: 1rem;
  }
}

.history__header {
  @media screen and (max-width: 820px) {
    flex-wrap: wrap;

    .filters {
      margin: .5rem 0;
    }

    >.p-button {
      margin: .5rem 0;
    }
  }

  @media screen and (max-width: 630px) {
    .p-input-icon-left {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 455px) {
    .p-calendar {
      margin-top: 1rem;
      width: 100%;
      margin-right: 0;
    }
    .p-input-icon-left, .p-input-icon-left input, .p-dropdown {
      width: 100%;
    }
  }
}
</style>
