.--top-place-image
  background url("/static/images/places/dubai_aquarium_underwater_zoo.jpeg") no-repeat center !important
  background-size cover !important

.all-events-main
  background url('/static/images/Events.jpeg') no-repeat center
  background-size cover
  //box-shadow inset 0 0 200px 200px rgba(#ffffff, 1), inset 0 0 300px 300px rgba(#ffffff, 0.2)
  padding-bottom: 80px
  &__content
    max-width: 981px;
    background #C22C91
    padding: 64px 96px
    border-radius 0 100px 0 0
    height: 408px
    margin-top: 300px

  &__title
    font-size: 48px
    line-height: 32px
    font-weight: 600
    color #ffffff
    margin-bottom: 29px

  &__subtitle
    font-size: 24px
    line-height: 32px
    color #ffffff
    display block

  &__btn
    margin-top: 55px
    background #F1922B
    border-radius 80px
    font-size: 20px
    font-weight: 700
    padding: 32px 48px
    float right
    color #ffffff
    display block
    transition 0.2s
    &:hover
      background #F4AB5C

.--all-place-btn
  color: #48B7AC !important
  border: 2px solid #48B7AC !important
  transition 0.2s
  &:hover
    background #48B7AC !important
    color #ffffff !important

.going-the-moment
  &__arrow-left
  &__arrow-right
    display none !important
  &__list
    display flex
    justify-content space-between
    margin-top: 48px

  &__item
    max-width 459px
    width: 100%
    margin-left: 12px
    transition all 0.2s
    padding-bottom: 12px
    &:hover
      box-shadow 0 2px 10px 0 rgba(#000000, 0.2)
    &:first-child
      margin-left: 0
    img
      border-radius 5px
      box-shadow 0 2px 20px 0 rgba(#113532, 0.15)
      max-width: 480px
      width: 100%
      max-height 320px
    div
      border-radius 5px
      box-shadow 0 2px 20px 0 rgba(#113532, 0.15)
      max-width: 480px
      width: 100%
      height: 320px
      background-size cover

  &__name-event
    font-size: 24px
    line-height: 32px
    font-weight: 800
    display block
    margin-top: 32px
    margin-bottom: 24px
    margin-left: 30px
    margin-right: 10px
    color #0e2522

  &__date
    font-weight: 800
    font-size: 24px
    line-height: 20px
    color #808080
    margin-left: 30px

.top-event
  margin-top: 128px

  &__content
    margin-top: 48px
    display flex
    justify-content: space-between;
    align-items center
  &__img
    border-radius 0 0 100px 0
    box-shadow 0 2px 40px 0 rgba(#113532, 0.15)
    max-width: 826px
    width: 100%
    background url("/static/images/events/adihex_2022.jpeg") no-repeat center
    background-size cover
    height: 596px
  &__text
    margin-left: 40px
    max-width 450px
    h3
      font-size: 38px
      font-weight: 800
    span
      display block
      font-size: 28px
      font-weight: 800
      margin-top: 34px
      margin-bottom: 30px
      color #808080
    p
      font-size: 26px
      line-height: 38px


.other-events
  margin-top: 128px
  &__list
    display flex
    justify-content: center;
    flex-wrap wrap
    margin-top: 48px

  &__item
    margin-bottom: 84px
    &:nth-child(4)
      margin-left: 0
    img
      max-width: 428.5px;

  &__btn
    color #C22C91
    background #ffffff
    font-size: 20px
    font-weight: 700
    border 2px solid #C22C91
    border-radius 80px
    padding: 32px 68px
    margin: 94px auto 158px
    display block
    transition 0.2s
    &:hover
      background #C22C91
      color #ffffff


.--all-event-title
  font-size: 48px
  font-weight: 800

.--all-place-main
  background url("/static/images/Sightseeings05.png") no-repeat center
  background-size cover



@media screen and (max-width: 1390px)
  .going-the-moment
    &__name-event
      margin-left: 10px
    &__date
      margin-left: 10px

  .other-events
    &__item
      &:nth-child(even)
        margin-left: 6px

      &:nth-child(odd)
        margin-left: 6px

@media screen and (max-width: 1150px)
  .all-events-main
    &__content
      max-width 840px
      height: 350px
      padding 45px 65px
    &__title
      font-size: 42px
      margin-bottom: 20px
    &__subtitle
      font-size: 20px
    &__btn
      font-size: 18px
      margin-top: 30px
  .going-the-moment
    &__name-event
      font-size: 20px
      margin-top: 12px
      margin-bottom: 6px
      line-height: 26px
    &__date
      font-size: 20px

@media screen and (max-width: 1000px)
  .--all-event-title
    font-size: 40px
  .going-the-moment
    &__name-event
      font-size: 16px
      line-height: 21px
      margin-bottom: 2px
    &__date
      font-size: 16px
    &__list
      margin-top: 32px
    &__name-event
      font-size: 20px
      line-height: 26px
      margin-bottom: 24px
      margin-top: 16px
      margin-left: 10px
    &__date
      font-size: 19px
      margin-left: 10px

  .other-events
    &__item
      border-radius: 5px
      margin-left: 20px
      margin-bottom: 16px
      padding-bottom: 24px
      max-width: 300px
      box-shadow: 0 2px 5px 0 rgba(#000000, 0.15)
      img
        border-radius 5px 5px 0 0

  .top-event
    &__img
      height: 520px
      background-position-x 42%
      border-radius 0 0 80px 0
    &__text
      max-width: 300px
      margin-left: 32px
      h3
        font-size: 30px
      span
        font-size: 22px
        margin-top: 10px
        margin-bottom: 16px
      p
        font-size: 20px
        line-height: 32px

@media screen and (max-width: 767px)
  .all-events-main
    background-position-x 40%
    & > .container
      padding 0 !important
    &__link-tabs
      padding 0 20px
    &__content
      max-width: 100%
      height: 260px
      padding: 30px 40px
      border-radius 0 0 40px 0
    &__title
      font-size: 32px
      margin-bottom: 14px
    &__subtitle
      font-size: 16px
      line-height: 24px
    &__btn
      font-size: 14px
      margin-top: 22px
      padding 22px 30px
  .going-the-moment
    &__list
      display block
      margin-top: 16px
    &__dots
      display flex !important
      justify-content: center;
      align-items center
      list-style-type none
      margin-top: 8px
      li
        margin-left: 8px
        &:first-child
          margin-left: 0
        button
          border none
          background none
          font-size: 0
          &:after
            display block
            content ''
            width: 16px
            height: 16px
            border-radius 100%
            background #c4c4c4
    &__item
      border-radius 5px
      margin-left: 20px
      margin-bottom: 16px
      padding-bottom: 24px
      max-width: 300px
      box-shadow 0 2px 5px 0 rgba(#000000, 0.15)
      img
        border-radius 5px 5px 0 0
      &:last-child
        margin-bottom: 0


  .--all-event-title
    font-size: 30px

  .slick-active
    button
      &:after
        background #7BCBC3 !important
        width: 18px !important
        height: 18px !important

  .top-event
    &__img
      border-radius 80px 0 0 0
    &__content
      flex-direction column
      margin-top: 24px
      box-shadow 0 2px 5px 0 rgba(#000000, 0.15)
      border-radius 80px 0 0 0
    &__text
      max-width: 100%
      margin-left: 24px
      padding-right: 24px
      margin-top: 24px
      padding-bottom: 32px
      h3
        font-size: 24px
      span
        font-size: 20px
        margin-top: 32px
        margin-bottom: 24px
      p
        font-size: 19px
        line-height 1.6

  .other-events
    &__list
      margin-top: 16px
    &__btn
      font-size: 13px
      margin-bottom: 0
      padding 14px 18px
      border-radius 15px
      margin-top: 60px

    &__item
      max-width: 244px
      div
        height: 250px
      & > .going-the-moment__name-event
        font-size: 14px
        line-height 20px
        margin-right: 10px
        margin-bottom: 16px
        height: 40px
      & > .going-the-moment__date
        font-size: 13px
      &:nth-child(even)
        margin-left: 16px
      &:nth-child(5)
        margin-bottom: 0
      &:nth-child(odd)
        margin-left: 0

@media screen and (max-width: 550px)
  .all-events-main
    &__content
      margin-top: 300px
      height: 220px
      padding 20px 24px
    &__title
      font-size: 24px
    &__subtitle
      font-size: 13px
      line-height: 18px
    &__btn
      font-size: 10px
      padding 14px 22px
  .top-event
    margin-top: 40px
    & > .container > .--all-event-title
      padding-left: 0
    &__img
      height: 360px
      border-radius 40px 0 0 0
    &__text
      margin-left: 16px
      padding-right: 16px
      h3
        font-size: 14px
      span
        font-size: 13px
        margin-top: 32px
        margin-bottom: 24px
      p
        font-size: 13px
        line-height: 24px

  .going-the-moment
    & > .container
      padding: 0 !important
    &__name-event
      font-size: 14px
      line-height: 24px
      margin-bottom: 4px
      margin-top: 8px
    &__date
      font-size: 13px

  .other-events
    margin-top: 40px
    & > .container
      padding: 0 16px !important
    & > .container > .--all-event-title
      padding-left: 0
    &__item
      max-width 180px
      &:nth-child(5)
        margin-bottom: 16px
      &:nth-child(even)
        margin-left: 8px

  .--all-event-title
    font-size: 24px
    padding-left: 20px

@media screen and (max-width: 400px)
  .top-event
    &__img
      height: 230px

  .other-events
    &__item
      max-width: 100%
      div
        height: 280px
      &:nth-child(even)
        margin-left: 0


