.emailing
  background #caeae7
  min-height 100vh
  &__container
    display flex
    align-items center
    justify-content: center
    width: 100%

  &__title
    font-size: 40px
    text-align: center
    margin-top: 100px
    background #ffffff
    padding 50px 80px
    border-radius 30px
    box-shadow 0 2px 10px 0 rgba(#000000, 0.2)
