.event-main
  &__link-tabs
    margin-top: 32px

  &__content
    display flex
    margin-top: 40px


  &__image
    border-radius 0 0 100px 0
    background-size cover !important
    max-width: 790px;
    width: 100%
    height: 584px

  &__content-text
    margin-left: 67px

  &__title
    font-size: 32px
    font-weight: 800
    line-height: 1.3

  &__subtitle
    max-width: 390px;
    font-size: 20px
    line-height: 26px
    margin-top: 32px
    margin-bottom: 40px
    display block

  &__date
    background #EEF7F6
    border-radius 10px
    padding: 32px 24px
    display flex
    align-items center
    max-width 390px

  &__date-container
    display flex
    align-items center

  &__line
    height: 41px
    width: 2px
    background #B7BDBD
    margin: 0 32px

  &__btn
    width: 302px
    height: 85px
    display flex
    align-items center
    justify-content: center;
    margin-top: 95px

  &__text
    max-width: 1071px;
    width: 100%
    margin: 80px auto 112px
    color rgba(#0E2522, 0.5)
    line-height: 24px

.maps
  background #EEF7F6
  iframe
    max-width: 825px;
    width: 100%
  &__inner
    padding-top: 48px
    padding-bottom: 64px

  &__title
    text-align center
    display flex
    justify-content: center;
    div
      width: 160px
      border-bottom 3px solid #F1922B
      h2
        font-size: 24px
        font-weight: 800
        padding-bottom: 8px

  &__content
    display flex
    align-items center
    justify-content: space-between;
    margin-top: 64px

  &__text
    padding-left: 85px
    padding-right: 140px
    div
      display flex
      align-items center
      margin-top: 48px
      &:first-child
        margin-top: 0

  &__location
    display flex
    flex-direction column
    font-weight: 500
    color #8F9997
    margin-left: 32px
    span
      display block
      color #0E2522
      margin-top: 8px

    a
      margin-top: 8px

.event
  &__title
    font-size: 32px
    font-weight: 800
    opacity 0.7
    margin-bottom: 32px

  &__link
    margin-top: 48px
    color #48B7AC
    font-size: 24px
    font-weight: 500
    display flex
    align-items center
    img
      margin-left: 8px


.--maps-block
  background #48B7AC

@media screen and (max-width: 1150px)
  .event-main
    &__image
      background-position-x 20%


@media screen and (max-width: 1000px)
  .maps
    &__content
      flex-direction column
    &__text
      padding-right: 0
      padding-left: 0
      margin-bottom: 30px
      display flex
      justify-content: space-around
      width: 100%
      div
        margin-top: 0
        margin-left: 16px
        &:first-child
          margin-left: 0

    &__location
      margin-left: 16px
      span
        font-size: 15px

  .event-main
    &__content-text
      margin-left: 24px

    &__title
      font-size: 29px

    &__subtitle
      font-size: 16px
      margin-top: 24px
      margin-bottom: 30px

    &__date
      flex-direction column
      padding 16px 35px
      max-width: 255px

    &__line
      width: 100%
      height: 1px
      margin 16px 0

    &__btn
      width: 252px
      height: 61px
      font-size: 16px
      margin-top: 81px

@media screen and (max-width: 767px)
  .event-main
    &__content
      flex-direction column
      margin-top: 16px

    &__content-text
      margin-top: 32px

    &__btn
      margin-top: 55px

    &__text
      margin 60px auto 112px

    &__image
      height: 520px
      background-position-x 29%

  .maps
    &__content
      iframe
        height: 500px

@media screen and (max-width: 550px)
  .--link-tabs
    a
      font-size: 11px !important
    svg
      width: 5px !important
      margin: 2px 8px 0 !important
  .event-main
    &__image
      height: 310px
      border-radius 0 0 80px 0
      background-position-y 65%

    &__title
      font-size: 24px

    &__subtitle
      font-size: 13px
      margin-top: 14px
      line-height: 20px

    &__content
      margin-top: 8px

    &__content-text
      margin-left: 0

    &__text
      font-size: 13px
      margin: 40px auto 80px

    &__btn
      font-size: 12px
      width: 190px
      height: 45px
      margin-top: 35px

    &__date
      max-width: 310px;

  .upcoming-events
    margin-top: 100px
    &__date
      font-size: 20px

    &__month
      font-size: 13px

    &__content-text
      margin-left: 0

  .maps
    &__text
      max-width: 284px
      flex-direction column
      div
        margin-left: 0
      div + div
        margin-top: 24px

    &__content
      iframe
        height: 250px

    &__location
      font-size: 14px
      span
      a
        font-size: 13px
        margin-top: 4px

  .event
    &__title
      font-size: 24px
      text-align center
    &__link
      margin-top: 16px
      font-size: 14px
      img
        width: 8px
        margin-top: 3px

  .slider__arrow-left
  .slider__arrow-right
    display none !important



