.faq
  &__title
    font-size: 32px
    font-weight: 800
    margin-top: 108px
    margin-bottom: 32px
    text-align center

  &__subtitle
    display block
    font-weight: 600
    margin-bottom: 88px
    text-align center
  &__list
    max-width 950px
    width: 100%
    margin: 0 auto
    padding 0 30px
