.footer
  background #333333
  padding: 167px 0
  span
  a
    display block

  &__inner
    display flex
    justify-content: space-between;

  &__logo
    img
      margin-bottom: 16px
    span
      line-height: 1.3

  &__item
    display flex

  &__column
    margin-left: 95px
    &:first-child
      margin-left: 0

  &__link
    font-weight: 700
    font-size: 20px
    color #ffffff
    margin-bottom: 16px
    &:last-child
      margin-bottom: 0

  &__title
    font-size: 20px
    font-weight: 800
    color #F1922B
    margin-bottom: 48px

@media screen and (max-width: 1000px)
  .footer
    padding 100px 0
    &__logo
      margin-bottom: 50px
      span
        display none
    &__inner
      flex-direction column

    &__column
      margin-left: 90px

    &__title
      margin-bottom: 35px

    &__item
      justify-content: space-between;

@media screen and (max-width: 767px)
  .footer
    &__item
      flex-direction column

    &__column
      margin-left: 0
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0

