.header
  padding-top: 56px

  &__items
    display flex
    align-items center

  &__inner
    display flex
    justify-content: space-between
    align-items center

  &__basket
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100
    transition 1s
  &__burger
    display none

  &__covid-sidebar
    display none

  &__link
    color #232323
    text-transform uppercase
    font-size: 20px
    margin-right: 24px
    font-weight: 600

  &__sidebar
    display flex
    align-items center

  &__covid
    color #DE2121
    border 1px solid #DE2121
    padding: 12px
    border-radius 20px
    margin-right: 48px
    font-weight: 600
    font-size: 20px
    transition 0.2s
    &:hover
      background #DE2121
      color #ffffff

    &:active
      background #E54D4D
      border 1px solid #E54D4D

  &__lang
    color #ffffff
    font-weight: 600
    font-size: 20px
    background #7BCBC3
    padding: 12px 24px
    border-radius 20px
    box-shadow 1px 1px 1px 0 rgba(29, 73, 68, .25)

@media screen and (max-width: 1000px)
  .header
    padding-top: 25px
    &__items
      width: 100%
      justify-content: end
    &__sidebar
      transition 0.2s
      z-index 50
      position fixed
      left: -275px
      top: 0
      display flex
      flex-direction column
      background #ffffff
      padding-top: 100px
      width: 265px
      height: 100vh

    &__container-adaptive
      display flex
      align-items center
      z-index 100

    &__link
    &__lang
      width: 100%
      margin-right: 0
      padding-left: 46px
      padding-bottom: 20px
      padding-top: 20px
      border-bottom 1px solid #B7BDBD
      border-radius 0
      background none
      color #232323
      position relative

    &__lang
      border none
      box-shadow none
      &:after
        content ''
        display block
        background url("/static/images/main-arrow.svg") no-repeat center
        background-size contain
        width: 16px
        height: 8px
        position absolute
        right: 16px
        top: 24px

    &__covid
      margin-right: 0

    &__covid-sidebar
      display block
      color #DE2121
      background #F5BCBC

    &__basket
      display none

    &__burger
      display block
      padding: 7px 0
      cursor pointer
      margin-right: 8px

      span
        display block
        position relative
        width: 20px
        height: 2px
        background #0E2522
        &:before
        &:after
          position absolute
          content ''
          display block
          width: 20px
          height: 2px
          background #0E2522
          left: 0
          transition 0.2s

        &:before
          top: 5px

        &:after
          bottom: 5px

  .open-sidebar
    left: 0
  .container-fixed
    position fixed
  .close-sidebar
    span
      background none
      &:after
        transform rotate(45deg)
        bottom: -1px
      &:before
        transform rotate(-45deg)
        top: 1px
@media screen and (max-width: 550px)
  .container
    padding 0 20px !important
  .header
    &__logo
      img
        width: 113px
    &__covid
      font-size: 13px
      padding: 9px 11px



