.main
  position relative

  &__custom-option
    max-width: 592px !important
    width 100% !important
    border none
    left: -16px !important
    margin-top: -10px
    box-shadow 0 0 10px 0 rgba(#355A57, 0.2)
    border-radius 0 0 40px 40px
    & > .select2-search
      margin-left: 16px
      margin-right: 16px

    & > .select2-results
      margin-top: 8px
      margin-bottom: 16px
      margin-left: 16px
      margin-right: 16px
      & > ul > .select2-results__option--highlighted
        background: rgba(123, 203, 195, 0.3)
        border-radius: 30px
        color black
      & > ul > li
        font-size: 20px
        font-weight: 600
        padding: 16px
      & > ul > li > span
        display flex
        align-items center
      & > ul > li > span > img
        margin-right: 8px

    & > .select2-search > input
      border 1px solid #b9b9b9
      border-radius 40px
      height: 40px
      outline none
      font-size: 20px
      padding-left: 20px
      transition 0.2s
      margin-top: 16px
      &:focus
        border-color #7bcbc3

  &__custom-select
    border none !important
    height: 84px !important
    display flex !important
    align-items center !important
    border-radius 80px !important
    transition 0.2s !important
    & > .select2-selection__arrow
      top: 26px !important
      right: 57px !important
    & > .select2-selection__arrow > b
      background url("/static/images/main-arrow.svg") no-repeat center
      background-size contain
      border none !important
      width: 20px !important
      height: 13px !important
      transition 0.2s
    & > .select2-selection__rendered
      width: 100%
      height: 100%
      background #ffffff
      display flex !important
      align-items center
      border-radius 80px
      font-size: 20px
      font-weight: 700
      color black !important
      padding-left: 76px !important
    & > .select2-selection__rendered > span
    .placeholder
      position relative
      color black !important
      width: 100%
      height: 100%
      display flex
      align-items center
      &:after
        content ''
        display block
        background: url(/static/images/main_select.svg) no-repeat center
        background-size: contain
        width: 24px
        height: 24px
        position: absolute
        top: 30px
        left: -34px
    & > .select2-selection__rendered > .remove-after
      margin-left: -40px !important


  &__svg-one
    position absolute
    top: 200px
    left: 0

  &__svg-two
    position absolute
    top: 300px
    right: -50px
    transform rotate(-40deg)

  &__inner
    display flex
    flex-direction column
    justify-content: center;
    align-items center

  &__title
    font-size: 60px
    font-weight: 800
    line-height: 1.5
    color #0E2522
    margin-top: 108px
    text-align center

  &__subtitle
    font-size: 20px
    font-weight: 700
    color #1A423E
    margin-top: 40px
    margin-bottom: 80px


  &__form
    border 16px solid #7bcbc3
    border-radius 80px
    max-width: 624px;
    width: 100%
    display flex
    flex-direction column
    align-items center
    justify-content: center;
    position relative

  &__select
    outline: none
    border none
    max-width: 624px
    width: 100%
    height: 84px
    border-radius: 80px
    font-size: 20px
    font-weight: 600
    color: #232323
    background: white
    position: relative
    transition 0.2s
    z-index:5

  &__select-inner
    cursor: pointer
    background: white
    width: 100%
    height: 100%
    position: relative
    display: flex
    align-items: center
    font-size: 20px
    font-weight: 700
    padding-left: 72px
    border-radius: 80px
    box-shadow 0 0 10px 0 rgba(53, 90, 87, .3)
    transition 0.5s
    &:before
      content: ''
      display: block
      background: url("/static/images/main_select.svg") no-repeat center
      background-size: contain
      width: 24px
      height: 24px
      position: absolute
      top: 30px
      left: 32px

    &:after
      content ''
      display block
      background url("/static/images/main-arrow.svg") no-repeat center
      background-size contain
      width: 20px
      height: 13px
      position absolute
      right: 38px
      top: 35px
      transition 0.2s

  &__options
    background #ffffff
    border-radius 0 0 40px 40px
    max-width: 592px
    width: 100%
    position absolute
    top: 88px
    left: 0
    height: 0
    box-shadow 0 0 10px 0 rgba(#355A57, 0.3)
    transition 0.3s
    padding 32px
    padding-top: 16px
    padding-right: 0
    opacity 0

  &__options-inner
    height: 250px
    padding-right: 32px
    overflow scroll
    transition 0.2s

  &__option
    display none
    padding: 16px
    cursor pointer
    &:hover
      background rgba(#7bcbc3, 0.3)
      border-radius 30px
    &:last-child
      margin-bottom: 0
    span
      opacity 0
      color #232323

  &__select-btn
    width: 0
    height: 84px
    border-radius: 40px
    background: #7BCBC3
    border: none
    color: white
    font-size: 0
    font-weight: 700
    cursor: pointer
    position: absolute
    right: 0
    top: 0
    z-index: 100
    outline: none !important
    transition 0.2s

    &:active
      background: #e69b17

  &__links
    display flex
    justify-content: space-between;
    margin-top: 200px

  &__link
    color #92D3CE
    font-size: 19px
    font-weight: 800
    line-height: 1.5
    margin-left: 64px

    &:first-child
      margin-left: 0

.steps-visa
  max-width: 1258px;
  width: 100%
  margin: 128px auto
  border 32px solid rgb(214, 239, 236)
  box-shadow 0 4px 60px 0 rgba(63, 165, 174, .2)
  background white
  border-radius 80px
  display flex
  flex-direction column
  justify-content: center;
  align-items center
  position relative
  z-index: 1

  &__container
    width: 100%
    position relative
    padding 0 30px

  &__svg-one
    position absolute
    top: 300px
    right: 0

  &__svg-two
    position absolute
    top: 1500px
    left: 0
    transform rotate(-40deg)

  &__title
    font-size: 40px
    line-height: 1.5
    color #0E2522
    font-weight: 800
    margin-top: 38px
    margin-bottom: 32px

  &__subtitle
    display block
    font-size: 16px
    line-height: 2

  &__text
    display flex
    justify-content: center;
    flex-direction column
    margin 0 70px
    position relative

  &__caption
    font-size: 32px
    line-height: 1.5
    margin-bottom: 12px
    z-index 1

  &__item
    display flex
    justify-content: space-between;
    align-items center
    width 100%
    padding: 0 50px

  &__number
    font-size: 167px
    line-height: 1.5
    color #E5E5E5
    font-weight: 800
    position absolute
    opacity: 0.3
    z-index 0

.customer-say
  display flex
  justify-content: center;
  flex-direction column
  align-items center
  padding 0 30px

  &__title
    font-size: 32px
    font-weight: 800
    color #0E2522

  &__items
    display flex
    align-items center
    margin-top: 48px
    span
      color #000000
      font-size: 18px
      font-weight: 500
      font-family: 'Roboto', sans-serif

  &__evaluation
    display flex
    margin: 0 32px

  &__item
    margin-left: 10px
    background #219653
    width: 40px
    height: 40px
    display flex
    align-items center
    justify-content: center;
    &:first-child
      margin-left: 0

  &__trustpilot
    display flex
    align-items center
    span
      margin-left: 4px
      font-family: 'Roboto', sans-serif
      line-height: 26px
      font-weight: 700
      display block

  &__review
    font-family: 'Roboto', sans-serif
    font-size: 14px
    line-height: 22px
    display flex
    margin-top: 32px
    p
      font-weight: 300
      margin-right: 8px
    span
      font-weight: 700
      text-decoration underline

.fast-visa
  padding 0 30px
  max-width: 1254px;
  width: 100%
  margin: 160px auto
  display flex
  justify-content: space-between;
  align-items center

  &__left-content
    display flex
    flex-direction column

  &__right-content
    display flex
    flex-wrap wrap
    max-width: 826px;
    width: 100%

  &__subtitle
    color #F1922B
    font-weight: 800

  &__title
    font-size: 32px
    font-weight: 800
    line-height: 40px
    margin-top: 15px
    margin-bottom: 164px

  &__btn
    padding-left: 50px !important
    margin-bottom: 32px
    width: 225px
    height: 60px
    font-size: 20px
    display flex
    align-items center

  &__item
    max-width: 396px;
    width: 100%
    padding: 24px 32px
    background rgba(255, 255, 255, 0.5)
    display flex
    flex-direction column

  &__title-item
    font-size: 24px
    font-weight: 800
    color #000000
    margin: 16px 0

  &__text
    font-size: 20px
    line-height: 30px
    font-weight: 500
    color #000000

  &__group-btn-adaptive
    display none

.placeholder
  &:after
    left: 40px !important

.quick-answer
  margin: 0 auto
  max-width: 950px;
  width: 100%
  padding 0 30px
  &__title
    font-size: 32px
    font-weight: 600
    color #0E2522
    text-align center
    margin-bottom: 64px
    span
      font-weight: 800

  &__list
    border-radius 20px
    background #ffffff
    width: 100%
    padding: 51px
    margin-bottom: 32px
    position relative
    overflow hidden
    box-shadow 0 4px 60px rgba(#3FA5AE, 0.2)
    &:last-child
      margin-bottom: 0
    p
      line-height: 24px
      font-weight: 500
      color #666666
      margin-top: 32px
      z-index: 1
      display none

  &__item
    display flex
    justify-content: space-between;
    align-items center

  &__text
    font-size: 20px
    font-weight: 800
    color #0E2522
    z-index: 1

  &__arrow
    display flex
    justify-content: center;
    align-items center
    background #7BCBC3
    border-radius 100%
    min-width: 32px
    height: 32px
    z-index:1
    margin-left: 16px
    &:after
      content ''
      display block
      background url("../images/arrow-right.svg") no-repeat center
      background-size contain
      width: 11px
      height: 14px

  &__circle
    display none
    width: 283px
    height: 283px
    background radial-gradient(circle at top, rgba(#F1922B, 0), transparent),
            radial-gradient(circle at bottom, rgba(#F1922B), transparent);
    border-radius 100%
    position absolute
    right: -20px
    bottom: -184px

  &__square
    display none
    width: 236px
    height: 236px
    border-radius 50px
    background radial-gradient(circle at top, rgba(#7BCBC3, 0), transparent),
            radial-gradient(circle at bottom, rgba(#7BCBC3), transparent);
    position absolute
    left: -133px
    top: -30px
    transform rotate(130deg)



.circle
  display flex
  flex-direction column
  width: 20px
  margin: 34px auto 64px
  &__one
    width: 16px
    height: 16px
    background white
    border-radius 100%
    margin-bottom: 16px
  &__two
    width: 15px
    height: 15px
    background white
    border-radius 100%
    margin-bottom: 16px
  &__three
    width: 15px
    height: 15px
    background white
    border-radius 100%
    margin-bottom: 16px
  &__four
    width: 14px
    height: 14px
    background white
    border-radius 100%
    margin-bottom: 16px
  &__five
    width: 13px
    height: 13px
    background white
    border-radius 100%

.customer-ask
  display flex
  flex-direction column
  align-items center
  &__dots
    display none !important
  &__title
    font-size: 32px
    font-weight: 800
    color #0E2522

  &__subtitle
    font-size: 20px
    line-height: 32px
    font-weight: 500
    color #0E2522
    margin-top: 16px
    margin-bottom: 32px

  &__form
    width: 202px
    height: 32px
    position relative
    margin-bottom: 40px
    input
      border 1px solid rgba(255, 255, 255, 0.2)
      background rgba(255, 255, 255, 0.5)
      border-radius 30px
      padding-left: 40px
      outline none
      width: 100%
      height: 100%
      &::placeholder
        font-weight: 500
        color rgba(14, 37, 34, 0.2)
        font-size: 16px

    label
      background url("../images/search.svg") no-repeat center
      background-size contain
      width: 16px
      height: 16px
      position absolute
      left: 16px
      top: 8px

  &__slider
    width:100%

  &__slider-list
    background #ffffff
    border-radius 20px
    padding: 32px
    max-width: 438px;
    width: 100%
    margin-left: 64px

  &__slider-item
    display flex
    justify-content: space-between;
    align-items center
    span
      font-weight: 500
      color #666666

  &__slider-text
    display block
    font-size: 20px
    line-height: 24px
    font-weight: 800
    color #0E2522
    margin-top: 16px
    margin-bottom: 20px

  &__slider-actions
    display flex

  &__slider-action
    display flex
    align-items center
    margin-right: 32px
    span
      line-height: 24px
      font-weight: 500
      color #666666
      margin-left: 8px

  &__slider-container
    position relative
    width: 100%

  &__arrow-left
    left: 10px !important
    top: 105px !important


  &__arrow-right
    right: 10px !important
    top: 105px !important

.price
  margin-top: 160px
  position relative

  &__svg
    position absolute
    top: -100px
    left: 0
    transform rotate(-35deg)
  &__inner
    display flex
    flex-direction column
    align-items center

  &__title
    font-size: 32px
    font-weight: 800
    color #0E2522
    margin-bottom: 64px

  &__list
    z-index: 1
    display flex
    justify-content: space-between;
    margin: 0 auto

  &__item
    border-radius 20px
    max-width 328px
    width: 100%
    background #D6EFEC
    margin-left: 16px
    overflow hidden
    box-shadow 0 4px 30px 0 rgba(#3C9CA5, 0.2)
    &:first-child
      margin-left: 0

  &__name-visa
    padding 32px 32px 38px 32px

  &__item-title
    font-size: 20px
    font-weight: 800
    line-height: 24px

  &__currency
    font-size: 30px
    font-weight: 800

  &__price
    font-size: 60px
    font-weight: 800
    line-height: 0.7
    margin-left: 6px
    margin-right: 10px

  &__date
    font-size: 20px
    font-weight: 800

  &__description
    width: 100%
    background #ffffff
    padding: 32px

  &__description-title
    line-height: 24px
    font-weight: 700
    color #666666
    margin-bottom: 39px
    display block

  &__description-item
    display flex
    align-items center
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
    span
      margin-left: 16px
      font-weight: 500
      display block

  &__btn
    font-weight: 500 !important
    width: 176px
    height: 48px
    font-size: 16px
    &:after
      top: 16px !important

.visa-information
  position relative
  display flex
  flex-direction column
  align-items center
  margin-top: 160px
  padding 0 30px
  &__img-size
    width: 29px
  &__title
    font-size: 32px
    font-weight: 800
    text-align center

  &__subtitle
    display block
    font-weight: 500
    margin-top: 32px
    margin-bottom: 40px

  &__list
    display flex
    flex-direction column
    overflow hidden
    max-width: 950px;
    width: 100%
    border-radius 20px
    background #ffffff
    z-index:1

  &__text
    display none
    margin-top: 84px
    line-height: 1.3
    background #ffffff
    span
      font-weight: 800

  &__items
    padding: 26px 48px
    border-bottom 1px solid #ABABAB
    &:last-child
      border none
  &__item
    display flex
    align-items center
    justify-content: space-between;

    div
      display flex
      align-items center
  &__name
    margin-left: 16px
    font-size: 20px
    color #ABABAB
    font-weight: 800
    transition 0.2s

  &__svg
    path
      transition 0.2s

.select-country-and-visa
  position relative
  margin-left: 32px
  margin-top: 280px
  background rgba(255, 255, 255, 0.5)
  border-radius 200px 0 0 0

  &__custom-select-visa
  &__custom-select-country
    border-radius 80px 0 0 80px !important
    height: 80px !important
    border none !important
    display flex !important
    align-items center !important
    & > .select2-selection__rendered
      padding-left: 24px !important
      padding-right: 24px !important
      & > span
        font-size: 16px
        font-weight: 400
        color black !important

    & > .select2-selection__arrow
      top: 28px !important
      right: 10px !important

    & > .select2-selection__arrow > b
      border none !important
      width: 14px !important
      height: 8px !important
      background: url(/static/images/everything-understood-arrow.svg) no-repeat center !important
      background-size contain !important

  &__custom-select-visa
    border-radius 0 !important
    border-left 2px solid #F8E8D3 !important
    cursor: not-allowed !important
    & > .select2-selection__rendered > span
      color #b2b2b2 !important

  &__custom-option-country
    width: 100%
    border-radius 0 0 30px 30px
    border none
    box-shadow 0 0 10px 0 rgba(179, 79, 4, 0.1)
    & > .select2-search
      margin: 0 8px
    & > .select2-results
      margin: 0 8px
      margin-bottom: 16px
      & > ul > .select2-results__option--highlighted
        background none !important
        color #f1922b !important
    & > .select2-search > input
      height: 25px
      font-size: 16px
      padding-left: 8px
      border-radius 30px
      outline none
      margin-top: 8px
      &:focus
        border 1px solid #f1922b

  &__item-select
    position relative
    font-weight: 500
    width: 33%
    cursor pointer
    background #ffffff
    & > .select2-container--open:nth-child(odd)
      top: 84px !important

  &__open-select-country
    border-radius 40px 0 0 0 !important

  &__open-select-arrow
    &:after
      transform rotate(180deg)

  &__select
    position relative
    padding: 32px
    background #ffffff
    height: 100%
    display flex
    align-items center
    &:after
      position absolute
      content ''
      display block
      width: 14px
      height: 8px
      top: 38px
      right: 17px
      background url("/static/images/everything-understood-arrow.svg") no-repeat center
      background-size contain
    div
      width: 100%

  &__options
    display none
    position absolute
    top: 85px
    left: 0
    background #ffffff
    border-radius 0 0 40px 40px
    padding 32px
    padding-right: 0
    padding-left: 22px
    width: 100%
    box-shadow 0 0 10px 0 rgba(#954F04, 0.1)

  &__options-country
    height: 300px
    padding-top: 16px

  &__options-country-inner
    overflow scroll
    height: 260px

  &__open-options
    display block

  &__open-options-visa
    display block

  &__option
    padding: 10px
    border-radius 30px
    margin-bottom: 5px
    cursor pointer
    &:hover
      span
        color #F1922B
    span
      font-size: 18px
      color #232323
    &:last-child
      margin-top: 0

  &__inner
    position relative
    display flex
    justify-content: space-between;
    max-width 1600px
    width: 100%
    align-items center
    padding: 85px 40px 110px 80px
    z-index: 1


  &__text
    max-width: 370px;
    width: 100%

  &__title
    font-size: 40px
    line-height: 1.5
    font-weight: 800

  &__subtitle
    font-size: 20px
    font-weight: 500
    margin-top: 24px
    line-height: 1.5

  &__container-form
    width: 100%

  &__form
    max-width 949px
    width: 100%
    border 16px solid rgba(232, 173, 100, 0.6)
    box-shadow 0 4px 20px 0 rgba(36, 36, 36, 0.1)
    border-radius 80px
    display flex
    margin-left: 32px

  &__btn
    width: 34%
    background #F1922B
    border-radius 0 80px 80px 0
    border none
    color white
    font-weight: 700
    cursor pointer

  &__decorative-container
    max-width 648px
    height: 664px
    width: 100%
    border-radius 200px 0 0 0
    background linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1))
    position absolute
    left: 0
    top: 0

.popular-place
  position relative

  &__images-1
    background: url("../images/places/sheikh_zayed_grand_mosque.jpeg") no-repeat center;
    background-size cover

  &__images-2
    background: url("../images/places/wastensafari_dubai.jpeg") no-repeat center;
    background-size cover

  &__images-3
    background: url("../images/places/die_dubai_fountains.jpeg") no-repeat center;
    background-size cover

  &__images-4
    background: url("../images/places/dubai_mall.jpeg") no-repeat center;
    background-size cover

  &__images-5
    background: url("../images/places/dubai_miracle_garden.jpeg") no-repeat center;
    background-size cover

  &__images-6
    background: url("../images/places/etihad_towers.jpeg") no-repeat center;
    background-size cover

  &__images-7
    background: url("../images/places/louvre_abu_dhabi.jpeg") no-repeat center;
    background-size cover

  &__images-8
    background: url("../images/places/palm_jumeirah.jpeg") no-repeat center;
    background-size cover

  &__images-9
    background: url("../images/places/dubai_aquarium_underwater_zoo.jpeg") no-repeat center;
    background-size cover


  &__item
    margin-left: 31px
    overflow hidden
    border-radius 5px
    width: 459px
    height: 340px
    transition 0.2s
    &:hover
      .popular-place__animate-block
        opacity 1

      .popular-place__animate-item
        top: 50px

  &__animate-block
    position relative
    width: 100%
    height: 100%
    padding: 50px 32px
    background rgba(0, 0, 0, 0.8)
    color white
    opacity: 0
    transition 0.2s

  &__animate-item
    position absolute
    top: 150px
    transition 0.8s
    width: 395px


  &__item-title
    display flex
    align-items center
    span
      display block
      margin-left: 16px
      font-size: 24px
      font-weight: 800

  &__text
    margin-top: 32px
    margin-bottom: 45px
    font-size: 20px
    line-height: 24px

  &__link
    display flex
    align-items center
    justify-content: end
    font-size: 20px
    color white
    img
      margin-left: 8px

.upcoming-events
  position relative
  margin-top: 156px
  .date-margin
    margin: 0 16px
  &__event-name
    display flex
    flex-direction column
    margin-left: 40px
  &__item
    border-radius 5px
    overflow hidden
    width: 459px
    height: 340px
    margin-left: 31px
    position relative
    &:hover
      .upcoming-events__animate-item
        top: 70px
        opacity 1
      .upcoming-events__mask
        opacity 1

      .upcoming-events__pink-block
        width: 435px

      .upcoming-events__name
      .upcoming-events__location
        opacity 1


  &__images-1
    background url("../images/events/dp_world_tour_championship.jpeg") no-repeat center
    background-size cover

  &__images-2
    background url("../images/events/downtown_design.jpeg") no-repeat center
    background-size cover

  &__images-3
    background url("../images/events/dubai_international_boat_show.jpeg") no-repeat center
    background-size cover

  &__images-4
    background url("../images/events/eid_al_fitr.jpeg") no-repeat center
    background-size cover

  &__images-5
    background url("../images/events/electric_vehicle_summit_2022.jpeg") no-repeat center
    background-size cover

  &__images-6
    background url("../images/events/emirates_airline_dubai_rugby_sevens.jpeg") no-repeat center
    background-size cover

  &__images-7
    background url("../images/events/hr_technology_summit_2022.jpeg") no-repeat center
    background-size cover

  &__images-8
    background url("../images/events/international_indian_film_academy.jpeg") no-repeat center
    background-size cover

  &__images-9
    background url("../images/events/adihex_2022.jpeg") no-repeat center
    background-size cover

  &__animate-block
    padding: 24px
    padding-bottom: 48px
    width: 100%
    height: 100%
    position relative

  &__item-title
    color #ffffff
    display flex
    align-items center
    z-index 1
    position relative

  &__date
    font-size: 24px
    font-weight: 800

  &__month
    font-weight: 500
    font-size: 16px

  &__name
    font-size: 24px
    line-height: 20px
    opacity 0.7
    font-weight: 800
    transition 0.7s

  &__location
    line-height: 20px
    opacity 0.7
    font-weight: 800
    transition 0.7s

  &__pink-block
    position absolute
    top: 0
    left: 0
    background #C22C91
    border-radius 0 0 30px 0
    width: 146px
    height: 89px
    transition 0.4s ease-out

  &__animate-item
    color #ffffff
    display flex
    align-content space-between
    flex-wrap wrap
    padding-bottom: 48px
    padding-right: 24px
    position absolute
    height: 220px
    opacity 0
    top: 150px
    transition 0.5s ease-out

  &__mask
    background rgba(0, 0, 0, 0.8)
    width: 100%
    height: 100%
    position absolute
    opacity 0
    transition 0.2s

  &__text
    margin-top: 48px
    margin-bottom: 72px

  &__buttons
    display flex
    padding 145px 0
    align-items center
    justify-content: center;

  &__btn-all-places
    border 1px solid #000
    border-radius 20px
    font-size: 20px
    font-weight: 500
    color #0E2522
    padding: 18.5px 66.5px
    background none
    transition 0.2s
    &:hover
      background #0E2522
      border 1px solid #0E2522
      color #ffffff
    &:active
      background #153833
      border 1px solid #153833
      color #ffffff

  &__btn-all-events
    background #C22C91
    border 1px solid #C22C91
    border-radius 20px
    font-size: 20px
    font-weight: 500
    color #ffffff
    padding: 18.5px 133px
    margin-left: 32px
    transition 0.2s
    &:hover
      background none
      color #C22C91
    &:active
      background rgba(#ffffff, 0.4)



.--steps-visa-width-subtitle
  max-width: 504px;
  width: 100%
  text-align center
  margin-bottom: 50px

.--steps-visa-width-item-subtitle
  max-width: 395px;
  width: 100%

.--one
  top: -120px
  left: -22px

.--two
  top -120px
  right: 35px

.--three
  top -100px
  right: 0

.--four
  top: -120px
  left: -80px

.--btn-view-price
  border 2px solid #0E2522
  font-weight: 600
  color #0E2522
  position relative
  background none
  border-radius 50px
  padding-left: 21px
  transition 0.2s
  &:hover
    background #0E2522
    color #ffffff
    &:after
      background url("/static/images/btn-view-price-white.svg") no-repeat center
      background-size contain
  &:active
    background #153833
    border 2px solid #153833
    &:after
      background url("/static/images/btn-view-price-white.svg") no-repeat center
      background-size contain
  &:after
    content ''
    display block
    background url("../images/btn-view-price.svg") no-repeat center
    background-size contain
    position absolute
    top: 21px
    left: 24px
    width: 18px
    height: 12px

.--btn-start-order
  background #F1922B
  border 2px solid #F1922B
  font-size: 20px
  font-weight: 600
  color #ffffff
  border-radius 50px
  width: 225px
  height: 60px
  transition 0.2s
  &:hover
    background #F4AB5C
    border 2px solid #F4AB5C


.--close
  background none
  border 2px solid #666666
  position relative
  &:before
    content ''
    display block
    width: 2px
    height: 10px
    background #666666
    position absolute
    left: 13px
    top: 9px
    transform rotate(45deg)
  &:after
    content ''
    display block
    width: 10px
    height: 2px
    background #666666
    position absolute
    right: 9px
    top: 13px
    transform rotate(45deg)

.slider__arrow-left
    cursor: pointer
    position absolute
    left: 10px
    top: 200px
    z-index:10

.slider__arrow-right
    cursor: pointer
    position absolute
    right: 10px
    top: 200px
    z-index:10

.event-title
    text-align center
    font-size: 32px
    font-weight: 800
    opacity: 0.7
    margin-bottom: 32px

.open-select
  transition 0.3s
  border-radius 40px 40px 0 0
  &:after
    transform rotate(180deg)
    transition 0.2s

.show-select
  transition 0.4s, height 0s
  height: 300px
  padding: 32px
  padding-top: 16px
  padding-right: 0
  z-index: 10
  opacity 1
  .main__option
    display block
    span
      opacity 1

.show-button
  width: 188px
  font-size: 20px
  transition 0.5s ease

.after-delete
  &:before
    display none

.--color-turquoise
  color #7BCBC3
  transition 0.2s

.--fill-turquoise
  path
    fill #7BCBC3
    transition 0.2s

.box-shadow-left
.box-shadow-right
  position absolute
  top: 25px
  height: 340px
  width: 1px
  box-shadow 0 0 100px 60px rgba(#ffffff, 0.8)

.box-shadow-left
  left: 0

.box-shadow-right
  right: 0

.--closed-input
  background rgba(#0E2522, 0.1)
  color rgba(#0E2522, 0.4)
  cursor not-allowed !important

.--closed-btn
  background #F4AB5C
  cursor not-allowed !important

.--fast-visa-item-one
  border-radius 20px 0 0 0
  margin-right: 34px
  margin-bottom: 34px

.--fast-visa-item-two
  border-radius 0 20px 0 0
  margin-bottom: 34px

.--fast-visa-item-three
  border-radius 0 0 0 20px

.--fast-visa-item-four
  border-radius 0 0 20px 0
  margin-left: 34px

.--price-description-one
.--price-description-three
  border-radius 30px 0 0 0

.--price-description-two
.--price-description-four
  border-radius 0 30px 0 0

@media screen and (max-width: 1391px)
  .price
    &__list
      flex-wrap wrap
      justify-content: center;
      max-width: 800px;

  .--price-item-3
    margin-left: 0
    margin-top: 16px

  .--price-item-4
    margin-left: 16px
    margin-top: 16px
@media screen and (max-width: 1170px)
  .fast-visa
    &__right-content
      max-width: 650px

    &__item
      max-width: 320px
      padding: 24px

    &__text
      font-size: 16px

  .--fast-visa-item-one
    margin-right: 10px !important
    margin-bottom: 10px !important

  .--fast-visa-item-two
    margin-bottom: 10px !important

  .--fast-visa-item-four
    margin-left: 10px !important

  .select-country-and-visa
    margin-left: 20px
    border-radius 140px 0 0 0
    &__inner
      padding 100px 30px 90px
    &__text
      max-width: 323px;
    &__title
      font-size: 35px
    &__subtitle
      font-size: 18px
    &__form
      margin-left: 10px
    &__select
      font-size: 15px


@media screen and (max-width: 1095px)

  .price
    &__item
      max-width: 336px;

@media screen and (max-width: 1000px)
  .main
    &__svg-one
      width: 200px
      top: 280px
      left: -24px
    &__svg-two
      width: 200px
      top: 700px
      right: -30px
      transform none
    &__title
      font-size: 52px
    &__subtitle
      font-size: 16px
    &__links
      flex-direction column
      text-align center
      margin-top: 140px
    &__link
      font-size: 24px
      margin-left: 0
      margin-bottom: 30px

  .steps-visa
    &__item
      flex-direction column-reverse
      margin-bottom: 40px

  .--steps-visa-width-subtitle
    margin-bottom: 0

  .customer-say
    &__title
      font-size: 24px

  .fast-visa
    flex-direction column
    padding 0 20px
    &__left-content
      max-width: 708px
      width: 100%
      justify-content flex-start

    &__title
      margin-bottom: 64px

    &__btn
      margin-right: 16px

    &__group-btn
      display none

    &__right-content
      max-width: 708px
      width: 100%
      justify-content: center;

    &__item
      max-width: 345px

    &__group-btn-adaptive
      display flex
      margin-top: 35px

  .--fast-visa-item-one
    margin-right: 18px
    margin-bottom: 18px

  .--fast-visa-item-two
    margin-bottom: 18px

  .--fast-visa-item-four
    margin-left: 18px


  .quick-answer
    padding: 0 20px
    &__list
      padding 40px
    &__text
      font-size: 16px

  .select-country-and-visa
    &__inner
      padding 60px 35px 60px
    &__text
      max-width: 370px
    &__form
      flex-direction column
      background #EFCDA1
      padding 16px
      border none
      border-radius 32px
    &__subtitle
      font-size: 16px
    &__item-select
      width: 100%
      border-radius 80px !important
      margin-top: 8px
    &__select
      border-radius 80px !important
      padding 24px 32px
      font-weight: 700
      font-size: 14px
      &:after
        top: 27px
    &__form
      margin-left: 24px
    &__options
      z-index 10
      top: 65px
    &__option
      padding: 8px
      span
        font-size: 14px

    &__custom-select-country
    &__custom-select-visa
      border-radius 80px !important

    &__btn
      border-radius 80px
      width: 100%
      margin-top: 16px
      height: 52px

    &__open-select-country
    &__open-select-visa
      border-radius 20px 20px 0 0 !important


  .customer-ask
    &__title
      text-align center
    &__subtitle
      font-size: 16px
      text-align center

  .upcoming-events
    &__buttons
      flex-direction column

    &__btn-all-events
      margin-left: 0
      margin-top: 16px

  .flex-reverse
    flex-direction column

  .--one
  .--two
  .--three
  .--four
    left: -30px

@media screen and (max-width: 767px)
  .main

    &__title
      font-size: 36px

    &__subtitle
      text-align center
      font-size: 17px
      line-height: 1.5

    &__select-inner
      font-size: 18px

  .show-select
    .main__option
      span
        font-size: 18px

  .steps-visa
    &__title
      font-size: 30px
      margin-bottom: 24px

    &__subtitle
      font-size: 13px

    & > .steps-visa__subtitle
      padding 0 20px

    &__item
      img
        max-width: 400px;
        width: 100%

    &__number
      font-size: 100px

    &__caption
      font-size: 23px

    &__text
      margin 0 30px

  .customer-say
    &__title
      font-size: 24px
      text-align center
      line-height: 1.2

    &__item
      width: 30px
      height: 30px
      img
        width: 20px

    &__trustpilot
      img
        width: 25px

  .fast-visa
    &__right-content
      flex-direction column
    &__item
      max-width: 100%
      border-radius 10px 10px 0 0 !important
      margin 0 0 16px !important

    &__text
      font-size: 20px

  .price
    &__item
      margin-top: 16px

    &__svg
      display none

  .--price-item-2
    margin-left: 0

  .--price-item-4
    margin-left: 0

  .quick-answer
    &__text
      line-height: 1.4
      font-weight: 700

  .select-country-and-visa
    margin-left: 0
    background none
    &__inner
      flex-direction column
      padding: 0

    &__text
      max-width: 100%;
      text-align center
      padding 32px 48px
      background rgba(#ffffff, 0.4)
      border-radius 60px 0 0 0

    &__title
      margin-bottom: 16px

    &__container-form
      margin-top: 32px
      padding: 0 16px

    &__form
      margin: 0

    &__decorative-container
      max-width: 100%;
      border-radius 60px 0 0 0
      background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,1), rgba(255,255,255,0.1))




  .--one
    left: -20px
    top: -65px

  .--two
    left: 0
    top: -64px

  .--three
    top: -70px
    left: 0

  .--four
    top: -67px
    left: 0

@media screen and (max-width: 550px)
  .main
    &__title
      font-size: 24px
      margin-top: 40px

    &__subtitle
      font-size: 13px
      margin-top: 24px
      margin-bottom: 40px

    &__select-inner
      font-size: 13px
      padding-left: 56px
      &:before
        width: 16px
        left: 24px
        top: 14px
      &:after
        right: 24px
        width: 16px
        height: 8px
        top: 22px

    &__form
      border-width 8px

    &__custom-select
      height: 65px !important
      & > .select2-selection__arrow > b
        width: 15px !important
      & > .select2-selection__rendered
      & > .select2-selection__rendered > span
        font-size: 14px
        &:after
          top: 20px
          width: 18px
          left: -33px
      & > .select2-selection__rendered
        padding-left: 55px !important
      & > .select2-selection__arrow
        top: 15px !important
        right: 32px !important

    &__custom-option
      left: -8px !important
      top: 6px
      border-radius 0 0 25px 25px
      & > .select2-search > input
        height: 32px
        border-radius 15px
        font-size: 14px
        padding-left: 10px
      & > .select2-search
        margin-left: 8px
        margin-right: 8px
      & > .select2-results
        margin-left: 8px
        margin-right: 8px
      & > .select2-results > ul > li
        font-size: 13px
        padding: 10px

    &__options
      top: 56px
      border-radius 0 0 15px 15px
      padding: 16px

    &__options-inner
      height: 235px

    &__select-btn
      height: 65px

    &__select
      border-width 8px !important
      height: 68px

    &__svg-one
      width: 105px
      top: 135px
      left: -16px

    &__svg-two
      width: 105px
      right: -20px
      top: 390px

    &__links
      margin-top: 48px

    &__link
      font-size: 16px
      margin-bottom: 8px

  .show-select
    padding 16px
    padding-right: 0
    height: 270px
    .main__option
      padding: 5px
      span
        font-size: 13px

  .placeholder:after
    left: 21px !important

  .steps-visa
    border 16px solid #d6efec
    border-radius 30px
    &__container
      padding 0 20px
    &__title
      font-size: 24px
      max-width: 200px
      text-align center
      margin-top: 32px

    &__item
      padding 0 20px

    &__text
      margin: 0
      text-align center

    &__caption
      font-size: 20px

    .--one
      left: 0
      top: -70px

    .--two
      left: -115px
      top: -70px

    .--three
      top: -75px
      left: -150px

    .--four
      top: -72px

  .customer-say
    &__title
      font-size: 20px

    &__item
      width: 16px
      height: 16px
      img
        width: 12px

    &__items
      margin-top: 33px
      span
        font-size: 13px

    &__evaluation
      margin: 0 16px

    &__trustpilot
      span
        font-size: 13px
      img
        width: 14px

    &__review
      font-size: 12px
      margin-top: 16px

  .fast-visa
    margin: 96px auto
    &__subtitle
      font-size: 13px

    &__title
      font-size: 20px
      line-height: 1.2
      margin-top: 8px
      margin-bottom: 40px

    &__left-container
      margin-left: 25px

    &__title-item
      font-size: 20px

    &__text
      font-size: 16px

    &__btn
      font-size: 13px
      width: 143px
      height: 37px
      padding-left: 30px !important
      margin-bottom: 0

    &__group-btn-adaptive
      margin-top: 16px

    .--btn-view-price
      &:after
        width: 12px
        height: 9px
        top: 12px
        left: 12px

    .--btn-start-order
      width: 143px
      height: 37px
      font-size: 13px

  .quick-answer
    &__title
      font-size: 20px
      margin-bottom: 40px

    &__text
      font-size: 13px

    &__list
      padding 20px 16px
      border-radius 10px
      margin-bottom: 16px
      p
        font-size: 13px
        line-height: 1.4

    &__square
      width: 158px
      height: 158px
      left: -106px
      top: 20px

    &__circle
      width: 84px
      height: 84px
      right: -31px
      bottom: -32px

    &__arrow
      margin-left: 7px
      min-width: 24px;
      height: 24px
      &:after
        right: 5px
        top: 9px
        width: 10px
      &:before
        left: 9px
        top: 5px
        height: 10px

  .circle
    &__one
    &__two
    &__three
    &__four
      margin-bottom: 5px

  .customer-ask
    &__title
      font-size: 20px
      line-height: 1.2
    &__subtitle
      font-size: 13px
      line-height: 20px
      margin-bottom: 24px
    &__form
      width: 170px
      height: 29px
      input
        font-size: 13px
        padding-left: 38px
        &::placeholder
          font-size: 13px
      label
        width: 12px
        height: 12px
        left: 20px

    &__slider-list
      max-width: 279px
      padding 32px 16px
      box-shadow 0 4px 10px 0 rgba(#3FA5AE, 0.2)
      border-radius 10px
      margin-left: 24px

    &__slider-text
      font-size: 13px
      line-height: 20px

    &__dots
      display flex !important
      justify-content: center;
      align-items center
      list-style-type none
      margin-top: 8px
      li
        margin-left: 8px
        &:first-child
          margin-left: 0
        button
          border none
          background none
          font-size: 0
          &:after
            display block
            content ''
            width: 16px
            height: 16px
            border-radius 100%
            background #c4c4c4

    &__arrow-left
    &__arrow-right
      display none !important

  .slick-active
    button
      &:after
        background #7BCBC3 !important
        width: 18px !important
        height: 18px !important

  .price
    margin-top: 80px
    &__title
      font-size: 20px
      margin-bottom: 40px
    &__item
      box-shadow 0 4px 10px 0 rgba(#3C9CA5, 0.2)
      max-width: 311px;
      border-radius 10px
    &__item-title
      font-size: 16px
      position relative
      &:after
        display block
        content ''
        width: 12px
        height: 6px
        background url("/static/images/price-adaptive-arrow.svg") no-repeat center
        background-size contain
        position absolute
        right: 0
        top: 10px
    &__price
      font-size: 50px
    &__date
      color #728A87
      font-weight: 700
    &__description
      display none
      border-radius 0 !important
    &__open-description
      display block
    &__open-arrow
      &:after
        transform rotate(180deg)

  .visa-information
    margin-top: 80px
    img
      display none
    &__title
      font-size: 18px
    &__subtitle
      font-size: 13px
      text-align center
      margin-top: 16px
    &__name
      font-size: 13px
    &__img-size
      width: 15px
      height: 10px
    &__items
      padding 13px 16px
    &__text
      margin-top: 30px
      font-size: 12px
    &__list
      border-radius 10px

  .select-country-and-visa
    margin-top: 110px
    border-radius 120px 0 0 0
    &__custom-select-country
    &__custom-select-visa
      height: 52px !important
      & > .select2-selection__rendered
      & > .select2-selection__rendered > span
        font-size: 13px
      & > .select2-selection__arrow
        top: 12px !important

    &__custom-option-country
    &__custom-option-visa
      top: -28px !important
      & > .select2-results > ul > li
        font-size: 13px

    &__title
      font-size: 20px

    &__subtitle
      font-size: 13px

  .open-select
    border-radius 20px 20px 0 0

  .show-button
    width: 125px
    font-size: 14px

  .popular-place
    &__arrow-left
    &__arrow-right
      display none !important
    &__item
      max-width: 279px
      height: 206px
      background-size 118%
      margin-left: 24px
      &:hover
        .popular-place__animate-item
          top: 28px
    &__animate-block
      padding 28px 16px 16px
    &__animate-item
      width: 247px
    &__item-title
      img
        width: 14px
      span
        font-size: 20px
    &__text
      font-size: 13px
      line-height: 16px
      margin-top: 16px
      margin-bottom: 18px
    &__link
      font-size: 13px
      img
        width: 12px

  .event-title
    font-size: 24px

  .box-shadow-left
  .box-shadow-right
    display none

  .upcoming-events
    &__arrow-left
    &__arrow-right
      display none !important
    &__item
      max-width: 279px
      height: 206px
      background-size 120%
      margin-left: 24px
      &:hover
        .upcoming-events__pink-block
          width: 260px
    &__animate-block
      padding 12px 16px
    &__date
      font-size: 16px
    &__month
      font-size: 10px
    &__name
      font-size: 16px
      line-height: 1
    &__location
      font-size: 10px
      line-height: 1
    &__event-name
      margin-left: 25px
    &__pink-block
      width: 100px
      height: 55px
    &__animate-item
      height: 168px
    &__buttons
      padding-top: 40px
      padding-bottom: 160px
    &__btn-all-places
      font-size: 13px
      padding 12px 14px
      border-radius 15px
    &__btn-all-events
      font-size: 13px
      padding 12px 57px
      border-radius 15px
  .date-margin
    margin: 0 6px !important

@media screen and (max-width: 400px)
  .main
    &__select-btn
      height: 50px
    &__select-inner
      font-size: 12px
      padding-left: 38px
      &:before
        width: 14px
        left: 16px
      &:after
        right: 12px
    &__custom-select
      height: 50px !important
      & > .select2-selection__rendered
      & > .select2-selection__rendered > span
        font-size: 12px
        &:after
          top: 13px
          width: 13px
          left: -20px

      & > .select2-selection__arrow
        top: 9px !important
        right: 9px !important

      & > .select2-selection__rendered
        padding-left: 30px !important
      & > .select2-selection__rendered > .remove-after
        margin-left: -20px !important
        img
          width: 20px
  .price
    &__name-visa
      padding 32px 20px 38px 20px

  .placeholder:after
    left: 10px !important

  .show-button
    width: 95px
    font-size: 13px










