.modal-start
  display flex
  flex-direction column
  align-items center
  max-width 960px
  width: 100%
  height: 100%
  background #F5F5F5
  padding: 49px 95px 50px 49px
  box-shadow -10px 0 60px 0 rgba(#000000, 0.1)
  position: fixed
  top: 0
  right: -1000px
  transition 0.4s
  z-index: 100
  overflow-y scroll

  &__adaptive-document-format
    display none !important

  &__adaptive-duration-visa
    display flex
    align-items center
    flex-direction column

  &__adaptive-text
    display flex
    flex-direction column
    align-items center

  &__content
    width: 100%
    height: 100%
    display flex
    flex-direction column
    align-items center
    justify-content: center;

  &__file-link
    input
      display none

    label
      cursor pointer
      font-size: 14px
      color #ffffff
      background #48B7AC
      box-shadow 0 2px 10px 0 rgba(#1f4747, 0.25)
      font-weight: 500
      padding: 6px 26px
      border-radius 5px

  &__content-file
    display flex
    flex-direction column
    align-items center

  &__text
    display flex
    justify-content: space-between;
    width: 100%

  &__title
    display flex
    align-items center
    font-size: 20px
    color #0E2522
    font-weight: 700

    img
      margin-right: 8px

  &__price
    font-size: 20px

    span
      color #F1922B
      font-size: 20px
      font-weight: 700

  &__first-block
    margin-top: 16px

  &__line
    margin 0 8px

  &__radio-list
    margin-top: 85px
    display flex
    justify-content: space-between;

  &__radio-item
    max-width: 168px
    width: 100%
    display flex
    flex-direction column
    align-items center
    border 1px solid #C4C4C4
    border-radius 10px
    padding: 16px 15px
    margin-left: 16px
    cursor: pointer

    &:first-child
      margin-left: 0

  &__radio-title
    text-align center
    font-size: 14px
    line-height: 16px
    font-weight: 700
    margin-top: 8px
    margin-bottom: 16px
    width: 100px
    text-transform uppercase

  &__radio-text
    display block
    margin-bottom: 8px
    color #808080
    font-size: 12px

  &__radio-price
    margin-top: 8px
    font-weight: 700

  &__radio
    input[type=radio]
      position absolute
      left: -99999px

    label
      display inline-block
      position relative
      cursor pointer

    input[type="radio"]:checked + label:before
    input[type="radio"]:not(:checked) + label:before
      content ''
      position absolute
      left: -10px
      top: -15px
      width: 16px
      height: 16px
      border 1px solid #c4c4c4
      background #ffffff
      border-radius 100%

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after
      content: ""
      position: absolute
      -webkit-transition: all 0.2s ease
      -moz-transition: all 0.2s ease
      -o-transition: all 0.2s ease
      transition: all 0.2s ease
      left: -6px;
      top: -11px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #F1922B;

    input[type="radio"]:not(:checked) + label:after
      opacity: 0

    input[type="radio"]:checked + label:after
      opacity: 1

    input[type="radio"]:checked + label:before
      border 1px solid #F1922B

  &__document-upload
    margin-top: 80px

  &__document-title
    font-size: 20px
    margin-bottom: 32px
    display block
    text-align center

  &__document-format
    font-size: 14px
    display block
    margin-bottom: 8px

    span
      font-weight: 800
      font-size: 14px
      color #F1922B

  &__document-list
    display flex

  &__file-link
    margin-top: 24px

  &__file-img
    display flex
    flex-direction column
    align-items center

    img
      max-width: 180px
      max-height: 110px
      display none

  &__document-item
    margin-left: 48px
    width: 306px

    &:first-child
      margin-left: 0

  &__document-file
    border 1px dashed #94D1D1
    background linear-gradient(to bottom, rgba(241, 249, 249, 1), rgba(248, 252, 252, 1))
    display flex
    flex-direction column
    align-items center
    padding 24px 26px
    border-radius 10px
    height: 210px
    max-width 306px
    width: 100%

  &__document-name
    font-weight: 700
    display block
    margin 8px 0

  &__document-description
    font-size: 14px
    margin-bottom: 10px

  &__group-btn
    display flex
    margin-top: 111px

.modal-order-process
  width: 100%
  display flex
  flex-direction column
  justify-content: space-between;
  align-items center
  height: 100%

  &__group-btn
    margin-top: 25px
    justify-content: center;
    padding-bottom: 50px

  &__list
    margin-top: 84px
    width: 100%

  &__list + .modal-order-process__list
    margin-top: 32px

  &__title
    font-weight: 700
    font-size: 20px
    display flex
    align-items center
    margin-bottom: 32px

    img
      margin-right: 8px

  &__group-input
    max-width 631.5px
    width: 100%
    display flex
    flex-wrap wrap
    justify-content: space-between;

  &__input
    width: 100%
    display flex
    flex-direction column
    margin-bottom: 24px

    label
      font-size: 14px
      margin-bottom: 8px

    input
    select
      background #ffffff
      border 1px solid #C4C4C4
      width: 100%
      height: 40px
      padding-left: 16px
      border-radius 5px
      outline none
      transition 0.2s
      font-size: 16px
      font-weight: 500
      color #0E2522

      &::placeholder
        font-weight: 400
        color #0e2522

      &:focus
        border 1px solid #48B7AC
        background linear-gradient(to bottom, rgba(241, 249, 249, 1), rgba(248, 252, 252, 1))

.modal-add-applicant
  width: 100%

  &__item-container-text
    display flex
    flex-direction column
    align-items center
    margin-top: 16px

  &__list
    margin-top: 84px
    width: 100%

  &__items
    display flex
    flex-wrap wrap
    width: 100%

  &__item
    border 1px solid #c4c4c4
    background #ffffff
    border-radius 10px
    padding: 16px 12px
    width: 168px
    display flex
    align-items center
    flex-direction column
    margin-right: 16px
    margin-bottom: 16px
    justify-content: space-between;

  &__photo
    width: 48px
    height: 48px
    border-radius 100%
    border 2px solid #c4c4c4
    overflow hidden
    display flex
    align-items center
    justify-content: center;
    padding-top: 5px
    margin: 0 auto

  &__type-visa
    margin-bottom: 4px
    font-size: 12px
    font-weight: 700
    color #808080
    display block

  &__link
    text-decoration underline
    color #0042EC

  &__price
    font-weight: 700

  &__add-item
    border 1px dashed #94D1D1
    background linear-gradient(to bottom, rgba(241, 249, 249, 1), rgba(248, 252, 252, 1))

  &__add-text
    font-size: 14px
    line-height: 16px
    margin: 12px 0
    display block
    text-align center

  &__add-link
    background #48B7AC
    border-radius 100%
    box-shadow 0 2px 10px 0 rgba(#1F4747, 0.25)
    position relative
    width: 30px
    height: 30px

    &:before
      content ''
      display block
      width: 12px
      height: 2px
      position absolute
      background #ffffff
      border-radius 10px
      top: 14px
      left: 9px

    &:after
      content ''
      display block
      width: 2px
      height: 12px
      position absolute
      background #ffffff
      border-radius 10px
      bottom: 9px
      right: 14px

.modal-pay
  &__list
    margin-top: 84px
    display flex
    width: 100%

  &__item
    margin-right: 16px
    background #ffffff
    border-radius 10px
    padding: 40px 16px
    max-width 400px
    width: 100%
    height: 560px
    position relative
    display flex
    flex-direction column
    align-items center

    &:last-child
      margin-right: 0

  &__text
    display flex
    justify-content: space-between;
    margin-bottom: 32px
    width: 100%

  &__summary
    font-size: 14px
    font-weight: 700

  &__all-delete
    font-size: 12px
    font-weight: 700
    color #808080

  &__card-product
    display flex
    align-items center
    margin-bottom: 16px

  &__name-visa
    margin-left: 8px
    display flex
    flex-direction column
    font-size: 14px
    font-weight: 700
    line-height: 12px

    span
      margin-top: 8px
      display block
      font-size: 12px
      color #808080

  &__price
    font-size: 14px
    font-weight: 700
    margin-left: 58px

  &__link-delete
    margin-left: 29px
    position relative

    &:after
      display block
      content ''
      width: 13px
      height: 14px
      background url("/static/images/modal-pay-delete.svg") no-repeat center
      background-size contain
      position absolute
      left: 0
      top: -7px

  &__final-price
    margin-top: 16px

  &__select
    width: 100%
    height: 40px
    background #41A59B
    border-radius 5px
    padding-left: 13px
    font-size: 14px
    font-weight: 700
    color #ffffff
    border none
    margin-top: 24px
    margin-bottom: 16px
    outline none
    transition 0.2s

    &:focus
      background #91D4CD
      box-shadow 2px 2px 10px 0 rgba(#2B6E67, 0.15)

  &__input
    position relative
    width: 100%

    input
      padding-left: 50px
      width: 100%
      height: 40px
      background #41A59B
      border-radius 5px
      font-size: 14px
      font-weight: 700
      color #ffffff
      border none
      margin-bottom: 16px
      outline none
      transition 0.2s

      &:focus
        background #91D4CD
        box-shadow 2px 2px 10px 0 rgba(#2B6E67, 0.15)

      &::placeholder
        color #ffffff
        font-size: 14px
        font-weight: 600

    label
      position absolute
      top: 11px
      left: 16px

  &__group-input
    width: 100%
    display flex
    justify-content: space-between;

    div
      width: 168px

  &__type-card
    display flex
    margin-top: 24px

  &__group-btn
    padding 0 24px
    position absolute
    bottom: 40px
    width: 100%
    display flex
    justify-content: space-between;


.--add-item
  border 2px solid #94D1D1

.--modal-btn-back
  border 2px solid #C4C4C4
  background #C4C4C4
  color #ffffff
  border-radius 50px
  cursor pointer
  padding: 16px 24px
  display flex
  align-items center

  img
    margin-right: 21px
    transform rotate(180deg)

.--modal-pay-back-btn
  position absolute
  bottom: 98px
  left: 48px

.--modal-input-width
  max-width 300px

.--modal-link-close
  background none
  border 2px solid #0E2522
  width: 35px
  height: 35px
  border-radius 100%
  position absolute
  right: 16px
  top: 16px

  &:after
  &:before
    content ''
    display block
    background #0E2522
    border-radius 10px
    position absolute

  &:after
    width: 2px
    height: 24px
    transform rotate(45deg)
    top: 4px
    left: 15px

  &:before
    width: 24px
    height: 2px
    transform rotate(45deg)
    top: 15px
    left: 4px

.--modal-btn-cancel
  border 2px solid #0E2522
  color #0E2522
  cursor pointer
  background none
  padding: 16px 40px
  border-radius 50px

.--modal-pay-cancel-btn
  border 2px solid #ffffff
  color #ffffff

.--modal-btn-next
  border 1px solid #F1922B
  background #F1922B
  cursor pointer
  color #ffffff
  display flex
  align-items center
  padding: 15px 44px 15px 56px
  border-radius 50px

  img
    margin-left: 6px

.--modal-pay-next-btn
  padding 16px 43px

.checked
  border 1px solid #F1922B
  box-shadow 0 2px 10px 0 rgba(#000000, 0.15)
  background #ffffff

.modal-circle-one
.modal-circle-two
.modal-circle-three
.modal-circle-four
  position relative

  &:after
    display block
    position absolute
    color #808080
    bottom: -30px

.modal-circle-one
  &:after
    content 'DOKUMENTE'
    left: -30px

.modal-circle-two
  &:after
    content 'ANGABEN'
    left: -25px

.modal-circle-three
  &:after
    content 'ÜBERSICHT'
    left: -30px

.modal-circle-four
  &:after
    content 'CHECK-OUT'
    left: -33px
    width: 91px

.modal-container
  width: 100%
  height: 100%
  flex-direction column
  align-items center
  display none

@media screen and (max-width: 1000px)
  .modal-start
    padding: 50px
    max-width: 100%

    &__radio-text
      text-align center
      line-height: 1.2

@media screen and (max-width: 767px)
  .modal-start
    max-width: 400px;
    padding-top: 22px
    padding-left: 14px
    padding-right: 14px
    &__document-list
      flex-direction column
      align-items center
      width: 100%

    &__file-img
      img
        max-height 90px
        max-width: 150px

    &__document-item
      margin-left: 0
      margin-bottom: 16px
      width: 100%

      &:last-child
        margin-bottom: 0

    &__radio-list
      flex-direction column
      align-items center
      width: 100%
      position relative
      &:after
        content 'Sie haben folgende Visumart gewählt:'
        display block
        position absolute
        left: 0
        top: -30px
        font-size: 13px
        color #0E2522

    &__radio-text
      margin-left: 16px
      &:first-child
        margin-left: 0

    &__radio-item
      margin-left: 0
      max-width: 100%
      flex-direction initial
      padding 12px 15px 6px
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0

    &__title
      font-size: 13px
      img
        width: 16px
    &__price
      font-size: 13px
      span
        font-size: 13px

    &__text
      max-width: 350px

    &__price
      margin-right: 60px

    &__adaptive-text
      display flex
      flex-direction column
      margin-left: 30px

    &__adaptive-duration-visa
      display flex
      flex-direction initial
      align-items start

    &__radio-price
      display none

    &__radio-title
      width: 100%
      margin-top: 0
      margin-bottom: 6px
      text-align start

    &__line
      width: 58px

    &__circle
      width: 19px
      height: 19px
      &:after
        font-size: 12px
        bottom: -20px

    &__radio
      input[type="radio"]:checked + label:before
      input[type="radio"]:not(:checked) + label:before
        left: 0
        top: -18px

      input[type="radio"]:checked + label:after,
      input[type="radio"]:not(:checked) + label:after
        left: 4px
        top: -14px

    &__document-upload
      margin-top: 70px
      width: 100%

    &__document-file
      max-width: 100%;
      height: 180px

    &__document-name
      margin: 5px 0
      font-size: 13px

    &__document-description
      font-size: 10px

    &__file-link
      font-size: 13px
      margin-top: 18px

    &__document-format
      text-align center
      font-size: 10px
      span
        font-size: 10px

    &__document-title
      margin-bottom: 8px
      font-size: 13px

    &__desktop-document-format
      display none
    &__adaptive-document-format
      display block
      margin-bottom: 40px

    &__group-btn
      margin-top: 27px



  .--modal-link-close
    width: 28px
    height: 28px
    top: 13px
    &:after
      height: 19px
      left: 11px
      top: 3px
    &:before
      width: 19px
      top: 11px
      left 3px

  .modal-circle-one:after
    left: -26px
  .modal-circle-two:after
    left: -17px
  .modal-circle-three:after
    left: -20px
  .modal-circle-four:after
    left: -22px

  .--modal-btn-cancel
    padding 12px 16px
    font-size: 13px

  .--modal-btn-next
    padding 12px 16px
    font-size: 13px
    margin-left: 16px !important
    img
      margin-left: 6px


  .--modal-btn-back
    padding 12px 14px
    font-size 13px
    img
      margin-right: 8px

  .--modal-input-width
    max-width: 180px

  .modal-order-process
    &__title
      font-size: 13px
      margin-bottom: 14px
      img
        width: 14px
    &__list
      margin-top: 40px
    &__list + .modal-order-process__list
      margin-top: 10px
    &__input
      font-size: 13px
      margin-bottom: 16px
      &::placeholder
        font-size: 13px
      label
        font-size: 10px
        margin-bottom: 4px
      input
        font-size: 11px
        margin-bottom: 4px
        height: 29px

    &__group-btn
      flex-wrap wrap
      margin-top: 0
      margin-bottom: 90px

    &__btn-cancel
      margin: 0 !important
      margin-left: 10px !important

    &__btn-next
      margin-left: 10px !important

  .modal-add-applicant
    &__items
      justify-content: center;
      flex-direction column

    &__left-container
      display flex
      align-items center

    &__item
      width:100%
      margin-bottom: 10px
      flex-direction initial
      padding 10px 16px

    &__item-container-text
      align-items start
      margin-left: 16px
      margin-top: 0

    &__title
      display flex
      align-items center
      justify-content: center;

    &__photo
      width: 40px
      height: 40px

    &__type-visa
      margin-bottom: 0
      font-size: 13px

    &__link
      font-size: 13px

    &__price
      font-size: 15px
      br
        display none

    &__type-visa
      margin-bottom: 6px

    &__add-text
      margin: 0
      font-size: 13px
      margin-left: 16px

    &__add-link
      width: 26px
      height: 26px
      &:after
        bottom: 7px
        right: 12px
      &:before
        top: 12px
        left: 7px

    &__group-btn
      flex-wrap wrap

  .--add-item
    margin: 0

  .modal-pay
    &__list
      flex-direction column
      margin-top: 55px
      padding-bottom: 150px

    &__price
      margin-left: 50px

    &__item
      margin-right: 0
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0

    &__group-input
      div
        width: 154px

  .--modal-pay-back-btn
    bottom: -550px
    left: 24px

@media screen and (max-width: 400px)
  .modal-start
    overflow-x hidden
    &__radio-text
      font-size: 10px

    &__radio-title
      margin-bottom: 2px

    &__title
      font-size: 11px
      img
        width: 14px

    &__price
      margin-right: 35px
      font-size: 12px

    &__circle
      width: 16px
      height: 16px
      &:after
        bottom: -16px
        font-size: 10px

    &__line
      width: 55px


    .modal-circle-one:after
      left: -18px
    .modal-circle-two:after
      left: -14px
    .modal-circle-three:after
      left: -17px
    .modal-circle-four:after
      left: -24px

    .--modal-input-width
      max-width: 140px

  .modal-order-process
    &__btn-next
      margin-left: 0 !important
      margin-top: 10px
      padding 13px 23px !important

  .modal-add-applicant
    &__list
      margin-top: 50px
    &__title
      font-size: 12px
    &__item
      padding 10px 16px
    &__photo
      width: 30px
      height: 30px
    &__type-visa
      margin-bottom: 3px
    &__add-text
      font-size: 11px
      line-height: 13px
    &__add-link
      width: 25px
      height: 25px
      margin-left: -50px
      &:before
        top: 12px
        left: 7px
      &:after
        bottom: 6px
        right: 11px
    &__price
      margin-top: 0
      font-size: 14px

  .modal-pay
    &__item
      padding 28px 16px
      height: 480px

    &__item-paypal
      padding 28px 24px !important

    &__select
      height: 34px
      margin-bottom: 10px
      font-size: 13px

    &__input
      input
        margin-bottom: 10px
        height: 34px
        padding-left: 38px
        &::placeholder
          font-size: 13px
      label
        top: 11px
        left: 10px
        img
          width: 16px
          height: 14px

    &__group-input
      div
        max-width: 155px;
        width: 100%
      div + div
        margin-left: 8px

    &__visa
      width: 50px

    &__ssl
      width: 36px !important

    &__mastercard
      width: 40px

    &__american-express
      width: 25px

    &__summary
      font-size: 12px

    &__all-delete
      font-size: 11px

    &__name-visa
      font-size: 12px
      span
        font-size: 10px
        margin-top: 3px

    &__price
      margin-left: 16px
      font-size: 13px

    &__text
      padding 0 !important

    &__final-price
      span
        font-size: 14px !important

    &__group-btn
      justify-content: center;

  .--modal-pay-cancel-btn
    font-size: 12px !important
    padding 12px 16px !important

  .--modal-pay-next-btn
    font-size: 12px !important
    padding 6px 23px 6px 22px !important

  .--modal-pay-back-btn
    bottom: -360px



