.need-visa-main
  margin-top: 92px
  display flex
  flex-direction column
  align-items center

  &__country-name
    span
      font-weight: 700

  &__custom-select
    border none !important
    height: 84px !important
    display flex !important
    align-items center !important
    border-radius 80px !important
    transition 0.2s !important

    & > .select2-selection__arrow > b
      background url("/static/images/main-arrow-primary.svg") no-repeat center !important

    & > .select2-selection__rendered > span
      &:after
        display none !important

    & > .select2-selection__arrow
      top: 24px !important
      right: 57px !important

    & > .select2-selection__arrow > b
      background url("/static/images/main-arrow.svg") no-repeat center
      background-size contain
      border none !important
      width: 20px !important
      height: 13px !important

    & > .select2-selection__rendered > span
      color black !important
      padding-left: 0

    & > .select2-selection__rendered
      width: 100%
      height: 100%
      background #ffffff
      display flex !important
      align-items center
      border-radius 40px
      font-size: 20px
      font-weight: 700
      color black !important
      padding-left: 64px !important


  &__price-item
    cursor: pointer
    transition 0.2s

    &:hover
      margin-top: -10px

  &__title
    font-size: 32px
    font-weight: 800
    margin-top: 40px
    margin-bottom: 32px
    text-align center
    line-height: 1.4
    max-width 820px

  &__subtitle
    font-weight: 500
    font-size: 20px
    text-align center
    line-height: 1.4
    max-width: 766px;

  &__form
    margin-top: 80px
    max-width: 736px;
    width: 100%

  &__container-form
    display flex
    margin-left: -50px

  &__link
    margin-right: 16px
    display flex
    align-items center
    font-size: 20px
    color #F1922B

    img
      margin-right: 16px

  &__select
    border 16px solid #F1922B
    width: 100%
    height: 116px
    border-radius 80px

  &__select-inner
    padding-left: 32px

    &:before
      display none

    &:after
      background url("/static/images/main-arrow-primary.svg") no-repeat center

  &__block
    margin-top: 70px
    display flex
    align-items center
    justify-content: center;
    position relative

  &__country-block
    text-transform: uppercase;
    font-weight: 500
    color #F1922B

  &__first-block
    display flex
    align-items center
    position relative

  &__circle
    width: 24px
    height: 24px
    background #C4C4C4
    border-radius 100%
    position relative

  &__line
    width: 203px
    height: 2px
    background #C4C4C4

  &__country-block
    text-transform uppercase
    font-weight: 500
    color #F1922B
    position absolute
    left: -14px
    top: -26px

.--visa-main-form
  border 16px solid #f1922b

.price-options
  margin-top: 90px
  margin-bottom: 148px

  &__title
    font-size: 24px
    font-weight: 500
    text-align center

  &__description
    position absolute
    bottom: 0
    padding 18px 32px

    div
      display flex
      align-items center

      img
        margin-right: 17px

  &__item
    box-shadow 0 4px 10px 0 rgba(#3C9CA5, 0.05)
    position relative
    height: 221px
    border-radius 30px 30px 0 0

  &__name-visa
    padding-right: 29px

.apply-for-visa
  padding 108px 30px
  display flex
  flex-direction column
  align-items center
  background #EEF7F6
  width: 100%

  &__title
    font-size: 24px
    font-weight: 800
    margin-bottom: 48px

  &__group-link
    display flex
    margin-bottom: 64px

  &__link
    color #0E2522
    border 1px solid #C4C4C4
    border-radius 68px
    padding: 16px 32px
    margin-left: 16px

    &:first-child
      margin-left: 0

  &__subtitle
    font-weight: 500
    margin-bottom: 27px
    display block

  &__list
    display flex

  &__item
    display flex
    align-items center
    flex-direction column
    max-width 336px
    width: 100%
    background #ffffff
    border-radius 20px
    padding: 48px 32px
    box-shadow 0 4px 10px 0 rgba(#0E2522, 0.15)
    margin-left: 32px

    &:first-child
      margin-left: 0

  &__item-name
    text-align center
    font-size: 24px
    font-weight: 700
    color #4A625F


  &__img
    height: 81.5px
    display flex
    align-items center
    justify-content: center;
    margin 33px 38px

  &__text
    font-weight: 600
    text-align center
    line-height: 1.4

.faqs
  &__list
    padding: 42px

.visa-information-uae
  padding 160px 30px 0
  display flex
  flex-direction column
  align-items center

  &__title
    font-size: 32px
    font-weight: 800
    text-align center

  &__checkbox
    width: 25%

    input
      display none

    input[type="radio"]:checked + label
      color #F1922B
      background white

      svg
        path
          fill #F1922B
          fill-opacity 1

  & > .visa-information__list
    display none


  &__subtitle
    font-weight: 500
    display block
    margin-top: 32px
    margin-bottom: 64px

  &__list
    max-width: 1196px;
    width: 100%
    border-radius 20px
    box-shadow 0 4px 10px 0 rgba(#0E2522, 0.15)
    overflow hidden

  &__text
    display block
    padding: 55px
    margin-top: 0


  &__group-link
    display flex

  &__link
    cursor pointer
    display flex
    flex-direction column
    align-items center
    width: 100%
    height: 100%
    padding-top: 16px
    padding-bottom: 24px
    color rgba(#0E2522, 0.3)
    font-weight: 800
    box-shadow -9px 0 10px -5px rgba(#000000, 0.1)
    background #ECECEC

    &:first-child
      box-shadow none

    svg
      margin-bottom: 8px

.all-clear
  background rgba(#D6EFEC, 0.5)

  &__decorative-container
    background linear-gradient(to bottom, rgba(214, 239, 236, 0.1), rgba(214, 239, 236, 0.3), rgba(214, 239, 236, 0.1))


.--visa-information-active
  color #F1922B
  background white

  svg
    path
      fill #F1922B
      fill-opacity 1

.--active-apply-btn
  background #0E2522
  border 1px solid #0E2522
  color white

.--active-circle-primary
  background #F1922B

.--active-line-primary
  background #F1922B
  height: 3px

.circle-one
  &:after
    content 'Staatsangehörigkeit'
    display block
    color #808080
    font-size: 14px
    position absolute
    left: -48px
    bottom: -18px

.circle-two
  &:after
    content 'Upload der Dokumente'
    width: 154px
    display block
    color #808080
    font-size: 14px
    position absolute
    bottom: -18px
    left: -60px

  &:before
    content 'Es dauert nur 5 Minuten!'
    display block
    color #F1922B
    font-weight: 500
    position absolute
    top: -34px
    left: -76px
    width: 192px

.circle-three
  &:after
    content 'Abschluss'
    display block
    color #808080
    font-size: 14px
    position absolute
    bottom: -18px
    left: -20px

@media screen and (max-width: 1391px)
  .--need-visa-price-item-1
  .--need-visa-price-item-2
    margin-bottom: 16px

  .--need-visa-price-item-3
    margin-left: 0

@media screen and (max-width: 1075px)
  .apply-for-visa__item-name
    font-size: 21px

@media screen and (max-width: 1000px)
  .need-visa-main
    padding 0 20px

    &__title
      font-size: 29px

    &__subtitle
      font-size: 18px

    &__container-form
      margin-left: 0

    &__circle
      width: 20px
      height: 20px

    &__line
      width: 160px

  .apply-for-visa
    padding 108px 20px

    &__item
      padding 30px 20px
      margin-left: 16px

    &__item-name
      font-size: 16px

    &__img
      margin: 30px 14px

    &__text
      font-size: 14px

    &__group-link
      margin-bottom: 32px

    &__link
      font-size: 14px
      padding 12px 24px

  .visa-information-uae
    padding 160px 20px 0

    &__title
      font-size: 24px

    &__link
      font-size: 14px
      padding-top: 12px
      padding-bottom: 16px

      svg
        width: 20px

    &__text
      font-size: 14px
      padding: 40px

    &__subtitle
      margin-top: 24px
      margin-bottom: 42px

@media screen and (max-width: 767px)
  .need-visa-main
    &__country-name
      font-size: 14px

      span
        font-size: 14px

    &__title
      margin-top: 28px
      margin-bottom: 20px
      font-size: 24px

    &__subtitle
      font-size: 14px
      max-width: 530px

    &__link
      font-size: 18px

      img
        margin-right: 8px
        margin-top: 4px
        width: 9px

    &__select
      border 12px solid #f1922b
      height: 94px

    &__select-inner
      &:after
        top: 30px

    &__options
      top: 75px

  .apply-for-visa
    &__title
      text-align center
      margin-bottom: 40px

    &__subtitle
      text-align center

    &__list
      flex-direction column

    &__item
      margin-left: 0
      margin-bottom: 16px

  .price
    &__list
      max-width: 500px

  .visa-information-uae
    &__link
      font-size: 11px

      svg
        width: 18px

  .price-need-visa
    &__description
      display block

    &__item-title
      &:after
        display none

    &__name-visa
      padding 32px 12px 38px 20px

  .--need-visa-price-item-1
  .--need-visa-price-item-2
  .--need-visa-price-item-3
  .--need-visa-price-item-4
    box-shadow 0 4px 10px 0 rgba(60 156 165, 0.2)

  .--need-visa-price-item-2
    margin: 0

  .--need-visa-price-item-4
    margin-left: 0


@media screen and (max-width: 550px)
  .need-visa-main
    margin-top: 70px

    &__custom-select
      height: 65px !important

      & > .select2-selection__arrow > b
        width: 15px !important

      & > .select2-selection__rendered
      & > .select2-selection__rendered > span
        font-size: 14px

        &:after
          top: 20px
          width: 18px
          left: -33px

      & > .select2-selection__rendered
        padding-left: 55px !important

      & > .select2-selection__arrow
        top: 15px !important
        right: 32px !important

    .show-select
      padding-left: 32px
      padding-right: 32px

    &__country-name
      font-size: 12px

    &__title
      font-size: 20px

    &__subtitle
      font-size: 12px

    &__select
      height: 70px

      & > div > .show-select
        padding 16px

    &__select-inner
      &:after
        background-size contain
        width: 12px
        right: 24px
        top: 23px

    &__options
      top: 58px

    &__container-form
      justify-content: center;
      align-items center

    &__form
      margin-top: 65px

    &__circle
      width: 18px
      height: 18px

    &__line
      width: 100px

    &__country-block
      font-size: 13px
      left: -13px
      top: -20px

  .--visa-main-form
    border-width 8px

  .apply-for-visa
    &__title
      font-size: 20px

    &__subtitle
      font-size: 13px

    &__link
      font-size: 10px
      padding 10px 18px

    &__text
      font-size: 12px

  .faqs
    &__list
      padding 21px
      margin-bottom: 16px

    &__item-title
      font-size: 10px

    &__text
      font-size: 10px
      margin-top: 16px

  .price-need-visa
    &__description
      padding: 18px

      div
        font-size: 14px

      img
        width: 14px

  .visa-information-uae
    padding-top: 100px

    & > .visa-information__list
      display flex
      box-shadow 0 4px 10px 4px rgba(#3C9CA5, 0.2)

    &__list
      display none

    &__title
      font-size: 19px

    &__subtitle
      font-size: 13px
      text-align center
      margin-top: 20px
      margin-bottom: 32px

    &__text
      font-size: 12px
      padding: 26px

    &__link
      font-size: 9px
      padding-top: 9px
      padding-bottom: 10px

      svg
        margin-bottom: 5px

  .circle-one:after
    font-size: 11px
    left: -39px

  .circle-two:before
    font-size: 13px
    left: -60px
    top: -30px

  .circle-two:after
    font-size: 11px
    width: 126px
    left: -41px

  .circle-three:after
    font-size: 11px
    left: -16px

  .--need-visa-price-item-1
  .--need-visa-price-item-2
  .--need-visa-price-item-3
  .--need-visa-price-item-4
    height: 190px

@media screen and (max-width: 400px)
  .need-visa-main
    margin-top: 45px

    &__custom-select
      height: 50px !important

      & > .select2-selection__rendered
      & > .select2-selection__rendered > span
        font-size: 12px

        &:after
          top: 13px
          width: 13px
          left: -20px

      & > .select2-selection__arrow
        top: 9px !important
        right: 9px !important

      & > .select2-selection__rendered
        padding-left: 30px !important

    &__line
      width: 95px

    &__form
      margin-top: 45px

    &__container-form
      flex-direction column
      align-items start

    &__link
      margin-bottom: 16px
      border 1px solid #f1922b
      border-radius 50px
      padding 5px 16px 7px

  .price-options
    &__item
      border-radius 15px 15px 0 0

  .visa-information-uae
    &__link
      font-size: 6px
      padding-top: 5px
      padding-bottom: 9px

      svg
        width: 14px
        margin-bottom: 0

    &__text
      font-size: 10px

  .circle-one:after
    font-size: 10px
    left: -18px

  .circle-two:after
    font-size: 10px
    width: 126px
    left: -35px

  .circle-three:after
    font-size: 10px
    left: -10px


