.place-main
  &__content
    background-size cover !important
    border-radius 0 0 100px 0
    height: 679px
    margin-top: 40px
    padding-top: 311px
    padding-left: 91px

  &__text
    border-radius 0 80px 0 0
    background rgba(#7BCBC3, 0.7)
    padding: 64px 33px
    max-width: 810px;


  &__title
    font-size: 72px
    line-height: 0.8
    color #ffffff
    font-weight: 800

  &__subtitle
    font-size: 24px
    line-height: 20px
    color #ffffff
    margin-top: 48px


@media screen and (max-width: 1000px)
  .place-main
    &__content
      padding-top: 390px
      padding-left: 0
      background-position-x 11%

    &__text
      max-width: 550px

    &__title
      font-size: 64px

    &__subtitle
      font-size: 21px
      margin-top: 21px

@media screen and (max-width: 767px)
  .place-main
    &__text
      max-width: 430px
      padding 40px 25px
      border-radius 0 50px 0 0
    &__content
      padding-top: 265px
      height: 520px
      margin-top: 16px
    &__title
      font-size: 48px
    &__subtitle
      font-size: 17px
      margin-top: 8px

@media screen and (max-width: 550px)
  .place-main
    &__content
      height: 310px
      padding-top: 148px
      margin-top: 8px
    &__text
      max-width 210px
      padding: 16px
    &__title
      font-size: 24px
    &__subtitle
      font-size: 12px
      margin-top: 0
      line-height: 16px



