.page-price
  max-width 950px
  width: 100%
  margin: 0 auto
  margin-top: 108px
  &__title
    font-size: 32px
    font-weight: 800

  &__subtitle
    font-size: 20px
    font-weight: 600
    margin-top: 32px
    margin-bottom: 48px
    display block
    line-height: 1.3

  &__choice-of-nationality
    display block

  &__select-title
    display block
    margin-top: 40px
    margin-bottom: 8px

  &__form
    display flex
    margin-bottom: 64px

  &__item-select
    max-width: 484px
    width: 100%
    height: 62px
    & > .select2-container--default
      height: 100%
    & > .select2-container--open > .selection > .page-price__custom-select > .select2-selection__arrow
      transform rotate(180deg)

  &__custom-select
    height: 100% !important
    display flex !important
    align-items center
    border 1px solid #c4c4c4 !important
    border-radius 5px !important
    position relative
    & > .select2-selection__rendered
      padding: 0 32px !important
      color #0e2522
      font-weight: 600
      & > .select2-selection__placeholder
        color #0e2522
        font-weight: 600
    & > .select2-selection__arrow
      transition 0.2s
      width: 12px !important
      height: 8px !important
      top: 26px !important
      right: 33px !important
      position relative
      &:after
      &:before
        content ''
        display block
        position absolute
        background #7bcbc3
      &:after
        width: 8px
        height: 2px
        top: 3px
        left: 0
        transform rotate(45deg)
      &:before
        height: 8px
        width: 2px
        top: 0
        right: 2px
        transform rotate(45deg)
      & > b
        border none !important

  &__custom-option
    border none
    box-shadow 0 0 10px 0 rgba(#954F04, 0.1)
    top: 10px
    padding: 24px 32px 16px
    border-radius 5px 5px 0 0
    & > .select2-search--dropdown
      padding: 0 0 16px
      input
        border-radius 5px
        outline none
        transition 0.2s
        &:focus
          border 1px solid #7BCBC3
    & > .select2-results
      & > ul > li
        background none !important
        transition 0.2s
        padding-left: 0
        padding-right: 0
      & > ul > .select2-results__option--highlighted
        background none
        color #7BCBC3

  &__select
    background #ffffff
    border 1px solid #c4c4c4
    max-width: 484px
    width: 100%
    border-radius 5px
    padding 22px 32px
    font-weight: 600
    color #0E2522
    position relative
    cursor pointer
    &:after
      position absolute
      content ''
      display block
      background url("/static/images/page-price-arrow.svg") no-repeat center
      background-size contain
      width: 14px
      height: 8px
      top: 23px
      right: 32px

  &__options
    position absolute
    top: 70px
    left: 0
    width: 100%
    border-radius 0 0 5px 5px
    box-shadow 0 0 10px 0 rgba(#954F04, 0.1)
    padding 24px 32px
    display none
    background #ffffff

  &__option
    padding-bottom: 16px
    cursor pointer
    &:hover
      span
        color #7BCBC3
    span
      font-size: 20px
      color #232323
      transition 0.2s

    &:last-child
      padding-bottom: 0

  &__button
    background #7BCBC3
    margin-left: 32px
    font-size: 16px
    font-weight: 600
    color: #ffffff
    padding 20px 32px
    border none
    height: 62px
    border-radius 5px

  &__container-information
    text-align center
    width: 100%
    padding 32px 64px
    background #D6EFEC
    font-weight: 600
    line-height: 1.2
    margin-top: 32px
    margin-bottom: 64px
    span
      font-weight: 700
      display block
      margin-top: 32px

  &__title-list
    font-weight: 700

  &__list
    margin-top: 8px
    margin-bottom: 32px
    margin-left: 20px
    li
      margin-bottom: 8px

  &__open-select
    display block

.--page-price-close-btn
  cursor: not-allowed
  background #D6EFEC

.transform-arrow
  &:after
    transform rotate(180deg)

@media screen and (max-width: 1000px)
  .page-price
    padding 0 20px
    &__select
      width: 400px
    &__button
      margin-left: 16px
      padding 20px 16px
    &__item-select
      max-width 415px

@media screen and (max-width: 767px)
  .page-price
    &__item-select
      max-width: 100%
    &__title
      font-size: 26px
    &__subtitle
      font-size: 15px
      margin-top: 16px
      margin-bottom: 30px
    &__choice-of-nationality
      font-size: 14px
    &__select-title
      font-size: 14px
      margin-top: 24px
      margin-bottom: 6px
    &__form
      flex-direction column
    &__button
      margin-left: 0
      margin-top: 16px
      width: 260px
      padding 18px 10px
      height: auto
      font-size: 14px
    &__container-information
      font-size: 14px
      padding 32px 24px
      margin-top: 16px
      margin-bottom: 32px
      span
        margin-top: 20px
    &__list
      li
        font-size: 14px
        line-height 1.2

@media screen and (max-width: 550px)
  .page-price
    &__item-select
      height: 50px
    &__custom-select
      & > .select2-selection__arrow
        top: 20px !important
    &__title
      font-size: 24px
    &__subtitle
      font-size: 13px
      margin-top: 12px
      margin-bottom: 20px
    &__choice-of-nationality
      font-size: 13px
      line-height: 1.2
    &__select-title
      font-size: 13px
      margin-top: 16px
      margin-bottom: 4px
    &__select
      font-size: 13px
      padding 16px 24px
      width: 100%
      &:after
        top: 19px
    &__options
      top: 50px
      padding 20px 26px
      box-shadow 0 0 10px 0 rgba(149, 79, 4, 0.15)
    &__option
      span
        font-size: 15px
    &__button
      font-size: 13px
      margin-top: 10px
      width: 233px
      padding 14px 10px
    &__container-information
      font-size: 13px
      padding 24px 10px
      margin-top: 8px
      margin-bottom: 32px
    &__list
      li
        font-size: 13px
    &__title-list
      font-size: 13px

@media screen and (max-width: 400px)
  .page-price
    &__custom-select
      & > .select2-selection__rendered
        padding-left: 16px !important
        font-size: 14px
    &__custom-option
      padding: 16px
