.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple
  border-radius 80px !important

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
  border-radius 80px


.select2-container--default .select2-results__option--selected
  background none

.select-dropdown
.select2-container--above
.select2-container--below
  position: static !important

.select-dropdown .select-dropdown--above
  margin-top: 336px !important

.select2-container
  width: 100% !important

.main-toggle-options
  border-radius 40px 40px 0 0 !important
  transition 0.4s
  & + .select2-selection__arrow > b
    transform rotate(180deg)

.toggle-options
  border-radius 40px 0 0 0 !important
  transition 0.2s
  & > .select2-selection__arrow > b
      transform rotate(180deg)
      transition 0.2s

.toggle-options-visa
  transition 0.2s
  & > .select2-selection__arrow > b
      transform rotate(180deg)
      transition 0.2s

.show-options
  cursor pointer !important
  & > .select2-selection__rendered > span
    color black !important

@media screen and (max-width: 1000px)
  .toggle-options
  .toggle-options-visa
    border-radius 40px 40px 0 0 !important

@media screen and (max-width: 550px)
  .toggle-options
  .toggle-options-visa
  .main-toggle-options
    border-radius 25px 25px 0 0 !important

  .remove-after
    img
      width: 20px

.remove-after
  img
    margin-right: 8px
  &:after
    display none !important

