<template>
  <div>
    <PageTemplate
      :name="error.statusCode"
      :title="error.statusCode === 404 ? 'Page not found' : 'An error occurred'"
      :description="$t('pages.index.description')"
      :keywords="$t('pages.index.keywords')"
      :img="false"
    >
      <section class="pt-5">
        <div class="container">
          <NuxtLink to="/">
            Home page
          </NuxtLink>
        </div>
      </section>
    </PageTemplate>
  </div>
</template>

<script>
export default {
  layout: 'error',
  props: {
    error: {
      type: Object,
      default: () => {
      }
    }
  }
}
</script>
