<template>
  <div class="inputs-list">
    <div
      class="inputs-list__item"
      v-for="(item, index) in $parent.inputsList"
      :key="index">
      <div class="inputs-list__address">
        <InputText
          placeholder="Address"
          :disabled="disabled"
          :class="[!item.value.error || 'p-invalid', 'w-100']"
          v-model="item.value.data"
          @input="addAddress(index)"
          @blur="checkAddress(index)"/>
      </div>
      <div class="inputs-list__amount" v-if="$parent.fiat === undefined">
        <InputText
          placeholder="Amount"
          :disabled="disabled"
          :class="[!item.amount.error || 'p-invalid']"
          v-model="item.amount.data"
          @keypress="isCorrectSymbol($event)"
          @blur="$parent.checkAmount(index, (!item.value.error && item.value.data !== ''))"/>
        <span class="inputs-list__currency">{{ formatCurrency($store.state.currency) }}</span>
      </div>
      <div class="inputs-list__amount" v-else-if="!$parent.fiat">
        <InputText
          placeholder="Amount"
          :disabled="disabled"
          :class="[!item.amount.error || 'p-invalid']"
          v-model="item.amount.data"
          @keypress="isCorrectSymbol($event)"
          @blur="$parent.checkAmount(index, (!item.value.error && item.value.data !== ''))"/>
        <span class="inputs-list__currency">
          {{ formatCurrency($store.state.wallet.currency) }}
        </span>
      </div>
      <div class="inputs-list__amount" v-else>
        <InputText
          placeholder="Amount"
          :disabled="disabled"
          :class="[!item.amount.error || 'p-invalid']"
          :value="isNumber(index) ? parseFloat(item.amount.fiat).toFixed(2) : item.amount.fiat"
          @keypress="isCorrectSymbol($event)"
          @input="item.amount.changed = true; updateFiatAnount(index, $event)"
          @blur="$parent.checkFiatAmount(index, (!item.value.error && item.value.data !== ''))"/>
        <span class="inputs-list__currency">{{ $store.state.ticker?.current?.name }}</span>
      </div>
      <Button
        class="p-button-text"
        icon="pi pi-trash"
        @click="remove(index)"
        v-if="index !== $parent.inputsList.length - 1"/>
      <Button
        class="p-button-text"
        :disabled="true"
        icon="pi pi-trash"
        @click="remove(index)"
        v-else/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    disabled: {
      default: false,
    },
  },
  methods: {
    remove(index) {
      const { inputsList } = this.$parent;
      const removedAddress = inputsList[index].value.data;
      inputsList.splice(index, 1);
      if (this.$parent.fiat !== undefined) {
        if (this.$parent.fiat) {
          this.$parent.fiatSum();
        } else {
          this.$parent.amountSum();
        }
        if (inputsList.length > 1) this.$parent.estimate();
      }
      let sameAddresses = false;
      inputsList.forEach((item, itemIndex) => {
        if (
          (removedAddress === item.value.data)
          && (item.value.data !== '')
          && !sameAddresses
        ) {
          sameAddresses = true;
          if (item.value.error) {
            this.$parent.isAddressChecked = false;
            this.$axios
              .get(`/api/v2/network/${this.$store.state.currency}/is_valid_address?address=${item.value.data}`)
              .then((response) => {
                this.$parent.isAddressChecked = true;
                if (response.data) {
                  inputsList[itemIndex].value.error = false;
                }
              });
          }
        }
      });
    },
    checkAddress(index) {
      const { value } = this.$parent.inputsList[index];
      value.error = false;
      let uniqError = false;
      if (value.data !== '') {
        this.$parent.isAddressChecked = false;
        this.$parent.inputsList.forEach((item, itemIndex) => {
          if (item.value.data === value.data && itemIndex !== index) {
            value.error = true;
            uniqError = true;
          }
        });
        if (uniqError) {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: 'All addresses should be unique.',
            life: 3000,
          });
        }
        this.$axios
          .get(`/api/v2/network/${this.$store.state.currency}/is_valid_address?address=${value.data}`)
          .then((response) => {
            this.$parent.isAddressChecked = true;
            if (!response.data) {
              value.error = true;
              this.$toast.add({
                severity: 'error',
                summary: 'Error',
                detail: 'Invalid address.',
                life: 3000,
              });
            }
          });
      }
    },
    addAddress(index) {
      const item = this.$parent.inputsList[index];
      const { length } = this.$parent.inputsList;
      if (index + 1 === length && item.value.data.length >= 1) {
        this.$parent.pushNewItem();
      }
    },
    isCorrectSymbol(event) {
      const keyCode = (event.keyCode ? event.keyCode : event.which);
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46 && keyCode !== 37) {
        event.preventDefault();
      }
    },
    isNumber(index) {
      const { amount } = this.$parent.inputsList[index];
      if (!Number.isNaN(Number(amount.fiat)) && Number(amount.fiat) > 0 && !amount.changed) {
        return true;
      }
      return false;
    },
    updateFiatAnount(index, event) {
      const { amount } = this.$parent.inputsList[index];
      amount.fiat = event.target.value;
    },
  },
};
</script>

<style scoped>
.inputs-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.inputs-list__address {
  flex-grow: 1;
  margin-right: 1rem;
}

.inputs-list__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs-list__currency {
  min-width: 34px;
}

.inputs-list .inputs-list__btn {
  border: 0;
  padding: 0;
  color: #a5a5a5;
}

.inputs-list .p-button:disabled {
  opacity: 0;
}

@media (max-width: 725px) {
  .inputs-list__item {
    flex-wrap: wrap;
  }

  .inputs-list__address {
    width: 100%;
    margin-right: 0;
    margin-bottom: .5rem;
  }
}
</style>

<style>
.inputs-list__amount .p-inputtext {
  margin-right: 0.5rem;
  max-width: 7rem;
}
</style>
