<template>
  <div ref="editorContainer" :class="['editor', {'editor__error': error}]"></div>
</template>

<script>
import {EditorState} from '@codemirror/state';
import {EditorView, keymap} from '@codemirror/view';
import {basicSetup} from 'codemirror';
import {indentWithTab} from '@codemirror/commands';
import {json} from '@codemirror/lang-json';
import {githubLight} from '@uiw/codemirror-theme-github';

export default {
  name: 'JsonEditor',
  props: {
    modelValue: {
      default: '',
    },
  },
  data() {
    return {
      editorView: null,
      error: false,
    };
  },
  watch: {
    modelValue(newValue) {
      if (this.editorView) {
        const currentValue = this.editorView.state.doc.toString();
        if (newValue !== currentValue) {
          this.editorView.dispatch({
            changes: {from: 0, to: currentValue.length, insert: newValue},
          });
        }
      }
    },
  },
  mounted() {
    this.editorView = new EditorView({
      state: EditorState.create({
        doc: this.modelValue,
        extensions: [
          basicSetup,
          json(),
          githubLight,
          EditorView.updateListener.of(update => {
            if (update.docChanged) {
              const newValue = update.state.doc.toString();
              try {
                JSON.parse(newValue);
                this.error = false;
                this.$emit('update:modelValue', newValue);
              } catch {
                if (newValue === '') {
                  this.$emit('update:modelValue', null);
                  this.error = false;
                } else {
                  this.error = true;
                }
              }
            }
          }),
          keymap.of([indentWithTab])
        ],
      }),
      parent: this.$refs.editorContainer,
    });
  },
  beforeUnmount() {
    if (this.editorView) {
      this.editorView.destroy();
    }
  },
};
</script>

<style scoped>
.editor {
  box-sizing: border-box;
  overflow: auto;
  height: 250px;
  border: 1px solid #5d8ab9;
  border-radius: 3px;
}

.editor__error {
  border-color: #e60017;
}
</style>

<style>
.ͼ1 .cm-gutter {
  min-height: 250px
}
</style>
