<template>
  <div class="main-menu" style="margin-bottom: 1rem;">
    <TabMenu
      :model="tabMenuItems"
      v-if="!$store.state.shorterFlag"/>
    <PanelMenu
      class="tab-menu__mobile"
      :model="tabMenuItems"
      v-else/>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: null,
    },
    view: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      tabMenuItems: this.generateTabMenuItems(this.$store.state.authorized),
    };
  },
  watch: {
    '$store.state.authorized': {
      handler(to) {
        this.tabMenuItems = this.generateTabMenuItems(to);
      },
    },
    '$store.state.shorterFlag': {
      handler() {
        this.tabMenuItems = this.generateTabMenuItems(this.$store.state.authorized);
      },
    },
    $route: {
      handler() {
        this.tabMenuItems = this.generateTabMenuItems(this.$store.state.authorized);
      },
    },
  },
  methods: {
    generateTabMenuItems(authorized) {
      if (this.view === 'wallet') {
        const routesPrefix = this.type === 'account' ? 'Account ' : '';
        let tabMenuItems = [];
        if (this.type === 'account') {
          tabMenuItems.push({
            label: 'Account',
            icon: 'pi pi-user',
            to: {
              name: `${routesPrefix}Wallets`,
            },
          });
        }
        tabMenuItems = tabMenuItems.concat([
          {
            label: 'History',
            icon: 'pi pi-history',
            to: {
              name: `${routesPrefix}Wallet History`,
            },
          },
          {
            label: 'Transfer',
            icon: 'pi pi-arrow-right',
            to: {
              name: `${routesPrefix}Wallet Transfer`,
            },
          },
          {
            label: 'Addresses',
            icon: 'pi pi-list',
            to: {
              name: `${routesPrefix}Wallet Addresses`,
              query: {
                limit: 10,
                offset: 0,
              },
            },
          },
          {
            label: 'Settings',
            icon: authorized ? 'pi pi-cog' : 'pi pi-lock',
            disabled: !authorized,
            to: {
              name: `${routesPrefix}Wallet Settings`,
            },
          },
        ]);
        if (this.$store.state.shorterFlag) {
          tabMenuItems = [{
            label: this.$route.name.replace(`${routesPrefix}Wallet`, ''),
            items: tabMenuItems,
          }];
        }
        return tabMenuItems;
      }
      let tabMenuItems = [
        {
          label: 'Wallets',
          icon: 'pi pi-wallet',
          to: {
            name: 'Account Wallets',
          },
        },
        {
          label: 'History',
          icon: 'pi pi-history',
          to: {
            name: 'Account History',
            /* query: {
              limit: 10,
              offset: 0,
            }, */
          },
        },
        {
          label: 'Invoices',
          icon: authorized ? 'pi pi-tags' : 'pi pi-lock',
          disabled: !authorized,
          to: {
            name: 'Account Invoices',
          },
        },
      ];
      if (this.$store.state.shorterFlag) {
        tabMenuItems = [{
          label: this.$route.name.replace('Account', ''),
          items: tabMenuItems,
        }];
      }
      return tabMenuItems;
    },
  },
};
</script>

<style lang="scss">
.tab-menu__mobile {
  &.p-panelmenu {
    position: relative;

    & .p-highlight {
      .p-panelmenu-header-action {
        &:before {
          content: '\e90b' !important;
        }
      }
    }

    .p-panelmenu-content .p-menuitem .p-menuitem-link {
      padding-left: 0.1rem;
    }


    .p-panelmenu-header-action {
      background: #fff !important;
      border: 0 !important;
      border-bottom: 2px solid #dee2e6 !important;
      padding: 0.75rem 1rem;

      svg {
        display: none;
      }

      &:before {
        content: "\e91d";
        --webkit-backface-visibility: hidden;
        margin-right: 8px;
        backface-visibility: hidden;
        font-family: 'primeicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
      }

      .pi-chevron-down {
        &:before {
          content: "\e90b";
        }
      }

      .pi-chevron-right {
        &:before {
          content: "\e91d";
        }
      }
    }

    .p-toggleable-content {
      position: absolute;
      z-index: 1;
      width: 100%;
    }
  }
}

.account {
  .tab-menu__mobile {
    &.p-panelmenu {
      .p-toggleable-content {
        width: calc(10rem + 100%);
      }
    }
  }
}
</style>
