<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.adult-content.title')"
    :description="$t('pages.adult-content.description')"
    :keywords="$t('pages.adult-content.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.adult.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <div class="case-page__notes">
          <div class="case-page__notes-warn case-page__note">
            <img src="/img/cases/warn-note.svg" alt="warn note">
            The adult industry is tricky. Aside from the social taboo in this sphere, such businesses face various
            challenges. In some countries, banks can reject payments from such companies, and it can significantly
            decrease their client base. Users often want to protect their privacy when paying for adult products online.
            A
            credit card number or any other information given can be an obstacle for them to pay.
          </div>
          <div class="case-page__notes-info case-page__note">
            <img src="/img/cases/info-note.svg" alt="info note">
            Cryptocurrency is a game-changer. Anonymity and security are common concepts for both the adult industry and
            the blockchain. You do not need to work with banks, make customers disclose personal information, or think
            about the reconstruction of your business to meet the law requirements. Start accepting crypto!
          </div>
        </div>
        <p>
          <br><br>
          Using the Apirone service, you do not need to complete any troublesome registration procedures. The process of
          signup and creating a wallet is simple and easy to use. We provide various methods of making transactions in
          several cryptocurrencies and integration with popular platforms. Our services allow any company to keep
          running business safe and secure, offer more anonymity for you and your customers, reach a wider audience, and
          move to a new level.
        </p>
      </div>
      <a href="/docs/account/#create-account" style="width: fit-content;" class="btn-link d-block m-auto">
        Create account
      </a>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'adult-content',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>

</style>
