<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.charity.title')"
    :description="$t('pages.charity.description')"
    :keywords="$t('pages.charity.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.charity.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <div>
          <p>
            Charity and donations mean collecting all the money in one wallet. To do this, you just need a
            cryptocurrency address and a QR code posted on your website.
          </p>
          <div class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            <h2>How to collect donations</h2>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>1</span>
              <div>
                <p style="margin-top: 0 !important;">
                  To do this you need to create a saving wallet on our website or with API docs.
                </p>
                <p>
                  However if you want to keep in touch with your payers (donors), then you need to keep records of the
                  amounts
                  and contact details.
                </p>
                <a href="/dashboard/" class="btn-link">Dashboard</a>
              </div>
            </li>
            <li>
              <span>2</span>
              <div>
                Then keep your wallet_id and transfer_key safe and secure. You need just wallet_id to accept payments.
                <p>
                  The payment can be of any amount, one dollar or a thousand of dollars; everyone decides for themselves
                  the amount of the donation.
                </p>
              </div>
            </li>
            <li>
              <span>3</span>
              <div>
                <p style="margin-top: 0 !important;">
                  You need to create a new cryptocurrency address for each payment,
                  add payer’s details and payment notification link.
                </p>
                <a href="/docs/wallet/#generate-address" class="btn-link">Generate address</a>
              </div>
            </li>
          </ul>
          <p style="font-size: 18px; margin-top: 2rem;">
            For example:
          </p>
        </div>
        <div class="json-wrapper">
          <JsonViewer
            :value="json"
            preview-mode
          >
          </JsonViewer>
        </div>
        <div>
          <p>
            Where "url" is a payment processing link. In this file we get notifications about payment, amount,
            transaction details, and payer information that we sent when creating the address. As far as these payments
            are donations, i.e. directed not to buy any goods or services, but for charity, with a high degree of
            confidence we can even confirm payment with zero confirmation of the blockchain network. A detailed
            description can be found <a href="/docs/receiving-callbacks">here</a>.
          </p>
          <p>
            As soon as the required amount is collected, you log into your wallet, enter transfer_key and transfer the
            required amount to targeted spending.
          </p>
        </div>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://donateanycrypto.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="160"
                  src="/img/partners/donateanycrypto.png"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://weplay.io/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="160"
                  src="/img/partners/weplay.svg"
                  class="partners__img"
                  alt="weplay logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import 'vue-json-viewer/style.css'
import JsonViewer from 'vue-json-viewer/ssr'

export default {
  name: 'charity',
  components: {
    JsonViewer
  },
  data() {
    return {
      json: {
        callback: {
          url: 'http://donation_site.com/callback.php',
          data: {
            name: 'Satoshi Nakomoto',
            email: 'satoshi@bitcoin.org',
            phone: '+81 87654321'
          }
        }
      }
    }
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
