<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.file-sharing.title')"
    :description="$t('pages.file-sharing.description')"
    :keywords="$t('pages.file-sharing.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.file.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <div>
          <p>
            Splitting a payment by example of <a href="https://satoshidisk.com">SatoshiDisk.com</a>
          </p>
          <p>
            Task: there is a bitcoin address of a seller and a bitcoin address for a 5% service fee. It is required to
            receive a payment, split it, and send instantly to two addresses, the seller and the service.
          </p>
          <p>
            Decision:
          </p>
          <p>
            On the payment page the customer enters their e-mail to receive the file letter.
          </p>
          <p>
            A forwarding <a href="/dashboard">wallet</a> is created for every payment indicating receivers
          </p>
        </div>
        <div class="json-wrapper">
          <JsonViewer
            :value="json"
            preview-mode
          >
          </JsonViewer>
        </div>
        <div>
          <p style="margin-bottom: 2.5rem;">
            You can create as many wallets as you need, for every task or payment. A wallet is a container of addresses.
            In this case we need to create just one address. It will be attached to one file and given payment. If a
            customer closes the page, reopens it, and enters their email, website <a href="https://satoshidisk.com">SatoshiDisk.com</a>
            takes this address from its database, and displays it for payment.
          </p>
          <div class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            <h2>QR Code</h2>
          </div>
          <br>
          <p>
            For convenience display QR code on the payment page.
          </p>
          <p>
            A customer can make a payment instantly or some time later, for example, in several days. Our processing
            system always keeps, monitors, and does not delete addresses. After payment Apirone processing system
            performs a callback function transferring saved data and transaction information.
          </p>
          <a href="https://developers.google.com/chart/infographics/docs/qr_codes?hl=ru" class="btn-link">
            Generate QR code
          </a>
          <div style="margin-top: 2.5rem;" class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            <h2>Callback processing</h2>
          </div>
          <br>
          <p>
            An example of a callback processing: <a href="/docs/receiving-callbacks">Receiving callbacks</a>.
          </p>
          <p>
            The first callback is with zero network confirmation, so it is too early to give the file to the customer.
            As soon as miners add the transaction to the block, the number of confirmations will grow: 0, 1, 2, 3…until
            the answer *ok*
          </p>
          <a href="/docs/receiving-callbacks" class="btn-link">
            Receiving callbacks
          </a>
          <p style="margin-top: 2rem;">
            We recommend completing the order and giving the file to the customer after the third network confirmation.
          </p>
        </div>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://upstore.net/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="100"
                  src="/img/partners/upstore.png"
                  class="partners__img"
                  alt="upstore logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://satoshidisk.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="120"
                  src="/img/partners/satoshidisk_short.png"
                  class="partners__img"
                  alt="satoshidisk logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import 'vue-json-viewer/style.css'
import JsonViewer from 'vue-json-viewer/ssr'

export default {
  name: 'file-sharing',
  components: {
    JsonViewer
  },
  data() {
    return {
      json: {
        currency: 'btc',
        callback: {
          url: 'http://donation_site.com/callback.php',
          data: {
            optional_key: 'value',
            email: 'buyer@example.com',
            file_id: 4321
          },
          destinations: []
        }
      }
    }
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
