<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.gaming-and-gambling.title')"
    :description="$t('pages.gaming-and-gambling.description')"
    :keywords="$t('pages.gaming-and-gambling.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.gaming.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <div class="case-page__notes">
          <div class="case-page__notes-warn case-page__note">
            <img src="/img/cases/warn-note.svg" alt="warn note">
            The gambling industry is considered high-risk. Such businesses can be hard to run using only fiat payments
            due
            to gambling laws, taxes, and government regulations.
          </div>
          <div class="case-page__notes-info case-page__note">
            <img src="/img/cases/info-note.svg" alt="info note">
            Cryptocurrency is a decentralized, anonymous, and simple
            way to pay online, which is why it can be an ideal tool to mitigate all the above-mentioned risks.
          </div>
        </div>
        <p>
          <br><br>
          Crypto facilitates instant and cheap transactions by bypassing the need for banks or other financial
          institutions. The way this works is easy enough. When a customer wants to make a purchase he/she gets an
          address to pay with crypto. After the transaction is confirmed you can send the item(s) to the customer.
          <br><br>
          Apirone allows you to accept crypto payments from your customers. There are several options on how to
          integrate our service with your business online. It can be our API, plugins for popular platforms, or a
          built-in widget for invoices that can be placed on your website. Any method provides easy-to-use instructions,
          seamless transactions, and convenient fee plans.
        </p>
        <a href="/docs/account/#create-account" style="width: fit-content;" class="btn-link d-block m-auto">
          Create account
        </a>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://coinleone.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="40"
                  src="/img/partners/coinleone.png"
                  class="partners__img"
                  alt="coinleone logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://bulletstarlegends.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="112"
                  src="/img/partners/bulletstar.png"
                  class="partners__img"
                  alt="bulletstar logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://earnyourcrypto.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="142"
                  src="/img/partners/earn_your_crypto.png"
                  class="partners__img"
                  alt="earn your crypto logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'gaming-and-gambling',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style>

</style>
