<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.how-to.title')"
    :description="$t('pages.how-to.description')"
    :keywords="$t('pages.how-to.keywords')"
    :img="true"
  >
    <Cases />
  </PageTemplate>
</template>

<script>
import Cases from '@/components/parts/index/Cases.vue'

export default {
  name: 'how-to',
  components: {
    Cases
  }
}
</script>
