<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.marketing-agency.title')"
    :description="$t('pages.marketing-agency.description')"
    :keywords="$t('pages.marketing-agency.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.marketing.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <p>
          If you run a marketing business, you know how hard it is not to lose an audience nowadays. Modern
          international business restrictions have adjusted payment methods and hence the ability to get (and keep) more
          clients abroad. We do not speak about an outright refusal to work with the fiat. We suggest adding
          cryptocurrencies to your international cooperation.
        </p>
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>Solutions</h2>
        </div>
        Apirone is a crypto processing service allowing you not only to work with Bitcoins and other popular altcoins
        but also to get the best out of the financial arrangement with your customers. If you need to make mass
        payouts at once for a huge list of clients, try our service that provides fast, seamless, and one-transaction
        bulk payments. We also have a reasonable solution for mid-sized advertising agencies and marketing start-ups
        who deal with periodic payments.
        <div class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          <h2>Fees</h2>
        </div>
        Our flexible fee policy can meet any payout requirements. The fixed fee plan means one transaction equals a
        one-time service commission paid no matter how many addresses it has and how much you send. If you need to
        send small amounts often, then the percentage plan is an ideal option when you pay 1% of the amount
        transferred. So, you can always calculate what is the best solution concerning commissions. If it is hard to
        make a decision, try different plans. The plan is selected in your account settings easily and can be changed
        at any time as many times as you wish.
        <br><br>
        Apirone can develop your financial opportunities helping to enter the international arena and expand your
        audience in a simple and user-friendly way.
      </div>
      <a href="/docs/account/#create-account" style="width: fit-content;" class="btn-link d-block m-auto">
        Create account
      </a>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'marketing-agency',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>

</style>
