<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.options.title')"
    :description="$t('pages.options.description')"
    :keywords="$t('pages.options.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.forex.text') }}
      </p>
    </template>
    <section class="pt-5 case-page options">
      <div class="container">
        <div>
          <p>
            Forex, stock exchanges, trading systems, and binary options, as well as gambling, act according to the same
            scenario:
          </p>
          <ul class="case-page__ul">
            <li>
              <TickCases/>
              Customers top up their account in the system with different amounts during a period of time (e.g. every
              day for a year);
            </li>
            <li>
              <TickCases/>
              Payments requests are then collected;
            </li>
            <li>
              <TickCases/>
              The manager checks them manually and confirms the payment.
            </li>
          </ul>
          <span class="options__step">STEP 1</span>
          <h2>Creating a wallet</h2>
          <p>
            You shall create a saving wallet to accept payments. The payments are accepted without any fees or
            restrictions.
          </p>
          <p>
            So, create a saving <a href="/dashboard/">wallet</a> and keep your wallet_id and transfer_key safe and
            secure.
          </p>
          <a href="/docs/wallet/#create-wallet" class="btn-link">
            Create a Wallet
          </a>
          <span class="options__step">STEP 2</span>
          <h2>Generating addresses</h2>
          <p>
            A wallet is a container of addresses, the amount of which is unlimited. You can create as many addresses as
            you need. We monitor all the wallets and notify your website with a callback when a payment is made.
          </p>
          <p>
            Addresses are permanent, i.e. we always monitor them. An address is attached to a link indicating a
            customer’s identifier. The permanent payment address builds customer trust and loyalty. The customer can add
            an address to their address book and be sure to top up the balance in your system any time.
          </p>
          <p>
            Instructions for creating a new address: <a href="/docs/wallet/#generate-address">Generate address</a>
          </p>
          <p>
            Then save generated addresses in your database. For convenience purposes, you can display a QR code on the
            payment page.
          </p>
          <a href="/docs/wallet/#generate-address" class="btn-link">
            Generate Address
          </a>
          <span class="options__step">STEP 3</span>
          <h2>Callback processing</h2>
          <p>
            Once we see a payment on the network, we notify about the payment by the URL-link specified. On the callback
            page you need to find the customer identifier in the database, compare the saved address with the received
            one, and complete it. It should not be forgotten that you must not top up the balance with unconfirmed
            transaction. Complete the payment at least after the first network confirmation, better yet after the third
            one.
          </p>
          <p>
            An example of callback processing: <a href="/docs/receiving-callbacks">Receiving callbacks</a>
          </p>
          <a href="/docs/receiving-callbacks" class="btn-link">
            Recieve Callbacks
          </a>
          <span class="options__step">STEP 4</span>
          <h2>Payment</h2>
          <p>
            If you need to make a payment to yourself or to your customers, collect a list of receivers, gather them
            into the request, and make a single transaction. In this case a fixed fee is charged only once. It is
            convenient and profitable (compared with charging a fee every time for every payment you make one
            transaction with no gathering them into a single transaction). <a href="/docs/wallet/#transfer">Transfer</a>
          </p>
          <p>
            Also you can do it manually just logging into your <a href="/dashboard/">wallet</a>.
          </p>
          <a href="/docs/wallet/#transfer" class="btn-link">
            Transfer
          </a>
        </div>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://www.instaforex.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="90"
                  src="/img/partners/instaforex_logo.svg"
                  class="partners__img"
                  alt="instaforex logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://www.forexmart.com/register?id=NMGQG"
                target="_blank"
              >
                <b-img-lazy
                  width="90"
                  src="/img/partners/forexmart.svg"
                  class="partners__img"
                  alt="forexmart logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import TickCases from '@/components/icons/TickCases.vue';

export default {
  name: 'options',
  components: {TickCases},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style>

.options h2 {
  margin-bottom: 2rem !important;
}

.options__step {
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: block;
}
</style>
