<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.telegram.title')"
    :description="$t('pages.telegram.description')"
    :keywords="$t('pages.telegram.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        {{ $t('cases.messenger.text') }}
      </p>
    </template>
    <section class="pt-5 case-page">
      <div class="container">
        <div>
          <p>
            Modern instant messengers have become very powerful: they are used to sell, buy, make transfers, or store
            data. Any of these processes can be done automatically via the Telegram chatbot! It is not a problem for the
            bot to offer a product for a particular price to a customer, place an order, accept payment to your crypto
            address, or even deliver the product, if it can be delivered in digital form.
          </p>
          <p>
            By launching your own telegram bot, you can expand your sales capacity. If you have no other online
            platforms, the bot can be your driver to get online sales started.
          </p>
          <p>The selling mechanism is quite simple:</p>
          <ul class="case-page__ul">
            <li>
              <TickCases/>
              The customer connects to the telegram bot;
            </li>
            <li>
              <TickCases/>
              A product catalog is organized in the bot;
            </li>
            <li>
              <TickCases/>
              The customer selects the desired product using commands;
            </li>
            <li>
              <TickCases/>
              Knowing the price the customer chooses the payment method; and the bot creates an invoice for payment in
              the required cryptocurrency, providing the customer with a QR code and an address for payment;
            </li>
            <li>
              <TickCases/>
              When funds are received on the seller's wallet, the bot considers the sale completed and gives the
              purchase details or even the product itself.
            </li>
          </ul>
          <div class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            <h2>How to accept cryptocurrency in the bot:</h2>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>1</span>
              <div>
                Create a wallet in the cryptocurrency you need:
                <a href="/docs/wallet/#create-wallet" class="btn-link">Create Wallet</a>
              </div>
            </li>
            <li>
              <span>2</span>
              <div>
                Create an address in this wallet:
                <p>
                  We recommend using a saving wallet. In this case, all customer payments are accumulated in one wallet,
                  and, if necessary, you can withdraw funds in one operation. At this stage, we specify the webhook of
                  the
                  payment processor on the processing side for integration with the bot.
                </p>
                <a href="/docs/wallet/#generate-address" class="btn-link">Generate address</a>
              </div>
            </li>
            <li>
              <span>3</span>
              Receive a QR code for a customer
            </li>
            <li>
              <span>4</span>
              <div>
                <p style="margin-top: 0 !important;">
                  After the customer made a payment, the bot processes the callback from the server using the webhook
                  <a style="padding: 0;" href="/docs/receiving-callbacks">Receiving callbacks</a>
                </p>
                <a href="/docs/receiving-callbacks" class="btn-link">Receiving callbacks</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://botmother.com/?lid=apirone"
                target="_blank"
                style="background-color: #d3d3d3; padding: 10px 10px 16px 10px;"
              >
                <b-img-lazy
                  src="/img/partners/botmother-normal-log.svg"
                  class="partners__img"
                  alt="botmother logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                style="background: #478dd5; display: block; padding: 5.5px; transform: translateY(3px)"
                href="https://bot-t.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="120"
                  src="/img/partners/bot-t.svg"
                  class="partners__img"
                  alt="iskillbot logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://iskillbot.ru/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  src="/img/partners/iskillbot.png"
                  class="partners__img"
                  alt="iskillbot logo"
                />
              </a>
            </div>
            <div class="partners__item partners__item-telegramchannels">
              <a
                href="https://telegramchannels.me/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="150"
                  src="/img/partners/telegramchannels.png"
                  class="partners__img"
                  alt="iskillbot logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import TickCases from '@/components/icons/TickCases.vue';

export default {
  name: 'telegram',
  components: {TickCases},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
