<template>
  <button
    class="btn__copy hovered"
    @click="copy()"
    :disabled="disabled">
    <input
      type="hidden"
      :value="text"
      readonly
      :ref="uid"
    >
    <span role="img">
      <i :class="['pi', 'pi-clone', 'btn__copy-img', {'btn__copy-success': success}]"></i>
    </span>
    <span
      v-if="title"
      class="btn__copy-title"
    >
      {{ title }}
    </span>
  </button>
</template>

<script>

/* eslint no-underscore-dangle: 0 */
export default {
  data() {
    return {
      uid: null,
      success: false,
    };
  },
  props: {
    title: {
      default: '',
    },
    text: {
      default: '',
    },
    disabled: {
      default: false,
    },
  },
  mounted() {
    this.uid = `copy${this._uid}`;
  },
  methods: {
    copy() {
      const copyText = this.$refs[this.uid];
      copyText.type = 'text';
      copyText.select();
      document.execCommand('copy');
      copyText.type = 'hidden';
      this.success = true;
      setTimeout(() => {
        this.success = false;
      }, 1000);
    },
  },
};
</script>

<style lang="scss">
.btn__copy {
  -webkit-appearance: none;
  outline: none;
  display: flex;
  border: 0;
  background-color: var(--white);
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--primary);
  cursor: copy;
  transition: .3s;
  margin-left: 8px;

  &-success {
    color: #30cb83;
  }

  &-title {
    margin-left: .3rem;
  }

  &:disabled {
    cursor: default;
    opacity: .6;
  }

  &-img {
    font-size: 14px;
    transform: translateY(1px);
  }

  &-img.icon_copy-success {
    color: var(--success);
    position: relative;
  }
}
</style>
