<template>
  <span
    v-if="value.includes('@')"
    class="double-coins"
  >
    <img
      :src="require(`@/assets/images/coins/${$filters.checkCryptoForImg(value).main}1.png`)"
      :alt="value"
      :width="mainWidth"
    >
    <img
      :src="require(`@/assets/images/coins/${$filters.checkCryptoForImg(value).network}1.png`)"
      :alt="value"
      :width="networkWidth"
    >
  </span>
  <span v-else>
    <img
      :src="require(`@/assets/images/coins/${$filters.checkCryptoForImg(value).main}1.png`)"
      :alt="value"
      :width="mainWidth"
    >
  </span>
</template>

<script>
export default {
  name: "CryptoIcons",
  props: {
    mainWidth: {
      default: 30
    },
    networkWidth: {
      default: 15
    },
    value: {
      default: null
    }
  },
  created() {
    console.log(this.value)
  }
}
</script>

<style scoped lang="scss">
.double-coins {
  position: relative;
  display: inline-block;
  margin: 0 !important;
  img:last-child {
    position: absolute;
    right: 0;
    bottom: 4px;
  }
}

</style>