<template>
  <header class="header">
    <div
      style="cursor: pointer"
      @click.prevent="$emit('clickHome')"
    >
      <Logo/>
    </div>
    <div
      v-if="!showInvoice"
      class="header__burger"
      :class="{'header__burger-show': isShowHistoryInvoiceMobile}"
      @click="$emit('showMobileHistoryInvoice')"
    >
      <span></span>
    </div>
    <div
      v-if="!isShowAccountMobile"
      class="header__action"
    >
      <div class="header__account">
        <span>{{ $store.state.accountId }}</span>
      </div>
      <div class="header__mobile-bar header__desktop-bar">
        <div
          class="header__more-btn"
          @click="toggleDropdown"
        >
          <i class="pi pi-cog"></i>
        </div>
        <div
          class="header__dropdown"
          :class="{'header__dropdown-show': dropdownHeader}"
        >
          <p>Settings</p>
          <div class="header__dropdown-item">
            <div>
              <Switcher v-model="debugMode"/>
            </div>
            Debug mode
          </div>
          <div
            class="header__dropdown-item"
            @click="$emit('logout')"
          >
            <div><i class="pi pi-sign-out"></i></div>
            Log out
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Switcher from "@/components/Switcher.vue";
import barDropdown from "@/mixins/barDropdown";

export default {
  name: "Header",
  components: {Switcher},
  mixins: [barDropdown],
  props: {
    showInvoice: {
      default: false
    },
    isShowHistoryInvoiceMobile: {
      default: false
    },
    modelValue: {
      default: false
    },
    isShowAccountMobile: {
      default: false
    }
  },
  emits: ['clickHome', 'logout', 'showMobileHistoryInvoice', 'update:modelValue'],
  watch: {
    'debugMode'(to) {
      this.$emit('update:modelValue', to)
    }
  },
  mounted() {
    setTimeout(() => {
      if (this.modelValue) {
        this.debugMode = true
      }
    }, 1)
    window.addEventListener('click', this.closeDropdownOnOutsideClick);
  },
  beforeUnmount() {
    window.removeEventListener('click', this.closeDropdownOnOutsideClick);
  }
}
</script>

<style lang="scss">

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__mobile-bar {
    position: relative;
  }

  &__dropdown {
    transition: 0.2s ease-in-out;
    transform: scaleY(0);
    opacity: 0;
    position: absolute;
    width: 160px;
    right: 0;
    top: 30px;
    background: white;
    border: 1px solid var(--dark-grey);
    box-shadow: 2px 0 11px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: auto;
    z-index: 100;

    &-show {
      opacity: 1;
      transform: scaleY(1);
    }

    p {
      text-align: center;
      padding: 4px 4px;
      border-bottom: 1px solid var(--dark-grey);
      color: var(--dark-grey);
    }

    &-item {
      cursor: pointer;
      div {
        width: 28px;
        display: flex;
        justify-content: center;
        margin-right: 8px;
      }

      padding: 6px 8px;
      display: flex;
      align-items: center;
      transition: 0.2s;

      &:hover {
        background: var(--grey);
      }
    }
  }

  &__more-btn {
    margin-left: 16px;
    cursor: pointer;
    transition: 0.2s;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--dark-grey);
    color: var(--dark-grey);
    &:hover {
      background: var(--blue);
      border-color: var(--blue);
      color: white;
    }
  }

  &__burger {
    width: 47.5px;
    height: 35px;
    border: 1px solid #a7a7a7;
    background: white;
    border-radius: var(--radius);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &-show {
      span {
        background: none !important;

        &:before {
          top: 0 !important;
          transform: rotate(-45deg);
          animation: 0, 1s showBurgerBefore;
        }

        &:after {
          bottom: 0 !important;
          transform: rotate(45deg);
          animation: 0, 1s showBurgerAfter;
        }
      }
    }

    @keyframes showBurgerAfter {
      0% {
        bottom: 7px;
        transform: rotate(0);
      }
      50% {
        bottom: 0;
      }
      100% {
        transform: rotate(45deg);
      }
    }

    @keyframes showBurgerBefore {
      0% {
        top: 7px;
        transform: rotate(0);
      }
      50% {
        top: 0;
      }
      100% {
        transform: rotate(-45deg);
      }
    }

    span {
      width: 24px;
      height: 2px;
      background: var(--dark-grey);
      position: relative;
      border-radius: var(--radius);

      &:before, &:after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background: var(--dark-grey);
        position: absolute;
        border-radius: var(--radius);
        transition: all 0.2s;
      }

      &:before {
        top: 7px;
      }

      &:after {
        bottom: 7px;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__logout {
    margin-left: 16px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .header {
    &__action {
      align-items: flex-end;
      flex-direction: column-reverse;
    }

    &__account {
      margin-top: 6px;
      font-size: 15px;
    }
  }
}

@media (max-width: 700px) {
  .header {
    max-width: 300px;
    margin: 0 auto;

    svg {
      width: 120px;
    }

    &__burger {
      display: flex;
    }

    &__action {
      display: none;
    }

    &__more-btn {
      margin-left: 6px;
    }

    &__mobile {
      display: flex;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--dark-grey);
      flex-direction: inherit;
      align-items: center;

      .header__logout {
        margin-left: 0;
      }

      .header__account {
        font-size: 13px;
        text-align: start;
        width: 100%;
        margin: 0;

        span {
          display: block;
        }
      }
    }
  }
}

</style>