<template>
  <div class="history">
    <div class="history__list">
      <div
        v-for="(item, index) in items"
        :key="index"
        class="history__item"
        @click="showMoreInfoData(item)"
      >
        <div
          class="history__header"
        >
          <div class="history__header-active">
            <div>
              <CryptoIcons
                main-width="20"
                network-width="10"
                :value="item.currency"
              />
              <a
                target="_blank"
                class="history__invoice"
              >
                {{ item.invoice }}
              </a>
            </div>
          </div>
          <div
            class="history__status"
            :class="
              {'red-color': item.status === 'expired', 'green-color': (item.status === 'paid' || item.status === 'overpaid'), 'yellow-color': (item.status === 'partpaid' || item.status === 'created')}"
            style="background: none !important;"
          >
            <i
              :class="['pi', {'pi-times-circle': item.status === 'expired', 'pi-verified': (item.status === 'completed' || item.status === 'paid' || item.status === 'overpaid'), 'pi-bolt history__status-created': (item.status === 'partpaid' || item.status === 'created')}]"
            ></i>
          </div>
        </div>
        <div
          :class="['history__link', {'history__link-active': item.invoice === infoData.invoice}]"
        >
          <i class="pi pi-info-circle"></i>
        </div>
      </div>
    </div>
    <div class="history__data">
      <div class="invoice">
        <span>Invoice</span>
        <a
          target="_blank"
          :href="`${$store.state.serviceUrl}/invoice?id=${infoData.invoice}`"
        >
          <i class="pi-external-link pi"></i>{{ infoData.invoice }}
        </a>
      </div>
      <div class="created">
        <span>Created</span>
        {{ $filters.dateFilter(infoData.created) }}
      </div>
      <div class="amount">
        <span>Amount</span>
        <div style="margin: 0; flex-direction: initial">
          {{ infoData.amount }}
          <CryptoIcons
            main-width="25"
            network-width="13"
            :value="infoData.currency"
          />
        </div>
      </div>
      <div
        class="status"
      >
        <span>Status</span>
        <p
          :class="
            {'red-color': infoData.status === 'expired', 'green-color': (infoData.status === 'paid' || infoData.status === 'overpaid'), 'yellow-color': (infoData.status === 'partpaid' || infoData.status === 'created')}"
        >
          {{ infoData.status }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>

import CryptoIcons from "@/components/CryptoIcons.vue";

export default {
  components: {CryptoIcons},
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      isData: true,
      infoData: this.items ? this.items[0] : null
    }
  },
  methods: {
    showMoreInfoData(item) {
      this.infoData = item
    }
  }
};
</script>

<style lang="scss">
.history {
  display: flex;

  &__list {
    width: 80%;
  }

  &__link {
    font-size: 18px;
    color: var(--dark-grey);
    padding: 13px;
    border-left: 1px solid var(--light-blue);
    transition: 0.2s;
    cursor: pointer;

    &-active {
      color: white;
      background: var(--light-blue) !important;
    }
  }

  &__data {
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid var(--blue);
    border-radius: 3px;

    & span {
      font-size: 16px;
      color: var(--dark-grey);
      font-weight: 600;

    }

    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }
    }

    & > .invoice {
      a {
        font-size: 20px;
        color: var(--blue);
        transition: 0.2s;

        i {
          font-size: 16px;
          margin-right: 8px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    & > .amount {
      & img {
        margin-left: 8px;
      }
    }

    & > .status {
      & p {
        padding: 6px;
        border-radius: 3px;
        color: var(--blue);
        background: rgba(71, 124, 168, 0.2);
      }
    }
  }

  &__item {
    margin-top: 11px;
    border: 1px solid var(--light-blue);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;

    &:hover {
      & .history__link {
        background: var(--dark-grey);
        color: white;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__header {
    padding: 12px;
    transition: 0.2s;
    display: flex;
    align-items: center;

    &-active {
      transition: 0.2s;
      display: flex;
      align-items: center;

      div {
        display: flex;
        align-items: center;
      }
    }

    img {
      margin-right: 16px;
    }
  }

  &__invoice {
    width: 162px;
    margin-right: 16px;
    color: var(--dark-grey);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s;
  }

  &__status {
    color: var(--blue);

    &-created {
      border: 1px solid #af7e00;
      border-radius: 100%;
      padding: 2px;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      font-size: 12px;
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;

    p {
      margin-top: 16px;
      max-width: 545px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      max-width: 198px;
      width: 100%;
    }

    a {
      background: rgba(93, 138, 185, 0.2);
      padding: 4px 8px;
      border-radius: var(--radius);
    }
  }

  &__active {
    .history__content {
      height: 110px;
    }

    .history__header-active {
      max-width: 539px;
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media (max-width: 930px) {
  .history {
    &__data {
      div {
        flex-direction: column;
      }

      & .invoice {
        a {
          font-size: 17px;
        }
      }

      span {
        margin-bottom: 8px;
      }
    }

    &__invoice {
      max-width: 100px;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .history {
    font-size: 14px;

    &__data {
      padding: 14px;

      .invoice > a {
        font-size: 15px;
      }
    }

    &__invoice {
      margin-right: 0;
    }

    &__header {
      img {
        margin-right: 10px;
      }

      &-active {
        justify-content: space-between;
        width: 100%;
      }
    }

    &__content {
      span {
        max-width: 166px;
      }
    }
  }
}

@media (max-width: 700px) {
  .history {
    flex-direction: column-reverse;

    &__item {
      margin-top: -1px;
      border-radius: 0;
      border: none;
      border-top: 1px solid var(--light-blue);

      &:first-child {
        border-top: 0;
      }
    }

    &__invoice {
      max-width: initial;
      width: 200px;
    }

    &__list {
      border-radius: 3px;
      overflow: hidden;
      border: 1px solid var(--light-blue);
    }

    &__header {
      img {
        margin-right: 16px;
      }
    }

    &__data {
      margin-left: 0;
      padding: 12px;
      margin-bottom: 12px;

      div {
        flex-direction: initial;
        margin-top: 6px;
      }
    }

    &__list {
      width: 100%;
    }
  }
}

@media (max-width: 370px) {
  .history {
    font-size: 13px;

    &__invoice {
      width: 150px;
    }

    &__content {
      span {
        max-width: 150px;
      }
    }
  }
}

</style>
