<template>
  <div style="width: 100%;">
    <div
      v-if="invoice && (invoice.status === 'paid' || invoice.status === 'overpaid')"
      class="home__invoice-success"
    >
      <h4>Invoice is successfully paid</h4>
      <i
        class="pi pi-spin pi-spinner"
      ></i>
      <span>You will be redirected to the main window now</span>
    </div>
    <div
      v-else
      class="invoice-data"
    >
      <p class="invoice-data__address">
        <a
          target="_blank"
          :href="getExplorerHref((invoice ? invoice.currencyName : ''), 'address', invoiceAddress, cryptoCurrency.toLowerCase())"
        >
          <i class="pi-external-link pi"></i>
          {{ invoiceAddress }}
        </a>
        <w-copy :text="invoiceAddress"/>
      </p>
      <span class="invoice-data__conversion">
        {{ amount }} {{ fiatCurrency }}
        ≈
        {{ total }} {{ cryptoCurrency }}
      </span>
      <h3 class="invoice-data__title">
        <span v-if="invoice.status === 'partpaid'">Remains to pay: {{ invoice.amount }} {{ cryptoCurrency }}</span>
        <span v-else>Please send: {{ total }} {{ cryptoCurrency }}</span>
        <w-copy :text="total" />
      </h3>
      <div class="invoice-data__lifetime">
        <i
          class="pi pi-spin pi-spinner"
          style="font-size: 1rem; color: var(--light-blue); font-weight: 700;"
        ></i>
        {{ formattedTime }}
      </div>
      <p class="invoice-data__status">
        Status: {{ invoice ? invoice.status : '' }}
      </p>
      <a
        class="invoice-data__cancel"
        href="#"
        @click.prevent="$emit('clickHome')"
      >Back</a>
    </div>
  </div>
</template>

<script>
import WCopy from "@/components/Copy.vue";
import explorerHref from "@/mixins/explorerHref";

export default {
  name: "InvoiceData",
  components: {WCopy},
  mixins: [explorerHref],
  props: {
    invoice: {
      default: {}
    },
    invoiceAddress: {
      default: null
    },
    amount: {
      default: 0
    },
    fiatCurrency: {
      default: ''
    },
    total: {
      default: 0
    },
    cryptoCurrency: {
      default: ''
    },
    formattedTime: {
      default: ''
    }
  },
  emits: {'clickHome': null}
}
</script>

<style scoped lang="scss">

.invoice-data {
  &__address {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--light-blue);
    word-break: break-all;
    display: flex;

    a {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 83%;
      color: inherit;
      transition: 0.2s;

      &:hover {
        opacity: 0.6;
      }

      i {
        font-size: 13px;
      }
    }
  }

  &__conversion {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: var(--dark-grey);
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
    display: flex;
  }

  &__lifetime {
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 22px;

    i {
      margin-right: 8px;
    }
  }

  &__status {
    margin-top: 6px;
    margin-bottom: 28px;
    font-size: 13px;
    color: #999999;
  }

  &__cancel {
    color: var(--black);
    border: 1px solid var(--light-blue);
    padding: 4px 12px;
    border-radius: var(--radius);
    display: inline-block;
    transition: 0.2s;

    &:hover {
      color: white;
      background: var(--light-blue);
    }
  }
}

@media (max-width: 767px) {
  .invoice-data {
    &__conversion,
    &__total {
      font-size: 18px;
    }

    &__address {
      font-size: 20px;
    }
  }
}

@media (max-width: 700px) {
  .invoice-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;

    &__address {
      a {
        width: 200px;
        font-size: 16px;
      }
    }
  }
}


</style>