<template>
  <div class="pagination">
    <a
      href="#"
      @click.prevent="$emit('clickStartPage')"
    >
      <arrow-pagination />
    </a>
    <a
      href="#"
      style="margin-right: 8px;"
      @click.prevent="$emit('clickPerPage')"
    >
      <arrow-pagination
        :qty-arrow="false"
      />
    </a>
    <ul class="pagination__list">
      <li
        v-for="page in pages"
        :key="'page_' + page"
        :class="{'pagination__list-active': (currentPage) === page}"
        @click.prevent="$emit('clickPage', page)"
      >
        {{ page }}
      </li>
    </ul>
    <a
      href="#"
      style="margin-left: 8px;"
      @click.prevent="$emit('clickNextPage')"
    >
      <arrow-pagination
        :qty-arrow="false"
        direction="right"
      />
    </a>
    <a
      href="#"
      @click.prevent="$emit('clickEndPage', endPage)"
    >
      <arrow-pagination direction="right" />
    </a>
  </div>
</template>

<script>
import ArrowPagination from "@/components/icons/ArrowPagination.vue";

export default {
  name: "Paginator",
  components: {ArrowPagination},
  props: {
    pagination: {
      total: {
        type: Number,
        default: 0
      },
      offset: {
        type: Number,
        default: 0
      },
      limit: {
        type: Number,
        default: 6
      }
    },
    pageRange: {
      type: Number,
      default: 2
    }
  },
  emits: ['clickStartPage', 'clickPerPage', 'clickPage', 'clickNextPage', 'clickEndPage'],
  computed: {
    endPage() {
      return Math.floor(this.pagination.total / this.pagination.limit) * this.pagination.limit
    },
    currentPage() {
      return Math.ceil(this.pagination.offset / this.pagination.limit) + 1 || 1
    },
    rangeStart() {
      const start = this.currentPage - this.pageRange
      return start > 0 ? start : 1
    },
    rangeEnd() {
      const end = this.currentPage + this.pageRange
      return end < this.totalPages ? end : this.totalPages
    },
    totalPages() {
      return Math.ceil(this.pagination.total / this.pagination.limit)
    },
    pages() {
      const pages = []
      for (let i = this.rangeStart; i <= this.rangeEnd; i++) {
        pages.push(i)
      }
      return pages
    }
  }
}
</script>

<style lang="scss">

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: -4px;
    padding: 0;
    min-width: 215px;

    &-active {
      background: var(--blue) !important;
      color: white !important;
    }

    li {
      border-radius: var(--radius);
      margin: 0 4px;
      cursor: pointer;
      padding: 4px;
      min-width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--dark-grey);

      &:hover {
        color: white;
        background: var(--dark-grey);
      }
    }
  }
}

@media (max-width: 400px) {
  .pagination {
    &__list {
      min-width: 190px;
    }
    li {
      min-width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
}

</style>