<template>
  <div class="terminal">
    <div class="terminal__inputs">
      <div style="display: flex">
        <vSelect
          v-model="fiat"
          :options="fiatOptions"
          class="select"
        >
        </vSelect>
        <div style="position: relative;">
          <div
            :class="{'show-dropdown': showCryptoDropdown}"
            class="terminal__crypto-custom-select active"
            style=""
          >
            <button
              class="terminal__crypto-custom-select-btn"
              @click.prevent="showCryptoDropdown = !showCryptoDropdown"
            >
              <CryptoIcons
                main-width="30"
                network-width="15"
                :value="crypto"
              />
            </button>
            <div class="terminal__crypto-custom-select-dropdown">
              <button
                v-for="coin in coins"
                :key="'dropdown_' + coin"
                class="terminal__crypto-custom-select-dropdown-item"
                :class="{'terminal__active-option': crypto.toLowerCase() === coin.toLowerCase()}"
                :value="coin"
                :title="coin"
                @click.prevent="toggleCryptoCurrency(coin.toUpperCase())"
              >
                <CryptoIcons
                  main-width="30"
                  network-width="15"
                  :value="coin"
                />
              </button>
            </div>
            <span class="__apr-select-arrow"></span>
          </div>
        </div>
      </div>
      <input
        v-model="amount"
        style="cursor: not-allowed;"
        class="input"
        type="text"
        placeholder="Amount"
        disabled
        @change="$emit('update:modelValue', event.target.value)"
      >
    </div>
    <div class="terminal__input-buttons">
      <button
        v-for="key in keysButton"
        :key="'button_' + key"
        class="button-square"
        type="button"
        style="background: var(--blue)"
        :disabled="showInvoice"
        @click.prevent="clickFigure(key)"
      >
        {{ key }}
      </button>
      <button
        style="background: var(--pink)"
        type="button"
        class="button-square"
        :disabled="showInvoice"
        @click.prevent="clickDelete"
      >
        <Delete/>
      </button>
      <button
        style="background: var(--yellow)"
        type="button"
        class="button-square"
        :disabled="showInvoice"
        @click.prevent="clickBackspace"
      >
        <Backspace/>
      </button>
      <button
        style="background: var(--green)"
        type="button"
        class="button-square"
        :disabled="showInvoice"
        @click.prevent="$emit('createInvoice')"
      >
        <ArrowRight/>
      </button>
    </div>
  </div>
</template>

<script>
import Delete from "@/components/icons/Delete.vue";
import Backspace from "@/components/icons/Backspace.vue";
import ArrowRight from "@/components/icons/ArrowRight.vue";
import 'vue-select/dist/vue-select.css';
import vSelect from 'vue-select'
import CryptoIcons from "@/components/CryptoIcons.vue";
import getCurrencies from "@/mixins/getCurrencies";
import {checkCryptoForImg} from "@/plugins/checkCryptoForImg";

export default {
  name: "Terminal",
  components: {CryptoIcons, ArrowRight, Backspace, Delete, vSelect},
  mixins: [getCurrencies],
  props: {
    showInvoice: {
      type: Boolean,
      default: false
    },
    modelValue: {
      default: ''
    },
    debugMode: {
      default: false
    }
  },
  emits: ['update:modelValue', 'createInvoice'],
  data() {
    return {
      showCryptoDropdown: false,
      keysButton: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '00', '0', '.'],
      fiat: this.$store.state.fiatCurrency,
      crypto: this.$store.state.cryptoCurrency,
      fiatOptions: [],
      coins: [],
      amount: ''
    }
  },
  watch: {
    'fiat'(to) {
      this.$store.commit('setFiat', to)
    },
    'debugMode'(to) {
      console.log(this.coins)
      this.currencies.forEach(currency => {
        if (to) {
          if (!this.coins.includes(currency.abbr)) {
            this.coins.unshift(currency.abbr)
          }
        } else {
          const excludedCoins = this.currencies.filter(currency => {
            return currency.abbr.includes('ttrx') || currency.name.includes('testnet');
          }).map(currency => currency.abbr);

          this.coins = this.coins.filter(coin => !excludedCoins.includes(coin));
          this.$store.commit('setCrypto', this.coins[0])
          this.crypto = this.$store.state.cryptoCurrency
        }
      })
    }
  },
  async mounted() {
    window.addEventListener('keydown', this.handleKeyDown);
    window.addEventListener('keyup', this.handleKeyUp)
    await this.getFiatOptions()
    setTimeout(async () => {
      await this.getCoins()
      if (this.debugMode) {
        this.currencies.forEach(currency => {
          if (!this.coins.includes(currency.abbr)) {
            this.coins.unshift(currency.abbr)
          }
        })
      }
    }, 1000)
  },
  beforeUnmount() {
    window.removeEventListener('keydown', this.handleKeyDown);
    window.removeEventListener('keyup', this.handleKeyUp)
  },
  methods: {
    checkCryptoForImg,
    async getFiatOptions() {
      try {
        const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/ticker?currency=btc`)
        const result = await response.json()
        for (const fiat in result) {
          if (fiat !== 'btc') {
            this.fiatOptions.push(fiat.toUpperCase())
          }
        }
      } catch (e) {
        console.log(e)
      }
    },
    async getCoins() {
      try {
        for (const coin in this.currencies) {
          if (!this.currencies[coin].name.includes('testnet') && !this.currencies[coin].abbr.includes('ttrx')) {
            this.coins.push(this.currencies[coin].abbr.toLowerCase())
          }
        }
      } catch (e) {
        console.log(e)
      }
    },
    toggleCryptoCurrency(crypto) {
      this.$store.commit('setCrypto', crypto)
      this.crypto = this.$store.state.cryptoCurrency
      this.showCryptoDropdown = false
    },
    clickFigure(figure) {
      this.amount += figure
      this.$emit('update:modelValue', this.amount)
    },
    clickBackspace() {
      this.amount = this.amount.slice(0, -1)
      this.$emit('update:modelValue', this.amount)
    },
    clickDelete() {
      this.amount = ''
      this.$emit('update:modelValue', this.amount)
    },
    handleKeyUp() {
      const keyPressed = event.key.toLowerCase();
      if (
        keyPressed === 'backspace' ||
        keyPressed === 'delete'
      ) {
        this.clickBackspace()
      }
    },
    handleKeyDown() {
      const key = event.key;
      if (/^[0-9.]$/.test(key)) {
        this.clickFigure(key);
      }
    },
  }
}
</script>

<style lang="scss">

.terminal {
  &__active-option {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 72%;
      height: 76%;
      border-radius: 100%;
      position: absolute;
      top: 47%;
      left: 51%;
      transform: translate(-50%, -50%);
      filter: blur(2px);
      background: #4397dd;
      z-index: -1;
    }
  }

  &__inputs {
    margin-top: 16px;
    margin-bottom: 16px;

    .select {
      width: calc(100% - 55px);
      margin-right: 8px;
      border: none;

      & .vs {
        &__clear {
          display: none;
        }

        &__selected {
          top: 3px;
        }

        &__dropdown-toggle {
          height: 100%;
          border: 1px solid var(--blue);
        }

        &__dropdown-menu {
          border-color: var(--blue);
          width: calc(100% - 20px) !important;
        }

        &__dropdown-menu li {
          padding-left: 8px;
        }

        &__dropdown-option--highlight {
          background: var(--blue);
        }
      }
    }

    .input {
      margin-top: 12px;
    }
  }

  &__crypto-custom-select {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 47.5px;
    height: 40px;
    background: white;
    padding: 4px 8px 0 8px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--light-blue);
    border-radius: 4px;
    transition: width 0.5s ease, height 0.5s ease, box-shadow 0.2s;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 6px 2px rgba(79, 172, 248, 0.2);
    }

    &-btn {
      height: 31.2px;
      width: 31px;
      padding: 0 70.5px 34px 0;
      margin: 0 auto 0 0;
      cursor: pointer;
      background-color: inherit;
      border: none;
      outline: none;
    }

    &-dropdown {
      width: 46.5px;
      display: flex;
      flex-direction: column;
      padding: 4px 0 0;
      overflow-y: scroll;
      border-top: 1px solid var(--blue);


      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-dropdown-item {
      cursor: pointer;
      background-color: transparent;
      border: none;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2rem;
      border-radius: 26px;
      transition: background-size .15s ease-in;
      padding: 4px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__input-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .button-square {
      margin-bottom: 16px;
    }
  }
}

</style>