<template>
  <header class="header container">
    <div class="header__logo-title">
      <a
        class="header__logo"
        href="/"
      >
        <img
          src="@/assets/img/logo-primary.svg"
          alt="logo"
        >
      </a>
      <h1>{{ title }}</h1>
    </div>
    <div class="header__profile">
      <button
        class="header__profile-button"
        @click.prevent="() => isShowDropdown = !isShowDropdown"
      >
        <i class="apr apr-gear"></i>
      </button>
      <i class="apr apr-arrow_light_down {isShowDropdown ? 'header__transform' : ''}"></i>
      <div
        v-if="isShowDropdown"
        class="header__profile-dropdown"
      >
        <a
          href="/"
          class="header__profile-dropdown-item"
          @click.prevent="logout"
        >
          <i class="apr apr-exit"></i>
          Logout
        </a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  inject: ['title'],
  data() {
    return {
      isShowDropdown: false
    }
  },
  methods: {
    logout() {
      delete localStorage['access-token']
      delete localStorage['refresh-token']
      delete localStorage['login']
      this.$router.push('/auth')
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  position: sticky;
  top: 0;
  //background: #f0f6ff;
  backdrop-filter: blur(3px);
  z-index: 10;

  &__logo-title {
    display: flex;
    align-items: center;

    h1 {
      margin-left: 32px;
      transform: translateY(-2px);
    }
  }

  &__transform {
    transform: rotate(180deg);
  }

  &__profile {
    position: relative;
    display: flex;
    align-items: center;

    &-button {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: var(--primary);
      font-size: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--primary);
      color: white;
    }

    .apr-arrow_light_down {
      font-size: 16px;
      margin-left: 8px;
    }

    &-dropdown {
      position: absolute;
      width: 150px;
      top: calc(100% + 8px);
      right: 0;
      border: 1px solid var(--black);
      border-radius: 3px;
      overflow: hidden;
      background: #f3f3f3;

      &-item {
        width: 100%;
        border: none;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--black);

        &:hover {
          background: var(--primary);
          color: white;
        }

        i {
          margin-right: 8px;
          font-weight: 600;
        }
      }
    }
  }
}
</style>