<template>
  <div class="pagination">
    <a

      class="pagination__link-end pagination__arrow-link"
      href="#"
      @click.prevent="$emit('clickStartPage')"
    >
      <i class="apr apr-arrow_double_light_left"></i>
    </a>
    <a
      class="pagination__arrow-link"
      href="#"
      style="margin-right: 8px;"
      @click.prevent="$emit('clickPerPage')"
    >
      <i class="apr apr-arrow_light_left"></i>
    </a>
    <ul class="pagination__list">
      <li
        v-for="page in pages"
        :key="'page_' + page"
        :class="{'pagination__list-active': (currentPage) === page}"
        @click.prevent="$emit('clickPage', page)"
      >
        {{ page }}
      </li>
    </ul>
    <a
      class="pagination__arrow-link"
      href="#"
      style="margin-left: 8px;"
      @click.prevent="$emit('clickNextPage')"
    >
      <i class="apr apr-arrow_light_right"></i>
    </a>
    <a
      class="pagination__link-end pagination__arrow-link"
      href="#"
      @click.prevent="$emit('clickEndPage', endPage)"
    >
      <i class="apr apr-arrow_double_light_right"></i>
    </a>
  </div>
</template>

<script>

export default {
    name: "Paginator",
    props: {
        pagination: {
            total: {
                type: Number,
                default: 0
            },
            offset: {
                type: Number,
                default: 0
            },
            limit: {
                type: Number,
                default: 10
            }
        },
        pageRange: {
            type: Number,
            default: 2
        }
    },
    emits: ['clickStartPage', 'clickPerPage', 'clickPage', 'clickNextPage', 'clickEndPage'],
    computed: {
        endPage() {
            return Math.floor(this.pagination.total / this.pagination.limit) * this.pagination.limit
        },
        currentPage() {
            return Math.ceil(this.pagination.offset / this.pagination.limit) + 1 || 1
        },
        rangeStart() {
            const start = this.currentPage - this.pageRange
            return start > 0 ? start : 1
        },
        rangeEnd() {
            const end = this.currentPage + this.pageRange
            return end < this.totalPages ? end : this.totalPages
        },
        totalPages() {
            return Math.ceil(this.pagination.total / this.pagination.limit)
        },
        pages() {
            const pages = []
            for (let i = this.rangeStart; i <= this.rangeEnd; i++) {
                pages.push(i)
            }
            return pages
        }
    }
}
</script>

<style lang="sass">

.pagination
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin-top: 32px

    & i
        color: var(--black)

    &__arrow-link
      width: 35px
      height: 35px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 3px
      &:hover
        background: var(--grey-text)
        i
          color: white

    &__list
        display: flex
        align-items: center
        justify-content: center
        list-style-type: none
        padding: 0
        min-width: 215px
        margin: 0

        &-active
            background: var(--primary) !important
            color: white !important

        li
            border-radius: 3px
            cursor: pointer
            padding: 4px
            min-width: 35px
            height: 35px
            display: flex
            align-items: center
            justify-content: center
            color: var(--description-text)
            &:hover
              background: var(--grey-text)
              color: white





</style>