<template>
  <aside class="sidebar">
    <div class="sidebar__links">
      <div
        v-for="(link, index) in sidebarLinks"
        :key="`link_${index}`"
      >
        <div v-if="link.hasOwnProperty('founder') || link.hasOwnProperty('errors')">
          <div
            v-for="(key, index) in Object.keys(link)"
            :key="`key_${index}`"
            class="sidebar__link-big"
            :class="{'sidebar__link-big-active' : toggleLink === `key_${index}` || link[key].links.find(item => item.href === $route.path)}"
            @click="setActiveLink(`key_${index}`)"
          >
            <div class="sidebar__link-big-l">
              <div>
                <i :class="['apr', link[key].title.icon]"></i>
                {{ link[key].title.name }}
              </div>
              <i class="apr apr-arrow_light_down"></i>
            </div>
            <div
              v-if="toggleLink === `key_${index}` || link[key].links.find(item => item.href === $route.path)"
              class="sidebar__link-list"
            >
              <router-link
                v-for="(sublink, index) in link[key].links"
                :key="`sublink_${index}`"
                class="sidebar__sublink"
                :to="sublink.href"
                active-class="sidebar__active-sublink"
              >
                {{ sublink.name }}
              </router-link>
            </div>
          </div>
        </div>
        <router-link
          v-else
          class="sidebar__link"
          :to="link.href"
          active-class="sidebar__active-link"
          exact
          @click="setActiveLink(null)"
        >
          <i :class="['apr', link.icon]"></i>
          {{ link.name }}
        </router-link>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      sidebarLinks: [
        {
          href: `/operations`,
          icon: 'apr-box',
          name: 'Operation'
        },
        {
          href: `/callbacks`,
          icon: 'apr-globe',
          name: 'CallBacks'
        }
      ],
      sidebarLinksFounder: [
        {
          founder: {
            title: {
              icon: 'apr-dashboard',
              name: 'Indicators'
            },
            links: [
              {
                href: '/transactions-incoming',
                name: 'Receipts'
              },
              {
                href: '/transactions-outgoing',
                name: 'Payments'
              },
              {
                href: '/turnover',
                name: 'Turnover'
              },
            ]
          },
          errors: {
            title: {
              icon: 'apr-warning',
              name: 'Errors'
            },
            links: [
              {
                href: '/failed-callbacks',
                name: 'Failed callbacks'
              },
              {
                href: '/frozen-forwards',
                name: 'Frozen forwards'
              },
              {
                href: '/unconfirmed-transactions',
                name: 'Unconfirmed transactions'
              },
            ]
          },
          information: {
            title: {
              icon: 'apr-info',
              name: 'Information'
            },
            links: [
              {
                href: '/domains',
                name: 'Domains'
              },
              {
                href: '/callback-address',
                name: 'Callback address'
              },
              {
                href: '/balances',
                name: 'Balances'
              },
              {
                href: '/invoices',
                name: 'Invoices'
              },
              {
                href: '/registrations',
                name: 'Registrations'
              },
            ]
          },
        }
      ]
    }
  },
  computed: {
    toggleLink() {
      return this.$store.state.sidebarLink;
    },
  },
  mounted() {
    if (this.$store.state.login === 'apr-founder') {
      this.sidebarLinks = [...this.sidebarLinks, ...this.sidebarLinksFounder]
    }
  },
  methods: {
    setActiveLink(link) {
      this.$store.commit('setSidebarLink', link);
    }
  }
}
</script>

<style scoped lang="scss">
.sidebar {
  min-width: 210px;
  width: 210px;
  border-radius: 10px;
  padding-top: 60px;
  margin-right: 32px;
  position: sticky;
  top: 80px;

  &__active {
    &-link {
      background: var(--primary);
      color: white !important;
    }

    &-sublink {
      color: var(--primary) !important;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 280px;
  }

  &__link {
    font-size: 20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: var(--black);
    margin-bottom: 12px;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      margin-bottom: 16px;
    }

    &-big {
      display: block;
      border-radius: 0;

      &-l {
        width: 100%;
        font-size: 20px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        color: var(--black);
        margin-bottom: 12px;

        div {
          display: flex;
          align-items: center;
        }

        & .apr-arrow_light_down {
          transition: transform 0.2s;
          font-size: 12px;
        }

        i {
          margin-right: 12px;
        }

        &:hover {
          background: var(--primary-dark);
          color: white;
          cursor: pointer;
        }
      }

      &-active {
        transform: translateX(-2px);
        border-left: 2px solid var(--primary);

        & .apr-arrow_light_down {
          transform: rotate(180deg);
        }

        & .sidebar__link-big-l {
          background: var(--primary) !important;
          color: white !important;
          cursor: initial !important;
          border-radius: 0 10px 10px 0;
        }
      }

      &:hover {
        background: initial !important;
        color: var(--black) !important;
      }
    }

    &:hover {
      background: var(--primary-dark);
      color: white;
    }

    i {
      margin-right: 12px;
    }
  }

  &__sublink {
    display: block;
    margin-bottom: 12px;
    color: var(--black);
    padding-left: 48px;
    font-size: 16px;

    &:hover {
      color: var(--primary);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>