body {
    font-family: "Noto Sans", sans-serif;
    color: #2F2E41;
}

a, button {
    transition: .3s;
    outline: none;
}

a {
    color: #5D8AB9;
}

a:hover {
    text-decoration: none;
    opacity: .6;
}

@media (min-width: 992px) {
    .container.article {
        max-width: 50rem;
    }
}

.container.article h2 {
    text-align: center;
    margin-top: 2rem;
}

.dropdown-toggle::after {
    border: solid currentColor;
    border-width: 0 .12rem .12rem 0;
    display: inline-block;
    padding: .12rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.link {
    color: inherit;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}

.btn-link {
    outline: none;
    border: 1px solid #5D8AB9;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: #2F2E41;
}

.btn-link-filled {
    outline: none;
    border: 1px solid #5D8AB9;
    background-color: #5D8AB9;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: #fff;
}

.btn-link:hover {
    color: inherit;
}

.btn-link-filled:hover {
    color: #fff;
}

.hovered:hover {
    opacity: .6;
    text-decoration: none;
}

.json-wrapper {
    overflow: hidden;
    border: .0625rem solid #D8E2F0;
    border-radius: 1rem;
    margin: 1.5rem 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #EFF3F8;
    height: 0.5rem;
}

input[type="range"]::-moz-range-track {
    background: #EFF3F8;
    height: 0.5rem;
}

input[type="range"]:hover::-webkit-slider-thumb {
    opacity: .9;
}

input[type="range"]:hover::-moz-range-thumb {
    opacity: .9;
}
