.loading {
  & .skeleton__box {
    position: relative;
    overflow: hidden;
    background-color: var(--light-grey);
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0);
  }

  & p.skeleton__box {
    width: 100%;
    height: 2rem;
  }

  & .skeleton__box > span {
    opacity: 0;
  }

  & .skeleton__box::after {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0,
                    rgba(255, 255, 255, 0.2) 20%,
                    rgba(255, 255, 255, 0.5) 60%,
                    rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  & .toggler {
    display: none !important;
  }
}