<template>
  <footer class="mt-auto">
    <div style="background: #EFF3F8" class="footer__top pt-5 pb-5">
      <div class="container d-flex justify-content-between ">
        <div class="d-flex">
          <div class="mr-5">
            <b-link
              :to="localePath('index')"
              class="link hovered mb-2 d-block"
            >
              <Logo />
            </b-link>
            <client-only>
              <!-- TrustBox widget - Micro Review Count -->
              <div
                ref="trustbox"
                class="trustpilot-widget"
                data-locale="en-US"
                data-template-id="5419b6a8b0d04a076446a9ad"
                data-businessunit-id="5b70d4c28016670001a7471e"
                data-style-height="24px"
                data-style-width="100%"
                data-theme="light"
                data-min-review-count="10"
              >
                <a
                  href="https://www.trustpilot.com/review/apirone.com"
                  target="_blank"
                  rel="noopener"
                >Trustpilot</a>
              </div>
              <!-- End TrustBox widget -->
            </client-only>
            <a
              href="mailto:support@apirone.com"
              class="link hovered text-secondary"
            >support@apirone.com</a>
          </div>
          <ul class="footer__links">
            <li class="footer__link">
              <b-link
                :to="localePath('brand-resources')"
                class="link hovered"
              >
                {{ $t('pages.brand.title') }}
              </b-link>
            </li>
            <li class="footer__link">
              <b-link
                :to="localePath('using-cookies')"
                class="link hovered"
              >
                {{ $t('pages.using-cookies.title') }}
              </b-link>
            </li>
            <li class="footer__link">
              <b-link
                :to="localePath('privacy-policy')"
                class="link hovered"
              >
                Privacy Policy
              </b-link>
            </li>
            <li class="footer__link">
              <b-link
                :to="localePath('gdpr')"
                class="link hovered"
              >
                GDPR
              </b-link>
            </li>
          </ul>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div>
            <a
              href="https://www.eesti.ee/en/"
              target="_blank"
              rel="nofollow"
              class="link hovered"
            >
              <b-img-lazy
                src="/img/footer/eesti.svg"
                alt="www.eesti.ee"
                width="100px"
                height="42px"
              />
            </a>
            <a
              href="https://www.eas.ee/"
              target="_blank"
              rel="nofollow"
              class="link hovered"
            >
              <b-img-lazy
                srcset="/img/footer/eas.webp"
                src="/img/footer/eas.png"
                alt="www.eas.ee"
                style="margin-right: 10px;"
                width="100px"
                height="57px"
              />
            </a>
          </div>
          <a
            href="http://ipv6-test.com/validate.php?url=apirone.com"
            target="_blank"
          >
            <b-img-lazy
              srcset="/img/footer/ipv6.webp"
              src="/img/footer/ipv6.png"
              alt="ipv6 ready"
              title="ipv6 ready"
              border="0"
              width="80px"
              height="15px"
            />
          </a>
        </div>
      </div>
    </div>
    <div style="background: #E1E8F0" class="footer__bottom pt-3 pb-3">
      <div class="container d-flex justify-content-between align-items-center">
        <div>© 2017-{{ new Date().getFullYear() }} Apirone OÜ. All Rights Reserved.</div>
        <Social />
      </div>
    </div>
  </footer>
</template>

<script>
import Social from '@/components/footer/Social.vue';

export default {
  components: {
    Social
  },
  mounted() {
    const trustPilotScript = document.createElement('script');
    trustPilotScript.type = 'text/javascript';
    trustPilotScript.src = '//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js';
    trustPilotScript.async = 'true';
    document.head.appendChild(trustPilotScript);
    trustPilotScript.onload = () => {
      const trustbox = this.$refs.trustbox;
      if (trustbox) {
        window.Trustpilot.loadFromElement(trustbox);
      }
    };
  }
}
</script>

<style scoped>

.footer__bottom {
  opacity: .7;
}

.trustpilot-widget {
  margin: 0 -37px;
}

.footer__links {
  list-style: none;
}

@media (max-width: 767px) {
  .footer__top .container {
    flex-direction: column;
    align-items: center;
  }

  .footer__top .container>div:first-child {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .footer__top .container>div:first-child {
    flex-direction: column;
  }

  .footer__top .container>div:first-child>div {
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__bottom .container>div:first-child {
    max-width: 60%;
  }

  .footer__links {
    padding: 0;
    text-align: center;
    margin-top: 2rem;
  }
}
</style>

<style>
footer .logo__part {
  fill: var(--black) !important;
}
</style>
