<template>
  <div class="social">
    <a
      href="https://twitter.com/apirone_com"
      target="_blank"
      class="link hovered"
    >
      <b-img-lazy
        src="/img/footer/tw.svg"
        alt="Twitter"
        width="22px"
        height="22px"
      />
    </a>
    <a
      href="https://www.facebook.com/apirone"
      target="_blank"
      class="link hovered ml-2"
    >
      <b-img-lazy
        src="/img/footer/fb.svg"
        alt="Facebook"
        width="22px"
        height="22px"
      />
    </a>
    <a
      href="https://www.reddit.com/user/apirone_com/"
      target="_blank"
      class="link hovered ml-2"
    >
      <b-img-lazy
        src="/img/footer/reddit.svg"
        alt="Reddit"
        width="22px"
        height="22px"
      />
    </a>
    <a
      href="https://medium.com/@apirone"
      target="_blank"
      class="link hovered ml-2"
    >
      <b-img-lazy
        src="/img/footer/medium.svg"
        alt="Medium"
        width="22px"
        height="22px"
      />
    </a>
  </div>
</template>