.about-us
  padding: 48px 70px
  padding-bottom: 0
  display flex
  justify-content: space-between
  flex-direction column
  align-items center
  &__left-content
    display flex
    align-items center
    flex-direction column
  &__item
    max-width: 500px
    margin-top: 150px
    margin-bottom: 100px
    height: 300px
    transition 0.2s
    position relative
    &:first-child
      margin-left: 0
      transition 0.5s
    div
      display flex
      flex-direction column
      align-items center
      justify-content center
    &-num
      z-index -1
      letter-spacing -15px
      position absolute
      left: 54%
      bottom: 90%
      width: 150px
      transform translateX(-50%)
      font-size: 200px
      font-family 'Kanit', sans-serif
      font-weight: 500
      opacity 1
      background: linear-gradient(45deg, #9634B9, #53D3D1, #4A4EA8, #9634B9, #53D3D1, #9634B9)
      background-size: 200% auto


      color: #000
      text-fill-color: transparent
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
    &-years
      font-family: 'Kanit', sans-serif
      display block
      max-width 320px
      font-size: 24px
      font-weight: 700
      text-align center
      margin-bottom: 42px
      line-height 1.3
      text-transform uppercase
    &-text
      display block
      font-size: 20px
      font-weight: 400
      text-align center
      line-height 1.3
      opacity 0.6
  &__right-content
    max-width: 380px
    position sticky
    top 100px
  &__text
    transition 0.1s
    font-size: 24px
    line-height: 32px
    font-family: 'Kanit', sans-serif
    font-weight: 500
    text-align center

@media screen and (max-width: 767px)
  .about-us-page
    &_our-approach
      &__item
        height: auto !important

@media screen and (max-width: 550px)
  .about-us
    padding: 0
    &__text
      font-size: 20px
      line-height 1.2
    &__item
      &-num
        left: 53%
        width: 113px
        font-size: 160px
        letter-spacing -5px
      &-years
        font-size: 20px
        line-height 1.2
        max-width 250px
      &-text
        font-size: 16px
