.cases
  margin-top: 150px
  margin-bottom: 190px
  display flex
  flex-direction column
  justify-content: center;
  align-items center
  &__block-link
    display flex
    flex-direction column
    align-items start
    position relative !important
    top: auto !important
    left: auto !important
  &__link
    position relative
    img
      position absolute
      top: 0
      left: 0
  &__link-item
    margin-top: 24px
    width: 100%
    display flex
    align-items center
    justify-content: space-between
    span
      margin-top: 0 !important
  &__subtitle
    color #ffffff
    opacity 0.6
    font-size: 20px
  &__title
    margin-top: 8px
    font-size: 48px
    font-weight: 500
    font-family 'Kanit', sans-serif
    text-align center
  &__items
    margin-top: 58px
    max-width: 1010px
    width: 100%
  &__item
    position relative
    display flex
    justify-content: space-between
    align-items center
    margin-bottom: 140px
    &:last-child
      margin-bottom: 0
    &-content
      margin-left: 80px
      max-width: 432px
    &-line
      width: 68px
      height: 1px
      background white
    &-title
      margin-top: 42px
      margin-bottom: 5px
      font-size: 24px
      line-height: 48px
      font-family 'Kanit', sans-serif
      font-weight: 500
    &-text
      opacity 0.8
      font-size: 20px
      line-height: 1.3
    &-hashtag
      color white
      padding: 4px 12px
      font-weight: 600
      display inline-block

@media screen and (max-width: 1000px)
  .cases
    &__items
      max-width 825px
    &__item-title
      font-size: 21px
      margin-top: 12px
      margin-bottom: 0
    &__item-text
      font-size: 16px
    &__item-hashtag
      font-size: 14px
    &__item
      margin-bottom: 90px
      & > a
        max-width 340px
        padding: 20px 24px
        & > h4
          font-size: 20px
        & > p
          font-size: 14px
    &__link-item
      margin-top: 15px
    &__title
      font-size: 38px
      margin-top: 4px
    &__subtitle
      font-size: 16px

@media screen and (max-width: 767px)
  .cases
    margin-top: 100px
    margin-bottom: 120px
    &__items
      max-width 600px
    &__item
      margin-bottom: 70px
      & > a
        max-width 260px
        padding: 12px 14px
        transform translateY(0)
        & > h4
          font-size: 18px
        & > p
          font-size: 12px
    &__link-item
      span
        font-size: 14px
        padding: 6px 12px
    &__item-content
      margin-left: 40px
    &__item-title
      font-size: 16px
      line-height: 36px
    &__item-text
      font-size: 13px
    &__item-hashtag
      font-size: 12px
      margin-top: 0

@media screen and (max-width: 550px)
  .cases
    &__title
      font-size: 22px
    &__subtitle
      font-size: 13px
    &__item
      flex-direction column
      margin-bottom: 100px
      & > a
        max-width 270px
        padding: 14px
        margin-top: 32px
        & > p
          font-size: 12px
      &-content
        margin-left: 0
        margin-top: 32px
        display flex
        flex-direction column
        align-items center
        max-width 300px
      &-text
        text-align center

@media screen and (max-width: 390px)
  .cases
    &__item
      & > a
        margin-top: 18px
