.contact-form
  z-index: 10
  position absolute
  max-width: 908px
  width: 100%
  max-height: 567px
  height: 100%
  background #1B1F24
  top: 50%
  left: 50%
  transform translate(-50%, -50%)
  box-shadow 0 0 50px 25px rgba(#53D3D1, 0.5)
  border 2px solid white
  border-image linear-gradient(90deg, #53D3D1, #9334B8, #4C6FB2)
  border-image-slice 2
  &__loader {
      left: 15px
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      margin-right: 18px
      animation: rotate 1s linear infinite
    }
  &__loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid #000;
    animation: prixClipFix 2s linear infinite ;
  }
  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }
  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
  &__wrap
    z-index: 100
    display none
    overflow scroll
    position fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100vh
  &__inner
    width: 100%
    height: 100%
    padding: 122px 60px
    display flex
    justify-content: space-between
  &__checkbox
    display: flex
    align-items: center
  &__text
    font-size: 12px
    line-height 1.2
    a
      color #096BFF

  &__label
    display block
    width: 0
    height: 1px
    background #53d3d1
    transition 0.4s
    position absolute
    bottom: 0
    left: 0
  &__form
    display flex
    flex-direction column
    max-width 308px
    width: 100%
  &__success-icon
    position absolute
    left: 22px
    top: 11px
    display block
    width: 9px
    height: 16px
    border-bottom 2px solid #ffffff
    border-right 2px solid #ffffff
    transform rotate(45deg)
  &__error-icon
    position absolute
    left: 22px
    top: 11px
    &:after
    &:before
      display block
      content ''
      position absolute
      top: 10px
      left: -5px
      width: 18px
      height: 2px
      background #ff0000
    &:after
      transform rotate(45deg)
    &:before
      transform rotate(-45deg)
  &__btn
    position relative
    display flex
    justify-content center
    align-items center
    transition 0.3s
    margin-top: 32px
    background white
    width: 100%
    padding: 16px 0
    cursor not-allowed
    outline none
    border 3px dashed
    border-image linear-gradient(90deg, #53D3D1, #9334B8, #4C6FB2, #53D3D1)
    border-image-slice 2
  &__container-input
    position relative
    width: 100%
    margin-bottom: 32px
    textarea
      resize vertical
      padding-bottom: 0
      min-height 28px
      max-height 60px
    textarea + label
      bottom: 2px
    &:hover
      .contact-form__label
        width: 100%
        transition 0.7s
  &__input
    border none
    border-radius 8px 8px 0 0
    padding-top: 8px
    padding-left: 8px
    background none
    border-bottom 1px solid rgba(white, 0.8)
    width: 100%
    padding-bottom: 8px
    color white
    outline none
  &__close-btn
    right: 15px !important
    top: 15px !important
  &__content
    margin-left: 116px
    p
      line-height: 1.5
      margin-top: 30px
      margin-bottom: 100px
    span
      a
        color white
        font-weight: 600
      a + a
        margin-left: 44px

@media screen and (max-width: 1000px)
  .contact-form
    height: 430px
    max-width: 650px
    .--success-click
      padding-left: 24px
    &__error-icon
      left: 10px
      top: 5px
    &__success-icon
      left: 10px
      top: 5px
    &__btn
      margin-top: 4px
      height: 30px
    &__inner
      padding: 40px 30px
    &__container-input
      margin-bottom: 24px
    &__text
      font-size: 10px
    &__checkbox
      margin-bottom: 16px
    &__content
      margin-left: 60px
      img
        width: 290px
      p
        margin-top: 20px
        margin-bottom: 50px
        font-size: 14px
      span
        a
          font-size: 14px

@media screen and (max-width: 767px)
  .contact-form
    overflow scroll
    max-width: 500px
    height: auto
    &__error-icon,
    &__success-icon
      left: 22px
      top: 11px
    .--success-click
      padding-left: 16px
    &__btn
      height: auto
    &__inner
      flex-direction column-reverse
      align-items center
    &__content
      margin-left: 0
      display flex
      flex-direction column
      align-items center
      margin-bottom: 32px
      max-width 300px
      p
        text-align center
        margin-bottom: 30px

@media screen and (max-width: 550px)
  .contact-form
    max-width 300px
    &__error-icon,
    &__success-icon
      left: 10px
      top: 7px
    &__inner
      padding: 30px 24px
    &__content
      img
        width: 245px
        margin-left: 10px
      p
        font-size: 13px
        margin-bottom: 26px
        margin-top: 12px
      span
        display flex
        a
          font-size: 12px
          a + a
            margin-left: 24px
    &__close-btn
      width: 18px !important
      height: 20px !important
      &:after
        height: 19px !important
        left: 7px !important
        top: 1px !important
      &:before
        width: 19px !important
        left -2px !important
        top: 10px !important
    &__input
      font-size: 12px
      padding-bottom: 6px
      &::placeholder
        font-size: 12px
    &__btn
      padding: 12px 0







