.digital-service
  display flex
  align-items center
  justify-content center
  flex-direction column
  &__items
    width: 100%
    display flex
    margin-top: 68px
  &__item
    max-width: 400px
    width: 100%
    padding: 56px 32px
    border 1px solid rgba(#fff, 0.2)
    margin-left: 48px
    &:first-child
      margin-left: 0
    &-title
      font-size: 24px
      font-weight: 700
      margin-top: 24px
      margin-bottom: 12px
    &-line
      width: 80px
      height: 3px
      background white
    &-text
      margin-top: 40px
      span
        line-height 1.2
        display block
        margin-bottom: 14px
        &:last-child
          margin-bottom: 0

@media screen and (max-width: 1000px)
  .digital-service
    &__items
      justify-content: center
    &__item
      margin-left: 20px
      max-width: 270px
      padding: 30px 20px
      &-title
        font-size: 20px
      &-text
        margin-top: 30px
        span
          font-size: 14px
          margin-bottom: 10px

@media screen and (max-width: 767px)
  .digital-service
    &__item
      margin-left: 10px
      padding: 20px 14px
      img
        height: 30px
        width: 25px
      &-title
        font-size: 15px
        margin-top: 18px
        margin-bottom: 8px
      &-line
        width: 45px
      &-text
        margin-top: 20px
        span
          font-size: 11px
          margin-bottom: 6px

@media screen and (max-width: 550px)
  .digital-service
    &__items
      flex-wrap wrap
    &__item
      margin-left: 0
      margin-bottom: 16px
      padding: 32px 24px 48px
      &-text
        span
          font-size: 13px
      &:last-child
        margin-left: 0

