.discuss-your-project
  color white
  max-width: 1416px
  width: 100%
  height: 300px
  padding: 0 20px
  margin: 0 auto 138px
  transition 0.4s ease-out
  display flex
  align-items center
  justify-content center
  &:hover
    width: 95%
    .discuss-your-project__title
      font-size: 28px
    .discuss-your-project__inner
      background-size 100%
      animation shine 0s
      box-shadow 0 4px 10px 0 rgba(#000000, 0.4)
      height: 95%
      img
        margin-left: 300px
        opacity 0

  &__inner
    transition 0.4s ease-out
    width: 100%
    height: 100%
    display flex
    align-items center
    flex-direction column
    justify-content: center
    background: linear-gradient(100deg, #0A539A, #72288F, #1C7776)
    background-size: 150% auto
    box-shadow 0 8px 20px 0 rgba(#000000, 0.2)

    animation: shine 3s ease-in-out alternate infinite
    @keyframes shine {
      to {
        background-position: 100% center;
      }
    }
    img
      margin-left: 0
      opacity 1
      transition 0.4s
  &__title
    font-family: 'Kanit', sans-serif
    font-size: 32px
    font-weight: 500
    line-height: 48px
    margin-bottom: 18px
    transition 0.5s

@media screen and (max-width: 1000px)
  .discuss-your-project
    &:hover
      .discuss-your-project__title
        font-size: 22px
      .discuss-your-project__inner
        img
          margin-left: 250px
    &__inner
      img
        max-width 100px

    &__title
      font-size: 26px
      margin-bottom: 8px

@media screen and (max-width: 767px)
  .discuss-your-project
    &:hover
      .discuss-your-project__title
        font-size: 18px
      .discuss-your-project__inner
        img
          margin-left: 200px
    &__title
      font-size: 22px
      margin-bottom: 4px
    &__inner
      img
        max-width 80px

@media screen and (max-width: 550px)
  .discuss-your-project
    height: 150px
    &:hover
      .discuss-your-project__title
        font-size: 14px
      .discuss-your-project__inner
        img
          margin-left: 150px
    &__title
      font-size: 16px
      line-height: 22px
    &__inner
      img
        max-width 50px
