// =========
// Open Sans
// =========

@font-face
    font-family: 'Open-Sans'
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/open-sans/opensanslight.woff2') format('woff2'), url('/static/fonts/open-sans/opensanslight.woff') format('woff'), url('/static/fonts/open-sans/opensanslight.ttf') format('truetype')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'Open-Sans'
    src: local('Open Sans'), local('OpenSans'), url('/static/fonts/open-sans/opensans.woff2') format('woff2'), url('/static/fonts/open-sans/opensans.woff') format('woff'), url('/static/fonts/open-sans/opensans.ttf') format('truetype')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'Open-Sans'
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/static/fonts/open-sans/opensanssemibold.woff2') format('woff2'), url('/static/fonts/open-sans/opensanssemibold.woff') format('woff'), url('/static/fonts/open-sans/opensanssemibold.ttf') format('truetype')
    font-weight: 600
    font-style: normal
@font-face
    font-family: 'Open-Sans'
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/static/fonts/open-sans/opensansbold.woff2') format('woff2'), url('/static/fonts/open-sans/opensansbold.woff') format('woff'), url('/static/fonts/open-sans/opensansbold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

// ======
// Kanit
// ======

@font-face
    font-family: 'Kanit';
    src: local('Kanit Thin'), local('Kanit-Thin'), url('/static/fonts/kanit/Kanitthin.woff2') format('woff2'), url('/static/fonts/kanit/Kanitthin.woff') format('woff'), url('/static/fonts/kanit/Kanitthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
@font-face
    font-family: 'Kanit';
    src: local('Kanit Medium'), local('Kanit-Medium'), url('/static/fonts/kanit/Kanitmedium.woff2') format('woff2'), url('/static/fonts/kanit/Kanitmedium.woff') format('woff'), url('/static/fonts/kanit/Kanitmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
@font-face
    font-family: 'Kanit';
    src: local('Kanit'), local('Kanit-Regular'), url('/static/fonts/kanit/Kanit.woff2') format('woff2'), url('/static/fonts/kanit/Kanit.woff') format('woff'), url('/static/fonts/kanit/Kanit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
@font-face
    font-family: 'Kanit';
    src: local('Kanit Bold'), local('Kanit-Bold'), url('/static/fonts/kanit/Kanitbold.woff2') format('woff2'), url('/static/fonts/kanit/Kanitbold.woff') format('woff'), url('/static/fonts/kanit/Kanitbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

// ==========
// MuktaVaani
// ==========

@font-face
    font-family: 'MuktaVaani';
    src: local('MuktaVaani'), local('MuktaVaani-Regular'), url('/static/fonts/MuktaVaani/MuktaVaani-Regular.woff2') format('woff2'), url('/static/fonts/MuktaVaani/MuktaVaani-Regular.woff') format('woff'), url('/static/fonts/MuktaVaani/MuktaVaani-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
@font-face
    font-family: 'MuktaVaani';
    src: local('MuktaVaani Medium'), local('MuktaVaani-Medium'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.woff2') format('woff2'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.woff') format('woff'), url('/static/fonts/MuktaVaani/MuktaVaani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
@font-face
    font-family: 'MuktaVaani';
    src: local('MuktaVaani Bold'), local('MuktaVaani-Bold'), url('/static/fonts/MuktaVaani/MuktaVaani-Bold.woff2') format('woff2'), url('/static/fonts/MuktaVaani/MuktaVaani-Bold.woff') format('woff'), url('/static/fonts/MuktaVaani/MuktaVaani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

// =====
// Arial
// =====

@font-face
    font-family: 'Arial';
    src: local('Arial'), local('Arial-Regular'), url('/static/fonts/arial/arial-regular.woff2') format('woff2'), url('/static/fonts/arial/arial-regular.woff') format('woff'), url('/static/fonts/arial/arial-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
@font-face
    font-family: 'Arial';
    src: local('Arial Italic'), local('Arial-Italic-Regular'), url('/static/fonts/arial/arial-italic.woff2') format('woff2'), url('/static/fonts/arial/arial-italic.woff') format('woff'), url('/static/fonts/arial/arial-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
@font-face
    font-family: 'Arial';
    src: local('Arial Bold'), local('Arial-Bold'), url('/static/fonts/arial/arial-bold.woff2') format('woff2'), url('/static/fonts/arial/arial-bold.woff') format('woff'), url('/static/fonts/arial/arial-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
