.footer
  background white
  padding: 32px 105px
  &__content
    display flex
    justify-content: space-between
    align-items flex-start
    color #1B1F24
  &__items
    display flex
  &__item
    margin-left: 88px
    display flex
    flex-direction column
    a,
    span
      color #1B1F24
      font-weight: 600
      line-height: 1.5
    &-title
      font-family: 'Kanit', sans-serif
      font-weight: 500
      margin-bottom: 17px
    &:first-child
      margin-left: 0
  &__prefix
    margin-top: 48px
    display flex
    justify-content: space-between
    span
      font-size: 14px
      color #1B1F24
  &__navbar
    a
      font-size: 14px
      color #1B1F24
      margin-left: 16px
      &:first-child
        margin-left: 0

@media screen and (max-width: 1000px)
  .footer
    padding: 40px
    &__items
      margin-left: 30px
    &__item
      margin-left: 40px
      span,
      a
        font-size: 14px
    &__prefix
      span
        font-size: 13px
    &__navbar
      a
        margin-left: 10px
        font-size: 13px

@media screen and (max-width: 767px)
  .footer
    &__content
      flex-direction column
    &__items
      margin-left: 0
      margin-top: 32px
    &__prefix
      margin-top: 32px
      align-items end
      flex-direction column
    &__navbar
      margin-bottom: 6px

@media screen and (max-width: 550px)
  .footer
    padding: 20px
    &__items
      flex-direction column
    &__item
      margin-left: 0
      margin-bottom: 16px
      align-items center
      span
        text-align center
      &:last-child
        margin-bottom: 0
    &__content
      align-items center
    &__prefix
      align-items center
    &__navbar
      a
        margin-left: 9px

