.header
  display flex
  align-items center
  justify-content: space-between;
  position fixed
  top: 0
  left: 50%
  max-width 1356px
  width: 100%
  padding: 21px 30px 0
  z-index: 10
  transform translateX(-50%)
  &__logo
    max-width 150px
    width: 100%
  &__btn-contact-form
    cursor pointer
    position relative
  &__links
    display flex
    align-items center
    padding: 0 32px
    border-radius 5px
    backdrop-filter blur(5px)
    border 1px solid rgba(#ffffff, 0.05)
    background radial-gradient(rgba(#414B57, 0.2), rgba(#2D353D, 0.2))
    overflow hidden
    a
      padding: 20px 0
      color white
      opacity: 0.6
      transition 0.2s
      &:hover
        opacity 1
    span
      display block
      width: 4px
      height: 4px
      background white
      opacity 0.6
      border-radius 100%
      margin: 0 24px

@media screen and (max-width: 950px)
  .header
    &__btn
      font-size: 16px
      padding: 10px 24px
    &__btn-adaptive
      display none
    &__logo
      img
        width: 100px

@media screen and (max-width: 550px)
  .header
    &__logo
      img
        width: 80px

    &__btn
      font-size: 14px
      padding: 8px 18px


