.main
  padding-top: 190px
  display flex
  flex-direction column
  align-items center
  &__title
    font-family: 'Kanit', sans-serif
    font-size: 64px
    font-weight: 500
    text-align center
    max-width 630px
    width: 100%
    span
      font-family: 'Kanit', sans-serif
      text-align: center

      background: linear-gradient(100deg, #9634B9, #53D3D1, #4A4EA8, #9634B9, #53D3D1, #9634B9)
      background-size: 200% auto


      color: #000
      text-fill-color: transparent
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
  &__subtitle
    max-width: 730px
    font-size: 20px
    margin: 20px auto 0
    line-height: 1.3
    display block
    text-align center

@media screen and (max-width: 1000px)
  .main
    padding-top: 150px
    &__title
      font-size: 50px
    &__subtitle
      font-size: 19px

@media screen and (max-width: 767px)
  .main
    &__title
      font-size: 34px
    &__subtitle
      font-size: 16px

@media screen and (max-width: 550px)
  .main
    &__title
      font-size: 29px
    &__subtitle
      font-size: 13px

