.modal-product-visa
  background #ffffff
  width: 100%
  &__main
    background #191919
    & > .modal-uae__container
      max-width 910px
      padding-right: 30px
      box-sizing content-box
    &-content
      display flex
      align-items center
      justify-content: space-between
      padding-top: 115px
    &-items
      margin-left: 60px
      margin-top: -150px
    &-title
      font-family: 'MuktaVaani', sans-serif
      font-weight: 700
      font-size: 40px
      color #ffffff
      margin-bottom: 16px
    &-text
      font-family: 'Roboto', sans-serif
      color #ffffff
  &__task
    display flex
    justify-content end
    margin-top: 60px
    &-content
      display flex
      font-family: 'Roboto', sans-serif
      color #191919
      max-width 546px
      h4
        margin-right: 80px
        font-size: 24px
        font-weight: 700
      p
        font-weight: 600
        line-height 1.5
  &__grid
    &-header
      color #191919
    &-content
      border 1px solid #5A5A5A
    &-column
      background rgba(#232323, 0.05)
  &__components
    display flex
    padding: 0 80px
    margin-top: 75px
    margin-bottom: 95px
    &-item
      margin-left: 64px
    &-title,
    &-font
      color #806262
  &__design
    margin-bottom: 416px
    display flex
    justify-content: end
    align-items center
    img
      max-width 620px
    &-item
      margin-right: 105px
      margin-left: 15px
      max-width 305px
      margin-top: -120px
      h4
        color #191919
        font-family: 'Roboto', sans-serif
        font-size: 24px
        line-height 1.7
        font-weight: 700
        margin-bottom: 32px
      ul
        color #191919
        li
          font-size: 20px
          line-height 1.4
          font-family: 'Roboto', sans-serif
          margin-bottom: 16px
          &:last-child
            margin-bottom: 0
  &__events
    position relative
    img
      position absolute
      top: -300px
      border 6px solid #111111
      border-radius 10px
  &__footer-block
    padding-top: 435px
    padding-bottom: 300px
    background #000000
  &__instrument
    width: 100%
    background #191919
    display flex
    flex-direction column
    justify-content: center
    align-items center
    padding: 80px 0
    h4
      margin-bottom: 40px
      font-size: 32px
      line-height 1.2
      font-family: 'MuktaVaani', sans-serif
      font-weight: 700
    &-item
      display flex
      img
        margin-left: 64px
        &:first-child
          margin-left: 0
  &__adaptive-design
    margin-top: 88px
    display flex
    flex-direction column
    align-items end
    h3
      font-family: 'MuktaVaani', sans-serif
      font-weight: 700
      color #ffffff
      line-height 1.2
      font-size: 32px
      max-width 350px

    &-item
      display flex
      align-items flex-start
      margin-top: 26px
      img
        margin-left: 32px
        &:first-child
          margin-left: 0
        &:nth-child(2n)
          margin-top: 100px

@media screen and (max-width: 1000px)
  .modal-product-visa
    &__main
      & > .modal-uae__container
        max-width 810px
        padding-right: 15px
        box-sizing border-box
      &-content
        img
          max-width 500px
          width: 100%
      &-items
        margin-left: 25px
    &__design
      img
        max-width 400px
      &-item
        margin-right: 80px
        h4
          font-size: 22px
          margin-bottom: 24px
        ul
          li
            font-size: 16px
            margin-bottom: 12px
    &__events
      img
        width: 100%
        left: 50%
        transform translateX(-50%)
    &__instrument
      padding: 50px 0
      h4
        font-size: 28px
        margin-bottom: 28px
      &-item
        img
          margin-left: 48px
          &:first-child
            width: 30px
          &:nth-child(2)
            width: 43px
          &:nth-child(3)
            width: 58px
          &:last-child
            width: 40px
    &__adaptive-design
      h3
        font-size: 28px
      &-item
        img
          width: 115px
    &__footer
      &-block
        padding-top: 335px
        padding-bottom: 200px

@media screen and (max-width: 767px)
  .modal-product-visa
    &__main
      & > .modal-uae__container
        max-width 610px
      &-content
        padding-top: 50px
        img
          max-width 344px
      &-items
        margin-top: -90px
      &-title
        font-size: 30px
        margin-bottom: 8px
      &-text
        font-size: 14px
    &__task
      &-content
        max-width 430px
        h4
          font-size: 21px
          margin-right: 32px
        p
          font-size: 14px
    &__design
      margin-bottom: 216px
      &-item
        margin-right: 32px
        margin-top: -30px
        h4
          font-size: 20px
          margin-bottom: 24px
        ul
          padding-left: 30px
          li
            font-size: 16px
            margin-bottom: 12px
      img
        max-width 300px
    &__events
      img
        top: -100px
    &__instrument
      padding: 38px 0
      h4
        font-size: 22px
        margin-bottom: 18px
      &-item
        img
          &:first-child
            width: 22px
          &:nth-child(2)
            width: 34px
          &:nth-child(3)
            width: 47px
          &:last-child
            width: 32px
    &__adaptive-design
      h3
        max-width 250px
        font-size: 22px
      &-item
        img
          width: 80px
          margin-left: 28px
          &:nth-child(2n)
            margin-top: 80px

@media screen and (max-width: 550px)
  .modal-product-visa
    &__main
      &-content
        flex-direction column-reverse
        img
          max-width 400px
      &-items
        margin-bottom: 32px
        margin-top: 0
        margin-left: 0
      &-title
        text-align center
        font-size: 32px
      &-text
        text-align center
        font-size: 16px
    &__task
      &-content
        flex-direction column
        h4
          margin-bottom: 8px
          margin-right: 0
          font-size: 18px
        p
          font-size: 13px
    &__components
      padding: 0 20px
      flex-direction column
      margin-top: 45px
      margin-bottom: 70px
      &-item
        &:last-child
          margin-left: 0
    &__design
      flex-direction column
      align-items end
      margin-bottom: 150px
      &-item
        margin: 0 24px 32px
        h4
          margin-bottom: 18px
        ul
          li
            margin-bottom: 4px
      img
        max-width 230px
    &__events
      img
        top: -80px
    &__footer
      &-block
        padding-top: 250px
        padding-bottom: 120px
    &__adaptive-design
      margin-top: 60px
      h3
        font-size: 20px
      &-item
        img
          width: 70px
          margin-left: 10px
          &:nth-child(2n)
            margin-top: 50px

@media screen and (max-width: 420px)
  .modal-product-visa
    &__adaptive-design
      &-item
        img
          width: 50px
    &__footer
      &-block
        padding-top: 190px
