.modal-sapegin-autoplates
  &__main
    background #1A1A1A
    display flex
    flex-direction column
    align-items center
    justify-content: center
    padding-top: 116px
    h2
      margin-bottom: -40px
      font-family: 'Arial', sans-serif
      font-weight: 700
      font-size: 32px
      max-width 320px
      text-align center
    img
      max-width 1261px
      width: 100%

@media screen and (max-width: 767px)
  .modal-sapegin-autoplates
    &__main
      h2
        margin-bottom: -28px
        font-size: 26px

@media screen and (max-width: 550px)
  .modal-sapegin-autoplates
    &__main
      padding-top: 55px
      h2
        width: 150px
        margin-bottom: -10px
        font-size: 18px

