.modal-questionnaire-visa
  background #ffffff
  &__main
    background url("/static/images/modal-questionnaire-visa_bg.jpg") no-repeat center
    background-size cover
    padding-top: 128px
    padding-bottom: 75px
    &-content
      display flex
      flex-direction column
      img
        max-width 850px
        width: 100%
    &-items
      color #231F20
      display flex
      justify-content: center
      margin-top: 48px
      span
        padding-left: 32px
        max-width 300px
        font-family: 'MuktaVaani', sans-serif
        line-height 1.3
    &-item
      max-width 275px
      border-right 1px solid #0A1A19
      padding-right: 30px
      padding-bottom: 16px
      h2
        font-family: 'MuktaVaani', sans-serif
        font-size: 20px
        font-weight: 700
        margin-bottom: 16px
      p
        font-family: 'MuktaVaani', sans-serif
        line-height 1.3
  &__task
    background #1A1A1A
    padding: 98px 0
    &-content
      display flex
      align-items center
      flex-direction column
      margin-left: 220px
    &-item
      display flex
      align-items center
      margin-bottom: 36px
      &:last-child
        margin-bottom: 0
      img
        min-width: 44px
      & > div
        margin-left: 34px
        & > h4
          font-size: 20px
          font-weight: 700
          font-family: 'MuktaVaani', sans-serif
          margin-bottom: 8px
        & > p
          font-family: 'MuktaVaani', sans-serif
          line-height 1.3
  &__form-select-page
    padding: 73px 96px 100px 24px
    width: 100%
    display flex
    justify-content end
    &-inner
      display flex
      align-items center
      max-width 960px
      justify-content space-between
      width: 100%
    h4
      font-family: 'MuktaVaani', sans-serif
      color #231F20
      font-size: 32px
      line-height 1.3
      font-weight: 700
      margin-right: 130px
      max-width 290px
  &__click-navigation
    padding: 0 96px 64px
    h4
      font-size: 20px
      font-weight: 700
      font-family: 'MuktaVaani', sans-serif
      margin-bottom: 32px
      color #231F20
      text-align center
    &-items
      display flex
      justify-content end
      .--secondary-color
        background linear-gradient(90deg, #F3FCFC, #EBFAFA)
    &-item
      background #f2f2f2
      display flex
      align-items center
      padding: 14px
      border-radius 5px
      max-width 296px
      width: 100%
      margin-left: 32px
      &:first-child
        margin-left: 0
      img
        margin-right: 10px
      span
        font-weight: 500
        font-family: 'MuktaVaani', sans-serif
        color #747474
  &__components
    background #1A1A1A
    display flex
    justify-content: center
    padding: 80px 15px
    &-inner
      display flex
      justify-content: space-between
      max-width 755px
      width: 100%
    &-colors
      max-width 296px
      display flex
      flex-wrap wrap
      margin-right: 50px
      span
        border 4px solid #ffffff
        width: 50px
        height: 50px
        border-radius 100%
        display block
        margin-left: 32px
        margin-bottom: 32px
        &:first-child
          margin-left: 0
        &:nth-child(5)
          margin-left: 0
          margin-bottom: 0
        &:nth-child(6)
          margin-bottom: 0
    &-text
      display flex
      flex-direction column
      max-width 310px
      h4
        font-size: 32px
        font-weight: 700
        line-height 1.3
        font-family: 'MuktaVaani', sans-serif
        margin-bottom: 24px
      p
        line-height 1.3
        font-family: 'MuktaVaani', sans-serif
  &__technical-solution
    width: 100%
    display flex
    justify-content: center
    padding-top: 80px
    padding-bottom: 185px
    &-inner
      display flex
      justify-content: space-between
      max-width 923px
      width: 100%
      margin-left: 13%
    &-text
      max-width 356px
      display flex
      flex-direction column
      h4
        color #1A1A1A
        font-size: 32px
        font-weight: 700
        font-family: 'MuktaVaani', sans-serif
        line-height 1.3
        margin-bottom: 24px
      p
        color #1A1A1A
        font-family: 'MuktaVaani', sans-serif
        line-height 1.3
    &-items
      display flex
    &-item
      display flex
      flex-direction column
      align-items center
      width: 127px
      p
        text-align center
        color #1A1A1A
        margin-top: 16px
        line-height 1.5
        font-weight: 700
      img
        width: 32px
  &__admin
    display flex
    flex-direction column
    justify-content: center
    align-items center
    padding-bottom: 80px
    h4
      color #B5AFA6
      font-size: 80px
      line-height 0.5
      margin-bottom: 35px
      font-weight: 700
      font-family: 'MuktaVaani', sans-serif
      text-align center
    img
      max-width 1025px
      width: 100%

@media screen and (max-width: 1000px)
  .modal-questionnaire-visa
    &__click-navigation
      margin: 0 15px
      padding: 0 0 64px
    &__form-select-page
      padding-right: 15px
      &-inner
        max-width 725px
        img
          max-width 400px
          width: 100%
        h4
          margin-right: 54px
          font-size: 30px
    &__technical-solution
      padding: 80px 15px 185px
      &-inner
        margin-left: 0
      &-text
        max-width 300px
        h4
          font-size: 30px
          margin-bottom: 16px
        p
          font-size: 14px
      &-items
        margin-left: 40px
      &-item
        width: 100px
        margin-left: 12px
        &:first-child
          margin-left: 0
        p
          font-size: 14px
    &__admin
      margin: 0 15px

@media screen and (max-width: 767px)
  .modal-questionnaire-visa
    &__task
      &-content
        align-items end
        margin-left: 0
      &-item
        max-width 400px
    &__form-select-page
      padding: 73px 15px 100px
      &-inner
        max-width 100%
        flex-direction column
        h4
          margin-right: 0
          margin-bottom: 32px
          text-align center
    &__click-navigation
      &-item
        max-width 240px
        margin-left: 10px
        padding: 9px
        img
          width: 20px
        span
          font-size: 14px
    &__components
      padding: 60px 15px
      justify-content: center
      &-inner
        justify-content: center
      &-colors
        max-width 180px
        margin-right: 40px
        span
          width: 35px
          height: 35px
          border 2px solid #ffffff
          margin-left: 12px
          margin-bottom: 12px
      &-text
        max-width 300px
        h4
          font-size: 30px
          margin-bottom: 12px
    &__technical-solution
      padding-bottom: 140px
      &-inner
        flex-direction column
        align-items center
      &-text
        h4
        p
          text-align center
      &-items
        margin-left: 0
        margin-top: 32px
    &__admin
      h4
        font-size: 60px

@media screen and (max-width: 550px)
  .modal-questionnaire-visa
    &__main
      &-items
        flex-direction column
        align-items center
        text-align center
        margin-top: 38px
        span
          padding-top: 16px
          padding-left: 0
      &-item
        padding-right: 0
        border-bottom: 1px solid #0a1a19
        border-right: none
    &__task
      padding: 80px 15px
      &-content
        align-items center
      &-item
        max-width 300px
        div
          margin-left: 24px
    &__form-select-page
      &-inner
        h4
          font-size: 22px
          line-height 1.1
    &__click-navigation
      &-items
        flex-direction column
        align-items center
      &-item
        margin-left: 0
        margin-top: 16px
        &:first-child
          margin-top: 0
    &__components
      &-inner
        flex-direction column-reverse
        align-items center
      &-colors
        margin-top: 16px
        max-width 100%
        width: 100%
        margin-right: 0
        justify-content center
        span
          &:nth-child(5)
            margin-left: 12px
      &-text
        text-align center
        h4
          font-size: 28px
        p
          font-size: 14px
    &__technical-solution
      &-item
        width: 90px
        p
          font-size: 13px
    &__admin
      h4
        font-size: 36px




