.modal-sapegin
  &__main
    background #84D069
    padding-top: 106px
    padding-bottom: 41px
    padding-left: 32px
    display flex
    justify-content end
    align-items center
    &-left-content
      display flex
      flex-direction column
      max-width: 320px
    &-title
      margin-top: 16px
      font-family: 'Arial', sans-serif
      font-size: 28px
      line-height 1.2
      font-weight: 700
    &-items
      margin-top: 48px
    &-item
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0
      span
        font-family: 'Arial', sans-serif
        font-weight: 700
        font-size: 20px
        margin-bottom: 8px
        display block
      p
        font-family: 'Arial', sans-serif
        line-height 1.3
    &-square
      margin-left: 30px
      position relative
      background #FEB249
      width: 24px
      height: 24px
      &:after
      &:before
        content ''
        background #FEB249
        width: 24px
        height: 24px
        position absolute
        top: 0
      &:after
        left: -30px
      &:before
        right: -30px
    &-right-content
      margin-left: 30px
      img
        max-width 923px
        width: 100%
        display flex
        flex-direction column
    &-hashtag
      display flex
      justify-content: center
      span
        font-family: 'Arial', serif
        font-style italic
        line-height 1.25
        margin-left: 32px
        &:first-child
          margin-left: 0
  &__task
    padding: 98px 15px
    &-content
      display flex
      justify-content: center
      margin-left: 50px
    &-text
      max-width 400px
      h3
        font-family: 'Arial', sans-serif
        font-weight: 700
        font-size: 32px
        line-height 1.3
        margin-bottom: 24px
      p
        font-family: 'Arial', sans-serif
        line-height 1.3
    &-items
      display flex
      margin-left: 90px
    &-item
      display flex
      flex-direction column
      justify-content center
      align-items center
      max-width 120px
      margin-left: 54px
      &:first-child
        margin-left: 0
      img
        max-width 48px
      h4
        font-family: 'Arial', sans-serif
        font-weight: 700
        line-height 1.3
        margin-top: 22px
        text-align center
  &__design
    &-inner
      max-width 1030px
    &-text
      margin-right: 80px
      max-width 340px
      h3
        font-family: 'Arial', sans-serif
        font-weight: 700
        font-size: 32px
        line-height 1.3
        margin-bottom: 32px
        color #1A1A1A
      p
        font-family: 'Arial', sans-serif
        line-height 1.3
        color #1A1A1A
  &__instrument
    padding-bottom: 445px

  &__management
    padding-top: 480px
    padding-bottom: 100px
    width: 100%
    margin: 0 auto
    position relative
    display flex
    flex-direction column
    align-items center
    justify-content center
    a
      display flex
      align-items center
      color #232323
      font-size: 20px
      line-height 1.6
      font-weight: 700
      margin-top: 67px
      img
        margin-right: 8px
    &-image
      position absolute
      left: 50%
      transform translateX(-50%)
      top: -300px
    &-items
      display flex
      flex-direction column
      align-items center
      justify-content: center
      h3
        color #BAD0C3
        font-family: 'Arial', sans-serif
        font-weight: 700
        font-size: 51px
        margin-bottom: 32px
        text-align center
      p
        font-family: 'Arial', sans-serif
        color #728078
        font-size: 20px
        line-height 1.6
        max-width 550px
        text-align center

@media screen and (max-width: 1000px)
  .modal-sapegin
    &__main
      &-items
        margin-top: 32px
      &-item
        margin-bottom: 24px
    &__task
      &-content
        margin-left: 0
      &-text
        h3
          margin-bottom: 16px
          font-size: 30px
      &-items
        margin-left: 32px
      &-item
        margin-left: 24px
    &__design
      &-inner
        justify-content center
        img
          max-width 340px
      &-text
        h3
          font-size: 29px
    &__management
      img
        max-width 820px
        width: 100%
        padding: 0 15px

@media screen and (max-width: 767px)
  .modal-sapegin
    &__main
      flex-direction column
      align-items end
      &-left-content
        align-items end
        padding-right: 32px
        max-width 420px
      &-right-content
        margin-left: 0
      &-item
        text-align end
      &-title
        text-align end
      &-square
        &:before
          right: 60px
    &__task
      &-content
        flex-direction column
        align-items center
      &-text
        text-align center
        margin-bottom: 32px
      &-items
        margin-left: 0
    &__design
      &-text
        text-align center
        margin-right: 0
        margin-bottom: 32px
        h3
          margin-bottom: 16px
    &__instrument
      padding-bottom: 200px
    &__management
      padding-top: 280px
      img
        position relative
        bottom: 0
        top: 0
        margin-top: -400px
        margin-bottom: 64px

@media screen and (max-width: 550px)
  .modal-sapegin
    &__main
      padding-left: 15px
      &-left-content
        padding-right: 15px
      &-title
        font-size: 22px
      &-hashtag
        flex-direction column
        align-items start
        span
          margin-left: 0
    &__task
      padding: 60px 15px
      &-text
        h3
          font-size: 26px
        p
          font-size: 14px
      &-items
        align-items baseline
      &-item
        margin-left: 12px
        img
          width: 35px
        h4
          font-size: 12px
    &__design
      &-text
        h3
          font-size: 22px
        p
          font-size: 14px
    &__management
      &-items
        h3
          font-size: 29px
          margin-bottom: 24px
        p
          font-size: 16px
          line-height 1.3

@media screen and (max-width: 550px)
  .modal-sapegin
    &__instrument
      padding-bottom: 150px
