.modal-tthomes
  background #232323
  &__main
    background linear-gradient(180deg, rgba(0, 102, 178, 1), rgba(0, 93, 163, 1))
    padding-top: 150px
    padding-bottom: 50px
    position relative
    &-items
      display flex
      align-items flex-start
      justify-content space-between
    &-content
      margin-top: 0
    &-image
      width: 62%
    &-bottom-container
      position absolute
      bottom: 0
      left: 0
      right: 0
      background linear-gradient(180deg, rgba(0, 87, 153, 1), rgba(0, 87, 153, 1))
      box-shadow 2px 0 10px 0 rgba(#1a1a1a, 0.3)
      height: 30%
      filter blur(2px)
    &-item
      width: 38%
      margin-top: 80px
      margin-right: 16px
      h2
        font-size: 48px
        line-height 1.16
        margin-top: 22px
        font-family 'MuktaVaani', sans-serif
  &__task
    padding: 80px 0
    display flex
    align-items center
    justify-content space-between
    &-items
      max-width 816px
      width: 100%
      //margin-left: 54px
      display flex
      align-items flex-start
      justify-content space-between
    &-item
      display flex
      flex-direction column
      margin-left: 16px
      max-width 258px
      span
        height: 56px
        display block
      p
        margin-top: 24px
        line-height 1.5
        color white
      &:first-child
        margin-left: 0
      &:last-child
        max-width 162px
  &__about-the-customer
    background white
    &-inner
      display flex
      justify-content space-between
      align-items center
    &-item
      display flex
      align-items center
      max-width 885px
      p
        max-width 413px
        color #232323
        line-height 1.5
        font-weight: 600
        margin-right: 50px
  &__search-and-contact
    padding: 80px 0
    &-text
      display flex
      align-items flex-start
      justify-content space-between
      margin-bottom: 57px
      div
        max-width 816px
        width: 100%
      p
        line-height 1.5
        font-weight: 600
        max-width 550px
    &-slider
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0
      img
        margin-left: 32px
  &__googlemaps
    padding: 80px 10px
    background white
    width: 100%
    &-mobile-image
      max-width 30%
      width: 100%
    &-items
      display flex
      align-items flex-start
      justify-content space-between
      max-width 987px
      width: 100%
      margin: 0 auto
      div
        max-width 69%
        margin-top: 65px
        display flex
        flex-direction column
        align-items center
        justify-content center
        img
          max-width 675px
          width: 100%
        h3
          font-size: 32px
          line-height 1.16
          font-weight: 700
          color #232323
          max-width 382px
          margin-bottom: 64px
  &__admin
    &-link
      img
        margin-bottom: 0 !important
        margin-top: 0 !important
        padding: 0 !important
  &__container
    max-width 1175px
    width: 100%
    margin: 0 auto
    padding: 0 20px
  &__h3-title
    font-size: 32px
    font-weight: 700
    line-height 1.2
    color white
    max-width 170px
    width: 100%

@media screen and (max-width: 1170px)
  .modal-tthomes
    &__main
      &-item
        h2
          font-size: 39px

@media screen and (max-width: 1000px)
  .modal-tthomes
    &__main
      &-item
        img
          width: 80px
        h2
          font-size: 33px
      &-bottom-container
        height: 26%
    &__task
      &-item
        max-width 33% !important
        p
          font-size: 14px
    &__about-the-customer
      &-inner
        height: 283px
        position relative
        justify-content flex-start
      &-item
        img
          position absolute
          right: 0
          filter blur(2px)
          top: 2px
        p
          z-index 1
          margin-top: 12px
          margin-right: 0
    &__h3-title
      font-size: 29px



@media screen and (max-width: 850px)
  .modal-tthomes
    &__main
      &-item
        width: 41%
        margin-top: 63px
        h2
          font-size: 32px
          margin-top: 14px
      &-image
        width: 59%
    &__search-and-contact
      &-slider
        img
          width: 300px

@media screen and (max-width: 767px)
  .modal-tthomes
    &__main
      padding-top: 100px
      &-items
        flex-direction column
        align-items center
        width: 100%
      &-item
        width: 65%
        display flex
        flex-direction column
        align-items center
        margin-top: 0
        margin-right: 0
        margin-bottom: 16px
        h2
          font-size: 30px
          text-align center
      &-image
        margin-left: -20px
        width: 100% !important
    &__task
      flex-direction column
      h3
        margin-bottom: 24px
      &-items
        margin-left: 0
      &-item
        max-width 32% !important
        margin-left: 12px
        span
          display flex
          justify-content center
        p
          text-align center
          font-size: 13px
    &__about-the-customer
      &-inner
        flex-direction column
        padding-top: 58px
        h3
          max-width 100% !important
          z-index 1
      &-item
        p
          max-width 510px
    &__search-and-contact
      &-text
        flex-direction column
        align-items center
        div
          display flex
          justify-content center
          margin-top: 16px
          p
            max-width 510px
      &-slider
        margin-bottom: 16px
        img
          width: 250px
          margin-left: 16px
    &__googlemaps
      &-items
        div
          h3
            font-size: 28px
            margin-left: 32px
    &__h3-title
      text-align center
      max-width 100%

@media screen and (max-width: 550px)
  .modal-tthomes
    &__main
      padding-top: 80px
      padding-bottom: 40px
      &-item
        max-width 342px
        width: 100%
        h2
          font-size: 24px
        img
          width: 70px
    &__about-the-customer
      &-item
        p
          text-align center
    &__search-and-contact
      &-text
        p
          text-align center
      &-slider
        img
          width: 200px
    &__googlemaps
      padding: 50px 10px
      &-items
        div
          margin-top: 48px
          h3
            max-width 290px
            margin-left: 28px
            margin-bottom: 32px
            font-size: 20px

@media screen and (max-width: 400px)
  .modal-tthomes
    &__task
      padding-top: 40px
      padding-bottom: 60px
      &-items
        flex-direction column
        align-items center
      &-item
        max-width 74% !important
        margin-left: 0
        margin-bottom: 24px
        p
          margin-top: 16px
        &:last-child
          margin-bottom: 0
    &__about-the-customer
      &-inner
        padding-top: 40px
      &-item
        img
          right: -28px
        p
          font-size: 14px
    &__search-and-contact
      padding-top: 40px
      padding-bottom: 60px
      &-text
        p
          font-size: 14px
      &-slider
        img
          width: 170px
    &__googlemaps
      &-items
        div
          margin-top: 42px
          h3
            font-size: 16px
            margin-bottom: 24px
            margin-left: 18px
