.modal-shop
  &__main
    padding-top: 200px
    padding-bottom: 186px
    background url("/static/images/modal-shop_bg.jpeg") no-repeat center
    background-size cover
    background-position-x 0
    &-content
      margin-top: 0
    &-items
      img
        margin-bottom: 113px
      h2, p
        color #231F20
    &-icons
      img
        background #ffffff
        box-shadow 0 2px 10px 0 rgba(#757557, 0.3)
  &__page
    &-images
      border 6px solid #ffffff
  &__slider-section
    background #D7603A
    padding-bottom: 106px
    &-title
      font-size: 64px
      font-weight: 700
      color white
      margin-bottom: 58px
    &-images
      margin-left: 50px
  &__admin
    padding-top: 135px
    padding-bottom: 230px
    img
      margin-left: -20px
    &-title
      position relative
      color #ffffff
      font-size: 64px
      font-weight: 700
      text-align center
      top: 0
      margin-bottom: 76px

@media screen and (max-width: 1000px)
  .modal-shop
    &__main
      padding: 170px 0
      &-items
        max-width 320px
        img
          width: 140px
          margin-bottom: 18px
      &-text
        margin-top: 12px
        margin-bottom: 28px
      &-icons
        img
          width: auto
          margin-bottom: 0
    &__slider-section
      & > .modal-uae__container
        display flex
        flex-direction column
        align-items center
      &-images
        width: 100%
        margin-left: 0
      &-title
        font-size: 50px
    &__admin
      img
        margin-left: 0
        width: 100%
        max-width 100%
      &-title
        left: auto
        font-size: 50px

@media screen and (max-width: 767px)
  .modal-shop
    &__main
      background-position-x 20%
      &-content
        justify-content: center
      &-items
        max-width 200px
        margin-left: 300px
        img
          width: 80px
        p
          margin-bottom: 32px
      &-icons
        img
          width: 30px
    &__slider-section
      padding-top: 330px

@media screen and (max-width: 550px)
  .modal-shop
    &__main
      padding: 75px 0
      &-items
        margin-left: 190px
        max-width 140px
        img
          width: 60px
          margin-bottom: 12px
        p
          margin-bottom: 18px
          font-size: 12px
      &-icons
        img
          width: 24px
          margin-left: 12px
    &__slider-section
      padding-top: 190px
      &-title
        font-size: 35px

    &__admin
      padding-top: 60px
      padding-bottom: 180px
      &-title
        width: 100%
        font-size: 35px
        margin-bottom: 50px

@media screen and (max-width: 400px)
  .modal-shop
    &__main
      padding: 50px 0
      &-title
        font-size: 15px
      &-items
        margin-left: 150px
      &-icons
        img
          margin-left: 11px
    &__slider-section
      padding-top: 150px
      &-title
        font-size: 30px

