.popup-advertisement
  position fixed
  top: 50%
  left: 50%
  max-width 730px
  width: 100%
  height: auto
  transform translate(-50%, -50%)
  z-index 100
  button
    position relative
    &:before
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50px;
      background:linear-gradient(45deg,rgba(#53D3D1, 1), rgba(#9334B8, 1), rgba(#31436F, 1), rgba(#53D3D1, 1), rgba(#9334B8, 1), rgba(#31436F, 1));
      -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
  &__left-content
    position relative
    .--circle-blue
    .--circle-green
    .--circle-purple
      width: 100px
      height: 150px
      position absolute
      z-index -1
      filter blur(35px)
      opacity 1
    .--circle-blue
      background radial-gradient(#4C6FB2, rgba(#4C6FB2, 1))
      top: -40px
      left: 50px
    .--circle-green
      background radial-gradient(#53d3d1, rgba(#53d3d1, 1))
      top: 18px
      left: 10px
    .--circle-purple
      background radial-gradient(#9334B8, rgba(#9334B8, 1))
      top: 18px
      left: 70px
  &__right-content
    max-width 432px
  &__inner
    display flex
    align-items center
    justify-content space-between
    padding: 64px 40px
  &__hashtag
    background #9334B8
    color white
    border-radius 50px
    margin-bottom: 16px
    padding: 8px 12px
    font-size: 14px
    display inline-block
  &__title
    font-family 'Kanit', sans-serif
    font-size: 40px
    font-weight: 500
    margin-bottom: 24px
    line-height 1.2
  &__text
    line-height 1.5
    margin-bottom: 34px
  &__start-btn
    background #ffffff
    display flex
    flex-direction column
    align-items center
    justify-content center
    font-weight: 700
    font-size: 16px
    padding: 16px 38px
    cursor pointer
    border-radius 100px
    border none
    &:before
      padding: 3px;
    span
      font-weight: 400
      color rgba(#232323, 0.8)
      margin-top: 10px
      font-size: 16px
  &__container-inputs
    max-width 309px
    width: 100%
    select
      color rgba(#ffffff, 0.35)
    span
      font-size: 12px
      margin-top: 12px
      line-height 1.2
      display block
  &__btn
    border none
    background white
    width: 100%
    display flex
    align-items center
    justify-content center
    border-radius 100px
    padding: 16px 0
    font-size: 16px
    cursor pointer
    &:before
      padding: 2px
  &__group-btn
    display flex
    align-items center
    justify-content space-between
  &__change-select
    color white !important
  &__invalid-inputs
    border-bottom 1px solid #ff0000
    & + .contact-form__label
      display none
  &__container-error
    color #ff0000
    margin-bottom: 12px
    opacity 0
  &__invalid-btn
    background #ffc9c9
    color red
    border 2px solid red
    height: 48px
    &:before
      display none
  &__success-message
    display flex
    align-items center
    justify-content space-between
    padding: 40px 52px
    span
      display block
      margin-right: 32px
      width: 20px
      height: 10px
      transform rotate(45deg)
      background: linear-gradient(100deg, #0A539A, #72288F, #1C7776)
      background-size: 150% auto
      box-shadow 0 8px 20px 0 rgba(#000000, 0.2)

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
    p
      margin-left: 32px
      line-height 1.5

@media screen and (max-width: 767px)
  .popup-advertisement
    max-height none !important
    &__inner
      flex-direction column
      align-items center
      padding: 36px 32px
    &__form-content
      display flex
      flex-direction column
      align-items center
    &__right-content
      margin-top: 24px
    &__left-content
      .--circle-purple
      .--circle-blue
      .--circle-green
        filter blur(23px)
        width: 95px
        height: 100px
      .--circle-blue
        top: -26px
        left: 43px
      .--circle-green
        top: 27px
        left: 6px
      .--circle-purple
        top: 35px
        left: 54px

      img
        width: 140px
    &__title
      margin-bottom: 18px
      font-size: 36px
    &__text
      margin-bottom: 28px
    &__start-btn
      padding: 13px 38px
      font-size: 14px
      span
        font-size: 14px
        margin-top: 8px

@media screen and (max-width: 550px)
  .popup-advertisement
    &__inner
      padding: 48px 28px
    &__left-content
      .--circle-purple
      .--circle-blue
      .--circle-green
        filter blur(23px) !important
        width: 95px !important
        height: 100px !important
      .--circle-blue
        top: -26px !important
        left: 43px !important
      .--circle-green
        top: 27px !important
        left: 6px !important
      .--circle-purple
        top: 35px !important
        left: 54px !important
    &__title
      font-size: 34px

@media screen and (max-width: 400px)
  .popup-advertisement
    &__title
      font-size: 29px
    &__text
      font-size: 14px
    &__start-btn
      font-size: 14px
      padding: 12px 36px
      span
        font-size: 14px
    &__success-message
      padding: 32px 22px

@media screen and (max-width: 360px)
  .popup-advertisement
    max-height 440px !important
    display block
