.product
  &__adaptive-container
    .container
      padding: 0
      max-width 1440px
  &__dots
    position absolute
    bottom: 0
    transform translateX(-50%)
    left: 50%
    display flex
    padding: 0
    .slick-active
      opacity 1
    li
      list-style-type none
      width: 10px
      height: 10px
      margin-left: 16px
      opacity 0.3
      &:first-child
        margin-left: 0
      button
        cursor pointer
        background #53D3D1
        border none
        font-size: 0
        border-radius 100%
        width: 100%
        height: 100%
  &__line
    width: 0
    height: 1px
    transition 0.4s
    margin-bottom: 20px
    background: linear-gradient(100deg, #0A539A, #72288F, #1C7776)
    background-size: 150% auto

    animation: shine 3s ease-in-out alternate infinite
    @keyframes shine {
      to {
        background-position: 100% center;
      }
    }
  &__items
    display flex
    align-items center
    margin-top: 118px
    justify-content: center
  &__item
    position relative
    color white
    max-width: 268px
    width: 100%
    height: 344px
    padding: 40px 24px 40px 24px
    margin: 20px 0 20px 24px
    transition 0.2s
    &:hover
      .product__line
        width: 100%
        height: 1px
        transition 0.4s
      .product__text
        h3
          top: -20px
          transition 0.4s
        span
          opacity 0
          transition 0.2s
        & > p
          top: 46px
          opacity 1
          transition 0.4s
    &:first-child
      margin-left: 0
  &__img
    height: 41px
  &__image-small
    height: 45px
  &__text
    margin-top: 70px
    margin-bottom: 68px
    position relative
    transition 0.2s
    h3
      position relative
      top: 0
      font-weight: 700
      margin-bottom: 8px
      font-size: 20px
      transition 0.4s
    span
      opacity 1
      transition 0.2s
      line-height 1.3
    & > p
      line-height 1.2
      position absolute
      top: 90px
      opacity 0
      transition 0.4s
      font-size: 14px
  &__price
    width: calc(100% - 50px)
    display flex
    align-items center
    justify-content: space-between
    position absolute
    bottom: 40px
    img
      border 1px solid white
      border-radius 100%
      padding: 8px
  &__slide-logo
    cursor auto
    margin-top: 120px
    img
      margin-left: 64px
    .slick-track
      display flex
      align-items center

@media screen and (max-width: 767px)
  .product
    &__dots
      bottom: -20px
    &__slide-logo
      img
        width: 70px
        margin-left: 42px
    &__image-small
      height: 33px
      width: auto !important
    &__items
      margin-top: 80px
    &__item
      max-width 240px
      height: 270px
      padding: 20px 16px
      margin-bottom: 10px
    &__img
      img
        height: 26px
    &__text
      margin-bottom: 0
      margin-top: 36px
      h3
        font-size: 16px
      span,
      p
        font-size: 13px
    &__price
      bottom: 25px
      font-size: 14px
      width: calc(100% - 34px)
      img
        width: 24px
        padding: 6px

@media screen and (max-width: 550px)
  .product
    &__items
      max-width 100%
      margin-left: 0


