.sidebar
  display block
  position fixed
  top: 0
  left: -9999999px
  background radial-gradient(rgba(#414B57, 0.6), rgba(#2D353D, 0.6))
  height: 100vh
  backdrop-filter blur(5px)
  border 1px solid rgba(#ffffff, 0.05)
  max-width 340px
  width: 100%
  transition 0.4s ease-in
  overflow scroll
  z-index: -1
  opacity 0
  &__btn
    margin-left: 240px
    margin-top: 48px
    margin-bottom: 120px
    display inline-block
    opacity 0
    transition margin-left 0.9s, opacity 2s !important
  &__show-btn
    opacity 1
    margin-left: 64px
  &__links
    margin-top: 172px
    display flex
    flex-direction column
  &__link
    margin-bottom: 32px
    padding-left: 320px
    opacity 0
    font-family: 'Kanit', sans-serif
    font-size: 32px
    text-transform uppercase
    color #ffffff
    &:nth-child(1)
      transition padding-left 0.2s, opacity 1s
    &:nth-child(2)
      transition padding-left 0.3s, opacity 1s
    &:nth-child(3)
      transition padding-left 0.4s, opacity 1s
    &:nth-child(4)
      transition padding-left 0.5s, opacity 1s
    &:last-child
      margin-bottom: 0
    &:after
      content ''
      display block
  &__show-link
    padding-left: 64px
    opacity 0.6
  &__animation
    z-index: 101
    width: 0
    height: 100vh
    position fixed
    left: 0
    top: 0
    background linear-gradient(45deg, rgba(#53D3D1, 0.8), rgba(#1D75A9, 0.8), rgba(#9334B8, 0.8))
    opacity 0.5
    transition 0.7s ease-in-out
    backdrop-filter blur(1000px)
  &__burger
    z-index 100
    display none
    padding: 11px 3px
    cursor: pointer
    position fixed
    top: 21px
    right: 30px
    span
      transition 2s
      display block
      background #9334B8
      width: 29px
      height: 2px
      position: relative
      &:after
      &:before
        transition 3.4s
        content ''
        display block
        position: absolute
        height: 2px
        width: 20px
        right: 0
      &:after
        background #0A539A
        top: 8px
      &:before
        background #53d3d1
        bottom: 8px
  &__burger-open
    span
      width: 20px
      &:after
      &:before
        width: 29px

@media screen and (max-width: 950px)
  .sidebar
    right: 0
    left: auto
    &__burger
      display block

@media screen and (max-width: 550px)
  .sidebar
    max-width 240px
    &__link
      font-size: 24px
      margin-bottom: 24px
    &__show-link
      padding-left: 48px
    &__show-btn
      margin-left: 48px !important
    &__btn
      transition margin-left 0.7s, opacity 2.7s !important
      margin-top: 28px
      padding: 10px 22px !important
      font-size: 15px !important
