.strategy-and-execution
  margin-top: 160px
  margin-bottom: 110px
  display flex
  align-items center
  justify-content: center
  flex-direction column
  &__blur-first,
  &__blur-second
    width: 40px
    height: 40px
    background linear-gradient(45deg, #9334B8, rgba(#9334B8, 0.8))
    filter blur(30px)
    position absolute
  &__blur-first
    left: 75px
    top: -30px
    height: 100px
    transform rotate(-45deg)
  &__blur-second
    left: 113px
    top: 40px

  &__btn
    color #ffffff
    display flex
    align-items center
    margin-top: 22px
    transition 0.2s
    img
      margin-left: 10px
      margin-top: 2px
      transition 0.2s
      position relative
      left: 0
    &:hover
      img
        left: 10px

  &__items
    display flex
    align-items baseline
    margin-top: 68px
    max-width 965px
    width: 100%
  &__item
    position relative
    max-width: 280px
    width: 100%
    display flex
    flex-direction column
    align-items center
    justify-content: center
    margin-left: 28px
    img
      z-index: 10
    &:first-child
      margin-left: 0
    &-title
      font-family 'Kanit', sans-serif
      font-size: 24px
      font-weight: 500
      margin-top: 24px
      margin-bottom: 16px
      text-align center
    &-text
      text-align center
      line-height: 1.4

@media screen and (max-width: 1000px)
  .strategy-and-execution
    &__items
      justify-content: center
    &__item
      margin-left: 40px
      img
        max-width 50px
      &-title
        font-size: 20px
        margin-top: 16px
        margin-bottom: 8px
      &-text
        font-size: 14px
    &__blur-first
      left: 74px
      top: -15px
    &__blur-second
      left: 106px
      top: 40px
    &__blur-first,
    &__blur-second
      width: 30px
      height: 30px

@media screen and (max-width: 767px)
  .strategy-and-execution
    &__items
      flex-wrap wrap
    &__item
      max-width 220px
      &:nth-child(3)
        margin-left: 0
      &:last-child
        margin-top: 40px
        margin-left: 40px

@media screen and (max-width: 550px)
  .strategy-and-execution
    margin-top: 80px
    margin-bottom: 70px
    &__item
      margin-left: 0 !important
      margin-bottom: 32px
      &:last-child
        margin-bottom: 0

@media screen and (max-width: 480px)
  .strategy-and-execution
    &__item
      margin-top: 0 !important
      margin-bottom: 60px
      &:last-child
        margin-bottom: 0

