<script>
  import Calendar from "$components/slots/Calendar.svelte";
</script>

<section>
  <svelte:component this={Calendar} >
    <h1>Slots</h1>
  </svelte:component>
</section>

<style lang="scss">

</style>