{% extends 'layouts/base.html' %}

{% block body %}
    <section class="data-protection">
        <h1>AGB</h1>
        <div class="data-protection__content">
            <div class=" data-protection__item">
                <h3 class="">
                    1. Betreiber, Anwendungsbereich
                </h3>
                <p class="">
                    <b>1.1.</b> Betreiber ist die Visum.IO UG (haftungsbeschränkt), Christian-Pleß-Straße 14, 63069
                    Offenbach
                    am Main (nachstehend „Visum.IO UG“ oder „wir“ bzw. „uns“). <br>
                    <b>1.2.</b> Gegenstand dieser AGB ist die Erbringung von Visums-bezogenen Dienstleistungen durch die
                    Visum.IO UG, insbesondere über die unter visum.io bereitgestellte Plattform zur automatisierten
                    Verarbeitung der Daten von Visums-Antragsstellern (nachstehend als „Plattform“ bezeichnet).

                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    2. Vertragsschluss, Speicherung der Vertragsbestimmungen und Vertragssprache
                </h3>
                <p class="">
                    <b>2.1.</b> Sofern der Vertragsschluss nicht im Wege individueller Kommunikation, also in
                    persönlicher
                    Anwesenheit, per E-Mail, Fax, Post, Telefon o.ä., sondern online auf unserer Website erfolgt, kommt
                    der Vertrag wie folgt zustande: <br>
                    <b>2.1.1.</b> Erst die Bestellung der Dienstleistung durch Sie ist ein bindendes Angebot zum
                    Abschluss
                    eines entsprechenden Vertrages. Um die Bestellung vorzunehmen, durchlaufen Sie den Bestellprozess
                    auf der Website und tragen die dort abgefragten Angaben ein. Vor Absendung der Bestellung haben Sie
                    die Möglichkeit, sämtliche Bestelldaten noch einmal zu überprüfen und ggf. zu korrigieren. Erst mit
                    der Absendung der Bestellung geben Sie an uns ein verbindliches Angebot zum Abschluss eines
                    Vertrages ab. <br>
                    <b>2.1.2.</b> Wir können Ihr Angebot innerhalb von fünf Tagen durch - Zusendung einer
                    Auftragsbestätigung
                    per Post, Fax oder E-Mail, oder - Aufforderung zur Zahlung annehmen; maßgeblich für die Einhaltung
                    der Frist ist jeweils der Zeitpunkt des Zugangs unserer Auftragsbestätigung oder
                    Zahlungsaufforderung bei Ihnen. <br>
                    <b>2.1.3.</b> Wir speichern die Vertragsbestimmungen, also die Bestelldaten / Registrierungsdaten
                    und die
                    vorliegenden AGB. Sie können die Vertragsbestimmungen Ihrerseits ausdrucken oder speichern, indem
                    Sie jeweils die übliche Funktionalität Ihres Browsers nutzen (dort meist „Drucken“ bzw. "Datei" >
                    "Speichern unter"). Die Bestelldaten/Registrierungsdaten sind in der Übersicht enthalten, die im
                    letzten Schritt der Bestellung/Registrierung angezeigt wird. <br>
                    <b>2.1.4.</b> Vertragssprache ist Deutsch.

                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    3. Nutzerkonto
                </h3>
                <p class="">
                    <b>3.1.</b> Bei der Registrierung des Nutzerkontos sind richtige und vollständige Angaben zu machen.
                    Daten
                    Dritter dürfen ohne deren Einwilligung nicht verwendet werden. <br>
                    <b>3.2.</b> Sie sind verpflichtet, Ihre Zugangsdaten wie bspw. Ihr Passwort vertraulich zu
                    behandeln,
                    Dritten nicht zugänglich zu machen, und uns im Falle des Verlusts oder einer unbefugten Nutzung
                    Ihrer Zugangsdaten unverzüglich zu unterrichten.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    4. Leistungen
                </h3>
                <p class="">
                    <b>4.1.</b> Beschreibung der wesentlichen Leistungen: Unsere wesentlichen Leistungen sind: <br>
                    <b>4.1.1.</b> Automatisierte Ausfüllung von Visumsanträgen, ggf. auch für E-Visen, in elektronischer
                    Form
                    (insbesondere automatisierte Ausfüllung auf Websites von Behörden der jeweiligen Zielländer zur
                    elektronischen Ausfüllung bereitgestellter Antragsformulare) unter Verwendung zuvor vom Nutzer auf
                    der Plattform eingegebener Daten und anschließende Übermittlung der vorausgefüllten Unterlagen in
                    Dateiform, bspw. PDF, an den Kunden, damit der Kunde diese Unterlagen ausdrucken, unterzeichnen und
                    bei den zuständigen Behörden einreichen kann. <br>
                    <b>4.1.2.</b> Bei entsprechender Beauftragung übernehmen wir auch die Einreichung des
                    unterschriebenen
                    Visumsantrages bei den Behörden und/oder die Abholung und Weiterleitung des ausgestellten Visums an
                    den Kunden. <br>
                    <b>4.2.</b> Nur Beantragung geschuldet, kein Erfolg: Leistungen der Visum.IO UG im Zusammenhang mit
                    der
                    Beantragung von Visen bestehen immer nur darin, Ihnen die Beantragung des Visums, insbesondere durch
                    Automatisierung, und ggf. die Einreichung und Abholung von Visen zu erleichtern. Nicht geschuldet
                    ist die tatsächliche Ausstellung des Visums. Auch auf die Bearbeitungsdauer hat die Visum.IO UG
                    keinen Einfluss.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    5. Bereitstellung von Daten durch den Nutzer
                </h3>
                <p class="">
                    <b>5.1.</b> Zur Beantragung eines Visums-Antrags auf der Plattform gespeicherte Daten des Nutzers
                    werden
                    dort für spätere Visumsanträge gespeichert, um die künftige Beantragung von Visen für den Nutzer zu
                    vereinfachen. Da sich die länderspezifischen Anforderungen an die Ausstellung von Visen von Zeit zu
                    Zeit ändern und für unterschiedliche Länder unterschiedliche Angaben erforderlich sind, werden Sie
                    von uns im Zusammenhang mit weiteren Visumsanträgen ggf. dazu aufgefordert, die jeweils
                    erforderlichen Daten zu ergänzen.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    6. Sonstige Mitwirkungspflichten und -obliegenheiten des Nutzers
                </h3>
                <p class="">
                    <b>6.1.</b> Sie sind dazu verpflichtet, alle erforderlichen Angaben wahrheitsgemäß und vollständig
                    zu
                    machen. <br>
                    <b>6.2.</b> Sollten es zu Änderungen Ihrer auf der Plattform eingepflegten oder in sonstiger Weise
                    an uns
                    mitgeteilten Daten kommen, sind Sie dazu verpflichtet, uns rechtzeitig zu informieren. <br>
                    <b>6.3.</b> Je nach Art der beauftragten Dienstleistungen, bspw. für die Abholung von Visen, kann es
                    erforderlich sein, uns bei den Behörden vorzulegende Dokumente (bspw. Personalausweis) und/oder
                    Kopien davon zu überlassen und/oder eine Vollmacht zu erteilen.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    7. Vergütung, Abrechnung
                </h3>
                <p class="">
                    <b>7.1.</b> Der Kunde zahlt für die von ihm gewählten Leistungen die Entgelte gemäß unserer bei
                    Vertragsschluss gültigen Preisliste oder sonstigen Preisaufstellung. <br>
                    <b>7.2.</b> Die Abrechnung erfolgt per E-Mail.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    8. Haftungsausschlüsse und -beschränkungen
                </h3>
                <p class="">
                    Für eine Haftung von uns auf Schadensersatz gilt: <br>
                    <b>8.1.</b> Bei Vorsatz und grober Fahrlässigkeit, auch unserer Erfüllungsgehilfen, haften wir nach den
                    gesetzlichen Bestimmungen. Das gleiche gilt bei fahrlässig verursachten Schäden aus der Verletzung
                    des Lebens, des Körpers oder der Gesundheit. <br>
                    <b>8.2.</b> Bei fahrlässig verursachten Sach- und Vermögensschäden haften wir nur bei der Verletzung einer
                    wesentlichen Vertragspflicht, jedoch der Höhe nach beschränkt auf die bei Vertragsschluss
                    vorhersehbaren und vertragstypischen Schäden; wesentliche Vertragspflichten sind solche, deren
                    Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren
                    Einhaltung der Vertragspartner regelmäßig vertrauen darf. <br>
                    <b>8.3.</b> Im Übrigen ist eine Haftung von uns, unabhängig von deren Rechtsgrund, ausgeschlossen. <br>
                    <b>8.4.</b> Die Haftungsausschlüsse und -beschränkungen der vorstehenden Absätze (1) bis (3) gelten
                    sinngemäß auch zugunsten unserer Erfüllungsgehilfen. <br>
                    <b>8.5.</b> Eine Haftung wegen Übernahme einer Garantie oder nach dem Produkthaftungsgesetz bleibt von den
                    Haftungsausschlüssen und -beschränkungen der vorstehenden Absätze (1) bis (4) unberührt.

                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    9. Anwendbares Recht, Gerichtsstand
                </h3>
                <p class="">
                    <b>9.1.</b> Es gilt deutsches Recht unter Ausschluss der Bestimmungen des UN-Kaufrechts. Gegenüber einem
                    Verbraucher gilt diese Rechtswahl nur insoweit, als dadurch keine zwingenden gesetzlichen
                    Bestimmungen des Staates, in dem er seinen Wohnsitz oder gewöhnlichen Aufenthalt hat, eingeschränkt
                    werden. <br>
                    <b>9.2.</b> Gerichtsstand im Verkehr mit Kaufleuten, juristischen Personen des öffentlichen Rechts oder
                    öffentlich-rechtlichen Sondervermögen ist der Sitz unseres Unternehmens. Wir sind jedoch nach
                    unserer Wahl berechtigt, am Sitz des Kunden zu klagen.

                </p>
            </div>
        </div>
    </section>
{% endblock %}