{% extends 'layouts/base.html' %}

{% block body %}
    <section class="data-protection">
        <h1>Impressum</h1>
        <section class=" imprint__content">
            <div class="imprint__items">
                <h5>Angaben gemäß § 5 TMG</h5>
                <div class="imprint__item">
                    <h5>Visum.IO (haftungsbeschränkt)</h5>
                    <span>
                        <a target="_blank"
                           href="https://www.google.com/maps/place/Heppstra%C3%9Fe+4,+85057+Ingolstadt,+%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F/@48.7698388,11.4112172,17z/data=!3m1!4b1!4m6!3m5!1s0x479efe4314482d51:0xe9982e931fc9404c!8m2!3d48.7698353!4d11.4137921!16s%2Fg%2F11c0pv5jj8">
                            Heppstr. 4 <br>
                          85057 Ingolstadt an der Donau <br> <br>
                        </a>
                    <a href="tel:+491737438900">+49 (0) 173 74 38 900</a> <br>
                    <a href="mailto:info@visum.io">info@visum.io</a></span>
                </div>
                <div class="imprint__item">
                    <h5>Vertretungsberechtigter Geschäftsführer</h5>
                    <span>Alexander Jakob</span>
                </div>
                <div class="imprint__item">
                    <h5>Handelsregister Nr.</h5>
                    <span style="max-width: 300px">HRB 11244 <br> Handelsregister B des Amtsgerichts Ingolstadt an der Donau </span>
                </div>
                <div class="imprint__item">
                    <h5>Umsatzsteuer- Identifikationsnummer</h5>
                    <span>DE321102104 <br>
                        gemäß §27 a Umsatzsteuergesetz</span>
                </div>
            </div>
        </section>
    </section>
{% endblock %}