{% extends 'layouts/base.html' %}

{% block body %}
  <div class="container">
    <main class="main">
      <div class="main__left">
        <h1>
          Revolutionizing the Way
          <span>You Apply for Visas</span>
        </h1>
        <div class="main__btn">
          <p>Simplify your visa application with our universal input form, eliminating country-specific forms.
            Enjoy
            automated data completion, intelligent guidance, and an exceptional user experience.</p>
          <a target="_blank" href="https://calendly.com/visumio/30min">
            <span class="square"></span>
            <span class="text">
                <span class="up">Schedule Free Demo</span>
                <span class="down">Experience VisaEase in Action</span>
            </span>
          </a>
        </div>
        <ul class="main_advantages">
          <li>Self-sufficient</li>
          <li>Intuitive</li>
          <li>Smart</li>
          <li>Integrable</li>
          <li>Sustainable</li>
        </ul>
      </div>
      <div class="main__right">
        <img
          srcset="{{ url_for('static', filename='images/main/mobile.svg') }}"
          src="{{ url_for('static', filename='images/main/mobile.png') }}"
          class="main__phone"
          alt="mobile"
        >
        <div class="small-circle-wrap rellax" data-rellax-percentage="0.3" data-rellax-speed="1.1">
          <span class="small-circle"></span>
        </div>
        <div class="big-circle rellax" data-rellax-percentage="0.3" data-rellax-speed="1.1"></div>
        <img class="triangle rellax"
             data-rellax-percentage="0.3"
             data-rellax-speed="10"
             data-rellax-xs-speed="5"
             src="{{ url_for('static', filename='images/main/triangle.svg') }}" alt="triangle">
        <div class="main__select-country">
          {% include 'components/icons/countrySelector.html' %}
        </div>
        <div class="main__visa-generation">
          {% include 'components/icons/visaGeneration.html' %}
        </div>
      </div>
    </main>
  </div>
  {% include 'components/section-video.html' %}
  <div class="container">
    {% include 'components/future-block.html' %}
    {% include 'components/visa-components.html' %}
    {% include 'components/questionnaire-info.html' %}
  </div>
  <section class="digital-process">
    <h2 class="digital-process__title">
      VisaEase <span>digitizes</span> processes and creates new <span>markets</span>
    </h2>
    <div class="digital-process__list">
      <div class="item">
        <img src="{{ url_for('static', filename='images/digital-process/digital-process_icon1.svg') }}" alt="">
        Self-sufficient
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='images/digital-process/digital-process_icon2.svg') }}" alt="">
        Intuitive
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='images/digital-process/digital-process_icon3.svg') }}" alt="">
        Smart
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='images/digital-process/digital-process_icon4.svg') }}" alt="">
        Integrable
      </div>
      <div class="item">
        <img src="{{ url_for('static', filename='images/digital-process/digital-process_icon5.svg') }}" alt="">
        Sustainable
      </div>
    </div>
  </section>
  {% include 'components/integrations.html' %}
  {% include 'components/contact.html' %}
  {% include 'components/modalVideo.html' %}
  <div class="social-network">
    <div class="social-network__list">
      <a target="_blank" href="https://www.facebook.com/groups/1122541668756668/"><img
        src="{{ url_for('static', filename='images/facebook.svg') }}" alt=""></a>
      <a target="_blank" href="https://www.instagram.com/visaease_global"><img
        src="{{ url_for('static', filename='images/instagram.svg') }}" alt=""></a>
      {#          <a target="_blank" href="https://www.youtube.com/@visaease_global"><img src="{{ url_for('static', filename='images/youtube.svg') }}" alt=""></a>#}
      <a target="_blank" href="https://t.me/+fkohc4if3FhkNWYy"><img
        src="{{ url_for('static', filename='images/telegram.svg') }}" alt=""></a>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='scripts/visaGenerationIcon.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/countrySelectorIcon.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/digital-process.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/rellax.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/scroll-event.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/paroller.js') }}"></script>
{% endblock %}