@font-face {
    font-family: 'Kanit';
    src: local('Kanit SemiBold'), local('Kanit-SemiBold'), url('Kanitsemibold.woff2') format('woff2'), url('Kanitsemibold.woff') format('woff'), url('Kanitsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit Medium'), local('Kanit-Medium'), url('Kanitmedium.woff2') format('woff2'), url('Kanitmedium.woff') format('woff'), url('Kanitmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit Thin'), local('Kanit-Thin'), url('Kanitthin.woff2') format('woff2'), url('Kanitthin.woff') format('woff'), url('Kanitthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit ExtraLight'), local('Kanit-ExtraLight'), url('Kanitextralight.woff2') format('woff2'), url('Kanitextralight.woff') format('woff'), url('Kanitextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit Light'), local('Kanit-Light'), url('Kanitlight.woff2') format('woff2'), url('Kanitlight.woff') format('woff'), url('Kanitlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit'), local('Kanit-Regular'), url('Kanit.woff2') format('woff2'), url('Kanit.woff') format('woff'), url('Kanit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit Black'), local('Kanit-Black'), url('Kanitblack.woff2') format('woff2'), url('Kanitblack.woff') format('woff'), url('Kanitblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit Bold'), local('Kanit-Bold'), url('Kanitbold.woff2') format('woff2'), url('Kanitbold.woff') format('woff'), url('Kanitbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: local('Kanit ExtraBold'), local('Kanit-ExtraBold'), url('Kanitextrabold.woff2') format('woff2'), url('Kanitextrabold.woff') format('woff'), url('Kanitextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
