<template>
  <svg version="1.1"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 512 512"
       style="enable-background:new 0 0 512 512;" xml:space="preserve"
       width="14"
  >
  <path d="M506.2,415.3L293,54.9C285.3,41.8,271.4,34,256,34c-15.4,0-29.3,7.8-37,20.9L5.8,415.3c-7.6,12.9-7.7,28.3-0.3,41.2
   C13.1,470,27.1,478,42.8,478h426.4c15.7,0,29.7-8,37.3-21.4C513.9,443.6,513.8,428.2,506.2,415.3z M482.2,442.7
   c-2.6,4.6-7.5,7.3-13,7.3H42.8c-5.5,0-10.4-2.7-13-7.3c-1.1-2-3.4-7.2,0.1-13.1L243.1,69.1c2.6-4.5,7.5-7.1,12.9-7.1
   c5.4,0,10.3,2.7,12.9,7.1l213.2,360.5C485.6,435.5,483.4,440.7,482.2,442.7z M270,173.6v128c0,7.7-6.3,14-14,14c-7.7,0-14-6.3-14-14
   v-128c0-7.7,6.3-14,14-14C263.7,159.6,270,165.8,270,173.6z M270,365.6v16c0,7.7-6.3,14-14,14c-7.7,0-14-6.3-14-14v-16
   c0-7.7,6.3-14,14-14C263.7,351.6,270,357.8,270,365.6z"/>
  </svg>
</template>

<style scoped lang="scss">

</style>
