<template>
  <div class="one_company-orders">
    <div class="one_company-orders__filter-row">
      <div>
        <input type="text"
               placeholder="Email/phone/company/person name..."
               v-model="searchInputText"
               style="margin-right: 8px">
        <button @click="getOrders">OK</button>
      </div>

      <div>
        Filter:
        <select v-model="filter">
          <option value="payment_received">Zahlung erhalten</option>
          <option value="all">Alle</option>
          <option value="waiting_for_payment">Warte auf Zahlung</option>
          <option value="waiting_for_issue">Warte auf Anmeldung</option>
          <option value="canceled">Storniert</option>
          <option value="in_processing">In Bearbeitung</option>
          <option value="issued">Angemeldet</option>
          <option value="sent">Versendet</option>
          <option value="request_sent">Ruckfragen</option>
        </select>
      </div>

      <div style="display: flex; align-items: center">
        <div>
          Limit:
          <select @change="setLimit($event.target.value)" :value="limit">
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>

        <div class="pagination">
          <div v-for="index in getPages()">
            <a class="content" v-if="currentPage !== index" href="#" @click="setPage(index)">{{ index }}</a>
            <a style="font-weight: bold; color: #f1932a;" class="content" v-else>{{ index }}</a>
          </div>
        </div>
      </div>
    </div>

    <loader v-if="loading" style="margin: auto"/>

    <table v-if="!loading" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th>BID</th>
        <th>Datum</th>
        <th>eVB-Nr.</th>
        <th>Halter</th>
        <th>Liefertermin</th>
        <th>Gesamtpreis</th>
        <th>Zahlungsweise</th>
        <th>Status</th>
        <th>Bearbeitung</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(order, orderKey) in orders"
          @click="onRowClick(order.id)"
          :key="`order${orderKey}Row`">
        <td>
          <b>
            {{ order.id }}
            <span v-if="order.reseller_id"> -- ({{ order.reseller_id }})</span>
          </b>
        </td>
        <td>{{ prettifyDate(order.date_of_create) }}</td>
        <td>{{ order.evb_number }}</td>
        <td>{{ order.person_name }} {{ order.person_surname }} {{ order.person_company_name }}</td>
        <td>{{ prettifyDate(order.start_date) }}</td>
        <td>{{ order.summary_price || 145.00 }} EUR</td>
        <td>
          <span v-if="order.payment_method">{{ PAYMENT_METHODS[order.payment_method] }}</span>
        </td>
        <td :style="`background-color: ${tdColor(order.status)}`">{{ ORDER_STATUSES[order.status] }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import auth_required from "@/mixins/auth_required";
import success_error_states from "@/mixins/success_error_states";
import loader from "@/components/loader";
import Datepicker from 'vue2-datepicker'

const ORDER_STATUSES = {
  WAITING_FOR_PAYMENT: 'Warte auf Zahlung',
  PAYMENT_RECEIVED: 'Zahlung erhalten',
  IN_PROCESSING: 'In Bearbeitung',
  ISSUED: 'Angemeldet',
  SENT: 'Versendet',
  REQUEST_SENT: 'Ruckfragen',
  WAITING_FOR_ISSUE: 'Warte auf Anmeldung',
  CANCELED: 'Storniert',
}

export default {
  name: "orders",
  mixins: [auth_required, success_error_states],
  data: () => ({
    loading: false,
    ORDER_STATUSES,
    orders: [],
    searchDateFrom: null,
    searchDateTo: null,
    count: 0,
    interval: null,
    PAYMENT_METHODS: {
      'sparkassen': 'Stripe',
      'paypal': 'PayPal',
      'sofort': 'Sofort',
    },
  }),
  computed: {
    pagesCount() {
      return Math.ceil(this.count / this.limit);
    },
    currentPage() {
      return (this.offset / this.limit) + 1;
    },
    filter: {
      get() {
        return this.$route.query.filter || 'payment_received'
      },
      set(filter) {
        this.$router.push({query: {...this.$route.query, filter: filter}})
      }
    },
    offset: {
      get() {
        return this.$route.query.offset || 0
      },
      set(offset) {
        this.$router.push({query: {...this.$route.query, offset: offset}})
      }
    },
    limit: {
      get() {
        return this.$route.query.limit || 50
      },
      set(limit) {
        this.$router.push({query: {...this.$route.query, limit: limit}})
      }
    },
    searchInputText: {
      get() {
        return this.$route.query.searchInputText || ''
      },
      set(searchInputText) {
        this.$router.push({
          query: {
            ...this.$route.query,
            searchInputText: searchInputText
          }
        })
      }
    }
  },
  watch: {
    filter: async function () {
      this.limit = 50;
      this.offset = 0;
      await this.getOrders()
    },
    offset: async function () {
      await this.getOrders()
    },
    limit: async function () {
      await this.getOrders()
    },
    searchInputText: async function () {
      await this.getOrders()
    }
  },
  methods: {
    async getOrders() {
      const ordersData = await this.$services.one_company.getOrderList(this.limit, this.offset, this.searchInputText, this.filter);
      this.count = ordersData.count;
      this.orders = ordersData.data;
    },
    getPages() {
      let first_page = this.currentPage - 5 > 1 ? this.currentPage - 5 : 1;
      let last_page = this.currentPage + 5 < this.pagesCount ? this.currentPage + 5 : this.pagesCount;
      const range = (start, stop, step = 1) =>
        Array(Math.ceil((stop + 1 - start) / step)).fill(start).map((x, y) => x + y * step)
      return range(first_page, last_page, 1)
    },
    async setPage(page) {
      this.offset = (page - 1) * this.limit;
      await this.getOrders();
    },
    async setLimit(limit) {
      this.limit = limit;
      await this.getOrders();
    },
    prettifyDate(date) {
      return (new Date(date)).toLocaleString();
    },
    tdColor(val) {
      if (val === 'WAITING_FOR_PAYMENT') return '#DFFFD8';
      if (val === 'PAYMENT_RECEIVED') return '#FFF';
      if (val === 'IN_PROCESSING') return '#F5EA5A';
      if (val === 'ISSUED') return '#BAD7E9';
      if (val === 'SENT') return '#00CE51';
      if (val === 'REQUEST_SENT') return '#3A98B9';
      if (val === 'WAITING_FOR_ISSUE') return '#FFB100';
      if (val === 'CANCELED') return '#F55050';
      else {
        return '##9A6735';
      }
    },
    onRowClick(id) {
      this.$router.push({
        name: 'one_company_order',
        params: {id}
      })
    },
  },
  async created() {
    await this.getOrders();
  },
  async destroyed() {
  },
  components: {
    loader, Datepicker
  },
}
</script>

<style lang="stylus" scoped>
.one_company-orders
  padding 0 10px

  &__filter-row
    background linear-gradient(top, #fff, #adf)
    background -moz-linear-gradient(top, #fff, #adf)
    background -webkit-gradient(linear, left top, left bottom, from(#fff), to(#adf))
    background -o-linear-gradient(top, #fff, #adf)
    background -ms-linear-gradient(top, #fff, #adf)
    background -webkit-linear-gradient(top, #fff, #adf)
    display flex
    margin-top 10px
    padding 4px 15px
    align-items center
    font-size 0.8em
    justify-content space-between

  table
    width 100%
    margin-top 10px
    font-size 12px

    thead
      background-color #FFFCAB

    th, td
      text-align left
      padding 5px

    tbody
      tr:hover
        background-color #FFFCAB
        cursor pointer

  .pagination
    display flex
    font-size 14px
    margin 0

    & > div
      margin-left 5px

</style>


<style lang="stylus">
.mx-input
  padding 8px !important
  height 24px !important

.mx-datepicker
  width 115px !important

a:active {
  background-color: yellow;
}
</style>
