<template>
  <div class="one_company-order">

    <div style="margin-top: 16px">
      <div class="success-box"
           v-if="successBox.show"
           v-html="successBox.text">
      </div>
      <div class="error-box"
           v-if="errorBox.show"
           v-html="errorBox.text">
      </div>

      <div class="error-box"
           v-if="leaved">
        You're leaved from this order because other user editing this order
      </div>

      <div class="one_company-order__actions-panel">
        <button v-if="!editing && !leaved && !can_bump" @click="enableEdit">
          Bearbeitungsmodus
        </button>

        <button @click="saveEdit" class="save-button" v-if="editing && !leaved && !can_bump">
          Speichern
        </button>

        <button @click="cancelEdit" v-if="editing && !leaved && !can_bump">
          Ansichtsmodus
        </button>

        <button @click="goToList">Bestellübersicht</button>
      </div>
    </div>

    <div class="one_company-order__row">
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Bestellnummer:</div>
          <div class="one_company-order__field-value"><b>{{ order.id }}</b></div>
        </div>

        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Reseller:</div>
          <div class="one_company-order__field-value">
            <b v-if="order.reseller_id">
              {{ order.reseller_name }}
              ({{ order.reseller_id }})
            </b>
            <b v-else>NONE</b>
          </div>
        </div>

        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Site:</div>
          <div class="one_company-order__field-value">
            <b>KURZZEITKENNZEICHEN-VERSAND</b>
          </div>
        </div>

        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Datum:</div>
          <div class="one_company-order__field-value">{{ prettifyDate(order.date_of_create) }}</div>
        </div>

        <div class="one_company-order__field">
          <div class="one_company-order__field-label">E-Mail-Adresse:</div>
          <div class="one_company-order__field-value">
            <a v-if="!editing" :href="'mailto:' + order.contact_email">
              {{ order.contact_email }}
            </a>
            <input type="text" v-if="editing" v-model="editData.contact_email">
          </div>
        </div>

        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Telefon:</div>
          <div class="one_company-order__field-value">
            <template v-if="!editing">
              {{ order.contact_phone }}
            </template>
            <input type="text" v-if="editing" v-model="editData.contact_phone">
          </div>
        </div>
      </div>
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Evb:</div>
          <div class="one_company-order__field-value">
            <input type="text" v-if="editing" v-model="editData.evb_number">
            <span v-else>{{ editData.evb_number }}</span>
          </div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Evb Okay:</div>
          <div class="one_company-order__field-value">
            <input type="checkbox" :checked="order.evb_ok" @change="setOrderEvbOk">
          </div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Versicherungsgesellschaft:</div>
          <div class="one_company-order__field-value">
            <input type="text" v-if="editing" v-model="editData.evb_company">
            <span v-else>{{ editData.evb_company }}</span>
          </div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Kennzeichen:</div>
          <div class="one_company-order__field-value">
            <div style="display: flex" v-if="order.status === 'SENT' && order.kennzeichen === ''">
              <input type="text" v-model="editData.kennzeichen">
              <button @click="setTransportIndicator">OK</button>
            </div>
            <span v-else>{{ editData.kennzeichen }}</span>
          </div>
        </div>
        <hr>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Gültig von:</div>
          <datepicker v-if="editing" v-model="formattedStartDate" value-type="format" format="DD.MM.YYYY"></datepicker>
          <div v-else class="one_company-order__field-value">{{ order.start_date }}</div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Gültig biz:</div>
          <datepicker v-if="editing" v-model="formattedEndDate" value-type="format" format="DD.MM.YYYY"></datepicker>
          <div v-else class="one_company-order__field-value">{{ order.end_date }}</div>
        </div>
      </div>
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Aktueller Status:</div>
          <div class="one_company-order__field-value">{{ ORDER_STATUSES[order.status] }}</div>
        </div>
        <div class="one_company-order__field" v-if="order.payment_method">
          <div class="one_company-order__field-label">Zahlungsmethode:</div>
          <div class="one_company-order__field-value">{{ PAYMENT_METHODS[order.payment_method] }}</div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Preis:</div>
          <div class="one_company-order__field-value">{{ order.summary_price }} EUR</div>
        </div>
        <div class="one_company-order__field" v-if="order.payment !== null">
          <div class="one_company-order__field-label">Rechnung PDF:</div>
          <div class="one_company-order__field-value">
            <a target="_blank" :href="invoicePDFUrl">one_company-{{ invoicePdfYear }}-{{ paymentId }}</a>
          </div>
        </div>
        <div class="one_company-order__field" v-if="correctInvoicePDF !== null">
          <div class="one_company-order__field-label">Korrektur PDF:</div>
          <div class="one_company-order__field-value">
            <a target="_blank" :href="correctedInvoicePDFUrl">one_company-GUT-{{
                correctInvoicePdfYear
              }}-{{ correctInvoicePDF.id }}</a>
          </div>
        </div>
        <div class="one_company-order__field">
          <div class="one_company-order__field-label">Status:</div>
          <div class="one_company-order__field-value">
            <select @change="setStatus($event.target.value)" :value="order.status">
              <option value="WAITING_FOR_PAYMENT">Warte auf Zahlung</option>
              <option value="PAYMENT_RECEIVED">Zahlung erhalten</option>
              <option value="IN_PROCESSING">In Bearbeitung</option>
              <option value="ISSUED">Angemeldet</option>
              <option value="SENT">Versendet</option>
              <option value="REQUEST_SENT">Ruckfragen</option>
              <option value="WAITING_FOR_ISSUE">Warte auf Anmeldung</option>
              <option value="CANCELED">Storniert</option>
            </select>
          </div>
        </div>
        <div>
          <div class="one_company-order__field">
            <div class="one_company-order__field-label">Sendungs-Nummer:</div>
            <div class="one_company-order__field-value">
              <input v-if="order.status === 'ISSUED'" v-model="parcelNumber" type="text">
              <span v-else>{{ order.package_number }}</span>
            </div>
          </div>
          <div class="one_company-order__field">
            <div class="one_company-order__field-label">Transportunternehmen:</div>
            <div style="max-width: 50%" class="one_company-order__field-value">
              <div v-if="order.status === 'ISSUED'" class="one_company-order__radio-inputs">
                <label for="tnt">TNT</label>
                <input id="tnt" name="transport_сompany" v-model="transportCompany" value="TNT" type="radio">
                <label for="dhl">DHL</label>
                <input id="dhl" name="transport_сompany" v-model="transportCompany" value="DHL" type="radio">
                <label for="andere">Andere</label>
                <input id="andere" name="transport_сompany" v-model="transportCompany" value="Andere" type="radio">
              </div>
              <a target="_blank" :href="order.package_service" v-else>
                {{ order.package_service }}</a>
            </div>
          </div>
          <div v-if="transportCompany === 'Andere'" class="one_company-order__field">
            <div class="one_company-order__field-label">Link:</div>
            <div class="one_company-order__field-value">
              <input v-model="linkAndere" type="text">
            </div>
          </div>
          <div v-if="order.status === 'ISSUED'" class="one_company-order__field">
            <button @click="setTransportCompany">OK</button>
          </div>
          <button @click="priceData = true" style="margin: 8px 0;">Rechnungskorrektur erstellen</button>
          <div v-if="priceData">
            <div class="one_company-order__field">
              <div class="one_company-order__field-label">Kurzzeitkennzeichen</div>
              <div class="one_company-order__field-value">
                <input onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" v-model="correctNetto" type="text">
              </div>
            </div>
            <div class="one_company-order__field">
              <div class="one_company-order__field-label">Versicherung</div>
              <div class="one_company-order__field-value">
                <input onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" type="text" v-model="correctInsurance">
              </div>
            </div>
            <div class="one_company-order__field">
              <div class="one_company-order__field-label">Amtsgebühr</div>
              <div class="one_company-order__field-value">
                <input onkeyup="this.value = this.value.replace(/[^\d.]/g,'');" type="text" v-model="correctFee">
              </div>
            </div>
            <button @click.prevent="updatePriceData">Speichern</button>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="one_company-order__row">
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label"><b>Halter:</b></div>
          <div class="one_company-order__field-value"></div>
        </div>
      </div>
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label"><b>Lieferadresse:</b></div>
          <div class="one_company-order__field-value"></div>
        </div>
      </div>
      <div class="one_company-order__col">
        <div class="one_company-order__field">
          <div class="one_company-order__field-label"><b>Rechnungsadresse:</b></div>
          <div class="one_company-order__field-value"></div>
        </div>
      </div>
    </div>

    <hr>

    <div class="one_company-order__row">
      <div class="one_company-order__col">
                <pre style="white-space: pre-line" v-if="editing">
                    <input type="text" v-model="editData.person_surname"/> <input type="text"
                                                                                  v-model="editData.person_name"/> <input
                  type="text" v-model="editData.person_company_name"/>
                    <input type="text" v-model="editData.person_street"/> <input type="text"
                                                                                 v-model="editData.person_house"/>
                    <input type="text" v-model="editData.person_postcode"/> <input type="text"
                                                                                   v-model="editData.person_state"/>
                    <input type="text" v-model="editData.person_country"/> <input type="text"
                                                                                  v-model="editData.person_additional_info"/>
                </pre>
        <pre style="white-space: pre-line" v-else>
                    {{ order.person_surname }} {{ order.person_name }} {{ order.person_company_name }}
                    {{ order.person_street }} {{ order.person_house }}
                    {{ order.person_postcode }} {{ order.person_state }}
                    {{ order.person_country }}
                    {{ order.person_additional_info }}
                </pre>
        <div class="one_company-order__middle-field-label"><b>VIN Nummer: </b>
          {{ order.vin_number }}
        </div>
        <br>
        <div>
          <div>
            <input type="checkbox" @change="setDocsOk" :checked="order.docs_ok">
            Brief
          </div>
          <div>
            <input type="checkbox" @change="setAusweis" :checked="order.ausweis">
            Schein
          </div>
          <div>
            <input type="checkbox" @change="setVollmacht" :checked="order.vollmacht">
            HU
          </div>
          <div>
            <input type="checkbox" @change="setTuv" :checked="order.tuv">
            Ausweis
          </div>
          <div>
            <input type="checkbox" @change="setAbgemeldet" :checked="order.abgemeldet">
            Abgemeldet
          </div>
        </div>
      </div>
      <div class="one_company-order__col">
                <pre style="white-space: pre-line" v-if="editing">
                    <input type="text" v-model="editData.delivery_surname"/> <input type="text"
                                                                                    v-model="editData.delivery_name"/> <input
                  type="text" v-model="editData.delivery_company_name"/>
                    <input type="text" v-model="editData.delivery_street"/> <input type="text"
                                                                                   v-model="editData.delivery_house"/>
                    <input type="text" v-model="editData.delivery_postcode"/> <input type="text"
                                                                                     v-model="editData.delivery_state"/>
                    <input type="text" v-model="editData.delivery_country"/> <input type="text"
                                                                                    v-model="editData.delivery_additional_info"/>
                </pre>
        <pre style="white-space: pre-line" v-else>
                    {{ order.delivery_surname }} {{ order.delivery_name }} {{ order.delivery_company_name }}
                    {{ order.delivery_street }} {{ order.delivery_house }}
                    {{ order.delivery_postcode }} {{ order.delivery_state }}
                    {{ order.delivery_country }}
                    {{ order.delivery_additional_info }}
                </pre>
        <div class="one_company-order__middle-field-label"><b>Bemerkung:</b></div>
        <pre style="white-space: pre-line" v-if="editing">
                  <textarea style="width: 100%" rows="4" v-model="editData.additional_info"></textarea>
                </pre>
        <pre style="white-space: pre-line" v-else>
                    {{ order.additional_info }}
                </pre>
      </div>
      <div class="one_company-order__col">
                <pre style="white-space: pre-line" v-if="editing">
                    <input type="text" v-model="editData.payment_surname"/> <input type="text"
                                                                                   v-model="editData.payment_name"/> <input
                  type="text" v-model="editData.payment_company_name"/>
                    <input type="text" v-model="editData.payment_street"/> <input type="text"
                                                                                  v-model="editData.payment_house"/>
                    <input type="text" v-model="editData.payment_postcode"/> <input type="text"
                                                                                    v-model="editData.payment_state"/>
                    <input type="text" v-model="editData.payment_country"/> <input type="text"
                                                                                   v-model="editData.payment_additional_info"/>
                </pre>
        <pre style="white-space: pre-line" v-else>
                    {{ order.payment_surname }} {{ order.payment_name }} {{ order.payment_company_name }}
                    {{ order.payment_street }} {{ order.payment_house }}
                    {{ order.payment_postcode }} {{ order.payment_state }}
                    {{ order.payment_country }}
                    {{ order.payment_additional_info }}
                </pre>
        <div v-if="order.tax_number !== null">
          <div class="one_company-order__field">
            <b class="one_company-order__label">UST.-ID:</b>
          </div>
          <div class="one_company-order__tax-number">{{ order.tax_number }}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="one_company-order__row">
      <div class="one_company-order__col">
        <textarea style="width: 100%; display: block" rows="3" v-model="noteData.text"></textarea>
        <button @click="writeANote">Notiz speichern</button>

        <div class="one_company-order__notes">
          <div class="one_company-order__note"
               v-for="note in order.notes"
               :key="note.datetime_of_create + 'note'">
            <div class="one_company-order__note-title">
              {{ note.datetime_of_create }}
              <span style="float: right">{{ note.actor_name }}</span>
            </div>

            <div class="one_company-order__note-text" v-html="note.text"></div>
          </div>
        </div>
      </div>

      <div class="one_company-order__col">

        <div class="one_company-order__middle-field">
          <div class="one_company-order__middle-field-label">Template:</div>
          <div class="one_company-order__middle-field-value">
            <select style="width: 192px" @change="selectTemplate">
              <option value="" selected disabled></option>
              <option v-for="template in templates"
                      :key="template + 'option'"
                      :value="template">
                {{ template }}
              </option>
            </select>
          </div>
        </div>

        <div class="one_company-order__middle-field">
          <div class="one_company-order__middle-field-label">E-Mail an:</div>
          <div class="one_company-order__middle-field-value">
            <input style="width: 192px" type="text" v-model="emailData.email"/>
          </div>
        </div>

        <div class="one_company-order__middle-field">
          <div class="one_company-order__middle-field-label">Betreff:</div>
          <div class="one_company-order__middle-field-value">
            Bestellung Nr. K-{{ order.id }}
          </div>
        </div>

        <p class="little-grey-text">Sehr geehrter Kunde,</p>
        <textarea style="width: 100%" rows="7" v-model="emailData.text"></textarea>
        <p class="little-grey-text">
          Mit freundlichen Grüßen <br>
          Das Team von kurzzeitkennzeichen-versand.de
        </p>
        <button style="color: #777" v-show="!emailData.active" @click="emailData.active = true;">
          Senden aktivieren
        </button>
        <button v-show="emailData.active">
          E-Mail senden
        </button>
      </div>
    </div>
  </div>

</template>

<script>
import auth_required from "@/mixins/auth_required";
import success_error_states from "@/mixins/success_error_states";
import {handle} from "@/decorators";
import moment from "moment";
import Datepicker from 'vue2-datepicker'
import pdfjsLib from 'pdfjs-dist/webpack'


const ORDER_STATUSES = {
  WAITING_FOR_PAYMENT: 'Warte auf Zahlung',
  PAYMENT_RECEIVED: 'Zahlung erhalten',
  IN_PROCESSING: 'In Bearbeitung',
  ISSUED: 'Angemeldet',
  SENT: 'Versendet',
  REQUEST_SENT: 'Ruckfragen',
  WAITING_FOR_ISSUE: 'Warte auf Anmeldung',
  CANCELED: 'Storniert',
}

const Centrifuge = require("centrifuge");

const defaultEmailSubject = 'Bestellung Nr. A-{id}';

const toBase64 = file => new Promise((resolve, reject) => {
  const reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => resolve(reader.result);
  reader.onerror = error => reject(error);
});


export default {
  name: "one_company-order",
  mixins: [auth_required, success_error_states],
  components: {Datepicker},
  data: () => ({
    correctFee: 13.1,
    correctInsurance: 49.0,
    correctNetto: 0,
    invoicePdfYear: null,
    correctInvoicePdfYear: null,
    priceData: false,
    correctInvoicePDF: null,
    order: null,
    ORDER_STATUSES,
    transportCompany: '',
    linkAndere: '',
    parcelNumber: '',
    evbStatus: '',
    PAYMENT_METHODS: {
      'sparkassen': 'Stripe',
      'paypal': 'PayPal',
      'sofort': 'Sofort',
    },
    templates: [],
    creditNoteProducts: [],
    notes: [
      'Kunde konnte telefonisch nicht erreicht werden.',
    ],
    trackingLink: '',
    deliveryMethod: 'DHL',
    emailData: {
      email: '',
      subject: '',
      text: '',
      active: false,
    },
    noteData: {
      text: '',
    },
    leaved: false,
    can_bump: false,
    editing: false,
    editData: {
      contact_email: '',
      contact_phone: '',

      evb_number: '',
      evb_company: '',
      kennzeichen: '',
    },
    creditNoteData: {
      cancelOrder: true,
      productsAmount: 0,
      deliveryAmount: 0,
      note: '',
    },
    customEvb: {
      evbNumber: '',
      greenCardNumber: '',
      pdf: null,
    },
    sendNotificationContacts: {
      sms: '',
      dkEmail: '',
      paymentEmail: '',
    },
  }),
  computed: {
    paymentId() {
      if (this.order.payment === null) {
        return 0;
      } else {
        return this.order.payment.id
      }
    },
    invoicePDFUrl() {
      return `/admin_rpc/call_method/?service_name=one_company&method_name=get_order_invoice&order_id=${this.order.id}`;
    },
    correctedInvoicePDFUrl() {
      return `/admin_rpc/call_method/?service_name=one_company&method_name=get_corrected_order_invoice&order_id=${this.order.id}`;
    },
    formattedStartDate: {
      get() {
        if (!moment(this.editData.start_date, 'DD.MM.YYYY').isValid()) {
          return moment(this.editData.start_date).format('DD.MM.YYYY');
        } else {
          return this.editData.start_date
        }
      },
      set(value) {
        if (value) {
          this.order.start_date = moment(value, 'DD.MM.YYYY').format('ddd, DD MMM YYYY HH:mm:ss [GMT]');
          this.editData.start_date = value;
        }
      },
    },
    formattedEndDate: {
      get() {
        if (!moment(this.editData.end_date, 'DD.MM.YYYY').isValid()) {
          return moment(this.editData.end_date).format('DD.MM.YYYY');
        } else {
          return this.editData.end_date
        }
      },
      set(value) {
        if (value) {
          this.order.end_date = moment(value, 'DD.MM.YYYY').format('ddd, DD MMM YYYY HH:mm:ss [GMT]');
          this.editData.end_date = value;
        }
      },
    }
  },
  methods: {
    async updatePriceData() {
      await this.$services.one_company.correctPrice(this.order.id, Number(this.correctNetto), Number(this.correctInsurance), Number(this.correctFee), this.$store.state.userData.username)
      this.priceData = false
      this.correctInvoicePDF = await this.$services.one_company.getAdjustmentByOrderId(this.order.id)
    },
    goToList() {
      this.$router.push({name: 'one_company_orders'});
    },

    prettifyDate(date) {
      return (new Date(date)).toLocaleString();
    },

    enableEdit() {
      this.editing = true;
    },

    @handle("Order data successfully changed")
    async saveEdit() {
      const dataForSend = {};
      this.editData.start_date = this.order.start_date
      this.editData.end_date = this.order.end_date
      for (const field in this.editData) {
        if (this.order[field] !== this.editData[field]) {
          dataForSend[field] = this.editData[field];
        }
      }
      const note = await this.$services.one_company.updateOrder(this.order.id, dataForSend);
      for (const field in this.editData) {
        this.order[field] = this.editData[field];
      }
      this.order.notes = [note, ...this.order.notes];
      this.editing = false;
    },

    @handle("Order status successfully updated")
    async setStatus(status) {
      this.$services.one_company.setOrderStatus(this.order.id, status);
      this.order.status = status;
    },

    async setTransportIndicator() {
      await this.$services.one_company.saveKennzeichen(this.order.id, this.editData.kennzeichen)
      const orderId = Number(this.$route.params.id);
      this.order = await this.$services.one_company.getOrderById(orderId);
    },

    async setTransportCompany() {
      if (this.transportCompany === 'Andere') {
        this.transportCompany = this.linkAndere
      }
      await this.$services.one_company.savePackage(this.order.id, this.parcelNumber, this.transportCompany)
      const orderId = Number(this.$route.params.id);
      this.order = await this.$services.one_company.getOrderById(orderId);
    },

    cancelEdit() {
      this.editing = false;
    },

    @handle("Note created")
    async writeANote() {
      const note = await this.$services.one_company.writeANote(this.order.id, this.noteData.text);
      console.log('NOTE', note);
      this.order.notes.push(note);
      this.noteData.text = '';
    },

    @handle("Order 'Evb Okay' parameter updated successfully")
    async setOrderEvbOk(event) {
      await this.$services.one_company.setOrderEvbOk(this.order.id, event.target.checked);
    },

    async selectTemplate(event) {
      const templateName = event.target.value;
      this.emailData.text = await this.$services.three_company.getEmailTemplate(templateName);
      this.emailData.subject = defaultEmailSubject.format(this.order);
    },

    @handle("Email sent")
    async sendEmail() {
      await this.$services.one_company.sendEmail(
        this.order.id, this.emailData.email, this.emailData.subject,
        this.emailData.text);

      this.clearEmailFields();
    },

    @handle("setDocsOk successfully")
    async setDocsOk(event) {
      await this.$services.one_company.setDocsOk(this.order.id, event.target.checked);
    },

    @handle("setAusweis successfully")
    async setAusweis(event) {
      await this.$services.one_company.setAusweis(this.order.id, event.target.checked);
    },

    @handle("setVollmacht successfully")
    async setVollmacht(event) {
      await this.$services.one_company.setVollmacht(this.order.id, event.target.checked);
    },

    @handle("setTuv successfully")
    async setTuv(event) {
      await this.$services.one_company.setTuv(this.order.id, event.target.checked);
    },
    @handle("setAbgemeldet successfully")
    async setAbgemeldet(event) {
      await this.$services.one_company.setAbgemeldet(this.order.id, event.target.checked);
    },
  },
  async mounted() {
    const orderId = Number(this.$route.params.id);
    this.order = await this.$services.one_company.getOrderById(orderId);
    console.log(this.order)
    this.editData = {
      contact_email: this.order.contact_email,
      contact_phone: this.order.contact_phone,

      evb_number: this.order.evb_number,
      evb_company: this.order.evb_company,
      kennzeichen: this.order.kennzeichen,
      additional_info: this.order.additional_info,

      person_surname: this.order.person_surname,
      person_name: this.order.person_name,
      person_company_name: this.order.person_company_name,
      person_street: this.order.person_street,
      person_house: this.order.person_house,
      person_postcode: this.order.person_postcode,
      person_state: this.order.person_state,
      person_country: this.order.person_country,
      person_additional_info: this.order.person_additional_info,

      delivery_surname: this.order.delivery_surname,
      delivery_name: this.order.delivery_name,
      delivery_company_name: this.order.delivery_company_name,
      delivery_street: this.order.delivery_street,
      delivery_house: this.order.delivery_house,
      delivery_postcode: this.order.delivery_postcode,
      delivery_state: this.order.delivery_state,
      delivery_country: this.order.delivery_country,
      delivery_additional_info: this.order.delivery_additional_info,

      payment_surname: this.order.payment_surname,
      payment_name: this.order.payment_name,
      payment_company_name: this.order.payment_company_name,
      payment_street: this.order.payment_street,
      payment_house: this.order.payment_house,
      payment_postcode: this.order.payment_postcode,
      payment_state: this.order.payment_state,
      payment_country: this.order.payment_country,
      payment_additional_info: this.order.payment_additional_info,
      start_date: this.order.start_date,
      end_date: this.order.end_date,
    };
    this.templates = await this.$services.one_company.getEmailTemplates();
    this.emailData.email = this.order.contact_email;
    this.correctInvoicePDF = await this.$services.one_company.getAdjustmentByOrderId(this.order.id)
    if (this.order.payment !== null) {
      this.invoicePdfYear = moment(this.order.payment.date_of_create).year()
      this.correctInvoicePdfYear = moment(this.correctInvoicePDF.update_date).year()
    }
    console.log(this.order)
    console.log(this.correctInvoicePDF)
  },
  async created() {
    const orderId = Number(this.$route.params.id);
    console.log(orderId);
  },
  destroyed() {
  },
}
</script>

<style lang="stylus" scoped>
.one_company-order
  padding 0 10px

  &__tax-number
    display inline-block
    margin-top: 8px
    font-size: 18px
    border 3px solid red
    padding: 6px 12px

  &__actions-panel
    background-color #afafaf
    display flex
    margin-top 10px
    padding 4px 15px
    justify-content flex-end
    margin-bottom 8px


    &__row
      display flex

  &__radio-inputs
    display flex
    align-items center

    input
      margin: 0 8px

  &__row
    display flex

  &__col
    max-width 33.3333%
    width 100%
    padding 3px

    &.--green
      background-color #97C14E

    select, textarea
      display block
      width 100%

  &__logs
    width 100%
    font-size 0.75em

    tr:nth-child(odd)
      background #f9f9f9

    tr:nth-child(even)
      background #ebebeb

  &__field
    display flex
    margin-top: 4px

    &-label
      width 180px

    &-value
      max-width 100%
      width auto

  &__middle-field
    display flex
    align-items center

    &-label
      min-width 144px

  &__mini-field
    display flex
    align-items center
    font-size 0.75em

    &-label
      min-width 80px

    &-value
      display flex
      align-items center

  &__product
    $border = 1px solid #555
    border-top $border
    border-bottom $border
    padding 5px
    display flex
    align-items center

    &.--cancelled
      text-decoration line-through

    & + &
      margin 10px 0

  &__middle-field-value
    table
      font-size 0.7em

  &__product-index
    color #555
    font-size 0.75em

  &__product-name
    color #111
    margin-left 10px

  &__product-data
    color #111
    font-size 0.8em
    margin-left auto

  &__product-price
    margin-left auto

  &__notes
    margin-top 16px

  &__note-title
    background #aaa
    font-size 0.75em
    padding 3px 5px
    font-weight bold

  &__note-text
    background #FFFCAB
    padding 3px 5px
    white-space pre-line


.little-grey-text
  color #777
  margin 0
  font-size 0.8em

.save-button
  font-weight bold
  color green

button + button
  margin-left 5px

.grey-box
  background-color #efefef
  border 1px solid #999
  padding 4px
  margin 24px 0

  &__title
    color #97C14E
    font-weight bold
    margin-bottom 5px
    padding-bottom 5px
    border-bottom 1px solid #97C14E

  button
    margin-top 16px

label
  display block

  input
    float right

.--monospaced
  font-family monospace

.--green-text
  color #97C14E

.--green-btn
  display block
  color green
  font-weight bold
  margin 16px 0

.--red-btn
  display block
  color red
  margin 16px 0

.--black-btn
  display block
  color black
  margin 16px 0

table.--logs
  font-family monospace
  font-size 11px

th
  text-align left

</style>
