.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;

  &::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: loader-rotate 2s linear infinite;
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}