.skeleton__box {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0);
  min-height: 20px;
  display: block;

  &::after {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
    content: '';
  }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}