.table {
  width: 100%;
  background: white;
  border-radius: 4px;
  border-collapse: collapse;

  &__error-founder {
    th, td {
      text-align: start !important;
      padding: 16px !important;
    }
  }

  &__wrap {
    margin-top: 48px;
    h3 {
      margin-bottom: 4px;
      margin-left: 4px;
    }
  }

  &__container {
    border: 1px solid var(--primary);
    overflow: hidden;
    border-radius: 10px;
  }

  td, th {
    text-align: center;
    padding: 16px 8px;
    max-width: 300px;
    word-break: break-all;
    border-left: 1px solid var(--primary);
    &:first-child {
      width: 180px;
      border-left: none;
    }
  }

  th {
    &:first-child {
      width: 120px;
    }

    border-bottom: 1px solid var(--primary);
  }

  tbody {
    tr:nth-child(even) {
      background: var(--grey-light);
    }
  }

  &__status {
    width: 100px;
    span {
      background: rgba(red, 0.6);
      padding: 2px 8px;
      border-radius: 4px;
      color: white;
    }

    &-429 {
      span {
        background: #990081;
      }
    }

    &-404 {
      span {
        background: #d80000;
      }
    }
  }
  &__account {
    div {
      display: flex;
      i {
        transform: translateY(2px);
        margin-right: 8px;
      }

      margin-top: 6px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__amount {
    div {
      display: flex;
      align-items: center;
      word-break: initial;
      img {
        margin-left: 6px;
      }
    }
  }
  &__direction {
    margin-right: 6px;
    &-in {
      color: green;
      transform: rotate(180deg);
    }
    &-out {
      color: red;
    }
  }
}