:root {
  --primary: #5D8AB9;
  --primary-dark: #557BA3;
  --black: #2F2E41;
  --grey-header-link: rgba(0, 0, 0, 0.5);
  --grey-text: #6c757d;
  --grey-light: #f1f1f1;
  --bg: #EFF3F8;
  --blue-pale: #D8E2F0;
  --green-light: #F1FAF0;
  --red-light: #FFEBEF;
  --link-active: #c4c4c4;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --btc: #E39533;
  --ltc: #4969A0;
  --bch: #84B352;
  --doge: #B69D38;
  --usdt_trx: #6FC4B3;
  --tcn_trx: var(--primary);
  --usdc_trx: #2775CA;
  --trx: #E30507;

  --tbtc: linear-gradient(135deg, #E39533, #A5A5A5);
  --tltc: linear-gradient(135deg, #4969A0, #A5A5A5);
  --tbch: linear-gradient(135deg, #84B352, #A5A5A5);
  --tdoge: linear-gradient(135deg, #B69D38, #A5A5A5);
  --usdt_ttrx: linear-gradient(135deg, #6FC4B3, #A5A5A5);
  --tcn_ttrx: linear-gradient(135deg, var(--primary), #A5A5A5);
  --usdc_ttrx: linear-gradient(135deg, #2775CA, #A5A5A5);
  --ttrx: linear-gradient(135deg, #E30507, #A5A5A5);

}