<template>
  <section class="advantages container">
    <div data-aos="fade-up" class="advantages__item">
      <p class="advantages__item-text">
        Generate as many new cryptocurrency addresses as you wish.
      </p>
      <div class="advantages__item-yellow-plus"></div>
      <h3 class="advantages__item-title">
        Unlimited number <br>
        of addresses
      </h3>
    </div>
    <div data-aos="fade-up" class="advantages__item">
      <p style="text-align: end; margin-bottom: 24px;" class="advantages__item-text">
        Our RESTful API uses SSL as a standard security technology for establishing an encrypted connection to Apirone’s
        payment gateway.
      </p>
      <div class="advantages__item-green-plus"></div>
      <h3 class="advantages__item-title">
        Safe and Secure
      </h3>
    </div>
    <div data-aos="fade-up" class="advantages__item">
      <h3 class="advantages__item-title">
        Instant Withdrawal
      </h3>
      <div class="advantages__item-blue-plus"></div>
      <p style="text-align: end" class="advantages__item-text">
        Cryptocurrencies deposited to the account or wallet are instantly ready for withdrawal.
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Advantages'
}
</script>

<style lang="scss">
.advantages {
  height: 455px;
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;

  &__item {
    position: relative;

    &:first-child {
      max-width: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 55px;
      left: 20px;

      p {
        margin: 0;
        margin-left: 52px;
        max-width: 182px;
      }

      h3 {
        margin-top: 70px;
        margin-left: 144px;
      }
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      right: 22px;
      max-width: 348px;
      width: 100%;

      p {
        max-width: 251px;
      }

      h3 {
        margin-left: 10px;
      }
    }

    &:last-child {
      max-width: 372px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 160px;
      h3 {
        margin-bottom: 22px;
      }
      p {
        max-width: 245px;
        margin-left: 36px;
      }
    }

    &-title {
      font-size: 32px;
      line-height: 1.875;
    }

    &-text {
      line-height: 1.5;
      color: var(--text);
    }

    &-green-plus {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 141px;
      height: 141px;
      filter: blur(2px);
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
        filter: blur(0);
      }

      &:before, &:after {
        display: block;
        content: '';
        width: 100%;
        height: 23px;
        background: #98B66F;
        border-radius: 20px;
        position: absolute;
      }

      &:after {
        transform: rotate(90deg);
        top: 42%;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-blue-plus {
      position: absolute;
      bottom: 40px;
      right: -6px;
      width: 133px;
      height: 133px;
      filter: blur(3px);
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
        filter: blur(0);
      }

      &:before, &:after {
        display: block;
        content: '';
        width: 100%;
        height: 23px;
        background: #596D9A;
        border-radius: 20px;
        position: absolute;
      }

      &:after {
        transform: rotate(90deg);
        top: 42%;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-yellow-plus {
      position: absolute;
      top: 0;
      left: 0;
      width: 227px;
      height: 227px;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }

      &:before, &:after {
        display: block;
        content: '';
        width: 100%;
        height: 37px;
        background: #F6BD75;
        border-radius: 20px;
        position: absolute;
      }

      &:after {
        transform: rotate(90deg);
        top: 42%;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: 991px) {
  .advantages {
    height: 490px;
    overflow: hidden;
    &__item {
      &:first-child {
        left: -55px;
      }
      &:nth-child(2) {
        right: -45px;
      }
      &:last-child {
        right: 7px;
      }
    }
  }
}

@media (max-width: 720px) {
  .advantages {
    height: 730px;
    &__item {
      &:first-child {
        top: 16px;
        display: flex;
        flex-direction: column-reverse;
        h3 {
          margin-top: -27px;
          margin-bottom: 54px;
        }
      }
      &:nth-child(2) {
        top: 42%;
        display: flex;
        flex-direction: column-reverse;
        p {
          margin-bottom: 0;
          margin-top: 30px;
        }
      }
      &:last-child {
        bottom: 0;
        left: 0;
        right: auto;
        h3 {
          margin-left: 70px;
        }
        .advantages__item-text {
          margin-left: 54px;
          display: flex;
          justify-content: flex-start;
        }
      }

      &-green-plus {
        bottom: auto;
        top: 0;
      }

      &-blue-plus {
        right: auto;
        left: -20px;
      }
    }
  }
}

@media (max-width: 380px) {
  .advantages {
    &__item {
      &-title {
        font-size: 26px;
      }
      &:first-child {
        h3 {
          margin-top: -9px;
        }
        p {
          margin-left: 96px;
        }
      }
      &:nth-child(2) {
        max-width: 300px;
        p {
          margin-top: 22px;
          transform: translateX(-45px);
        }
      }
      &:last-child {
        h3 {
          margin-bottom: 32px;
        }
      }
      &-green-plus {
        top: -12px;
      }
    }
  }
}
</style>
