<template>
  <section class="banner pt-5">
    <img
      srcset="/img/index-top/mobile.webp"
      src="/img/index-top/mobile.png"
      alt="Banner mobile"
      class="w-100 mb-4"
      style="display: none;"
      width="100%"
      height="auto"
    >
    <div class="container d-flex align-items-center">
      <div class="banner__content">
        <h1 v-html="$t('banner.title')"></h1>
        <ul class="banner__list banner__list-desktop brand-list">
          <li
            v-for="(li, index) in $t('banner.list')"
            :key="`banner_${index}`"
            class="banner__list-item"
          >
            <span>
              <i class="apr apr-brand"></i>
              {{ li.name }}
            </span>
            <p>{{ li.text }}</p>
          </li>
        </ul>
        <div class="banner__list-mobile">
          <VueSlickCarousel :autoplay="true" :arrows="false" :dots="false">
            <div
              v-for="(item, index) in $t('banner.list')"
              :key="`banner_adaptive_${index}`"
              class="banner__list-item"
            >
              <span>
                <i class="apr apr-brand"></i>
                {{ item.name }}
              </span>
              <p>{{ item.text }}</p>
            </div>
          </VueSlickCarousel>
        </div>
      </div>
      <b-img-lazy
        srcset="/img/index-top/ltc.webp"
        src="/img/index-top/ltc.png"
        class="banner__ltc"
        alt="Litecoin"
      />
      <b-img-lazy
        srcset="/img/index-top/bch.webp"
        src="/img/index-top/bch.png"
        class="banner__bch"
        alt="Bitcoin Cash"
      />
      <b-img-lazy
        srcset="/img/index-top/btc.webp"
        src="/img/index-top/btc.png"
        class="banner__btc"
        alt="Bitcoin"
      />
      <img
        srcset="/img/index-top/hand.webp"
        src="/img/index-top/hand.png"
        class="banner__hand"
        alt="Hand"
      >
      <div class="banner__phone">
        <img
          srcset="/img/index-top/iphone.png"
          alt="Iphone"
        >
        <VueSlickCarousel class="banner__phone-gif" :autoplay="true" :arrows="false" :dots="false">
          <div
            v-for="img in carouselNumImg"
            :key="'img_' + img"
          >
            <img
              :srcset="`/img/index-top/carousel-${img}.webp`"
              :src="`/img/index-top/carousel-${img}.png`"
              :alt="`Carousel_${img}`"
            >
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </section>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: {VueSlickCarousel},
  data() {
    return {
      carouselNumImg: ['1', '2', '3', '4', '5', '6', '7', '8']
    }
  }
}
</script>

<style lang="scss">
.banner {
  .VueCarousel-pagination {
    display: none !important;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: flex-start;

    &-mobile {
      display: none;
    }

    &-item {
      margin-left: 32px;
      width: 48%;

      &:first-child {
        margin-left: 0;
        width: 52%;
      }
    }
  }

  &__phone {
    width: 20rem;
    position: absolute;
    right: 5rem;
    transition: 0.2s;
    overflow: hidden;

    &-gif {
      position: absolute !important;
      left: 3.6rem;
      top: 0.7rem;
      width: 12.8rem !important;
      z-index: -1;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    width: 100%;
    max-width: 34rem;

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 36px;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  .container {
    position: relative;
    min-height: 28rem;

    & > img {
      position: absolute;
      transition: .3s;

      &:not(.banner__hand):hover {
        filter: blur(0);
        transform: scale(1.1);
      }
    }
  }

  &__hand {
    top: -7rem;
    left: 32rem;
    width: 120rem;
    z-index: 1;
  }

  &__btc {
    top: 5rem;
    right: 20rem;
    width: 12rem;
    z-index: 2;
  }

  &__ltc {
    bottom: -4rem;
    right: -2rem;
    width: 10rem;
    z-index: 2;
    filter: blur(.2rem);
  }

  &__bch {
    top: -1rem;
    right: -15%;
    width: 11rem;
    z-index: 2;
    filter: blur(.02rem);
  }

}

@media (max-width: 1199px) {
  .banner {
    &__hand {
      left: 21rem;
    }

    &__btc {
      top: -2rem;
    }
  }
}

@media (max-width: 991px) {
  .banner {

    &__list {
      flex-direction: column;

      &-item {
        width: 100% !important;
        margin-left: 0 !important;

        span {
          margin-bottom: 20px;
        }

        &:last-child {
          margin-top: 28px;
        }
      }
    }

    &__content {
      max-width: 350px;
    }

    &__phone {
      right: -1rem;
    }

    &__hand {
      display: none;
    }

    .container {
      min-height: unset;
    }

    &__btc {
      top: -2.5rem;
      right: 14rem;
      width: 11rem;
    }

    &__bch {
      width: 10rem;
      top: 2rem;
      right: -13%;
    }

    &__ltc {
      bottom: -4rem;
      right: 11rem;
    }
  }
}

@media (max-width: 767px) {
  .banner {

    &__content {
      max-width: 270px;
      margin-left: 13px;
    }

    &__phone {
      right: 8px;
      width: 20rem;
      top: 0;

      &-gif {
        left: 3.6rem;
        width: 12.9rem !important;
        top: 0.6rem;
      }
    }

    &__btc {
      right: 15.7rem;
      top: 4.5rem;
      width: 10rem;
    }

    &__ltc {
      bottom: -3rem;
      right: -4rem;
    }

    &__bch {
      top: -1rem;
      right: -8%;
    }
  }
}

@media (max-width: 690px) {

  .banner {
    &__phone {
      right: -28px;
    }

    &__btc {
      right: 12.7rem;
    }
  }
}

@media (max-width: 620px) {

  .banner {
    &__phone {
      display: none;
    }

    &__content {
      max-width: 78%;
      text-align: center;
      margin: 0 auto;
    }

    &__list {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        max-width: 300px;
        margin: 0 auto;
      }

      &-item {
        margin: 0 !important;

        span {
          justify-content: center;
        }
      }
    }

    &__btc {
      right: auto;
      left: -3rem;
      top: -10px;
      width: 8rem;
    }

    &__bch {
      width: 6rem;
      top: -3rem;
      right: 5%;
    }

    &__ltc {
      width: 6rem;
      bottom: 8rem;
      right: -2rem;
    }
  }
}

@media (max-width: 400px) {
  .banner {
    &__content {
      max-width: 100%;
    }

    &__btc {
      width: 4.5rem;
      top: 0;
      left: -1.5rem;
    }

    &__bch {
      width: 4rem;
      top: -1rem;
    }

    &__ltc {
      width: 4.5rem;
      bottom: 9rem;
      right: -1rem;
    }
  }
}
</style>
