<template>
  <section class="cases pt-5 pb-5 position-relative">
    <div class="container">
      <h2 class="text-center">
        {{ $t('useCases') }}
      </h2>
      <div
        class="cases__container mt-5 d-flex"
        data-aos="fade-up"
      >
        <div class="cases__right mr-5">
          <NuxtLink
            :to="localePath({path: '/how-to/options'})"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #F7E6E9;"
            >
              <b-img-lazy
                srcset="/img/pages/options.webp"
                src="/img/pages/options.png"
                alt="Forex, Binary options"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.forex.title') }}</h3>
                <p>{{ $t('cases.forex.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/gaming-and-gambling'})"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #dfdfe3;"
            >
              <b-img-lazy
                srcset="/img/pages/gaming-and-gambling.webp"
                src="/img/pages/gaming-and-gambling.png"
                alt="Forex, Binary options"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.gaming.title') }}</h3>
                <p>{{ $t('cases.gaming.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/adult-content'})"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #c5aef1;"
            >
              <b-img-lazy
                srcset="/img/pages/adult-content.webp"
                src="/img/pages/adult-content.png"
                alt="Forex, Binary options"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.adult.title') }}</h3>
                <p>{{ $t('cases.adult.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/marketing-agency'})"
            class="case link d-flex"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #ebeeb6;"
            >
              <b-img-lazy
                srcset="/img/pages/marketing-agency.webp"
                src="/img/pages/marketing-agency.png"
                alt="Forex, Binary options"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.marketing.title') }}</h3>
                <p>{{ $t('cases.marketing.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
        </div>
        <div class="cases__right">
          <NuxtLink
            :to="localePath('integrations')"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #7dd7d6;"
            >
              <b-img-lazy
                srcset="/img/pages/integrations.webp"
                src="/img/pages/integrations.png"
                alt="File Sharing"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.ecommerce.title') }}</h3>
                <p>{{ $t('cases.ecommerce.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/file-sharing'})"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: rgba(64, 141, 201, 0.33);"
            >
              <b-img-lazy
                srcset="/img/pages/file-sharing.webp"
                src="/img/pages/file-sharing.png"
                alt="File Sharing"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.file.title') }}</h3>
                <p>{{ $t('cases.file.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/telegram'})"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #EEDFB3;"
            >
              <b-img-lazy
                srcset="/img/pages/telegram.webp"
                src="/img/pages/telegram.png"
                alt="Telegram Bot & messenger"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.messenger.title') }}</h3>
                <p>{{ $t('cases.messenger.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath({path: '/how-to/charity'})"
            class="case link d-flex"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #B1D5DC;"
            >
              <b-img-lazy
                srcset="/img/pages/charity.webp"
                src="/img/pages/charity.png"
                alt="Charity & Donations"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('cases.charity.title') }}</h3>
                <p>{{ $t('cases.charity.text') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon />
              </div>
            </div>
          </NuxtLink>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ArrowIcon from '@/components/icons/ArrowIcon.vue';

export default {
  components: {
    ArrowIcon
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/cases.css'}
      ]
    }
  }
}
</script>
