<template>
  <section class="cases position-relative">
    <div class="container">
      <h2 class="text-center">
        How to accept crypto payments
      </h2>
      <p style="max-width: 456px; color: var(--text); margin: 0 auto;" class="text-center">
        There are no logos, cut-ins, external pages, or branded buttons.
        Use the API as if it’s your service, safe and stable.
      </p>
      <div
        class="cases__container mt-5 d-flex"
        data-aos="fade-up"
      >
        <div class="cases__right mr-5">
          <NuxtLink
            :to="localePath('payments-form')"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #F1F0F5;"
            >
              <b-img-lazy
                srcset="/img/pages/payments-form.webp"
                src="/img/pages/payments-form.png"
                alt="Payments form"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('pages.payments-form.title') }}</h3>
                <p>{{ $t('pages.payments-form.text-case') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon/>
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath('mini-cart')"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #FFF1C1;"
            >
              <b-img-lazy
                srcset="/img/pages/mini-cart.webp"
                src="/img/pages/mini-cart.png"
                alt="Mini cart"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('pages.mini-cart.title') }}</h3>
                <p>{{ $t('pages.mini-cart.text-case') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon/>
              </div>
            </div>
          </NuxtLink>
        </div>
        <div class="cases__right">
          <NuxtLink
            :to="localePath('payments-button')"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #BEE5EC;"
            >
              <b-img-lazy
                srcset="/img/pages/payments-button.webp"
                src="/img/pages/payments-button.png"
                alt="Payments button"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('pages.payments-button.title') }}</h3>
                <p>{{ $t('pages.payments-button.text-case') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon/>
              </div>
            </div>
          </NuxtLink>
          <NuxtLink
            :to="localePath('donation-widget')"
            class="case link d-flex mb-5"
          >
            <div
              class="case__img d-flex justify-content-center"
              style="background-color: #FFF8FB;"
            >
              <b-img-lazy
                srcset="/img/pages/donation-widget.webp"
                src="/img/pages/donation-widget.png"
                alt="Donation widget"
                height="100%"
                width="auto"
              />
            </div>
            <div class="case__content d-flex">
              <div class="case__content-left mr-4">
                <h3>{{ $t('pages.donation-widget.title') }}</h3>
                <p>{{ $t('pages.donation-widget.text-case') }}</p>
              </div>
              <div class="case__content-right d-flex justify-content-center align-items-center">
                <ArrowIcon/>
              </div>
            </div>
          </NuxtLink>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ArrowIcon from '@/components/icons/ArrowIcon.vue';

export default {
  components: {
    ArrowIcon
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/cases.css'}
      ]
    }
  }
}
</script>
