<template>
  <section class="easy-registration container">
    <h2 class="text-center">
      Easy registration
    </h2>
    <p style="max-width: 300px; color: var(--text); margin: 0 auto;" class="text-center">
      No email or phone required to create
      a crypto wallet in our payment gateway
    </p>
    <div class="easy-registration__steps">
      <div
        v-for="(step, index) in steps"
        :key="`step_${index}`"
        class="easy-registration__step"
      >
        <p>{{ step.text }}</p>
        <div>
          <component :is="step.component"></component>
        </div>
      </div>
    </div>
    <div class="easy-registration__line"></div>
    <div style="display: flex; justify-content: center">
      <a
        href="/dashboard"
        class="btn-link btn-link-arrow"
      >
        <i class="apr apr-arrow_right"></i>
        Start
      </a>
    </div>
  </section>
</template>

<script>
import FirstStep from '@/components/icons/easy_registration/FirstStep.vue';
import SecondStep from '@/components/icons/easy_registration/SecondStep.vue';
import ThreeStep from '@/components/icons/easy_registration/ThreeStep.vue';
import FourStep from '@/components/icons/easy_registration/FourStep.vue';
import FiveStep from '@/components/icons/easy_registration/FiveStep.vue';

export default {
  name: 'EasyRegistration',
  components: {FiveStep, FourStep, ThreeStep, SecondStep, FirstStep},
  data() {
    return {
      steps: [
        {
          component: 'FirstStep',
          text: 'Click dashboard'
        },
        {
          component: 'SecondStep',
          text: 'Create now'
        },
        {
          component: 'ThreeStep',
          text: 'Account or Wallet'
        },
        {
          component: 'FourStep',
          text: 'Copy Account ID and Transfer key'
        },
        {
          component: 'FiveStep',
          text: 'Log in'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.easy-registration {
  padding-bottom: 130px;
  padding-top: 130px;

  .btn-link {
    margin: 70px auto 0;
    display: inline-block;
    background: var(--primary);
    color: white !important;
    width: 210px;
    text-align: center;

    i {
      color: white !important;
    }
  }

  &__line {
    margin-top: 28px;
    width: 100%;
    height: 3px;
    background: linear-gradient(-89.98deg, #5D8AB9 -8.99%, rgba(93, 138, 185, 0.5) 31.36%, rgba(93, 138, 185, 0) 94.41%, rgba(93, 138, 185, 0) 112.07%);

  }

  &__steps {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 135px;
    text-align: center;
    justify-content: space-between;
    height: 95px;

    p {
      padding-top: 14px;
    }

    &:nth-child(4) {
      p {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .easy-registration {
    &__steps, &__line {
      display: none;
    }
  }
}

</style>
