<template>
  <section class="integrations-component container">
    <h2 class="integrations-component__title">
      Integration with CMS platforms for crypto payments
    </h2>
    <p class="integrations-component__subtitle">
      Just copy and paste your address and start accepting bitcoin or altcoins in your online store
    </p>
    <b-row class="integrations__items integrations-component__items">
      <b-col
        v-for="(item, index) in $t('integrations')"
        :key="`item${index}`"
        xs="12"
        sm="6"
        md="4"
        lg="3"
        class="integrations__item"
      >
        <b-link
          :to="localePath({ path: `${item.link}` })"
          class="integrations__link d-flex flex-column justify-content-between p-1"
        >
          <img
            :src="`/img${item.link}.svg`"
            :alt="item.title"
          >
          <h3 class="text-center">
            {{ item.title }}
          </h3>
        </b-link>
      </b-col>
    </b-row>
    <div class="integrations-component__content">
      <div class="integrations-component__content-item">
        <h2>The Best Plugin solution</h2>
        <ul class="brand-list">
          <li>
            <span>
              <i class="apr apr-brand"></i>
              No registration
            </span>
            <p>
              No need to worry about getting a merchant application declined or going through tedious signup processes.
            </p>
          </li>
          <li>
            <span>
              <i class="apr apr-brand"></i>
              Around the world
            </span>
            <p>
              Apirone does business with a lot of customers around the world without any restrictions.
            </p>
          </li>
        </ul>
      </div>
      <div class="integrations-component__content-item">
        <img class="integrations-component__forwarding-img" src="/img/blog/forwarding.svg" alt="Forwarding">
        <ul class="brand-list">
          <li style="margin: 0;">
            <span>
              <i class="apr apr-brand"></i>
              Forwarding of crypto payments
            </span>
            <img class="integrations-component__forwarding-img-mobile" src="/img/blog/forwarding.svg" alt="Forwarding">
            <p>
              Service of instant transfer of coins from a customer to a merchant through a temporary address.
            </p>
          </li>
        </ul>
        <nuxt-link
          tag="button"
          :to="localePath('/blog/forwarding')"
          class="btn-link btn-link-arrow"
        >
          <i class="apr apr-arrow_right"></i>
          more
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'IntegrationsComponent'
}
</script>

<style lang="scss">
.integrations-component {

  .btn-link {
    width: 210px;
  }
  &__forwarding-img {
    max-width: 295px;
    &-mobile {
      display: none;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__subtitle {
    max-width: 370px;
    margin: 0 auto 40px;
    color: var(--text);
    text-align: center;
  }

  &__content {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 15px;

    &-item {
      width: 100%;

      &:first-child {
        max-width: 437px;
        margin-top: 50px;

        .brand-list {
          margin-top: 40px;
        }
      }

      &:last-child {
        max-width: 404px;
        margin-left: 32px;
      }

      .brand-list {
        margin-top: 28px;
        display: flex;
        align-items: flex-start;

        & > li {
          &:first-child {
            margin-right: 30px;
          }

          & > span {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .integrations {
    &__items {
      margin: 0 auto;
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 991px) {
  .integrations-component {
    &__content {
      position: relative;
      h2 {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        min-width: 365px;
      }
      &-item {
        padding-top: 60px;
        margin-top: 0 !important;
        .brand-list {
          margin-top: 0 !important;
          margin-bottom: 0;
          li {
            margin-right: 0 !important;
          }
        }

        &:first-child {
          min-width: 338px;
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .brand-list {
        flex-direction: column;

        li {
          &:last-child {
            margin-top: 32px;
          }
        }
      }
    }

    &__forwarding-img {
      display: none;
    }
  }
}

@media (max-width: 690px) {
  .integrations-component {
    &__content {
      flex-direction: column;
      &-item {
        padding: 0;
        max-width: 100% !important;
        min-width: auto !important;
        .brand-list {
          max-width: 400px !important;
          li {
            &:last-child {
              margin-top: 25px;
            }
          }
        }
        h2 {
          position: initial;
          transform: initial;
          min-width: auto;
          text-align: center;
          margin-bottom: 26px;
        }
        &:last-child {
          margin-left: 0;
          margin-top: 24px !important;
          button {
            margin: 32px auto 0;
          }
        }
      }
    }
    &__forwarding-img-mobile {
      margin-bottom: 16px;
      max-width: 295px;
      width: 100%;
      display: block;
    }
  }
}

</style>
