<template>
  <section class="home-pricing container">
    <h2
      class="text-center"
    >
      Switch a fee plan at any time
    </h2>
    <div class="home-pricing__switcher">
      Fixed Fees
      <Switcher v-model="toggleSwitcher"/>
      Percentage Fees
    </div>
    <div class="home-pricing__content">
      <div
        :class="['home-pricing__item', {'home-pricing__item-blur': toggleSwitcher}]"
      >
        <ul class="home-pricing__item-ul">
          <li v-for="(item, index) in fixed_fees" :key="`fixed_fees_${index}`">
            <span style="min-width: 1rem;" class="d-flex justify-content-center align-items-center">
              <i :class="`apr apr-${item.component}`"></i>
            </span>
            {{ item.text }}
          </li>
        </ul>
      </div>
      <div
        :class="['home-pricing__item', {'home-pricing__item-blur': !toggleSwitcher}]"
      >
        <ul class="home-pricing__item-ul">
          <li v-for="(item, index) in percentage_fees" :key="`percentage_fees_${index}`">
            <span style="min-width: 1rem;" class="d-flex justify-content-center align-items-center">
              <i :class="`apr apr-${item.component}`"></i>
            </span>
            {{ item.text }}
          </li>
        </ul>
      </div>
      <div class="home-pricing__item-mobile">
        <VueSlickCarousel
          :speed="500"
          :initial-slide="carouselIndex"
          :arrows="false"
          :dots="false"
        >
          <div>
            <h4>Fixed fees</h4>
            <ul class="home-pricing__item-ul">
              <li v-for="(item, index) in fixed_fees" :key="`fixed_fees_${index}`">
                <span style="min-width: 1rem;" class="d-flex justify-content-center align-items-center">
                  <i :class="`apr apr-${item.component}`"></i>
                </span>
                {{ item.text }}
              </li>
            </ul>
          </div>
          <div>
            <h4>Percentage</h4>
            <ul class="home-pricing__item-ul">
              <li v-for="(item, index) in percentage_fees" :key="`percentage_fees_${index}`">
                <span style="min-width: 1rem;" class="d-flex justify-content-center align-items-center">
                  <i :class="`apr apr-${item.component}`"></i>
                </span>
                {{ item.text }}
              </li>
            </ul>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
    <nuxt-link
      v-if="$route.name.split('__')[0] !== 'pricing'"
      tag="button"
      :to="localePath('pricing')"
      class="btn-link btn-link-arrow"
    >
      <i class="apr apr-arrow_right"></i>
      Choose Pricing
    </nuxt-link>
  </section>
</template>

<script>

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import RareTransfers from '@/components/icons/index_pricing/RareTransfers.vue';
import Heart from '@/components/icons/index_pricing/Heart.vue';
import Calendar from '@/components/icons/index_pricing/Calendar.vue';
import Tick from '@/components/icons/index_pricing/Tick.vue';
import Percentage from '@/components/icons/index_pricing/Percentage.vue';
import Switcher from '@/components/Switcher.vue';

export default {
  components: {Switcher, Percentage, Tick, Calendar, Heart, RareTransfers, VueSlickCarousel},
  data() {
    return {
      carouselIndex: 0,
      toggleSwitcher: false,
      fixed_fees: [
        {
          component: 'rare_transfers',
          text: 'For rare transfers with big amount'
        },
        {
          component: 'heart',
          text: 'Micropayments are free'
        },
        {
          component: 'calendar',
          text: 'No monthly fees or any amount restrictions'
        },
        {
          component: 'tick',
          text: 'Transfer: fixed fee + network fee'
        }
      ],
      percentage_fees: [
        {
          component: 'percentage',
          text: '1% for any cryptocurrency'
        },
        {
          component: 'heart',
          text: 'Micropayments are free'
        },
        {
          component: 'calendar',
          text: 'No monthly fees or any amount restrictions'
        },
        {
          component: 'percentage',
          text: 'Transfer: percent from amount + network fee'
        }
      ]
    }
  },
  watch: {
    toggleSwitcher(to) {
      this.carouselIndex = to ? 1 : 0;
    }
  }
}
</script>

<style lang="scss">
.home-pricing {
  margin-bottom: 140px;
  padding-top: 130px;

  &__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 68px;
    font-size: 24px;
    font-weight: 500;

    .switch {
      margin: 0 52px;
      z-index: 4;
    }
  }

  & > button {
    margin: 60px auto 0;
    display: block;
    padding: 0.7rem 2.95rem;
    background: none;
    position: relative;
  }

  &__learn-more {
    color: var(--dark-gray);

    & > img {
      margin-left: 6px;
      transition: 0.2s;
    }

    &:hover img {
      transform: translateX(6px);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    margin: 0 auto;
  }

  &__item {
    transition: 0.2s;
    max-width: 420px;

    &-mobile {
      display: none;

      h4 {
        margin-bottom: 28px;
        font-size: 24px;

      }

      .VueCarousel-pagination {
        display: none !important;
      }
    }

    &:first-child {
      .home-pricing__item-ul {
        margin-right: 32px;
      }
    }

    &-blur {
      filter: blur(3px);
    }

    & > div {
      padding: 1rem 2rem;
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > h4 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        margin: 0 !important;
      }
    }

    &-ul {
      margin: 0;
      padding: 0;

      & > li {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        line-height: 1.2;

        & > span {
          margin-right: 12px;

          i {
            color: var(--primary);
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

}

@media (max-width: 991px) {
  .home-pricing {
    &__item {
      max-width: 280px;
    }
  }
}

@media (max-width: 767px) {
  .home-pricing {
    &__switcher {
      font-size: 21px;

      .switch {
        margin: 0 40px;
      }
    }
  }
}

@media (max-width: 500px) {
  .home-pricing {
    &__item {
      display: none;

      &-mobile {
        display: block;
      }
    }

    &__content {
      display: block;
    }

    &__switcher {
      font-size: 0;
      margin-bottom: 32px;
    }
  }
}

</style>
