<template>
  <div
    v-if="value<=5"
    class="stars d-flex"
  >
    <img
      v-for="i in value"
      :key="`full-${i}`"
      src="/img/stars/star.svg"
      alt="Star"
    >
    <img
      v-for="i in 5-value"
      :key="`empty-${i}`"
      src="/img/stars/star-empty.svg"
      alt="Star"
    >
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 5
    }
  }
}
</script>

<style>
.stars>img {
  width: 1rem;
  height: 1rem;
  margin-right: .3rem;
  margin-bottom: .5rem;
}
</style>
