<template>
  <section class="ticker">
    <div class="container">
      <div class="ticker__wrapper">
        <h2>Payments in Bitcoin and altcoins</h2>
        <p>You can accept crypto payments on your website in any currency we support</p>
        <div
          v-if="loading"
          class="ticker__items d-flex justify-content-between"
        >
          <div
            v-for="item in 6"
            :key="item"
            class="ticker__item d-flex flex-column align-items-center text-center"
          >
            <b-skeleton
              width="6rem"
              height="6rem"
              style="opacity: .6; border-radius: 50%;"
            ></b-skeleton>
            <b-skeleton
              width="95%"
              style="opacity: .6;"
            ></b-skeleton>
            <b-skeleton
              width="85%"
              style="opacity: .6;"
            ></b-skeleton>
          </div>
        </div>
        <div
          v-else
          class="ticker__items d-flex justify-content-between"
        >
          <div
            v-for="item in coins"
            :key="item.abbr"
            class="ticker__item d-flex flex-column align-items-center text-center"
            :class="{'ticker__item-soon': !item.values}"
          >
            <img
              class="mb-1"
              :srcset="`/img/coins/${item.symbol.toLowerCase()}1.webp`"
              :src="`/img/coins/${item.symbol.toLowerCase()}1.png`"
              :alt="item.name"
            >
            <h3 style="width: 117px;">
              {{ item.name }}
            </h3>
            <span
              v-if="item"
              class="ticker__amount d-flex align-items-center text-secondary"
            >
              <span v-if="item.values">$</span>
              {{ item.values.USD?.price?.toFixed(2) | localeNumber }}
              <span v-if="item.values" :class="[`ticker__${item.status ? item.status : ''}`]">
                <ArrowRightIcon/>
              </span>
            </span>
            <b-skeleton
              v-else
              width="85%"
              style="opacity: .6;"
            ></b-skeleton>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ArrowRightIcon from '@/components/icons/ArrowRightIcon.vue'

export default {
  components: {
    ArrowRightIcon
  },
  filters: {
    localeNumber(value) {
      if (value) {
        return Number(value).toLocaleString('en')
      } else {
        return 'Coming soon'
      }
    }
  },
  data() {
    return {
      coins: [],
      loading: true,
      currencies: []
    }
  },
  async mounted() {
    await this.getTicker()
  },
  methods: {
    async getWallets() {
      const response = await fetch(`${process.env.serviceUrl}/api/v2/wallets`, {
        method: 'OPTIONS'
      })
      const result = await response.json()
      result.currencies.forEach((item) => {
        if (!item.name.includes('testnet') && !item.abbr.includes('ttrx') && !item.abbr.includes('usdc') && !item.abbr.includes('tusd') && !item.abbr.includes('tcn') && !item.abbr.includes('usd@')) {
          if (item.abbr.includes('@')) {
            item.abbr = item.abbr.split('@')[0]
          }
          this.currencies.push(item.abbr.toUpperCase())
        }
      });
    },
    async getTicker() {
      await this.getWallets()
      const response = await fetch(`API_URL=${this.currencies.join(',')}`)
      const result = await response.json()
      result.data.forEach((item) => {
        if (item.values.USD.percentChange6m < 0) {
          item.status = 'minus'
        } else {
          item.status = 'plus'
        }
        this.coins.push(item)
        this.loading = false
      })
      const symbolsToCheck = [
        {
          symbol: 'BTC',
          name: 'Bitcoin',
          values: false,
          status: false
        },
        {
          symbol: 'DOGE',
          name: 'Dogecoin',
          values: false,
          status: false
        },
        {
          symbol: 'BCH',
          name: 'Bitcoin Cash',
          values: false,
          status: false
        },
        {
          symbol: 'LTC',
          name: 'Litecoin',
          values: false,
          status: false
        },
        {
          symbol: 'TRX',
          name: 'Tron',
          values: false,
          status: false
        },
        {
          symbol: 'USDT',
          name: 'USDT (TRC 20)',
          values: false,
          status: false
        }
      ];
      symbolsToCheck.forEach((symbol) => {
        const exists = this.coins.some(obj => obj.symbol.toLowerCase() === symbol.symbol.toLowerCase());
        if (!exists) {
          this.coins.push(symbol);
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.ticker {
  margin-bottom: 130px;

  &__wrapper {
    border-radius: 2rem;
    min-height: 9rem;
    padding: 0 3rem;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      margin: 0 auto 70px;
      color: #6C757D;
      display: block;
      max-width: 370px;
    }
  }

  &__items {
    transform: translateY(-2rem);
    flex-wrap: wrap;
  }

  &__item {
    & h3 {
      font-size: 1.1rem;
    }

    & img {
      width: 6rem;
      height: 6rem;
    }

    &-soon {
      img {
        opacity: 0.3;
      }

      .ticker__amount {
        transform: translate(0, -0.5rem);
      }
    }
  }

  &__plus {
    color: green;
    transform: rotate(-90deg);
  }

  &__minus {
    color: red;
    transform: rotate(90deg);
    margin-left: .2rem;
  }

  &__amount {
    transform: translate(.3rem, -.5rem);
  }

  &__coming-soon {
    transform: translate(0, -.5rem) !important;
  }
}

@media (max-width: 991px) {
  .ticker__item {
    width: 33%;
  }
}

@media (max-width: 560px) {
  .ticker__item {
    flex: 0 0 50%;
  }

  .ticker__wrapper {
    padding: 0 1.5rem;
  }
}
</style>

<style>
.ticker__amount > span .svg {
  height: 1rem;
}
</style>
