@import "variables.styl"

.popup
  z-index 14
  position fixed
  top: 50%
  left: 50%
  transform translate(-50%, -50%) scale(1)
  background: white
  border-radius 4px
  max-width 640px
  width: 100%
  padding: 24px 38px 36px
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.3)

  &__search-dropdown
    position absolute
    top: 76px
    left: 0
    background white
    z-index 10
    border 1px solid #b6bed8
    border-radius 4px
    max-height: 150px
    overflow-y scroll
    width: 100%
    a
      display block
      padding: 8px 14px
      color $black
      &:hover
        background #999999
        color white

  &__group-inputs
    display flex
    flex-direction column
    align-items flex-end
    &-input
      margin-top: 30px
      display flex
      align-items center
      div
        width: 100%
        position relative
      div + div
          margin-left: 16px
      div > div
        margin-left: 0
        margin-top: 8px
        &:first-child
          margin-top: 0

      img
        top: 26px !important
      &:first-child
        margin-top: 0
  &__delete-input
    min-width: 20px
    height: 20px
    background red
    display flex
    align-items center
    justify-content center
    border-radius 100%
    border none
    margin-left: 16px
    &:after
      content ''
      width: 10px
      height: 2px
      border-radius 4px
      background white
      display block
      margin-top: 1px
      margin-left: -1px

  &__field
    position relative

  &__add-input
    background #02ba02
    border none
    color white
    border-radius 5px
    margin-top: 16px
    font-size: 20px
    padding: 6px 12px

  &__form
    height: 38vh
    overflow-y scroll
    &::-webkit-scrollbar
      display none

  &-enter-active
  &-leave-active
    transform translate(-50%, -50%) scale(1)
    transition transform 0.2s

  &-enter
  &-leave-to
    transform translate(-50%, -50%) scale(0)

  &__close-btn
    position absolute
    right: 28px
    top: 14px
    padding: 13px
    cursor: pointer
    background none
    border none

    &:after
    &:before
      content ''
      display flex
      width: 2px
      height: 19px
      background $black
      border-radius 4px
      position absolute

    &:after
      left: 83%
      top: 47%
      transform rotate(-45deg) translate(-50%, -50%)

    &:before
      transform rotate(45deg) translate(-50%, -50%)
      top: 50%
      left: 33%

  h2
    font-size: 20px
    font-weight: 500
    margin-bottom: 22px

  &__two-inputs
    display flex
    align-items center

    div
      width: 100%

    span
      color #5A5A5A
      margin: 24px 16px 0

    input
      height: 54px
      border 1px solid
      border-color #5A5A5A
      padding-left: 24px
      font-size: 20px
      border-radius 4px
      background none

      &::placeholder
        font-size: 20px
        color #5A5A5A

  &__input
    margin-top: 24px
    width: 100%

  &__group-btn
    display flex
    align-items center
    margin-top: 48px
    justify-content flex-end

    a
      color #5A5A5A
      margin-right: 40px
