.popup-customer
  max-width: 90vw !important

  &__error
    color red
    margin: 0 !important
    margin-top: 6px !important
    width: 100% !important
    font-size: 15px

  &__group-inputs-input
    margin-top: 8px !important

    & + .popup-customer__group-inputs-input
      margin-left: 16px

  &__row
    display flex
    align-items flex-start
    justify-content space-between

    div + div
      margin-left: 16px

  .popup
    &__form
      height: 73vh
