<template>
  <div class="breadcrumbs container">
    <ul>
      <li
        v-for="(crumb, index) in breadcrumbs"
        :key="index"
        :class="{'breadcrumbs__actual-link': index === breadcrumbs.length - 1}"
      >
        <nuxt-link
          tag="button"
          :to="crumb.path"
        >
          {{ crumb.name }}
        </nuxt-link>
        <span v-if="index < breadcrumbs.length - 1">/</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    breadcrumbs() {
      const pathArray = this.$route.path.split('/').filter(p => p);
      const breadcrumbs = [{name: 'Home', path: '/'}];
      pathArray.reduce((acc, path, index) => {
        const href = '/' + pathArray.slice(0, index + 1).join('/');
        if (path.includes('-')) {
          path = path.replace('-', ' ')
        }
        acc.push({name: path, path: href});
        return acc;
      }, breadcrumbs);

      return breadcrumbs;
    }
  }
}
</script>

<style lang="scss">
.breadcrumbs {
  margin-top: 12px;

  &__actual-link {
    button {
      color: #6C757D !important;
      cursor: auto !important;
    }

    span {
      display: none !important;
    }
  }

  ul {
    padding: 0;
    display: flex;
    list-style-type: none;

    li {

      button {
        border: none;
        background: none;
        margin: 0 !important;
        padding: 0 !important;
        color: var(--primary);
        text-transform: capitalize;
      }

      span {
        margin: 0 9px;
        display: inline-block;
        color: #6C757D;
      }
    }
  }
}
</style>
