<template>
  <div>
    <Header/>
    <main>
      <slot></slot>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/header/Header.vue';
import Footer from '@/components/footer/Footer.vue';

export default {
  name: 'MainTemplate',
  components: {
    Header,
    Footer
  },
  props: {
    title: {
      type: String,
      default: () => ''
    },
    description: {
      type: String,
      default: () => ''
    },
    keywords: {
      type: String,
      default: () => ''
    }
  },
  head() {
    return {
      title: 'Crypto payment gateway | Business solutions for accept crypto',
      link: [
        {rel: 'canonical', href: `${process.env.serviceUrl}${this.$route.path}`}
      ],
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description
        },
        {
          hid: 'Keywords',
          name: 'Keywords',
          content: this.keywords
        },
        {
          hid: 'og-title',
          property: 'og:title',
          content: 'Bitcoin and Altcoins processing. Apirone.'
        },
        {
          hid: 'og-desc',
          property: 'og:description',
          content: this.description
        },
        {
          hid: 't-title',
          name: 'twitter:title',
          content: 'Bitcoin and Altcoins processing. Apirone.'
        },
        {
          hid: 't-desc',
          name: 'twitter:description',
          content: this.description
        }
      ]
    }
  }
}
</script>

<style scoped>
main {
  overflow-x: hidden;
}
</style>
