<template>
  <div class="template__wrapper">
    <Header/>
    <main class="mb-5">
      <section class="heading pt-5 pb-5 position-relative">
        <div class="container d-flex justify-content-between align-items-center">
          <div class="heading__text">
            <h1 class="mb-3">
              {{ title }}
            </h1>
            <slot name="heading"></slot>
          </div>
          <b-img-lazy
            v-if="img"
            :srcset="`/img/pages/${name}.webp`"
            :src="`/img/pages/${name}.png`"
            :alt="title"
          />
        </div>
      </section>
      <Breadcrumbs/>
      <slot></slot>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/header/Header.vue';
import Footer from '@/components/footer/Footer.vue';
import Breadcrumbs from '@/components/Breadcrumbs.vue';

export default {
  name: 'PageTemplate',
  components: {
    Breadcrumbs,
    Header,
    Footer
  },
  props: {
    name: {
      type: String,
      default: () => ''
    },
    title: {
      type: String,
      default: () => ''
    },
    description: {
      type: String,
      default: () => ''
    },
    img: {
      type: Boolean,
      default: () => false
    },
    keywords: {
      type: String,
      default: () => ''
    },
    mainTitle: {
      type: String,
      default: () => ''
    }
  },
  head() {
    return {
      title: `${this.mainTitle === '' ? this.title : this.mainTitle} — Apirone`,
      link: [
        {rel: 'canonical', href: `${process.env.serviceUrl}${this.$route.path}`}
      ],
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description
        },
        {
          hid: 'Keywords',
          name: 'Keywords',
          content: this.keywords
        },
        {
          hid: 'og-title',
          property: 'og:title',
          content: `${this.title} — Apirone`
        },
        {
          hid: 'og-desc',
          property: 'og:description',
          content: this.description
        },
        {
          hid: 't-title',
          name: 'twitter:title',
          content: `${this.title} — Apirone`
        },
        {
          hid: 't-desc',
          name: 'twitter:description',
          content: this.description
        }
      ]
    }
  }
}
</script>

<style>
.heading {
  background-color: var(--bg);
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
}

.heading img {
  height: 16rem;
}

.heading__text {
  width: 70%;
  max-width: 37rem;
}

.template__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading__text p {
  margin-bottom: .5rem;
}

@media (max-width: 991px) {
  .heading img {
    height: 10rem;
    height: 10rem;
  }

  .heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .heading img {
    height: 9rem;
    height: 9rem;
  }

  /* .heading h1 {
    font-size: 1.5rem;
  } */
  .heading p {
    font-size: .9rem;
  }
}

@media (max-width: 480px) {
  .heading img {
    display: none;
    /* position: absolute;
    bottom: -5rem;
    right: 0%; */
  }

  .heading__text {
    width: 100%;
  }
}
</style>
