<template>
  <label class="switch">
    <input
      type="checkbox"
      class="switch__input"
      :checked="value"
      @change="$emit('input', $event.target.checked)"
    >
    <span class="switch__slider"></span>
  </label>
</template>

<script>
export default {
  name: 'Switcher',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
.switch {
  position: relative;
  display: inline-block;
  width: 123px;
  height: 52px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    //&:checked + .switch__slider {
    //  background-color: white;
    //  border-color: var(--primary);
    //}

    &:checked + .switch__slider:before {
      transform: translateX(68px);
      //background-color: var(--primary);
    }

    &:focus + .switch__slider {
      box-shadow: 0 0 4px 4px rgba(216, 226, 240, 0.2);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--pale-blue);
    border: 2px solid var(--pale-blue);
    transition: .4s;
    border-radius: 52px;

    &:before {
      position: absolute;
      content: "";
      height: 40px;
      width: 40px;
      left: 6px;
      bottom: 5px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
  }
}
</style>
