<template>
  <div class="button-copy">
    <input type="hidden" :value="text" readonly :ref="uid">
    <Button
      class="p-button-text"
      :disabled="disabled"
      :icon="success ? 'pi pi-check' : 'pi pi-copy'"
      :label="label"
      @click="copy"/>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

export default {
  data() {
    return {
      uid: null,
      success: false,
    };
  },
  props: {
    label: String,
    text: String,
    disabled: Boolean,
  },
  mounted() {
    this.uid = `copy${uuidv4()}`;
  },
  methods: {
    copy() {
      const copyText = this.$refs[this.uid];
      copyText.type = 'text';
      copyText.select();
      document.execCommand('copy');
      copyText.type = 'hidden';
      this.success = true;
      this.$toast.add({
        severity: 'info',
        detail: 'Successfully copied to clipboard!',
        life: 3000,
      });
      setTimeout(() => {
        this.success = false;
      }, 1000);
    },
  },
};
</script>

<style lang="scss">
.button-copy {
  .p-button {
    padding: 0;
    .pi-check {
      color: #256029;
    }
  }
}
</style>
