<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Visum.IO - Web-Tool für alle Visumanträge</title>


{#      <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/styles.css') }}"/>#}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='libs/wow/animate.css') }}"/>
  <script src="{{ url_for('static', filename='libs/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/jquery.paroller.min.js') }}"></script>
  {#    <script src="jquery.paroller.min.js"></script>#}
{#  <script src="https://unpkg.com/scrollreveal"></script>#}
</head>
<body class="{% if request.path.endswith('/imprint/') %} imprint__body {% endif %}">
{% include 'components/header.html' %}
{% block body %}{% endblock %}
{% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='libs/rellax/rellax.min.js') }}"></script>
<script>
  new WOW().init();
</script>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      const targetId = this.getAttribute('href');
      const targetElement = document.querySelector(targetId);

      if (targetElement) {
        const topOffset = targetElement.getBoundingClientRect().top + window.pageYOffset;
        const offsetPosition = topOffset - (window.innerHeight * 0.1);

        window.scrollTo({
          top: offsetPosition,
          behavior: 'smooth'
        });
      }
    });
  });
</script>

<script type="module" src="{{ url_for('static', filename='scripts/fade.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/video.js') }}"></script>

{% block script %}{% endblock %}
</body>
</html>
