<template>
  <svg
    :class="{'direction-arrow': direction === 'right'}"
    width="25"
    height="25"
    viewBox="0 0 48 48"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      id="Layer_2"
      data-name="Layer 2"
    >
      <path
        v-if="qtyArrow"
        d="M15.8,24,26.4,34.6a1.9,1.9,0,0,1-.2,3,2.1,2.1,0,0,1-2.7-.2l-11.9-12a1.9,1.9,0,0,1,0-2.8l11.9-12a2.1,2.1,0,0,1,2.7-.2,1.9,1.9,0,0,1,.2,3Z"
        fill="var(--dark-grey)"
      />
      <path
        d="M27.8,24,38.4,34.6a1.9,1.9,0,0,1-.2,3,2.1,2.1,0,0,1-2.7-.2l-11.9-12a1.9,1.9,0,0,1,0-2.8l11.9-12a2.1,2.1,0,0,1,2.7-.2,1.9,1.9,0,0,1,.2,3Z"
        fill="var(--dark-grey)"
      />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    qtyArrow: {
      type: Boolean,
      default: true
    },
    direction: {
      type: String,
      default: 'left'
    }
  },
  computed: {
    qtyArrowComp() {
      if (this.qtyArrow) {
        return 20
      } else {
        return 15
      }
    }
  }
}
</script>

<style scoped lang="scss">
.direction-arrow {
  transform: rotate(180deg);
}

svg:hover {
  path {
    fill: var(--blue);
  }
}
</style>
