<template>
  <svg
    width="23"
    height="23"
    viewBox="0 0 23 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="11.5"
      cy="11.5"
      r="11"
      stroke="white"
    />
    <rect
      x="7.44141"
      y="6.8999"
      width="13.0333"
      height="0.766667"
      rx="0.383333"
      transform="rotate(45 7.44141 6.8999)"
      fill="white"
    />
    <rect
      x="16.6582"
      y="7.44189"
      width="13.0333"
      height="0.766667"
      rx="0.383333"
      transform="rotate(135 16.6582 7.44189)"
      fill="white"
    />
  </svg>
</template>
