<script>
  import {fade, scale} from 'svelte/transition';
  import {linear} from 'svelte/easing';
  import http from "$lib/http.js";
  import {page} from "$app/stores";

  import {onMount} from "svelte";

  let JSONEditor
  onMount(async () => {
    const module = await import('svelte-jsoneditor');
    JSONEditor = module.JSONEditor;
  })

  export let cameraData
  export let isEdit = false

  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''

  export let isValidNotification = true

  const customerKey = $page.params.customer_key
  export let isShowCreateDevice = false
  export let cameraSettings

  let dataValue = {
    title: '',
    settings: {}
  }

  $: {
    if (cameraData) {
      dataValue.title = cameraData.title
      content.json = cameraData.settings
    }
  }

  function togglePopup() {
    isShowCreateDevice = !isShowCreateDevice
    if (!isShowCreateDevice) {
      dataValue.settings = {}
      dataValue.title = ''
      content.json = {}
      isEdit = false
    }
  }

  async function createCameraSettings() {
    const settings = content.json
    try {
      const response = await http.callMethod(`/customers/${customerKey}/camera_settings`, {
        method: 'POST',
        body: JSON.stringify({title: dataValue.title, settings})
      })
      await getCameraSettings()
      titleNotification = 'Success'
      messageNotification = 'Camera settings successfully created'
      isValidNotification = true

    } catch (e) {
      titleNotification = 'Error'
      messageNotification = 'Failed created camera settings'
      isValidNotification = false
    } finally {
      isShowNotification = true
      isShowCreateDevice = false
      isEdit = false
      cameraData = undefined
      setTimeout(() => {
        isShowNotification  = false
      }, 5000)
    }
  }

  async function editCameraSettings() {
    const settings = content.json

    try {
      const response = await http.callMethod(`/customers/${customerKey}/camera_settings/${dataValue.title}`, {
      method: 'PATCH',
      body: JSON.stringify({settings})
    })
      await getCameraSettings()
      titleNotification = 'Success'
      messageNotification = await response.result
      isValidNotification = true

    } catch (e) {
      titleNotification = 'Error'
      messageNotification = 'Failed edited camera settings'
      isValidNotification = false
    } finally {
      isShowNotification = true
      isShowCreateDevice = false
      isEdit = false
      cameraData = undefined
      setTimeout(() => {
        isShowNotification  = false
      }, 5000)
    }
  }

  async function getCameraSettings() {
    const response = await http.callMethod(`/customers/${customerKey}/camera_settings`)
    cameraSettings = await response.result
  }

  let content = {
    text: undefined,
    json: {}
  }

  function handleChange(updatedContent) {
    content.json = JSON.parse(updatedContent.text)
  }

</script>

{#if isShowCreateDevice}
  <button
    on:click={togglePopup} class="mask"
    on:fade={{duration: 300, easing: linear}}
    out:fade={{duration: 300, easing: linear}}
  ></button>
  <section
    class="add-device"
    on:scale={{duration: 200, start: 0.5, easing: linear}}
    out:scale={{duration: 200, start: 0.5, easing: linear}}
  >
    <button on:click={togglePopup} class="close-btn"><i class="apr
       apr-cancel_small"></i></button>
    {#if !isEdit}
      <h2>Add settings</h2>
    {:else}
      <h2>Edit settings</h2>
    {/if}
    <form class="add-device__form">
      <div class="input">
        <label for="">Title</label>
        <input
          bind:value={dataValue.title}
          type="text"
          placeholder="Title"
        >
      </div>
      <div class="input">
        <label for="">Settings</label>
        <JSONEditor
          {content}
          mode={'code'}
          mainMenuBar={false}
          onChange="{handleChange}"
        />
      </div>
      {#if !isEdit}
        <button on:click|preventDefault={createCameraSettings} class="button-add">
          Add +
        </button>
      {:else }
        <button on:click|preventDefault={editCameraSettings} class="button-add">Edit</button>
      {/if}
    </form>
  </section>
{/if}

<style lang="scss">
  .add-device {
    padding: 32px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    z-index: 100;

    .close-btn {
      position: absolute;
      right: 24px;
      top: 24px;
    }

    &__form {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .input + .input {
        margin-top: 16px;
      }

      button {
        margin-top: 16px;
      }
    }
  }
</style>