<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.cases-of-split-payment.title')"
    :description="$t('pages.cases-of-split-payment.description')"
    :keywords="$t('pages.cases-of-split-payment.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page">
        <div>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Example with splitting to exact amounts:
          </h2>
          <p class="mt-4">
            <img
              style="max-width: 1000px"
              src="/img/cases-of-split-payment/split.svg"
              alt=""
            >
          </p>
          <p>
            The Store pays a fixed amount of 0.2 BTC to Referral, 0.3 BTC for Delivery, 1.5 BTC hold for future in Cold
            Storage and rest keep in Business.
          </p>
          <div class="json-wrapper">
            <JsonViewer
              :value="json1"
              preview-mode
            ></JsonViewer>
          </div>
          <p>The Buyer pays for order 10 BTC.</p>
          <ul class="case-page__ul-number">
            <li>
              <div>
                <p style="margin-top: 0 !important; color: var(--black)" class="font-weight-bold">
                  Case: paid less.
                </p>
                <p>
                  If the Buyer pays 1 BTC only, then the amount will be split to
                  0.2, 0.3 and rest 1 - 0.5 = 0.5 will be sent to Cold Storage. The Business address will not receive anything
                  because not enough amount to transfer.
                </p>
              </div>
            </li>
            <li>
              <div>
                <p style="margin-top: 0 !important; color: var(--black)" class="font-weight-bold">
                  Case: paid enough.
                </p>
                <p>
                  The Store receives notification about payment and arrived
                  amount split to specified amounts for different Bitcoin addresses: 0.2, 0.3, 1.5 and rest 10 - 2 = 8 BTC
                  goes to business.
                </p>
              </div>
            </li>
            <li>
              <div>
                <p style="margin-top: 0 !important; color: var(--black)" class="font-weight-bold">
                  Case: overpaid.
                </p>
                <p>
                  The last address (without amount) in the list will receive the
                  rest amount.
                </p>
              </div>
            </li>
          </ul>
          <p>
            Network fee and service fee will be deducted from the last address. It this case deduct from a Business
            part.
          </p>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Example with splitting by percent:
          </h2>
          <p class="mt-4">
            <img
              style="max-width: 1000px"
              src="/img/cases-of-split-payment/split_percent.svg"
              alt=""
            >
          </p>
          <p>
            Let's imagine that you are The Exchanger. You would like to cut 20 percents to Hot Wallet (for future fast
            payout to customers), 30 percents for the Management or arbitrage, and 50 percents to a safe place - Cold
            Storage.
          </p>
          <div class="json-wrapper">
            <JsonViewer
              :value="json2"
              preview-mode
            ></JsonViewer>
          </div>
          <p>
            The order of addresses in the list does not matter. The total sum must be 100 percents. <br> Whole income
            payment is divided into these three addresses proportionally. <br> Network fee and transaction fee will be
            deducted first.
          </p>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import 'vue-json-viewer/style.css'
import JsonViewer from 'vue-json-viewer/ssr'

export default {
  name: 'cases-of-split-payment',
  components: {
    JsonViewer
  },
  data () {
    return {
      json1: {
        callback: {
          url: 'http://example.com/callback',
          data: {
            secret: '7j0ap91o99cxj8k9'
          }
        },
        destinations: [
          { address: '1apiKcJM95jENZeom2dQo8ShK7dUQkRaS', amount: 20000000 },
          { address: '1apimr7q2cL3xPma8SfiDPyTdWSHXSEyB', amount: 30000000 },
          { address: '1ApiwpetcWnBbkpU7cb7biPfc6Tiucasf8', amount: 150000000 },
          { address: '1Api8ZyHPp4f1QNTsi3AGyXbaTnzzAuDez' }
        ]
      },
      json2: {
        callback: {
          url: 'http://example.com/callback',
          data: {
            secret: '7j0ap91o99cxj8k9'
          }
        },
        destinations: [
          { address: '1apiKcJM95jENZeom2dQo8ShK7dUQkRaS', amount: '20%' },
          { address: '1apimr7q2cL3xPma8SfiDPyTdWSHXSEyB', amount: '30%' },
          { address: '1ApiwpetcWnBbkpU7cb7biPfc6Tiucasf8' }
        ]
      }
    }
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
