<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.cpfp.title')"
    :description="$t('pages.cpfp.description')"
    :keywords="$t('pages.cpfp.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page network-fee">
        <h2 class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          What the Child Pays For Parent (CPFP) method is all about
        </h2>
        <p class="mt-2">
          The “Child-Pays-for-Parent” (CPFP) technique means that you send from your stuck unconfirmed transaction (the
          “parent”) a second new transaction (the “child”) with a higher fee covering network duties for both
          transactions. This technique works for UTXO (Unspent Transaction Output) like Bitcoin, Litecoin, Dogecoin,
          Cash, etc., and Bitcoin forks only.
        </p>
        <p>
          Miners get profit from reward + network fees from all transactions in the block. It means miners will prefer a
          more profitable transaction with a small weight to combine into the block with constant size.
        </p>
        <p>
          The Bitcoin consensus rules require that a transaction that creates an output must appear earlier in the
          blockchain than a transaction that spends those outputs. It includes having the parent transaction appear
          earlier in the same block than the child transaction if both are included in the same block.
        </p>
        <p>
          In this case, the whole chain of unconfirmed transactions will be added to the block. It makes no difference
          what amount you send. It could be a few hundred satoshi or the entire amount. The only thing that matters is a
          higher network fee for a new transaction.
        </p>
        <p>For example:</p>
        <img style="width: 100%; max-width: 800px; margin: 0 auto 1rem; display: block" src="/img/blog/cpfp_img1.png" alt="">
        <p>
          A new unconfirmed transaction with a higher network fee is more profitable for miners, and they will take the
          whole chain with both unconfirmed transactions into a block. That is how it works.
        </p>
        <img style="width: 100%; max-width: 800px; display: block; margin: 0 auto;"
             src="/img/blog/cpfp_img2.png"
             alt="">
        <p style="color: #b2b2b2; text-align: center; margin-bottom: 3rem;">btc.com - blockchain explorer</p>
        <h2 style="margin-top: 2rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          In practice, it means that:
        </h2>
        <ul style="margin-top: 1.5rem;" class="case-page__ul-number">
          <li>
            <span>1</span>
            <div>
              <p style="margin-top: 0 !important;">
                You have a transaction that has been unconfirmed for a long time because of the low network fee. It is a
                “parent” transaction. One of the addresses you are sending coins in this transaction has no confirmed
                funds.
              </p>
            </div>
          </li>
          <li>
            <span>2</span>
            <div>
              <p style="margin-top: 0 !important;">
                Create a new transaction sending some coins from this address using these UTXO. The amount you send does
                not matter. The only thing that matters is the network fee. It shall usually be high to cover both
                transactions’ fees. It will be a so-called “child” transaction.
              </p>
            </div>
          </li>
          <li>
            <span>3</span>
            <div>
              <p style="margin-top: 0 !important;">
                The “child” pays for the “parent” due to its higher network fee. Miners will take them both. And they
                will be confirmed.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </PageTemplate>
</template>
<script>

export default {
  name: 'cpfp',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.network-fee a {
  word-break: break-word;
}

.network-fee__group-link {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.network-fee__group-link > a {
  margin: 0 1rem;
}

.network-fee__group-link > a:first-child {
  margin-left: 0;
}

.network-fee__mempool {
  margin: 1rem 0 2rem;
  display: inline-block;
}

@media (max-width: 767px) {
  .network-fee__group-link > a {
    width: 24%;
  }

  .network-fee__group-link > a > img {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .network-fee__group-link {
    flex-wrap: wrap;
    justify-content: center;
  }

  .network-fee__group-link > a {
    width: auto;
    margin: 0.7rem 1rem !important;
  }
}
</style>
