<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.crypto-dictionary.title')"
    :description="$t('pages.crypto-dictionary.description')"
    :keywords="$t('pages.crypto-dictionary.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page dictionary">
        <div
          v-for="word in words"
          :id="word.id"
          :key="word.id"
          class="dictionary-word py-2 my-2"
        >
          <h2>
            <a :href="`#${word.id}`">#</a>
            {{ word.title }}
          </h2>
          <p>
            {{ word.description }}
            <code
              v-if="word.link"
              class="mt-2"
            >
              <a
                :href="word.link.url"
                target="_blank"
              >
                <WikiIcon v-if="word.link.title === 'wikipedia.org'" />
                <LinkIcon v-else />
                {{ word.link.title }}
              </a>
            </code>
          </p>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import WikiIcon from '@/components/icons/WikiIcon.vue'
import LinkIcon from '@/components/icons/LinkIcon.vue'

export default {
  name: 'crypto-dictionary',
  components: {
    WikiIcon,
    LinkIcon
  },
  data () {
    return {
      words: this.$t('crypto-dictionary').sort((a, b) => a.title.localeCompare(b.title))
    }
  },
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.dictionary-word {
  border-bottom: 1px solid var(--bg);
}

.dictionary-word h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem !important;
}

.dictionary-word code {
  display: block;
}

.dictionary-word h2 a {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  opacity: 0;
  transition: .3s;
}

.dictionary-word h2:hover a {
  display: inline-block;
  opacity: 1;
}
</style>
