<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.forwarding-payments.title')"
    :description="$t('pages.forwarding-payments.description')"
    :keywords="$t('pages.forwarding-payments.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page">
        <h2 style="margin-bottom: 2rem !important;" class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          Transaction Scheme
        </h2>
        <img
          style="margin-bottom: 3rem; max-width: 900px; width: 100%;"
          src="/img/forwarding-payments/forwarding-process.svg"
          alt=""
        >
        <!--        <ul class="case-page__ul-number">-->
        <!--          <li>-->
        <!--            <div>-->
        <!--              <p-->
        <!--                style="margin-top: 0 !important; color: var(&#45;&#45;black); margin-bottom: 2rem !important;"-->
        <!--                class="font-weight-bold"-->
        <!--              >-->
        <!--                Transaction 1. Forwarding-->
        <!--              </p>-->
        <!--              <img-->
        <!--                style="width: 100%"-->
        <!--                src="/img/forwarding-payments/forwarding-payments1.jpg"-->
        <!--                alt=""-->
        <!--              >-->
        <!--              <p>-->
        <!--                When a customer pays in crypto, first, the coins are forwarded to an address generated in the Apirone-->
        <!--                wallet. This address will never expire, and we will monitor it infinitely. Also, in case of further-->
        <!--                payments, we will inform you about all details of its payments. You can store it in your wallet's-->
        <!--                address-->
        <!--                book for reuse.-->
        <!--              </p>-->
        <!--            </div>-->
        <!--          </li>-->
        <!--          <li>-->
        <!--            <div>-->
        <!--              <p-->
        <!--                style="margin-top: 0 !important; color: var(&#45;&#45;black); margin-bottom: 2rem !important;"-->
        <!--                class="font-weight-bold"-->
        <!--              >-->
        <!--                Transaction 2. Transfer to your address-->
        <!--              </p>-->
        <!--              <img-->
        <!--                style="width: 100%"-->
        <!--                src="/img/forwarding-payments/forwarding-payments2.jpg"-->
        <!--                alt=""-->
        <!--              >-->
        <!--              <p>-->
        <!--                Next, coins are sent from the forwarding address to your address. The network fee is counted-->
        <!--                automatically-->
        <!--                and is subtracted from the amount transferred.-->
        <!--                You can specify an address in your cold/hard wallet or on the crypto exchange.-->
        <!--                <br><br>-->
        <!--                This payment processing method is something in between custodial and non-custodial services. It means we-->
        <!--                control the coins for only a short period, after which they are transferred to you, and then you have-->
        <!--                total-->
        <!--                control of them.-->
        <!--              </p>-->
        <!--            </div>-->
        <!--          </li>-->
        <!--        </ul>-->
        <div>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Transaction 1. Forwarding
          </h2>
          <p class="mt-4">
            <img
              style="max-width: 1000px; width: 100%;"
              src="/img/forwarding-payments/forwarding-payments1.jpg"
              alt=""
            >
          </p>
          <p>
            When a customer pays in crypto, first, the coins are forwarded to an address generated in the Apirone
            wallet. This address will never expire, and we will monitor it infinitely. Also, in case of further
            payments, we will inform you about all details of its payments. You can store it in your wallet's address
            book for reuse.
          </p>
        </div>
        <div style="margin-top: 3rem;">
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Transaction 2. Transfer to your address
          </h2>
          <p class="mt-4">
            <img
              style="max-width: 1000px; width: 100%;"
              src="/img/forwarding-payments/forwarding-payments2.jpg"
              alt=""
            >
          </p>
          <p>
            Next, coins are sent from the forwarding address to your address. The network fee is counted automatically
            and is subtracted from the amount transferred.
            You can specify an address in your cold/hard wallet or on the crypto exchange.
            <br><br>
            This payment processing method is something in between custodial and non-custodial services. It means we
            control the coins for only a short period, after which they are transferred to you, and then you have
            total
            control of them.
          </p>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import JsonViewer from 'vue-json-viewer/ssr';
import TickCases from '@/components/icons/TickCases.vue';

export default {
  name: 'forwarding',
  components: {JsonViewer, TickCases},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.restful-api h2 {
  margin: 1.5rem 0 0.5rem !important;
}

.restful-api__endpoint-url {
  margin: 2rem 0 !important;
  color: var(--black);
}

@media (max-width: 500px) {
  .restful-api__endpoint-url {
    font-size: 19px;
  }

  .restful-api__table td {
    font-size: 14px;
  }
}
</style>
