<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.blog.title')"
    :description="$t('pages.blog.description')"
    :keywords="$t('pages.blog.keywords')"
    :img="true"
  >
    <section class="blog pt-5">
      <div class="container">
        <b-container>
          <b-row class="blog-items">
            <b-col
              v-for="(item, index) in $t('blog')"
              :key="`item${index}`"
              class="blog-item"
              md="6"
              lg="4"
            >
              <b-link
                :to="localePath({ path: `/blog/${item.link}/` })"
                class="blog-link"
              >
                <div class="blog-link__img w-100 d-flex justify-content-center">
                  <img
                    :src="`/img/blog/${item.link}.svg`"
                    :alt="item.title"
                  >
                </div>
                <div class="blog-link__text d-flex mt-3">
                  <div class="blog-link__text-left mr-2">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.text }}</p>
                  </div>
                  <div class="blog-link__text-right d-flex justify-content-center align-items-center">
                    <ArrowIcon />
                  </div>
                </div>
              </b-link>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import ArrowIcon from '@/components/icons/ArrowIcon.vue'

export default {
  name: 'blog',
  components: {
    ArrowIcon
  }
}
</script>

<style scoped>
.blog-items {
  margin: 0 -.938rem;
}

.blog-item {
  margin-bottom: 1.875rem;
}

.blog-item:hover img {
  transform: scale(1.1);
}

.blog-link__img {
  max-width: 100%;
  height: 8rem;
  background-color: var(--bg);
}

.blog-link__img img {
  width: 100%;
  transition: .3s;
}

.blog-link__text {
  min-height: 10rem;
  transition: .3s;
}

/* .blog-item:hover .blog-link__text {
  opacity: .6;
}  */

.blog-link__text p {
  color: rgba(47, 46, 65, 0.7);
  font-size: .9rem;
}

.blog-link__text h2 {
  color: var(--primary);
  font-size: 1.5rem;
}

.blog-link__text-right {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2.5rem;
  align-self: flex-end;
  border: .0625rem solid rgba(93, 138, 185, 0.7);
  color: rgba(93, 138, 185, 0.7);
  border-radius: 50%;
}
</style>
