<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.network-fee.title')"
    :description="$t('pages.network-fee.description')"
    :keywords="$t('pages.network-fee.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page network-fee">
        <h2 class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          What is a network fee
        </h2>
        <p class="mt-2">
          The network fee is a payment for a transaction. It was introduced intentionally to prevent spam transactions that could have slowed down or clogged the network.
          Miners receive a reward for the mined block plus a network fee from each transaction in this block.
          They prefer choosing easy transactions with a higher network fee and having more of them get in the block to get the maximum income. It creates competition among transactions. The higher the network fee, the more preferred your transaction will be for miners and the faster it will enter the nearest block.
        </p>
        <p>The network fee is calculated based on confirmed blocks, the network load, and transaction competition. However, it is impossible to predict the growth in the number of transactions in the future. </p>
        <h2 class="case-page__title-arrow">
          <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
          Sending a transaction via Apirone service
        </h2>
        <p class="mt-2">
          When a user sends a transaction via the Apirone service with the current fee, the transaction immediately enters the pool of unconfirmed transactions (mempool). Apirone cannot guarantee that the transaction will enter the nearest blocks, as the network fee is based on predictions that may not be accurate. With the advent of Ordinals and the BRC-20 standard, the number of unconfirmed transactions has increased, causing network fees to rise. This phenomenon was unpredictable. It means ordinary transactions will “get stuck” again and more often until the hype subsides.
        </p>
        <p>
          We constantly check if the transactions we sent are present in the mempool and, if not, we re-broadcast them so that nodes, miners, and blockchain explorers do not lose them. The transaction cannot be canceled or sent again with another network fee, but it will not be lost either. It remains only to wait for confirmation. After sending, our service has no more control over the funds, and is not responsible for their future life.
        </p>
        <p>
          If the transaction gets “stuck” and there is no time to wait, you can contact the miners directly and have them add your transactions to the nearest block for some reward. The price for such a service will be higher than if you indicate a higher network fee when sending, but the miners will help.
        </p>
        <div class="network-fee__group-link">
          <a target="_blank" href="https://explorer.viawallet.com/btc/tool/txaccelerator">
            <b-img-lazy
              src="/img/blog/via-wallet.svg"
              alt="Via wallet"
            />
          </a>
          <a target="_blank" href="https://www.viabtc.com/tools/txaccelerator">
            <b-img-lazy
              src="/img/blog/via-btc.svg"
              alt="Via BTC"
            />
          </a>
          <a target="_blank" href="https://pool.binance.com/en/acceleration">
            <b-img-lazy
              src="/img/blog/binance-pool.svg"
              alt="Binance pool"
            />
          </a>
          <a target="_blank" href="https://www.f2pool.com/user/tx-acc">
            <b-img-lazy
              src="/img/blog/f2pool.svg"
              alt="F2pool"
            />
          </a>
        </div>
        <h4 class="mt-4 mb-4">
          Check the price in each of the pools, as it may differ.
        </h4>
        <p>
          We recommend setting a priority fee when you send out transactions because the above-mentioned situation has already been continuing for several months, and it is hard to predict the end of it. Such a fee is slightly more expensive but it increases the chance of transaction confirmation as soon as possible. If you are an advanced user, you can customize the fee, calculate it independently, or receive data from third-party sources.
        </p>
        <a class="network-fee__mempool" target="_blank" href="https://mempool.space">
          <b-img-lazy
            src="/img/blog/mempool.svg"
            alt="Mempool"
          />
        </a>
        <p>
          More details in our Medium article <a target="_blank" href="https://medium.com/@apirone/faq-where-is-my-btc-946da7bd5f6e">https://medium.com/@apirone/faq-where-is-my-btc-946da7bd5f6e</a>
        </p>
        <!--        <router-link :to="localePath('faq')" tag="a" class="btn-link">-->
        <!--          Open FAQ-->
        <!--        </router-link>-->
        <p>
          FAQ: <nuxt-link :to="localePath('faq')">
            https://apirone.com/faq/
          </nuxt-link>
        </p>
      </div>
    </section>
  </PageTemplate>
</template>
<script>

export default {
  name: 'network-fee',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.network-fee a {
    word-break: break-word;
}

.network-fee__group-link {
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.network-fee__group-link > a {
    margin: 0 1rem;
}

.network-fee__group-link > a:first-child {
    margin-left: 0;
}

.network-fee__mempool {
    margin: 1rem 0 2rem;
    display: inline-block;
}

@media (max-width: 767px) {
    .network-fee__group-link > a {
        width: 24%;
    }

    .network-fee__group-link > a > img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .network-fee__group-link {
        flex-wrap: wrap;
        justify-content: center;
    }

    .network-fee__group-link > a {
        width: auto;
        margin: 0.7rem 1rem !important;
    }
}
</style>
