<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.payment-process.title')"
    :description="$t('pages.payment-process.description')"
    :keywords="$t('pages.payment-process.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container case-page">
        <div>
          <div class="row justify-content-center mb-4">
            <div class="col-lg-8">
              <img
                src="/img/payment-process/schema_en.svg"
                alt=""
                width="100%"
                style="max-width: 800px"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>1</span>
              <div>
                <p style="margin-top: 0 !important;">
                  Let's look at a step-by-step detailed instruction on how to accept bitcoin payments in your own project.
                  You can create and implement our API to CMS e-commerce shop, bot messenger (telegram, skype...), POS
                  software or mobile application. Let's conditionally take the Store, the Buyer, and our API Server as
                  participants in the process of sale.
                </p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_1.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>2</span>
              <div>
                <p style="margin-top: 0 !important;">
                  The Buyer prepared the order and click to pay via bitcoins.
                </p>
                <p>The Store sends own destination bitcoin address and site callback URL to our API Server.</p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_2.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>3</span>
              <div>
                <p style="margin-top: 0 !important;">
                  The server generates new bitcoin address and returns it to the Store.
                </p>
                <p>The store can get current exchange rate and convert USD, EUR, CAD, etc. currencies to BTC.</p>
                <p>Using new address and converted the amount in BTC Store can create QR code for Buyer's payment.</p>
                <p>
                  Store show QR code, address and amount on invoice page to Buyer. Store save new address related to Buyers
                  order in own database for future.
                </p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_3.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>4</span>
              <div>
                <p style="margin-top: 0 !important;">
                  Because the Buyer can change their mind, not pay for the order or pay later, when the new address is
                  generated, our Server adds it to the watch list. Also, the server continuously monitors the blockchain
                  network and searches for Buyer transactions at the Store.
                </p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_4.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>5</span>
              <div>
                <p style="margin-top: 0 !important;">
                  Buyer scan QR code and pay for the order. This transaction goes to the blockchain.
                </p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_5.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>6</span>
              <div>
                <p style="margin-top: 0 !important;">
                  Our Server immediately got it and send a callback to supplied Store URL. Now it's first callback about
                  <strong>the unconfirmed</strong> transaction. It's too early to pass order from Store to Buyer. We just
                  notify that payment initiated.
                </p>
                <p>
                  The Store can update the database that payment unconfirmed and show it to the Buyer. As a response, we
                  would like to receive the message <code class="bov"><strong>*ok*</strong></code> in plain text format.
                </p>
                <p>Waiting for payment confirmation on the network. Usually, it will take about ten minutes.</p>
                <p>
                  Got it. After 1 confirmation our Server forward confirmed bitcoins to Store's destination address and do
                  the second callback.
                </p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_6.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>7</span>
              <div>
                <p style="margin-top: 0 !important;">
                  Now the Buyer gets the desired order.
                </p>
                <p>Store finished order and ready for next customers.</p>
              </div>
            </li>
          </ul>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-lg-4">
              <img
                src="/img/payment-process/accept_payment_frame_3.svg"
                alt=""
                width="100%"
              >
            </div>
          </div>
          <ul class="case-page__ul-number">
            <li>
              <span>8</span>
              <div>
                <p style="margin-top: 0 !important;">
                  This generated address saved as related to supplied URL In our database. We will endlessly monitor it
                  regardless of payments because the Store can sell the same goods repeatedly. Or can use this address to
                  top-up user's account balance in a project, for example, the game balance or advertisement balance. Or the
                  Buyer by mistake will re-send the payment, then store return it back.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'payment-process',
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>
