<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.restful-api.title')"
    :description="$t('pages.restful-api.description')"
    :keywords="$t('pages.restful-api.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container restful-api case-page">
        <div>
          <p>
            A RESTful API is an application program interface (API) that uses&nbsp;HTTP&nbsp;requests to GET, PUT, POST
            and DELETE data. A RESTful API is based on representational state transfer (REST) technology, an
            architectural style, and approach to communications often used in&nbsp;web services&nbsp;development.
          </p>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Overview
          </h2>
          <p>
            The Apirone bitcoin REST API uses HTTP methods and a RESTful endpoint structure. <br>
            You have to format requests in JSON and the APIs return JSON-formatted responses.
          </p>
          <p style="color: var(--black)" class="font-weight-bold">All requests over secure HTTPS protocol only.</p>
          <h6>To construct a REST call, combine:</h6>
          <ul class="case-page__ul">
            <li>
              <TickCases />
              The HTTP method
            </li>
            <li>
              <TickCases />
              The full URI to the resource
            </li>
            <li>
              <TickCases />
              HTTP headers, if required
            </li>
            <li>
              <TickCases />
              The JSON-formatted payload, if required
            </li>
          </ul>
          <h4 class="mt-2 restful-api__endpoint-url">
            The REST API endpoint URL:&nbsp;<code style="color: var(--primary)" class="bov">https://apirone.com/api/</code>
          </h4>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            Errors
          </h2>
          <p>
            Apirone uses standard HTTP status codes when returning errors. <br>
            Additionally, we provide details about errors in the body of the response.
          </p>
          <h2 class="case-page__title-arrow">
            <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
            HTTP status codes:
          </h2>
          <table
            border="0"
            cellpadding="0"
          >
            <tbody class="restful-api__table">
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-success">200</span>
                </td>
                <td class="pl-3">
                  Request successfully executed.
                </td>
                <td class="pl-3">
                  Success.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-danger">400</span>
                </td>
                <td class="pl-3">
                  Bad Request.
                </td>
                <td class="pl-3">
                  Invalid request format.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-secondary">401</span>
                </td>
                <td class="pl-3">
                  Unauthorized request.
                </td>
                <td class="pl-3">
                  Invalid API Key.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-danger">402</span>
                </td>
                <td class="pl-3">
                  Failed request.
                </td>
                <td class="pl-3">
                  We had a problem with our API.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-secondary">403</span>
                </td>
                <td class="pl-3">
                  Forbidden.
                </td>
                <td class="pl-3">
                  You do not have access to the requested resource.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-secondary">404</span>
                </td>
                <td class="pl-3">
                  Not Found.
                </td>
                <td class="pl-3">
                  API not found.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="btn btn-xs btn-pill btn-danger">50x</span>
                </td>
                <td class="pl-3">
                  Internal Server Error.
                </td>
                <td class="pl-3">
                  We had a problem with our server
                  <a
                    class="docs-top"
                    style="display: none"
                    href="#"
                  >
                    Back to top
                  </a>.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import TickCases from '@/components/icons/TickCases.vue';

export default {
  name: 'restful-api',
  components: {TickCases},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  }
}
</script>

<style scoped>
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
}
.restful-api h2 {
    margin: 1.5rem 0 0.5rem !important;
}

.restful-api__endpoint-url {
    margin: 2rem 0 !important;
    color: var(--black);
}

@media (max-width: 500px) {
    .restful-api__endpoint-url {
        font-size: 19px;
    }
    .restful-api__table td {
        font-size: 14px;
    }
}
</style>
