<template>
  <div>
    <div class="d-flex align-items-center justify-content-between">
      <h3>Estimation</h3>
      <Button
        label="Refresh"
        icon="pi pi-refresh"
        class="p-button-text"
        style="padding: 0.5rem 0;"
        @click="$parent.doEstimate()"/>
    </div>
    <div class="transfer__estimate" v-if="data">
      <div class="payment__row1">
        <div class="payment__row1-destinations">
          <h3 class="h3">
            Destinations
          </h3>
          <span class="span" v-for="(d, index) in data.destinations" :key="index">
            <span v-if="d.address !== data?.fee?.processing?.address">
              <a
                target="_blank"
                :href="getExplorerHref($store.state.wallet.name, 'address', d.address, $store.state.wallet.currency)"
                class="link hovered">
                <span class="pi pi-external-link" style="margin-right: .5rem;"></span>
                <span v-if="$store.state.shorterFlag">
                  {{ getShorter(d.address) }}
                </span>
                <span v-else>
                  {{ d.address }}
                </span>
              </a>
              <Skeleton width="0rem" height="1.857rem"></Skeleton>
            </span>
          </span>
        </div>
        <div class="payment__row1-amount">
          <h3 class="h3">
            Amount
          </h3>
          <span class="span" v-for="(d, index) in data.destinations" :key="index">
            <span v-if="d.address !== data?.fee?.processing?.address">
              <div>
                <span>
                  {{ (d.amount * $store.state.wallet['units-factor'])
                    .toFixed($store.state.wallet.toFixed) }}
                  {{ formatCurrency($store.state.wallet.currency) }}
                </span>
                <div style="opacity: .6; margin-top: 0.5rem;">
                  <div class="amount" v-if="$store.state.ticker.current">
                    <span>
                      {{
                        (
                          d.amount *
                          $store.state.wallet['units-factor'] *
                          $store.state.ticker.current.value
                        ).toFixed(2)
                      }}
                    </span>
                    <span class="currency">
                      {{ $store.state.ticker.current.name }}
                    </span>
                  </div>
                  <div v-else>
                    <Skeleton width="7rem" height="1.357rem"></Skeleton>
                  </div>
                </div>
              </div>
            </span>
          </span>
        </div>
      </div>
      <div class="payment__row2">
        <h3 class="h3">Fee</h3>
        <div class="payment__row2-line" v-if="data.fee.processing">
          <h4 class="h4">Service</h4>
          <span class="span">
            {{ getShorter(data.fee.processing.address) }}
          </span>
          <div>
            <span class="span">
              {{
                (
                  data.fee.processing.amount * $store.state.wallet['units-factor']
                ).toFixed($store.state.wallet.toFixed)
              }}
              {{ formatCurrency($store.state.wallet.currency) }}
            </span>
            <div class="span" style="opacity: .6; margin-top: 0.5rem;">
              <div class="amount" v-if="$store.state.ticker.current">
                <span>
                  {{
                    (
                      data.fee.processing.amount *
                      $store.state.wallet['units-factor'] *
                      $store.state.ticker.current.value
                    ).toFixed(2)
                  }}
                </span>
                <span class="currency">
                  {{ $store.state.ticker.current.name }}
                </span>
              </div>
              <div v-else>
                <Skeleton width="7rem" height="1.357rem"></Skeleton>
              </div>
            </div>
          </div>
        </div>
        <div class="payment__row2-line" v-else>
          <h4 class="h4">Service</h4>
          <span class="span">
            {{ (0).toFixed($store.state.wallet.toFixed) }}
            {{ formatCurrency($store.state.wallet.currency) }}
          </span>
        </div>
        <div class="payment__row2-line">
          <h4 class="h4">Network</h4>
          <div>
            <span class="span">
              {{
                (
                  data.fee.network.amount * $store.state.wallet['units-factor']
                ).toFixed($store.state.wallet.toFixed)
              }}
              {{ formatCurrency($store.state.wallet.currency) }}
            </span>
            <div class="span" style="opacity: .6; margin-top: 0.5rem;">
              <div class="amount" v-if="$store.state.ticker.current">
                <span>
                  {{
                    (
                      data.fee.network.amount *
                      $store.state.wallet['units-factor'] *
                      $store.state.ticker.current.value
                    ).toFixed(2)
                  }}
                </span>
                <span class="currency">
                  {{ $store.state.ticker.current.name }}
                </span>
              </div>
              <div v-else>
                <Skeleton width="7rem" height="1.357rem"></Skeleton>
              </div>
            </div>
          </div>
        </div>
        <div class="payment__row2-line">
          <h4 class="h4">Subtract from amount</h4>
          <span class="span">
            <span class="span pi pi-check" v-if="data.fee['subtract-from-amount']"></span>
            <span class="span pi pi-times" v-else></span>
          </span>
        </div>
      </div>
      <div class="payment__total">
        <h3>Total</h3>
        <div>
          <strong style="color: rgb(73, 80, 87);">
            {{
              (
                data.total * $store.state.wallet['units-factor']
              ).toFixed($store.state.wallet.toFixed)
            }}
            {{ formatCurrency($store.state.wallet.currency) }}
          </strong>
          <div style="opacity: .6; margin-top: 0.5rem;">
            <div class="amount" v-if="$store.state.ticker.current">
              <span>
                {{
                  (
                    data.total *
                    $store.state.wallet['units-factor'] *
                    $store.state.ticker.current.value
                  ).toFixed(2)
                }}
              </span>
              <span class="currency">
                {{ $store.state.ticker.current.name }}
              </span>
            </div>
            <div v-else>
              <Skeleton width="7rem" height="1.357rem"></Skeleton>
            </div>
          </div>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-between"
        style="margin-top: 1rem;"
      >
        <div class="transfer-notice" v-if="notice">
          {{ notice }}
        </div>
        <Button
          type="button"
          icon="pi pi-angle-right"
          label="Send"
          class="p-button d-flex"
          style="min-width: fit-content; height: 2.7rem; margin-left: auto;"
          :disabled="$parent.estimate.loading"
          @click="(displayConfirmation = true)"
        />
      </div>
    </div>
    <div v-else-if="$parent.estimate.loading">
      <div class="transfer__estimate">
        <div class="payment__row1">
          <div class="payment__row1-destinations">
            <h3 class="h3">
              Destinations
            </h3>
            <span class="span">
              <Skeleton width="7rem" height="1.357rem"></Skeleton>
              <Skeleton width="0rem" height="1.857rem"></Skeleton>
            </span>
          </div>
          <div class="payment__row1-amount">
            <h3 class="h3">
              Amount
            </h3>
            <span class="span">
              <Skeleton width="7rem" height="1.357rem"></Skeleton>
              <Skeleton width="7rem" height="1.357rem" style="margin-top: .5rem;"></Skeleton>
            </span>
          </div>
        </div>
        <div class="payment__row2">
          <h3 class="h3">Fee</h3>
          <div class="payment__row2-line">
            <h4 class="h4">Service</h4>
            <div>
              <span class="span">
                <Skeleton width="7rem" height="1.357rem"></Skeleton>
              </span>
              <div style="margin-top: 0.5rem;">
                <div>
                  <Skeleton width="7rem" height="1.357rem"></Skeleton>
                </div>
              </div>
            </div>
          </div>
          <div class="payment__row2-line">
            <h4 class="h4">Network</h4>
            <div>
              <span class="span">
                <Skeleton width="7rem" height="1.357rem"></Skeleton>
              </span>
              <div style="margin-top: 0.5rem;">
                <div>
                  <Skeleton width="7rem" height="1.357rem"></Skeleton>
                </div>
              </div>
            </div>
          </div>
          <div class="payment__row2-line">
            <h4 class="h4">Subtract from amount</h4>
            <span class="span">
              <Skeleton width="1.5rem" height="1.357rem"></Skeleton>
            </span>
          </div>
        </div>
        <div class="payment__total">
          <h3>Total</h3>
          <Skeleton width="7rem" height="1.357rem"></Skeleton>
        </div>
      </div>
    </div>
    <div v-else>
      <p>Fill in destinations, please.</p>
    </div>
    <Dialog
      v-model:visible="displayConfirmation"
      @hide="transferKey = ''"
      style="width: 450px;">
      <template #header>
        <h3>Confirmation</h3>
      </template>
      <div>
        <p>Confirm your decision by entering Transfer Key</p>
        <div class="field">
          <span class="p-input-icon-right w-100">
            <Password
              v-model="transferKey"
              :toggleMask="true"
              :feedback="false"
              class="w-100"
              @keyup.enter="send()"
              placeholder="Transfer key"
              autofocus/>
          </span>
        </div>
      </div>
      <template #footer>
        <Button
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          @click="displayConfirmation = false"/>
        <Button
          type="button"
          :icon="$parent.estimate.loading
            ? 'pi pi-spin pi-spinner'
            : 'pi pi-check'"
          label="Confirm"
          class="p-button"
          style="margin-top: 1rem;"
          :disabled="$parent.estimate.loading"
          @click="send()"/>
      </template>
    </Dialog>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: null,
    },
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      displayConfirmation: false,
      transferKey: '',
    };
  },
  computed: {
    notice() {
      let notice = null;

      if (this.data) {
        const { amount } = this.data;
        const fee = this.data.fee.network.amount;
        const { rate } = this.data.fee.network;
        const { strategy } = this.data.fee.network;
        const feeList = this.$store.state.fee.list;
        // if (((fee / amount) * 100) > 20) {
        // eslint-disable-next-line max-len
        //   notice = 'Notice: The recommended network fee is currently abnormally high. Your transaction fee looks too expensive compared to the transfer amount.';
        // } else
        if (strategy === 'custom') {
          feeList.forEach((feeItem) => {
            if ((feeItem.strategy === 'normal') && (feeItem.rate > rate)) {
              notice = 'Notice: An extremely low network fee is set, the transaction can be stuck for a long time.';
            }
            // else if ((feeItem.strategy === 'priority') && ((feeItem.rate * 2) < rate)) {
            // eslint-disable-next-line max-len
            //   notice = 'Notice: You set an extremely high fee for the transaction, please check it again, it might be a mistake.';
            // }
          });
        }
      }

      return notice;
    },
  },
  methods: {
    getShorter(value) {
      return `${value.slice(0, 7)}...${value.slice(-7)}`;
    },
    send() {
      this.$parent.estimate.loading = true;
      const destinations = this.$parent.destinations.split(',');
      destinations.forEach((destination, index) => {
        const item = destination.split(':');
        const lastElId = item.length - 1;
        if (item[lastElId].indexOf('%') !== item[lastElId].length - 1) {
          item[lastElId] = parseInt(item[lastElId], 10);
        }
        const amount = item[lastElId];
        item.length -= 1;
        destinations[index] = {
          address: item.join(':'),
          amount,
        };
      });
      const isSubtract = this.data.fee['subtract-from-amount'];
      let params = {
        destinations,
        fee: this.$store.state.fee.current.strategy,
        subtract_fee_from_amount: isSubtract,
        'fee-rate': parseFloat(this.$store.state.fee.current.rate).toFixed(0),
        addresses: this.$parent.addresses,
        transfer_key: this.transferKey,
      };
      if (this.currency) {
        params = Object.assign(params, {
          currency: this.currency,
        });
      }
      this.$axios
        .post(`/api/v2/${this.type}s/${this.$store.state.id}/transfer`, params)
        .then((response) => {
          this.$parent.success.data = response.data;
          this.displayConfirmation = false;
          this.$parent.success.show = true;
        })
        .catch((error) => {
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error?.response?.data?.message,
            life: 3000,
          });
        })
        .then(() => {
          this.$parent.estimate.loading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.payment__row1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e9ecef;
  padding: 1rem 0;

  .span {
    display: block;
    margin-top: .5rem;
  }

  .h3 {
    margin-top: 0;
    font-size: 1rem;
  }

  .payment__row1-amount {
    .h3, .span {
      text-align: right;
    }
  }
}

.payment__row2 {
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;

  .h3 {
    margin-top: unset;
  }
}

.payment__row2-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;

  .span {
    text-align: right;
  }

  .h4 {
    margin: 0;
  }
}

.payment__total {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;

  h3 {
    margin: 0;
  }

  >div {
    font-size: 1.17rem;
    text-align: right;
  }
}

.transfer-notice {
  color: rgba(#5d8ab9, .8);
  margin-right: 1rem;
}
</style>
