<template>
  <div>
    <div>
      <div class="transfer__step1-heading d-flex justify-content-between">
        <h3>Destinations</h3>
        <div class="transfer__step1-switch d-flex align-items-center">
          <span class="span">Crypto</span>
          <InputSwitch
            :disabled="!$store.state.ticker?.current"
            v-model="fiat"
            style="margin: 0 1rem;"/>
          <span class="span">Fiat</span>
        </div>
      </div>
      <InputsList :disabled="!$store.state.ticker?.current"/>
    </div>
    <div style="margin-top: 2rem;">
      <h3>Fee</h3>
      <div class="transfer__step1-fee">
        <div v-if="!$store.state.currency.includes('trx')" class="p-inputgroup">
          <Dropdown
            :disabled="!$store.state.ticker?.current ||
                    $store.state.currency === 'usdt' ||
                    $store.state.currency === 'trx'"
            :options="$store.state.fee.list"
            :modelValue="$store.state.fee.current"
            @change="onSelect"
            style="max-width: 8rem;">
            <template #value="slotProps">
              <span>
                {{ slotProps.value.strategy }}
              </span>
            </template>
            <template #option="slotProps">
              <span>
                {{ slotProps.option.strategy }}
              </span>
            </template>
          </Dropdown>
          <InputText
            :value="$store.state.fee.current.rate"
            @input="onInput"
            @keypress="isInt($event)"
            :disabled="
              ($store.state.fee.current.strategy !== 'custom') || !$store.state.ticker?.current
            "
            style="max-width: 5rem;"/>
          <div
            class="d-flex align-items-center"
            style="margin: 0 .5rem; opacity: .6;"
          >
              <span
                v-if="$store.state.currency !== 'usdt'
                && $store.state.currency !== 'trx'"
              >
                satoshi/byte
              </span>
          </div>
        </div>
        <div v-else class="transfer__fee-trx">
          <div>{{ $store.state.fee.current.strategy }}</div>
          <div>{{ $store.state.fee.current.rate }}</div>
        </div>
        <div class="field-checkbox">
          <Checkbox
            id="isSubtract"
            v-model="isSubtract"
            :binary="true"
            :disabled="isFullAmount || !$store.state.ticker?.current"
            @change="(inputsList.length <= 1) || estimate()"/>
          <label for="isSubtract">Subtract from amount</label>
        </div>
      </div>
    </div>
    <div class="transfer__notice">
      <b>Liability waiver</b>: blockchain network fees are based on node prediction.
      Apirone is not responsible for calculating the network
      fees and confirming the transaction in the nearest block.
      Read more about network fee
      <a
        target="_blank"
        :href="`${$store.state.serviceUrl}/faq#transaction-fees-related-to-waiting-time`"
      >
        here
      </a>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import InputsList from '@/components/InputsList.vue';

export default {
  components: {
    InputsList,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      fiat: false,
      inputsList: [],
      sum: {
        data: 0,
        error: false,
      },
      isAddressChecked: true,
      isSubtract: false,
      isFullAmount: false,
      handle: false,
      oldTickerAmount: null,
    };
  },
  watch: {
    /* newTicker: {
      handler(to, from) {
        if (this.fiat) {
          this.inputsList.forEach((item, index) => {
            this.checkFiatAmount(index);
            if (item.amount.type === 'number' && !item.amount.error) {
              item.amount.fiat = (item.amount.fiat / from) * to;
            }
          });
          this.fiatSum();
        }
      },
    }, */
    fiat: {
      handler(to) {
        if (to) {
          this.inputsList.forEach((item, index) => {
            this.checkAmount(index, false);
            if (item.amount.type === 'number' && !item.amount.error) {
              item.amount.fiat = (
                item.amount.data * this.$store.state.ticker.current.value
              );
            } else {
              item.amount.fiat = item.amount.data;
            }
          });
          this.fiatSum();
        } else {
          const wState = this.$store.state.wallet;
          const {balance} = this.$store.state;
          const tickerValue = this.$store.state.ticker.current.value;
          let available = 0;
          if (this.$parent.availableInAddresses > 0) {
            available = this.$parent.availableInAddresses;
          } else {
            available = balance.available;
          }
          this.inputsList.forEach((item, index) => {
            this.checkFiatAmount(index, false);
            if (item.amount.type === 'number' && item.amount.changed && !item.amount.error) {
              if (
                parseFloat((available * balance['units-factor'] * tickerValue).toFixed(2))
                === parseFloat(item.amount.fiat)
              ) {
                item.amount.data = available * balance['units-factor'];
              } else {
                item.amount.data = (item.amount.fiat / tickerValue).toFixed(wState.toFixed);
              }
              item.amount.changed = false;
            } else if (item.amount.type !== 'number') {
              item.amount.data = item.amount.fiat;
            }
          });
          this.amountSum();
        }
      },
    },
    '$store.state.ticker.current': {
      handler(to, from) {
        if (from) {
          this.oldTickerAmount = from.value;
        } else if (this.oldTickerAmount && to && this.fiat) {
          this.inputsList.forEach((item, index) => {
            this.checkFiatAmount(index, false);
            if (item.amount.type === 'number' && !item.amount.error) {
              item.amount.fiat = (
                (item.amount.fiat * to.value) / this.oldTickerAmount
              ).toFixed(this.$store.state.wallet.toFixed);
            }
          });
          this.fiatSum();
          this.oldTickerAmount = null;
        }
      },
    },
    isAddressChecked: {
      handler(to) {
        if (to) {
          this.estimate();
        }
      },
      deep: true,
    },
    'inputsList.length': {
      handler(to, from) {
        if ((to === 1) && (from === 2)) {
          this.$parent.estimate = {
            key: !this.$parent.estimate.key,
            data: null,
            loading: false,
          };
        }
      },
    },
  },
  mounted() {
    this.isFullAmount = false;

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const destinationsParam = urlParams.get('destinations');
    const feeParam = urlParams.get('fee');
    let destinations;
    let fee;
    try {
      destinations = JSON.parse(destinationsParam);
      fee = JSON.parse(feeParam);
    } catch (error) {
      console.log(error);
      return;
    }

    if (fee?.network?.strategy) {
      this.$store.state.fee.list.forEach((feeItem) => {
        if ((feeItem.strategy === fee.network.strategy)) {
          if (feeItem.strategy === 'custom') {
            this.$store.commit('setCurrentFee', fee.network);
          } else {
            this.$store.commit('setCurrentFee', feeItem);
          }
        }
      });
    }

    if (fee?.['subtract-from-amount']) {
      this.isSubtract = fee['subtract-from-amount'] || false;
    }

    if (Array.isArray(destinations)) {
      destinations.forEach((destination, index) => {
        if (!Number.isNaN(Number(destination?.amount))) {
          const {wallet} = this.$store.state;
          Object.assign(destination, {
            amount: (destination.amount * wallet['units-factor']).toFixed(wallet.toFixed),
          });
        }
        this.inputsList.push({
          value: {
            data: destination.address || '',
            error: false,
          },
          amount: {
            data: destination.amount || '',
            fiat: '',
            type: 'empty',
            error: false,
            changed: false,
          },
        });
        this.checkAmount(index, false);
      });
    }

    this.pushNewItem();

    if (this.inputsList.length > 1) this.estimate();
  },
  methods: {
    pushNewItem() {
      this.inputsList.push({
        value: {
          data: '',
          error: false,
        },
        amount: {
          data: '',
          fiat: '',
          type: 'empty',
          error: false,
          changed: false,
        },
      });
    },
    checkAmount(index, estimate = true) {
      const oldAmount = {...this.inputsList[index].amount};
      const {amount} = this.inputsList[index];
      amount.error = false;
      if (amount.data === '' || amount.data === undefined) {
        amount.data = '';
        amount.type = 'empty';
      } else if (!Number.isNaN(Number(amount.data)) && Number(amount.data) > 0) {
        amount.data = parseFloat(Number(amount.data).toFixed(this.$store.state.wallet.toFixed));
        amount.type = 'number';
      } else if (amount.data.indexOf('%') === amount.data.length - 1 && !Number.isNaN(Number(amount.data.slice(0, -1))) && Number(amount.data.slice(0, -1)) > 0) {
        amount.data = `${Number(amount.data.slice(0, -1))}%`;
        amount.type = 'string';
      } else {
        amount.error = true;
      }
      this.amountSum();
      if (estimate && (JSON.stringify(oldAmount) !== JSON.stringify(amount))) {
        this.estimate();
      }
    },
    checkFiatAmount(index, estimate = true) {
      const oldAmount = {...this.inputsList[index].amount};
      const {amount} = this.inputsList[index];
      amount.error = false;
      if (amount.fiat === '' || amount.fiat === undefined) {
        amount.fiat = '';
        amount.type = 'empty';
      } else if (!Number.isNaN(Number(amount.fiat)) && Number(amount.fiat) > 0) {
        amount.fiat = parseFloat(Number(amount.fiat).toFixed(2));
        amount.type = 'number';
      } else if (amount.fiat.indexOf('%') === amount.fiat.length - 1 && !Number.isNaN(Number(amount.fiat.slice(0, -1))) && Number(amount.fiat.slice(0, -1)) > 0) {
        amount.fiat = `${Number(amount.fiat.slice(0, -1))}%`;
        amount.type = 'string';
      } else {
        amount.error = true;
      }
      this.fiatSum();
      if (estimate && (JSON.stringify(oldAmount) !== JSON.stringify(amount))) {
        this.estimate();
      }
    },
    amountSum() {
      const wState = this.$store.state.wallet;
      const {balance} = this.$store.state;
      let available = 0;
      if (this.$parent.availableInAddresses > 0) {
        available = this.$parent.availableInAddresses;
      } else {
        available = balance.available;
      }
      this.sum.error = false;
      this.sum.data = 0;
      this.inputsList.forEach((destination) => {
        if (!destination.amount.error) {
          if (destination.amount.type === 'number') {
            this.sum.data += parseFloat(destination.amount.data);
          } else if (destination.amount.type === 'string') {
            let amount = available * wState['units-factor'];
            amount /= 100;
            amount *= Number(destination.amount.data.slice(0, -1));
            this.sum.data += amount;
          }
        }
      });
      if (
        parseFloat(this.sum.data.toFixed(this.$store.state.wallet.toFixed)) > (available * wState['units-factor']).toFixed(wState.toFixed)
      ) {
        this.sum.error = true;
      }
    },
    fiatSum() {
      const wState = this.$store.state.wallet;
      const {balance} = this.$store.state;
      const tickerValue = this.$store.state.ticker.current.value;
      let available = 0;
      if (this.$parent.availableInAddresses > 0) {
        available = this.$parent.availableInAddresses;
      } else {
        available = balance.available;
      }
      this.sum.error = false;
      this.sum.data = 0;
      this.inputsList.forEach((destination) => {
        if (!destination.amount.error) {
          if (destination.amount.type === 'number') {
            if (
              parseFloat((available * balance['units-factor'] * tickerValue).toFixed(2))
              === parseFloat(destination.amount.fiat)
            ) {
              this.sum.data += available * balance['units-factor'];
            } else {
              this.sum.data += parseFloat(destination.amount.fiat) / tickerValue;
            }
          } else if (destination.amount.type === 'string') {
            let amount = available * wState['units-factor'];
            amount /= 100;
            amount *= Number(destination.amount.fiat.slice(0, -1));
            this.sum.data += amount;
          }
        }
      });
      if (
        parseFloat(this.sum.data.toFixed(this.$store.state.wallet.toFixed)) > (available * wState['units-factor']).toFixed(this.$store.state.wallet.toFixed)
      ) {
        this.sum.error = true;
      }
    },
    estimate() {
      for (let index = 0; index < this.inputsList.length; index += 1) {
        const input = this.inputsList[index];
        if (input.value.data === '' && (!input.amount.data || input.amount.data === '') && (index + 1) !== this.inputsList.length) {
          this.inputsList.splice(index, 1);
          index -= 1;
          if (this.fiat !== undefined) {
            if (this.fiat) {
              this.fiatSum();
            } else {
              this.amountSum();
            }
          }
        }
      }
      this.$parent.filled = true;
      const wState = this.$store.state.wallet;
      const {balance} = this.$store.state;
      const tickerValue = this.$store.state.ticker.current.value;
      let available = 0;
      if (this.$parent.availableInAddresses > 0) {
        available = this.$parent.availableInAddresses;
      } else {
        available = balance.available;
      }
      if (this.fiat) {
        this.inputsList.forEach((item) => {
          if (item.amount.type === 'number') {
            if (
              parseFloat((available * balance['units-factor'] * tickerValue).toFixed(2))
              === parseFloat(item.amount.fiat)
            ) {
              item.amount.data = available * balance['units-factor'];
            } else {
              item.amount.data = (item.amount.fiat / tickerValue).toFixed(wState.toFixed);
            }
          } else {
            item.amount.data = item.amount.fiat;
          }
        });
      }
      const list = this.inputsList;
      this.$parent.destinations = '';
      let valid = true;
      let errorsList = [];
      if (this.sum.error) {
        errorsList.push('Not enough funds.');
        valid = false;
      } else if (list.length > 1) {
        list.forEach((destination, index) => {
          if (index + 1 !== list.length) {
            if (!destination.amount.error && !destination.value.error) {
              if (destination.amount.type === 'empty') {
                /* errorsList.push('Fill in all the amounts.'); */
                valid = false;
              } else {
                let amount;
                if (destination.amount.type === 'number') {
                  amount = Number((destination.amount.data / wState['units-factor']).toFixed(0));
                } else {
                  amount = destination.amount.data;
                }
                if (this.$parent.destinations !== '') {
                  this.$parent.destinations += ',';
                }
                this.$parent.destinations += `${destination.value.data}:${amount}`;
              }
            } else {
              /* errorsList.push('Invalid destinations.'); */
              valid = false;
            }
          }
        });
      } else {
        errorsList.push('Fill in destinations.');
        valid = false;
      }
      if (valid) {
        /* this.$store.commit('setCurrentFee', this.$store.state.fee.list[0]); */
        if (parseFloat(this.sum.data.toFixed(wState.toFixed)) === parseFloat((available * wState['units-factor']).toFixed(8))) {
          this.isSubtract = true;
          this.isFullAmount = true;
        } else {
          /* this.isSubtract = false; */
          this.isFullAmount = false;
        }
        this.request();
      } else {
        this.$parent.estimate.data = null;
        errorsList = [...new Set(errorsList)];
        errorsList.forEach((error) => {
          this.$toast.add({
            severity: 'error',
            /* summary: 'Error', */
            detail: error,
            life: 3000,
          });
        });
      }
    },
    request() {
      this.$parent.estimate.loading = true;
      let params = {
        destinations: this.$parent.destinations,
        fee: this.$store.state.fee.current.strategy,
        subtract_fee_from_amount: this.isSubtract,
        'fee-rate': parseFloat(this.$store.state.fee.current.rate).toFixed(0),
      };
      if (this.$parent.addresses.length > 0) {
        params = Object.assign(params, {
          addresses: this.$parent.addresses.join(','),
        });
      }
      if (this.currency) {
        params = Object.assign(params, {
          currency: this.currency,
        });
      }
      this.$parent.estimate.data = null;
      this.$axios
        .get(`/api/v2/${this.type}s/${this.$store.state.id}/transfer`, {
          params,
        })
        .then((response) => {
          this.$parent.estimate.data = response.data;
        })
        .catch((error) => {
          this.$parent.estimate.data = null;
          this.$toast.add({
            severity: 'error',
            summary: 'Error',
            detail: error?.response?.data?.message,
            life: 3000,
          });
        })
        .then(() => {
          this.$parent.estimate.loading = false;
        });
    },
    onSelect(data) {
      this.$store.commit('setCurrentFee', data.value);
      if ((this.inputsList.length > 1) && data?.value?.strategy !== 'custom') {
        this.estimate();
      }
    },
    onInput(event) {
      const rate = event.target.value;
      if (this.handle) {
        clearTimeout(this.handle);
      }
      this.handle = setTimeout(() => {
        if (rate !== '') {
          this.$store.commit('setCurrentFee', {
            rate,
            strategy: 'custom',
          });
          if (this.inputsList.length > 1) {
            this.estimate();
          }
        }
      }, 500);
    },
    isInt(event) {
      const keyCode = (event.keyCode ? event.keyCode : event.which);
      if ((keyCode > 31 && (keyCode < 48 || keyCode > 57))) {
        event.preventDefault();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.transfer__notice {
  color: var(--surface-700);
  margin-top: 1.5rem;
  line-height: 1.5;

  a {
    color: #5d8ab9;
    text-decoration: none;
  }
}

.transfer__step1-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer__step1-switch {
  display: flex;
  align-items: center;
}

.transfer__step1-switch .span {
  font-size: 15px;
  font-weight: 700;
  color: #5d8ab9;
}

.transfer__step1-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.transfer__step1-fee {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .p-inputgroup {
    width: fit-content;
  }
}

.transfer__fee-trx {
  display: flex;
  align-items: center;

  div {
    border: 1px solid #ced4da;
    height: 35px;
    display: flex;
    align-items: center;

    &:first-child {
      width: 65px;
      padding-left: 7px;
      border-radius: 3px 0 0 3px
    }
    &:nth-child(2) {
      border-radius: 0 3px 3px 0;
      width: 40px;
      justify-content: center;
      transform: translateX(-1px);
    }
  }
  p {
    margin-left: 8px;
  }
}

@keyframes buzz {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

@media (max-width: 600px) {
  .transfer__step1-fee {
    display: block;
  }
}
</style>

<style lang="scss">
.transfer__step1-fee {
  .field-checkbox {
    @media (max-width: 600px) {
      margin-top: 1rem;
    }

    label {
      margin-left: .5rem;
    }
  }
}
</style>
