<template>
  <div class="transfer__success">
    <div class="transfer__success-icon">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="path" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>
    </div>
    <div>
      <div v-if="data">
        <h3>Total</h3>
        <div class="amount" v-if="$store.state.balance">
          <span>{{
              (data.total *
                $store.state.balance['units-factor'])
                .toFixed($store.state.balance.toFixed)
                .slice(0, -4)
            }}</span>
          <span class="postfix">{{
              (data.total *
                $store.state.balance['units-factor'])
                .toFixed($store.state.balance.toFixed)
                .slice(-4)
            }}</span>
          <span class="currency">
            {{ formatCurrency($store.state.currency) }}
          </span>
        </div>
        <div v-else>
          <Skeleton width="7rem" height="1.357rem"></Skeleton>
        </div>
        <h3>Payment ID</h3>
        <router-link
          :to="getRouterLink(data.id, 'Payment')"
          class="link hovered">
          <span v-if="$store.state.shorterFlag">{{ getShorter(data.id) }}</span>
          <span v-else>{{ data.id }}</span>
        </router-link>
        <h3>Transactions</h3>
        <ul class="ul success__ul">
          <li
            v-for="(txid, index) in data.txs" :key="index"
            :class="['li', {'success__li-reset': !txid}]"
          >
            <a
              v-if="txid"
              target="_blank"
              class="link hovered"
              :href="getExplorerHref($store.state.wallet.name, 'transaction', txid, $store.state.wallet.currency)"
            >
              <span class="pi pi-external-link" style="margin-right: .5rem;"></span>
              <span v-if="$store.state.shorterFlag">
                {{ getShorter(txid) }}
              </span>
              <span v-else>
                {{ txid }}
              </span>
            </a>
          </li>
          <li
            v-if="qtyEmptyTx > 0"
            class="success__li-pending"
          >
            +{{ qtyEmptyTx }} pending transaction{{ qtyEmptyTx === 1 ? '' : 's' }}
          </li>
        </ul>
      </div>
      <div style="margin-top: 3rem;">
        <Button
          label="New Transfer"
          icon="pi pi-refresh"
          @click="$parent.clearData()"/>
        <router-link
          :to="getRouterLink(null, 'History')"
          class="p-button p-component p-button-outlined link hovered"
          style="margin-left: 1rem;">
          <i class="pi pi-chevron-right" style="margin-right: .5rem;"></i>
          To History
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: null,
    },
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      qtyEmptyTx: 0
    };
  },
  methods: {
    getShorter(value) {
      return `${value.slice(0, 7)}...${value.slice(-7)}`;
    },
    getRouterLink(historyItemId, itemType) {
      const routesPrefix = this.type === 'account' ? 'Account ' : '';
      const to = {
        name: `${routesPrefix}Wallet ${itemType}`,
        params: {
          [`${this.type}Id`]: this.$store.state.id,
        },
      };
      if (historyItemId) {
        to.params = Object.assign(to.params, {
          historyItemId,
        });
      }
      if (this.currency) {
        to.params = Object.assign(to.params, {
          currency: this.currency,
        });
      }
      return to;
    },
  },
  mounted() {
    for (const tx in this.data.txs) {
      if (!this.data.txs[tx]) {
        this.qtyEmptyTx++
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.success {
  &__ul {
    padding-left: 0 !important;
    list-style-type: none;
    li {
      margin-top: 0.5rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__li-pending {
    color: var(--gray-500);
    font-style: italic;
    margin-top: 8px;
  }

  &__li-reset {
    margin: 0 !important;
  }
}

.transfer__success {
  display: flex;
  align-items: center;

  .link {
    margin-top: .5rem;
  }

  .ul {
    padding-left: 1.25rem;
  }

  @media screen and (max-width: 800px) {
    display: block;

    .transfer__success-icon {
      max-width: unset;
    }
  }
}

.transfer__success-icon {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 3rem;

  .svg {
    display: block;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    stroke-width: 2;
    stroke: #4caf50;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4caf50;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
  }

  .circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4caf50;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .path {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
</style>
