<template>
  <EmptyTemplate :text="'Unavailable for Non-Custodial Account'" v-if="$store.state.watchOnly"/>
  <Success v-else-if="success.show" :data="success.data" :type="type" :currency="currency"/>
  <div v-else-if="$store.state.fee?.current && $store.state.ticker?.current?.value">
    <div
      class="transfer__warning"
      v-if="addresses.length > 0">
      <p>Transfer from addresses:</p>
      <ul>
        <li v-for="address in addresses" :key="address">
          {{ address }}
        </li>
      </ul>
      <p>
        Available:
        <strong>
          {{
            (
              availableInAddresses * $store.state.wallet['units-factor']
            ).toFixed($store.state.wallet.toFixed)
          }}
          {{ formatCurrency($store.state.currency) }}
          ≈
        {{ (availableInAddresses *
                $store.state.balance['units-factor'] *
                $store.state.ticker.current.value).toFixed(2) }}
                {{$store.state.ticker.current.name}}
        </strong>
      </p>
    </div>
    <div class="transfer d-flex">
      <Inputs
        class="transfer__inputs"
        :key="inputsKey"
        :type="type"
        :currency="currency"
        ref="transferInputs"/>
      <div class="transfer__separator"></div>
      <Estimate
        class="transfer__estimation"
        :key="estimate.key"
        :type="type"
        :currency="currency"
        :data="estimate.data"/>
    </div>
  </div>
  <LoadingTemplate v-else/>
</template>

<script>
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import LoadingTemplate from '@/components/templates/LoadingTemplate.vue';
import Estimate from '@/components/templates/transfer/Estimate.vue';
import Inputs from '@/components/templates/transfer/Inputs.vue';
import Success from '@/components/templates/transfer/Success.vue';

export default {
  components: {
    EmptyTemplate,
    LoadingTemplate,
    Estimate,
    Inputs,
    Success,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
    currency: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      destinations: '',
      estimate: {
        key: null,
        data: null,
        loading: false,
      },
      inputsKey: null,
      addresses: [],
      availableInAddresses: 0,
      success: {
        show: false,
        data: null,
      },
    };
  },
  watch: {
    $route: {
      handler() {
        if (this.success.show) {
          this.$store.commit('setBalance', null);
          this.$store.commit('setCurrentTicker', null);
        }
      },
    },
  },
  mounted() {
    this.checkQuery();
  },
  methods: {
    checkQuery() {
      const { query } = this.$route;
      const { addresses } = query;
      if (addresses) {
        this.estimate.loading = true;
        this.$axios
          .get(`/api/v2/${this.type}s/${this.$store.state.id}/balance?addresses=${addresses}${this.currency ? ('&currency=' + this.currency) : ''}`)
          .then((response) => {
            console.log(response);
            const balance = this.type === 'account' ? response.data.balance[0] : response.data;
            if (balance.available > 0) {
              this.addresses = addresses.split(',').filter((item, pos, self) => self.indexOf(item) === pos);
              this.availableInAddresses = balance.available;
            }
            this.estimate.loading = false;
          })
          .catch((error) => {
            this.estimate.loading = false;
            this.$toast.add({
              severity: 'error',
              summary: 'Error',
              detail: error?.response?.data?.message,
              life: 3000,
            });
          });
      }
    },
    clearData() {
      this.$store.commit('setBalance', null);
      this.$store.commit('setCurrentTicker', null);
      this.inputsKey = !this.inputsKey;
      this.estimate = {
        key: !this.estimate.key,
        data: null,
        loading: false,
      };
      this.destinations = '';
      this.success = {
        show: false,
        data: null,
      };
    },
    doEstimate() {
      this.$refs.transferInputs.estimate();
    },
  },
};
</script>

<style lang="scss" scoped>
.transfer__inputs {
  flex: 0 50%;
}

.transfer__estimation {
  flex: 0 50%;
}

.transfer__separator {
  display: flex;
  margin: 0 2.5rem;
}

.transfer__warning {
  opacity: .8;
  font-size: .9rem;
  word-break: break-word;
}

@media (max-width: 1024px) {
  .transfer__separator {
    display: none;
  }

  .transfer {
    display: block;
  }

  .transfer__estimation {
    margin-top: 3rem;
  }
}
</style>
