<script>

  import Header from "$components/Header.svelte";
  import {onMount} from "svelte";
  import 'apricons/dist/apricons.css'

  import OpenPhoto from "$components/OpenPhoto.svelte";
  import {page} from "$app/stores";

  export let info
  export let preset

  export let openPhoto
  export let showPhoto = false

  export let reverseImages = false

  let sessionKey = $page.params.session

  onMount(async () => {
    await getInfo()

  })

  async function getInfo() {
    try {
      const response = await fetch(`${import.meta.env.VITE_BACKEND_URL}/sessions/${sessionKey}`)
      info = await response.json()

      const uniquePrefixes = new Set();

      info.items.forEach(item => {
        const parts = item.split('_');
        if (parts.length > 2) {
          uniquePrefixes.add(parts[0]);
        }
      });

      info.presets = Array.from(uniquePrefixes);
    } catch (e) {
      console.error('cscs')
    }
  }

  async function getItem(item) {
    const response = await fetch(`${import.meta.env.VITE_BACKEND_URL}/sessions/${sessionKey}/${item}`)
    const result = await response.blob()
    return URL.createObjectURL(result)
  }

  async function eventOpenPhoto(item) {
    openPhoto = item
    showPhoto = true
  }

  async function savePhoto(item) {
    const photo = await getItem(item)
    const a = document.createElement('a');
    a.href = photo;
    a.download = item;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(photo);
  }

</script>

<svelte:component
  this={Header}
  bind:info
  bind:preset
  bind:reverseImages
/>

<section class="gallery container">
  {#if info && typeof info !== 'string'}
    <div class="gallery__list">
      {#each reverseImages ? info.items.slice().reverse() : info.items as item}
        {#if (item.includes('thumb') && item.includes(preset)) || (item.split('_').length === 2 && preset === 'no_preset' && item.includes('thumb'))}
          {#await getItem(item)}
            <div class="gallery__item">
              <div class="skeleton__box"></div>
            </div>
          {:then path}
            <div class="gallery__item">
              <img src={path} alt="">
              <div class="gallery__item-action">
                <button on:click|preventDefault={() => {eventOpenPhoto(path)}}><i
                  class="apr apr-search"></i></button>
                <a href="#" on:click|preventDefault={() => {savePhoto(item.replace('_thumb', ''))}}><i
                  class="apr apr-save"></i></a>
              </div>
            </div>
          {/await}
        {/if}
      {/each}
    </div>
  {:else}
    <h2 class="gallery__error">
      {#if info} {info} {/if}
    </h2>
  {/if}
</section>

<svelte:component
  this={OpenPhoto}
  bind:openPhoto
  bind:showPhoto
/>

<style lang="scss">
  :global {
    @import "static/styles/app.scss";
  }

  .gallery {
    margin-top: 40px;

    &__error {
      text-align: center;

    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(32%, max-content));
      gap: 10px;
      justify-content: start;
    }

    &__item {
      max-width: 500px;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
      position: relative;

      &:hover {
        .gallery__item-action {
          opacity: 1;
          z-index: 10;
        }
      }

      &-action {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        opacity: 0;
        z-index: -1;
        transition: 0.2s;
        backdrop-filter: blur(3px);

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: none;
          font-size: 26px;
          background: var(--lime);
          border-radius: 100%;
          height: 46px;
          width: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        a {
          position: absolute;
          bottom: 12px;
          right: 12px;
          color: white;
          background: var(--blue);
          font-size: 24px;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
        }
      }

      img {
        width: 100%;
        height: 29vw;
        max-height: 500px;
        object-fit: cover;
        display: block;
      }
    }
  }

  @media (max-width: 1000px) {
    .gallery {
      &__list {
        grid-template-columns: repeat(auto-fill, minmax(49%, max-content));
      }

      &__item {
        img {
          height: 300px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .gallery {
      &__list {
        grid-template-columns: repeat(auto-fill, minmax(100%, max-content));
      }

      &__item {
        max-width: 700px;

        img {
          height: 70vw;
        }
      }
    }
  }


</style>
