<template>
  <svg fill="none" height="16" viewBox="0 0 14 16" width="14" xmlns="http://www.w3.org/2000/svg">
    <g :fill="fillColor">
      <path
        d="m3 2v-1c0-.553125.44688-1 1-1s1 .446875 1 1v1h4v-1c0-.553125.44688-1 1-1 .5531 0 1 .446875 1 1v1h1.5c.8281 0 1.5.67188 1.5 1.5v1.5h-14v-1.5c0-.82812.671875-1.5 1.5-1.5z"
      />
      <path
        clip-rule="evenodd"
        d="m0 6h14v8.5c0 .8281-.6719 1.5-1.5 1.5h-11c-.828125 0-1.5-.6719-1.5-1.5zm7.14511 1.51247c-.05734-.12347-.23288-.12347-.29022 0l-.83732 1.80299c-.02331.0502-.07092.08478-.12586.09144l-1.97349.23919c-.13515.01638-.1894.18333-.08969.27602l1.456 1.35349c.04054.0377.05872.0936.04807.148l-.38236 1.9508c-.02619.1336.11583.2367.2348.1706l1.73717-.9665c.04837-.0269.10721-.0269.15558 0l1.73717.9665c.11897.0661.26099-.037.2348-.1706l-.38236-1.9508c-.01065-.0544.00753-.1103.04807-.148l1.45603-1.35349c.0997-.09269.0454-.25964-.0897-.27602l-1.97351-.23919c-.05494-.00666-.10255-.04124-.12586-.09144z"
        fill-rule="evenodd"
      />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: '#5d8ab9'
    }
  }
}
</script>
