<template>
  <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m8 15.3333-1.16-1.055c-4.12-3.7326-6.84-6.19438-6.84-9.21563 0-2.46176 1.936-4.396006 4.4-4.396006 1.392 0 2.728.647416 3.6 1.670486.872-1.02307 2.208-1.670486 3.6-1.670486 2.464 0 4.4 1.934246 4.4 4.396006 0 3.02125-2.72 5.48303-6.84 9.22363z"
      :fill="fillColor"
    />
  </svg>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: '#5d8ab9'
    }
  }
}
</script>
