<template>
  <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m8 7.6c4.4187 0 8-1.49375 8-3.33437 0-1.84063-3.5813-3.334378-8-3.334378-4.41875 0-8 1.493748-8 3.334378 0 1.84062 3.58125 3.33437 8 3.33437zm0 5.3313c-3.05312 0-5.75312-.7344-7.45625-1.8688-.346875.375-.54375.7781-.54375 1.2031 0 1.8407 3.58125 3.3344 8 3.3344 4.4187 0 8-1.4937 8-3.3344 0-.425-.1969-.8281-.5437-1.2-1.7032 1.1313-4.4032 1.8657-7.4563 1.8657zm0-4.00005c-3.05312 0-5.75312-.73437-7.45625-1.86875-.346875.375-.54375.77813-.54375 1.20313 0 1.84067 3.58125 3.33437 8 3.33437 4.4187 0 8-1.4937 8-3.33437 0-.425-.1969-.82813-.5437-1.2-1.7032 1.13125-4.4032 1.86562-7.4563 1.86562z"
      fill="#5d8ab9"
    />
  </svg>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: '#5d8ab9'
    }
  }
}
</script>
