<template>
  <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
    <path
      clip-rule="evenodd"
      d="m6.92116.446245c.27008-.269736.63145-.428453 1.0128-.44483747.38135-.01638443.755.11075347 1.04722.35633147l.09766.089269 1.44966 1.448912h2.0493c.3849.00007.7555.14556 1.0376.40731.2821.26176.4549.62045.4838 1.00422l.0046.11445v2.04938l1.4496 1.44968c.27.27013.4288.63166.4452 1.0132s-.1109.75535-.3567 1.04763l-.0892.0969-1.4497 1.44971v2.0494c.0001.3849-.1453.7557-.407 1.038-.2618.2823-.6206.4552-1.0045.4841l-.1137.0038h-2.0485l-1.4497 1.4497c-.27012.27-.63164.4288-1.01317.4452s-.75534-.1109-1.04761-.3567l-.0969-.0885-1.44964-1.4497h-2.05011c-.38498.0002-.75577-.1452-1.03806-.407-.28228-.2618-.45519-.6206-.48407-1.0045l-.00381-.1144v-2.0494l-1.449646-1.44971c-.269944-.27013-.4287919-.63166-.44517754-1.0132-.01638566-.38154.11088254-.75535.35667254-1.04763l.088505-.0969 1.449646-1.44968v-2.04938c.00007-.38486.14555-.75547.4073-1.0376s.62043-.45494 1.0042-.4838l.11444-.00458h2.04934zm3.42804 5.251645-3.23806 3.23812-1.34893-1.34896c-.14317-.14307-.3373-.2234-.53969-.22333-.2024.00007-.39647.08054-.53954.22371-.14306.14317-.22339.33731-.22332.5397.00007.2024.08054.39648.2237.53955l1.83419 1.83422c.07794.078.17047.1398.27232.182s.21102.064.32127.064.21941-.0218.32126-.064.19439-.104.27233-.182l3.72327-3.72414c.139-.14391.2159-.33664.2142-.53669-.0018-.20005-.082-.39142-.2235-.53289-.1414-.14146-.3328-.2217-.5328-.22344-.2001-.00174-.3928.07517-.5367.21415z"
      fill="#5d8ab9"
      fill-rule="evenodd"
    />
  </svg>
</template>

<script>
export default {
  props: {
    fillColor: {
      type: String,
      default: '#5d8ab9'
    }
  }
}
</script>
