@import "components/fonts.styl"
@import "components/footer.styl"
@import "components/header.styl"
@import "components/sidebar.styl"
@import "components/contact-form.styl"
@import "components/main.styl"
@import "components/product.styl"
@import "components/cases.styl"
@import "components/strategy-and-execution.styl"
@import "components/digital-service.styl"
@import "components/about-us.styl"
@import "components/discuss-your-project.styl"
@import "components/popup-advertisement.styl"
*,
*:after,
*:before
  box-sizing border-box
  margin: 0
  line-height 1

.contact-captcha
  & > div
    width: 230px !important

.g-recaptcha
  margin-top: 16px

.cookies
  color: #ffffff
  padding: 30px
  width: 100%
  height: auto
  background: #1B1F24
  position: fixed
  bottom: 0
  z-index: 1000
  display: flex
  align-items: center
  justify-content: space-around
  box-shadow 0 0 50px 25px rgba(#53D3D1, 0.5)
  border 2px solid white
  border-image linear-gradient(90deg, #53D3D1, #9334B8, #4C6FB2)
  border-image-slice 2
  &__text
      width: 80%
  &__btn
    padding: 7px 20px !important



.modal-iframe
  position fixed
  top: 20px
  bottom: 20px
  left: 50%
  transform translate(-50%)
  max-width 1352px
  width: 100%
  z-index 100
  height: calc(100vh - 40px)

body
  background #1B1F24
  color white
  position relative
  overflow-x hidden
  font-family: 'Open-Sans', sans-serif

input::placeholder
textarea::placeholder
  font-family: 'Open-Sans', sans-serif

a
  text-decoration: none

.button
  background none
  cursor pointer
  color #53D3D1
  font-size: 20px
  border 1px solid #53D3D1
  padding: 14px 31.5px
  border-image: linear-gradient(90deg, #53d3d1, #9334b8, #4c6fb2, #53d3d1)
  border-image-slice: 1
  transition 0.2s
  &:hover
    background: linear-gradient(100deg, #9634B9, #53D3D1, #4A4EA8, #9634B9, #53D3D1, #9634B9)
    background-size: 200% auto

    text-fill-color: transparent
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    animation: shine 3s ease-in-out alternate infinite
    @keyframes shine {
      to {
        background-position: 100% center;
      }
    }

.--modal-close-btn
  display block
  width: 21px
  height: 22px
  position absolute
  right: 40px
  top: 50px
  cursor pointer
  z-index: 101
  &:after
  &:before
    display block
    content ''
    position absolute
    background #ffffff
  &:after
    width: 2px
    height: 25px
    transform rotate(45deg)
    left: 9px
    top: -1px
  &:before
    width: 25px
    height: 2px
    transform rotate(45deg)
    left: -2px
    top: 10px

.modal-close-black-background
  &:after
  &:before
    background #000000

.cases-rotate
  transform rotateX(5deg) rotateY(10deg) !important
  -webkit-transform: rotateX(5deg) rotateY(10deg)
  -ms-transform: rotateX(5deg) rotateY(10deg) !important

.cases-rotate-reverse
  transform rotateX(-5deg) rotateY(10deg) !important
  -webkit-transform: rotateX(-5deg) rotateY(10deg) !important
  -ms-transform: rotateX(-5deg) rotateY(10deg) !important

.cases-stop-rellax
  transform translate3d(0px, 0px, 0px) !important

.opacity
  background-size 100% !important
  .--circle-green
  .--circle-blue
  .--circle-purple
    opacity 1 !important

.--green-background-after
  &:after
    background rgba(#53d3d1, 0.3)

.--blue-background-after
  &:after
    background rgba(76,111,178,0.3)

.--success-click
  border-image none
  border 3px solid #54D3D1
  background #54D3D1
  color #ffffff

.--error-click
  border-image none
  border 3px solid #FF0000
  background #FFE5E5
  color #FF0000

.container-error
  background #FFE5E5
  border 1px solid #FF0000
  position absolute
  top: 0
  left: 0
  color #FF0000
  display none

.--container-fixed
  display none
  position fixed
  width: 100%
  top: 0
  z-index: 101

.label
  width: 20px
  height: 20px

.checkbox[type="checkbox"]:checked
.checkbox[type="checkbox"]:not(:checked)
    position: absolute
    left: -99999px

input[type="checkbox"]:checked + label
input[type="checkbox"]:not(:checked) + label
    display: inline-block
    position: relative
    padding-left: 28px
    line-height: 20px
    cursor: pointer

input[type="checkbox"]:checked + label:before
input[type="checkbox"]:not(:checked) + label:before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 20px
    height: 20px
    border: 1px #ffffff solid
    background: none
    border-radius: 3px


input[type="checkbox"]:checked + label:after
input[type="checkbox"]:not(:checked) + label:after
  content: ""
  position: absolute
  -webkit-transition: all 0.2s ease
  -moz-transition: all 0.2s ease
  -o-transition: all 0.2s ease
  transition: all 0.2s ease

  left: 4px
  top: 5px
  width: 12px
  height: 8px
  border-radius: 1px
  border-left: 4px solid #53D3D1
  border-bottom: 4px solid #53D3D1
  -webkit-transform: rotate(-50deg)
  -moz-transform: rotate(-50deg)
  -o-transform: rotate(-50deg)
  -ms-transform: rotate(-50deg)
  transform: rotate(-50deg)


input[type="checkbox"]:not(:checked) + label:after
    opacity: 0


input[type="checkbox"]:checked + label:after
    opacity: 1

.--cases-description
    color #ffffff
    background rgba(255, 255, 255, 0.2)
    border 1px solid rgba(#ffffff, 0.5)
    border-radius 10px
    backdrop-filter blur(3px)
    max-width 441px
    width: 100%
    padding: 32px 40px
    position absolute
    transition 0.2s
    left: 0
    top: 25%
    overflow hidden
    &:after
      display block
      content ''
      opacity 0
      background: linear-gradient(100deg, #0A539A, #72288F, #1C7776)
      background-size: 150% auto

      animation: shine 3s ease-in-out alternate infinite
      @keyframes shine {
        to {
          background-position: 100% center;
        }
      }
      margin-left: 0
      transition 0.4s
      position absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -1
    &:hover
      border 1px solid rgba(#ffffff, 0.1)
      &:after
        opacity 1
    h4
      font-size: 24px
      font-family: 'Kanit', sans-serif
      font-weight: 500
    p
      margin-top: 16px
      line-height 1.4
    span
      color #ffffff
      background #9334B8
      border-radius 10px
      padding: 8px 16px
      margin-top: 19px
      display inline-block

.--circle-purple
  position fixed
  background linear-gradient(0deg, rgba(#9334B8, 0.25), rgba(#9334B8, 0.2))
  left: -50px
  top: 100px
  filter blur(50px)
  width: 45%
  height: calc(100vh - 100px)
  border-radius 0 100% 0 0
  z-index: -1
  opacity 0.7
.--circle-blue
  position fixed
  background linear-gradient(0deg, rgba(#0A539A, 0.3), rgba(#0A539A, 0.2))
  left: -50px
  top: 50px
  filter blur(35px)
  width: 55%
  height: calc(100vh - 50px)
  border-radius 0 100% 0 0
  z-index: -2
  opacity 0.5

.--service-card_container
  max-width 1150px
  width: 100%
  margin: 0 auto
  padding: 0 30px
  position relative

.arrow_dis-none
  display none

.slick-arrow
  display none !important

.slick-track
  margin-left: 48px

.container
  max-width: 1356px
  width: 100%
  margin: 0 auto
  padding: 0 30px
  position relative

.mask
  display none
  cursor pointer
  z-index 1
  position absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background rgba(#000000, 0.7)

.background-blur
  filter blur(2px)

.--active-sidebar-link
  opacity: 1 !important
  position relative
  &:after
    display block
    content ''
    width: 42px
    height: 45px
    border-radius 100%
    background #53d3d1
    filter blur(15px)
    position absolute
    top: -6px
    left: -10px
    z-index -1
  &:before
    content ''
    display block
    position absolute
    height: 42px
    width: 1px
    background #53d3d1
    left: 0
    top: -2px

.--active-header-link
  border-bottom 2px solid #53d3d1
  position relative
  font-weight: 600
  opacity 1 !important
  &:after
    display block
    content ''
    width: 34px
    height: 34px
    border-radius 100%
    background #53d3d1
    filter blur(16px)
    position absolute
    top: 14px
    left: 50%
    transform translateX(-50%)
    z-index -1

.--webshop
  background linear-gradient(45deg, rgba(83, 211, 209, 0.01), rgba(83, 211, 209, 0.05))
  border 1px solid rgba(#53D3D1, 0.2)
  &:hover
    box-shadow 0 0 20px 0 rgba(#53D3D1, 0.5)
    animation: webshop-shadow 1s ease-in-out alternate infinite
    @keyframes webshop-shadow {
      to {
        box-shadow 0 0 10px 0 rgba(#53D3D1, 0.5)
      }
    }

.--landing-page
  background linear-gradient(45deg, rgba(147, 52, 184, 0.01), rgba(147, 52, 184, 0.05))
  border 1px solid rgba(#9334B8, 0.2)
  &:hover
    box-shadow 0 0 20px 0 rgba(#9334B8, 0.5)
    animation: landing-shadow 1s ease-in-out alternate infinite
    @keyframes landing-shadow {
      to {
        box-shadow 0 0 10px 0 rgba(#9334B8, 0.5)
      }
    }

.--process-automation
  background linear-gradient(45deg, rgba(76, 111, 178, 0.01), rgba(76, 111, 178, 0.05))
  border 1px solid rgba(#4C6FB2, 0.2)
  &:hover
    box-shadow 0 0 20px 0 rgba(#4C6FB2, 0.5)
    animation: process-automation-shadow 1s ease-in-out alternate infinite
    @keyframes process-automation-shadow {
      to {
        box-shadow 0 0 10px 0 rgba(#4C6FB2, 0.5)
      }
    }

.--tech-support
  background linear-gradient(45deg, rgba(83, 211, 209, 0.01), rgba(83, 211, 209, 0.05))
  border 1px solid rgba(#53D3D1, 0.2)
  &:hover
    box-shadow 0 0 20px 0 rgba(#53D3D1, 0.5)
    animation: tech-support-shadow 1s ease-in-out alternate infinite
    @keyframes tech-support-shadow {
      to {
        box-shadow 0 0 10px 0 rgba(#53D3D1, 0.5)
      }
    }
.--tech-support-icon
  height: 41px
  width: 36px
  position relative
  &:after,
  &:before
    content ''
    display block
    position absolute
    width: 12px
    height: 24px
    background #53D3D1
    top: 0
  &:after
    left: 0
  &:before
    right: 0

.--left-content
  margin-left: 0
  margin-right: 80px

.--automation-hashtag
  background #4C6FB2

.--webshop-hashtag
  background #53D3D1

.--secondary-blur
  background linear-gradient(45deg, #53D3D1, rgba(#53D3D1, 0.8))

.--blue-blur
  background linear-gradient(45deg , #0A539A, rgba(#0A539A, 0.8))

.--dubai-visa-link
  margin-left: -20px
  background url("/static/images/dubai-visa.png") no-repeat center
  background-size 90%
  max-width 437px
  width: 100%
  height: 311px
  transition 0.5s
  .--circle-blue
    transition 0.8s
    width: 300px
    height: 450px
    left: 80px
    top: -80px
    transform rotate(45deg)
    position absolute
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    filter blur(60px)
    z-index -1
    opacity 0
  .--circle-purple
  .--circle-green
    display block
    content ''
    position absolute
    width: 300px
    height: 450px
    transition 0.8s
    transform rotate(45deg)
    z-index -1
  .--circle-purple
    left: 0
    top: -140px
    filter blur(70px)
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    opacity 0
  .--circle-green
    left: 150px
    top: 30px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0

.--product-visa-link
  margin-right: 105px
  background url("/static/images/product-visa.png") no-repeat center
  background-size 90%
  transition 0.5s
  max-width: 206px
  width: 100%
  height: 357px
  .--circle-green
    width: 150px
    height: 240px
    left: 19px
    top: 25px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    transform rotate(90deg)
    filter blur(70px)
    opacity 0
    z-index -1
    position absolute
    transition 0.8s
  .--circle-purple
  .--circle-blue
    display block
    content ''
    position absolute
    width: 150px
    height: 240px
    transition 0.8s
    transform rotate(90deg)
    z-index -1
  .--circle-blue
    left: 25px
    top: -84px
    filter blur(60px)
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    opacity 0
  .--circle-purple
    left: 22px
    top: 151px
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    filter blur(60px)
    opacity 0

.--questionnaire-visa-link
  margin-left: -25px
  background url("/static/images/questionnaire-visa.png") no-repeat center
  background-size 90%
  transition 0.5s
  max-width 500px
  width: 100%
  height: 340px
  .--circle-blue
    width: 300px
    height: 300px
    left: 0
    bottom: 85px
    transform rotate(-55deg)
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    position absolute
    z-index: -1
    filter blur(50px)
    opacity 0
  .--circle-green
  .--circle-purple
    display block
    content ''
    position absolute
    width: 300px
    height: 450px
    transition 0.8s
    transform rotate(45deg)
    z-index -1
  .--circle-purple
    left: 35px
    bottom: -110px
    filter blur(70px)
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    opacity 0
  .--circle-green
    left: 200px
    bottom: -60px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0

.--shop-link
  margin-right: -25px
  max-width: 480px
  width: 100%
  height: 286px
  background url("/static/images/shop.png") no-repeat center
  background-size 90%
  transition 0.5s
  .--circle-blue
    width: 150px
    height: 240px
    right: 150px
    bottom: -90px
    transform rotate(90deg)
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    filter blur(40px)
    position absolute
    z-index: -1
    opacity 0
  .--circle-green
  .--circle-purple
    display block
    content ''
    position absolute
    width: 200px
    height: 300px
    transition 0.8s
    transform rotate(90deg)
    z-index -1
  .--circle-purple
    left: -5px
    bottom: -30px
    filter blur(70px)
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    opacity 0
  .--circle-green
    left: 170px
    bottom: 50px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0

.--tthomes-link
  background url("/static/images/index-tthomes.png") no-repeat center
  background-size 95%
  transition 0.5s
  max-width 400px
  width: 100%
  height: 300px
  margin-left: 20px
  .--circle-blue
    transition 0.8s
    width: 300px
    height: 450px
    left: 80px
    top: -80px
    transform rotate(45deg)
    position absolute
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    filter blur(60px)
    z-index -1
    opacity 0
  .--circle-purple
  .--circle-green
    display block
    content ''
    position absolute
    width: 300px
    height: 450px
    transition 0.8s
    transform rotate(45deg)
    z-index -1
  .--circle-purple
    left: 0
    top: -50px
    filter blur(70px)
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    opacity 0
  .--circle-green
    left: 150px
    top: 100px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0
    width: 250px
    height: 300px

.--sapegin-autoplates-link
  background url("/static/images/sapegin-autoplates.png") no-repeat center
  background-size 90%
  transition 0.5s
  max-width 320px
  width: 100%
  height: 340px
  margin-left: 40px
  .--circle-blue
    transition 0.8s
    width: 300px
    height: 450px
    left: 80px
    top: -80px
    transform rotate(45deg)
    position absolute
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    filter blur(60px)
    z-index -1
    opacity 0
  .--circle-purple
  .--circle-green
    display block
    content ''
    position absolute
    width: 300px
    height: 450px
    transition 0.8s
    transform rotate(45deg)
    z-index -1
  .--circle-purple
    left: 0
    top: -50px
    filter blur(70px)
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    opacity 0
  .--circle-green
    left: 150px
    top: 100px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0
    width: 250px
    height: 300px

.--sapegin-kzevb-link
  background url("/static/images/sapegin-kzevb.png") no-repeat center
  background-size 90%
  max-width 500px
  width: 100%
  height: 340px
  transition 0.5s
  margin-right: -25px
  .--circle-green
    width: 300px
    height: 300px
    left: 202px
    top: -30px
    background radial-gradient(#54D3D1, rgba(#54D3D1, 0))
    filter blur(70px)
    opacity 0
    z-index -1
    position absolute
    transition 0.8s
  .--circle-purple
  .--circle-blue
    display block
    content ''
    position absolute
    width: 300px
    height: 300px
    transition 0.8s
    z-index -1
  .--circle-blue
    left: 0
    top: -25px
    filter blur(60px)
    background radial-gradient(#4C6FB2, rgba(#4C6FB2, 0))
    opacity 0
  .--circle-purple
    left: 125px
    top: 91px
    background radial-gradient(#9334B8, rgba(#9334B8, 0))
    filter blur(60px)
    opacity 0

@media screen and (max-width: 1000px)
  .g-recaptcha
    margin-top: 0
  .--cases-description
    padding: 20px 24px
    max-width 380px
    top: 50%
    h4
      font-size: 20px
    p
      font-size: 14px
      margin-top: 12px
    span
      font-size: 14px
      margin-top: 14px

  .--product-visa-link
    margin-right: 80px
    max-width: 120px;
    height: 215px
    .--circle-green
    .--circle-purple
    .--circle-blue
      width: 200px
      left: 0

  .--tthomes-link
    margin-left: 14px
    max-width 320px
    height: 230px
    .--circle-blue
      width: 260px
      height: 350px
      left: 40px
      top: -25px
    .--circle-purple
      width: 200px
      height: 260px
      top: -25px
    .--circle-green
      width: 200px
      height: 200px


  .--sapegin-autoplates-link
    max-width 270px
    height: 295px
    .--circle-green
    .--circle-blue
    .--circle-purple
      width: 200px
      height: 200px
    .--circle-green
      left: 100px

  .--sapegin-kzevb-link
    max-width 350px
    height: 210px
    .--circle-green
    .--circle-blue
    .--circle-purple
      width: 200px
      height: 200px
    .--circle-blue
      left: 4px
      top: -41px
    .--circle-green
      left: 144px
      top: -30px
    .--circle-purple
      left: 70px
      top: 70px

  .--dubai-visa-link
    max-width 350px
    height: 250px
    &:before
      left: 110px
      top: 86px
      filter blur(50px)
    &:after
      left: 0
      top: 12px
      filter blur(50px)
    span
      width: 150px
      height: 300px
      left: 40px
      top: -16px
      filter blur(50px)
    &:before,
    &:after
      width: 150px
      height: 280px
      transform rotate(30deg)

  .--questionnaire-visa-link
    height: 215px
    max-width 350px
    &:after,
    &:before
      width: 150px
      height: 200px
    &:after
      left: 8px
      bottom: 0
    &:before
      left: 130px
      bottom: 0
    span
      width: 200px
      height: 150px
      transform rotate(0)
      left: 40px
      bottom: 150px

  .--shop-link
    height: 215px
    max-width 350px
    &:after,
    &:before
      width: 150px
      height: 250px
    &:after
      left: 0
      bottom: 0
    &:before
      left: 65px
      bottom: 50px
    span
      right: 60px
      bottom: -90px
      width: 150px
      height: 240px
    .--circle-green
      transform rotate(0deg)
      right: 0
      bottom: 30px
      left auto

@media screen and (max-width: 767px)
  .--cases-description
    padding: 12px 16px
    max-width 300px
    top: 50%
    transform translateY(-50%)
    h4
      font-size: 18px
    p
      font-size: 13px
      margin-top: 8px
    span
      font-size: 13px
      margin-top: 12px

  .--landing-page_container
    padding: 0 20px

  .--tthomes-link
    max-width 230px
    height: 170px
    .--circle-purple
      width: 100px
      height: 160px
      top: -25px
      left: -16px
    .--circle-green
      width: 170px
      height: 180px
      left: 60px
      top: 40px
    .--circle-blue
      width: 160px
      height: 250px
      left: 40px
      top: -25px

  .--sapegin-kzevb-link
    max-width 220px
    height: 135px
    .--circle-green
    .--circle-blue
    .--circle-purple
      width: 150px
      height: 150px
    .--circle-blue
      left: 0
      top: -40px
    .--circle-green
      left: auto
      top: -30px
      right: 0
    .--circle-purple
      left: 34px
      top: 35px

  .--sapegin-autoplates-link
    max-width 180px
    height: 200px
    .--circle-green
    .--circle-blue
    .--circle-purple
      width: 180px
      height: 180px
      filter blur(30px)
    .--circle-blue
      left: 46px
      top: -56px
    .--circle-green
      left: 12px
      top: 70px
      transform rotate(0deg)
    .--circle-purple
      left: -40px
      top: -50px
      transform rotate(0deg)


  .--dubai-visa-link
    max-width 220px
    height: 160px
    margin-left: -11px
    .--circle-green
      left: 100px

  .--product-visa-link
    margin-right: 45px
    max-width 100px
    height: 180px
    &:before
    &:after
      width: 100px
      height: 140px
      filter blur(30px)
    &:before
      top: 123px
    &:after
      top: -66px
    span
      width: 100px
      height: 140px
      filter blur(40px)
    .--circle-green
    .--circle-blue
    .--circle-purple
      right: -30px
      left auto

  .--questionnaire-visa-link
    max-width 220px
    height: 135px
    margin-left: -9px
    .--circle-green
      right: -150px
      left: auto

  .--shop-link
    max-width 220px
    height: 135px
    margin-right: -10px
    &:before
    &:after
      width: 150px
      height: 150px
      filter blur(35px)
    &:before
      left: 30px
      bottom: 30px
    &:after
      left: 40px
      bottom: -40px
    span
      width: 150px
      height: 150px
      right: 90px
      bottom: -50px

  .--left-content
    margin-right: 40px

@media screen and (max-width: 550px)
  .contact-captcha
      & > div
        height: 105px !important

  .--cases-description
    left: 20px
    top: 80%
    transform translateY(0)
    max-width 240px
    padding: 8px 16px
    h4
      font-size: 16px
    p
      font-size: 12px
      margin-top: 8px
    span
      font-size: 12px
      margin-top: 10px
      padding: 5px 12px

  .container
    padding: 0 20px

  .--left-content
    margin-right: 0

  .--flex-reverse
    flex-direction column-reverse

  .--active-sidebar-link
    &:before
      top: 0
      height: 30px
    &:after
      width: 38px
      height: 28px
      top: -2px
      left: -18px

  .--tthomes-link
    max-width 330px
    height: 230px

  .--dubai-visa-link
  .--product-visa-link
  .--shop-link
  .--questionnaire-visa-link
  .--tthomes-link
    margin: 0

  .--dubai-visa-link
    max-width 300px
    height: 210px
    &:before
      left: 55px
    .--circle-blue
      top: -18px
    .--circle-green
      top: 80px
    .--circle-purple
      top: -80px


  .--sapegin-autoplates-link
    max-width 230px
    height: 250px
    margin-left: 0
    .--circle-blue
      transform rotate(0deg)
      left: 64px
      top: -48px
    .--circle-green
      left: 25px
      top: 105px
    .--circle-purple
      top: 10px

  .--sapegin-kzevb-link
    max-width 350px
    height: 210px
    margin-right: 0
    .--circle-blue
      top: -41px
    .--circle-green
      top: 0
    .--circle-purple
      top: 45px

  .--circle-green
  .--circle-blue
  .--circle-purple
    right: 0 !important
    left: auto !important
    transform rotate(0deg) !important
    width: 300px !important
    height: 150px !important

  .--questionnaire-visa-link
    max-width 350px
    height: 200px
    &:before
      left: 81px
    .--circle-green
      top: 63px
      filter blur(50px)

  .--product-visa-link
    margin-left: 15px
    max-width 120px
    height: 200px

  .--shop-link
    max-width 320px
    height: 200px

@media screen and (max-width: 400px)
    .--cases-description
      top: 55%

    .service-captcha
      & > div
        height: 105px !important


