<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.about-us.title')"
    :description="$t('pages.about-us.description')"
    :keywords="$t('pages.about-us.keywords')"
    :img="true"
  >
    <section class="about-us pt-5">
      <div class="container">
        <div>
          <p>
            Cryptocurrency payments are more efficient, fair, and transparent than the conventional financial system.
            You can create online stores, build exchanges, launch provably fair games, and provide private currency
            exchange or other online services. Blockchain technology gives new opportunities to raise capital,
            distribute electronic and physical assets, building an innovative industry of the Internet of Things and
            smart contracts.
          </p>
          <p>
            If you want to join the crypto world, we will help you to do it. Founded in 2017, Apirone is one of the
            simplest and most convenient services for receiving, processing, and sending cryptocurrency payments
            according to our clients
            <a
              style="word-break: break-all"
              target="_blank"
              href="https://www.trustpilot.com/review/apirone.com"
            >(Trustpilot reviews)</a>.
            We developed our own payment processing platform which guarantees secure and stable financial transactions
            in cryptocurrencies.
          </p>
          <p>
            Apirone provides highly reliable toolkits, updates blockchain node versions quickly and seamlessly, and our
            services have the longest operation uptime. Also, we created tools for forwarding cryptocurrencies and API
            for accepting payments. We developed personal mobile wallets with instant payment and new online business
            instruments integrated into the retail and banking sector.
          </p>
          <p>
            The Apirone system is permanently developed, and if you have any wishes to improve the quality and
            convenience of our services, you can always send them to our support team: <a
            href="mailto:support@apirone.com"
          >support@apirone.com</a>.
          </p>
        </div>
        <div class="row mb-5 mt-5">
          <div class="col-lg-3">
            <div class="card-header card-header-divider mb-3">
              Apirone.com
            </div>
            <div class="card-body p-0">
              <address>
                <strong>{{ $t('registered') }}:</strong><br>
                Harju maakond, Tallinn,<br>
                Kesklinna linnaosa,<br>
                Tartu mnt 67/1-13b, 10115<br>
                Estonia
              </address>
              <Social class="mb-4"/>
            </div>
          </div>
          <div class="col-lg-9">
            <iframe
              src="https://snazzymaps.com/embed/523548"
              width="100%"
              height="100%"
              style="border:none; border-radius: .5rem;"
            ></iframe>
          </div>
        </div>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://make.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="90"
                  src="/img/partners/make.png"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://replit.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="90"
                  src="/img/partners/replit.png"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://apitracker.io/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="110"
                  src="/img/partners/apitracker.png"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://blockchair.com/awesome/crypto-processors/?from=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="110"
                  src="/img/partners/blockchair.svg"
                  class="partners__img"
                  alt="blockchair logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://cryptorank.io/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="30"
                  src="/img/partners/cryptorank_200x200.png"
                  class="partners__img"
                  alt="cryptorank logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://cointraffic.io/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="100"
                  src="/img/partners/cointraffic.svg"
                  class="partners__img"
                  alt="cointraffic logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import Social from '@/components/footer/Social.vue'

export default {
  name: 'about-us',
  components: {
    Social
  }
}
</script>

<style>
.about-us .card-header {
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0);
}
</style>
