<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.brand.title')"
    :description="$t('pages.network-fee.description')"
    :keywords="$t('pages.network-fee.keywords')"
    :img="false"
  >
    <div class="info-logo container case-page">
      <div class="case-page__title-arrow">
        <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
        <h2>Colors</h2>
      </div>
      <div class="info-logo__colors">
        <div class="info-logo__color">
          <div style="background: var(--primary)"></div>
          <span>Primary color</span>
          rgb: R93 G138 B185 <br>
          hex: #5D8AB9 <br>
          hsl: H211 S40% L55%
        </div>
        <div class="info-logo__color">
          <div style="background: var(--black)"></div>
          <span>Dark color</span>
          rgb: R47 G46 B65 <br>
          hex: #2F2E41 <br>
          hsl: H243 S17% L22%
        </div>
      </div>
<!--      <div class="case-page__title-arrow">-->
<!--        <span><img src="/img/cases/arrow.svg" alt="arrow"></span>-->
<!--        <h2>Fonts</h2>-->
<!--      </div>-->
<!--      Linux 500-->
      <div class="case-page__title-arrow">
        <span><img src="/img/cases/arrow.svg" alt="arrow"></span>
        <h2>Downloads</h2>
      </div>
      <div class="info-logo__downloads">
        <div class="info-logo__download">
          <img class="info-logo__download-img" width="200" src="/img/logos/logo-primary.svg" alt="Logo Primary">
          <div class="info-logo__download-links">
            <button class="btn-link" @click.prevent="downloadImage('primary', 'svg')">
              SVG
            </button>
            <button class="btn-link" @click.prevent="downloadImage('primary', 'png')">
              PNG
            </button>
            <button class="btn-link" @click.prevent="downloadImage('primary', 'zip')">
              Download all
            </button>
          </div>
        </div>
        <div style="border-color: var(--black)" class="info-logo__download">
          <img class="info-logo__download-img" width="200" src="/img/logos/logo-dark.svg" alt="Logo Black">
          <div class="info-logo__download-links">
            <button style="border-color: var(--black)" class="btn-link" @click.prevent="downloadImage('dark', 'svg')">
              SVG
            </button>
            <button style="border-color: var(--black)" class="btn-link" @click.prevent="downloadImage('dark', 'png')">
              PNG
            </button>
            <button style="border-color: var(--black)" class="btn-link" @click.prevent="downloadImage('dark', 'zip')">
              Download all
            </button>
          </div>
        </div>
        <div class="info-logo__download">
          <img width="60" src="/img/logos/logo-primarySmall.svg" alt="Logo Primary Small">
          <div class="info-logo__download-links">
            <button class="btn-link" @click.prevent="downloadImage('primary', 'svg', 'Small')">
              SVG
            </button>
            <button class="btn-link" @click.prevent="downloadImage('primary', 'png', 'Small')">
              PNG
            </button>
            <button class="btn-link" @click.prevent="downloadImage('primary', 'zip', 'Small')">
              Download all
            </button>
          </div>
        </div>
        <div style="border-color: var(--black)" class="info-logo__download">
          <img width="60" src="/img/logos/logo-darkSmall.svg" alt="Logo Black Small">
          <div class="info-logo__download-links">
            <button
              style="border-color: var(--black)"
              class="btn-link"
              @click.prevent="downloadImage('dark', 'svg', 'Small')"
            >
              SVG
            </button>
            <button
              style="border-color: var(--black)"
              class="btn-link"
              @click.prevent="downloadImage('dark', 'png', 'Small')"
            >
              PNG
            </button>
            <button
              style="border-color: var(--black)"
              class="btn-link"
              @click.prevent="downloadImage('dark', 'zip', 'Small')"
            >
              Download all
            </button>
          </div>
        </div>
        <div class="info-logo__download">
          <img width="60" src="/img/logos/logo-primaryAnimate.svg" alt="Logo Black Small">
          <div class="info-logo__download-links">
            <button
              class="btn-link"
              @click.prevent="downloadImage('primary', 'svg', 'Animate')"
            >
              SVG
            </button>
          </div>
        </div>
        <div style="border-color: var(--black)" class="info-logo__download">
          <img width="60" src="/img/logos/logo-darkAnimate.svg" alt="Logo Black Small">
          <div class="info-logo__download-links">
            <button
              style="border-color: var(--black)"
              class="btn-link"
              @click.prevent="downloadImage('dark', 'svg', 'Animate')"
            >
              SVG
            </button>
          </div>
        </div>
      </div>
    </div>
  </PageTemplate>
</template>

<script>
import MenuIcon from '@/components/icons/MenuIcon.vue';

export default {
  name: 'brand-resources',
  components: {MenuIcon},
  head() {
    return {
      link: [
        {rel: 'stylesheet', href: '/css/case-page.css'}
      ]
    }
  },
  methods: {
    downloadImage(name, type, size = '') {
      const imageUrl = ` ${process.env.serviceUrl}/img/logos/logo-${name}${size}.${type}`;

      const link = document.createElement('a');
      link.href = imageUrl;

      link.setAttribute('download', `logo-${name}${size}.${type}`);

      document.body.appendChild(link);
      link.click();

      document.body.removeChild(link);
    }
  }
}
</script>

<style>
.info-logo__colors {
  display: flex;
}

.info-logo__color {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.info-logo__color > div {
  height: 80px;
}

.info-logo__color > span {
  color: var(--black);
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.info-logo__color + .info-logo__color {
  margin-left: 2rem;
}

.info-logo__downloads {
  display: flex;
  flex-wrap: wrap;
}

.info-logo__download:nth-child(even) {
  margin-left: 2rem;
}

.info-logo__download {
  border: 1px solid #D8E2F0;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  margin-bottom: 2rem;
}

.info-logo__download-links {
  display: flex;
  margin-top: 2rem;
}

.info-logo__download-links > .btn-link {
  padding: 0.4rem 1.4rem;
}

.info-logo__download-links > .btn-link:nth-child(2) {
  margin: 0 1rem;
}

@media (max-width: 991px) {
  .info-logo__download {
    width: 47%;
    padding: 1.5rem;
  }

  .info-logo__download-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-logo__download-links > .btn-link:nth-child(2) {
    margin-right: 0;
  }

  .info-logo__download-links > .btn-link:nth-child(3) {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .info-logo__download {
    width: 46%;
  }

  .info-logo__download-img {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .info-logo__download {
    width: 100%;
    margin-left: 0 !important;
  }

  .info-logo__download-img {
    width: auto;
  }

  .info-logo__download-links > .btn-link:nth-child(3) {
    margin-top: 0;
    margin-left: 1rem;
  }

  .info-logo__colors {
    flex-direction: column;
  }

  .info-logo__color {
    width: 100%;
    margin-left: 0 !important;
  }

  .info-logo__color + .info-logo__color {
    margin-top: 2rem;
  }
}

@media (max-width: 420px) {
  .info-logo__download-links {
    max-width: 300px;
  }

  .info-logo__download-links > .btn-link:nth-child(3) {
    margin-top: 1rem;
    margin-left: 0;
  }
}

</style>
