<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.donation-widget.title')"
    :description="$t('pages.donation-widget.description')"
    :keywords="$t('pages.donation-widget.keywords')"
    :img="true"
  >
    <template #heading>
      <p class="text-secondary">
        <img width="70" style="height: auto" src="/img/payment-constructors/htmlcssjs.png" alt="Html css js logo"/>
      </p>
    </template>
    <section class="pt-5">
      <div class="container">
        <p>
          As an example of our API usage we are glad to present an ultra simple vanilla JS based widget that can be
          used as a donation widget for any platform or service. As an input during initialization the script gets some
          specific
          <a
            href="https://github.com/Apirone/donation-widget"
            target="_blank"
          >
            parameters
          </a>.
        </p>
        <h2 style="text-align: center; margin: 2rem 0;">
          Build your own widget
        </h2>
        <div class="donation-widget__container">
          <div class="donation-widget__content">
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="acc">Account ID</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="acc"
                  v-model="parameters.acc"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="title">Title</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="title"
                  v-model="parameters.title"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="description">Description</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="description"
                  v-model="parameters.description"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="amounts">Amounts</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="amounts"
                  v-model="parameters.amounts"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="fiat-currency">Fiat</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="fiat-currency"
                  v-model="parameters.fiatCurrency"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="default-crypto">Crypto</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="default-crypto"
                  v-model="parameters.defaultCrypto"
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="border-radius">Border radius</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="border-radius"
                  v-model="parameters.borderRadius"
                  type="number"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="primary-color">Primary color</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="primary-color"
                  v-model="parameters.primaryColor"
                  type="color"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="debug-mode">Debug mode</label>
              </b-col>
              <b-col sm="8">
                <b-form-checkbox
                  id="debug-mode"
                  v-model="parameters.debugMode"
                />
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="dark">Dark</label>
              </b-col>
              <b-col sm="8">
                <b-form-checkbox
                  id="dark"
                  v-model="parameters.dark"
                />
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="embedded">Embedded</label>
              </b-col>
              <b-col sm="8">
                <b-form-checkbox
                  id="embedded"
                  v-model="parameters.embedded"
                />
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="height">Height</label>
              </b-col>
              <b-col sm="8">
                <b-form-input
                  id="height"
                  v-model="parameters.height"
                  type="number"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col sm="4">
                <label for="align">Align</label>
              </b-col>
              <b-col sm="8">
                <b-form-select
                  v-model="parameters.align"
                  :options="['left', 'center', 'right']"
                ></b-form-select>
              </b-col>
            </b-row>
          </div>
          <div class="donation-widget__content">
            <div class="widget-wrapper w-100 mb-3">
              <div
                id="__apr-donate-widget"
                ref="widget"
              ></div>
              <div
                v-if="!isScriptLoaded"
                class="widget-loader w-100 d-flex align-items-center justify-content-center"
              >
                <Loader/>
              </div>
            </div>
            <client-only>
              <Copy
                :text="widgetCode"
                title="Copy code"
              />
              <div
                id="__constructor-code"
                class="donation-widget__code"
                v-html="widgetCode"
              ></div>
            </client-only>
          </div>
        </div>
        <p>
          Feel free to use or/and modify the widget code with your requirements. The widget functionality is based
          on
          our API and uses all the power. Enjoy your scripting/usage!
        </p>
        <p>
          Fork us on the
          <a
            href="https://github.com/Apirone/donation-widget"
            target="_blank"
          >Github</a>!
        </p>
        <div class="partners">
          <p>Uses cryptocurrency payment gateways</p>
          <div class="partners__items">
            <div class="partners__item">
              <a
                href="https://donateanycrypto.com/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="160"
                  src="/img/partners/donateanycrypto.png"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
            <div class="partners__item">
              <a
                href="https://weplay.io/?lid=apirone"
                target="_blank"
              >
                <b-img-lazy
                  width="160"
                  src="/img/partners/weplay.svg"
                  class="partners__img"
                  alt="integromat logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import Loader from '@/components/Loader.vue'
import Copy from '@/components/Copy.vue'

export default {
  name: 'donation-widget',
  components: {Loader, Copy},
  data() {
    return {
      baseUrl: process.env.serviceUrl,
      isScriptLoaded: false,
      parameters: {
        acc: 'apr-0bfb905069cf665d46c18aad2dcbf504',
        title: 'Donation for charity (demo)',
        description: 'We build a 🚀 to Mars for better civilization and future.',
        amounts: '20,100,300,500',
        fiatCurrency: 'USD',
        borderRadius: 26,
        defaultCrypto: 'BTC',
        primaryColor: '#397cb0',
        debugMode: false,
        dark: false,
        embedded: false,
        height: 600,
        align: 'left'
      }
    }
  },
  head() {
    return {
      script: [
        {
          src: this.scriptSrc,
          hid: 'widget-script-hid',
          async: true,
          id: '__apr-donate-script',
          callback: () => {
            this.isScriptLoaded = true
          }
        }
      ]
    }
  },
  computed: {
    scriptSrc() {
      return `/js/widget.js?acc=${this.parameters.acc}&title=${this.parameters.title}&description=${this.parameters.description}&amounts=${this.parameters.amounts}&border-radius=${this.parameters.borderRadius}&primary-color=${this.parameters.primaryColor.replace(/#/g, '')}&fiat-currency=${this.parameters.fiatCurrency}&default-crypto=${this.parameters.defaultCrypto}&debug-mode=${this.parameters.debugMode}&dark=${this.parameters.dark}&embedded=${this.parameters.embedded}&height=${this.parameters.height}&align=${this.parameters.align}&baseUrl=${this.baseUrl}`
    },
    widgetCode() {
      return `&#60;script src="${this.scriptSrc}" async id="__apr-donate-script"&#62;&#60;/script&#62;`
    }
  },
  watch: {
    scriptSrc: {
      handler() {
        this.isScriptLoaded = false
        /* this.$refs.widget.innerHTML = ''; */
      }
    }
  }
}
</script>

<style scoped>
.donation-widget__code {
  white-space: nowrap;
  overflow: auto;
  padding: 14px;
  background: var(--bg);
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.widget-wrapper {
  height: 600px;
}

.widget-loader {
  height: 100%;
}

.donation-widget__container {
  display: flex;
  align-items: flex-start;
}

.donation-widget__content {
  width: 50%;
}

.donation-widget__content:last-child {
  margin-left: 3rem;
}

@media (max-width: 991px) {
  .donation-widget__container {
    flex-direction: column;
  }

  .donation-widget__content {
    width: 100%;
    margin-left: 0 !important;
  }

  .donation-widget__content:last-child {
    margin-top: 2rem;
  }
}
</style>

<style>
.__apr-donate-widget {
  max-width: unset !important;
}

.hljs {
  background: #f3f3f3 !important;
}
</style>
