<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.faq.title')"
    :description="$t('pages.faq.description')"
    :keywords="$t('pages.faq.keywords')"
    :img="true"
  >
    <section class="pt-5 faq">
      <div class="container">
        <div
          class="accordion"
          role="tablist"
        >
          <div
            v-for="(item, key) in $t('faq')"
            :key="key"
          >
            <h2 class="mb-4 mt-4">
              {{ key }}
            </h2>
            <b-card
              v-for="accord in item"
              :key="accord.id"
              no-body
              class="mb-1 accordion__card"
            >
              <b-card-header
                header-tag="header"
                class="p-1"
                role="tab"
              >
                <b-button
                  :id="accord.id"
                  v-b-toggle:[`${accord.id}`]
                  style="text-align: start"
                  block
                  variant="info"
                >
                  {{ accord.title }}
                </b-button>
              </b-card-header>
              <b-collapse
                :id="accord.id"
                accordion="my-accordion"
                role="tabpanel"
                :visible="$route.hash.replace('#', '') === accord.id"
                @show="setHash(accord.id)"
              >
                <b-card-body>
                  <b-card-text v-html="accord.text"></b-card-text>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'faq',
  data() {
    return {
      startHash: true
    }
  },
  mounted() {
    this.startHash = false;
  },
  methods: {
    setHash(hash) {
      if (!this.startHash) {
        history.replaceState(null, null, `#${hash}`);
      }
    }
  }
}
</script>

<style>
@import "@/static/css/accordion.css";

@media (max-width: 767px) {
    img[alt='Faq3'] {
        width: 100%;
    }

    img[alt='Faq2'] {
        width: 70%;
    }

    img[alt='Faq'] {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .faq h2 {
        font-size: 1.5rem;
    }
}

</style>
