<template>
  <MainTemplate
    :title="$t('pages.index.title')"
    :description="$t('pages.index.description')"
    :keywords="$t('pages.index.keywords')"
  >
    <Banner />
    <PricingComponent />
    <Ticker />
    <IntegrationsComponent/>
    <Advantages />
    <Constructors />
    <EasyRegistration/>
  </MainTemplate>
</template>

<script>
import Banner from '@/components/parts/index/Banner.vue'
import Ticker from '@/components/parts/index/Ticker.vue'
import Constructors from '@/components/parts/index/Constructors.vue'
import BoxIcon from '@/components/icons/BoxIcon.vue'
import CodeIcon from '@/components/icons/CodeIcon.vue'
import WalletIcon from '@/components/icons/WalletIcon.vue'
import PricingComponent from '@/components/parts/index/PricingComponent.vue';
import IntegrationsComponent from '@/components/parts/index/IntegrationsComponent.vue';
import Advantages from '@/components/parts/index/Advantages.vue';
import EasyRegistration from '@/components/parts/index/EasyRegistration.vue';

export default {
  name: 'home',
  components: {
    EasyRegistration,
    Advantages,
    IntegrationsComponent,
    PricingComponent,
    Banner,
    Ticker,
    Constructors,
    BoxIcon,
    CodeIcon,
    WalletIcon
  }
}
</script>

<style scoped>
.bottom-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.bottom-links a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.index-bottom .container {
  position: relative;
  height: 17rem;
}

.index-bottom .container img {
  position: absolute;
}

.index-bottom__d1 {
  width: 7rem;
  top: 0;
  left: -10%;
}

.index-bottom__d2 {
  width: 10rem;
  bottom: 0;
  left: 0;
}

.index-bottom__d3 {
  width: 5rem;
  bottom: 5rem;
  left: 25%;
}

.index-bottom__d4 {
  width: 5rem;
  bottom: 4rem;
  right: 35%;
}

.index-bottom__d5 {
  width: 5rem;
  bottom: 10rem;
  right: 22%;
}

.index-bottom__d6 {
  width: 5rem;
  bottom: 0;
  right: 5%;
}

.index-bottom__d7 {
  width: 11rem;
  top: 0;
  right: -20%;
}

@media (max-width: 480px) {
  .index-bottom .container {
    display: none;
  }

  .index-bottom>img {
    display: block !important;
  }
}
</style>

<style>
.bottom-links a .svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .5rem;
}
</style>
