<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.mini-cart.title')"
    :description="$t('pages.mini-cart.description')"
    :keywords="$t('pages.mini-cart.keywords')"
    :img="true"
  >
    <template #heading>
      <p
        class="text-secondary"
        v-html="$t('pages.payments-button.text')"
      ></p>
    </template>
    <section class="pt-5">
      <div class="container">
        <transition
          name="notification"
          mode="out-in"
        >
          <div v-if="isShowNotice" class="mini-cart__notice mini-cart__main-notice">
            <div @click="isShowNotice = false"></div>
            <span>Notice</span>
            The code was successfully generated, you can copy it using the "Copy code" button
          </div>
        </transition>
        <div class="d-flex mini-cart__content">
          <div class="mini-cart__item">
            <div
              class="accordion"
              role="tablist"
            >
              <b-card
                no-body
                class="mb-1 accordion__card"
              >
                <b-card-header
                  header-tag="header"
                  class="p-1"
                  role="tab"
                >
                  <b-button
                    id="generalSettings"
                    v-b-toggle:[`generalSettings`]
                    style="text-align: start"
                    block
                    variant="info"
                  >
                    General Settings
                  </b-button>
                </b-card-header>
                <b-collapse
                  id="generalSettings"
                  visible
                  accordion="my-accordion"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-text>
                      <b-row>
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="acc">Account ID<span style="color: red">*</span></label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-input
                            id="acc"
                            v-model="parameters.account"
                            type="text"
                            placeholder="Enter Apirone account ID"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3"></b-col>
                        <b-col sm="9">
                          <p class="accordion__legend">
                            To get an account id, you have to go to <a target="_blank" href="/dashboard/">dashboard</a>
                            and create an account
                          </p>
                        </b-col>
                      </b-row>
                      <b-row class="">
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="acc">Invoice lifetime<span style="color: red">*</span></label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-input
                            id="acc"
                            v-model="parameters.lifetime"
                            type="number"
                            min="0"
                            placeholder="Invoice lifetime"
                            @keydown="filterInput"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3"></b-col>
                        <b-col sm="9">
                          <p class="accordion__legend accordion__legend-lifetime">
                            Duration of invoice validity
                          </p>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="">Callback-url</label>
                        </b-col>
                        <b-col>
                          <b-form-input
                            v-model="parameters.callbackUrl"
                            placeholder=""
                            type="text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3"></b-col>
                        <b-col>
                          <p class="accordion__legend">
                            Callback URL used for invoice status updates notifications. More information about invoice
                            callback see
                            <a target="_blank" href="/docs/receiving-callbacks/#invoices">here</a>
                          </p>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="">Linkback <span style="color: red">*</span></label>
                        </b-col>
                        <b-col>
                          <b-form-input
                            v-model="parameters.linkback"
                            placeholder=""
                            type="text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3"></b-col>
                        <b-col>
                          <p class="accordion__legend">
                            The customer will be redirected to this URL after the payment is completed
                          </p>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="">Fiat</label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-select
                            v-model="parameters.fiatCurrency"
                            :options="fiatOptions"
                          ></b-form-select>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="">Crypto</label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-select
                            v-model="parameters.cryptoCurrency"
                            :options="cryptoOptions"
                            @change="changeWallets"
                          ></b-form-select>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col class="d-flex align-items-center" sm="3">
                          <label for="">Debug mode</label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-checkbox
                            id="debugMode"
                            v-model="debugMode"
                          ></b-form-checkbox>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col class="d-flex align-items-center" sm="3">
                        </b-col>
                        <b-col sm="9">
                          <p class="accordion__legend">
                            Adds Bitcoin (testnet) to Crypto selections
                          </p>
                        </b-col>
                      </b-row>
                    </b-card-text>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card
                no-body
                class="mb-1 accordion__card"
              >
                <b-card-header
                  header-tag="header"
                  class="p-1"
                  role="tab"
                >
                  <b-button
                    id="visualSettings"
                    v-b-toggle:[`visualSettings`]
                    style="text-align: start"
                    block
                    variant="info"
                  >
                    Visual Settings
                  </b-button>
                </b-card-header>
                <b-collapse
                  id="visualSettings"
                  accordion="my-accordion"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-text>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3">
                          Title
                        </b-col>
                        <b-col>
                          <b-form-input
                            id="titleCart"
                            v-model="parameters.titleCart"
                            placeholder=""
                            type="text"
                            @keypress="handleKeypressTitleCart"
                            @input="handleInputMaxLength(parameters.titleCart, 40)"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-3">
                        <b-col class="d-flex align-items-center" sm="3">
                          Title contact form
                        </b-col>
                        <b-col>
                          <b-form-input
                            id="titleCartContactForm"
                            v-model="parameters.titleCartContactForm"
                            placeholder=""
                            type="text"
                            @input="handleInputMaxLength(parameters.titleCartContactForm, 40)"
                            @keypress="handleKeypressTitleCartContactForm"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-4">
                        <b-col class="d-flex align-items-center" sm="3">
                          Text on the payment button
                        </b-col>
                        <b-col sm="9">
                          <b-form-input
                            id="nameButton"
                            v-model="parameters.nameButton"
                            type="text"
                            @input="handleInputMaxLength(parameters.nameButton, 20)"
                            @keypress="handleKeypressNameButton"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-4">
                        <b-col class="d-flex align-items-center" sm="3">
                          Text on the button with the list of products
                        </b-col>
                        <b-col sm="9">
                          <b-form-input
                            id="nameButtonProductList"
                            v-model="parameters.nameButtonProductList"
                            type="text"
                            @input="handleInputMaxLength(parameters.nameButtonProductList, 20)"
                            @keypress="handleKeypressNameButton"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row class="mb-4">
                        <b-col sm="3">
                          <label for="primary-color">Primary color</label>
                        </b-col>
                        <b-col sm="9">
                          <b-form-input
                            id="primary-color"
                            v-model="parameters.primaryColor"
                            type="color"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                    </b-card-text>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card
                no-body
                class="mb-1 accordion__card"
              >
                <b-card-header
                  header-tag="header"
                  class="p-1"
                  role="tab"
                >
                  <b-button
                    id="productsPage"
                    v-b-toggle:[`productsPage`]
                    style="text-align: start"
                    block
                    variant="info"
                  >
                    Products page
                  </b-button>
                </b-card-header>
                <b-collapse
                  id="productsPage"
                  accordion="my-accordion"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-text>
                      <div>
                        <div id="additionalInfo">
                          <b-row
                            v-for="(field, index) in products"
                            :key="`additional_info_${index}`"
                            class="mb-3 mini-cart__additional-info-block align-items-center"
                          >
                            <div style="width: 93%;">
                              <b-col class="d-flex" sm="12">
                                <div class="d-flex flex-column w-100">
                                  <b-form-input
                                    :id="`variable${index}`"
                                    v-model="field.productTitle"
                                    placeholder="Title"
                                    @keypress="handleKeypressTitleProduct"
                                    @input="handleInputMaxLength(products[index].productTitle, 20)"
                                  ></b-form-input>
                                </div>
                                <div class="d-flex flex-column ml-2 w-100">
                                  <b-form-input
                                    :id="`value${index}`"
                                    v-model="field.price"
                                    placeholder="Price"
                                    type="number"
                                    min="0"
                                    @keydown="filterInput"
                                  ></b-form-input>
                                </div>
                              </b-col>
                              <b-col class="d-flex mt-2" sm="12">
                                <b-form-textarea
                                  :id="`value${index}`"
                                  v-model="field.description"
                                  placeholder="Description"
                                  type="text"
                                  style="min-height: 62px; max-height: 90px"
                                  @input="handleInputMaxLength(products[index].description, 130)"
                                  @keypress="handleKeypressTextArea"
                                ></b-form-textarea>
                              </b-col>
                              <b-col class="d-flex mt-2" sm="12">
                                <b-form-input
                                  v-model="field.linkImg"
                                  type="text"
                                  placeholder="Link image"
                                ></b-form-input>
                              </b-col>
                            </div>
                            <button
                              class="mini-cart__delete-item d-flex justify-content-center align-items-center ml-2"
                              @click.prevent="deleteFieldAdditionalInformation(index, products)"
                            >
                              <TrashIcon/>
                            </button>
                          </b-row>
                        </div>
                        <b-button
                          style="background: var(--primary); border-color: var(--primary);"
                          class="btn"
                          @click="addFieldAdditionInformation"
                        >
                          Add
                        </b-button>
                      </div>
                    </b-card-text>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card
                no-body
                class="mb-1 accordion__card"
              >
                <b-card-header
                  header-tag="header"
                  class="p-1"
                  role="tab"
                >
                  <b-button
                    id="contactPage"
                    v-b-toggle:[`contactPage`]
                    style="text-align: start"
                    block
                    variant="info"
                  >
                    Contact page
                  </b-button>
                </b-card-header>
                <b-collapse
                  id="contactPage"
                  accordion="my-accordion"
                  role="tabpanel"
                >
                  <b-card-body>
                    <b-card-text>
                      <div class="mini-cart__person-data">
                        <b-row class="mb-3">
                          <b-col sm="3"></b-col>
                          <b-col sm="2">
                            Show
                          </b-col>
                          <b-col style="word-wrap: initial" sm="2">
                            Require
                          </b-col>
                        </b-row>
                        <b-row class="row-input mb-3">
                          <b-col sm="3">
                            Email:
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.email.show"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.email.require"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                        </b-row>
                        <b-row class="row-input mb-3">
                          <b-col sm="3">
                            Phone:
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.phone.show"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.phone.require"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                        </b-row>
                        <b-row class="row-input mb-3">
                          <b-col sm="3">
                            Full Name:
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.fullName.show"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.fullName.require"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                        </b-row>
                        <b-row class="row-input mb-3">
                          <b-col sm="3">
                            Delivery address:
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.address.show"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.address.require"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                        </b-row>
                        <b-row class="row-input mb-3">
                          <b-col sm="3">
                            Description:
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.description.show"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                          <b-col sm="2">
                            <b-form-checkbox
                              v-model="parameters.description.require"
                              type="text"
                            ></b-form-checkbox>
                          </b-col>
                        </b-row>
                      </div>
                    </b-card-text>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </div>
            <button
              :disabled="parameters.account === '' || parameters.lifetime === ''"
              style="background: var(--primary); border-color: var(--primary);"
              class="btn btn-secondary mt-4"
              @click="showNotice"
            >
              Generate code
            </button>
          </div>
          <div class="mini-cart__item ml-5">
            <div
              id="__apr-constructor"
              ref="constructor"
              class="mini-cart__result-form"
            ></div>
            <div
              :class="['mini-cart__copy-code', {'mini-cart__copy-code-disabled': (parameters.account === '' || parameters.lifetime === '')}]"
            >
              <Copy
                id="copyCode"
                class="mt-3"
                title="Copy code"
                :disabled="parameters.account === '' || parameters.lifetime === ''"
              />
              <div class="mini-cart__notice mini-cart__copy-code-notice">
                <span>Notice</span>
                Fill in the required fields first
              </div>
            </div>
            <div
              id="__constructor-code"
              class="mini-cart__code"
            ></div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import Copy from '@/components/Copy.vue'
import TrashIcon from '@/components/icons/TrashIcon.vue';
import getCurrencies from '@/mixins/getCurrencies';

export default {
  name: 'mini-cart',
  components: {TrashIcon, Copy},
  mixins: [getCurrencies],
  data() {
    return {
      baseUrl: process.env.serviceUrl,
      isShowNotice: false,
      parameters: {
        toFixed: null,
        fiatCurrency: 'USD',
        cryptoCurrency: 'BTC',
        account: '',
        nameButton: 'Pay',
        nameButtonProductList: 'Proceed to payment',
        primaryColor: '#5D8AB9',
        lifetime: 3600,
        callbackUrl: '',
        linkback: '',
        titleCart: 'We build a 🚀 to Mars for better civilization and future.',
        titleCartContactForm: 'Contact form',
        email: {
          show: true,
          require: false
        },
        phone: {
          show: true,
          require: false
        },
        fullName: {
          show: true,
          require: false
        },
        address: {
          show: true,
          require: false
        },
        description: {
          show: true,
          require: false
        }
      },
      products: [
        {
          productTitle: 'Ticket to Mars',
          description: 'Onward to new adventures!',
          price: '0',
          linkImg: 'https://apirone.com/img/pages/payments-button.webp',
          qty: 0
        }
      ],
      fiatOptions: [],
      cryptoOptions: [],
      debugMode: false
    }
  },
  head() {
    return {
      script: [
        {
          src: this.scriptSrc,
          hid: 'constructors-script-hid',
          async: true,
          id: '__apr-constructor_script'
        }
      ]
    }
  },
  computed: {
    scriptSrc() {
      return `/js/constructor/mini-cart.js?parameters=${this.encodeData(this.parameters)}&products=${this.encodeData(this.products)}&baseUrl=${this.encodeData(this.baseUrl)}`
    }
  },
  watch: {
    'debugMode'(to) {
      this.currencies.forEach((currency) => {
        if (to) {
          if (!this.cryptoOptions.includes(currency.abbr.toUpperCase())) {
            this.cryptoOptions.push(currency.abbr.toUpperCase())
          }
        } else {
          const excludedCoins = this.currencies.filter((currency) => {
            return currency.abbr.includes('ttrx') || currency.name.includes('testnet');
          }).map(currency => currency.abbr.toUpperCase());

          this.cryptoOptions = this.cryptoOptions.filter(coin => !excludedCoins.includes(coin));
          this.parameters.cryptoCurrency = this.cryptoOptions[0]
        }
      })
    }
  },
  mounted() {
    sessionStorage.use = false
    this.$axios
      .$options(`${this.baseUrl}/api/v2/wallets`)
      .then((response) => {
        response.currencies.forEach((item) => {
          if (!item.name.includes('testnet') & !item.abbr.includes('ttrx')) {
            this.cryptoOptions.push(item.abbr.toUpperCase())
          }
        })
        this.parameters.cryptoCurrency = this.cryptoOptions[0]
        this.changeWallets()
      })

    this.$axios
      .$get(`${this.baseUrl}/api/v2/ticker?currency=btc`)
      .then((response) => {
        for (const fiat in response) {
          if (fiat !== 'btc') {
            this.fiatOptions.push(fiat.toUpperCase())
          }
        }
      })
  },
  methods: {
    changeWallets() {
      this.currencies.forEach((currency) => {
        if (this.parameters.cryptoCurrency.toLowerCase() === currency.abbr.toLowerCase()) {
          this.parameters.toFixed = currency.abbr.includes('usdt') || currency.abbr.includes('usdc') ? 2 : (1 / currency['units-factor']).toString().length - 1;
        }
      })
    },
    showNotice() {
      this.isShowNotice = true
      setTimeout(() => {
        this.isShowNotice = false
      }, 5000)
    },
    handleKeypressTextArea(event) {
      this.handleKeypress(event, 130, this.products, 'value', 'description');
    },
    handleKeypressNameButton(event) {
      this.handleKeypress(event, 20, this.parameters, '', '');
    },
    handleKeypressTitleCart(event) {
      this.handleKeypress(event, 40, this.parameters, '', '');
    },
    handleKeypressTitleCartContactForm(event) {
      this.handleKeypress(event, 40, this.parameters, '', '');
    },
    handleKeypressTitleProduct(event) {
      this.handleKeypress(event, 20, this.products, 'variable', 'productTitle');
    },
    handleKeypress(event, maxLength, targetArray, idPrefix, field) {
      const id = event.target.id.replace(idPrefix, '')
      const lengthToCheck = field ? targetArray[id][field].length : targetArray[id].length;
      if (lengthToCheck >= maxLength) {
        event.preventDefault();
      }
    },
    handleInputMaxLength(key, maxLength) {
      if (key.length > maxLength) {
        key = key.substring(0, maxLength);
      }
    },
    filterInput(event) {
      if (((event.metaKey || event.ctrlKey) && [67, 86, 88, 65].includes(event.keyCode)) ||
        (event.keyCode === 8 || event.keyCode === 9 || event.keyCode === 46 || (event.key === '.' && event.target.name !== 'qty'))) {
        return true;
      } else if (event.keyCode === 46 || !/^[0-9]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    encodeData(data) {
      return encodeURIComponent(JSON.stringify(data))
    },
    addFieldAdditionInformation() {
      this.products.push({
        productTitle: 'Title product',
        description: 'There should be a description of the product or service.',
        price: '0',
        linkImg: 'https://apirone.com/img/pages/payments-button.webp'
      })
    },
    deleteFieldAdditionalInformation(index, data) {
      data.splice(index, 1)
    }
  }
}
</script>

<style scoped>
label {
  margin: 0;
}
</style>

<style>
.notification-enter-active,
.notification-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.5s;
}

.notification-enter,
.notification-leave-to {
  transform: translateY(50px);
  opacity: 0;
}
</style>

<style>
@import "@/static/css/accordion.css";

.mini-cart__copy-code {
  position: relative;
}

.mini-cart__main-notice {
  top: 85px;
  position: fixed !important;
  right: 18px;
  z-index: 100;
  max-width: 300px;
}

.mini-cart__main-notice > div {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 12px;
  height: 12px;
}

.mini-cart__main-notice > div:after, .mini-cart__main-notice > div:before {
  content: '';
  display: block;
  width: 3px;
  height: 14px;
  position: absolute;
  top: 9%;
  left: 45%;
  background: var(--primary);
  border-radius: 3px;
  cursor: pointer;
}

.mini-cart__main-notice > div:after {
  transform: rotate(-45deg);
}

.mini-cart__main-notice > div:before {
  transform: rotate(45deg);
}

.mini-cart__notice {
  padding: 12px 24px;
  border-radius: 5px;
  background: #EFF3F8;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.2);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}

.mini-cart__copy-code-notice {
  top: -70px;
  left: 84px;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
  transition: transform .6s, opacity 0.4s, z-index 1s;
}

.mini-cart__notice:after {
  content: '';
  display: block;
  width: 7px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary);
}

.mini-cart__notice > span {
  margin-bottom: 12px;
  font-weight: 700;
}

.mini-cart__copy-code-disabled:hover > .mini-cart__copy-code-notice {
  transform: translateX(0);
  opacity: 1;
  z-index: 100;
}

.mini-cart__code {
  white-space: nowrap;
  overflow: auto;
  padding: 14px;
  background: var(--bg);
  font-size: 14px;
  margin-top: 12px;
}

.mini-cart__additional-info-block {
  flex-wrap: nowrap !important;
}

.mini-cart__switcher-currency .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff !important;
  border-color: #adb5bd !important;
}

.mini-cart__switcher-currency .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #adb5bd !important;
}

.mini-cart__person-data > .row {
  flex-wrap: nowrap !important;
}

.mini-cart__person-data > .row-input {
  word-break: break-word;
}

code[class*="language-"], pre[class*="language-"] {
  background: #f3f3f3 !important;
  color: inherit !important;
}

.mini-cart__result-form {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.mini-cart__delete-item {
  min-width: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: none;
  background: none;
}

.mini-cart__delete-item span {
  width: 8px;
  height: 2px;
  background-color: white;
  border-radius: 8px;
}

.mini-cart__item {
  min-width: 50%;
}

.mini-cart__item:last-child {
  min-width: calc(50% - 5rem);
}

@media (max-width: 991px) {
  .mini-cart__content {
    flex-direction: column;
  }

  .mini-cart__item {
    min-width: 100%;
    margin-left: 0 !important;
  }

  .mini-cart__item:last-child {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {

  .mini-cart__switch-show-field > div:first-child {
    display: none !important;
  }

  .mini-cart__additional-info-block > div:first-child {
    flex-direction: column;
  }

  .mini-cart__additional-info-block > div:first-child > input:last-child {
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .mini-cart__additional-info-block > div {
    width: calc(100% - 3rem) !important;
  }
}

</style>
