<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.payments-button.title')"
    :description="$t('pages.payments-button.description')"
    :keywords="$t('pages.payments-button.keywords')"
    :img="true"
  >
    <template #heading>
      <p
        class="text-secondary"
        v-html="$t('pages.payments-button.text')"
      ></p>
    </template>
    <section class="pt-5">
      <div class="container">
        <div class="d-flex payments-button__content">
          <div class="payments-button__item">
            <input type="text" name="apr_name" style="display: none">
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="acc">Account ID</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="acc"
                  v-model="parameters.account"
                  type="text"
                  placeholder="Enter Apirone account ID"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="acc">Invoice lifetime</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="acc"
                  v-model="parameters.lifetime"
                  type="number"
                  min="0"
                  placeholder="Invoice lifetime"
                  @keydown="filterInput"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="amount">Amount</label>
              </b-col>
              <b-col sm="6">
                <b-form-input
                  id="amount"
                  v-model="parameters.amount"
                  type="number"
                  min="0"
                  :disabled="parameters.amountIndicatedCustomer"
                  @keydown="filterInput"
                ></b-form-input>
              </b-col>
              <b-col class="d-flex align-items-center payments-button__switch-currency" sm="2.5">
                Fiat
                <b-form-checkbox
                  v-model="switchCurrency"
                  class="ml-2 payments-button__switcher-currency"
                  switch
                  @change="toggleSwitcher"
                />
                Crypto
              </b-col>
            </b-row>
            <b-row class="mb-3 payments-button__switch-show-field">
              <b-col class="d-flex align-items-center" sm="3"></b-col>
              <b-col sm="0.5" class="ml-3">
                <b-form-checkbox
                  id="amountIndicatedCustomer"
                  v-model="parameters.amountIndicatedCustomer"
                  switch
                  :disabled="switchCurrency"
                />
              </b-col>
              <b-col sm="7">
                <label for="amountIndicatedCustomer">The amount is indicated by the customer</label>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Fiat
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="fiatCurrency"
                  :options="fiatOptions"
                  :disabled="switchCurrency"
                ></b-form-select>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Crypto
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="cryptoCurrency"
                  :options="cryptoOptions"
                ></b-form-select>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col class="d-flex align-items-center" sm="3">
                The text on the button
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="nameButton"
                  v-model="parameters.nameButton"
                  type="text"
                  @input="handleInputNameButton"
                  @keypress="handleKeypressNameButton"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col sm="3">
                <label for="primary-color">Primary color</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="primary-color"
                  v-model="parameters.primaryColor"
                  type="color"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col class="d-flex align-items-center" sm="3">
                Debug mode
              </b-col>
              <b-col sm="9">
                <b-form-checkbox
                  id="debugMode"
                  v-model="debugMode"
                ></b-form-checkbox>
              </b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col>
                Description of the product or service. <br>
                This information will appear on the generated invoice. <br>
                These fields are optional.
              </b-col>
            </b-row>
            <div>
              <div id="additionalInfo">
                <b-row
                  v-for="(field, index) in additionalInformation"
                  :key="`additional_info_${index}`"
                  class="mb-3 payments-button__additional-info-block align-items-center"
                >
                  <b-col class="d-flex" sm="11">
                    <div class="d-flex flex-column w-100">
                      <b-form-input
                        :id="`variable${index}`"
                        v-model="field.name"
                        placeholder="Name"
                      ></b-form-input>
                      <b-form-input
                        :id="`value${index}`"
                        v-model="field.cost"
                        placeholder="Cost"
                        class="mt-2"
                        type="number"
                        min="0"
                        @keydown="filterInput"
                      ></b-form-input>
                    </div>
                    <div class="d-flex flex-column ml-2 w-100">
                      <b-form-input
                        :id="`value${index}`"
                        v-model="field.qty"
                        placeholder="Qty"
                        min="0"
                        type="number"
                        name="qty"
                        @keydown="filterInput"
                      ></b-form-input>
                      <b-form-input
                        :id="`value${index}`"
                        v-model="field.total"
                        placeholder="Total"
                        class="mt-2"
                        type="number"
                        min="0"
                        @keydown="filterInput"
                      ></b-form-input>
                    </div>
                  </b-col>
                  <button
                    class="payments-button__delete-item d-flex justify-content-center align-items-center ml-2"
                    @click.prevent="deleteFieldAdditionalInformation(index, additionalInformation)"
                  >
                    <TrashIcon/>
                  </button>
                </b-row>
              </div>
              <b-button
                style="background: var(--primary); border-color: var(--primary);"
                class="btn"
                @click="addFieldAdditionInformation"
              >
                Add
              </b-button>
            </div>
          </div>
          <div class="payments-button__item ml-5">
            <div
              id="__apr-constructor"
              ref="constructor"
              class="payments-button__result-form"
            ></div>
            <Copy
              id="copyCode"
              class="mt-3"
              title="Copy code"
            />
            <div
              id="__constructor-code"
              class="payments-button__code"
            ></div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import Copy from '@/components/Copy.vue'
import TrashIcon from '@/components/icons/TrashIcon.vue'
import getCurrencies from '@/mixins/getCurrencies';

export default {
  name: 'payments-button',
  components: {Copy, TrashIcon},
  mixins: [getCurrencies],
  data() {
    return {
      baseUrl: process.env.serviceUrl,
      parameters: {
        account: '',
        amount: 0,
        amountIndicatedCustomer: false,
        nameButton: 'Pay',
        primaryColor: '#5D8AB9',
        lifetime: 3600
      },
      fiatOptions: [],
      fiatCurrency: 'USD',
      cryptoOptions: [],
      cryptoCurrency: 'BTC',
      switchCurrency: false,
      additionalInformation: [
        {name: '', cost: '', qty: '', total: ''}
      ],
      debugMode: false
    }
  },
  head() {
    return {
      script: [
        {
          src: this.scriptSrc,
          hid: 'constructors-script-hid',
          async: true,
          id: '__apr-constructor_script'
        }
      ]
    }
  },
  computed: {
    jsonAdditionalInfo() {
      return encodeURIComponent(JSON.stringify(this.additionalInformation))
    },
    scriptSrc() {
      return `/js/constructor/payments-button.js?account=${this.parameters.account}&amount=${this.parameters.amount}&amountIndicatedCustomer=${this.parameters.amountIndicatedCustomer}&nameButton=${this.parameters.nameButton}&crypto=${this.cryptoCurrency}&fiat=${this.fiatCurrency}&switchCurrency=${this.switchCurrency}&additionalInfo=${this.jsonAdditionalInfo}&primaryColor=${this.parameters.primaryColor}&lifetime=${this.parameters.lifetime}&baseUrl=${this.baseUrl}`
    },
    currency() {
      if (this.switchCurrency) {
        return this.cryptoCurrency
      } else {
        return this.fiatCurrency
      }
    }
  },
  watch: {
    'debugMode'(to) {
      this.currencies.forEach((currency) => {
        if (to) {
          if (!this.cryptoOptions.includes(currency.abbr.toUpperCase())) {
            this.cryptoOptions.push(currency.abbr.toUpperCase())
          }
        } else {
          const excludedCoins = this.currencies.filter((currency) => {
            return currency.abbr.includes('ttrx') || currency.name.includes('testnet');
          }).map(currency => currency.abbr.toUpperCase());

          this.cryptoOptions = this.cryptoOptions.filter(coin => !excludedCoins.includes(coin));
          this.cryptoCurrency = this.cryptoOptions[0]
        }
      })
    }
  },
  beforeDestroy() {
    delete sessionStorage.totalButton
  },
  mounted() {
    sessionStorage.amount = this.parameters.amount
    sessionStorage.crypto = this.cryptoCurrency
    sessionStorage.fiat = this.fiatCurrency
    this.$axios
      .$options(`${this.baseUrl}/api/v2/wallets`)
      .then((response) => {
        response.currencies.forEach((item) => {
          if (!item.name.includes('testnet') && !item.abbr.includes('ttrx')) {
            this.cryptoOptions.push(item.abbr.toUpperCase())
          }
        })
        this.cryptoCurrency = this.cryptoOptions[0]
      })

    this.$axios
      .$get(`${this.baseUrl}/api/v2/ticker?currency=btc`)
      .then((response) => {
        for (const fiat in response) {
          if (fiat !== 'btc') {
            this.fiatOptions.push(fiat.toUpperCase())
          }
        }
      })
  },
  methods: {
    handleKeypressNameButton(event) {
      if (this.parameters.nameButton.length >= 20) {
        event.preventDefault();
      }
    },
    handleInputNameButton() {
      if (this.parameters.nameButton.length > 20) {
        this.parameters.nameButton = this.parameters.nameButton.substring(0, 20);
      }
    },
    filterInput(event) {
      if (((event.metaKey || event.ctrlKey) && [67, 86, 88, 65].includes(event.keyCode)) ||
        (event.keyCode === 8 || event.keyCode === 9 || event.keyCode === 46 || (event.key === '.' && event.target.name !== 'qty'))) {
        return true;
      } else if (event.keyCode === 46 || !/^[0-9]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    toggleSwitcher() {
      if (this.switchCurrency) {
        this.parameters.amountIndicatedCustomer = false
      }
    },
    addFieldAdditionInformation() {
      this.additionalInformation.push({name: '', cost: '', qty: '', total: ''})
    },
    deleteFieldAdditionalInformation(index, data) {
      data.splice(index, 1)
    }
  }
}
</script>

<style scoped>

.payments-button__code {
  white-space: nowrap;
  overflow: auto;
  padding: 14px;
  background: var(--bg);
  font-size: 14px;
  margin-top: 12px;
}

code[class*="language-"], pre[class*="language-"] {
  background: #f3f3f3 !important;
  color: inherit !important;
}

.payments-button__img {
  padding: 0.5rem;
}

.payments-button__switcher-currency .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff !important;
  border-color: #adb5bd !important;
}

.payments-button__switcher-currency .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #adb5bd !important;
}

.payments-button__result-form {
  box-shadow: 2px 2px 8px 0 #223c5033;
  border-radius: 0.5rem;
  padding: 2rem;
  height: 250px;
}

.payments-button__delete-item {
  min-width: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: none;
  background: none;
}

.payments-button__item {
  min-width: 50%;
}

.payments-button__item:last-child {
  min-width: calc(50% - 5rem);
}

@media (max-width: 991px) {
  .payments-button__content {
    flex-direction: column;
  }

  .payments-button__item {
    min-width: 100%;
    margin-left: 0 !important;
  }

  .payments-button__item:last-child {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .payments-button__switch-currency {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .payments-button__switch-show-field {
    flex-wrap: nowrap !important;
  }

  .payments-button__switch-show-field > div:first-child {
    display: none !important;
  }

  .payments-button__additional-info-block {
    flex-wrap: nowrap !important;
  }

  .payments-button__additional-info-block > div:first-child {
    flex-direction: column;
  }

  .payments-button__additional-info-block > div > div {
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .payments-button__additional-info-block > div > div > input:last-child {
    margin-top: 0.5rem !important;
  }

  .payments-button__additional-info-block > div {
    width: calc(100% - 3rem) !important;
  }
}

</style>
