<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.payments-form.title')"
    :description="$t('pages.payments-form.description')"
    :keywords="$t('pages.payments-form.keywords')"
    :img="true"
  >
    <template #heading>
      <p
        class="text-secondary"
        v-html="$t('pages.payments-button.text')"
      ></p>
    </template>
    <section class="pt-5">
      <div class="container">
        <div class="d-flex pay-button__content">
          <div class="pay-button__item">
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="acc">Account ID</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="acc"
                  v-model="parameters.account"
                  type="text"
                  placeholder="Enter Apirone account ID"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="acc">Invoice lifetime</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="acc"
                  v-model="parameters.lifetime"
                  type="number"
                  min="0"
                  placeholder="Invoice lifetime"
                  @keydown="filterInput"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Title
              </b-col>
              <b-col>
                <b-form-input
                  v-model="parametersProduct.type"
                  placeholder=""
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Name
              </b-col>
              <b-col>
                <b-form-input
                  v-model="parametersProduct.name"
                  placeholder=""
                  type="text"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Qty
              </b-col>
              <b-col>
                <b-form-input
                  v-model="parametersProduct.qty"
                  placeholder="Qty"
                  name="qty"
                  type="number"
                  min="0"
                  :disabled="parametersProduct.quantitySpecifiedCustomer"
                  @keydown="filterInput"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-3 payments-button__switch-show-field">
              <b-col class="d-flex align-items-center" sm="3"></b-col>
              <b-col sm="0.5" class="ml-3">
                <b-form-checkbox
                  v-model="parametersProduct.quantitySpecifiedCustomer"
                  switch
                />
              </b-col>
              <b-col sm="7">
                <label>The quantity is chosen by the customer</label>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                <label for="amount">Amount</label>
              </b-col>
              <b-col sm="6">
                <b-form-input
                  id="amount"
                  v-model="parameters.amount"
                  type="number"
                  min="0"
                  @keydown="filterInput"
                ></b-form-input>
              </b-col>
              <b-col class="d-flex align-items-center payments-form__switcher-currency pay-button__switch-currency" sm="2.5">
                Fiat
                <b-form-checkbox
                  v-model="switchCurrency"
                  class="ml-2"
                  switch
                  @change="toggleSwitcher"
                />
                Crypto
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Fiat
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="fiatCurrency"
                  :options="fiatOptions"
                  :disabled="switchCurrency"
                ></b-form-select>
              </b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col class="d-flex align-items-center" sm="3">
                Crypto
              </b-col>
              <b-col sm="9">
                <b-form-select
                  v-model="cryptoCurrency"
                  :options="cryptoOptions"
                ></b-form-select>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col class="d-flex align-items-center" sm="3">
                The text on the button
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="nameButton"
                  v-model="parameters.nameButton"
                  type="text"
                  @input="handleInputNameButton"
                  @keypress="handleKeypressNameButton"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col sm="3">
                <label for="primary-color">Primary color</label>
              </b-col>
              <b-col sm="9">
                <b-form-input
                  id="primary-color"
                  v-model="parameters.primaryColor"
                  type="color"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col class="d-flex align-items-center" sm="3">
                Debug mode
              </b-col>
              <b-col sm="9">
                <b-form-checkbox
                  id="debugMode"
                  v-model="debugMode"
                ></b-form-checkbox>
              </b-col>
            </b-row>
            <div class="payments-form__person-data">
              <b-row class="mb-3">
                <b-col sm="3"></b-col>
                <b-col sm="2">
                  Show
                </b-col>
                <b-col sm="2">
                  Require
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col sm="3">
                  Email:
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.email.show"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.email.require"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col sm="3">
                  Phone:
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.phone.show"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.phone.require"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col sm="3">
                  Full Name:
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.fullName.show"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.fullName.require"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col sm="3">
                  Delivery address:
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.address.show"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.address.require"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
              </b-row>
              <b-row class="mb-3">
                <b-col sm="3">
                  Description:
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.description.show"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
                <b-col sm="2">
                  <b-form-checkbox
                    v-model="parameters.description.require"
                    type="text"
                  ></b-form-checkbox>
                </b-col>
              </b-row>
            </div>
          </div>
          <div class="pay-button__item ml-5">
            <div
              id="__apr-constructor"
              ref="constructor"
              class="pay-button__result-form"
            ></div>
            <Copy
              id="copyCode"
              class="mt-3"
              title="Copy code"
            />
            <div
              id="__constructor-code"
              class="payments-form__code"
            ></div>
          </div>
        </div>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import Copy from '@/components/Copy.vue'
import getCurrencies from '@/mixins/getCurrencies';

export default {
  name: 'payments-form',
  components: {Copy},
  mixins: [getCurrencies],
  data() {
    return {
      baseUrl: process.env.serviceUrl,
      parameters: {
        account: '',
        amount: 0,
        nameButton: 'Pay',
        primaryColor: '#5D8AB9',
        lifetime: 3600,
        email: {
          show: true,
          require: false
        },
        phone: {
          show: true,
          require: false
        },
        fullName: {
          show: true,
          require: false
        },
        address: {
          show: true,
          require: false
        },
        description: {
          show: true,
          require: false
        }
      },
      parametersProduct: {
        type: 'Type',
        name: 'Name',
        qty: 1,
        quantitySpecifiedCustomer: false
      },
      fiatOptions: [],
      fiatCurrency: 'USD',
      cryptoOptions: [],
      cryptoCurrency: 'BTC',
      switchCurrency: false,
      debugMode: false
    }
  },
  head() {
    return {
      script: [
        {
          src: this.scriptSrc,
          hid: 'constructors-script-hid',
          async: true,
          id: '__apr-constructor_script'
        }
      ]
    }
  },
  computed: {
    scriptSrc() {
      return `/js/constructor/payments-form.js?account=${this.parameters.account}&amount=${this.parameters.amount}&nameButton=${this.parameters.nameButton}&crypto=${this.cryptoCurrency}&fiat=${this.fiatCurrency}&switchCurrency=${this.switchCurrency}&email=${this.encodeData(this.parameters.email)}&phone=${this.encodeData(this.parameters.phone)}&fullName=${this.encodeData(this.parameters.fullName)}&address=${this.encodeData(this.parameters.address)}&description=${this.encodeData(this.parameters.description)}&product=${this.encodeData(this.parametersProduct)}&primaryColor=${this.parameters.primaryColor}&lifetime=${this.parameters.lifetime}&baseUrl=${this.baseUrl}`
    },
    currency() {
      if (this.switchCurrency) {
        return this.cryptoCurrency
      } else {
        return this.fiatCurrency
      }
    }
  },
  watch: {
    'debugMode'(to) {
      this.currencies.forEach((currency) => {
        if (to) {
          if (!this.cryptoOptions.includes(currency.abbr.toUpperCase())) {
            this.cryptoOptions.push(currency.abbr.toUpperCase())
          }
        } else {
          const excludedCoins = this.currencies.filter((currency) => {
            return currency.abbr.includes('ttrx') || currency.name.includes('testnet');
          }).map(currency => currency.abbr.toUpperCase());

          this.cryptoOptions = this.cryptoOptions.filter(coin => !excludedCoins.includes(coin));
          this.cryptoCurrency = this.cryptoOptions[0]
        }
      })
    }
  },
  beforeDestroy() {
    delete sessionStorage.totalForm
  },
  mounted() {
    sessionStorage.amount = this.parameters.amount
    sessionStorage.crypto = this.cryptoCurrency
    sessionStorage.fiat = this.fiatCurrency
    sessionStorage.qty = this.parametersProduct.qty
    this.$axios
      .$options(`${this.baseUrl}/api/v2/wallets`)
      .then((response) => {
        response.currencies.forEach((item) => {
          if (!item.name.includes('testnet') && !item.abbr.includes('ttrx')) {
            this.cryptoOptions.push(item.abbr.toUpperCase())
          }
        })
        this.cryptoCurrency = this.cryptoOptions[0]
      })

    this.$axios
      .$get(`${this.baseUrl}/api/v2/ticker?currency=btc`)
      .then((response) => {
        for (const fiat in response) {
          if (fiat !== 'btc') {
            this.fiatOptions.push(fiat.toUpperCase())
          }
        }
      })
  },
  methods: {
    handleKeypressNameButton(event) {
      if (this.parameters.nameButton.length >= 20) {
        event.preventDefault();
      }
    },
    handleInputNameButton() {
      if (this.parameters.nameButton.length > 20) {
        this.parameters.nameButton = this.parameters.nameButton.substring(0, 20);
      }
    },
    filterInput(event) {
      if (((event.metaKey || event.ctrlKey) && [67, 86, 88, 65].includes(event.keyCode)) ||
           (event.keyCode === 8 || event.keyCode === 9 || event.keyCode === 46 || (event.key === '.' && event.target.name !== 'qty'))) {
        return true;
      } else if (event.keyCode === 46 || !/^[0-9]$/.test(event.key)) {
        event.preventDefault();
      }
    },
    qtyInputNumber() {
      if (this.parametersProduct.qty < 0) {
        this.parametersProduct.qty = '0';
      }
    },
    amountInputNumber() {
      if (this.parameters.amount < 0) {
        this.parameters.amount = '0';
      }
    },
    encodeData(data) {
      return encodeURIComponent(JSON.stringify(data))
    },
    toggleSwitcher() {
      if (this.switchCurrency) {
        this.parameters.amountIndicatedCustomer = false
      }
    },
    addFieldAdditionInformation() {
      this.additionalInformation.push({variable: '', value: ''})
    },
    deleteFieldAdditionalInformation(index, data) {
      data.splice(index, 1)
    },
    validQty() {
      this.parametersProduct.qty = this.parametersProduct.qty.replace(/-/g, '')
    }
  }
}
</script>

<style scoped>

.payments-form__code {
  white-space: nowrap;
  overflow: auto;
  padding: 14px;
  background: var(--bg);
  font-size: 14px;
  margin-top: 12px;
}

.payments-form__switcher-currency .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff !important;
  border-color: #adb5bd !important;
}

.payments-form__switcher-currency .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #adb5bd !important;
}

.payments-form__person-data > .row {
  flex-wrap: nowrap !important;
}

code[class*="language-"], pre[class*="language-"] {
  background: #f3f3f3 !important;
  color: inherit !important;
}

.pay-button__result-form {
  box-shadow: 2px 2px 8px 0 #223c5033;
  border-radius: 0.5rem;
  padding: 2rem;
  height: 750px;
  display: flex;
  justify-content: center;
}

.pay-button__delete-item {
  background-color: red;
  min-width: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  border: none;
}

.pay-button__delete-item span {
  width: 8px;
  height: 2px;
  background-color: white;
  border-radius: 8px;
}

.pay-button__item {
  min-width: 50%;
}

.pay-button__item:last-child {
  min-width: calc(50% - 5rem);
}

@media (max-width: 991px) {
  .pay-button__content {
    flex-direction: column;
  }

  .pay-button__item {
    min-width: 100%;
    margin-left: 0 !important;
  }

  .pay-button__item:last-child {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .pay-button__switch-currency {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .pay-button__switch-show-field {
    flex-wrap: nowrap !important;
  }

  .pay-button__switch-show-field > div:first-child {
    display: none !important;
  }

  .pay-button__additional-info-block {
    flex-wrap: nowrap !important;
  }

  .pay-button__additional-info-block > div:first-child {
    flex-direction: column;
  }

  .pay-button__additional-info-block > div:first-child > input:last-child {
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }

  .pay-button__additional-info-block > div {
    width: calc(100% - 3rem) !important;
  }
}

</style>
