<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.pricing.title')"
    :description="$t('pages.pricing.description')"
    :keywords="$t('pages.pricing.keywords')"
    :img="true"
  >
    <section class="pricing pt-5">
      <PricingComponent @scrollToFixedFees="scrollToFixedFees"/>
      <div class="container">
        <h2 class="text-center">
          Conditions of Withdrawal
        </h2>
        <ul class="pricing__withdrawal">
          <li v-for="(item, index) in conditionsWithdrawal" :key="'conditionsWithdrawal_' + index">
            <img
              :src="`/img/pricing/${item.icon}.svg`"
              :alt="item.icon"
            >
            <span>{{ item.title }}</span>
            <p v-html="item.text"></p>
          </li>
        </ul>
      </div>
      <div ref="fixedFees" class="pricing__fixed-fees" id="fixed-fees">
        <h2 class=" text-center">
          Fixed Fees
        </h2>
        <b-table
          v-if="items.length"
          class="mt-3 pricing__fixed-fees-table"
          responsive
          :items="items"
          :fields="fields"
        >
          <template #cell(currency)="data">
            <div v-html="data.value"></div>
          </template>
        </b-table>
        <Loader v-else class="position-absolute pricing__fixed-fees-loader"/>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
import PricingComponent from '@/components/parts/index/PricingComponent.vue';

export default {
  name: 'pricing',
  components: {PricingComponent},
  data() {
    return {
      conditionsWithdrawal: [
        {
          icon: 'regular-payments',
          title: 'Regular payments',
          text: 'Transfering of funds from a saving wallet. A fee is charged only in case of withdrawal.'
        },
        {
          icon: 'forwarding',
          title: 'Forwarding',
          text: 'Forwarding means that incoming payment is immediately forwarded from a temporary address to the merchant’s external wallet after network confirmation(s).'
        },
        {
          icon: 'sending-transaction',
          title: 'Network fees',
          text: 'Sending a transaction requires a network fee based on blockchain transaction fee prediction and on how busy networks are. The network fee is not included into the service fee <a href="/blog/forwarding/">read more</a>.'
        }
      ],
      loading: true,
      items: [],
      fields: [
        {
          key: 'currency',
          label: ''
        },
        {
          key: 'regular',
          label: 'Regular'
        },
        {
          key: 'forwarding',
          label: 'Forwarding'
        }
      ],
      percentage: null
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.dataLoading = true
      this.$axios
        .options(`${process.env.serviceUrl}/api/v2/wallets`)
        .then((response) => {
          response.data.currencies.forEach((item) => {
            console.log(item)
            if (!this.percentage) {
              this.percentage = item['processing-fee'].percentage.regular
            }
            if (!item.name.includes('testnet') && !item.abbr.includes('ttrx')) {
              if (item.abbr.includes('@')) {
                const split = item.abbr.split('@')
                item.abbr = split[0]
                item.sub_abbr = split[1]
                this.items.push(
                  {
                    currency: `<div class="pricing__container-img"><img class="pricing__fixed-fees-img" src="/img/coins/${item.abbr.toLowerCase()}1.png"  alt="${item.abbr}"/><img class="pricing__fixed-fees-img-sub" src="/img/coins/${item.sub_abbr.toLowerCase()}1.png" alt=""></div>`,
                    regular: `${parseFloat((item['processing-fee'].fixed.regular * item['units-factor']).toFixed(8))} ${item.abbr.toUpperCase()}`,
                    forwarding: `${parseFloat((item['processing-fee'].fixed.forwarding * item['units-factor']).toFixed(8))} ${item.abbr.toUpperCase()}`
                  }
                )
              } else {
                this.items.push(
                  {
                    currency: `<img class="pricing__fixed-fees-img" src="/img/coins/${item.abbr.toLowerCase()}1.png"  alt="${item.abbr}"/>`,
                    regular: `${parseFloat((item['processing-fee'].fixed.regular * item['units-factor']).toFixed(8))} ${item.abbr.toUpperCase()}`,
                    forwarding: `${parseFloat((item['processing-fee'].fixed.forwarding * item['units-factor']).toFixed(8))} ${item.abbr.toUpperCase()}`
                  }
                )
              }
            }
          })
          this.loading = false
        })
    },
    scrollToFixedFees() {
      const fixedFees = this.$refs.fixedFees;
      fixedFees.scrollIntoView({behavior: 'smooth'});
    }
  }
}
</script>

<style>

.pricing ul {
  margin-top: 1rem;
}

.pricing__container-img {
  position: relative;
}

.pricing__fixed-fees-img-sub {
  position: absolute;
  width: 20px;
  bottom: 0;
  right: 0;
}

.pricing__withdrawal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px !important;
  margin-bottom: 0 !important;
  padding: 0;
}

.pricing__withdrawal > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  text-align: center;
}

.pricing__withdrawal > li:nth-child(2) {
  margin: 0 1rem;
}

.pricing__withdrawal > li > img {
  width: 60px;
}

.pricing__withdrawal > li > span {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
}

.pricing__withdrawal > li > p {
  color: var(--dark-gray);
}

.pricing__fixed-fees {
  max-width: 736px;
  margin: 120px auto 0;
  position: relative;
  min-height: 300px;
}

.pricing__fixed-fees-loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pricing__fixed-fees-table td {
  vertical-align: middle;
  border-top: 1px solid var(--bg);
  text-align: start;
  font-size: 18px;
  color: var(--black);
  width: 25%;
}

.pricing__fixed-fees-table td:first-child {
  width: 20%;
}

.pricing__fixed-fees-table td:first-child div {
  display: flex;
  justify-content: flex-start;
}

.pricing__fixed-fees-table td:last-child {
  width: 18%;
}

.pricing__fixed-fees-table th {
  border: none !important;
  text-align: start;
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-gray);
}

.pricing__fixed-fees-table tr:last-child td {
  border-bottom: 1px solid var(--bg);
}

.pricing__fixed-fees-img {
  min-width: 40px;
  width: 40px;
  min-height: 40px
}

.table__loader {
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.table__wrapper, .table__loader {
  margin: 1rem 0;
}

.percentage-fee {
  font-size: 1.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(93, 138, 185, 0.2);
}

@media (max-width: 991px) {
  .pricing__withdrawal > li > p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .pricing__withdrawal {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing__withdrawal > li {
    width: 46%;
  }

  .pricing__withdrawal > li:nth-child(2) {
    margin: 0 0 0 1.5rem;
  }

  .pricing__withdrawal > li:last-child {
    margin-top: 1.5rem;
  }

  .pricing__plane {
    flex-direction: column;
  }

  .pricing__fixed-fees {
    max-width: 540px;
    padding: 0 15px;
  }
}

@media (max-width: 550px) {
  .pricing__withdrawal > li {
    width: 75%;
    margin-left: 0 !important;
    margin-bottom: 2rem;
  }

  .pricing__withdrawal > li:last-child {
    margin-bottom: 0;
  }

  .pricing__withdrawal > li > span {
    margin: 1rem 0;
  }
}

@media (max-width: 480px) {
  .pricing__withdrawal > li {
    width: 100%;
  }

  .pricing__fixed-fees-table td {
    font-size: 14px;
  }

  .pricing__fixed-fees-img {
    min-width: 30px;
    width: 30px;
    min-height: 30px
  }

}
</style>

<style>
.pricing-table .table-responsive {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  min-height: 30rem;
}

.pricing-table__th-suptitle {
  font-size: 1.5rem;
  display: block;
}

.pricing-table__percentage td,
.pricing-table__percentage th {
  font-size: 1.5rem;
}

.pricing-table.loading .table {
  opacity: 0;
}

.pricing-table .table__loader {
  opacity: 0;
}

.pricing-table.loading .table__loader {
  opacity: 1;
}

.pricing-table .table thead th {
  vertical-align: middle;
  border: .0625rem solid rgba(93, 138, 185, 0.2);
  border-top: 0;
  font-weight: 500;
}

.pricing-table .table th, .pricing-table .table td {
  vertical-align: middle;
  height: 6rem;
  border: .0625rem solid rgba(93, 138, 185, 0.2);
}

.pricing-table .table th:first-child, .pricing-table .table td:first-child {
  border-left: 0;
}

.pricing-table .table th:last-child, .pricing-table .table td:last-child {
  border-right: 0;
}

.pricing-table .table tr:last-child td {
  border-bottom: 0;
}

.pricing-table .table img {
  width: 3.5rem;
  height: 3.5rem;
}

.pricing-table .table thead .btn.btn-secondary, .pricing-table .table thead .btn.btn-secondary:hover, .pricing-table .table thead .btn.btn-secondary:active {
  color: #212529;
  background-color: unset;
  border: 0;
  font-weight: bold;
  box-shadow: none;
}

.pricing-table .table thead .btn.btn-secondary span {
  opacity: .7;
}

.percentage-fee__table thead th {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.percentage-fee__table ul {
  padding-left: 1rem;
}

@media (max-width: 991px) {
  .pricing-table__percentage {
    margin-left: 2rem !important;
  }
}

@media (max-width: 767px) {
  .pricing-table__percentage {
    display: none;
  }
}

@media (max-width: 480px) {
  .pricing-table .table img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .pricing-table .table th, .pricing-table .table td {
    height: 4rem;
  }

  .pricing-table .table-responsive {
    min-height: 20rem;
  }
}
</style>
