<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.privacy-policy.title')"
    :description="$t('pages.privacy-policy.description')"
    :keywords="$t('pages.privacy-policy.keywords')"
    :img="false"
  >
    <section class="pt-5">
      <div class="container">
        <p class="text-center">
          This agreement is in effect as of Sept 1, 2017.
        </p>
        <h2>Introduction</h2>
        <p>
          Welcome to https://www.apirone.com. This website is owned and operated by Apirone company. By visiting
          our website and accessing the information, resources, services, products, and tools we provide, you
          understand and agree to accept and adhere to the following terms and conditions as stated in this policy
          (hereafter referred to as 'User Agreement'). We reserve the right to change this User Agreement from
          time to time without notice. You acknowledge and agree that it is your responsibility to review this
          User Agreement periodically to familiarize yourself with any modifications. Your continued use of this
          site after such modifications will constitute acknowledgment and agreement of the modified terms and
          conditions.
        </p>
        <h2>Responsible Use and Conduct</h2>
        <p>
          By visiting our website and accessing the information, resources, services, products, and tools we
          provide for you, either directly or indirectly (hereafter referred to as 'Resources'), you agree to use
          these Resources only for the purposes intended as permitted by (a) the terms of this User Agreement, and
          (b) applicable laws, regulations and generally accepted online practices or guidelines. Wherein, you
          understand that:
        </p>
        <ul>
          <li>
            In order to access our Resources, you may be required to provide certain information about yourself
            (such as identification, contact details, etc.) as part of the registration process, or as part of
            your ability to use the Resources. You agree that any information you provide will always be
            accurate, correct, and up to date.
          </li>
          <li>
            You are responsible for maintaining the confidentiality of any login information associated with any
            account you use to access our Resources. Accordingly, you are responsible for all activities that
            occur under your account/s.
          </li>
          <li>
            Accessing (or attempting to access) any of our Resources by any means other than through the means
            we provide, is strictly prohibited. You specifically agree not to access (or attempt to access) any
            of our Resources through any automated, unethical or unconventional means.
          </li>
          <li>
            Engaging in any activity that disrupts or interferes with our Resources, including the servers
            and/or networks to which our Resources are located or connected, is strictly prohibited.
          </li>
          <li>
            You are solely responsible any consequences, losses, or damages that we may directly or indirectly
            incur or suffer due to any unauthorized activities conducted by you, as explained above, and may
            incur criminal or civil liability.
          </li>
          <li>
            We may provide various open communication tools on our website, such as blog comments, blog posts,
            public chat, forums, message boards, newsgroups, product ratings and reviews, various social media
            services, etc. You understand that generally we do not pre-screen or monitor the content posted by
            users of these various communication tools, which means that if you choose to use these tools to
            submit any type of content to our website, then it is your personal responsibility to use these
            tools in a responsible and ethical manner. By posting information or otherwise using any open
            communication tools as mentioned, you agree that you will not upload, post, share, or otherwise
            distribute any content that:
            <ul>
              <li>
                Is illegal, threatening, defamatory, abusive, harassing, degrading, intimidating,
                fraudulent, deceptive, invasive, racist, or contains any type of suggestive, inappropriate,
                or explicit language;
              </li>
              <li>
                Infringes on any trademark, patent, trade secret, copyright, or another proprietary right of
                any party;
              </li>
              <li>Contains any type of unauthorized or unsolicited advertising;</li>
              <li>Impersonates any person or entity, including any Apirone employees or representatives.</li>
            </ul>
          </li>
        </ul>
        <p>
          We have the right at our sole discretion to remove any content that, we feel in our judgment does not
          comply with this User Agreement, along with any content that we feel is otherwise offensive, harmful,
          objectionable, inaccurate, or violates any 3rd party copyrights or trademarks. We are not responsible
          for any delay or failure in removing such content. If you post content that we choose to remove, you
          hereby consent to such removal, and consent to waive any claim against us.
        </p>
        <ul>
          <li>
            We do not assume any liability for any content posted by you or any other 3rd party users of our
            website. However, any content posted by you using any open communication tools on our website,
            provided that it doesn't violate or infringe on any 3rd party copyrights or trademarks, becomes the
            property of Apirone, and as such, gives us a perpetual, irrevocable, worldwide, royalty-free,
            exclusive license to reproduce, modify, adapt, translate, publish, publicly display and/or
            distribute as we see fit. This only refers and applies to content posted via open communication
            tools as described, and does not refer to information that is provided as part of the registration
            process, necessary in order to use our Resources.
          </li>
          <li>
            You agree to indemnify and hold harmless Apirone and its parent company and affiliates, and their
            directors, officers, managers, employees, donors, agents, and licensors, from and against all
            losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any
            violation of this User Agreement or the failure to fulfill any obligations relating to your account
            incurred by you or any other person using your account. We reserve the right to take over the
            exclusive defense of any claim for which we are entitled to indemnification under this User
            Agreement. In such event, you shall provide us with such cooperation as is reasonably requested by
            us.
          </li>
        </ul>
        <p>
          We are not responsible for blockchain network or bitcoin rate. We provide an access to the following
          information: amounts, addresses, description of addresses, transactions, description of transactions,
          blocks, description of blocks, miners, description of miners, statistic, charts, etc. Blockchain network
          and bitcoin information are only for reading and can’t be canceled, replaced, rollbacked or modified,
          due to the blockchain protocol standard.
        </p>
        <p>
          A transaction fee is calculated by statistic analysis from the last 36 blocks. Transaction fee can be
          changed and it depends on blockchain network transaction competitions. Apirone provides three
          transaction fee options: minimal (transaction is confirmed by approximately 3-6 blocks), optimal
          (transaction is confirmed by approximately 1-2 blocks) and express (estimated confirmation in next
          block). We are not responsible for transaction confirmation time and cannot guaranty transaction
          confirmation in exact blocks.<br>
          Apirone servers are duplicated and backuped for maximum uptime working. We monitor, audit and control
          our software and hardware servers. But we cannot guaranty fulltime working and access for reasons beyond
          our control (e.g. hosting provider, internet network connection, blockchain network connection, DNS
          resolving, local restrictions and etc).<br>
          Our server uses SSL (Secure Sockets Layer) security protection by encrypting your Personal Data
          including name and address to prevent individuals from reading these Data as it travels over the
          Internet. The length of time we retain Personal Data outside our back up system varies depending on the
          purpose for which it was collected and used. This period may extend beyond the end of the particular
          relationship with us but only for so long as we are contractually bound to do so, or so far as is
          necessary for audit or other accounting purposes. When Personal Data is no longer needed we have
          procedures either to destroy, delete, erase or convert it to an anonymous form. We reserve the right to
          maintain your Personal Data as part of our standard back up procedures.
        </p>
        <h2>Collecting of Personal Information </h2>
        <p>
          When you access or use the www.Apirone.com website or Services, we may collect some information,
          including:
        </p>
        <ul>
          <li>
            <strong>The information you may provide to us: </strong>Your email address, bitcoin addresses, phone
            number, alias, password and any other information you choose to provide.
          </li>
          <li>
            <strong>Log Information: </strong>We may log information about your use of the Services, including
            the type of browser you use, access times, pages viewed, your IP address and the page you visited
            before navigating to our websites.
          </li>
          <li>
            <strong>Device Information: </strong>We may collect information about the mobile device you use to
            access our mobile application, including the hardware model, operating system and version, unique
            device identifiers and mobile network information.
          </li>
          <li>
            <strong>Information We Collect From Other Sources: </strong>We may also obtain information from
            other sources and combine that with information we collect through our Services. For instance, when
            you log in to our support desk center via a third-party social media service, we may collect
            information about your social media account in accordance with the authorization procedures
            determined by such social media service, including your public profile, friend list, and email
            address. We may use third-party services (eg. Zendesk) co-branded as Apirone but will do so with
            clear notices. Any third-party services may collect information as determined by their own privacy
            policies.
          </li>
          <li>
            We also may use “cookies” from time to time to personalize your online experience with us. A cookie
            is a small text file that is stored on your computer and helps us to make your visit to our site
            more “user-friendly.” Cookies provide us information about your using the site that can help us to
            improve the site and your experience with it. Any Personal Data, collected from cookies, will be
            treated according to this Privacy Policy.
          </li>
          <li>
            You may refuse cookie by turning them off in your browser, however, you should be aware that our
            site, like most other popular sites, may not work well with cookies disabled.
          </li>
        </ul>
        <h2 class="mt-5">
          Limitation of Warranties
        </h2>
        <p>
          By using our website, you understand and agree that all Resources we provide are "as is" and "as
          available".
        </p>
        <h3>This means that we do not represent or warrant to you that: </h3>
        <ul>
          <li>the use of our Resources will meet your needs or requirements.</li>
          <li>the use of our Resources will be uninterrupted, timely, secure or free from errors.</li>
          <li>
            the information obtained by using our Resources will be accurate or reliable, and any defects in the
            operation or functionality of any Resources we provide will be repaired or corrected.
          </li>
        </ul>
        <h3>Furthermore, you understand and agree that:</h3>
        <ul>
          <li>
            any content downloaded or otherwise obtained through the use of our Resources is done at your own
            discretion and risk, and that you are solely responsible for any damage to your computer or other
            devices for any loss of data that may result from the download of such content.
          </li>
          <li>
            no information or advice, whether expressed, implied, oral or written, obtained by you from Apirone
            or through any Resources we provide shall create any warranty, guarantee, or conditions of any kind,
            except for those expressly outlined in this User Agreement.
          </li>
        </ul>
        <h2>Limitation of Liability</h2>
        <p>
          In conjunction with the Limitation of Warranties as explained above, you expressly understand and agree
          that any claim against us shall be limited to the amount you paid, if any, for use of products and/or
          services. Apirone will not be liable for any direct, indirect, incidental, consequential or exemplary
          loss or damages which may be incurred by you as a result of using our Resources, or as a result of any
          changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that
          applicable limitation of liability laws apply.
        </p>
        <h2>Legal Disclaimer</h2>
        <p>
          Apirone is not responsible for, and expressly disclaims all liability for, damages of any kind arising
          out of use, or reliance on any information contained on the site of any of its clients. Also, Apirone is
          not responsible for the services or products sold by its customers. <br>
          Although the Apirone’s web site may include links providing direct access to other Internet resources.
          We are not responsible for the accuracy or content of information contained on these sites.<br>
          Links from Apirone.com to third-party sites do not constitute an endorsement of the parties or their
          products and services. Even in the case where the third-party is a customer. Apirone does not
          investigate the claims made by any users of its service.
        </p>
        <h2>Copyrights/Trademarks</h2>
        <p>
          All content and materials available on www.Apirone.com, including but not limited to text, graphics,
          website name, code, images, and logos are the intellectual property of Apirone and are protected by
          applicable copyright and trademark law. Any inappropriate use, including but not limited to the
          reproduction, distribution, display or transmission of any content on this site is strictly prohibited
          unless specifically authorized by Apirone.
        </p>
        <h2>Termination of Use</h2>
        <p>
          You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our
          website and Resources with or without notice and for any reason, including, without limitation, breach
          of this User Agreement. Any suspected illegal, fraudulent or abusive activity may be grounds for
          terminating your relationship and may be referred to appropriate law enforcement authorities. Upon
          suspension or termination, your right to use the Resources we provide will immediately cease, and we
          reserve the right to remove or delete any information that you may have on file with us, including any
          account or login information.
        </p>
        <h2>Governing Law</h2>
        <p>
          This website is controlled by Apirone. It can be accessed by most countries around the world. By
          accessing our website, you agree that the statutes and laws of our state, without regard to the conflict
          of laws and the United Nations Convention on the International Sales of Goods, will apply to all matters
          relating to the use of this website and the purchase of any products or services through this site.
          Furthermore, any action to enforce this User Agreement shall be brought in the federal or state courts.
          You hereby agree to personal jurisdiction by such courts and waive any jurisdictional, venue, or
          inconvenient forum objections to such courts.
        </p>
        <h2>Guarantee</h2>
        <p>
          UNLESS OTHERWISE EXPRESSED, Apirone EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND,
          WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
        </p>

        <h2>Questions</h2>
        <p>
          Any questions about this policy, the collection, use and disclosure of Personal Data by Apirone or
          access to your Personal Data which is required by law (or would be so subject had the storage in
          question taken place in a relevant member state if the case may be but not otherwise) to be disclosed
          should be directed to <b>support@Apirone.com</b>.
        </p>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'privacy-policy'
}
</script>
