<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.resources.title')"
    :description="$t('pages.resources.description')"
    :keywords="$t('pages.resources.keywords')"
    :img="true"
  >
    <section class="pt-5">
      <div class="container article">
        <h3 class="mb-3 resources__title">
          <b-img-lazy
            width="30"
            srcset="/img/resources/github.webp"
            src="/img/resources/github.png"
            alt="github"
            style="margin-right: 8px;"
          />
          Apirone API PHP
          (<a href="https://github.com/Apirone/apirone-api-php" target="_blank">
            Github API
          </a>)
        </h3>
        <p>
          PHP library for all API methods
          <br><br>
          <a target="_blank" href="/docs/account/">Account methods</a> <br>
          <a target="_blank" href="/docs/invoices/">Invoice methods</a> <br>
          <a target="_blank" href="/docs/wallet/">Wallet methods</a> <br>
          <a target="_blank" href="/docs/authorization/">Authorization methods</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-api-php/blob/main/docs/Services.md">Services methods</a>| <a target="_blank" href="/docs/service/">Service Info API docs</a>,
          <a target="_blank" href="/docs/fee/">Network Fee API docs</a>, <a target="_blank" href="/docs/rate/">Exchange Rate API docs</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-api-php/blob/main/docs/LogHandling.md">Log Handling</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-api-php/blob/main/docs/Helpers.md">Helpers</a>
        </p>
        <b-img-lazy
          srcset="/img/resources/license-mit.svg"
          alt="license mit"
        />
        <br>
        <h3 class="mb-3 mt-5 resources__title">
          <b-img-lazy
            width="30"
            srcset="/img/resources/github.webp"
            src="/img/resources/github.png"
            alt="github"
            style="margin-right: 8px;"
          />
          Apirone SDK PHP
          (<a target="_blank" href="https://github.com/Apirone/apirone-sdk-php">Github SDK</a>)
        </h3>
        <p>
          PHP SDK classes for Apirone invoices
          <br><br>
          <a target="_blank" href="https://github.com/Apirone/apirone-sdk-php#create-an-invoice">Create an Invoice</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-sdk-php#get-an-existing-invoice">Get an existing invoice</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-sdk-php#show-invoice">Show invoice</a> <br>
          <a class="ml-3" target="_blank" href="https://github.com/Apirone/apirone-sdk-php#render-loader">Render loader</a> <br>
          <a class="ml-3" target="_blank" href="https://github.com/Apirone/apirone-sdk-php#render-ajax-response">Render AJAX response</a> <br>
          <a target="_blank" href="https://github.com/Apirone/apirone-sdk-php#callbacks-handler">Callbacks handler</a>
        </p>
        <b-img-lazy
          srcset="/img/resources/license-mit.svg"
          alt="license mit"
        />
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'resources'
}
</script>

<style scoped>

.resources__title {
  vertical-align: middle;
}

.resources__title img {
  margin-top: -6px;
}

@media (max-width: 480px) {
  .resources__title {
    font-size: 1.3rem;
  }
}

</style>
