<template>
  <div class="technical-work">
    <div class="container ">
      <Logo/>
      <div class="technical-work__content">
        <TechnicalWorks/>
        <h2>Technical works</h2>
        <p>Sorry, technical work is in progress at the moment.</p>
        <span>Our service is under maintenance. We will back as soon as possible. Stay tuned</span>
      </div>
    </div>
  </div>
</template>

<script>
import TechnicalWorks from '@/components/icons/TechnicalWorks.vue';

export default {
  name: 'technical-work',
  components: {TechnicalWorks}
}
</script>

<style>
.technical-work {
  padding-top: 32px;
  background: #EFF3F8;
  width: 100%;
  height: 100vh;
}

.technical-work__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  padding: 0 20px;
}

.technical-work__content > h2 {
  font-weight: 600;
  text-align: center;
}

.technical-work__content > svg {
  max-width: 500px;
  width: 100%;
}

.technical-work__content > p {
  text-align: center;
  font-size: 18px;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.technical-work__content > span {
  color: var(--dark-gray);
  text-align: center;
}

@media (max-width: 400px) {
  .technical-work__content > h2 {
    font-size: 28px;
  }
}
</style>
