<template>
  <PageTemplate
    :name="$options.name"
    :title="$t('pages.using-cookies.title')"
    :description="$t('pages.using-cookies.description')"
    :keywords="$t('pages.using-cookies.keywords')"
    :img="false"
  >
    <section class="pt-5">
      <div
        v-if="$i18n.locale === 'ru'"
        class="container"
      >
        <p class="text-center">
          Это соглашение вступает в силу с 1 июля 2016 года.
        </p>
        <h2>Что такое файлы cookies (куки)?</h2>
        <p>
          Файл cookies — это небольшой фрагмент данных, который веб-сайт запрашивает у вашего браузера на вашем
          компьютере или мобильном устройстве. Cookies позволяют веб-сайту «помнить» ваши действия или предпочтения с
          течением времени.<br>
          Большинство браузеров поддерживают файлы cookies, но пользователи могут устанавливать свои настройки в
          браузере и даже могут удалить cookies, когда захотят.
        </p>
        <h2>Как мы используем файлы cookies?</h2>
        <h5>Некоторые наши страницы используют куки для запоминания:</h5>
        <ul>
          <li>ваши настройки экрана, такие как контраст, настройки цвета или размер шрифта;</li>
          <li>
            если вы уже ответили на всплывающее окно опроса, в котором было уведомление о cookies, то система запомнит
            ваш выбор;<br>
          </li>
          <li>если вы согласились (или нет) на наше использование файлов cookies на этом сайте.</li>
        </ul>
        <p>
          Кроме того, некоторые видеоролики, встроенные в наши страницы, используют cookies для анонимного сбора
          статистики о том, как вы туда попали, и о том, какие видео вы просмотрели.
          Cookies также хранятся в Europa Analytics, корпоративном сервисе, который измеряет эффективность и
          эффективность веб-сайтов Европейской комиссии на EUROPA. <br>
          Включение файлов cookies не является абсолютно необходимым для работы веб-сайта, но оно предоставит вам лучший
          обзор. Вы можете удалить или заблокировать файлы cookies, но если вы сделаете это, то некоторые функции
          данного сайта могут не работать должным образом. <br>
          Информация, связанная с файлом cookies, не используется для идентификации вас лично, а данные шаблона
          полностью находятся под нашим контролем. Файлы cookies не используются больше ни для каких целей, кроме
          описанных здесь.
        </p>
        <h2>Используем ли мы другие куки?</h2>
        <p>
          Некоторые из наших страниц или подсайтов могут использовать дополнительные или разные файлы cookies для нужд,
          описанных выше. Если это так, то подробные сведения о них будут указаны на их странице уведомлений о куки. Вам
          может быть предложено подтвердить ваше согласие хранить файлы cookies.
        </p>
        <h2>Как контролировать файлы cookies</h2>
        <p>
          Вы можете контролировать и/или удалять файлы cookies по своему усмотрению — подробности см. на
          <a href="http://www.aboutcookies.org/"> aboutcookies.org </a>. Вы можете включить, отключить или удалить все
          файлы cookies, которые уже есть на вашем компьютере, это возможно в большинстве популярных браузеров. Однако,
          если вы это сделаете, вам придется вручную включать некоторые настройки каждый раз, когда вы посещаете сайт, а
          некоторые службы и функции могут не работать.
        </p>
      </div>
      <div
        v-else
        class="container"
      >
        <p class="text-center">
          This agreement is in effect as of Jul 1, 2016.
        </p>
        <h2>What is a cookie?</h2>
        <p>
          A cookie is a small piece of data that a website asks your browser to store on your computer or mobile device.
          The cookie allows the website to "remember" your actions or preferences over time.<br>
          Most browsers support cookies, but users can set their browsers to decline them and can delete them whenever
          they like.
        </p>
        <h2>How do we use cookies?</h2>
        <h5>A number of our pages use cookies to remember:</h5>
        <ul>
          <li>your display preferences, such as contrast, color settings, or font size</li>
          <li>
            if you have already replied to a survey pop-up that asks you if the content was helpful or not (so you
            won't be asked again)<br>
          </li>
          <li>if you have agreed (or not) to our use of cookies on this site</li>
        </ul>
        <p>
          Also, some videos embedded in our pages use a cookie to anonymously gather statistics on how you got there and
          what videos you visited.
          Cookies are also stored by Europa Analytics, the corporate service which measures the effectiveness and
          efficiency of the European Commission's websites on EUROPA.<br>
          Enabling these cookies is not strictly necessary for the website to work but it will provide you with a better
          browsing experience. You can delete or block these cookies, but if you do that some features of this site may
          not work as intended.<br>
          The cookie-related information is not used to identify you personally and the pattern data is fully under our
          control. These cookies are not used for any purpose other than those described here.
        </p>
        <h2>Do we use other cookies?</h2>
        <p>
          Some of our pages or subsites may use additional or different cookies to the ones described above. If so, the
          details of these will be provided in their specific cookies notice page. You may be asked for your agreement
          to store these cookies.
        </p>
        <h2>How to control cookies</h2>
        <p>
          You can control and/or delete cookies as you wish - for details, see
          <a
            rel="nofollow"
            href="http://www.aboutcookies.org/"
          >
            aboutcookies.org
          </a>.
          You can delete all cookies that are already on your computer and you can set most browsers to prevent them
          from being placed. If you do this, however, you may have to manually adjust some preferences every time you
          visit a site and some services and functionalities may not work.
        </p>
      </div>
    </section>
  </PageTemplate>
</template>

<script>
export default {
  name: 'using-cookies'
}
</script>
