<template>
  <div>
    <base-layout title="Главная">
        <news-content/>
    </base-layout>
  </div>
</template>

<script>
import baseLayout from "@/layouts/base-layout";
import newsContent from "@/components/newsContent";

export default {
  name: "main_page",
  components: {baseLayout, newsContent},
}
</script>

<style scoped>

</style>
