<script>
  import {page} from "$app/stores";
  import moment from 'moment'
  import Notification from "$components/parts/Notification.svelte";
  import AddCameraSettings from "$components/camera-settings/AddCameraSettings.svelte";
  import http from "$lib/http.js";

  const customerKey = $page.params.customer_key

  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''

  export let isValidNotification = true

  export let isShowCreateDevice = false
  export let isEdit = false

  export let cameraSettings = $page.data.cameraSettings
  export let cameraData

  function openSettingCamera(settings) {
    return function () {
      cameraData = settings
      isShowCreateDevice = true
      isEdit = true
    }
  }

  async function getCameraSettings() {
    const response = await http.callMethod(`/customers/${customerKey}/camera_settings`)
    cameraSettings = await response.result
  }

  function deleteCameraSettings(title) {
    return async function () {
      try {
        const response = await http.callMethod(`/customers/${customerKey}/camera_settings/${title}`, {
          method: 'DELETE',
        })
        isValidNotification = true
        titleNotification = 'Success'
        messageNotification = await response.result
        await getCameraSettings()
      } catch (e) {
        isValidNotification = false
        titleNotification = 'Error'
        messageNotification = 'Failed delete camera settings'
      } finally {
        isShowNotification = true
        setTimeout(() => {
          isShowNotification = false
        }, 5000)
      }
    }
  }

</script>

<section class="camera-settings">
  <div class="camera-settings__header">
    <h1>Camera Settings</h1>
    <button on:click={() => {isShowCreateDevice = true}} class="button-plus">+</button>
  </div>
  <div class="camera-settings__content">
    <table class="table" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th>Title</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {#each cameraSettings as settings}
        <tr>
          <td>
            <button on:click|preventDefault={openSettingCamera(settings)}>{settings.title}</button>
          </td>
          <td>
            <button on:click={deleteCameraSettings(settings.title)} class="camera-settings__delete-btn">
              <i class="apr apr-trash"></i></button>
          </td>
        </tr>
      {/each}
      </tbody>
    </table>
  </div>
</section>
<svelte:component
  this={AddCameraSettings}
  bind:isShowCreateDevice
  bind:isShowNotification
  bind:titleNotification
  bind:messageNotification
  bind:isValidNotification
  bind:cameraData
  bind:isEdit
  bind:cameraSettings
/>
<svelte:component
  this={Notification}
  bind:isShow={isShowNotification}
  bind:title={titleNotification}
  bind:message={messageNotification}
  bind:isValid={isValidNotification}
/>

<style lang="scss">
  .camera-settings {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;

      h1 {
        margin-bottom: 0;
      }
    }

    &__content {
      td > button {
        border: none;
        color: var(--blue);
        font-size: 16px;
      }
    }

    &__delete-btn {
      color: red !important;
      font-size: 20px !important;
      height: 20px;
      margin-left: 16px;
      border: none;
    }
  }
</style>

