<template>
  <BaseLayout>
    <IndicatorsLayout
      type="balances"
      apex-type="bar"
    />
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import IndicatorsLayout from "@/components/IndicatorsLayout.vue";

export default {
  name: 'balances',
  components: {IndicatorsLayout, BaseLayout},
  provide: {
    title: 'Balances'
  },
}

</script>

<style scoped lang="scss">

</style>