<template>
  <BaseLayout>
    <div class="indicators-layout__filters">
      <div
        style="width: 320px; margin: 0;"
        class="fields-row"
      >
        <label for="">Address</label>
        <div class="input-icon">
          <input
            id="address"
            v-model="address"
            type="text"
            placeholder="Address"
            @change.prevent="getData"
          >
          <label for="address"><i class="apr apr-search"></i></label>
        </div>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="data && Object.keys(data).length"
      class="callback-address__data"
    >
      <p>
        Callback address: {{ data.address_cb_url }} <i
          v-if="!data.address_cb_url"
          class="apr apr-cancel_small"
        ></i>
      </p>
      <p>
        Callback address url: {{ data.wallet_cb_url }} <i
          v-if="!data.wallet_cb_url"
          class="apr apr-cancel_small"
        ></i>
      </p>
      <div class="callback-address__data-invoices">
        <h3>Invoices</h3>
        <div
          v-if="data.invoices.length"
          class="table__container"
        >
          <table class="table">
            <thead>
              <tr>
                <th>Invoice</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(invoice, index) in data.invoices"
                :key="`invoice_${index}`"
              >
                <td>
                  <a
                    target="_blank"
                    :href="`${$store.state.serviceUrl}/invoice?id=${invoice.invoice}`"
                  >{{ invoice.invoice }}</a>
                </td>
                <td>
                  <a
                    target="_blank"
                    :href="invoice.cb_url"
                  >{{ invoice.cb_url }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          v-else
          style="text-align: center; color: var(--grey-text); font-size: 20px;"
        >
          Not data.
        </div>
      </div>
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import moment from "moment/moment";
import refreshToken from "@/mixins/refreshToken";

export default {
  name: "callback-address",
  components: {BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Callback address'
  },
  data: () => ({
    loader: false,
    data: null
  }),
  computed: {
    address: {
      get() {
        return this.$route.query.address || null
      },
      set(address) {
        if (address && address !== '') {
          this.$router.push({
            query: {
              ...this.$route.query,
              address: address
            }
          })
        } else {
          let query = {...this.$route.query};
          delete query['address'];
          this.$router.push({query});
        }
      }
    },
  },
  watch: {
    async address() {
      await this.getData()
    }
  },
  async mounted() {
    if (this.$route.query.hasOwnProperty('address')) {
      await this.getData()
    }
  },
  methods: {
    async getData() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/address_callbacks?address=${this.address}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      this.data = await response.json()
      this.loader = false
    }
  }
}
</script>

<style scoped lang="scss">
.callback-address {
  &__data {
    margin-left: 32px;

    p {
      display: flex;
      align-items: center;
      margin-top: 6px;

      &:first-child {
        margin-top: 0;
      }

      i {
        margin-left: 12px;
        color: red;
      }
    }

    &-invoices {
      margin-top: 32px;
      .table__container {
        margin-top: 16px;
      }
    }
  }
}

</style>