<template>
  <BaseLayout>
    <div class="indicators-layout__filters">
      <div
        style="width: 220px; margin: 0;"
        class="fields-row"
      >
        <label for="">Start</label>
        <VueDatePicker
          v-model="dtstart"
          placeholder="Start"
          text-input
          auto-apply
          format="dd MMM yyyy"
        ></VueDatePicker>
      </div>
      <div
        style="width: 220px;"
        class="fields-row"
      >
        <label for="">End</label>
        <VueDatePicker
          v-model="dtend"
          placeholder="End"
          text-input
          auto-apply
          format="dd MMM yyyy"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="!loader && domains && domains.length"
      class="domains__data"
    >
      <div
        v-for="(domain, index) in domains"
        :key="`domain_${index}`"
      >
        <i class="apr apr-globe"></i>
        <a
          :href="domain"
          target="_blank"
        >{{ domain }}</a>
      </div>
    </div>
    <div
      v-if="!loader && domains && !domains.length"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      Not data.
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import moment from "moment";
import refreshToken from "@/mixins/refreshToken";

export default {
  name: "domains",
  components: {BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Domains'
  },
  data: () => ({
    loader: false,
    domains: null
  }),
  computed: {
    dtstart: {
      get() {
        return this.$route.query.dtstart || moment().subtract(1, 'week')
      },
      set(dtstart) {
        this.$router.push({query: {...this.$route.query, dtstart: moment(dtstart).format('YYYY-MM-DD')}});
      }
    },
    dtend: {
      get() {
        return this.$route.query.dtend || moment().subtract(1, 'week')
      },
      set(dtend) {
        this.$router.push({query: {...this.$route.query, dtend: moment(dtend).format('YYYY-MM-DD')}});
      }
    },
  },
  watch: {
    '$route.query': {
      immediate: true,
      handler() {
        this.getData();
      }
    }
  },
  async mounted() {
    await this.getData()
  },
  methods: {
    async getData() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/domains?dtstart=${moment(this.dtstart).format('YYYY-MM-DD')}&dtend=${moment(this.dtend).format('YYYY-MM-DD')}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      this.domains = await response.json()
      this.loader = false
    }
  }
}
</script>

<style scoped lang="scss">
.domains {
  &__data {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    div {
      margin-top: 8px;
      display: flex;
      align-items: center;
      &:first-child {
        margin-top: 0;
      }
      i {
        margin-right: 8px;
      }
    }
  }
}

</style>