<template>
  <BaseLayout class="indicators-layout">
    <div class="indicators-layout__filters">
      <div class="fields-row">
        <label for="">Month</label>
        <VueDatePicker
          v-model="month"
          placeholder="Month"
          text-input
          auto-apply
          :month-picker="true"
          format="MMM yyyy"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="!loader && series && series.length"
    >
      <apexchart
        width="100%"
        type="bar"
        :height="apexHeight"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </div>
    <div v-if="!loader && series && series.length">
      <div
        class="table__container"
      >
        <table
          class="table"
        >
          <thead>
          <tr>
            <th>Type</th>
            <th>Total qty</th>
            <th
              v-for="(label, labelIndex) in chartOptions.xaxis.categories"
              :key="`label_${labelIndex}`"
            >
              <img
                width="30"
                :src="require(`@/assets/img/coins/${label.toLowerCase()}.svg`)"
                alt=""
              >
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            v-for="(data, index) in series"
            :key="`data_${index}`"
          >
            <td>{{ data.name }}</td>
            <td style="font-weight: 700;">
              {{
                data.data.reduce((accumulator, current) => accumulator + current, 0)
              }}
            </td>
            <td
              v-for="(qty, index) in data.data"
              :key="`data_${index}`"
            >
              {{ qty }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="!loader && !series"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      Not data.
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import moment from "moment";
import VueApexCharts from "vue3-apexcharts";
import refreshToken from "@/mixins/refreshToken";

export default {
  name: 'invoices',
  components: {BaseLayout, apexchart: VueApexCharts},
  mixins: [refreshToken],
  provide: {
    title: 'Invoices'
  },
  data: () => ({
    moment,
    loader: false,
    apexHeight: 500,
    series: [],
    chartOptions: {
      chart: {
        type: 'bar',
        height: 350,
        stacked: true,
      },
      plotOptions: {
        bar: {
          horizontal: false,
          dataLabels: {
            total: {
              enabled: true,
              offsetX: 0,
              style: {
                fontSize: '13px',
                fontWeight: 900
              }
            }
          }
        },
      },
      stroke: {
        width: 1,
        colors: ['#fff']
      },
      title: {
        text: 'Quantity invoices'
      },
      xaxis: {
        categories: [],
        labels: {
          formatter: function (val) {
            return typeof val === 'string' ? val.toUpperCase() : val
          }
        }
      },
      yaxis: {
        title: {
          text: undefined
        },
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return val
          }
        }
      },
      fill: {
        opacity: 1
      },
      legend: {
        position: 'top',
        horizontalAlign: 'left',
        offsetX: 40
      }
    },
  }),
  computed: {
    month: {
      get() {
        const queryMonth = moment(this.$route.query.month)
        return {
          month: queryMonth.month(),
          year: queryMonth.year()
        } || moment()
      },
      set(month) {
        this.$router.push({query: {...this.$route.query, month: moment(month).format('YYYY-MM')}});
      }
    }
  },
  watch: {
    async month() {
      await this.getStatistics()
    }
  },
  async mounted() {
    await this.getStatistics()
  },
  methods: {
    async getStatistics() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      const date = moment(this.month).clone()

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/invoices?dtstart=${date.startOf('month').format('YYYY-MM-DD')}&dtend=${date.endOf('month').format('YYYY-MM-DD')}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      const result = await response.json()
      if (!result.length) {
        this.series = false
        this.loader = false
        return
      }
      await this.processData(result)
      this.loader = false

    },
    processData(data) {
      const categories = data.map(item => item.currency)
      const seriesPaid = data.map(item => item.paid)
      const seriesTotal = data.map(item => item.total)

      this.series = []
      this.series.push({
        name: 'Paid',
        data: seriesPaid
      })
      this.series.push({
        name: 'Total',
        data: seriesTotal
      })

      this.chartOptions.xaxis.categories = []
      this.chartOptions.xaxis.categories = categories
    }
  }
}

</script>

<style scoped lang="scss">

</style>