<template>
  <BaseLayout class="indicators-layout">
    <div class="indicators-layout__filters">
      <div
        class="fields-row"
        style="margin-right: 0;"
      >
        <label for="">Type</label>
        <select
          v-model="grouping"
          class="select"
        >
          <option
            selected
            disabled
            value=""
          >
            Type
          </option>
          <option
            v-for="(date, index) in ['Month', 'Week']"
            :key="`filterDate_${index}`"
            :value="date.toLowerCase()"
          >
            {{ date }}
          </option>
        </select>
      </div>
      <div class="fields-row">
        <label for="">Date</label>
        <VueDatePicker
          v-model="date"
          placeholder="Date"
          text-input
          auto-apply
          :format="grouping === 'month' ? 'MMM yyyy' : 'dd MMM yyyy'"
          :week-picker="grouping === 'week'"
          :month-picker="grouping === 'month'"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="!loader && series.length"
    >
      <apexchart
        width="100%"
        type="pie"
        height="500"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </div>
    <div v-if="!loader && series.length">
      <div
        class="table__container"
      >
        <table
          class="table"
        >
          <thead>
            <tr>
              <th>Type</th>
              <th>Total qty</th>
              <th
                v-for="(label, labelIndex) in dataTable.categories"
                :key="`label_${labelIndex}`"
                style="text-transform: uppercase"
              >
                <img
                  width="30"
                  :src="require(`@/assets/img/coins/${label.toLowerCase()}.svg`)"
                  alt=""
                >
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(data, index) in dataTable.data"
              :key="`data_${index}`"
            >
              <td>{{ data.name }}</td>
              <td style="font-weight: 700;">
                {{
                  data.totals.reduce((accumulator, current) => accumulator + (typeof current === 'number' ? current : 0), 0)
                }}
              </td>
              <td
                v-for="(qty, index) in data.totals"
                :key="`data_${index}`"
              >
                {{ qty }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="!loader && !series.length"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      Not data.
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import moment from "moment";
import refreshToken from "@/mixins/refreshToken";
import VueApexCharts from "vue3-apexcharts";
import {CRYPTO_COLORS} from "@/dictionaries/CRYPTO_COLORS";

export default {
  name: "registrations",
  components: {BaseLayout, apexchart: VueApexCharts},
  mixins: [refreshToken],
  provide: {
    title: 'Registrations'
  },
  data: () => ({
    dataTable: {
      categories: [],
      data: []
    },
    loader: false,
    series: [],
    chartOptions: {
      plotOptions: {
        pie: {
          dataLabels: {
            offset: -10
          }
        }
      },
      dataLabels: {
        formatter(val, opts) {
          const name = opts.w.globals.labels[opts.seriesIndex]
          return [name, val.toFixed(1) + '%']
        }
      },
      chart: {
        width: 380,
        type: 'pie',
      },
      labels: [],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
    },
  }),
  computed: {
    date: {
      get() {
        const queryMonth = moment(this.$route.query.date) || moment()
        if (this.grouping === 'month') {
          return {
            month: queryMonth.month(),
            year: queryMonth.year()
          }
        } else {
          const startOfWeek = queryMonth.clone().startOf('isoWeek');
          const endOfWeek = queryMonth.clone().endOf('isoWeek');
          return [startOfWeek.toDate(), endOfWeek.toDate()];
        }
      },
      set(date) {
        let d
        if (this.grouping === 'month') {
          d = moment(date).format('YYYY-MM')
        } else {
          d = moment(date[0]).format('YYYY-MM-DD')
        }
        this.$router.push({query: {...this.$route.query, date: d}});
      }
    },
    grouping: {
      get() {
        return this.$route.query.grouping || 'month'
      },
      set(grouping) {
        this.$router.push({
          query: {
            ...this.$route.query,
            grouping: grouping
          }
        })
      }
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      async handler() {
        await this.getStatistics();
      }
    }
  },
  methods: {
    async getStatistics() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      let dtstart
      let dtend
      if (this.grouping === 'week') {
        dtstart = moment(this.date[0]).clone().format('YYYY-MM-DD')
        dtend = moment(this.date[1]).clone().format('YYYY-MM-DD')
      } else {
        dtstart = moment(this.date).startOf('month').format('YYYY-MM-DD')
        dtend = moment(this.date).endOf('month').format('YYYY-MM-DD')
      }


      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/registrations?grouping=${this.grouping}&dtstart=${dtstart}&dtend=${dtend}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      const result = await response.json()

      await this.processData(result)
      this.loader = false


    },
    processData(data) {
      if (!data.length) return
      if (this.dataTable.data.length) {
        this.dataTable.data = []
      }

      this.chartOptions.labels = data.reduce((acc, item) => {
        Object.keys(item.registrations).forEach(key => {
          let category = key.charAt(0).toUpperCase() + key.slice(1);
          if (item.network) {
            category = item.network.toUpperCase() + ' ' + category;
          }
          acc.push(category);
        });
        return acc;
      }, []);

      this.chartOptions.colors = this.chartOptions.labels.map(item => {
        if (item === 'Accounts') {
          return CRYPTO_COLORS[item.toLowerCase()]
        } else if (item.includes('Wallets')) {
          return CRYPTO_COLORS[item.toLowerCase().replace('wallets', '').trim()]
        } else if (item.includes('Addresses')) {
          return CRYPTO_COLORS[item.toLowerCase()]
        }
      })

      this.series = data.reduce((acc, item) => {
        Object.entries(item.registrations).forEach(([key, value]) => {
          acc.push(value);
        });
        return acc;
      }, []);

      this.dataTable.categories = data
        .map(item => item ? item.network : false)
        .filter(item => item)


      const registrationTypes = ['accounts', ...new Set(data.flatMap(item => Object.keys(item.registrations)).filter(type => type !== 'accounts'))];

      const result = registrationTypes.map(type => {
        if (type === 'accounts') {
          const accountsValue = data.find(item => item.network === null)?.registrations[type] || '-';
          return {
            name: 'Accounts',
            totals: [accountsValue, ...Array(data.filter(item => item.network !== null).length - 1).fill('-')]
          };
        } else {
          return {
            name: type.charAt(0).toUpperCase() + type.slice(1),
            totals: data.filter(item => item.network !== null).map(item => item.registrations[type] || 0)
          };
        }
      });


      this.dataTable.data = result

    }
  }
}
</script>

<style scoped lang="scss">

</style>