@import "components/fonts.styl"
@import "components/header.styl"
@import "components/index.styl"
@import "components/footer.styl"
@import "components/need_visa.styl"
@import "components/modal.styl"
@import "components/event.styl"
@import "components/place.styl"
@import "components/all_events.styl"
@import "components/faq.styl"
@import "components/price.styl"
@import "components/emailing.styl"
@import "components/select2.styl"

body
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  color #0E2522
  overflow-x hidden
  position relative

a
  text-decoration none

button
  outline none
  cursor pointer

*
*:before
*:after
  box-sizing border-box
  margin: 0
  padding: 0
  line-height: 1

.container
  max-width: 1520px
  width: 100%
  margin: 0 auto
  padding: 0 40px

.background-color-index
  background #CAEAE7

.background-true-need-visa
  background url("/static/images/background-true-need-visa.png") no-repeat center
  background-size cover


.--link-tabs
  display flex
  align-items center
  a
    font-size: 20px
    font-weight: 800
    color #666666

  svg
    margin: 0 16px

.--select-button
  //width: calc(100% - 32px)
  width: 100%
  display flex
  align-items center
  justify-content: space-between;
  padding-right: 67px
  padding-left: 35px
  p
    animation anim 2s linear infinite

@keyframes anim {
  0% {
    opacity 0.2
  }
  100% {
    opacity: 1
  }
}

.loader
  background linear-gradient(to right, rgba(255,255,255, 1), rgba(255,255,255,0.1))
  border-radius: 50%;
  width: 52px;
  height: 52px;
  animation: animate 2s linear infinite;
  display flex
  align-items center
  justify-content: center;
  span
    width: 38px
    height: 38px
    background #7BCBC3
    border-radius 100%


.--modal-loader
  background linear-gradient(to right, rgba(123,203,195, 1), rgba(123,203,195,0.1))
  width: 200px
  min-height: 200px
  border-radius 100%
  position absolute
  left: 40%
  top: 36%
  display none
  span
    width: 150px
    height: 150px


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-mask
  position absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0

.mask
  background rgba(#000000, 0.5)
  z-index: 10

.--display-block
  display block

.--display-none
  display none

.page-information-background
  background linear-gradient(to bottom, rgba(#7BCBC3, 0.8), rgba(#7BCBC3, 0))

.background-index-image
  background url("/static/images/background-index.png") no-repeat center
  background-size cover

@media screen and (max-width: 1000px)
  .container
    padding: 0 20px
@media screen and (max-width: 767px)
  .--link-tabs
    a
      color #ffffff
    svg
      path
        stroke #ffffff
  .background-index-image
    background-size 180%
    background-position-y 30%

  .--gray-color
      a
        color #666666 !important
      svg
        path
          stroke #666666 !important


  .--modal-loader
    width: 140px
    min-height: 140px
    left: 32%
    top: 25%
    span
      width: 100px
      height: 100px


@media screen and (max-width: 550px)
  .loader
    width: 23px
    height: 23px
    span
      width: 17px
      height: 17px

  .--select-button
    padding-left: 18px
    padding-right: 26px

  .background-index-image
    background-position-y 50%

  .--modal-loader
    width: 140px
    min-height: 140px
    left: 32%
    top: 25%
    span
      width: 100px
      height: 100px
