<script>
  import {fly, fade} from 'svelte/transition';
  import {linear} from 'svelte/easing';
  import {goto} from "$app/navigation";
  import moment from "moment";
  import {_transformArraySlot} from "$lib/_transformArraySlot.js";
  import {_transformDateInHours} from "$lib/_transformDateInHours.js";
  import {_checkDeviceParams} from "$lib/client/_checkDeviceParams.js";
  import {_checkStatusSlot} from "$lib/_checkStatusSlot.js";
  import Slot from "$components/slots/Slot.svelte";
  import {onMount} from "svelte";
  import {page} from "$app/stores";
  import {checkStatusFinished} from "$lib/_checkStatusFinished.js";

  onMount(async () => {
    const queryParams = $page.url.searchParams;

    if (queryParams.has('slot')) {
      setTimeout(() => {
        isShowSlot = true
        const slotsDayWidth = document.querySelector('.slots-day').clientWidth
        positionRightSlotComponent = `right: ${slotsDayWidth}px`
      }, 300)
    }
  })

  export let isShowNotification = false
  export let titleNotification = ''
  export let messageNotification = ''

  export let isValidNotification = true

  export let slotsDayArray = {}
  export let slotsDate = ''
  export let isShowOneDay = false

  export let isShowSlot = false
  export let slotDay = {}

  export let positionRightSlotComponent

  export let refreshSlots;

  export let isReserved = false

  export let checkActiveSession = false

  function openSlot(slot) {
    const queryParams = new URLSearchParams(window.location.search);
    const slotsDayWidth = document.querySelector('.slots-day').clientWidth
    positionRightSlotComponent = `right: ${slotsDayWidth}px`
    queryParams.set('slot', slot.slot);
    goto('?' + queryParams.toString(), {replaceState: true});
    setTimeout(() => {
      isShowSlot = true
      slotDay = slot
      if (slot.is_reserved) {
        isReserved = true
      }
    }, 1)
  }

  function togglePopup() {
    isShowSlot = false
    const params = new URLSearchParams(window.location.search);
    params.delete('date');
    if (!params.has('slot')) {
      isShowOneDay = !isShowOneDay
      return
    }

    setTimeout(() => {
      isShowOneDay = !isShowOneDay
      slotDay = {}
      if (!isShowOneDay) {
        params.delete('slot')
        goto('?' + params.toString(), {replaceState: true});
      }
    }, 200)
  }

  $: isShowOneDay


</script>

{#if isShowOneDay}
  <button
    on:click={togglePopup}
    on:fade={{duration: 200}}
    out:fade={{duration: 200}}
    class="mask"
  ></button>
  <section
    class="slots-day"
    in:fly={{ x: 800, duration: 400, easing: linear }}
    out:fly={{ x: 800, duration: 400, easing: linear }}
  >
    <button
      class="close-btn"
      on:click={togglePopup}
    >
      <i class="apr
       apr-cancel_small"></i>
    </button>
    <div class="slots-day__headers">
      <h2>Slots for {moment(slotsDate, 'YYYYMMDD').format('DD.MM.YYYY')}</h2>
    </div>
    <div class="slots-day__items">
      {#if Object.keys(slotsDayArray).length}
        {#await _transformArraySlot(slotsDayArray, false)}
          <div style="margin-top: -30px;" class="slots-day__item">
            <div class="calendar-skeleton">
              <p style="margin: 0; width: 100% !important; height: 36px;" class="skeleton__box"></p>
              <p class="skeleton__box"></p>
              <div class="skeleton__box"></div>
              <p class="skeleton__box"></p>
              <div class="skeleton__box"></div>
              <p class="skeleton__box"></p>
              <div class="skeleton__box"></div>
              <p class="skeleton__box"></p>
              <div class="skeleton__box"></div>
              <p class="skeleton__box"></p>
              <div class="skeleton__box"></div>
            </div>
          </div>
        {:then data}
          {#each Object.entries(_checkDeviceParams(data)) as [type, hoursSlots]}
            <div class="slots-day__item">
              <p
                class="slots-day__slot-title"
              >{type}</p>
              {#each Object.entries(hoursSlots) as [time, slots]}
                <span class="time">{time}</span>
                {#if slots}
                  {#each slots as slot}
                    <button
                      disabled={!slot.is_available && !slot.is_reserved}
                      class:slot-unavailable={!slot.is_available && !slot.is_reserved}
                      class:slot-reserved={!slot.is_available && slot.is_reserved}
                      on:click={() => {openSlot(slot)}}
                      class="slot"
                      class:slot-active={$page.url.searchParams.get('slot') === slot.slot}
                    >
                      {#if slot.is_confirmed}
                        {#await checkStatusFinished(slot.slot)}
                          <p></p>
                        {:then data}
                          {#if Object.prototype.hasOwnProperty.call(data, 'session_info') && data.session_info.status === 'finished'}
                            <div class="slot-finished">Finished</div>
                          {/if}
                        {/await}
                      {/if}
                      <span class="slot-id">
                      #{slot.slot.split('-')[3]}
                        <span
                          class="reserved"
                          class:reserved-not={!slot.is_available}
                        >
                        {_checkStatusSlot(slot)}
                      </span>
                      <span
                        class="confirmed"
                        class:confirmed-all-reserved={slot.is_confirmed && !slot.is_available}
                        class:confirmed-not-reserved={!slot.is_confirmed && slot.is_available}
                        class:confirmed-reserved={!slot.is_confirmed && !slot.is_available}
                      >
                      <i
                        class="apr"
                        class:apr-checkbox_small={slot.is_confirmed && !slot.is_available}
                        class:apr-infinity={!slot.is_confirmed && slot.is_available}
                        class:apr-cancel_small={!slot.is_confirmed && !slot.is_available}
                      ></i>
                    </span>
                    </span>
                      <span class="slot-row"><b>Time:</b> {_transformDateInHours(slot.start)}
                        - {_transformDateInHours(slot.break)}</span>
                    </button>
                  {/each}
                {:else}
                  <div class="empty">
                    Empty
                  </div>
                {/if}
              {/each}
            </div>
          {/each}
        {/await}
      {:else if Object.keys(slotsDayArray).length && !Object.prototype.hasOwnProperty.call(slotsDayArray, 'normal')}
        <div></div>
      {:else}
        <div style="margin-top: -30px;" class="slots-day__item">
          <div class="calendar-skeleton">
            <p style="margin: 0; width: 100% !important; height: 36px;" class="skeleton__box"></p>
            <p class="skeleton__box"></p>
            <div class="skeleton__box"></div>
            <p class="skeleton__box"></p>
            <div class="skeleton__box"></div>
            <p class="skeleton__box"></p>
            <div class="skeleton__box"></div>
            <p class="skeleton__box"></p>
            <div class="skeleton__box"></div>
            <p class="skeleton__box"></p>
            <div class="skeleton__box"></div>
          </div>
        </div>
      {/if}
    </div>
  </section>
  <svelte:component
    this={Slot}
    bind:slotDay
    bind:isShowSlot
    bind:positionRightSlotComponent
    {refreshSlots}
    bind:isReserved
    bind:isShowNotification
    bind:titleNotification
    bind:messageNotification
    bind:isValidNotification
    bind:checkActiveSession
  />
{/if}

<style lang="scss">
  .slots-day {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    box-shadow: -3px 0 11px -2px rgba(0, 0, 0, 0.2);
    height: 100vh;
    min-width: 410px;
    z-index: 100;
    max-width: 700px;

    &__headers {
      padding: 32px 32px 20px;
      background: var(--linear-primary);
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    }

    &__slot-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      background: var(--grey);
      padding: 6px;
      border-radius: var(--radius);
      text-transform: capitalize;
      text-align: center;

    }

    .close-btn {
      position: absolute;
      right: 24px;
      top: 24px;
    }

    &__items {
      display: flex;
      align-items: flex-start;
      margin-top: 32px;
      overflow: auto;
      max-height: calc(100vh - 122px);
      padding: 0 32px 32px;
    }

    &__item {
      width: 100%;
      max-width: 170px;
      margin-left: 32px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
</style>
