<template>
    <main-layout>
        <div class="three_company">
            <div class="three_company__menu">
                <router-link to="/three_company/orders/" active-class="a-active">
                    Bestellungen
                </router-link>

                <router-link to="/three_company/plates_count/" active-class="a-active">
                    Abr. DASS
                </router-link>

                <router-link to="/three_company/templates/" active-class="a-active">
                    Templates
                </router-link>

                <router-link to="/three_company/prices/" active-class="a-active">
                    Preise
                </router-link>

                <router-link to="/three_company/products_numbers/" active-class="a-active">
                    Kontos
                </router-link>

                <router-link to="/three_company/site_content/" active-class="a-active">
                    Inhalt der Website
                </router-link>

                <router-link to="/three_company/csv/" active-class="a-active">
                    CSV
                </router-link>

            </div>
            <div class="three_company__body">
                <router-view></router-view>
            </div>
        </div>
    </main-layout>
</template>

<script>
import MainLayout from '@/layouts/main-layout';

export default {
    name: "three_company-layout",
    components: {MainLayout}
}
</script>

<style lang="stylus">
    .three_company
        &__menu
            background-color #004494
            padding 3px 0 2px 0
            a
                color #fefefe
                margin 0 10px 0 5px
                font-size 1.1em
</style>
