<template>
    <main-layout>
        <div class="one_company">
            <div class="one_company__menu">
                <router-link to="/one_company/orders/" active-class="a-active">Orders</router-link>
                <router-link to="/one_company/prices/" active-class="a-active">Prices</router-link>
                <router-link to="/one_company/resellers/" active-class="a-active">Resellers</router-link>
                <router-link to="/one_company/emails_templates/" active-class="a-active">Emails templates</router-link>
                <router-link to="/one_company/content_texts/" active-class="a-active">Content texts</router-link>
                <router-link to="/one_company/disabled_dates/" active-class="a-active">Inactive dates</router-link>
            </div>
            <div class="one_company__body">
                <router-view></router-view>
            </div>
        </div>
    </main-layout>

</template>

<script>
import MainLayout from "./main-layout";

export default {
  name: "one_company-layout",
  components: { MainLayout, },
}

</script>

<style lang="stylus">
    .one_company
        &__menu
            background-color #F1932A
            padding 3px 0 2px 0
            a
                color #fefefe
                margin 0 10px 0 5px
                font-size 1.1em
</style>
