<template>
    <main-layout>
        <div class="two_company">
            <div class="two_company__menu">
                <router-link to="/two_company/orders/" active-class="a-active">
                    Bestellungen
                </router-link>

                <router-link to="/two_company/prices/" active-class="a-active">
                    Preise
                </router-link>

                <router-link to="/two_company/reseller_statistics/" active-class="a-active">
                    Abr. Reseller
                </router-link>

                <router-link to="/two_company/logs/" active-class="a-active">
                    Log
                </router-link>

                <router-link to="/two_company/evb_settings/" active-class="a-active">
                    evbworker
                </router-link>

                <router-link to="/two_company/ads/" active-class="a-active">
                    Hinweise
                </router-link>

                <router-link to="/two_company/users/" active-class="a-active">
                    Kunden
                </router-link>

                <router-link to="/two_company/templates/" active-class="a-active">
                    Templates
                </router-link>

                <router-link to="/two_company/site_content/" active-class="a-active">
                    Übersetzungen
                </router-link>

                <router-link to="/two_company/resellers/" active-class="a-active">
                    Resellers
                </router-link>

            </div>
            <div class="two_company__body">
                <router-view></router-view>
            </div>
        </div>
    </main-layout>
</template>

<script>
import MainLayout from '@/layouts/main-layout';

export default {
    name: "two_company-layout",
    components: {MainLayout}
}
</script>

<style lang="stylus">
    .two_company
        &__menu
            background-color #7EB51E
            padding 3px 0 2px 0
            a
                color #fefefe
                margin 0 10px 0 5px
                font-size 1.1em
</style>
