{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Über Uns</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/about-us_page.css') }}">
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h4 class="service-card__subtitle">VISUM.IO DEVELOPMENT</h4>
                <h1 class="service-card__title about-us-page__title">Wer sind wir?</h1>
            </section>
            <section class="service-card_our-approach">
                <div class="service-card_our-approach__content about-us-page_who-are-you__content">
                    <div class="service-card_our-approach__one-block about-us-page_who-are-you__one-block">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-2.svg') }}" alt="">
                        <h3 class="service-card_our-approach__title-block">Das sind wir</h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">Kreative Entwickler,
                            Unternehmensberater, Analysten, Digitale Strategen, Anwendungsentwickler,
                            Usability-Tester, Projektleiter, Website-Designer,
                            UX-Experten, Vermarkter, SEO-Spezialisten,
                            Traffic-Manager.
                            <br><br>
                            Wir alle haben es uns zum Lebensziel gemacht, wirklich kreative, intelligente, schnelle und
                            qualitativ hochwertige IT- und
                            Geschäftsprodukte/Sites/Webanwendungen zu entwickeln.</p>
                    </div>
                    <div class="service-card_our-approach__one-block about-us-page_who-are-you__one-block">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-1.svg') }}" alt="">
                        <h3 class="service-card_our-approach__title-block">Unsere Mission</h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">
                            Unser Hauptanliegen
                            bei unserer Arbeit ist es, unseren Kunden zu helfen, ihre Unternehmensleistung zu
                            verbessern. Wir machen uns die
                            Projektziele zu eigen und erarbeiten gemeinsam mit dem Kunden die Lösung, die seine Ziele am
                            besten erfüllt. Deshalb können Sie auf uns als
                            umfassenden Geschäftspartner zählen.</p>
                    </div>
                </div>
            </section>
            <section class="about-us-page_our-approach">
                <h2 class="service-card__title about-us-page__title about-us-page_our-approach__title">Unser Ansatz</h2>
                <div class="about-us-page_our-approach__items">
                    <div style="background: linear-gradient(45deg, rgba(83, 211, 209, 0.05), rgba(83, 211, 209, 0.02)); border: 1px solid rgba(83, 211, 209, 0.2)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-4.svg') }}" alt="">
                        <h3>Individuelles Management</h3>
                        <p>Unser Hauptanliegen bei unserer Arbeit ist es, unseren Kunden zu helfen, ihre
                            Unternehmensleistung zu verbessern. Wir machen uns die
                            Projektziele zu eigen und erarbeiten gemeinsam mit dem Kunden die Lösung, die seine Ziele am
                            besten erfüllt. Deshalb können Sie auf uns als
                            umfassenden Geschäftspartner zählen.</p>
                    </div>
                    <div style="background: #000000; border: 1px solid rgba(255, 255, 255, 0.2)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-5.svg') }}" alt="">
                        <h3>Flexible Entwicklung</h3>
                        <p>Wir unterteilen das Projekt immer in kompakte Phasen. In jeder Phase werden die Aufgaben mit
                            der höchsten Priorität umgesetzt, und
                            das Feedback des Marktes ermöglicht es uns, die Ziele und die Zusammensetzung der nächsten
                            Phase anzupassen. Dieser Ansatz
                            verringert die Projektrisiken erheblich und reduziert die Kosten und die Dauer des
                            Projektstarts, wodurch eine maximale
                            Investitionsrendite gewährleistet wird.</p>
                    </div>
                    <div style="background: linear-gradient(45deg, rgba(147, 52, 184, 0.15), rgba(147, 52, 184, 0.1)); border: 1px solid rgba(147, 52, 184, 0.3)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-6.svg') }}" alt="">
                        <h3>Engagierte Projektteams</h3>
                        <p>Jedes unserer Projektteams ist ein einzigartiges Team von Fachleuten, die entsprechend dem
                            Projektprofil des Kunden ausgewählt werden. Wir
                            setzen Monopolteams pro Projekt ein und garantieren so dem Kunden, dass 100% der Arbeitszeit
                            und des Engagements des Projektteams, das
                            zur Erreichung seiner Geschäftsziele eingesetzt wird, ihm gewidmet sind.</p>
                    </div>
                    <div style="background: linear-gradient(45deg, rgba(10, 83, 154, 0.05), rgba(10, 83, 154, 0.15)); border: 1px solid rgba(10, 83, 154, 0.3)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-8.svg') }}" alt="">
                        <h3>Datengesteuerte Lösungen</h3>
                        <p>Unser Hauptanliegen bei unserer Arbeit ist es, unseren Kunden zu helfen, ihre
                            Unternehmensleistung zu verbessern. Wir machen uns die
                            Projektziele zu eigen und erarbeiten gemeinsam mit dem Kunden die Lösung, die seine Ziele am
                            besten erfüllt. Deshalb können Sie auf uns als
                            umfassenden Geschäftspartner zählen.</p>
                    </div>
                    <div style="background: linear-gradient(45deg, rgba(83, 211, 209, 0.1), rgba(83, 211, 209, 0.05)); border: 1px solid rgba(83, 211, 209, 0.2)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-9.svg') }}" alt="">
                        <h3>Moderne Kommunikationslösungen</h3>
                        <p>Unsere Lösungen basieren auf den modernsten und effektivsten Kommunikationsszenarien. Durch
                            die Anpassung moderner
                            Kommunikationskonzepte an die Bedürfnisse des Unternehmens helfen wir unseren Kunden, sowohl
                            die interne Kommunikation als auch die
                            Business-to-Market-Kommunikation des Kunden zu verbessern. Durch die Gewährleistung eines
                            vollständigen Omnichannel, sowohl extern als
                            auch intern, erzielen unsere Kunden auch eine erhebliche Steigerung der
                            Geschäftseffizienz.</p>
                    </div>
                    <div style="background: linear-gradient(45deg, rgba(10, 83, 154, 0.05), rgba(10, 83, 154, 0.15)); border: 1px solid rgba(10, 83, 154, 0.3)"
                         class="about-us-page_our-approach__item">
                        <img src="{{ url_for('static', filename='images/about-us-page_icon-7.svg') }}" alt="">
                        <h3>Verlässlichkeit</h3>
                        <p>Wir sind für alle Entscheidungen und Prozesse verantwortlich, von der Ausarbeitung der
                            Aufgabenstellung bis zur Berechnung der
                            Marketingstrategie. Jeder unserer Mitarbeiter, ob Entwickler, Designer oder Marketer, kennt
                            seine Aufgabe genau und arbeitet an jedem Projekt,
                            als wäre es das wichtigste.</p>
                    </div>
                </div>
            </section>
            <a id="discussYorProjectLink" href="javascript: void(0)"
               class="discuss-your-project about-us-page_discuss-your-project">
                <div class="discuss-your-project__inner">
                    <h3 class="discuss-your-project__title">Ihr Projekt jetzt besprechen</h3>
                    <img src="{{ url_for('static', filename='images/discuss-project-arrow.svg') }}" alt="">
                </div>
            </a>
        </div>
        {% include 'components/footer.html' %}
    </div>
    {% include 'components/contact-form.html' %}
{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal.js') }}"></script>
{% endblock %}

