{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Adaptives Design</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h4 class="service-card__subtitle">ADAPTIVES DESIGN</h4>
                <h1 class="service-card__title">Wir machen Ihr Geschäft für jedes Gerät startklar </h1>
                <button id="btnContactForm" class="service-card__btn button">Projekt besprechen</button>
            </section>
            <section class="service-card_advantages">
                <div class="service-card_advantages__left-content">
                    <img src="{{ url_for('static', filename='images/adaptive-design-icon.svg') }}" alt="">
                    <h2 class="service-card_advantages__title">
                        Das machen wir besser als andere
                    </h2>
                </div>
                <div class="service-card_advantages__right-content">
                    <div class="service-card_advantages__item">
                        <span>1.</span>
                        <p>Wir wissen, dass ein gutes Design nicht alles ist -
                            es sollte auf jedem Gerät gleich kommunikativ sein.</p>
                    </div>
                    <div class="service-card_advantages__item">
                        <span>2.</span>
                        <p>Wir entwickeln ein elegantes Design, das auf jeden Gerät </p>
                    </div>
                    <div class="service-card_advantages__item">
                        <span>3.</span>
                        <p>Wir schaffen Lösungen, die nahtlos in Ihre bestehenden Prozesse intergriert werden.</p>
                    </div>
                    <div class="service-card_advantages__item">
                        <span>4.</span>
                        <p>Wir entwickeln Neuerungen mit Blick in die technische Zukunft Ihrer Brance.</p>
                    </div>
                </div>
            </section>
        </div>
        {% include 'components/service-sections.html' %}
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
{% block scripts %}
    {#    <script src="{{ url_for('static', filename='scripts/service_page.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/service_page.js') }}"></script>
{% endblock %}
