{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Projekte</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/cases_page.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases_page.css') }}">#}
{% endblock %}

{% block body %}
    <div id="casesCloseBtnContainer" class="--container-fixed">
        <div class="container">
            <span id="casesCloseBtn" class="--modal-close-btn"></span>
        </div>
    </div>
    <div id="modalContainer" class="modal-container"></div>
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h4 class="service-card__subtitle">PROJEKTE</h4>
                <h1 class="service-card__title about-us-page__title cases-page__title">Wir schaffen
                    <span>kreative Lösungen </span>für praktische Ideen</h1>
            </section>
            <section class="cases-page">
                <div class="cases-page__item">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesUaeContent"
                         class="rellax cases-page__content">
                        <div id="casesUaeSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>WEBSHOP</span>
                            <span>BACKEND</span>
                            <span>AUTOMATISIERUNG</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-uae.png') }}" id="casesUaeVisaImage"
                             alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesUaeLink" class="--cases-description">
                        <h4>eVisum für UAE</h4>
                        <p>Design und Entwicklung einer Homepage für
                            die intuitive Bestellung und Abwicklung
                            von elektronischen Visa.</p>
                        <span>Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item cases-page__content-start">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesProductVisaContent"
                         class="rellax cases-page__content cases-page__product-visa">
                        <div id="casesProductVisaSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>AUTOMATISIERUNG</span>
                        </div>
                        <img id="casesProductVisaImage"
                             data-src="{{ url_for('static', filename='images/cases-product-visum.png') }}"
                             src="{{ url_for('static', filename='images/cases-product-visum.png') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesProductVisaLink" class="--cases-description">
                        <h4>Landingpage für Web-Tool</h4>
                        <p>Konzeption und Design einer Landingpage mit dem Ziel
                            Besucher in Leads zur Online-Demonstation zu generieren.</p>
                        <span>Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesShopContent"
                         class="rellax cases-page__content cases-page__shop">
                        <div id="casesShopSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>WEBSHOP</span>
                            <span>BACKEND</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-shop.png') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesShopLink" class="--cases-description">
                        <h4>Webshop Konzept</h4>
                        <p>Design eines Onlineshops für gehobene
                            Nachtmode und Entwicklung des dazugehörigen
                            Adminsbereichs, basierend auf eigenem Code.</p>
                        <span style="background: #54D3D1">Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item cases-page__content-start">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesQuestionnaireVisaContent"
                         class="rellax cases-page__content cases-page__questionnaire-visa">
                        <div id="casesQuestionnaireVisaSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>AUTOMATISIERUNG</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-questionnaire-visum.png') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesQuestionnaireVisaLink"
                       class="--cases-description cases-page__questionnaire-visa-description">
                        <h4>Web-Tool für Visabranche</h4>
                        <p>Entwicklung einer webbasierten Software, welche die komplizierten Prozesse der
                            überwiegend manuellen Visabranche automatisiert.</p>
                        <span>Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesSapeginAutoplatesContent"
                         class="rellax cases-page__content cases-page__sapegin-autoplates">
                        <div id="casesSapeginAutoplatesSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>WEBSHOP</span>
                            <span>BACKEND</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-sapegin-autoplates.png') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesSapeginAutoplatesLink" class="--cases-description">
                        <h4>Betriebseigene IT Lösungen</h4>
                        <p>Digitalisierung der Betriebsabläufe für einen Autokennzeichen Service. Entwicklung von
                            Kunden-
                            und Verwaltungsbereich
                            mit optimiertem Layout und SEO-Optimierung.</p>
                        <span style="background: #54D3D1">Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item cases-page__content-start">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesSapeginKzevbContent"
                         class="rellax cases-page__content cases-page__sapegin-kzevb">
                        <div id="casesSapeginKzevbSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>AUTOMATISIERUNG</span>
                            <span>DEVELOPMENT</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-sapegin-kzevb.jpg') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesSapeginKzevbLink"
                       class="--cases-description cases-page__sapegin-kzevb-description">
                        <h4>Optimization und Erweiterungen.</h4>
                        <p>Überholung einer Homepage und Anbindung an die bereits existierende
                            Verwaltungs-Software.
                            Inkl. Optimierung der Kosten- und Sicherheitsinfrastruktur.</p>
                        <span>Ansehen</span>
                    </a>
                </div>
                <div class="cases-page__item">
                    <div data-rellax-percentage="0" data-rellax-speed="1" id="casesTtHomesContent"
                         class="rellax cases-page__content cases-page__tthomes">
                        <div id="casesTtHomesSlider" class="cases-page__item-header">
                            <span>DESIGN</span>
                            <span>DEVELOPMENT</span>
                            <span>ADMIN-BEREICH</span>
                        </div>
                        <img src="{{ url_for('static', filename='images/cases-tthomes.png') }}" alt="">
                    </div>
                    <a href="javascript: void(0)" id="casesTtHomesLink" class="--cases-description">
                        <h4>Firmen Homepage</h4>
                        <p>Homepage für eine Immobilien Agentur mit Kundenbereich, Objektkatalog und
                            Verwaltungsbereich. Inkl. adoptiertem Layout, SEO-Optimierung, Cross-Selling</p>
                        <span style="background: #54D3D1">Ansehen</span>
                    </a>
                </div>
                <button id="btnContactForm" class="service-card__btn button">Projekt besprechen</button>
            </section>
        </div>
        {% include 'components/footer.html' %}
    </div>
    {% include 'components/contact-form.html' %}
{% endblock %}
{% block scripts %}
    {#    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='scripts/cases-page.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/cases-page.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/lazy-master/jquery.lazy.min.js') }}"></script>
{% endblock %}

