{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Impressum</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/imprint_page.css') }}">
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h1 class="service-card__title about-us-page__title">Impressum
                </h1>
            </section>
            <section class="service-card_contact imprint__content">
                <form action="#" method="post" class="service-card_contact__form imprint__form">
                    <div class="imprint__items">
                        <h5>Angaben gemäß § 5 TMG</h5>
                        <div class="imprint__item">
                            <h5>Vertretungsberechtigter Geschäftsführer</h5>
                            <span>Sergej Pocivalov</span>
                        </div>
                        <div class="imprint__item">
                            <h5>Handelsregister Nr.</h5>
                            <span>HRB 51365 <br>
                                    Handelsregister B <br>
                                    des Amtsgerichts Offenbach am Main</span>
                        </div>
                        <div class="imprint__item">
                            <h5>Umsatzsteuer-
                                Identifikationsnummer
                            </h5>
                            <span>DE321102104 <br>
                                    gemäß §27 a Umsatzsteuergesetz</span>
                        </div>
                    </div>
                </form>
                <div class="service-card_discuss-project imprint__discuss-project">
                    <h4>Visum.IO (haftungsbeschränkt)</h4>
                    <p>Christian-Pleß-Straße 14 <br>
                        63069 Offenbach am Main <br>
                        +49 178 728 09 84 <br>
                        info@visum.io</p>
                </div>
            </section>
            <a id="discussYorProjectLink" href="javascript: void(0)"
               class="discuss-your-project about-us-page_discuss-your-project">
                <div class="discuss-your-project__inner">
                    <h3 class="discuss-your-project__title">Ihr Projekt jetzt besprechen</h3>
                    <img src="{{ url_for('static', filename='images/discuss-project-arrow.svg') }}" alt="">
                </div>
            </a>
        </div>
        {% include 'components/footer.html' %}
    </div>
    {% include 'components/contact-form.html' %}
{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal.js') }}"></script>
{% endblock %}

