{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io</title>
{% endblock %}

{% block body %}
    <div id="modalContainer" class="modal-container"></div>
    <div id="casesCloseBtnContainer" class="--container-fixed">
        <div class="container">
            <span id="casesCloseBtn" class="--modal-close-btn"></span>
        </div>
    </div>
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="container">
            <section class="main">
                <h1 class="main__title">Fordern Sie mehr von
                    <br><span>Ihrer Website</span>
                </h1>
                <span class="main__subtitle">
                    Wir kombinieren Vorstellungskraft und Technologie, um Unternehmern
                    im Zeitalter der digitalen Transformation zu helfen
                </span>
            </section>
        </div>
        <div class="product__adaptive-container">
            <div class="container">
                <div class="product__items">
                    <a href="/webshop/" class="product__item --webshop">
                        <div class="product__img">
                            <img src="{{ url_for('static', filename='images/webshop-icon.svg') }}" alt="">
                        </div>
                        <div class="product__text">
                            <h3>Webshop</h3>
                            <div class="product__line"></div>
                            <span>Erfolgreicher Online-Verkauf</span>
                            <p>Sie möchten einen optimierten Webshop zeitnah an den Start bringen? </p>
                        </div>
                        <div class="product__price">
                            <span>ab 1000€</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                    <a href="/website_design/" class="product__item --landing-page">
                        <div class="product__img">
                            <img src="{{ url_for('static', filename='images/website-design-icon.svg') }}" alt="">
                        </div>
                        <div class="product__text">
                            <h3>Website Design</h3>
                            <div class="product__line"></div>
                            <span>Einzigartiges, modernes UX/UI-Design</span>
                            <p>Sie möchten einen unverwechselbaren Online-Auftritt?</p>
                        </div>
                        <div class="product__price">
                            <span>ab 500€</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                    <a href="/process_automation/"
                       class="product__item --process-automation">
                        <div class="product__img">
                            <img src="{{ url_for('static', filename='images/process-automation-icon.svg') }}" alt="">
                        </div>
                        <div class="product__text">
                            <h3>Automatisierung</h3>
                            <div class="product__line"></div>
                            <span>Optimierung Ihrer Geschäftsprozesse</span>
                            <p>Sie möchten Ihre bestehenden Prozesse optimieren und digitalisieren?</p>
                        </div>
                        <div class="product__price">
                            <span>ab 1200€</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                    <a href="/tech_support/" class="product__item --tech-support">
                        <p class="--tech-support-icon"></p>
                        <div class="product__text">
                            <h3>Tech-Support</h3>
                            <div class="product__line"></div>
                            <span>Sicherheit, Stabilität, Zuverlässigkeit</span>
                            <p>Sie möchten mehr Sicherheit und Leistung für Ihre Ressourcen?</p>
                        </div>
                        <div class="product__price">
                            <span>ab 150€/Monat</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                    <a href="/adaptive_design/" class="product__item --landing-page">
                        <div class="product__img">
                            <img src="{{ url_for('static', filename='images/adaptive-design-icon.svg') }}" alt="">
                        </div>
                        <div class="product__text">
                            <h3>Adaptives Design</h3>
                            <div class="product__line"></div>
                            <span>Anpassungsfähige Designs für alle Geräte</span>
                            <p>Sie möchten, dass Ihr Online-Auftritt immer gut aussieht?</p>
                        </div>
                        <div class="product__price">
                            <span>ab 500€</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                    <a href="/landing_page/" class="product__item --tech-support">
                        <div class="product__img">
                            <img src="{{ url_for('static', filename='images/landing-page-icon.svg') }}" alt="">
                        </div>
                        <div class="product__text">
                            <h3>Landing Page</h3>
                            <div class="product__line"></div>
                            <span>Besucher effizient monetisieren</span>
                            <p>Sie möchten Ihre Gewinne maximieren?</p>
                        </div>
                        <div class="product__price">
                            <span>ab 500€</span>
                            <img src="{{ url_for('static', filename='images/product-arrow.svg') }}" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="product__slide-logo" id="testSlide">
            <img src="{{ url_for('static', filename='images/kurzzeit-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/uae-visa-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/zollkeinnzeichen-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/shop-logo.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/tthomes.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/baugruppe.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/glashouse.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/jal.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/kurzzeit-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/uae-visa-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/shop-logo.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/tthomes.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/baugruppe.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/glashouse.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/jal.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/zollkeinnzeichen-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/kurzzeit-logo.png') }}" alt="">
            <img src="{{ url_for('static', filename='images/uae-visa-logo.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/tthomes.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/baugruppe.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/glashouse.png') }}" alt="">
            <img class="product__image-small" src="{{ url_for('static', filename='images/jal.png') }}" alt="">
        </div>
        <div class="container">
            <section class="cases">
                <span class="cases__subtitle">Einige Beispiele unserer Arbeiten</span>
                <h2 class="cases__title">Projekte</h2>
                <div class="cases__items">
                    <div class="cases__item">
                        <div id="casesUaeVisaImage"
                             class="cases__link --dubai-visa-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-purple"></span>
                            <span class="--circle-green"></span>
                        </div>
                        <a href="javascript: void(0)" id="casesUaeLink"
                           class="cases__block-link --cases-description cases-page__questionnaire-visa-description">
                            <h4>eVisum für UAE</h4>
                            <p>Design und Entwicklung einer Homepage für
                                die intuitive Bestellung und Abwicklung
                                von elektronischen Visa.</p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#webdesign</div>
                            </div>
                        </a>
                    </div>
                    <div class="cases__item --flex-reverse">
                        <a href="javascript: void(0)" id="casesProductVisaLink"
                           class="cases__block-link --cases-description cases-page__questionnaire-visa-description">
                            <h4>Landingpage für Web-Tool</h4>
                            <p>Konzeption und Design einer Landingpage mit dem Ziel
                                Besucher in Leads zur Online-Demonstation zu generieren.</p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#webdesign</div>
                            </div>
                        </a>
                        <div id="casesProductVisaImage" class="cases__link --product-visa-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-green"></span>
                            <span class="--circle-purple"></span>
                        </div>
                    </div>
                    <div class="cases__item">
                        <div id="casesQuestionnaireVisaImage"
                             class="cases__link --questionnaire-visa-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-green"></span>
                            <span class="--circle-purple"></span>
                        </div>
                        <a href="javascript: void(0)" id="casesQuestionnaireVisaLink"
                           class="cases__block-link --cases-description cases-page__questionnaire-visa-description">
                            <h4>Web-Tool für Visabranche</h4>
                            <p>Entwicklung einer webbasierten Software, welche die komplizierten Prozesse der
                                überwiegend manuellen Visabranche automatisiert.</p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#automatisieren</div>
                            </div>
                        </a>
                    </div>
                    <div class="cases__item --flex-reverse">
                        <a href="javascript: void(0)" id="casesShopLink"
                           class="cases__block-link --cases-description cases-page__questionnaire-visa-description">
                            <h4>Webshop Konzept</h4>
                            <p>Design eines Onlineshops für gehobene
                                Nachtmode und Entwicklung des dazugehörigen
                                Adminsbereichs, basierend auf eigenem Code. </p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#webshop</div>
                            </div>
                        </a>
                        <div id="casesShopImage" class="cases__link --shop-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-green"></span>
                            <span class="--circle-purple"></span>
                        </div>
                    </div>
                    <div class="cases__item">
                        <div id="casesSapeginAutopltesImage" class="cases__link --sapegin-autoplates-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-purple"></span>
                            <span class="--circle-green"></span>
                        </div>
                        <a href="javascript: void(0)" id="casesSapeginAutoplatesLink"
                           class="cases__block-link --cases-description cases-page__sapegin-autoplates-description">
                            <h4>Betriebseigene IT Lösungen</h4>
                            <p>Digitalisierung der Betriebsabläufe für einen Autokennzeichen Service. Entwicklung von
                                Kunden-
                                und Verwaltungsbereich
                                mit optimiertem Layout und SEO-Optimierung.</p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#automatisieren</div>
                            </div>
                        </a>
                    </div>
                    <div class="cases__item --flex-reverse">
                        <a href="javascript: void(0)" id="casesSapeginKzevbLink"
                           class="cases__block-link --cases-description cases-page__sapegin-kzevb-description">
                            <h4>Optimization und Erweiterungen</h4>
                            <p>Überholung einer Homepage und Anbindung an die bereits existierende
                                Verwaltungs-Software.
                                Inkl. Optimierung der Kosten- und Sicherheitsinfrastruktur.</p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#automatisieren</div>
                            </div>
                        </a>
                        <div id="casesSapeginKzevbImage" class="cases__link --sapegin-kzevb-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-green"></span>
                            <span class="--circle-purple"></span>
                        </div>
                    </div>
                    <div class="cases__item">
                        <div id="casesTtHomesImage" class="cases__link --tthomes-link">
                            <span class="--circle-blue"></span>
                            <span class="--circle-purple"></span>
                            <span class="--circle-green"></span>
                        </div>
                        <a href="javascript: void(0)" id="casesTtHomesLink"
                           class="cases__block-link --cases-description cases-page__tthomes-description">
                            <h4>Firmen Homepage</h4>
                            <p>Homepage für eine Immobilien Agentur mit Kundenbereich, Objektkatalog und
                                Verwaltungsbereich. Inkl. adoptiertem Layout, SEO-Optimierung, Cross-Selling
                            </p>
                            <div class="cases__link-item">
                                <span style="display: inline-block">Ansehen</span>
                                <div class="cases__item-hashtag">#realestate</div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="digital-service">
                <span class="cases__subtitle">Wir gestalten und entwickeln</span>
                <h2 class="cases__title">Unsere digitalen Leistungen</h2>
                <div class="digital-service__items">
                    <div class="digital-service__item">
                        <img src="{{ url_for('static', filename='images/ui-ux-design.svg') }}" alt="">
                        <h3 class="digital-service__item-title">UI/UX DESIGN</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>Landing Pages</span>
                            <span>Webshops</span>
                            <span>Mobile Applications</span>
                            <span>Design System</span>
                            <span>Dashboard Design</span>
                            <span>Product Design</span>
                        </div>
                    </div>
                    <div class="digital-service__item">
                        <img src="{{ url_for('static', filename='images/development.svg') }}" alt="">
                        <h3 class="digital-service__item-title">DEVELOPMENT</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>Backend Development</span>
                            <span>Frontend Development</span>
                            <span>Custom Web App Development</span>
                            <span>Cloud Architecture</span>
                            <span>Python Development</span>
                        </div>
                    </div>
                    <div class="digital-service__item">
                        <img src="{{ url_for('static', filename='images/support.svg') }}" alt="">
                        <h3 class="digital-service__item-title">SUPPORT</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>DevOps Practicies</span>
                            <span>24/7 Support</span>
                            <span>Infrastructure Deploy & Support</span>
                            <span>UX Analytics</span>
                            <span>Continuous Application Monitoring</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="strategy-and-execution">
                <span class="cases__subtitle">So arbeiten wir</span>
                <h2 class="cases__title">Wir wissen, was Sie brauchen!</h2>
                <div class="strategy-and-execution__items">
                    <div class="strategy-and-execution__item">
                        <div class="strategy-and-execution__blur-first --secondary-blur"></div>
                        <div class="strategy-and-execution__blur-second --secondary-blur"></div>
                        <img src="{{ url_for('static', filename='images/strategy-one.svg') }}" alt="">
                        <h3 class="strategy-and-execution__item-title">Ziele und Aufgaben
                            des Kunden</h3>
                    </div>
                    <div class="strategy-and-execution__item">
                        <div class="strategy-and-execution__blur-first"></div>
                        <div class="strategy-and-execution__blur-second"></div>
                        <img src="{{ url_for('static', filename='images/strategy-two.svg') }}" alt="">
                        <h3 class="strategy-and-execution__item-title">Design Strategie</h3>
                    </div>
                    <div class="strategy-and-execution__item">
                        <div class="strategy-and-execution__blur-first --blue-blur"></div>
                        <div class="strategy-and-execution__blur-second --blue-blur"></div>
                        <img src="{{ url_for('static', filename='images/strategy-three.svg') }}" alt="">
                        <h3 class="strategy-and-execution__item-title">Context Strategie</h3>
                    </div>
                    <div class="strategy-and-execution__item">
                        <div class="strategy-and-execution__blur-first --secondary-blur"></div>
                        <div class="strategy-and-execution__blur-second --secondary-blur"></div>
                        <img src="{{ url_for('static', filename='images/strategy-four.svg') }}" alt="">
                        <h3 class="strategy-and-execution__item-title">Entwicklung</h3>
                    </div>
                </div>
                <a href="/services/" class="strategy-and-execution__btn">
                    mehr erfahren
                    <img src="{{ url_for('static', filename='images/strategy-and-execution_arrow.svg') }}" alt="">
                </a>
            </section>
            <section id="aboutUs" class="about-us">
                <div class="about-us__right-content">
                    <p id="aboutUsText" class="about-us__text">
                        Wenn es los geht sind wir bei Ihnen und leisten Unterstützung mit:
                    </p>
                </div>
                <div style="margin-top: 150px;">
                    <div style=" position: relative" id="demoMessageAnchor" class="about-us__left-content">
                        <div id="paralax" class=" about-us__item">
                            <div>
                                <span data-rellax-percentage="0.3" data-rellax-speed="2"
                                      class="about-us__item-years rellax">Zuverlässigen Technischer Support</span>
                                <span data-rellax-percentage="0.1" data-rellax-speed="2"
                                      class="about-us__item-text rellax">
                                    (vertraglich geregelt)
                                </span>
                                <span class="about-us__item-num">5.</span>
                            </div>
                        </div>
                        <div id="paralax2" class="about-us__item">
                            <div>
                                <span class="about-us__item-num">6.</span>
                                <span data-rellax-percentage="0.3" data-rellax-speed="2"
                                      class="about-us__item-years rellax">Modernisierung und Aktualisierung</span>
                                <span data-rellax-percentage="0.1" data-rellax-speed="2"
                                      class="about-us__item-text rellax">
                                    (Damit Sie immer vorne liegen)
                                </span>
                            </div>
                        </div>
                        <div id="paralax3" class="about-us__item">
                            <div>
                                <span class="about-us__item-num">7.</span>
                                <span data-rellax-percentage="0.3" data-rellax-speed="2"
                                      class="about-us__item-years rellax">Werbestrategien</span>
                                <span data-rellax-percentage="0.1" data-rellax-speed="2"
                                      class="about-us__item-text rellax">
                                    (Weil Gute Werbung nicht teuer  sein muss)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <a id="discussYorProjectLink" href="javascript: void(0)" class="discuss-your-project">
            <div class="discuss-your-project__inner">
                <h3 class="discuss-your-project__title">Ihr Projekt jetzt besprechen</h3>
                <img src="{{ url_for('static', filename='images/discuss-project-arrow.svg') }}" alt="">
            </div>
        </a>
        {% include 'components/footer.html' %}
        {% include 'components/popup-advertisement.html' %}
    </div>
{% endblock %}
{% block scripts %}
    {#    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/dist/main.js') }}"></script>
{#        <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}"></script>#}
        <script type="module" src="{{ url_for('static', filename='scripts/http.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scripts/dist/popup-advertisement.js') }}"></script>
{#        <script type="module" src="{{ url_for('static', filename='scripts/popup-advertisement.js') }}"></script>#}
{% endblock %}

