{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalTtHomes" class="modal-uae modal-tthomes">
        <section class="modal-uae__main modal-tthomes__main">
            <div class="modal-tthomes__main-bottom-container"></div>
            <div class="modal-tthomes__container">
                <div class="modal-uae__main-content modal-tthomes__main-content">
                    <div class="modal-tthomes__main-items">
                        <div class="modal-tthomes__main-item">
                            <img src="{{ url_for('static', filename='images/modal-tthomes-logo.svg') }}" alt="">
                            <h2>Redesign der Immobilien-Website von TTHomes </h2>
                        </div>
                        <img class="modal-tthomes__main-image"
                             src="{{ url_for('static', filename='images/modal-tthomes-main-image.png') }}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <div class="modal-tthomes__container">
            <section class="modal-tthomes__task">
                <h3 class="modal-tthomes__h3-title">Aufgabe</h3>
                <div class="modal-tthomes__task-items">
                    <div class="modal-tthomes__task-item">
                        <span><img style="width: 45px;"
                                   src="{{ url_for('static', filename='images/modal-tthomes-task-icon1.svg') }}" alt=""></span>
                        <p>Schaffung eines zeitgemäßen Produktdesigns, das die aktuellen Branchentrends
                            berücksichtigt.</p>
                    </div>
                    <div class="modal-tthomes__task-item">
                        <span><img style="width: 57px;"
                                   src="{{ url_for('static', filename='images/modal-tthomes-task-icon2.svg') }}" alt=""></span>
                        <p>Überarbeitung der Benutzerpfade, um sie einfach und benutzerfreundlich zu gestalten.</p>
                    </div>
                    <div class="modal-tthomes__task-item">
                        <span><img style="width: 52.5px;"
                                   src="{{ url_for('static', filename='images/modal-tthomes-task-icon3.svg') }}" alt=""></span>
                        <p>Neue Service-Seiten von Grund auf entwickeln.</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="modal-tthomes__about-the-customer">
            <div class="modal-tthomes__container">
                <div class="modal-tthomes__about-the-customer-inner">
                    <h3 style="color: #232323;" class="modal-tthomes__h3-title">Über den Kunden</h3>
                    <div class="modal-tthomes__about-the-customer-item">
                        <p>TT Homes ist ein Immobilienmakler aus Alanya, Türkei. Auf seine Fahnen schreibt es den
                            individuellen Ansatz und unterstützt den Kunden in allen Phasen des Immobilienerwerbs und
                            der
                            Immobilienverwaltung.
                        </p>
                        <img src="{{ url_for('static', filename='images/modal-tthomes-about-the-customer-image.png') }}"
                             alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-tthomes__search-and-contact">
            <div class="modal-tthomes__container">
                <div class="modal-tthomes__search-and-contact-text">
                    <h3 class="modal-tthomes__h3-title">Suchen & Kontakt</h3>
                    <div>
                        <p>Mit den richtigen gestalterischen Schwerpunkten und der richtigen Reihenfolge der
                            Auswahlkriterien
                            fällt
                            es dem Nutzer leichter, sich auf der Website zurechtzufinden. Die bequemen und
                            unterschiedlichen
                            Kontaktformen führen den Besucher zur Kontaktaufnahme.
                        </p>
                    </div>
                </div>
            </div>
            <div id="modalTtHomesSlider1" dir="rtl" class="modal-tthomes__search-and-contact-slider">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider1-image1.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider1-image2.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider1-image3.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider1-image4.png') }}"
                     alt="">
            </div>
            <div id="modalTtHomesSlider2" class="modal-tthomes__search-and-contact-slider">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider2-image1.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider2-image2.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider2-image3.png') }}"
                     alt="">
                <img src="{{ url_for('static', filename='images/modal-tthomes-search-and-contact-slider2-image4.png') }}"
                     alt="">
            </div>
        </section>
        <div class="modal-tthomes__googlemaps">
            <div class="modal-tthomes__googlemaps-items">
                <img class="modal-tthomes__googlemaps-mobile-image" src="{{ url_for('static', filename='images/modal-tthomes-googlemaps-image1.png') }}" alt="">
                <div>
                    <h3>Bequemes Filtern & GoogleMaps-Funktion</h3>
                    <img src="{{ url_for('static', filename='images/modal-tthomes-googlemaps-image2.png') }}" alt="">
                </div>
            </div>
        </div>
        <section class="modal-product-visa__instrument modal-sapegin__instrument">
            <h4 style="font-family: 'Arial', sans-serif">Instrumente</h4>
            <div class="modal-product-visa__instrument-item">
                <img src="{{ url_for('static', filename='images/logo-figma.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-django-color.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-html.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-python.svg') }}" alt="">
            </div>
        </section>
        <section style="background: white" class="modal-sapegin__management">
            <img class="modal-sapegin__management-image"
                 src="{{ url_for('static', filename='images/modal-tthomes-admin-image.png') }}" alt="">
            <div class="modal-sapegin__management-items">
                <h3>Verwaltungsbereich</h3>
                <p>Ein ganz auf eigenem Code basierter Verwaltungsbereich für maximale Flexibilität und Sicherheit.</p>
            </div>
            <a class="modal-tthomes__admin-link" target="_blank" href="https://tthomes.com.tr/">
                <img src="{{ url_for('static', filename='images/modal-tthomes-link-icon.svg') }}" alt="">
                tthomes.com.tr
            </a>
        </section>
    </div>
{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', filename='scripts/modal-tthomes-case.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal-tthomes-case.js') }}"></script>
{% endblock %}
