{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalQuestionnaireVisaCases" class="modal-questionnaire-visa modal-uae ">
        <section class="modal-questionnaire-visa__main">
            <div class="modal-uae__container">
                <div class="modal-questionnaire-visa__main-content">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_bg-macbook.png') }}"
                         alt="">
                    <div class="modal-questionnaire-visa__main-items">
                        <div class="modal-questionnaire-visa__main-item">
                            <h2>Visum.IO</h2>
                            <p>
                                Image-Site für Web-Tool
                            </p>
                        </div>
                        <span>Ein ambitioniertes Projekt mit dem Ziel die mehrheitlich manuelle Arbeit mit Visumanträgen zu automatisieren.</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__task">
            <div class="modal-questionnaire-visa__task-content">
                <div class="modal-questionnaire-visa__task-item">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_icon-1.svg') }}" alt="">
                    <div>
                        <h4>Aufgabe</h4>
                        <p>Entwicklung einer integrierbaren Web Applikation.</p>
                    </div>
                </div>
                <div class="modal-questionnaire-visa__task-item">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_icon-2.svg') }}" alt="">
                    <div>
                        <h4>Vision</h4>
                        <p>Manuelle Prozesse vollständig zu automatisieren.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__form-select-page">
            <div class="modal-questionnaire-visa__form-select-page-inner">
                <h4>Kundenfreundliches, intuitives Interface</h4>
                <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_form-select.png') }}" alt="">
            </div>
        </section>
        <section class="modal-questionnaire-visa__click-navigation">
            <h4>One-Click-Navigation mit Fortschrittsanzeige</h4>
            <div class="modal-questionnaire-visa__click-navigation-items">
                <div class="modal-questionnaire-visa__click-navigation-item">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_form-select-icon-1.svg') }}"
                         alt="">
                    <span>Reiseinformationen</span>
                </div>
                <div class="modal-questionnaire-visa__click-navigation-item">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_form-select-icon-2.svg') }}"
                         alt="">
                    <span>Reiseinformationen</span>
                </div>
                <div class="modal-questionnaire-visa__click-navigation-item --secondary-color">
                    <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_form-select-icon-3.svg') }}"
                         alt="">
                    <span>Reiseinformationen</span>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__components">
            <div class="modal-questionnaire-visa__components-inner">
                <div class="modal-questionnaire-visa__components-colors">
                    <span style="background: #747474"></span>
                    <span style="background: #B9B9B9"></span>
                    <span style="background: #232323"></span>
                    <span style="background: #53D3D1"></span>
                    <span style="background: #FF9D01"></span>
                    <span style="background: #FF0000"></span>
                </div>
                <div class="modal-questionnaire-visa__components-text">
                    <h4>Farbpalette</h4>
                    <p>Die verschiedenen Statuse der Eingabefelder erforderten eine farbliche Kennzeichnung.</p>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__technical-solution">
            <div class="modal-questionnaire-visa__technical-solution-inner">
                <div class="modal-questionnaire-visa__technical-solution-text">
                    <h4>Technische Lösungen</h4>
                    <p>Um den komplizierten Prozess der Antragsausfüllung endkundensicher zu machen galt es technische
                        Lösungen einzubauen: </p>
                </div>
                <div class="modal-questionnaire-visa__technical-solution-items">
                    <div class="modal-questionnaire-visa__technical-solution-item">
                        <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_admin-icon-1.svg') }}"
                             alt="">
                        <p>Hilfestellungen zu jeden Feld</p>
                    </div>
                    <div class="modal-questionnaire-visa__technical-solution-item">
                        <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_admin-icon-2.svg') }}"
                             alt="">
                        <p>Fortlaufende Speicherung</p>
                    </div>
                    <div class="modal-questionnaire-visa__technical-solution-item">
                        <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_admin-icon-3.svg') }}"
                             alt="">
                        <p>Plausibilitäts- prüfung</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__admin">
            <h4>Admin-Bereich</h4>
            <img src="{{ url_for('static', filename='images/modal-questionnaire-visa_admin.png') }}" alt="">
        </section>
        <section class="modal-product-visa__instrument">
            <h4>Instrumente</h4>
            <div class="modal-product-visa__instrument-item">
                <img src="{{ url_for('static', filename='images/logo-figma.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-python.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-html.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-css.svg') }}" alt="">
            </div>
        </section>
    </div>
{% endblock %}
