{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalSapeginKzevbCases" class="modal-questionnaire-visa modal-uae ">
        <section class="modal-sapegin__main">
            <div class="modal-sapegin__main-left-content">
                <span class="modal-sapegin__main-square"></span>
                <h3 class="modal-sapegin__main-title">Eine bereits bestehende Plattform
                    fur Kurzzeit-bzw. Überführungskennzeichen
                </h3>
                <div class="modal-sapegin__main-items">
                    <div class="modal-sapegin__main-item">
                        <span>Aufgabe</span>
                        <p>UX Optimization, Anbindung an die CRM des Kunden sowie ein LevelUp der Sicherheit des
                            Produkts
                        </p>
                    </div>
                    <div class="modal-sapegin__main-item">
                        <span>Ziel</span>
                        <p>Steigerung der Verkaufszahlen, Kostensenkungen, Kundenloyalität, Datensicherung
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-sapegin__main-right-content">
                <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_bg-macbook.png') }}" alt="">
                <div class="modal-sapegin__main-hashtag">
                    <span>#webshop</span>
                    <span>#automatisierung</span>
                    <span>#adminbereich</span>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__task modal-sapegin__task">
            <div class="modal-sapegin__task-content">
                <div class="modal-sapegin__task-text">
                    <h3>Technische Lösungen</h3>
                    <p>Um den komplizierten Prozess der Antragsausfüllung
                        endkundensicher zu machen galt es technische Lösungen einzubauen: </p>
                </div>
                <div class="modal-sapegin__task-items">
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-1.svg') }}" alt="">
                        <h4>Automatisierter Bestellvorgang</h4>
                    </div>
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-2.svg') }}" alt="">
                        <h4>Adminbereich</h4>
                    </div>
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-3.svg') }}" alt="">
                        <h4>Authentisches Design</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__form-select-page">
            <div class="modal-questionnaire-visa__form-select-page-inner modal-sapegin__design-inner">
                <div class="modal-sapegin__design-text">
                    <h3>Modernisierung</h3>
                    <p>Durch die Automatisierung: wurde der Kundenservice verbessert, die Personalkosten gesenkt und
                        durch eine komplett neue Infrastruktur die Sicherheitslücken geschlossen
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/modal-sapegin-autoplates_ipad-image.png') }}" alt="">
            </div>
        </section>
        <section class="modal-product-visa__instrument modal-sapegin__instrument">
            <h4 style="font-family: 'Arial', sans-serif">Instrumente</h4>
            <div class="modal-product-visa__instrument-item">
                <img src="{{ url_for('static', filename='images/logo-figma.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-python.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-django-color.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-vue-color.svg') }}" alt="">
            </div>
        </section>
        <section class="modal-sapegin__management">
            <img class="modal-sapegin__management-image" src="{{ url_for('static', filename='images/modal-sapegin-kzevb_computer-image.png') }}" alt="">
            <div class="modal-sapegin__management-items">
                <h3>Verwaltung</h3>
                <p>Durch die Anwendung des neuen Verwaltungssystem wurde die Effizienz der Betriebssysteme deutlich
                    gesteigert</p>
            </div>
        </section>
    </div>
{% endblock %}
