{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalUae" class="modal-uae">
        <section class="modal-uae__main">
            <div class="modal-uae__container">
                <img src="{{ url_for('static', filename='images/uae-visa-logo-color.svg') }}" alt="">
                <div class="modal-uae__main-content">
                    <img class="modal-uae__main-mobile-images"
                         src="{{ url_for('static', filename='images/modal-uae_mobile-main-bg.png') }}" alt="">
                    <div class="modal-uae__main-items">
                        <h2 class="modal-uae__main-title">Über das Projekt</h2>
                        <p class="modal-uae__main-text">
                            UAEvisa ist ein ambiotioniertes Projekt, welches die Bestellung von elektronische Visa für
                            die
                            Vereinigten Arabischen Emirate einfach und intuitiv machen möchte.
                        </p>
                        <div class="modal-uae__main-icons">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-1.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-2.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-3.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-4.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal-uae__container">
            <section class="modal-uae__task">
                <div class="modal-uae__task-content">
                    <h4 class="modal-uae__main-title">Aufgabe</h4>
                    <p class="modal-uae__main-text">Unsere Aufgabe war die Entwicklung eines kundenfreundlichen Designs
                        und eines intuitiven Bestellvorgangs.</p>
                </div>
            </section>
            <section class="modal-uae__grid">
                <div class="modal-uae__grid-header">
                    <span>Grid</span>
                    <span>12 columns</span>
                    <span>1920</span>
                </div>
                <div class="modal-uae__grid-content">
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                    <div class="modal-uae__grid-columns">
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                    </div>
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                </div>
            </section>
            <section class="modal-uae__components">
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Farben</h5>
                    <div class="modal-uae__components-colors">
                        <div class="modal-uae__components-color --accent"></div>
                        <div class="modal-uae__components-color --pink"></div>
                        <div class="modal-uae__components-color --turquoise"></div>
                        <div class="modal-uae__components-color --light-turquoise"></div>
                    </div>
                </div>
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Schriftarten</h5>
                    <span class="modal-uae__components-font">Open Sans</span>
                </div>
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Icons</h5>
                    <div class="modal-uae__components-icons">
                        <img src="{{ url_for('static', filename='images/modal-uae_components-icon-1.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-uae_components-icon-2.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-uae_components-icon-3.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-uae_components-icon-4.svg') }}" alt="">
                    </div>
                </div>
            </section>
            <section class="modal-uae__events">
                <img class="modal-uae__events-images"
                     src="{{ url_for('static', filename='images/modal-uae_event-bg.png') }}" alt="">
            </section>
        </div>
        <section class="modal-uae__mobile-design">
            <h3 class="modal-uae__mobile-design-title">Mobiles Design</h3>
            <span class="modal-uae__mobile-design-subtitle">mobiles Erlebnis</span>
            <div class="modal-uae__mobile-design-items">
                <img src="{{ url_for('static', filename='images/modal-uae_mobile-design-1.png') }}" alt="">
                <img src="{{ url_for('static', filename='images/modal-uae_mobile-design-2.png') }}" alt="">
                <img src="{{ url_for('static', filename='images/modal-uae_mobile-design-3.png') }}" alt="">
            </div>
        </section>
        <div class="modal-uae__container">
            <section class="modal-uae__page-questionnaire">
                <h3 class="modal-uae__page-questionnaire-title">Intuitiver <br>
                    Bestellvorgang</h3>
                <img src="{{ url_for('static', filename='images/modal-uae_questionnaire-images.png') }}" alt="">
            </section>
        </div>
    </div>
{% endblock %}
