{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalSapeginAutoplatesCases" class="modal-questionnaire-visa modal-uae ">
        <section class="modal-sapegin-autoplates__main">
            <h2>Autokennzeichen Versand</h2>
            <img src="{{ url_for('static', filename='images/modal-sapegin-autoplates_bg.png') }}" alt="">
        </section>
        <section class="modal-questionnaire-visa__task modal-sapegin__task">
            <div class="modal-sapegin__task-content">
                <div class="modal-sapegin__task-text">
                    <h3>Technische Lösungen</h3>
                    <p>Um den komplizierten Prozess der Antragsausfüllung
                        endkundensicher zu machen galt es technische Lösungen einzubauen: </p>
                </div>
                <div class="modal-sapegin__task-items">
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-1.svg') }}" alt="">
                        <h4>Automatisierter Bestellvorgang</h4>
                    </div>
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-2.svg') }}" alt="">
                        <h4>Adminbereich</h4>
                    </div>
                    <div class="modal-sapegin__task-item">
                        <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_icon-3.svg') }}" alt="">
                        <h4>Authentisches Design</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="modal-questionnaire-visa__form-select-page">
            <div class="modal-questionnaire-visa__form-select-page-inner modal-sapegin__design-inner">
                <div class="modal-sapegin__design-text">
                    <h3>Branchenspezifisches Design </h3>
                    <p>Es galt ein Design-Konzept zu entwickeln, das den Kunden den Übergang von amtlichen Plattformen
                        erleichtert</p>
                </div>
                <img src="{{ url_for('static', filename='images/modal-sapegin-kzevb_ipad-image.png') }}" alt="">
            </div>
        </section>
        <section class="modal-product-visa__instrument modal-sapegin__instrument">
            <h4 style="font-family: 'Arial', sans-serif">Instrumente</h4>
            <div class="modal-product-visa__instrument-item">
                <img src="{{ url_for('static', filename='images/logo-figma.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-python.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-django-color.svg') }}" alt="">
                <img src="{{ url_for('static', filename='images/logo-vue-color.svg') }}" alt="">
            </div>
        </section>
        <section class="modal-sapegin__management">
            <img class="modal-sapegin__management-image" src="{{ url_for('static', filename='images/modal-sapegin-kzevb_computer-image.png') }}" alt="">
            <div class="modal-sapegin__management-items">
                <h3>Verwaltungsbereich</h3>
                <p>Ein ganz auf eigenem Code basierter Verwaltungsbereich für maximale Flexibilität und Sicherheit</p>
            </div>
        </section>
    </div>
{% endblock %}
