{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalProductVisa" class="modal-product-visa modal-uae ">
        <section class="modal-product-visa__main">
            <div class="modal-uae__container">
                <div class="modal-product-visa__main-content">
                    <img src="{{ url_for('static', filename='images/modal-product-visa_bg.png') }}" alt="">
                    <div class="modal-product-visa__main-items">
                        <h2 class="modal-product-visa__main-title">Visum.IO</h2>
                        <p class="modal-product-visa__main-text">
                            Image-Site für Web-Tool
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal-uae__container">
            <section class="modal-product-visa__task">
                <div class="modal-product-visa__task-content">
                    <h4>Aufgabe</h4>
                    <p>Unsere Aufgabe war die Entwicklung eines kundenfreundlichen Designs und eines intuitiven
                        Bestellvorgangs.</p>
                </div>
            </section>
            <section class="modal-uae__grid">
                <div class="modal-uae__grid-header modal-product-visa__grid-header">
                    <span>Grid</span>
                    <span>12 columns</span>
                    <span>1440</span>
                </div>
                <div class="modal-product-visa__grid-content modal-uae__grid-content">
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                    <div class="modal-uae__grid-columns">
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                        <span class="modal-uae__grid-column modal-product-visa__grid-column"></span>
                    </div>
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                </div>
            </section>
            <section class="modal-product-visa__components">
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title modal-product-visa__components-title">Farben</h5>
                    <div class="modal-uae__components-colors">
                        <div style="background: #E9F2FB; border: 1px solid #5A5A5A"
                             class="modal-uae__components-color"></div>
                        <div style="background: #0B315E" class="modal-uae__components-color"></div>
                        <div style="background: #FF9D01" class="modal-uae__components-color"></div>
                    </div>
                </div>
                <div class="modal-uae__components-item modal-product-visa__components-item">
                    <h5 class="modal-uae__components-title modal-product-visa__components-title">Schriftarten</h5>
                    <span class="modal-uae__components-font modal-product-visa__components-font">Roboto, Jura</span>
                </div>
            </section>
        </div>
        <section class="modal-product-visa__design">
            <div class="modal-product-visa__design-item">
                <h4>
                    Durchdachtes Design
                </h4>
                <ul>
                    <li>Bequeme Navigation auf der Website</li>
                    <li>Einfacher Zugang zu Inhalten</li>
                </ul>
            </div>
            <img src="{{ url_for('static', filename='images/modal-product-visa_demo-page.png') }}" alt="">
        </section>
        <div class="modal-uae__container">
            <section class="modal-product-visa__events">
                <img src="{{ url_for('static', filename='images/modal-product-visa_footer-page.png') }}" alt="">
            </section>
        </div>
        <div class="modal-product-visa__footer-block">
            <section class="modal-product-visa__instrument">
                <h4>Instrumente</h4>
                <div class="modal-product-visa__instrument-item">
                    <img src="{{ url_for('static', filename='images/logo-figma.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/logo-python.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/logo-html.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/logo-css.svg') }}" alt="">
                </div>
            </section>
            <div class="modal-uae__container">
                <section class="modal-product-visa__adaptive-design">
                    <h3>Adoptive Funktionalität für mobile Geräte</h3>
                    <div class="modal-product-visa__adaptive-design-item">
                        <img src="{{ url_for('static', filename='images/modal-product-visa_adaptive-design-one.png') }}"
                             alt="">
                        <img src="{{ url_for('static', filename='images/modal-product-visa_adaptive-design-two.png') }}"
                             alt="">
                        <img src="{{ url_for('static', filename='images/modal-product-visa_adaptive-design-three.png') }}"
                             alt="">
                        <img src="{{ url_for('static', filename='images/modal-product-visa_adaptive-design-four.png') }}"
                             alt="">
                        <img src="{{ url_for('static', filename='images/modal-product-visa_adaptive-design-five.png') }}"
                             alt="">
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
