{% extends 'layouts/base.html' %}

{% block title %}
    <title>Modal</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/modal-cases.css') }}">
{% endblock %}

{% block body %}
    <div id="modalShop" class="modal-shop modal-uae">
        <section class="modal-shop__main modal-uae__main">
            <div class="modal-uae__container">
                <div class="modal-uae__main-content modal-shop__main-content">
                    <div class="modal-uae__main-items modal-shop__main-items">
                        <img src="{{ url_for('static', filename='images/modal-shop_logo.svg') }}" alt="">
                        <h2 class="modal-uae__main-title">Über das Projekt</h2>
                        <p class="modal-uae__main-text">
                            L’Enigme ist ein Webshop für luxuriöse Seidenpyjamas.
                        </p>
                        <div class="modal-uae__main-icons modal-shop__main-icons">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-1.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-2.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-3.svg') }}" alt="">
                            <img src="{{ url_for('static', filename='images/modal-uae_main-icon-4.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal-uae__container">
            <section class="modal-uae__task">
                <div class="modal-uae__task-content">
                    <h4 class="modal-uae__main-title">Aufgabe</h4>
                    <p class="modal-uae__main-text">
                        Unsere Aufgabe war die Entwicklung eines kundenfreundlichen Designs und eines intuitiven
                        Bestellvorgangs.
                    </p>
                </div>
            </section>
            <section class="modal-uae__grid">
                <div class="modal-uae__grid-header">
                    <span>Grid</span>
                    <span>12 columns</span>
                    <span>1920</span>
                </div>
                <div class="modal-uae__grid-content">
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                    <div class="modal-uae__grid-columns">
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                        <span class="modal-uae__grid-column"></span>
                    </div>
                    <span class="modal-uae__grid-text">Margin <br> 240px</span>
                </div>
            </section>
            <section class="modal-uae__components">
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Farben</h5>
                    <div class="modal-uae__components-colors">
                        <div style="background: #231F20; border: 1px solid white"
                             class="modal-uae__components-color"></div>
                        <div style="background: #ffffff" class="modal-uae__components-color"></div>
                    </div>
                </div>
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Schriftarten</h5>
                    <span class="modal-uae__components-font">Cardo, Montserrat</span>
                </div>
                <div class="modal-uae__components-item">
                    <h5 class="modal-uae__components-title">Icons</h5>
                    <div class="modal-uae__components-icons">
                        <img src="{{ url_for('static', filename='images/modal-shop_components-icon-1.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-shop_components-icon-2.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-shop_components-icon-3.svg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/modal-shop_components-icon-4.svg') }}" alt="">
                    </div>
                </div>
            </section>
            <section class="modal-uae__events">
                <img class="modal-uae__events-images modal-shop__page-images"
                     src="{{ url_for('static', filename='images/modal-shop_main-page.png') }}" alt="">
            </section>
        </div>
        <section class="modal-shop__slider-section modal-uae__mobile-design">
            <div class="modal-uae__container">
                <h3 class="modal-shop__slider-section-title modal-uae__mobile-design-title">Startpage-Slider</h3>
                <img class="modal-shop__slider-section-images"
                     src="{{ url_for('static', filename='images/modal-shop_slider-images.png') }}" alt="">
            </div>
        </section>
        <div class="modal-uae__container">
            <section class="modal-shop__admin modal-uae__page-questionnaire">
                <h3 class="modal-shop__admin-title modal-uae__page-questionnaire-title">Admin Bereich</h3>
                <img src="{{ url_for('static', filename='images/modal-shop_admin-images.png') }}" alt="">
            </section>
        </div>
    </div>
{% endblock %}
