{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Leistungen</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/services_page.css') }}">
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section style="max-width: 100%" class="service-card">
                <h4 class="service-card__subtitle">SO ARBEITEN WIR</h4>
                <h1 style="max-width: 100%" class="service-card__title about-us-page__title">Wir wissen, was Sie
                    brauchen!</h1>
            </section>
            <section class="digital-service services_digital-service">
                <div class="digital-service__items">
                    <div class="digital-service__item services_digital-service__item-one">
                        <img src="{{ url_for('static', filename='images/services_page-icon-1.svg') }}" alt="">
                        <h3 class="digital-service__item-title">UI/UX DESIGN</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>Landing Pages</span>
                            <span>Webshops</span>
                            <span>Mobile Applications</span>
                            <span>Design System</span>
                            <span>Dashboard Design</span>
                            <span>Product Design</span>
                        </div>
                    </div>
                    <div class="digital-service__item services_digital-service__item-two">
                        <img src="{{ url_for('static', filename='images/services_page-icon-2.svg') }}" alt="">
                        <h3 class="digital-service__item-title">DEVELOPMENT</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>Backend Development</span>
                            <span>Frontend Development</span>
                            <span>Custom Web App Development</span>
                            <span>Cloud Architecture</span>
                            <span>Python Development</span>
                        </div>
                    </div>
                    <div class="digital-service__item services_digital-service__item-three">
                        <img src="{{ url_for('static', filename='images/services_page-icon-3.svg') }}" alt="">
                        <h3 class="digital-service__item-title">SUPPORT</h3>
                        <div class="digital-service__item-line"></div>
                        <div class="digital-service__item-text">
                            <span>DevOps Practicies</span>
                            <span>24/7 Support</span>
                            <span>Infrastructure Deploy & Support</span>
                            <span>UX Analytics</span>
                            <span>Continuous  Application Monitoring</span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="secondServicesAnimateSection" class="second-services-page__animate-section">
                <span id="activeBlock1" style="background: #53d3d1; transition: 30s ease-in-out">Kundenziele</span>
                <div id="activeLine1"></div>
                <span id="activeBlock2"
                      style="background: #9334B8; transition: 0.7s ease-in-out">Design-Strategie</span>
                <div id="activeLine2"></div>
                <span id="activeBlock3" style="background: #31436F; transition: 1s ease-in-out">Content-Strategie</span>
                <div id="activeLine3"></div>
                <span id="activeBlock4" style="background: #000000; transition: 1.4s ease-in-out">Entwicklung</span>
            </section>
            <section class="service-card_our-approach">
                <div class="service-card_our-approach__content about-us-page_who-are-you__content">
                    <h2 class="second-services-page__title">Ziele und Aufgaben des Kunden</h2>
                    <div style="background: linear-gradient(45deg, rgba(83, 211, 209, 0.06), rgba(83, 211, 209, 0.03)); border: 1px solid rgba(83, 211, 209, 0.3)"
                         class="service-card_our-approach__one-block second-services-page__item">
                        <h3>
                            Warum braucht ein Unternehmen eine digitale Strategie?
                        </h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">
                            Unternehmen unterscheiden sich heute nicht mehr durch ihr Produkt oder ihren Preis, sondern
                            durch die Qualität des Erlebnisses,
                            das sie bieten. Und das Kundenerlebnis wird zunehmend digitalisiert.
                            <br><br>
                            Wenn es Ihnen gelingt, anspruchsvolle Kunden mit einer einfachen Website zu beeindrucken,
                            werden Sie Gunst, Engagement
                            und
                            Marktanteile gewinnen. Aber die Frage ist, was wollen Ihre Kunden wirklich? Mehr als 5 Jahre
                            Erfahrung haben uns eines gezeigt:
                            Für
                            eine hochwertige digitale Erfahrung braucht man eine Strategie.
                            <br><br>
                            Ihre Website, das ist Ihre Erfahrung, das ist Ihr Gesicht und Ihre Dienstleistungen. Und wie
                            sollten sie im Online-Bereich aussehen?
                            Überlassen Sie diese Entscheidung den Profis!
                            <br><br>
                            Wir haben zahlreichen Kunden geholfen, umsetzbare digitale Strategien zu entwickeln, die
                            ihnen nicht nur bei der Einführung
                            neuer Websites geholfen haben, sondern auch bei der Entwicklung von Anwendungen und
                            Fähigkeiten, die ihnen helfen, auf
                            deutschen Märkten zu konkurrieren und zu gewinnen.
                        </p>
                    </div>
                    <h2 class="second-services-page__title">Design-Strategie</h2>
                    <div style="background: linear-gradient(45deg, rgba(147, 52, 184, 0.1), rgba(147, 52, 184, 0.07)); border: 1px solid rgba(147, 52, 184, 0.25)"
                         class="service-card_our-approach__one-block second-services-page__item">
                        <h3>
                            Das Design muss mit den digitalen Trends Schritt halten
                        </h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">
                            Einst war die digitale Designrevolution ein nuklearkriegsähnliches Ereignis, heute ist sie
                            ein fortlaufender Prozess, der sich ständig
                            bewegt und verändert.
                            <br><br>
                            Ständige Innovation ist die einzige Möglichkeit, die Konkurrenz zu überlisten und dem Wandel
                            voraus zu sein. <br>
                            Die Herausforderung: Ein digitales Unternehmen zu schaffen ist schwierig, das Design
                            verständlich und intuitiv zu gestalten ist noch
                            schwieriger. Uneinheitliche Teams, Talentmangel, Probleme mit der Datenqualität und
                            veraltete Designtechnologien behindern die
                            Transformation und Umgestaltung Ihres Unternehmens. <br>
                            Und während Sie sich mit diesen Problemen herumschlagen, werden Sie von den Prozessen
                            abgelenkt, die Ihrem Unternehmen
                            Einnahmen verschaffen.
                            <br><br>
                            Wenn Sie sich auf dem Weg zur digitalen Transformation befinden, kann Visum.IO Ihnen als
                            Wegweiser und <br>
                            als frisches Paar Augen dienen. Mit intellektueller Stärke, großer Neugier und einer
                            einzigartigen Perspektive auf neue Technologien
                            sind wir hier, um einen Fahrplan für Ihre digitale Zukunft zu erstellen und ein modernes und
                            intuitives Design zu schaffen, das sowohl
                            Sie als auch Ihre Kunden verstehen können.
                        </p>
                    </div>
                    <h2 class="second-services-page__title">Content-Strategie</h2>
                    <div style="background: linear-gradient(45deg, rgba(10, 83, 154, 0.15), rgba(10, 83, 154, 0.11)); border: 1px solid rgba(10, 83, 154, 0.25)"
                         class="service-card_our-approach__one-block second-services-page__item">
                        <h3>
                            Wie eine intelligente Inhaltsstrategie den Ton angibt:
                        </h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">
                            Eine Content-Strategie kann auf Ihre Website oder Ihr Content-Marketing zugeschnitten sein
                            und ist Ihre primäre Strategie,
                            um die
                            Nachfrage Ihres Publikums zu befriedigen, was wiederum zu mehr Leads und Verkäufen führt.
                            <br><br>
                            Warum sollte man eine maßgeschneiderte Inhaltsstrategie für eine Website entwickeln? Wenn
                            die Welt bereits mit allen Arten
                            von
                            Inhalten gesättigt ist.
                            <br><br>
                            In einer Welt, in der jeden Tag Millionen von Blogbeiträgen veröffentlicht werden, ist es
                            besser, eine Strategie zu haben, um gehört zu
                            werden. Der strategische Ansatz von Visum.IO ist geprägt von Teamarbeit und
                            Ergebnisorientierung. Wir arbeiten Hand in Hand mit
                            SEO, UX und Design, um jeden Aspekt der Erstellung und Förderung wirklich herausragender
                            Inhalte zu durchdenken. Und als
                            Experten für die Erstellung von Inhalten nutzen wir unsere langjährige Erfahrung, um
                            wirklich erstklassige Inhalte für Ihre Website und
                            Ihr Unternehmen zu erstellen.
                            <br><br>
                            Wir sagen Ihnen nicht nur, womit Sie Ihre Website füllen sollen, wie Sie Blöcke am besten
                            aufteilen oder <br>
                            einen visuellen Stil entwickeln, wir helfen Ihnen, Ihre Website an die Spitze der
                            Verkaufsleiter zu bringen.
                        </p>
                    </div>
                    <h2 class="second-services-page__title">Entwicklung</h2>
                    <div style="background: linear-gradient(45deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)); border: 1px solid rgba(255, 255, 255, 0.1)"
                         class="service-card_our-approach__one-block second-services-page__item">
                        <h3>
                            Entwicklung der Website ist nicht das Ende, sondern der Anfang
                        </h3>
                        <p class="service-card_our-approach__text about-us-page_who-are-you__text">
                            Sobald sie genehmigt sind und alle Strategien ausgearbeitet wurden beginnen unsere
                            erfahrenen Entwickler mit der Erstellung Ihrer
                            Website.
                            <br><br>
                            Während der gesamten Entwicklung arbeiten wir aktiv Hand in Hand mit dem Kunden und
                            genehmigen jeden abgeschlossenen
                            Schritt, wir geben das Produkt nicht ab, bevor alle Änderungen und Entwicklungen genehmigt
                            sind.
                            <br><br>
                            Dank unserer Erfahrung kombiniert unser Team
                            geschickt Zeit und Qualität der Arbeit, wir nicht verlängern den Prozess und schneiden Sie
                            mehr in den Prozess der Entwicklung alle unnötigen Elemente, um am Ende mit einem
                            zuverlässigen Produkt,
                            am besten die Anforderungen Ihres
                            Unternehmens.
                        </p>
                    </div>
                </div>
            </section>
            <a id="discussYorProjectLink" href="javascript: void(0)"
               class="discuss-your-project about-us-page_discuss-your-project">
                <div class="discuss-your-project__inner">
                    <h3 class="discuss-your-project__title">Ihr Projekt jetzt besprechen</h3>
                    <img src="{{ url_for('static', filename='images/discuss-project-arrow.svg') }}" alt="">
                </div>
            </a>
        </div>
        {% include 'components/footer.html' %}
    </div>
    {% include 'components/contact-form.html' %}
{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/modal.js') }}"></script>
{% endblock %}

