{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Tech-Support</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h4 class="service-card__subtitle">TECH-SUPPORT</h4>
                <h1 class="service-card__title">Wir geben Ihrer Ressource Stabilität
                    und Sicherheit</h1>
                <button id="btnContactForm" class="service-card__btn button">Projekt besprechen</button>
            </section>
            <section class="service-card_advantages">
                <div class="service-card_advantages__left-content">
                    <p class="--tech-support-icon"></p>
                    <h2 class="service-card_advantages__title">
                        Das machen wir besser als andere
                    </h2>
                </div>
                <div class="service-card_advantages__right-content">
                    <div class="service-card_advantages__item --green-background-after">
                        <span>1.</span>
                        <p>Wir tauchen wirklich tief in die Geschäftsziele
                            des Kunden ein.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>2.</span>
                        <p>Wir praktizieren die Suffizienz - alles Überflüssige wird weggelassen. Nur leicht
                            verständliche und effektive Elemente bleiben.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>3.</span>
                        <p>Wir bleiben unmittelbar erreichbar und reagieren umgehend auf alle auftretenden
                            Kundenanfragen.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>4.</span>
                        <p>Wir arbeiten im Tandem - unsere Spezialisten werden Teil Ihres Teams.</p>
                    </div>
                </div>
            </section>
        </div>
        {% include 'components/service-sections.html' %}
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', filename='scripts/service_page.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/dist/service_page.js') }}"></script>
{% endblock %}
