{% extends 'layouts/base.html' %}

{% block title %}
    <title>Visum.io - Webshop Design</title>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/service-card_page.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/service-card_page.css') }}">#}
{% endblock %}

{% block body %}
    <div id="backgroundBlur">
        {% include 'components/header.html' %}
        <div class="--service-card_container">
            <section class="service-card">
                <h4 class="service-card__subtitle">WEBSHOP DESIGN</h4>
                <h1 class="service-card__title">
                    Wir designen Webshops für planbaren Erfolg
                </h1>
                <button id="btnContactForm" class="service-card__btn button">Projekt besprechen</button>
            </section>
            <section class="service-card_advantages">
                <div class="service-card_advantages__left-content">
                    <img src="{{ url_for('static', filename='images/webshop-icon.svg') }}" alt="">
                    <h2 class="service-card_advantages__title">
                        Das machen wir besser als andere
                    </h2>
                </div>
                <div class="service-card_advantages__right-content">
                    <div class="service-card_advantages__item --green-background-after">
                        <span>1.</span>
                        <p>Wir planen Nutzerszenarien und entwerfen den kürzesten und bequemsten Weg zum Kauf.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>2.</span>
                        <p>Wir helfen bei der Auswahl der Funktionen,
                            die die Loyalität bestehender Kunden erhöhen und neue Kunden anziehen.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>3.</span>
                        <p>Wir wählen ein geeignetes CMS und Framework für eine nahtlose, evolutionäre Entwicklung Ihrer
                            Ressource.</p>
                    </div>
                    <div class="service-card_advantages__item --green-background-after">
                        <span>4.</span>
                        <p>Wir zeigen Ihnen, wie Sie Ihren Online-Shop technisch am besten umsetzen können.</p>
                    </div>
                </div>
            </section>
        </div>
        {% include 'components/service-sections.html' %}
    </div>
    {% include 'components/footer.html' %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/dist/service_page.js') }}"></script>
{#    <script src="{{ url_for('static', filename='scripts/service_page.js') }}"></script>#}
{% endblock %}

