<template>
  <div>
    <div v-if="isPopup" @click="togglePopup" class="mask"></div>
    <transition name="popup">
      <div v-if="isPopup" class="popup create-task">
        <button @click="togglePopup" class="popup__close-btn"></button>
        <h2 v-if="isPopupEdit">Aufgabe bearbeiten</h2>
        <h2 v-else>Neue Aufgabe</h2>
        <div class="create-task__content">
          <div class="create-task__left-content">
            <div class="create-customer__block_50_50">
              <div v-if="$route.name !== 'customer_page'" style="position: relative">
                <base-field-input label="Kunden suchen">
                  <input :disabled="$route.name === 'customer_page'"
                         :class="{'disabled-input': $route.name === 'customer_page'}"
                         v-model="searchCustomersField"
                         @input="searchCustomersInPopup" placeholder="Kunden suchen"
                         type="text">
                </base-field-input>
                <transition name="opacity">
                  <div v-if="customersForDropdown.length" style="margin-left: 0;" class="popup__search-dropdown">
                    <a @click.prevent="editIdNumberCustomer(customer.name, customer.surname, customer.id)"
                       :key="'dropdown' + customer.id" v-for="customer in customersForDropdown"
                       href="#">{{ customer.surname }} {{ customer.name }}</a>
                  </div>
                </transition>
              </div>
              <div v-if="$route.name !== 'customer_page'">
                <base-field-input label="Kundennummer">
                  <input @change="getCountersInCustomer" disabled class="disabled-input"
                         placeholder="Kundennummer" type="text"
                         v-model="newTask.customer_id">
                  <div v-if="($v.newTask.customer_id.$dirty && !$v.newTask.customer_id.required)"
                       class="popup-customer__error">
                    Dieses Feld ist obligatorisch
                  </div>
                </base-field-input>
              </div>
            </div>
            <div class="create-task__full-name" v-if="$route.name === 'customer_page'">
              <span>Kunde</span>
              <p>{{ fullName }}</p>
            </div>
            <div>
              <base-field-input label="Zählernummer"
                                :src_img="require(`@/assets/images/task-counter_icon.svg`)">
                <v-select
                  placeholder="Zählernummer"
                  class="vSelect"
                  v-model="newTask.counter_number"
                  :options="countersInCustomerComputed"
                ></v-select>
                <div v-if="($v.newTask.counter_number.$dirty && !$v.newTask.counter_number.required)"
                     class="popup-customer__error">
                  Dieses Feld ist obligatorisch
                </div>
              </base-field-input>
            </div>
            <div>
              <base-field-input label="Aufgabe"
                                :src_img="require(`@/assets/images/popup-type_icon.svg`)">
                <input
                  style="padding-left: 64px;" type="text"
                  v-model="newTask.type_of_task"
                  placeholder="Aufgabe"
                  v-if="toggleTypeOfTask"
                >
                <v-select
                  placeholder="Aufgabe"
                  class="vSelect"
                  v-model="newTask.type_of_task"
                  :options="optionsDocuments"
                  v-else
                >
                </v-select>
                <template v-slot:checkbox>
                  <div
                    style="display: flex; align-items: center; transform: translateY(-4px); font-style: italic; color: rgba(153, 153, 153, 1)">
                    <span style="margin-right: 8px; font-size: 14px;">Eigene Aufgabe verfassen</span>
                    <div class="checkbox">
                      <input v-model="toggleTypeOfTask" id="toggleTypeOfTask" type="checkbox">
                      <label @click="newTask.type_of_task = ''" style="margin: 0;" for="toggleTypeOfTask"></label>
                    </div>
                  </div>
                </template>
                <div v-if="($v.newTask.type_of_task.$dirty && !$v.newTask.type_of_task.required)"
                     class="popup-customer__error">
                  Dieses Feld ist obligatorisch
                </div>
              </base-field-input>
            </div>
            <div class="create-customer__block_50_50">
              <div>
                <base-field-input label="Ausführender Mitarbeiter"
                                  :src_img="require('@/assets/images/popup-assign_icon.svg')">
                  <v-select
                    placeholder="Ausführender Mitarbeiter"
                    class="vSelect"
                    v-model="newTask.user_id"
                    :options="userOptions"
                    label="label"
                    index="index"
                    :reduce="option => option.index"
                  ></v-select>
                  <div v-if="($v.newTask.user_id.$dirty && !$v.newTask.user_id.required)"
                       class="popup-customer__error">
                    Dieses Feld ist obligatorisch
                  </div>
                </base-field-input>
              </div>
              <div>
                <base-field-input label="Deadline"
                                  :src_img="require('@/assets/images/popup-deadline_icon.svg')">
                  <datepicker
                    class="show-icon-datepicker"
                    v-model="newTask.deadline"
                    format="DD.MM.YYYY"
                    title-format="DD.MM.YYYY"
                    placeholder="Date (DD.MM.YYYY)"
                  ></datepicker>
                  <div v-if="($v.newTask.deadline.$dirty && !$v.newTask.deadline.required)"
                       class="popup-customer__error">
                    Dieses Feld ist obligatorisch
                  </div>
                </base-field-input>
              </div>
            </div>
            <div>
              <base-field-input label="KOMMENTAR">
                <textarea v-model="newTask.comment"></textarea>
              </base-field-input>
            </div>
            <div v-if="isPopupEdit" class="create-customer__block_50_50">
              <div></div>
              <div>
                <base-field-input style="margin: 0;" label="">
                  <v-select
                    class="vSelect"
                    v-model="newTask.status"
                    :options="statusOptions"
                    label="label"
                    index="index"
                    :reduce="option => option.index"
                    :class="{'active-select': newTask.status === 'Completed' || newTask.status === 'Completed$ok', 'closed-select': newTask.status === 'Cancelled', 'opened-select': newTask.status === 'Opened'}"
                  ></v-select>
                </base-field-input>
              </div>
            </div>
          </div>
          <div class="create-task__right-content">
            <div>
              <div class="create-task__messages-block">
                <div class="create-task__messages-block-legend">
                  <span class="legend">Telegram bot</span>
                  <div v-if="isPopupEdit && newTask.type_of_task === 'ZAEHLERDATEN'"
                       style="display: flex; align-items: center;">
                    <span style="margin-right: 8px; font-size: 14px; font-style: italic; color: rgba(153, 153, 153, 1)">Daten eingeben</span>
                    <div class="checkbox">
                      <input v-model="newTask.feedback" id="newTask.feedback" type="checkbox">
                      <label style="margin: 0;" for="newTask.feedback"></label>
                    </div>
                  </div>
                </div>
                <telegram-chat
                  :task="true"
                  :is-feedback-customer="newTask.feedback"
                  ref="chat"
                />
              </div>
              <div v-if="newTask.feedback">
                <div v-if="newTask.type_of_task === 'ZAEHLERDATEN'" id="payerReading">
                  <div style="margin-top: 20px;" class="create-customer__block_50_50">
                    <div>
                      <base-field-input label="ENDZÄHLERSTAND HT">
                        <input
                          type="text"
                          placeholder="Endzahlerstand HT"
                          v-model="payerReading.end_count"
                        >
                      </base-field-input>
                    </div>
                    <div v-if="typeCounter">
                      <base-field-input label="ENDZÄHLERSTAND NT">
                        <input
                          type="text"
                          placeholder="Endzahlerstand NT"
                          v-model="payerReading.end_count_night"
                        >
                      </base-field-input>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div style="margin-top: 48px;">
              <div v-if="newTask.type_of_task && newTask.type_of_task !== '' && newTask.task_id"
                   class="create-task__document">
                <a v-if="newTask.path_to_doc && newTask.path_to_doc !== ''" target="_blank"
                   :href="url + newTask.path_to_doc">
                  Dokument öffnen
                </a>
                <button
                  :class="{'create-task__document-btn-disabled' : newTask.path_to_doc && newTask.path_to_doc !== ''}"
                  :disabled="newTask.path_to_doc && newTask.path_to_doc !== ''" @click.prevent="generateDocument">
                  Dokument generieren
                </button>
              </div>
              <div style="margin-top: 12px;" class="popup__group-btn">
                <a @click.prevent="togglePopup" href="#">Abbrechen</a>
                <button @click="sendOperator"
                        :disabled="newTask.send_operator || (!newTask.path_to_doc || newTask.path_to_doc === '')"
                        :class="
                        ['border-button create-task__btn-send',
                        {'create-task__document-btn-disabled': newTask.send_operator || (!newTask.path_to_doc || newTask.path_to_doc === ''),
                        'create-task__btn-send-loader': successSendOperator,
                        'create-task__btn-send-error': successSendOperator === false}]">
                  Versenden
                </button>
                <button v-if="isPopupEdit" @click.prevent="editTask" class="blue-button">
                  Speichern
                </button>
                <button v-else @click.prevent="createTask" class="blue-button">
                  Speichern
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import fieldErrorRequired from "@/components/fieldErrorRequired.vue";
import BaseFieldInput from "@/components/fields/BaseFieldInput.vue";
import Datepicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css';
import taskValidations from '@/mixins/tasks/validations'
import 'vue-select/dist/vue-select.css';
import vSelect from 'vue-select'
import getUser from "@/mixins/users/getUser";
import moment from 'moment'
import TelegramChat from "@/components/elements/TelegramChat.vue";

import Vue from 'vue'

/**
 * @typedef {Object} newTask
 * @property {string} user_id - ID исполнителя.
 * @property {string} customer_id - ID клиента.
 * @property {string} type_of_task - Тип задачи.
 * @property {string} deadline - Дедлайн для задачи.
 * @property {string} counter_number - Номер счетчика.
 * @property {string} status - Статус задачи.
 * @property {string} comment - Комментарий к задаче.
 */

/**
 * @typedef {Object} customer
 * @property {string} name - Имя клиента.
 * @property {string} surname - Фамилия клиента.
 * @property {string} id - ID клиента.
 */

/**
 * @typedef {Object} user
 * @property {string} id - ID пользователя.
 * @property {string} first_name - Имя пользователя.
 * @property {string} last_name - Фамилия пользователя.
 */

export default {
  name: "createTask",
  components: {
    TelegramChat,
    vSelect,
    BaseFieldInput,
    fieldErrorRequired,
    Datepicker
  },
  mixins: [
    taskValidations,
    getUser
  ],
  props: {
    fullName: null
  },
  data() {
    return {
      successSendOperator: null,
      url: window.location.origin,
      payerReading: {
        end_count: null,
        end_count_night: null
      },
      countersInCustomer: [],
      type_of_tasks: [],
      customersForDropdown: [],
      statusOptions: [
        {
          label: 'Geöffnet',
          index: 'Opened'
        },
        {
          label: 'Abgeschlossen',
          index: 'Completed'
        },
        {
          label: 'Vervollständigen + Erstellen',
          index: 'Completed$ok'
        }
      ],
      users: [],
      searchCustomersField: '',
      newTask: {
        user_id: '',
        customer_id: '',
        type_of_task: '',
        deadline: '',
        counter_number: '',
        status: 'Opened',
        comment: '',
        feedback: false,
        tasks_info: null,
        archive: false,
        send_operator: false,
        path_to_doc: null
      },
      isPopup: false,
      isPopupEdit: false,
      toggleTypeOfTask: false,
      optionsDocuments: [
        'ABSCHLAGSPLAN AENDERUNG',
        'AENDERUNG BANKVERBINDUNG',
        'AENDERUNG DER ABWEICHENDEN POSTADRESSE',
        'AENDERUNG DER POSTADRESSE BEIM UMZUG DES VP',
        'BRIEFKOPF AENDERUNG',
        'FIRMENDATEN AENDERUNG',
        'KUENDIGUNG',
        'KURZBRIEF',
        'SONDERKUENDIGUNG AUFGRUND VON AGB AENDERUNG',
        'SONDERKUENDIGUNG PREISANPASSUNG',
        'UMZUG KUNDE',
        'UNTERLAGEN ANFORDERUNG',
        'Vorlage Kuendigungwegen Auszug',
        'WIDERRUF DER KUENDIGUNG',
        'WIDERRUF DES ENERGIEVERTRAGES',
        'ZAEHLERDATEN'
      ],
    }
  },
  computed: {
    typeCounter() {
      return this.newTask.counter_number.includes('Tag/Nacht');
    },
    countersInCustomerComputed: {
      get() {
        let array = []
        if (this.countersInCustomer.length === 1) {
          this.newTask.counter_number = `${this.countersInCustomer[0].counters_type} ${this.countersInCustomer[0].counters_number}`
          return [`${this.countersInCustomer[0].counters_type} ${this.countersInCustomer[0].counters_number}`]
        }
        for (const counter in this.countersInCustomer) {
          array.push(`${this.countersInCustomer[counter].counters_type} ${this.countersInCustomer[counter].counters_number}`)
        }
        return array
      },
      set(value) {
        this.countersInCustomer = value
      }
    },
    userOptions() {
      const array = []
      if (this.users.length === 1) {
        this.newTask.user_id = `${this.users[0].first_name} ${this.users[0].last_name}`
        return [{
          index: this.users[0].id,
          label: `${this.users[0].first_name} ${this.users[0].last_name}`
        }]
      }
      for (const user in this.users) {
        const object = {}
        object.index = this.users[user].id
        object.label = `${this.users[user].first_name} ${this.users[user].last_name}`
        array.push(object)
      }
      return array
    },
    newTaskWatcher() {
      const {type_of_task, counter_number, deadline} = this.newTask;
      return `${type_of_task}-${counter_number}-${deadline}`;
    }
  },
  methods: {
    /**
     * Переключает видимость всплывающего окна.
     */
    async togglePopup() {
      this.$v.newTask.$reset()
      this.isPopup = !this.isPopup
      if (this.isPopup) {
        if (this.newTask.customer_id) {
          await this.getCountersInCustomer(this.newTask.customer_id)
          setTimeout(() => {
            this.$refs.chat.getMessages(this.newTask.customer_id)
          }, 300)
        }
      } else {
        this.isPopupEdit = false
        this.resetForm()
      }
    },
    /**
     * Поиск клиентов во всплывающем окне.
     */
    async searchCustomersInPopup() {
      if (this.searchCustomersField.length) {
        let response = await this.$services.searchCustomersInPopup.callMethod({
          search: this.searchCustomersField,
          page: 1
        })
        this.customersForDropdown = await response.json()
      } else {
        this.customersForDropdown = []
        this.newTask.customer_id = null
        this.$refs.chat.messages = null
      }
    },
    /**
     * Изменяет ID клиента.
     * @param {string} name - Имя клиента.
     * @param {string} surname - Фамилия клиента.
     * @param {string} id - ID клиента.
     */
    editIdNumberCustomer(name, surname, id) {
      this.searchCustomersField = `${surname} ${name}`
      this.newTask.customer_id = id
      this.customersForDropdown = []
      this.newTask.counter_number = ''
      this.getCountersInCustomer(id)
      console.log(this.$refs)
      this.$refs.chat.getMessages(id)
    },
    /**
     * Получает данные счетчиков для клиента.
     * @param {string} id - ID клиента.
     */
    async getCountersInCustomer(id) {
      let response = await this.$services.getCountersInCustomer.callMethod({customer_id: id, page: 1})
      this.countersInCustomer = await response.json()
    },
    async createTask() {
      await this.initEventTask('createTask')
    },
    async editTask() {
      await this.initEventTask('editTask')
    },
    /**
     * Инициализирует событие для задачи.
     * @param {string} event - Тип события ('createTask' или 'editTask').
     */

    async initEventTask(event) {
      let isRepeat = false
      if (this.$v.newTask.$invalid) {
        this.$v.$touch();
        return;
      }

      try {
        this.newTask.deadline = moment(this.newTask.deadline).format('DD.MM.YYYY');

        if (this.newTask.status.includes('$ok') && !this.newTask.archive && this.newTask.type_of_task === 'ZAEHLERDATEN') {
          this.newTask.status = 'Completed'
          this.newTask.archive = true
          const newTask = {...this.newTask}
          newTask.deadline = moment(newTask.deadline, 'DD.MM.YYYY')
          newTask.deadline.add(1, 'years')
          newTask.deadline = moment(newTask.deadline).format('DD.MM.YYYY')
          console.log(newTask.deadline)
          newTask.status = 'Opened'
          newTask.feedback = false
          newTask.archive = false
          newTask.send_operator = false
          newTask.tasks_info = null
          newTask.path_to_doc = null
          delete newTask.task_id

          const response = await this.$services.createTask.callMethod(newTask)
          console.log(await response.json())
        }

        const responseTask = await this.$services[event].callMethod(this.newTask);

        const resultTask = await responseTask.json()

        console.log(resultTask)


        if (this.newTask.type_of_task === 'ZAEHLERDATEN') {
          const taskBotPayload = {
            type_client: this.newTask.customer_id,
            deadline: this.newTask.deadline,
            days_before_deadline: 3,
            message_text: this.newTask.comment,
            task_id: event === 'createTask' ? resultTask.task_id : this.newTask.tasks_info,
          };
          await this.handleTaskBot(taskBotPayload, event);
        }

        await this.handleMeterReading();

        this.resetForm();

        this.handleResultStatus(resultTask);
      } catch (error) {
        console.error(error);
        this.$emit('taskError');
        this.resetForm();
      } finally {
        this.togglePopup();
      }
    },

    handleTaskBot(payload, event) {
      const methodName = event === 'createTask' ? 'createTaskBot' : 'editTaskBot';
      return this.$services[methodName].callMethod(payload);
    },

    handleMeterReading() {
      const arrayCounterNumber = this.newTask.counter_number.split(' ');
      const meterReading = {
        id: this.newTask.customer_id,
        counters_number: arrayCounterNumber.pop(),
        end_count: this.payerReading.end_count,
        end_count_night: this.typeCounter ? this.payerReading.end_count_night : undefined,
      };

      if (this.shouldSubmitMeterReading(meterReading)) {
        return this.$services.changeMeterReading.callMethod(meterReading);
      }
    },

    shouldSubmitMeterReading({end_count, end_count_night}) {
      return end_count && end_count !== '' && (!this.typeCounter || (end_count_night && end_count_night !== ''));
    },

    async generateDocument() {
      const responseMeterReading = await this.handleMeterReading()
      const resultMeterReading = await responseMeterReading.json()
      if (resultMeterReading.status === 'yes') {
        const responseGenerate = await this.$services.documentGeneration.callMethod({
          counter_number: this.newTask.counter_number,
          document: "counter_data",
          customer_id: this.newTask.customer_id
        })
        const resultGenerate = await responseGenerate.json()
        const path = `/doc/${resultGenerate.file_path}`
        Vue.set(this.newTask, 'path_to_doc', path)
        const responseSaveDocument = await this.$services.saveDocPathInTask.callMethod({
          task_id: this.newTask.task_id,
          path_to_doc: path
        })
        console.log(await responseSaveDocument.json())
      }
    },

    resetForm() {
      this.newTask = {
        user_id: '',
        customer_id: '',
        type_of_task: '',
        deadline: '',
        counter_number: '',
        status: 'Opened',
        comment: '',
        feedback: false,
        tasks_info: null,
        archive: false,
        send_operator: false
      };
      delete this.newTask.path_to_doc
      this.payerReading.end_count = '';
      this.payerReading.end_count_night = '';
      this.countersInCustomerComputed = []
      this.customersForDropdown = []
      this.searchCustomersField = ''
    },

    async sendOperator() {
      try {
        this.successSendOperator = true
        const response = await this.$services.sendDocumentOperator.callMethod({
          task_id: this.newTask.task_id,
          send_operator: true,
          attachments: this.newTask.path_to_doc.slice(1),
          counter_number: this.newTask.counter_number
        })
        this.$emit('clickFilter')
        const result = await response.json()
        if (result.status === 'yes') {
          this.newTask.send_operator = true
        } else {
          this.successSendOperator = false
        }
      } catch (e) {
        this.successSendOperator = false
      } finally {
        setTimeout(() => {
          this.successSendOperator = null
        }, 5000)
      }
    },

    handleResultStatus(resultTask) {
      if (resultTask.status === 'error') {
        this.$emit('taskError');
      } else {
        this.$emit('taskSuccess');
        this.$emit('clickFilter');
      }
    },
    /**
     * Редактирует открытую задачу.
     * @param {Object} task - Объект задачи.
     * @param {Array<customer>} task.customer - Клиент, связанный с задачей.
     * @param {Array<user>} task.user - Пользователь, связанный с задачей.
     * @param {newTask} task.task - Детали задачи.
     */
    async editOpenTask(task) {
      this.isPopupEdit = true
      this.newTask.task_id = task.task.id
      this.newTask.user_id = task.user[0].id
      this.newTask.customer_id = task.customer[0].id
      this.newTask.type_of_task = task.task.type_of_task
      this.newTask.deadline = new Date(moment(task.task.deadline, 'DD.MM.YYYY').format('MM.DD.YYYY'))
      this.newTask.counter_number = task.task.counter_number
      this.newTask.status = task.task.status
      this.newTask.comment = task.task.comment
      this.newTask.feedback = task.task.feedback
      this.newTask.send_operator = task.task.send_operator
      this.searchCustomersField = task.customer[0].surname + ' ' + task.customer[0].name
      this.newTask.tasks_info = task.task.tasks_info
      this.newTask.archive = task.task.archive
      if (task.contract.length) {
        this.payerReading.end_count = task.contract[0].end_count
        this.payerReading.end_count_night = task.contract[0].end_count_night
      }
      if (task.task.path_to_doc && task.task.path_to_doc !== '') {
        this.newTask.path_to_doc = task.task.path_to_doc
      }
      if (Number(task.task.count_message) >= 1) {
        await this.$services.checkNotification.callMethod({
          tasks_id: task.task.id
        })
        const storeMessages = this.$store.state.telegramMessages
        for (const message in storeMessages) {
          if (storeMessages[message].id === task.task.id) {
            storeMessages.splice(message, 1)
          }
        }
        this.$store.commit('setTelegramMessages', storeMessages)
        this.$emit('clickFilter')
      }
      this.togglePopup()
      setTimeout(() => {
        this.$refs.chat.getMessages(task.customer[0].id)
      }, 300)
    }
  },
  async mounted() {
    let response = await this.$services.getUsers.callMethod()
    this.users = await response.json()
  },
  created() {
    if (this.$route.name === 'customer_page') {
      this.newTask.customer_id = this.$route.params.id.split('_')[1]
    }
  },
  watch: {
    // Наблюдаем за изменениями вычисляемого свойства
    newTaskWatcher(newValue, oldValue) {
      // Проверяем, изменился ли тип задачи на интересующий нас
      if (this.newTask.type_of_task === 'ZAEHLERDATEN') {
        const arrayCounterNumber = this.newTask.counter_number.split(' ');
        this.newTask.comment = `
        Sehr geehrter Herr/Frau/Firma, es ist wieder so weit am ${this.newTask.deadline ? moment(this.newTask.deadline).format("DD.MM.YYYY") : '(((( Setzen Sie eine Frist ))))'} für die Ablesung von Stromzähler/Gaszähler ${arrayCounterNumber[arrayCounterNumber.length - 1]}. Bitte fotografieren Sie den Zähler ab und senden uns in diesem Chat zu. Wir bedanken uns für Ihre Mithilfe, damit können Sie sicher sein, dass Ihre Jahresabrechnungen immer korrekt abgerechnet werden.`
          .trim();
      }
    }
  }
}
</script>


<style lang="stylus">
.create-task
  max-width 1124px !important

  &__btn-send
    position relative
    transition 0.2s

    &:after
      content ''
      display block
      top: 0
      left: 0
      right: 0
      bottom: 0
      background #00c875
      z-index 10
      position: absolute
      transition 0.2s
      transform scale(0)

    &:before
      content ''
      display block
      width: 12px
      height: 24px
      border-right 3px solid white
      border-bottom 3px solid white
      position absolute
      z-index -1
      left: 50%
      top: 40%
      transform translate(-50%, -50%) rotate(45deg)
      transition 0.2s
      opacity 0

    &-error
      opacity 1 !important
      border 1px solid red !important
      &:after
        background red !important
        transform scale(1)

      &:before
        content: '+'
        font-size: 32px
        font-weight: 400
        color white
        border none !important
        opacity 1
        z-index 12

    &-loader
      opacity 1 !important
      border 1px solid #00c875 !important

      &:after
        transform scale(1)

      &:before
        opacity 1
        z-index 12

  &__document
    display flex
    justify-content flex-end
    align-items center

    &-btn-disabled
      opacity 0.5 !important
      cursor not-allowed !important

    button
      border-radius 4px
      padding: 8px 12px
      border 1px solid #227e39
      color #227e39
      background none
      margin-left: 12px

  &__left-content, &__right-content
    width: 50%

  &__right-content
    margin-left: 38px
    padding-left: 38px
    border-left: 1px solid rgba(182, 190, 216, 1)
    display flex
    flex-direction column
    justify-content space-between

    & .popup__group-btn
      button
        padding: 14px 20px

      button + button
        margin-left: 16px
        background rgba(0, 200, 117, 1)
        border-color rgba(0, 200, 117, 1)
        padding: 14px 40px

  &__messages-block
    &-legend
      display flex
      align-items center
      justify-content space-between

      .legend
        text-transform uppercase
        font-size: 14px
        font-weight: 600
        color #b6bed8

  &__chat
    width: 100%
    height: 198px
    border: 1px solid rgba(182, 190, 216, 1)
    background rgba(239, 239, 239, 1)
    margin-top: 8px
    border-radius 4px

  &__content
    display flex

  &__full-name
    margin-bottom: 16px
    display inline-flex
    flex-direction column

    p
      border 1px solid #b6bed8
      border-radius 4px
      padding: 8px 12px
      font-size: 20px
      font-weight: 500

    span
      font-weight: 600
      margin-bottom: 4px
      color #b6bed8
      text-transform uppercase
      font-size: 14px

</style>