<template>
  <router-view />
</template>

<script>
  document.title = 'Pos terminal — Apirone'
</script>

<style lang="scss">
:root {
  --blue: #477ca8;
  --light-blue: #477ca8;
  --yellow: #F7CA56;
  --pink: #EF85A3;
  --green: #5BC43A;
  --grey: #F4F4F4;
  --dark-grey: #999999;
  --black: #232323;
  --radius: 4px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--black);
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

select {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 1px 6px 2px rgba(79, 172, 248, 0.2);
  }
}

input, select {
  outline: none;
  padding-left: 16px;
}

.input,
.select {
  height: 40px;
  border: 1px solid var(--light-blue);
  border-radius: var(--radius);
  background: none;
  width: 100%;
}

.show-dropdown {
  height: 212px !important;
}

.button-square {
  width: 59px;
  height: 59px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--grey);
  color: white;
  font-weight: 500;
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.red-color {
  color: var(--pink) !important;
  background: rgba(239, 133, 163, 0.2) !important;
}

.green-color {
  color: var(--green) !important;
  background: rgba(91, 156, 98, 0.2) !important;
}

.yellow-color {
  color: #af7e00 !important;
  background: rgb(248 188 32 / 71%) !important;
}

.invalid-input {
  border-color: #f44336 !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;

  &::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--blue) transparent var(--blue) transparent;
    animation: loader-rotate 2s linear infinite;
  }
}

.mask {
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 7;
  height: 100%;
  width: 100%;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .button-square {
    width: 90px;
    height: 90px;
    font-size: 22px;
  }
}

</style>
