<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="preload" href="{{ url_for('static', filename='fonts/kanit/Kanitmedium.woff2') }}" as="font"
          type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{{ url_for('static', filename='fonts/open-sans/opensans.woff2') }}" as="font"
          type="font/woff2" crossorigin="anonymous">

    {# Slick #}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='libs/slick/slick.css') }}">#}
    <style>
        .slick-slider {
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -khtml-user-select: none
        }

        .slick-list, .slick-slider {
            display: block;
            position: relative
        }

        .slick-list {
            margin: 0;
            overflow: hidden;
            padding: 0
        }

        .slick-list:focus {
            outline: none
        }

        .slick-list.dragging {
            cursor: pointer;
            cursor: hand
        }

        .slick-slider .slick-list, .slick-slider .slick-track {
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0)
        }

        .slick-track {
            display: block;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 0
        }

        .slick-track:after, .slick-track:before {
            content: "";
            display: table
        }

        .slick-track:after {
            clear: both
        }

        .slick-loading .slick-track {
            visibility: hidden
        }

        .slick-slide {
            display: none;
            float: left;
            height: 100%;
            min-height: 1px
        }

        [dir=rtl] .slick-slide {
            float: right
        }

        .slick-slide img {
            display: block
        }

        .slick-slide.slick-loading img {
            display: none
        }

        .slick-slide.dragging img {
            pointer-events: none
        }

        .slick-initialized .slick-slide {
            display: block
        }

        .slick-loading .slick-slide {
            visibility: hidden
        }

        .slick-vertical .slick-slide {
            border: 1px solid transparent;
            display: block;
            height: auto
        }

        .slick-arrow.slick-hidden {
            display: none
        }
    </style>

    {# CSS #}
{#            <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/default.css') }}">
    {% block styles %}{% endblock %}
    {% block title %}{% endblock %}

</head>
<body>
<div class="cookies" id="cookies">
    <p style="line-height: 1.4" class="cookies__text">
        Wir setzen Cookies ein, um die Nutzung der Webseite für den Besucher einfacher und bequemer zu gestalten bzw.
        bestimmte Funktionen überhaupt erst zu ermöglichen. Durch die Nutzung dieser Webseite erklären Sie sich mit der
        Verwendung von Cookies einverstanden. Weitere Infos entnehmen Sie unserer
        <a href="/data_protection/#cookiesYak" target="_blank">Datenschutzerklärung</a>.
    </p>
    <button class="button cookies__btn" id="cookiesBtn">ok</button>
</div>

{% include 'components/sidebar-adaptive.html' %}
{% block body %}{% endblock %}
{% include 'components/contact-form.html' %}
<div class="--circle-purple"></div>
<div class="--circle-blue"></div>
<div class="mask" id="maskSidebar"></div>
<div class="mask" id="maskModal"></div>
<div class="mask" id="maskAdvertisement"></div>
<a style="position: fixed; bottom: 30px; right: 30px; width: 35px;" href="https://wa.me/491787280984" target="_blank">
    <img style=" width: 35px;" src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="">
</a>
<script src='https://www.google.com/recaptcha/api.js?hl=en-EN' async></script>
<script src="{{ url_for('static', filename='libs/jquery/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/slick/slick.min.js') }}"></script>
{#<script type="module" src="{{ url_for('static', filename='scripts/header.js') }}"></script>#}
<script type="module" src="{{ url_for('static', filename='scripts/dist/header.js') }}"></script>
<script src="{{ url_for('static', filename='libs/rellax/rellax.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/contact-form.js') }}"></script>
{#<script type="module" src="{{ url_for('static', filename='scripts/dist/contact-form.js') }}"></script>#}
<script>
    $(function () {
        const cookiesAccepted = localStorage.getItem('cookiesAccepted') === '1';
        if (cookiesAccepted) {
            $('#cookies').hide()
        } else {
            $('#cookies').show()
        }


        $('#cookiesBtn').on('click', function () {
            $('#cookies').hide()
            localStorage.setItem('cookiesAccepted', '1');
        })


    });
</script>
<script>
    var rellax = new Rellax('.rellax');
</script>
{% block scripts %}{% endblock %}
</body>
</html>
