<section class="contact-form__wrap" id="contactForm" style="height: 100vh;">
    <div class="mask" id="mask"></div>
    <div class="contact-form">
        <span id="contactFormCloseBtn" class="--modal-close-btn contact-form__close-btn"></span>
        <div class="contact-form__inner">
            <form action="" name="subscribe_form_2" method="post" id="contactForm" class="contact-form__form">
                <div class="contact-form__container-input">
                    <input autocomplete="disabled" id="contactFormFullName" name="name" class="contact-form__input"
                           placeholder="Vor- und Nachname" type="text">
                    <label for="" class="contact-form__label"></label>
                </div>
                <div class="contact-form__container-input">
                    <input autocomplete="disabled" id="contactFormEmail" name="email" class="contact-form__input"
                           placeholder="Ihre E-Mail" type="text">
                    <label for="" class="contact-form__label"></label>
                </div>
                <div class="contact-form__container-input">
                    <input autocomplete="disabled" id="contactFormPhone" name="phone" class="contact-form__input"
                           placeholder="Ihre Telefonnummer" type="text">
                    <label for="" class="contact-form__label"></label>
                </div>
                <div class="contact-form__container-input">
                <textarea id="contactFormDescription" name="about_project" class="contact-form__input"
                          placeholder="About your project"
                          type="text"></textarea>
                    <label for="" class="contact-form__label"></label>
                </div>
                <div class="contact-form__checkbox">
                    <div class="contact-form__checkbox-inner">
                        <input type="checkbox" id="checkbox" class="input checkbox">
                        <label id="contactCustomCheckbox" class="label" for="checkbox"></label>
                    </div>
                    <span class="contact-form__text">
                    Mit dem Absenden dieser Nachricht willigen Sie unseren <a target="_blank" class="checkbox__link"
                                                                              href="/data_protection/">Datenschutzrichtlinien</a> ein*
                </span>
                </div>
                <div data-size="normal" data-callback="showBtnContactForm" class="g-recaptcha contact-captcha" id="captcha" data-sitekey="6LejwRMiAAAAAO9TEYJVBySibY11P8_TQ0yD23W9"></div>
                <button style="display: none" disabled id="contactFormBtn" class="contact-form__btn" type="button">Projekt besprechen</button>
                <script>
                    function showBtnContactForm () {
                        setTimeout(() => {
                            $('#contactFormBtn').fadeIn(300)
                            $('.contact-captcha').css({display: 'none'})
                        }, 700)
                    }
                </script>
            </form>
            <div class="contact-form__content">
                <img src="{{ url_for('static', filename='images/contact-title.svg') }}" alt="">
                <p>Um ein neues Projekt zu besprechen, füllen Sie das Formular aus oder
                    kontaktieren Sie uns auf jede bequeme Weise.
                </p>
                <span>
            <a href="tel:+491787280984">+49 178 728 09 84</a>
            <a href="mailto:info@visum.io">info@visum.io</a>
        </span>
            </div>
        </div>
    </div>
</section>
