<footer class="footer">
    <div class="footer__content">
        <img src="{{ url_for('static', filename='images/logo-black.svg') }}" alt="">
        <div class="footer__items">
            <div class="footer__item">
                <h4 class="footer__item-title">Adresse</h4>
                <span>Christian-Pleß-Straße 14 <br>
                    63069 Offenbach
                </span>
            </div>
            <div class="footer__item">
                <h4 class="footer__item-title">Kontakt</h4>
                <a href="mailto:info@visum.io">info@visum.io</a>
                <a href="tel:+491787280984">+49 178 728 09 84</a>
            </div>
            <div class="footer__item">
                <h4 class="footer__item-title">Rechtliches</h4>
                <a href="/imprint/">Impressum</a>
                <a href="/data_protection/">Datenschutz</a>
            </div>
        </div>
    </div>
    <div class="footer__prefix">
        <div class="footer__navbar">
            <a href="/">Home</a>
            <a href="/cases/">Projekte</a>
            <a href="/services/">Leistungen</a>
            <a href="/about_us/">Über Uns</a>
        </div>
        <span><span id="yearCopyright"></span> Visum.IO Copyright - All rights reserved</span>
    </div>
</footer>

<script>
  const yearCopyright = document.getElementById('yearCopyright');
  yearCopyright.innerText = new Date().getFullYear()
</script>
