<header id="header" class="header">
    <a href="/" class="header__logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
    </a>
    <div class="header__links" id="headerLinksBlock">
        <a {% if header_links == 'home' %} class="--active-header-link" {% endif %} href="/">Home</a>
        <span></span>
        <a {% if header_links == 'services' %} class="--active-header-link" {% endif %}
                                               href="/services/">Leistungen</a>
        <span></span>
        <a {% if header_links == 'cases' %} class="--active-header-link" {% endif %} href="/cases/">Projekte</a>
        <span></span>
        <a {% if header_links == 'about_us' %} class="--active-header-link" {% endif %}  href="/about_us/">Über Uns</a>
    </div>
    <a href="javascript: void(0)" id="contactBtn" class="button header__btn-adaptive">Let's Talk</a>
</header>
<div id="sidebarAnimation" class="sidebar__animation"></div>
