<section style="display: none" id="popupAdvertisement" class="contact-form popup-advertisement">
    <form id="formAdvertisement" action="" method="post" class="popup-advertisement__inner">
        <span id="popupAdvertisementCloseBtn" class="--modal-close-btn contact-form__close-btn"></span>
        <div class="popup-advertisement__left-content">
            <span class="--circle-blue"></span>
            <span class="--circle-green"></span>
            <span class="--circle-purple"></span>
            <img src="{{ url_for('static', filename='images/popup-advertisement.png') }}" alt="">
        </div>
        <div class="popup-advertisement__right-content">
            <div id="popupStartContent" class="popup-advertisement__form-content">
                <span class="popup-advertisement__hashtag">KOSTENLOSE BERATUNG</span>
                <h3 class="popup-advertisement__title">
                    Welches Webdesign ist das richtige für Ihre Ziele?
                </h3>
                <p class="popup-advertisement__text">
                    Der beste Weg, um die richtigen Fragen zu formulieren und die passenden Antworten zu finden, ist ein
                    Gespräch mit einem Profi.
                </p>
                <button type="button" class="popup-advertisement__start-btn">
                    GESPRÄCH VEREINBAREN
                    <span>kostenfrei & unverbindlich</span>
                </button>
            </div>
            <div id="popupFirstFormContainer" style="display: none" class="popup-advertisement__form-content">
                <span class="popup-advertisement__hashtag">KOSTENLOSE BERATUNG</span>
                <h3 class="popup-advertisement__title">
                    Ihre Branche und Ziele
                </h3>
                <p class="popup-advertisement__text">
                    100% kostenfrei & unverbindlich
                </p>
                <div class="popup-advertisement__container-inputs">
                    <div class="contact-form__container-input">
                        <input autocomplete="disabled" id="advertisementSpecifyIndustry"
                               name="advertisementSpecifyIndustry" class="contact-form__input"
                               placeholder="Geben Sie hier Ihre Branche ein" type="text">
                        <label for="" class="contact-form__label"></label>
                    </div>
                    <div class="contact-form__container-input">
                        <select class="contact-form__input" name="advertisementSelect" id="advertisementSelect">
                            <option selected disabled value="">Wählen Sie Ihr Ziel</option>
                            <option value="Bewerben meines Unternehmens bzw. meiner Dienste">Bewerben meines
                                Unternehmens bzw. meiner Dienste
                            </option>
                            <option value="Verkauf von Produkten bzw. Dienste">Verkauf von Produkten bzw. Dienste
                            </option>
                        </select>
                        <label for="" class="contact-form__label"></label>
                    </div>
                    <button type="button" id="advertisementFirstFormContainerBtn" class="popup-advertisement__btn">
                        WEITER
                    </button>
                </div>
            </div>
            <div id="popupSecondFormContainer" style="display: none" class="popup-advertisement__form-content">
                <span class="popup-advertisement__hashtag">KOSTENLOSE BERATUNG</span>
                <h3 class="popup-advertisement__title">
                    Wie erreichen wir Sie?
                </h3>
                <p class="popup-advertisement__text">
                    100% kostenfrei & unverbindlich
                </p>
                <div class="popup-advertisement__container-inputs">
                    <div class="contact-form__container-input">
                        <input autocomplete="disabled" id="advertisementFullName" name="advertisementFullName"
                               class="contact-form__input"
                               placeholder="Vor- und Nachname" type="text">
                        <label for="" class="contact-form__label"></label>
                    </div>
                    <div class="contact-form__container-input">
                        <input autocomplete="disabled" id="advertisementPhone" name="advertisementPhone"
                               class="contact-form__input"
                               placeholder="Ihre Telefonnummer" type="text">
                        <label for="" class="contact-form__label"></label>
                    </div>
                    <div class="popup-advertisement__group-btn">
                        <button style="display: none" type="button" id="advertisementSecondFormContainerBtn" class="popup-advertisement__btn">
                            ABSENDEN
                        </button>
                        <div data-size="normal" data-callback="showBtnPopup" class="g-recaptcha" id="captchaPopup"
                             data-sitekey="6LejwRMiAAAAAO9TEYJVBySibY11P8_TQ0yD23W9"></div>
                        <script>
                            function showBtnPopup() {
                                setTimeout(() => {
                                    $('#advertisementSecondFormContainerBtn').fadeIn(300)
                                    $('#captchaPopup').css({display: 'none'})
                                }, 700)
                            }
                        </script>
                    </div>
                    <span>
                        Ich habe die <a target="_blank" style="color: #096BFF" href="/data_protection/">Datenschutzbestimmungen</a> zur Kenntnis genommen.
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div style="display: none" id="popupAdvertisementSuccessMessage" class="popup-advertisement__success-message">
        <img src="{{ url_for('static', filename='images/success-advertisement.svg') }}" alt="">
        <p>
            Vielen Dank. Wir haben Ihre Anfrage erhalten. Sie erhalten in den nächsten Tage eine Rückmeldung von uns.
        </p>
    </div>
</section>
