<section class="service-card_contact">
    <form action="#" method="post" class="service-card_contact__form">
        <div class="service-card_contact__left-content">
            <img src="{{ url_for('static', filename='images/contact-title.svg') }}" alt="">
            <div class="service-card_contact__group-link">
                <a href="tel:+491787280984">+49 178 728 09 84</a>
                <a href="mailto:info@visum.io">info@visum.io</a>
            </div>
        </div>
        <div class="service-card_contact__right-content">
            <div class="contact-form__container-input">
                <input id="serviceContactFormFullName" name="name" class="contact-form__input"
                       placeholder="Vor- und Nachname" type="text">
                <label for="" class="contact-form__label"></label>
            </div>
            <div class="contact-form__container-input">
                <input id="serviceContactFormEmail" name="email" class="contact-form__input" placeholder="Ihre E-Mail"
                       type="text">
                <label for="" class="contact-form__label"></label>
            </div>
            <div class="contact-form__container-input">
                <input id="serviceContactFormPhone" name="phone" class="contact-form__input"
                       placeholder="Ihre Telefonnummer"
                       type="text">
                <label for="" class="contact-form__label"></label>
            </div>
            <div class="contact-form__container-input">
                <textarea id="serviceContactFormDescription" name="about_project" class="contact-form__input"
                          placeholder="About your project"
                          type="text"></textarea>
                <label for="" class="contact-form__label"></label>
            </div>
            <div class="contact-form__checkbox">
                <div class="contact-form__checkbox-inner">
                    <input type="checkbox" id="serviceCheckbox" class="input checkbox">
                    <label id="serviceCustomCheckbox" class="label" for="serviceCheckbox"></label>
                </div>
                <span class="contact-form__text">
                                Mit dem Absenden dieser Nachricht willigen Sie unseren
                                <a target="_blank" class="checkbox__link"
                                   href="/data_protection/">Datenschutzrichtlinien</a> ein*
                            </span>
            </div>
            <div data-size="normal" data-callback="showBtnServiceContactForm" class="g-recaptcha service-captcha" id="captcha"
                 data-sitekey="6LejwRMiAAAAAO9TEYJVBySibY11P8_TQ0yD23W9"></div>
            <button style="display: none" id="serviceFormBtn" disabled class="contact-form__btn" type="button">Projekt besprechen</button>
            <script>
                function showBtnServiceContactForm() {
                    setTimeout(() => {
                        $('#serviceFormBtn').fadeIn(300)
                        $('.service-captcha').css({display: 'none'})
                    }, 700)
                }
            </script>
        </div>
    </form>
    <div class="service-card_discuss-project">
        <h4>Sind Sie bereit Ihr Projekt zu besprechen?</h4>
        <p>Füllen Sie das Formular aus - wir melden uns bei Ihnen.</p>
    </div>
</section>
