<div class="--service-card_container">
    <section class="service-card_our-approach">
        <h2 class="service-card__title">Unser Ansatz</h2>
        <div class="service-card_our-approach__content">
            <div class="service-card_our-approach__one-block">
                <img src="{{ url_for('static', filename='images/our-approach-analytics-icon.svg') }}" alt="">
                <h3 class="service-card_our-approach__title-block">Analyse der Aufgaben und Marktforschung</h3>
                <p class="service-card_our-approach__text">Erfassung von Produktdaten und Durchführung von
                    Wettbewerbsanalysen</p>
            </div>
            <div class="service-card_our-approach__two-block">
                <div class="service-card_our-approach__item">
                    <img src="{{ url_for('static', filename='images/our-approach-design-icon.svg') }}" alt="">
                    <h3 class="service-card_our-approach__title-block">Design & Development</h3>
                    <p class="service-card_our-approach__text">Gestaltung der Infrastruktur mit Blick auf die
                        künftige Produktentwicklung</p>
                </div>
                <div class="service-card_our-approach__item">
                    <img src="{{ url_for('static', filename='images/our-approach-support-icon.svg') }}" alt="">
                    <h3 class="service-card_our-approach__title-block">Technische Unterstützung</h3>
                    <p class="service-card_our-approach__text">Nach Relaunch bleiben wir mit Ihnen und sind
                        bereit,
                        die Ressource bei Bedarf zu vervollständigen.</p>
                </div>
            </div>
            <div class="service-card_our-approach__one-block service-card_our-approach__one-block-bg">
                <img src="{{ url_for('static', filename='images/our-approach-prototype-icon.svg') }}" alt="">
                <h3 class="service-card_our-approach__title-block">Prototyping und Planung der
                    Backend-Architektur</h3>
                <p class="service-card_our-approach__text">Entwicklung eines technischen Konzepts, der dafür
                    sorgt,
                    dass die Website oder der Dienst schnell, stilvoll und kundenfreundlich arbeitet.</p>
            </div>
        </div>
    </section>
</div>
<section class="service-card_instrument">
    <div class="service-card_instrument__inner">
        <div class="service-card_instrument__content">
            <h2 class="service-card__title">Instrumente</h2>
            <div class="service-card_instrument__items">
                <div class="service-card_instrument__item">
                    <img src="{{ url_for('static', filename='images/logo-django.svg') }}" alt="">
                    <span>Django</span>
                </div>
                <div class="service-card_instrument__item">
                    <img src="{{ url_for('static', filename='images/css.svg') }}" alt="">
                    <span>CSS3</span>
                </div>
                <div class="service-card_instrument__item">
                    <img src="{{ url_for('static', filename='images/html.svg') }}" alt="">
                    <span>HTML5</span>
                </div>
                <div class="service-card_instrument__item">
                    <img src="{{ url_for('static', filename='images/vue.svg') }}" alt="">
                    <span>Vue.js</span>
                </div>
                <div class="service-card_instrument__item">
                    <img src="{{ url_for('static', filename='images/logo-python-gray.svg') }}" alt="">
                    <span>Python</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="--service-card_container">
    <section class="service-card_done-deal">
        <h2 class="service-card__title service-card_done-deal__title">Wenn der Deal steht</h2>
        <div class="service-card_done-deal__content">
            <div class="service-card_done-deal__item">
                <h4>Management</h4>
                <p>Kontrolle der Fristen und Koordinierung der Arbeiten in jeder Phase des Projekts.</p>
            </div>
            <div class="service-card_done-deal__item">
                <h4>Zeit & Material</h4>
                <p>Zahlung für die erforderliche Anzahl von Stunden bestimmter Spezialisten.</p>
            </div>
            <div class="service-card_done-deal__item">
                <h4>Fixed Prices</h4>
                <p>Wir erstellen einen Kostenvoranschlag und halten Sie das Budget ein. </p>
            </div>
        </div>
    </section>
    {% include 'components/services-contact-form.html' %}
</div>
