<div id="burger" class="sidebar__burger"><span></span></div>
<div id="sidebar" class="sidebar">
    <div class="sidebar__links">
        <a id="sidebarHome" class="{% if header_links == 'home' %} --active-sidebar-link {% endif %} sidebar__link"
           href="/">Home</a>
        <a id="sidebarServices"
           class="{% if header_links == 'services' %} --active-sidebar-link {% endif %} sidebar__link"
           href="/services/">Leistungen</a>
        <a id="sidebarCases" class="{% if header_links == 'cases' %} --active-sidebar-link {% endif %} sidebar__link"
           href="/cases/">Projekte</a>
        <a id="sidebarAboutUs"
           class="{% if header_links == 'about_us' %} --active-sidebar-link {% endif %} sidebar__link"
           href="/about_us/">Über Uns</a>
    </div>
    <a id="sidebarBtnContactForm" href="javascript: void(0)" class="button sidebar__btn">Let's Talk</a>
</div>
