<template>
  <section class="page-layout">
    <Header/>
    <div class="container page-layout__content">
      <Sidebar/>
      <main class="page-layout__main">
        <slot></slot>
      </main>
    </div>
  </section>
</template>

<script>
import Header from "@/components/elements/Header.vue";
import Sidebar from "@/components/elements/Sidebar.vue";

export default {
  name: "base-layout",
  components: {Sidebar, Header}
}
</script>

<style scoped lang="scss">
.page-layout {

  &__main {
    margin-top: 32px;
    width: calc(100% - 230px);
    padding-bottom: 32px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }
}
</style>