{% extends 'layouts/base.html' %}

{% block body %}
    <section class="data-protection">
        <h1>Datenschutz</h1>
        <div class="data-protection__content">
            <div class=" data-protection__item">
                <h3 class="">
                    Allgemeiner Hinweis und Pflichtinformationen <br>
                    Benennung der verantwortlichen Stelle
                </h3>
                <p class="">Wir gründeten
                    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
                    <br><br>
                    Visum.IO UG (haftungsbeschränkt) <br>
                    Alexander Jakob <br>
                    Heppstr. 4 <br>
                    85057 Ingolstadt <br>
                    Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und
                    Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Widerruf Ihrer Einwilligung zur Datenverarbeitung
                </h3>
                <p class="">Wir gründeten
                    Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung
                    möglich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den
                    Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf
                    erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde
                </h3>
                <p class="">Wir gründeten
                    Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein
                    Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde
                    bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des
                    Bundeslandes, in dem sich der Sitz unseres Unternehmens befindet. Der folgende Link stellt
                    eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit:
                    <a target="_blank"
                       href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Recht auf Datenübertragbarkeit
                </h3>
                <p class="">Wir gründeten
                    Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung
                    eines Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die
                    Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung
                    der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch
                    machbar ist.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Recht auf Auskunft, Berichtigung, Sperrung, Löschung
                </h3>
                <p class="">Wir gründeten
                    Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf
                    unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten,
                    deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung,
                    Sperrung oder Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema
                    personenbezogene Daten können Sie sich jederzeit über die im Impressum aufgeführten
                    Kontaktmöglichkeiten an uns wenden.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    SSL- bzw. TLS-Verschlüsselung
                </h3>
                <p class="">Wir gründeten
                    Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns
                    als Seitenbetreiber senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit
                    sind Daten, die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen
                    eine verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und am
                    Schloss-Symbol in der Browserzeile.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Server-Log-Dateien
                </h3>
                <p class="">Wir gründeten
                    In Server-Log-Dateien erhebt und speichert der Provider der Website automatisch
                    Informationen, die Ihr Browser automatisch an uns übermittelt. Dies sind:
                    <br><br>
                    Besuchte Seite auf unserer Domain <br>
                    Datum und Uhrzeit der Serveranfrage <br>
                    Browsertyp und Browserversion <br>
                    Verwendetes Betriebssystem <br>
                    Referrer URL <br>
                    Hostname des zugreifenden Rechners <br>
                    IP-Adresse <br>
                    Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der
                    Datenverarbeitung bildet Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur
                    Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Kontaktformular
                </h3>
                <p class="">Wir gründeten
                    Per Kontaktformular übermittelte Daten werden einschließlich Ihrer Kontaktdaten gespeichert,
                    um Ihre Anfrage bearbeiten zu können oder um für Anschlussfragen bereitzustehen. Eine
                    Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.
                    Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf
                    Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits
                    erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose
                    Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
                    Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt. <br>
                    Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie uns zur Löschung
                    auffordern, Ihre Einwilligung zur Speicherung widerrufen oder keine Notwendigkeit der
                    Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere
                    Aufbewahrungsfristen - bleiben unberührt.
                </p>
            </div>
            <div class=" data-protection__item" id="cookiesYak">
                <h3 class="">
                    Cookies
                </h3>
                <p class="">Wir gründeten
                    Unsere Website verwendet Cookies. Das sind kleine Textdateien, die Ihr Webbrowser auf Ihrem
                    Endgerät speichert. Cookies helfen uns dabei, unser Angebot nutzerfreundlicher, effektiver
                    und sicherer zu machen. <br>
                    Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer Browser-Sitzung
                    von selbst gelöscht. Hingegen bleiben andere Cookies auf Ihrem Endgerät bestehen, bis Sie
                    diese selbst löschen. Solche Cookies helfen uns, Sie bei Rückkehr auf unserer Website
                    wiederzuerkennen. <br>
                    Mit einem modernen Webbrowser können Sie das Setzen von Cookies überwachen, einschränken
                    oder unterbinden. Viele Webbrowser lassen sich so konfigurieren, dass Cookies mit dem
                    Schließen des Programms von selbst gelöscht werden. Die Deaktivierung von Cookies kann eine
                    eingeschränkte Funktionalität unserer Website zur Folge haben. <br>
                    Das Setzen von Cookies, die zur Ausübung elektronischer Kommunikationsvorgänge oder der
                    Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorb) notwendig sind,
                    erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser Website haben wir
                    ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und
                    reibungslosen Bereitstellung unserer Dienste. Sofern die Setzung anderer Cookies (z.B. für
                    Analyse-Funktionen) erfolgt, werden diese in dieser Datenschutzerklärung separat behandelt.
                </p>
            </div>
            <div class=" data-protection__item">
                <h3 class="">
                    Google Web Fonts
                </h3>
                <p class="">Wir gründeten
                    Unsere Website verwendet Web Fonts von Google. Anbieter ist die Google Inc., 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, USA. <br>
                    Durch den Einsatz dieser Web Fonts wird es möglich Ihnen die von uns gewünschte Darstellung
                    unserer Website zu präsentieren, unabhängig davon welche Schriften Ihnen lokal zur Verfügung
                    stehen. Dies erfolgt über den Abruf der Google Web Fonts von einem Server von Google in den
                    USA und der damit verbundenen Weitergabe Ihre Daten an Google. Dabei handelt es sich um Ihre
                    IP-Adresse und welche Seite Sie bei uns besucht haben. Der Einsatz von Google Web Fonts
                    erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser Website haben wir
                    ein berechtigtes Interesse an der optimalen Darstellung und Übertragung unseres
                    Webauftritts. <br>
                    Das Unternehmen Google ist für das us-europäische Datenschutzübereinkommen "Privacy Shield"
                    zertifiziert. Dieses Datenschutzübereinkommen soll die Einhaltung des in der EU geltenden
                    Datenschutzniveaus gewährleisten.
                    <br><br>
                    Einzelheiten über Google Web Fonts finden Sie unter:
                    <a target="_blank" href="https://www.google.com/fonts#AboutPlace:about">https://www.google.com/fonts#AboutPlace:about</a>
                    <br>
                    und weitere Informationen in den Datenschutzbestimmungen von
                    <br><br>
                    Google: <a target="_blank" href="https://policies.google.com/privacy/partners?hl=de">https://policies.google.com/privacy/partners?hl=de</a>
                    <br><br>
                    Quelle: Datenschutz-Konfigurator von <a target="_blank"
                                                            href="https://www.mein-datenschutzbeauftragter.de/">https://www.mein-datenschutzbeauftragter.de/</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}