<template>
  <div class="header d-flex justify-content-center w-100">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="home-link d-flex">
        <a href="/" class="home-link__external hovered">
          <logo/>
        </a>
        <a :href="getMainLink()" class="home-link__internal link hovered">
          Dashboard
          <span class="text-secondary">v{{ version }}</span>
        </a>
      </div>
      <div class="header__menu d-flex" v-if="!type">
        <Button
          class="p-button-link manage-data__btn"
          icon="pi pi-cog"
          v-tooltip="'Manage your data'"
          @click="displayDataManager = true"/>
        <Dialog v-model:visible="displayDataManager" style="width: 100%; max-width: 50rem;">
          <template #header>
            <h3>Manage previously saved data</h3>
          </template>
          <div>
            <DataManagerTemplate/>
          </div>
        </Dialog>
      </div>
      <div class="header__menu d-flex" v-else>
        <div
          class="wallet-info d-flex flex-column justify-content-between"
          style="align-items: flex-end;"
          v-if="$store.state.wallet">
          <div class="wallet-balance wallet-crypto-balance" v-if="$store.state.balance">
            <div class="amount">
              <span>{{ ($store.state.balance.available *
                $store.state.balance['units-factor'])
                .toFixed($store.state.balance.toFixed)
                .slice(0, -4) }}</span>
              <span class="postfix">{{ ($store.state.balance.available *
                $store.state.balance['units-factor'])
                .toFixed($store.state.balance.toFixed)
                .slice(-4) }}</span>
              <span class="currency">
                {{ formatCurrency($store.state.currency) }}
              </span>
            </div>
          </div>
          <div v-else><Skeleton width="7rem" height="1rem"></Skeleton></div>
          <div class="wallet-balance" v-if="$store.state.ticker.current">
            <div class="amount">
              <span>{{ ($store.state.balance.available *
                $store.state.balance['units-factor'] *
                $store.state.ticker.current.value).toFixed(2) }}</span>
              <span class="currency">
                <Dropdown
                  :options="$store.state.ticker.list"
                  :modelValue="$store.state.ticker.current"
                  @change="onTickerChange">
                  <template #value="slotProps">
                    <span>
                      {{slotProps.value.name}}
                    </span>
                  </template>
                  <template #option="slotProps">
                    <span>{{slotProps.option.label}}</span>
                  </template>
                </Dropdown>
              </span>
            </div>
          </div>
          <div v-else><Skeleton width="7rem" height="1rem"></Skeleton></div>
        </div>
        <Avatar
          v-if="$store.state.account || $store.state.wallet"
          :class="[
            'hovered',
            'p-overlay-badge',
            !$store.state.authorized || 'p-avatar-authorized',
            type !== 'account' || 'p-avatar-account',
          ]"
          style="position: relative"
          shape="circle"
          @click="toggleMenu">
          <img
            v-if="$store.state.currency && type === 'wallet'"
            class="header-avatar__img"
            :src="getImgSrc($store.state.currency)"
            :alt="$store.state.currency">
          <i v-else class="p-avatar-icon pi pi-user"></i>
          <img
            v-if="type === 'wallet' && $store.state.currency && $store.state.currency.includes('@')"
            class="header-avatar__img-badge"
            :src="getImgSrc($store.state.currency.split('@')[1])"
            :alt="$store.state.currency.split('@')[1]">
          <Badge v-if="$store.state.destinations">
            <i class="pi pi-sort-alt rotate-90"></i>
          </Badge>
          <Badge v-else-if="$store.state.watchOnly">
            <i class="pi pi-key"></i>
          </Badge>
        </Avatar>
        <Avatar v-else shape="circle" icon="pi pi-spin pi-spinner"/>
        <Menu class="header-menu" ref="menu" :model="menuItems" :popup="true"/>
        <input type="hidden" :value="$store.state.id" readonly ref="copyId">
        <Dialog v-model:visible="displayLogOut" style="min-width: 310px;">
          <template #header>
            <h3>Confirmation</h3>
          </template>
          <div class="d-flex align-items-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem; margin-right: 1rem;"></i>
            <span>Logged out full access {{ type }}?</span>
          </div>
          <template #footer>
            <Button
              label="No"
              icon="pi pi-times"
              class="p-button-text"
              @click="displayLogOut = false"/>
            <Button
              label="Yes"
              :icon="logOutLoading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
              :disabled="logOutLoading"
              @click="logOut"/>
          </template>
        </Dialog>
        <Dialog v-model:visible="displayLogIn" style="width: 450px;">
          <template #header>
            <h3>Log in</h3>
          </template>
          <div class="field">
            <span class="p-input-icon-right w-100">
              <Password
                v-model="transferKey.value"
                :toggleMask="!transferKey.loading"
                :feedback="false"
                :class="[!transferKey.error || 'p-invalid', 'w-100']"
                placeholder="Transfer key"
                @keyup.enter="logIn()"
                @input="transferKey.error = false"
                autofocus/>
              <i class="pi pi-spin pi-spinner" v-if="transferKey.loading"/>
            </span>
          </div>
          <template #footer>
            <Button
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              @click="displayLogIn = false"/>
            <Button label="Log in" icon="pi pi-check" @click="logIn"/>
          </template>
        </Dialog>
        <Dialog v-model:visible="displayDestinations" style="width: 450px;">
          <template #header>
            <h3>Destinations</h3>
          </template>
          <DestinationsTemplate/>
        </Dialog>
        <Dialog v-model:visible="displayBilling">
          <template #header>
            <h3>Pricing Plans</h3>
          </template>
          <BillingTemplate/>
        </Dialog>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/Logo.vue';
import DataManagerTemplate from '@/components/templates/DataManagerTemplate.vue';
import DestinationsTemplate from '@/components/templates/DestinationsTemplate.vue';
import BillingTemplate from '@/components/templates/BillingTemplate.vue';
import getEnv from '@/utils/env';

export default {
  components: {
    Logo,
    DataManagerTemplate,
    DestinationsTemplate,
    BillingTemplate,
  },
  props: {
    type: {
      type: String,
      default: null,
    },
  },
  watch: {
    '$store.state.authorized': {
      handler(to) {
        this.menuItems = this.generateMenuItems(
          to,
          this.$store.state.destinations,
          this.$store.state.paidAddresses,
          this.$store.state.policy,
        );
      },
    },
    '$store.state.destinations': {
      handler(to) {
        this.menuItems = this.generateMenuItems(
          this.$store.state.authorized,
          to,
          this.$store.state.paidAddresses,
          this.$store.state.policy,
        );
      },
    },
    '$store.state.paidAddresses': {
      handler(to) {
        this.menuItems = this.generateMenuItems(
          this.$store.state.authorized,
          this.$store.state.destinations,
          to,
          this.$store.state.policy,
        );
      },
    },
    '$store.state.policy': {
      handler(to) {
        this.menuItems = this.generateMenuItems(
          this.$store.state.authorized,
          this.$store.state.destinations,
          this.$store.state.paidAddresses,
          to,
        );
      },
    },
  },
  data() {
    return {
      displayDataManager: false,
      displayLogOut: false,
      displayLogIn: false,
      displayDestinations: false,
      displayBilling: false,
      logOutLoading: false,
      transferKey: {
        value: '',
        error: false,
        loading: false,
      },
      menuItems: this.generateMenuItems(
        this.$store.state.authorized,
        this.$store.state.destinations,
        this.$store.state.paidAddresses,
        this.$store.state.policy,
      ),
      version: getEnv('VITE_VERSION'),
    };
  },
  methods: {
    getMainLink() {
      const { id } = this.$store.state;
      const { prefixUrl } = this.$store.state;
      const prefix = prefixUrl === '/' ? '' : `/${prefixUrl}`;
      const isAccountWallet = id.slice(0, 3) === 'apr';
      const currency = isAccountWallet ? `${this.$store.state.currency}/` : '';
      let href = `${prefix}/`;
      if (this.type === 'account') {
        href += `account/${id}`;
      } else if (this.type === 'wallet') {
        href += `${isAccountWallet ? 'account' : 'wallet'}/${id}/${currency}history?offset=0&limit=10`;
      }
      return href;
    },
    toggleMenu(event) {
      this.$refs.menu.toggle(event);
    },
    logIn() {
      this.transferKey.loading = true;
      this.$axios
        .post('/api/v2/auth/login', {
          login: this.$store.state.id,
          password: this.transferKey.value,
        })
        .then((response) => {
          localStorage[response.data.login] = JSON.stringify(response.data);
          this.$store.commit('login');
          this.displayLogIn = false;
          this.transferKey.loading = false;
          this.transferKey.value = '';
          this.$toast.add({
            severity: 'success',
            summary: 'Authorization',
            detail: `Logged in full access of ${this.type}!`,
            life: 3000,
          });
        })
        .catch(() => {
          this.transferKey.error = true;
          setTimeout(() => { this.transferKey.error = false; }, 3000);
          this.transferKey.loading = false;
          this.$toast.add({
            severity: 'error',
            summary: 'Authorization',
            detail: 'Check your Transfer Key!',
            life: 3000,
          });
        });
    },
    logOut() {
      this.logOutLoading = true;
      this.$axios
        .post('/api/v2/auth/logout')
        .then()
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.logOutLoading = false;
          this.$store.commit('logout');
          this.displayLogOut = false;
          this.$toast.add({
            severity: 'info',
            summary: 'Authorization',
            detail: `Logged out full access of ${this.type}!`,
            life: 3000,
          });
        });
    },
    goHome() {
      this.$store.commit('logout');
      this.$store.commit('setId', '');
      this.$router.push({
        name: 'Home',
      });
    },
    onTickerChange(event) {
      localStorage[`ticker-${this.$store.state.id}`] = JSON.stringify(event.value);
      this.$store.commit('setBalance', null);
      this.$store.commit('setCurrentTicker', null);
    },
    generateMenuItems(authorized, destinations, paidAddresses, policy) {
      const { id } = this.$store.state;
      const topItems = [{
        icon: 'pi pi-copy',
        label: `${id.slice(0, 8)}...${id.slice(-5)}`,
        command: () => {
          const copyText = this.$refs.copyId;
          copyText.type = 'text';
          copyText.select();
          document.execCommand('copy');
          copyText.type = 'hidden';
          this.$toast.add({
            severity: 'info',
            detail: 'Successfully copied to clipboard!',
            life: 3000,
          });
        },
      }];
      if ((this.type === 'wallet') && (paidAddresses === null)) {
        topItems.push(destinations ? {
          icon: 'pi pi-sort-alt rotate-90',
          label: 'Destinations',
          command: () => {
            this.displayDestinations = true;
          },
        } : {
          icon: 'pi pi-sort-alt rotate-90',
          label: 'Destinations',
          disabled: true,
        });
        topItems.push({
          icon: policy === 'percentage' ? 'pi pi-percentage' : 'pi pi-tag',
          label: 'Processing Fee',
          disabled: !this.$store.state.pricing.data,
          command: () => {
            this.$store.state.pricing.show = true;
          },
        });
      }
      if (paidAddresses !== null) {
        topItems.push({
          icon: 'pi pi-list',
          label: `${paidAddresses} addresses`,
          command: () => {
            this.displayBilling = true;
          },
        });
      }
      topItems.push({
        label: 'Separator', // Because of error 'VNode created with invalid key (NaN)'
        separator: true,
      });
      const items = [{
        label: 'Refresh',
        icon: 'pi pi-refresh',
        command: () => {
          this.$store.state.refreshFlag = true;
          this.$store.commit('setBalance', null);
          this.$store.commit('setCurrentTicker', null);
        },
      },
      {
        label: 'Authorize',
        icon: 'pi pi-lock',
        visible: !authorized,
        command: () => {
          this.displayLogIn = true;
        },
      },
      {
        label: 'Deauthorize',
        icon: 'pi pi-lock-open',
        visible: authorized,
        command: () => {
          this.displayLogOut = true;
        },
      },
      {
        label: 'Exit',
        icon: 'pi pi-sign-out',
        command: () => {
          this.goHome();
        },
      }];
      const menu = [{ items: topItems }, { items }];
      return menu;
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, .05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;

  .container {
    padding: 0.625rem 0;
    align-items: center;
  }

  .home-link {
    .home-link__external {
      height: 2.5rem;
      width: fit-content;
      width: -moz-fit-content;
      cursor: pointer;
    }

    .home-link__internal {
      margin-left: 1rem;
      position: relative;
      width: fit-content;
      width: -moz-fit-content;
      font-family: -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      antarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c3e50;

      >span {
        position: absolute;
        top: 0;
        left: calc(100% + .25rem);
        line-height: .75rem;
        font-size: .75rem;
        white-space: nowrap;
      }
    }
  }

  .p-avatar {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 1px;
    border: 3px solid #dee2e6;
    background-color: #fff;
    &.p-avatar-circle {
      border-radius: 100%;
    }

    &.p-avatar-authorized {
      border: 3px solid #689F38;
    }

    &.p-avatar-account {
      background-color: #fff;
    }

    .p-avatar-icon.pi-user {
      color: #5d8ab9;
      font-weight: bold;
    }

    .header-avatar__img-badge {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(50%, 30%);
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid #fff;
    }
  }
}

.header__menu {
  height: 3rem;

  .p-badge {
    transform: translate(50%, -30%);
    padding: 0 0.3rem;
    border-radius: 50%;

    i {
      font-size: .7rem
    }
  }
}

.wallet-info {
  margin-right: 1rem;
}

.wallet-balance {
  color: #495057;

  .currency {
    color: #6c757d;
  }

  &.wallet-crypto-balance {
    font-size: 1.1rem;
  }
  &:not(.wallet-crypto-balance) {
    opacity: .7;
  }
}
</style>

<style lang="scss">
.header-menu {
  .p-menu-list {
    .p-submenu-header {
      display: none;
    }
  }
}

.manage-data__btn {
  .p-button-icon {
    font-size: 1.5rem;
  }
}

.w-100 .p-password-input {
  width: 100%;
}

.wallet-info {
  .p-button.p-button-icon-only {
    padding: 0;
  }
}

.wallet-balance {
  .currency {
    .p-dropdown {
      background: unset;
      border: 0;
      .p-inputtext {
        padding: 0;
        color: #6c757d;
      }
      .p-dropdown-trigger {
        width: 1.357rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-link__external {
    width: 3.5rem !important;
  }

  .home-link__internal {
    font-size: 1rem !important;
    margin-left: .5rem !important;

  }

  .header #logoName {
    display: none;
  }
}

@media (max-width: 400px) {
  .home-link {
    &__external {
      display: none;
    }

    &__internal {
      margin: 0 !important;
    }
  }

  .header > .container {
    align-items: baseline !important;
  }
}
</style>
