@import "components/variables";
@import "components/container";
@import "components/skeleton";
@import "components/input";
@import "components/loader";
@import "components/table";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  //background: #f0f6ff;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

input {
  width: 100%;
  border: 1px solid #ced4da;
  height: 35px;
  transition: 0.2s;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 2px 4px rgba(93, 138, 185, 0.1);
  }
}

.select {
  width: 100%;
  border: 1px solid #ced4da;
  height: 35px;
  transition: 0.2s;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 2px 4px rgba(93, 138, 185, 0.1);
  }
}

.btn-link, .primary-btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
  font-size: 16px;
}

.primary-btn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
}

button {
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.invalid-input {
  border-color: #f44336 !important;
}

h1 {
  font-size: 26px;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: calc(100% + 32px);
    height: 2px;
    background: var(--primary);
  }
}

.fields-row {
  width: 100%;
  label {
    margin-left: 4px;
    margin-bottom: 2px;
    display: block;
    color: var(--grey-text);
    font-size: 14px;
  }
}

.dp {
  &__input {
    padding-right: 8px !important;
  }
  &__clear_icon {
    display: none !important;
  }

  &__overlay_cell_active {
    background: var(--primary) !important;
  }
}
