<script>
  import Logo from "$components/Logo.svelte";
  import 'apricons/dist/apricons.css'
  import {clickOutside} from "$lib/client/clickOutside.js";
  import { slide } from 'svelte/transition';
  import {page} from "$app/stores";

  const params = $page.params
  let isShowDropdown = false

</script>

<header class="header container">
  <a class="header__logo" href="/">
    <svelte:component
      this={Logo}
      width={130}
      height={25}
    />
  </a>
  <div class="header__profile">
    <button
      class="header__profile-button"
      use:clickOutside={() => isShowDropdown = false}
      on:click|preventDefault={() => isShowDropdown = !isShowDropdown}
    >
      <i class="apr apr-gear"></i>
    </button>
    <i class="apr apr-arrow_light_down {isShowDropdown ? 'header__transform' : ''}"></i>
    {#if isShowDropdown}
      <div
        class="header__profile-dropdown"
        in:slide={{ duration: 300 }}
        out:slide={{ duration: 300 }}
      >
        <a href={`/settings/${params.customer_key}`} class="header__profile-dropdown-item">
          <i class="apr apr-gear"></i>
          Settings
        </a>
        <a href="/" class="header__profile-dropdown-item">
          <i class="apr apr-exit"></i>
          Logout
        </a>
      </div>
    {/if}
  </div>
</header>

<style lang="scss">
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    position: sticky;
    top: 0;
    background: var(--linear-primary);
    backdrop-filter: blur(3px);
    z-index: 10;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);

    &__transform {
      transform: rotate(180deg);
    }

    &__profile {
      position: relative;
      display: flex;
      align-items: center;

      &-button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: var(--lime);
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--black);
      }

      .apr-arrow_light_down {
        font-size: 16px;
        margin-left: 8px;
      }

      &-dropdown {
        position: absolute;
        width: 150px;
        top: calc(100% + 8px);
        right: 0;
        border: 1px solid var(--black);
        border-radius: var(--radius);
        overflow: hidden;
        background: #f3f3f3;

        &-item {
          width: 100%;
          border: none;
          padding: 8px 16px;
          display: flex;
          align-items: center;
          font-size: 16px;
          color: var(--black);

          &:hover {
            background: var(--lime);
          }

          i {
            margin-right: 8px;
            font-weight: 600;
          }
        }
      }
    }
  }
</style>