<script>
  import 'apricons/dist/apricons.css'
  import { fly } from 'svelte/transition';

  export let isShow = false
  export let title = ''
  export let message = ''

  export let isValid = true
</script>

{#if isShow}
  <div
    class="notification {!isValid ? 'notification__invalid': ''}"
    in:fly={{ duration: 600, x: 200 }}
    out:fly={{ duration: 600, x: 200 }}
  >
    <button on:click={() => isShow = false}>
      <span></span>
    </button>
    <h5>{title}</h5>
    <p>{message}</p>
  </div>
{/if}

<style lang="scss">
  .notification {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 300px;
    background: rgba(88, 135, 255, 0.2);
    border: 1px solid var(--blue);
    border-radius: var(--radius);
    padding: 16px 20px;
    overflow: hidden;
    z-index: 100;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    &:before {
      content: '';
      display: block;
      width: 6px;
      background: var(--blue);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    &__invalid {
      border: 1px solid red;
      background: rgba(255, 0, 0, 0.2);
      &:before {
        background: red;
      }
    }

    h5 {
      font-size: 20px;
    }

    p {
      margin-top: 6px;
      font-size: 16px;
    }

    button {
      position: absolute;
      top: 12px;
      right: 12px;
      border: none;

      span {
        width: 16px;
        height: 16px;
        display: block;
        position: relative;

        &:before, &:after {
          content: '';
          width: 20px;
          height: 2px;
          background: var(--black);
          position: absolute;
          top: 45%;
          left: -11%;
          border-radius: var(--radius);
        }

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }

  }
</style>