<script>
  import {page} from '$app/stores';

  const customerKey = $page.params.customer_key
  const links = [
    {
      href: `/panel/slots/${customerKey}`,
      name: 'Slots',
      icon: 'apr-box'
    },
    {
      href: `/panel/devices/${customerKey}`,
      name: 'Devices',
      icon: 'apr-broadcast'
    },
    {
      href: `/panel/settings/${customerKey}`,
      name: 'Settings',
      icon: 'apr-gear'
    },
    {
      href: `/panel/presets/${customerKey}`,
      name: 'Presets',
      icon: 'apr-rare_transfers'
    },
    {
      href: `/panel/camera-settings/${customerKey}`,
      name: 'Camera Settings',
      icon: 'apr-incognito'
    }
  ]
</script>

<aside class="sidebar">
  <div class="sidebar__links">
    {#each links as {href, name, icon}}
      <a
        href={href}
        class:sidebar__active-link={$page.url.pathname === href}
      >
        <i class="apr {icon}"></i>
        { name }
      </a>
    {/each}
  </div>
</aside>

<style lang="scss">
  .sidebar {
    min-width: 210px;
    border-radius: 10px;
    padding-top: 200px;
    margin-right: 32px;
    position: sticky;
    top: 80px;

    &__active-link {
      background: linear-gradient(to right, var(--lime), var(--grey), var(--grey)) !important;
    }

    &__links {
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        font-size: 20px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        color: var(--black);
        margin-bottom: 12px;

        &:hover {
          background: var(--grey);
        }

        i {
          margin-right: 12px;
        }
      }
    }
  }

</style>