<template>
  <BaseLayout>
    <section class="operation">
      <div class="input-icon">
        <input
          id="search"
          v-model="searchValue"
          type="text"
          placeholder="Search"
          @change="searchEvent"
        >
        <label for="search"><i class="apr apr-search"></i></label>
      </div>
      <div class="operation__content">
        <div
          v-if="loader"
          class="loader"
        ></div>
        <p
          v-else-if="callbacks === null"
          class="operation__empty"
        >
          Type in the search
        </p>
        <p
          v-else-if="callbacks === false || !callbacks.log.length"
          class="operation__empty"
        >
          No suitable options were found
        </p>
        <div
          v-else
          class="operation__items"
        >
          <div
            v-for="(callback, index) in callbacks.log"
            :key="`callback_${index}`"
            class="operation__item"
          >
            <p>
              {{ $filters.dateFilter(callback.date) }}
              <span
                class="operation__method"
                :class="{'operation__method-post': callback.method === 'POST', 'operation__method-get': callback.method === 'GET'}"
              >
                {{ callback.method }}
              </span>
              {{ callback.url }}
            </p>
            <p>
              HTTP Code:
              <span
                class="operation__status"
                :class="{'operation__status-error': callback.http_code !== 200, 'operation__status-success': callback.http_code === 200}"
              >
                {{ callback.http_code }}
              </span>
            </p>
            <p v-if="callback.http_code === 200">
              Body: <span v-html="callback.body"></span>
            </p>
            <p v-else-if="callback.http_code.length <= 3">
              Body: {{ JSON.parse(callback.body).error.message }}
            </p>
          </div>
          <Paginator
            :pagination="{offset, total, limit}"
            @click-next-page="offset = Number(offset) + Number(limit) < Number(total) ? (Number(offset) + Number(limit)) : offset"
            @click-per-page="offset = offset > 0 ? (Number(offset) - Number(limit)) : 0"
            @click-start-page="offset = 0"
            @click-end-page="offset = Math.floor(Number(total) / limit) * limit"
            @click-page="(page) => {offset = (page - 1) * limit}"
          />
        </div>
      </div>
    </section>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import refreshToken from "@/mixins/refreshToken";
import Paginator from "@/components/elements/Paginator.vue";

export default {
  name: "callbacks",
  components: {Paginator, BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Callbacks'
  },
  data() {
    return {
      loader: false,
      callbacks: null,
      total: null
    }
  },
  computed: {
    offset: {
      get() {
        return this.$route.query.offset || 0
      },
      set(offset) {
        this.$router.push({query: {...this.$route.query, offset}})
      }
    },
    limit: {
      get() {
        return this.$route.query.limit || 10
      },
      set(limit) {
        this.$router.push({query: {...this.$route.query, limit}})
      }
    },
    searchValue: {
      get() {
        return this.$route.query.search || null
      },
      set(search) {
        if (search && search !== '') {
          this.$router.push({
            query: {
              ...this.$route.query,
              search: search
            }
          })
        } else {
          let query = {...this.$route.query};
          delete query['search'];
          this.$router.push({query});
        }
      }
    },
  },
  watch: {
    offset: async function (to) {
      await this.getCallBack()
    },
    limit: async function () {
      await this.getCallBack()
    }
  },
  async mounted() {
    if (this.searchValue && this.searchValue !== '') {
      await this.getCallBack()
    }
  },
  methods: {
    async searchEvent() {
      this.$router.push({
        query: {
          ...this.$route.query,
          offset: 0,
          limit: 10
        }
      })
      await this.getCallBack()
    },
    async getCallBack() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/support/callback_logs?value=${this.searchValue}&offset=${this.offset}&limit=${this.limit}`, {
        headers: {
          'Authorization': `Bearer ${this.$store.state.accessToken}`
        }
      })
      switch (response.status) {
        case 200:
          this.callbacks = await response.json()
          this.offset = this.callbacks.pagination.offset
          this.total = this.callbacks.pagination.total
          break;
        case 400:
          this.callbacks = false
      }
      this.loader = false
    }
  }
}
</script>

<style scoped lang="scss">
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.operation {
  padding-bottom: 32px;

  .input-icon {
    width: 400px;
    margin: 0 auto;
  }

  &__method {
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    background: var(--grey-text);

    &-post {
      background: purple;
    }

    &-get {
      background: #989800;
    }
  }

  &__status {
    padding: 2px 6px;
    background: var(--grey-text);
    color: white;
    border-radius: 4px;

    &-error {
      background: #ff7b7b;
    }

    &-success {
      background: rgba(93, 138, 185, 0.6);
    }
  }

  &__empty {
    text-align: center;
    margin-top: 32px;
    font-size: 24px;
  }

  &__items {
    margin-top: 32px;
  }

  &__item {
    border: 1px solid var(--grey-text);
    padding: 16px;
    border-radius: 10px;
    margin-top: 32px;
    background: white;

    p {
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
</style>