<template>
  <BaseLayout>
    <section class="operation">
      <div class="input-icon">
        <input
          id="search"
          v-model="searchValue"
          type="text"
          placeholder="Search"
          @change.prevent="getCallBack"
        >
        <label for="search"><i class="apr apr-search"></i></label>
      </div>
      <div class="operation__content">
        <div
          v-if="loader"
          class="loader"
        ></div>
        <p
          v-else-if="operations === null"
          class="operation__empty"
        >
          Type in the search
        </p>
        <p
          v-else-if="operations === false || !operations.length"
          class="operation__empty"
        >
          No suitable options were found
        </p>
        <div
          v-else
          class="operation__items"
        >
          <div
            v-for="(operation, index) in operations"
            :key="`operation_${index}`"
            class="operation__item"
          >
            <div
              class="operation__item-tag operation__item-tag-fee-policy"
              :class="{'operation__item-tag-fee-policy-percentage': operation['fee-policy'] === 'percentage', 'operation__item-tag-fee-policy-fixed': operation['fee-policy'] === 'fixed'}"
            >
              <i
                :class="['apr', {'apr-percentage': operation['fee-policy'] === 'percentage', 'apr-lock_close': operation['fee-policy'] === 'fixed'}]"
              ></i>
            </div>
            <div
              class="operation__item-tag operation__item-tag-forwarding"
              :class="{'operation__item-tag-forwarding-true': operation.forwarding, 'operation__item-tag-forwarding-false': !operation.forwarding}"
            >
              <i
                class="apr apr-forwarding"
              ></i>
            </div>
            <div class="operation__item-accounts">
              <div>
                <i class="apr apr-user"></i>
                <a
                  v-if="operation.account"
                  target="_blank"
                  :href="operation.account_url"
                >{{ operation.account }}</a>
                <p v-else>
                  Not found
                </p>
              </div>
              <div>
                <i class="apr apr-wallet"></i>
                <a
                  v-if="operation.wallet"
                  target="_blank"
                  :href="operation.wallet_url"
                >{{ operation.wallet }}</a>
                <p v-else>
                  Not found
                </p>
              </div>
            </div>
            <div class="operation__item-histories">
              <h3>History</h3>
              <div
                v-for="(history, index) in operation.history"
                :key="`operation-history_${index}`"
                class="operation__item-history"
              >
                <div
                  class="operation__item-history-date_and_type"
                >
                  {{ $filters.dateFilter(history.created) }}
                  <span
                    class="operation__type"
                    :class="{'operation__type-receipt': history.type === 'receipt', 'operation__type-payment': history.type === 'payment'}"
                  >
                    {{ history.type }}
                  </span>
                </div>
                <a
                  class="operation__item-history-id"
                  target="_blank"
                  :href="history.url"
                >{{ history.id }}</a>
                <div
                  class="operation__item-history-addresses"
                >
                  <p style="display: flex; align-items: flex-start">
                    <span style="margin-right: 8px;">addresses</span>
                    <span>
                      <span
                        v-if="history.addresses_in.length"
                        style="display: flex; align-items: flex-start"
                      >
                        In:
                        <span style="display: flex; flex-direction: column">
                          <span
                            v-for="(address, index) in history.addresses_in"
                            :key="`address-in_${index}`"
                            style="font-weight: 400; margin-bottom: 8px; margin-left: 8px;"
                          >
                            {{ address }}
                          </span>
                        </span>
                      </span>
                      <span
                        v-if="history.addresses_out.length"
                        style="display: flex; align-items: flex-start"
                      >
                        Out:
                        <span style="display: flex; flex-direction: column">
                          <span
                            v-for="(address, index) in history.addresses_out"
                            :key="`address-out_${index}`"
                            style="font-weight: 400; margin-bottom: 8px; margin-left: 8px;"
                          >
                            {{ address }}
                          </span>
                        </span>
                      </span>
                    </span>
                  </p>
                </div>
                <div
                  v-if="history.txs.length"
                  class="operation__item-history-transactions"
                >
                  <h4>Transactions:</h4>
                  <div class="operation__item-history-transaction">
                    <a
                      v-for="(tx, index) in history.txs"
                      :key="`operation-history-tx_${index}`"
                      target="_blank"
                      :href="tx.url"
                      :class="{'operation__confirmed': tx.is_confirmed, 'operation__unconfirmed': !tx.is_confirmed}"
                    >
                      <span><i
                        class="apr"
                        :class="{'apr-renew': !tx.is_confirmed, 'apr-checkbox_small': tx.is_confirmed}"
                      ></i></span>
                      {{ tx.id }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import refreshToken from "@/mixins/refreshToken";

export default {
  name: "operations",
  components: {BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Operations'
  },
  data() {
    return {
      loader: false,
      operations: null
    }
  },
  computed: {
    searchValue: {
      get() {
        return this.$route.query.search || null
      },
      set(search) {
        if (search && search !== '') {
          this.$router.push({
            query: {
              ...this.$route.query,
              search: search
            }
          })
        } else {
          let query = {...this.$route.query};
          delete query['search'];
          this.$router.push({query});
        }
      }
    },
  },
  async mounted() {
    if (this.$route.query.hasOwnProperty('search')) {
      await this.getCallBack()
    }
  },
  methods: {
    async getCallBack() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }
      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/support/get_history?value=${this.searchValue}`, {
        headers: {
          'Authorization': `Bearer ${this.$store.state.accessToken}`
        }
      })
      switch (response.status) {
        case 200:
          this.operations = await response.json()
          break;
        case 400:
          this.operations = false
      }
      this.loader = false
    }
  }
}
</script>

<style scoped lang="scss">
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.operation {
  .input-icon {
    width: 400px;
    margin: 0 auto;
  }

  &__confirmed {
    i {
      color: green;
    }
  }

  &__unconfirmed {
    i {
      color: var(--primary);
      animation: spinner 2s infinite linear;
    }
  }

  &__type {
    padding: 3px 6px 6px;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 1;
    display: inline-block;

    &-payment {
      background: rgb(255, 64, 50, 0.6);
      color: white;
    }

    &-receipt {
      background: rgb(76, 175, 80, 0.6);
      color: white;
    }
  }

  &__empty {
    text-align: center;
    margin-top: 32px;
    font-size: 24px;
  }

  &__items {
    margin-top: 32px;
  }

  &__item {
    border: 1px solid var(--grey-text);
    padding: 16px;
    border-radius: 10px;
    margin-top: 32px;
    background: white;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &-tag {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      &-fee-policy {
        right: 16px;
        top: 16px;

        &-percentage {
          border-color: var(--primary);
          color: var(--primary);
        }

        &-fixed {
          border-color: #6c0091;
          color: #6c0091;

          i {
            font-weight: 600;
          }
        }
      }

      &-forwarding {
        right: 16px;
        top: 62px;

        &-true {
          border-color: green;
          color: green;
        }

        &-false {
          border-color: red;
          color: red;
        }
      }
    }

    &-accounts {
      display: flex;
      align-items: flex-start;
      margin-bottom: 32px;

      div {
        display: flex;
        align-items: center;

        i {
          margin-right: 8px;
        }

        & + div {
          margin-left: 32px;
        }
      }
    }

    &-histories {
      margin-left: 16px;

      h3 + .operation__item-history {
        margin-top: 8px;
      }
    }

    &-history {
      margin-top: 32px;

      &:first-child {
        margin-top: 0;
      }

      &-id {
        margin-top: 4px;
        display: block;
        margin-bottom: 8px;
      }

      &-date_and_type {
        b {
          margin-left: 8px;
        }
      }

      &-addresses {
        display: flex;
        margin-left: 24px;
        margin-top: 12px;
        margin-bottom: 6px;

        span {
          font-weight: 700;
          margin-right: 8px;
        }
      }

      &-transactions {
        margin-left: 24px;

        h4 {
          font-weight: 400;
          margin-bottom: 4px;
        }
      }

      &-transaction {
        display: flex;
        flex-direction: column;

        a {
          margin-top: 8px;
          display: flex;
          align-items: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border: 1px solid var(--black);
            border-radius: 100%;
            margin-right: 8px;
            font-size: 16px;

            i {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
</style>