<template>
  <CallbackLogTemplate type="wallet"/>
</template>

<script>
import CallbackLogTemplate from '@/components/templates/CallbackLogTemplate.vue';

export default {
  components: {
    CallbackLogTemplate,
  },
};
</script>
