<template>
  <ListTemplate type="wallet"/>
</template>

<script>
import ListTemplate from '@/components/templates/list/ListTemplate.vue';

export default {
  components: {
    ListTemplate,
  },
};
</script>
