<template>
  <PaymentTemplate type="wallet"/>
</template>

<script>
import PaymentTemplate from '@/components/templates/PaymentTemplate.vue';

export default {
  components: {
    PaymentTemplate,
  },
};
</script>
