<template>
  <ReceiptTemplate type="wallet"/>
</template>

<script>
import ReceiptTemplate from '@/components/templates/ReceiptTemplate.vue';

export default {
  components: {
    ReceiptTemplate,
  },
};
</script>
