<template>
  <TransferTemplate type="wallet"/>
</template>

<script>
import TransferTemplate from '@/components/templates/transfer/Template.vue';

export default {
  components: {
    TransferTemplate,
  },
};
</script>
