<template>
  <WalletTemplate type="wallet"/>
</template>

<script>
import WalletTemplate from '@/components/templates/WalletTemplate.vue';

export default {
  components: {
    WalletTemplate,
  },
};
</script>
