<template>
  <BaseLayout class="failed-callbacks">
    <div class="indicators-layout__filters">
      <div
        style="width: 220px; margin: 0;"
        class="fields-row"
      >
        <label for="">From</label>
        <VueDatePicker
          v-model="dtfrom"
          placeholder="From"
          text-input
          auto-apply
          format="dd.MM.yyyy, hh:mm"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="!loader && data.length"
      class="table__container"
    >
      <table class="table table__error-founder">
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>URL</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(d, index) in data"
            :key="`data_${index}`"
          >
            <td>{{ moment(d.dt).format('DD.MM.YYYY hh:mm') }}</td>
            <td
              class="table__status"
              :class="{
                'table__status-429': d.status === 429,
                'table__status-404': d.status === 404,
              }"
            >
              <span>{{ d.status }}</span>
            </td>
            <td>
              <a
                :href="d.url"
                target="_blank"
              >{{ d.url }}</a>
            </td>
            <td v-html="d.content"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      v-if="!loader && !data.length"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      Not data.
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import refreshToken from "@/mixins/refreshToken";
import moment from "moment";

export default {
  name: "failed-callbacks",
  components: {BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Failed callbacks'
  },
  data: () => ({
    data: [],
    moment: moment,
    loader: false,
  }),
  computed: {
    dtfrom: {
      get() {
        return moment(this.$route.query.dtfrom) || moment()
      },
      set(dtfrom) {
        this.$router.push({query: {...this.$route.query, dtfrom: moment(dtfrom).format('YYYY-MM-DDTHH:mm:ss')}});
      }
    },
  },
  watch: {
    async dtfrom() {
      await this.getData()
    }
  },
  async mounted() {
    await this.getData()
  },
  methods: {
    async getData() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/failed_callbacks?dtfrom=${moment(this.dtfrom).format('YYYY-MM-DDTHH:mm:ss')}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      this.data = await response.json()
      this.loader = false
    }
  }
}
</script>