<template>
  <BaseLayout class="frozen-forwards">
    <div class="indicators-layout__filters">
      <div
        style="width: 220px; margin: 0;"
        class="fields-row"
      >
        <label for="">Before</label>
        <VueDatePicker
          v-model="dtbefore"
          placeholder="Before"
          text-input
          auto-apply
          format="dd.MM.yyyy, hh:mm"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div
      v-if="!loader && data.length"
      class="table__container"
    >
      <table class="table table__error-founder">
        <thead>
          <tr>
            <th>Date</th>
            <th>Account/Wallet</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(d, index) in data"
            :key="`data_${index}`"
          >
            <td>{{ moment(d.created).format('DD.MM.YYYY hh:mm') }}</td>
            <td class="table__account">
              <div>
                <i class="apr apr-user"></i>
                <a
                  v-if="d.account"
                  target="_blank"
                  :href="`${$store.state.serviceUrl}/dashboard/account/${d.account}`"
                >{{ d.account }}</a>
                <span
                  v-else
                  style="font-weight: 500;"
                >empty</span>
              </div>
              <div>
                <i class="apr apr-wallet"></i>
                <a
                  v-if="d.wallet"
                  target="_blank"
                  :href="`${$store.state.serviceUrl}/dashboard/wallet/${d.wallet}`"
                >{{ d.wallet }}</a>
                <span
                  v-else
                  style="font-weight: 500;"
                >empty</span>
              </div>
            </td>
            <td class="table__amount">
              <div>
                {{ d.amount }}
                <img
                  width="20"
                  :src="require(`@/assets/img/coins/${d.currency}.svg`)"
                  alt=""
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      v-if="!loader && !data.length"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      Not data.
    </div>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import refreshToken from "@/mixins/refreshToken";
import moment from "moment/moment";

export default {
  name: "frozen-forwards",
  components: {BaseLayout},
  mixins: [refreshToken],
  provide: {
    title: 'Frozen forwards'
  },
  data: () => ({
    data: [],
    moment: moment,
    loader: false,
  }),
  computed: {
    dtbefore: {
      get() {
        return moment(this.$route.query.dtbefore) || moment()
      },
      set(dtbefore) {
        this.$router.push({query: {...this.$route.query, dtbefore: moment(dtbefore).format('YYYY-MM-DDTHH:mm:ss')}});
      }
    },
  },
  watch: {
    async dtbefore() {
      await this.getData()
    }
  },
  async mounted() {
    await this.getData()
  },
  methods: {
    async getData() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/frozen_forwards?dtbefore=${moment(this.dtbefore).format('YYYY-MM-DDTHH:mm:ss')}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      const responseWallets = await fetch(`https://apirone-dev.beastybit.com/api/v2/wallets`, {method: 'OPTIONS'})
      const resultWallets = await responseWallets.json()

      this.data = await response.json()

      this.data.forEach((item, index) => {
        resultWallets.currencies.forEach(currency => {
          const toFixed = currency.abbr.toLowerCase().includes('usdt') || currency.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currency['units-factor']).toString().length - 1;
          if (item.currency === currency.abbr) {
            this.data[index].amount = (item.amount * currency['units-factor']).toFixed(toFixed)
          }
        })
      })
      this.loader = false
    }
  }
}
</script>

<style scoped lang="scss">

</style>