<section id="contact" class="contact">
    <div class="container">
        <div class="contact__inner">
            <p class="suptitle">
                Curious to see how VisaEase can transform your visa services?
            </p>
            <h2 class="title">
                Our team is ready to provide you with a personalized demonstration.
                <span style="font-weight: 500;">Schedule your demo today!</span>
            </h2>
            <div class="group-btn">
                <a href="https://calendly.com/visumio/30min" target="_blank">
                    Schedule a demo
                    <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt="arrow">
                </a>
                <span>or</span>
                <a href="mailto:hello@visum.io">
                    Write to us
                    <img src="{{ url_for('static', filename='images/arrow.svg') }}" alt="arrow">
                </a>
            </div>
        </div>
    </div>
</section>