<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="left">
                <a href="">Visum.IO UG</a>
                <a href="mailto:hello@visum.io">hello@visum.io</a>
            </div>
            <div class="right">
                <a href="/imprint/">Impressum</a>
                <a href="/data-protection/">Datenschutz</a>
                <a href="/agb/">AGB</a>
            </div>
        </div>
    </div>
</footer>