<section class="future-block">
    <p class="future-block__suptitle rellax" data-rellax-percentage="0.3" data-rellax-speed="1.8">VisaEase Application</p>
    <h3 class="future-block__title rellax" data-rellax-percentage="0.3" data-rellax-speed="1.7">
        Advanced Visa Obtaining:
        <span>Welcome to the Future!</span>
    </h3>
    <p class="future-block__subtitle rellax" data-rellax-percentage="0.3" data-rellax-speed="1.9">
        With the VisaEase App, you can apply for eVisas, generate worldwide visa applications, manage visa
        applications,
        and much more. And all in one app!
    </p>
</section>