<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        <a href="/">
          {% include 'components/icons/logo.html' %}
        </a>
        <ul>
          <li><a href="#howItWorks">How it works</a></li>
          <li><a href="#forWhom">For whom</a></li>
          {#                    <li><a href="#contact">Contact</a></li>#}
        </ul>
      </div>
{#      <div class="social-network">#}
{#        <span>Wir sind in sozialen Netzwerken</span>#}
{#        <div class="social-network__list">#}
{#          <a target="_blank" href="https://www.facebook.com/groups/1122541668756668/"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt=""></a>#}
{#          <a target="_blank" href="https://www.instagram.com/visaease_global"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt=""></a>#}
{#          <a target="_blank" href="https://www.youtube.com/@visaease_global"><img src="{{ url_for('static', filename='images/youtube.svg') }}" alt=""></a>#}
{#          <a target="_blank" href="https://t.me/+fkohc4if3FhkNWYy"><img src="{{ url_for('static', filename='images/telegram.svg') }}" alt=""></a>#}
{#        </div>#}
{#      </div>#}
      <div class="header__right">
        <a target="_blank" href="https://calendly.com/visumio/30min">Schedule Free Demo</a>
      </div>
    </div>
  </div>
</header>