<section id="forWhom" class="integrations">
    <div class="small-container">
        <div class="integrations__header">
            <div class="integrations__header-left">
                <h2>
                    Seamless <span style="color: var(--primary)">Integration,</span> <span style="font-weight: 300;">Maximum Customization</span>:
                </h2>
                <p>
                    Integrating VisaEase into your website and business processes opens new horizons for your company.
                    Through our REST API interface, seamless integration becomes a breeze, allowing you to offer your
                    customers a customized visa service in your own design.
                </p>
{#                <button>#}
{#                    <img src="{{ url_for('static', filename='images/integrations/docs.svg') }}" alt="docs">#}
{#                    Documentation#}
{#                </button>#}
            </div>
            <div style="opacity: 0.5" class="integrations__header-right">
              {% include 'components/icons/integrations.html' %}
            </div>
        </div>
        <div class="integrations__list">
            <div class="item">
                <img src="{{ url_for('static', filename='images/integrations/integrations-icon1.svg') }}" alt="icon1">
                <h4>Efficiency Boost</h4>
                <p>
                    Integration facilitates automation
                    of processes, increasing overall efficiency and reducing the need for manual tasks.
                </p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/integrations/integrations-icon2.svg') }}" alt="icon1">
                <h4>Competitive Edge</h4>
                <p>
                    Stand out from competitors by offering a tailored visa service that provides your customers with
                    a unique experience.
                </p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/integrations/integrations-icon3.svg') }}" alt="icon1">
                <h4>Customer Engagement</h4>
                <p>
                    Provide personalized service seamlessly integrated into your offerings, strengthening customer
                    engagement.
                </p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/integrations/integrations-icon4.svg') }}" alt="icon1">
                <h4>Brand Customization</h4>
                <p>
                    Present your visa service under your own name and in your corporate colors to ensure a consistent
                    brand experience.
                </p>
            </div>
        </div>
        <div class="integrations__phone">
            <img class="integrations__phone-img" width="500"
                 src="{{ url_for('static', filename='images/integrations/integrations-phone.svg') }}" alt="">
            <div class="blur-circle"></div>
            <div
                    class="integrations__phone-success my-paroller add-class-paroller"
                    data-paroller-factor="0.22"
                    data-paroller-factor-lg="0.1"
                    data-paroller-factor-md="0.05"
                    data-paroller-factor-sm="0.04"
                    data-paroller-factor-xs="0.14"
                    data-paroller-transition="transform .1s linear"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal"
            >
                <div class="integrations__phone-success-inner section-video__notification">
                    <div class="circle"></div>
                    <div class="text">
                        <p>Application is ready</p>
                        <span>Completed</span>
                    </div>
                    <div class="view">View</div>
                </div>
            </div>
            <div
                    class="integrations__phone-info my-paroller add-class-paroller"
                    data-paroller-factor="0.25"
                    data-paroller-factor-lg="0.1"
                    data-paroller-factor-md="0.05"
                    data-paroller-factor-sm="0.04"
                    data-paroller-factor-xs="0.14"
                    data-paroller-transition="transform .1s linear"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal"
            >
                <div class="integrations__phone-info-inner">
                    <div class="content">
                        <h5 class="name">Peterson, Marie-Luise</h5>
                        <p class="document">Ordinary Passport</p>
                        <div class="data">
                            <p>Entry</p>
                            <span>03-23-2023</span>
                        </div>
                        <div class="data">
                            <p>Visa Type</p>
                            <span>Electronic Tourist Visa</span>
                        </div>
                        <div class="data">
                            <p>Duration</p>
                            <span>90 Days</span>
                        </div>
                    </div>
                    <div class="group-btn">
                        <span>View Visa</span>
                        <span style="background: rgba(236, 82, 74, 0.1);">Cancel</span>
                    </div>
                </div>
            </div>
            <div
                    class="integrations__phone-list my-paroller add-class-paroller"
                    data-paroller-factor="-0.2"
                    data-paroller-factor-lg="-0.1"
                    data-paroller-factor-md="-0.05"
                    data-paroller-factor-sm="-0.04"
                    data-paroller-factor-xs="-0.14"
                    data-paroller-transition="transform .1s linear"
                    data-paroller-type="foreground"
                    data-paroller-direction="horizontal"
            >
                <div class="integrations__phone-list-inner">
                    <ul>
                        <li style="color: rgba(255,255,255,0.5)">Business Visa Multiple</li>
                        <li style="color: rgba(255,255,255,0.5)">Short-Term Work Permit</li>
                        <li>Electronic Tourist Visa</li>
                        <li style="background: linear-gradient(90deg, rgba(244, 162, 66, 0.4), rgba(244, 162, 66, 0.2));">
                            Apply for Visa
                        </li>
                    </ul>
                </div>
            </div>
            <div class="integrations__phone-feedback my-paroller add-class-paroller"
                 data-paroller-factor="-0.25"
                 data-paroller-factor-lg="-0.1"
                 data-paroller-factor-md="-0.05"
                 data-paroller-factor-sm="-0.04"
                 data-paroller-factor-xs="-0.14"
                 data-paroller-transition="transform .1s linear"
                 data-paroller-type="foreground"
                 data-paroller-direction="horizontal"
            >
                <div class="feedback">
                    <img src="{{ url_for('static', filename='images/integrations/quatation-down.svg') }}" alt="">
                    <span>Wholesome Travel Service! Thx</span>
                    <img src="{{ url_for('static', filename='images/integrations/quatation-up.svg') }}" alt="">
                </div>
                <div class="name">Marie-Luise Peterson</div>
                <div class="stars">
                    <img src="{{ url_for('static', filename='images/integrations/star.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/integrations/star.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/integrations/star.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/integrations/star.svg') }}" alt="">
                    <img src="{{ url_for('static', filename='images/integrations/star.svg') }}" alt="">
                </div>
            </div>
            <div class="integrations__phone-figures">
                <div class="circle"></div>
                <div class="circle circle-small"></div>
            </div>
        </div>
        <div class="integrations__service">
            <h2>
                Elevating Visa Service
                <span style="font-weight: 500;">
                    Across
                    <span style="color: var(--primary)">Travel Industry</span>
                </span>
            </h2>
            <ul>
                <li class="integrations-service__li wow animate__fadeInLeft" data-wow-duration="0.5s">
                    <h5>Visa Agencies</h5>
                    <p>
                        can elevate their operational efficiency and service quality by automating visa application
                        processes, reducing manual workload and enhancing overall efficiency.
                    </p>
                </li>
                <li class="integrations-service__li wow animate__fadeInLeft" data-wow-duration="0.5s">
                    <h5>Travel Agencies</h5>
                    <p>
                        can elevate their services through integration, offering diverse options that include accessible
                        visa services. Simplify the application experience for customers
                        and boost overall satisfaction.
                    </p>
                </li>
                <li class="integrations-service__li wow animate__fadeInLeft" data-wow-duration="0.5s">
                    <h5>Tour Operators</h5>
                    <p>
                        can elevate their standing by seamlessly offering in-house visa services. Streamline operations
                        and provide clients with a distinctive and hassle-free travel experience.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>