<section id="modalVideo" class="modal-video">
  <video id="video" controls>
    <source src="{{ url_for('static', filename='images/video.mp4') }}" type="video/mp4">
    Ihr Browser unterstützt nicht das Element <code>video</code>.
  </video>
  <div id="maskVideo" class="mask"></div>
  <button id="closeVideo" class="close-btn"></button>
</section>