<section class="questionnaire-info small-container">
    <div class="questionnaire-info__left">
        <div class="text">
            <h3>Automated Data Entry</h3>
            <p>
                Streamline the visa application process with automated data entry, reducing the need for manual input
                and
                saving time.
            </p>
        </div>
        <div class="questionnaire-info__demo">
            <div class="questionnaire-info__demo-sidebar">
                <img width="55" src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
                <p class="name">Marie Luise Peterson</p>
                <p class="created">Created 02/23/2023</p>
                <ul class="list-link">
                    <li>
                        <div>
                            <svg width="12" height="9.6" viewBox="0 0 24 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.4 0C1.76348 0 1.15303 0.252856 0.702944 0.702944C0.252856 1.15303 0 1.76348 0 2.4V8.4H7.356C7.908 6.288 9.816 4.8 12 4.8C13.063 4.80284 14.0951 5.15759 14.9353 5.80886C15.7754 6.46013 16.3763 7.37126 16.644 8.4H24V2.4C24 1.76348 23.7471 1.15303 23.2971 0.702944C22.847 0.252856 22.2365 0 21.6 0H2.4ZM12 7.2C11.3635 7.2 10.753 7.45286 10.3029 7.90294C9.85286 8.35303 9.6 8.96348 9.6 9.6C9.6 10.2365 9.85286 10.847 10.3029 11.2971C10.753 11.7471 11.3635 12 12 12C12.6365 12 13.247 11.7471 13.6971 11.2971C14.1471 10.847 14.4 10.2365 14.4 9.6C14.4 8.96348 14.1471 8.35303 13.6971 7.90294C13.247 7.45286 12.6365 7.2 12 7.2ZM0 10.8V16.8C0 17.4365 0.252856 18.047 0.702944 18.4971C1.15303 18.9471 1.76348 19.2 2.4 19.2H21.6C22.2365 19.2 22.847 18.9471 23.2971 18.4971C23.7471 18.047 24 17.4365 24 16.8V10.8H16.644C16.3763 11.8287 15.7754 12.7399 14.9353 13.3911C14.0951 14.0424 13.063 14.3972 12 14.4C10.937 14.3972 9.90485 14.0424 9.06471 13.3911C8.22458 12.7399 7.62374 11.8287 7.356 10.8H0Z"
                                      fill="#747474"></path>
                            </svg>
                        </div>
                        <span>Passport Data</span>
                    </li>
                    <li>
                        <div>
                            <svg width="12" height="12" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 24C2 24 0 24 0 22C0 20 2 14 12 14C22 14 24 20 24 22C24 24 22 24 22 24H2ZM12 12C13.5913 12 15.1174 11.3679 16.2426 10.2426C17.3679 9.11742 18 7.5913 18 6C18 4.4087 17.3679 2.88258 16.2426 1.75736C15.1174 0.632141 13.5913 0 12 0C10.4087 0 8.88258 0.632141 7.75736 1.75736C6.63214 2.88258 6 4.4087 6 6C6 7.5913 6.63214 9.11742 7.75736 10.2426C8.88258 11.3679 10.4087 12 12 12Z"
                                      fill="#747474"></path>
                            </svg>
                        </div>
                        <span>Personal Data</span>
                    </li>
                    <li>
                        <div>
                            <svg width="12" height="9.6" viewBox="0 0 24 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.0092 5.50852C17.0092 8.27464 14.7668 10.517 12.0007 10.517C9.23458 10.517 6.99219 8.27464 6.99219 5.50852C6.99219 2.74239 9.23458 0.5 12.0007 0.5C14.7668 0.5 17.0092 2.74239 17.0092 5.50852Z"
                                      fill="#747474" stroke="#747474"></path>
                                <path d="M7.36931 15.3451C7.36931 17.242 5.83156 18.7797 3.93465 18.7797C2.03775 18.7797 0.5 17.242 0.5 15.3451C0.5 13.4481 2.03775 11.9104 3.93465 11.9104C5.83156 11.9104 7.36931 13.4481 7.36931 15.3451Z"
                                      fill="#747474" stroke="#747474"></path>
                                <path d="M4.12891 15.7383L8.85049 9.44287" stroke="#747474"></path>
                                <path d="M19.873 15.7383L15.1515 9.44287" stroke="#747474"></path>
                                <path d="M23.5002 15.3451C23.5002 17.242 21.9624 18.7797 20.0655 18.7797C18.1686 18.7797 16.6309 17.242 16.6309 15.3451C16.6309 13.4481 18.1686 11.9104 20.0655 11.9104C21.9624 11.9104 23.5002 13.4481 23.5002 15.3451Z"
                                      fill="#747474" stroke="#747474"></path>
                            </svg>
                        </div>
                        <span>Family Details</span>
                    </li>
                    <li>
                        <div>
                            <svg width="12" height="9.2" viewBox="0 0 24 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.8 3.6H19.2V20.4H4.8V3.6H7.2V2.4C7.2 1.76348 7.45286 1.15303 7.90294 0.702944C8.35303 0.252856 8.96348 0 9.6 0H14.4C15.0365 0 15.647 0.252856 16.0971 0.702944C16.5471 1.15303 16.8 1.76348 16.8 2.4V3.6ZM20.4 3.6H21.6C22.2365 3.6 22.847 3.85286 23.2971 4.30294C23.7471 4.75303 24 5.36348 24 6V18C24 18.6365 23.7471 19.247 23.2971 19.6971C22.847 20.1471 22.2365 20.4 21.6 20.4H20.4V3.6ZM3.6 3.6V20.4H2.4C1.76348 20.4 1.15303 20.1471 0.702944 19.6971C0.252856 19.247 0 18.6365 0 18V6C0 4.68 1.08 3.6 2.4 3.6H3.6ZM9.6 2.4V3.6H14.4V2.4H9.6Z"
                                      fill="#747474"></path>
                            </svg>
                        </div>
                        <span>Travel Details</span>
                    </li>
                    <li>
                        <div>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 0.75H0.75C0.551088 0.75 0.360322 0.829018 0.21967 0.96967C0.0790176 1.11032 0 1.30109 0 1.5V10.5C0 10.6989 0.0790176 10.8897 0.21967 11.0303C0.360322 11.171 0.551088 11.25 0.75 11.25H11.25C11.4489 11.25 11.6397 11.171 11.7803 11.0303C11.921 10.8897 12 10.6989 12 10.5V1.5C12 1.30109 11.921 1.11032 11.7803 0.96967C11.6397 0.829018 11.4489 0.75 11.25 0.75ZM2.595 2.25C2.8175 2.25 3.03501 2.31598 3.22002 2.4396C3.40502 2.56321 3.54922 2.73891 3.63436 2.94448C3.71951 3.15005 3.74179 3.37625 3.69838 3.59448C3.65498 3.81271 3.54783 4.01316 3.3905 4.1705C3.23316 4.32783 3.03271 4.43498 2.81448 4.47838C2.59625 4.52179 2.37005 4.49951 2.16448 4.41436C1.95891 4.32922 1.78321 4.18502 1.6596 4.00002C1.53598 3.81501 1.47 3.5975 1.47 3.375C1.47 3.07663 1.58853 2.79048 1.7995 2.5795C2.01048 2.36853 2.29663 2.25 2.595 2.25ZM1.5 9.375V7.8375L3.75 5.5575C3.82026 5.48766 3.91531 5.44845 4.01437 5.44845C4.11344 5.44845 4.20849 5.48766 4.27875 5.5575L5.25 6.50625L2.37 9.375H1.5ZM10.5 9.375H3.43125L7.7925 5.01375C7.86276 4.94391 7.95781 4.9047 8.05688 4.9047C8.15594 4.9047 8.25099 4.94391 8.32125 5.01375L10.5 7.1925V9.375Z"
                                      fill="#747474"></path>
                            </svg>
                        </div>
                        <span>Photograph</span>
                    </li>
                </ul>
            </div>
            <div class="questionnaire-info__demo-content"></div>
        </div>
    </div>
    <div class="questionnaire-info__right">
        <div class="questionnaire-info__item rellax" data-rellax-percentage="0.3" data-rellax-speed="1.2">
            <h3>Error-Proof Applications</h3>
            <p>Our advanced plausibility checks help prevent errors in your visa submissions, ensuring accuracy and
                completeness.</p>
        </div>
        <div class="questionnaire-info__group-item rellax" data-rellax-percentage="0.3" data-rellax-speed="1.4">
            <div class="questionnaire-info__small-item">
                <h3>Data Continuity</h3>
                <p>
                    Store and reuse your visa application data for future submissions, making the process more efficient
                    and convenient.
                </p>
            </div>
            <div class="questionnaire-info__small-item">
                <h3>Offline Mode</h3>
                <p>
                    Filling out applications even when the ministerial website is offline. VisaEase will submit it as
                    soon as it's back online, ensuring uninterrupted service.
                </p>
            </div>
        </div>
    </div>
</section>