<div class="section-video__wrap-adaptive container">
  <div class="section-video__wrap">
    <section class="section-video">
      <div class="section-video__img-questionnaire-wrap">
        <img
          class="section-video__img-questionnaire rellax"
          src="{{ url_for('static', filename='images/questionnaire.png') }}"
          alt="questionnaire"
          data-rellax-percentage="0.3"
          data-rellax-speed="3.6"
          data-rellax-xs-speed="1"
        >
        <div class="section-video__notification">
          <div class="circle"></div>
          <div class="text">
            <p>Application is ready</p>
            <span>Completed</span>
          </div>
          <div class="view">View</div>
        </div>
        <div class="section-video__invalid-wrap rellax"
             data-rellax-percentage="0.5"
             data-rellax-speed="1.6"
             data-rellax-xs-speed="1"
        >
          <div class="section-video__invalid">
            Please check date
          </div>
        </div>
        <div class="section-video__play">
          <div class="section-video__play-hover-content">
            <p>Watch video of VisaEase </p>
            <span>doing magic for 2+ min.</span>
          </div>
          <button id="openVideo" class="section-video__play-button">
            <img src="{{ url_for('static', filename='images/section-video_play.svg') }}" alt="play">
          </button>
        </div>
      </div>
    </section>
  </div>
</div>