<section id="howItWorks" class="visa-components small-container">
    <div class="visa-components__left">
        <h3 class="visa-components__title">
            One input form
        </h3>
        <p class="visa-components__text">
            The universal input form streamlines visa applications worldwide
        </p>
        <div class="visa-components__select">
            <div class="visa-components__selected">
                <img src="{{ url_for('static', filename='images/visa-components/global.svg') }}" alt="global">
                <span>Select country to apply</span>
            </div>
            <div class="visa-components__options">
                <span>POPULAR DESTINATIONS</span>
                <ul>
                    <li>
                        <img src="{{ url_for('static', filename='images/visa-components/chn.svg') }}" alt="China">
                        China
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/visa-components/ind.svg') }}" alt="India">
                        India
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/visa-components/rus.svg') }}" alt="Russia">
                        Russia
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/visa-components/vnm.svg') }}" alt="Vietnam">
                        Vietnam
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='images/visa-components/usa.svg') }}"
                             alt="United States">
                        Unites States
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="visa-components__right">
        <div class="visa-components__item rellax" data-rellax-percentage="0.3" data-rellax-speed="1.1">
            <h3 class="visa-components__title">
                Intelligent Visa Application UX/UI
            </h3>
            <p class="visa-components__text">
                User-focused visa process experience
            </p>
            <ul>
                <li>
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.4 0C1.76348 0 1.15303 0.252856 0.702944 0.702944C0.252856 1.15303 0 1.76348 0 2.4V8.4H7.356C7.908 6.288 9.816 4.8 12 4.8C13.063 4.80284 14.0951 5.15759 14.9353 5.80886C15.7754 6.46013 16.3763 7.37126 16.644 8.4H24V2.4C24 1.76348 23.7471 1.15303 23.2971 0.702944C22.847 0.252856 22.2365 0 21.6 0H2.4ZM12 7.2C11.3635 7.2 10.753 7.45286 10.3029 7.90294C9.85286 8.35303 9.6 8.96348 9.6 9.6C9.6 10.2365 9.85286 10.847 10.3029 11.2971C10.753 11.7471 11.3635 12 12 12C12.6365 12 13.247 11.7471 13.6971 11.2971C14.1471 10.847 14.4 10.2365 14.4 9.6C14.4 8.96348 14.1471 8.35303 13.6971 7.90294C13.247 7.45286 12.6365 7.2 12 7.2ZM0 10.8V16.8C0 17.4365 0.252856 18.047 0.702944 18.4971C1.15303 18.9471 1.76348 19.2 2.4 19.2H21.6C22.2365 19.2 22.847 18.9471 23.2971 18.4971C23.7471 18.047 24 17.4365 24 16.8V10.8H16.644C16.3763 11.8287 15.7754 12.7399 14.9353 13.3911C14.0951 14.0424 13.063 14.3972 12 14.4C10.937 14.3972 9.90485 14.0424 9.06471 13.3911C8.22458 12.7399 7.62374 11.8287 7.356 10.8H0Z"
                              fill="#8D8D9C"></path>
                    </svg>
                    <span>Passport data</span>
                </li>
                <li>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 24C2 24 0 24 0 22C0 20 2 14 12 14C22 14 24 20 24 22C24 24 22 24 22 24H2ZM12 12C13.5913 12 15.1174 11.3679 16.2426 10.2426C17.3679 9.11742 18 7.5913 18 6C18 4.4087 17.3679 2.88258 16.2426 1.75736C15.1174 0.632141 13.5913 0 12 0C10.4087 0 8.88258 0.632141 7.75736 1.75736C6.63214 2.88258 6 4.4087 6 6C6 7.5913 6.63214 9.11742 7.75736 10.2426C8.88258 11.3679 10.4087 12 12 12Z"
                              fill="#8D8D9C"></path>
                    </svg>
                    <span>Personal data</span>
                </li>
                <li>
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.0092 5.50852C17.0092 8.27464 14.7668 10.517 12.0007 10.517C9.23458 10.517 6.99219 8.27464 6.99219 5.50852C6.99219 2.74239 9.23458 0.5 12.0007 0.5C14.7668 0.5 17.0092 2.74239 17.0092 5.50852Z"
                              fill="#8D8D9C" stroke="#8D8D9C"></path>
                        <path d="M7.36931 15.3451C7.36931 17.242 5.83156 18.7797 3.93465 18.7797C2.03775 18.7797 0.5 17.242 0.5 15.3451C0.5 13.4481 2.03775 11.9104 3.93465 11.9104C5.83156 11.9104 7.36931 13.4481 7.36931 15.3451Z"
                              fill="#8D8D9C" stroke="#8D8D9C"></path>
                        <path d="M4.12891 15.7383L8.85049 9.44287" stroke="#8D8D9C"></path>
                        <path d="M19.873 15.7383L15.1515 9.44287" stroke="#8D8D9C"></path>
                        <path d="M23.5002 15.3451C23.5002 17.242 21.9624 18.7797 20.0655 18.7797C18.1686 18.7797 16.6309 17.242 16.6309 15.3451C16.6309 13.4481 18.1686 11.9104 20.0655 11.9104C21.9624 11.9104 23.5002 13.4481 23.5002 15.3451Z"
                              fill="#8D8D9C" stroke="#8D8D9C"></path>
                    </svg>
                    <span>family details</span>
                </li>
                <li>
                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8 3.6H19.2V20.4H4.8V3.6H7.2V2.4C7.2 1.76348 7.45286 1.15303 7.90294 0.702944C8.35303 0.252856 8.96348 0 9.6 0H14.4C15.0365 0 15.647 0.252856 16.0971 0.702944C16.5471 1.15303 16.8 1.76348 16.8 2.4V3.6ZM20.4 3.6H21.6C22.2365 3.6 22.847 3.85286 23.2971 4.30294C23.7471 4.75303 24 5.36348 24 6V18C24 18.6365 23.7471 19.247 23.2971 19.6971C22.847 20.1471 22.2365 20.4 21.6 20.4H20.4V3.6ZM3.6 3.6V20.4H2.4C1.76348 20.4 1.15303 20.1471 0.702944 19.6971C0.252856 19.247 0 18.6365 0 18V6C0 4.68 1.08 3.6 2.4 3.6H3.6ZM9.6 2.4V3.6H14.4V2.4H9.6Z"
                              fill="#8D8D9C"></path>
                    </svg>
                    <span>travel details</span>
                </li>
            </ul>
        </div>
        <div class="visa-components__item rellax" data-rellax-percentage="0.3" data-rellax-speed="2.1">
            <h3 class="visa-components__title">
                Harnessing Application Data
            </h3>
            <p class="visa-components__text">
                Data management for a smarter, more efficient process
            </p>
            <div class="visa-components__data">
                <div class="visa-components__data-bar">
                    <div>Williams, Emma </div>
                    <div>
                        <img width="16" src="{{ url_for('static', filename='images/visa-components/ind.svg') }}" alt="India">
                        India
                    </div>
                    <div>
                        Completed
                        <span class="visa-components__action">
                            <span class="actions"></span>
                            <span class="arrow"><img  src="{{ url_for('static', filename='images/visa-components/arrow.svg') }}" alt="arrow"></span>
                        </span>
                    </div>
                </div>
                <div class="visa-components__data-dropdown">
                    <span>Edit</span>
                    <span>Use data</span>
                </div>
            </div>
        </div>
    </div>
</section>