<template>
  <AddressTemplate type="account" :currency="$store.state.currency"/>
</template>

<script>
import AddressTemplate from '@/components/templates/AddressTemplate.vue';

export default {
  components: {
    AddressTemplate,
  },
};
</script>
