<template>
  <AddressesTemplate type="account" :currency="$store.state.currency"/>
</template>

<script>
import AddressesTemplate from '@/components/templates/AddressesTemplate.vue';

export default {
  components: {
    AddressesTemplate,
  },
};
</script>
