<template>
  <CallbackLogTemplate type="account" :currency="$store.state.currency"/>
</template>

<script>
import CallbackLogTemplate from '@/components/templates/CallbackLogTemplate.vue';

export default {
  components: {
    CallbackLogTemplate,
  },
};
</script>
