<template>
  <ReceiptTemplate type="account" :currency="$store.state.currency"/>
</template>

<script>
import ReceiptTemplate from '@/components/templates/ReceiptTemplate.vue';

export default {
  components: {
    ReceiptTemplate,
  },
};
</script>
