<template>
  <EmptyTemplate text="Please authorize to view settings." v-if="!$store.state.authorized"/>
  <div v-else>
    <SettingsTemplate type="account" :currency="$store.state.currency"/>
  </div>
</template>

<script>
import EmptyTemplate from '@/components/templates/EmptyTemplate.vue';
import SettingsTemplate from '@/components/templates/SettingsTemplate.vue';

export default {
  components: {
    EmptyTemplate,
    SettingsTemplate,
  },
};
</script>
