<template>
  <section class="navbar">
    <div class="navbar__logo-and-list">
      <div class="navbar__logo">
        <router-link to="/home/">A&A</router-link>
      </div>
      <ul class="navbar__list">
        <li>
          <router-link exact active-class="navbar__link-active" to="/">
            <svg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8 23V14.8824H16.2V23H22.95V12.1765H27L13.5 0L0 12.1765H4.05V23H10.8Z" fill="white"/>
            </svg>
          </router-link>
        </li>
        <li>
          <router-link active-class="navbar__link-active" to="/finance/">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M11.5862 0C5.19062 0 0 5.376 0 12C0 18.624 5.19062 24 11.5862 24C17.9818 24 23.1724 18.624 23.1724 12C23.1724 5.376 17.9818 0 11.5862 0ZM12.6058 18.912V20.4H10.5782V18.852C9.72083 18.636 7.8091 17.928 7.07917 15.3L8.9909 14.496C9.06041 14.76 9.6629 17.004 11.7716 17.004C12.8491 17.004 14.0657 16.428 14.0657 15.072C14.0657 13.92 13.2546 13.32 11.424 12.636C10.1495 12.168 7.54262 11.4 7.54262 8.664C7.54262 8.544 7.55421 5.784 10.5782 5.112V3.6H12.6058V5.088C14.7377 5.472 15.5139 7.236 15.6877 7.764L13.8571 8.568C13.7297 8.148 13.1735 6.96 11.6557 6.96C10.8447 6.96 9.55862 7.404 9.55862 8.628C9.55862 9.768 10.555 10.2 12.6174 10.908C15.3981 11.904 16.1048 13.368 16.1048 15.048C16.1048 18.204 13.2083 18.804 12.6058 18.912Z"
                  fill="white"/>
            </svg>
          </router-link>
        </li>
        <li>
          <router-link to="">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M15.1667 0H2.33333C1.05 0 0 1.05 0 2.33333V18.6667C0 19.95 1.05 21 2.33333 21H18.6667C19.95 21 21 19.95 21 18.6667V5.83333L15.1667 0ZM4.66667 4.66667H10.5V7H4.66667V4.66667ZM16.3333 16.3333H4.66667V14H16.3333V16.3333ZM16.3333 11.6667H4.66667V9.33333H16.3333V11.6667ZM14 7V2.33333L18.6667 7H14Z"
                  fill="white"/>
            </svg>
          </router-link>
        </li>
        <li>
          <router-link to="">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M19.1375 9.04176L13.8875 14.2418C13.8075 14.3218 13.6876 14.3718 13.5676 14.3718H10.6075V11.3118C10.6075 11.1918 10.6575 11.0818 10.7375 11.0018L15.9376 5.84176"
                  stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
              <path
                  d="M19.2076 11.9818V21.6618C19.2076 21.9018 19.0176 22.0918 18.7776 22.0918H3.34756C3.10756 22.0918 2.91754 21.9018 2.91754 21.6618V6.23176C2.91754 5.99176 3.10756 5.80176 3.34756 5.80176H12.9875"
                  stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                  stroke-linejoin="round"/>
              <path d="M18.8863 2.90824L17.359 4.43558L20.5551 7.63167L22.0824 6.10433L18.8863 2.90824Z" stroke="white"
                    stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </router-link>
        </li>
        <li>
          <router-link to="">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM10 18C5.58 18 2 14.42 2 10C2 5.58 5.58 2 10 2C14.42 2 18 5.58 18 10C18 14.42 14.42 18 10 18Z"
                  fill="white"/>
              <path d="M10.5 5H9V11L14.25 14.15L15 12.92L10.5 10.25V5Z" fill="white"/>
            </svg>
          </router-link>
        </li>
      </ul>
    </div>
    <div class="navbar__settings">
      <a href="">
        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M23.8223 15.3708C23.8802 14.9333 23.9091 14.4812 23.9091 14C23.9091 13.5333 23.8802 13.0667 23.8079 12.6292L26.7427 10.325C27.0029 10.1208 27.0752 9.72708 26.9162 9.43542L24.1404 4.59375C23.9669 4.27292 23.6055 4.17083 23.2874 4.27292L19.8322 5.67292C19.1093 5.11875 18.3431 4.65208 17.4901 4.30208L16.9697 0.597916C16.9119 0.247916 16.6227 0 16.2758 0H10.7242C10.3773 0 10.1026 0.247916 10.0448 0.597916L9.52431 4.30208C8.67134 4.65208 7.89066 5.13333 7.18227 5.67292L3.72703 4.27292C3.40897 4.15625 3.04755 4.27292 2.87406 4.59375L0.112766 9.43542C-0.0607191 9.74167 -0.00289107 10.1208 0.28625 10.325L3.22103 12.6292C3.14875 13.0667 3.09092 13.5479 3.09092 14C3.09092 14.4521 3.11983 14.9333 3.19212 15.3708L0.257336 17.675C-0.00289105 17.8792 -0.0751762 18.2729 0.0838515 18.5646L2.85961 23.4062C3.03309 23.7271 3.39452 23.8292 3.71257 23.7271L7.16781 22.3271C7.89066 22.8812 8.65689 23.3479 9.50985 23.6979L10.0303 27.4021C10.1026 27.7521 10.3773 28 10.7242 28H16.2758C16.6227 28 16.9119 27.7521 16.9552 27.4021L17.4757 23.6979C18.3287 23.3479 19.1093 22.8812 19.8177 22.3271L23.273 23.7271C23.591 23.8438 23.9525 23.7271 24.1259 23.4062L26.9017 18.5646C27.0752 18.2437 27.0029 17.8792 26.7282 17.675L23.8223 15.3708ZM13.5 19.25C10.6375 19.25 8.29546 16.8875 8.29546 14C8.29546 11.1125 10.6375 8.75 13.5 8.75C16.3625 8.75 18.7045 11.1125 18.7045 14C18.7045 16.8875 16.3625 19.25 13.5 19.25Z"
              fill="white"/>
        </svg>
      </a>
      <div @click="logout" class="navbar__profile-photo">
        <img src="@/assets/images/photo_passport.jpeg" alt="">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "navigation",
  methods: {
    logout() {
      this.$router.push('/login?message=logout')
    }
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"
.navbar
  z-index 3
  background linear_blue_purple
  min-width: 54px
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  height: 100vh
  padding: 18px 0
  box-shadow 7px 0 10px 0 rgba(#000000, 0.13)

  &__link-active
    background white

    path
      fill main_blue


  &__logo-and-list
    display flex
    flex-direction column
    align-items center
    justify-content center
    width: 100%

  &__logo
    width: 35px
    height: 35px
    background white
    border-radius 100px
    display flex
    align-items center
    justify-content center
    margin-bottom: 48px

  &__list
    width: 100%

    a
      display flex
      align-items center
      justify-content center
      padding: 8px 11px

  &__settings
    display flex
    flex-direction column
    align-items center
    justify-content center

    a
      margin-bottom: 16px

  &__profile-photo
    width: 35px
    height: 35px
    border-radius 100px
    overflow hidden
    cursor pointer
    img
      width: 35px
      height: 35px
      object-fit cover
      object-position center center
</style>
