<template>
  <section class="news">
    <div v-for="item in news" class="news__item wh-shadow-block">
      <div class="news__item-header">
        <div class="news__item-title-logo">
          <img :src="item.logo" alt="">
          <h4>{{ item.title }}</h4>
        </div>
        <span class="news__item-time">
          {{ item.date }}
        </span>
      </div>
      <p>{{ item.text }}</p>
      <img :src="item.images" alt="">
      <button class="border-blue-button">Открыть новость</button>
    </div>
  </section>
</template>

<script>
export default {
  name: "newsContent",
  data() {
    return {
      news: [
        {
          title: 'NR',
          logo: require('@/assets/images/nr-logo.jpg'),
          images: require('@/assets/images/nr-images.jpg'),
          text: 'ЦИК РФ подготовит предложения по улучшению общественного наблюдения, их могут применить в ближайший день голосования и на выборах президента — Памфилова',
          date: '16.01.2023 15:00'
        },
        {
          title: 'Трансформатор',
          logo: require('@/assets/images/transformator-logo.jpg'),
          images: require('@/assets/images/transformator-images.jpg'),
          text: 'Доход топ брендов от NFT\n' +
              'MetaMask недавно добавил кастодиальную функцию для NFT по многочисленным просьбам корпоративных клиентов\n' +
              'В третьем квартале много брендов объявили о планах выхода на рынок NFT. Кто-то уже пожинает плоды',
          date: '16.01.2023 15:00'
        },
        {
          title: 'Трансформатор',
          logo: require('@/assets/images/transformator-logo.jpg'),
          text: 'Доход топ брендов от NFT\n' +
              'MetaMask недавно добавил кастодиальную функцию для NFT по многочисленным просьбам корпоративных клиентов\n' +
              'В третьем квартале много брендов объявили о планах выхода на рынок NFT. Кто-то уже пожинает плоды',
          date: '16.01.2023 15:00'
        },
        {
          title: 'NR',
          logo: require('@/assets/images/nr-logo.jpg'),
          images: require('@/assets/images/nr-images.jpg'),
          text: 'ЦИК РФ подготовит предложения по улучшению общественного наблюдения, их могут применить в ближайший день голосования и на выборах президента — Памфилова',
          date: '16.01.2023 15:00'
        },
          {
          title: 'NR',
          logo: require('@/assets/images/nr-logo.jpg'),
          images: require('@/assets/images/nr-images.jpg'),
          text: 'ЦИК РФ подготовит предложения по улучшению общественного наблюдения, их могут применить в ближайший день голосования и на выборах президента — Памфилова',
          date: '16.01.2023 15:00'
        },
        {
          title: 'Трансформатор',
          logo: require('@/assets/images/transformator-logo.jpg'),
          images: require('@/assets/images/transformator-images.jpg'),
          text: 'Доход топ брендов от NFT\n' +
              'MetaMask недавно добавил кастодиальную функцию для NFT по многочисленным просьбам корпоративных клиентов\n' +
              'В третьем квартале много брендов объявили о планах выхода на рынок NFT. Кто-то уже пожинает плоды',
          date: '16.01.2023 15:00'
        },
        {
          title: 'Трансформатор',
          logo: require('@/assets/images/transformator-logo.jpg'),
          text: 'Доход топ брендов от NFT\n' +
              'MetaMask недавно добавил кастодиальную функцию для NFT по многочисленным просьбам корпоративных клиентов\n' +
              'В третьем квартале много брендов объявили о планах выхода на рынок NFT. Кто-то уже пожинает плоды',
          date: '16.01.2023 15:00'
        },
        {
          title: 'NR',
          logo: require('@/assets/images/nr-logo.jpg'),
          images: require('@/assets/images/nr-images.jpg'),
          text: 'ЦИК РФ подготовит предложения по улучшению общественного наблюдения, их могут применить в ближайший день голосования и на выборах президента — Памфилова',
          date: '16.01.2023 15:00'
        },
      ]
    }
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"
.news
  &__item
    display inline-block
    float left
    max-width 48.9%
    width: 100%
    margin-top: 20px
    &:nth-child(1)
    &:nth-child(2)
      margin-top: 0

    button
      margin-top: 16px

    &:nth-child(even)
      //margin-left: 20px
      float right

    p
      font-size: 18px
      line-height 1.4
      margin-top: 16px
      margin-bottom: 16px

    &-header
      display flex
      justify-content space-between
      align-items center

    &-title-logo
      display flex
      align-items center

      img
        width: 24px
        height: 24px
        border-radius 100px

      h4
        font-size: 18px
        font-weight: 500
        margin-left: 8px

    &-time
      font-size: 13px
      font-weight: 600
      color main_gray
</style>
