<template>
  <div>
    <router-link tag="button" :to="path" class="border-green-button button">Добавить операцию</router-link>
    <ul class="sidebar__list">
        <router-link
            v-for="link in linkList"
            tag="li"
            :exact="link.exact"
            active-class="sidebar__active-link"
            :to="link.path"
            :key="link.nameLink"
        >
          <img :src="link.newsPhoto" alt="">
          {{ link.nameLink }}
        </router-link>
    </ul>
  </div>
</template>

<script>
import sidebar_links from "@/mixins/sidebar_links";
import 'vue2-datepicker/index.css'

export default {
  name: "sidebarOtherPage",
  mixins: [sidebar_links],
  props: {path: String},
  data() {
    return {
      linkList: {},
    }
  },
  created() {
    if (this.$route.name.includes('finance')) {
      this.linkList = this.sidebarLinks.finance
    }
  }

}
</script>

<style scoped>

</style>
