<template>
  <div>
    <div class="sidebar__timetracker">
      <div class="sidebar__timetracker-title-and-icon">
        <h2 class="sidebar__content-title">Timetracker</h2>
        <div class="sidebar__timetracker-icon"></div>
      </div>
      <div class="sidebar__timetracker-time">
        <span id="countingTime">02:00</span>
        <span>-</span>
        <span id="plannedTime">08:00</span>
      </div>
    </div>
    <div class="sidebar__exchange-rates">
      <h2 class="sidebar__content-title">Курсы валют:</h2>
      <div v-if="loading" class="loader"><span></span></div>
      <ul v-else class="sidebar__exchange-rates-list">
        <li v-for="(value, currency) in fiatCurrencies">1 {{ currency }} - {{ (1 / value).toFixed(3) }} {{ baseFiatCurrency }}</li>
      </ul>
    </div>
    <div class="sidebar__last-note">
      <h2 class="sidebar__content-title">Последняя заметка:</h2>
      <p>Сделать дизайн для новой crm</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "sidebarHomePage",
  data() {
    return {
      loading: true,
    }
  },
  async mounted() {
    await this.$store.dispatch('fiat_currencies/requestFiatCurrencies')
    this.loading = false
  },
  computed: {
    fiatCurrencies() {
      return this.$store.getters["fiat_currencies/fiatCurrencies"]
    },
    baseFiatCurrency() {
      return this.$store.getters["fiat_currencies/baseFiatCurrency"]
    }
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"
.sidebar
  max-width 234px
  width: 100%
  height: 100vh
  background sidebar_gray
  padding: 18px
  padding-bottom: 0
  box-shadow 4px 0 12px 0 rgba(#000000, 0.1)
  z-index 2

  button
    font-size: 16px
    padding: 9px
    margin-top: 48px

  &__date
    margin-bottom: 6px

  &__list
    li
      margin-top: 16px
      cursor pointer


  &__active-link
    color main_blue

  &__title
    font-size: 28px
    font-weight: 600
    margin-bottom: 12px

  &__line
    width: 100%
    height: 1px
    background main_gray

  &__content-title
    font-size: 20px
    font-weight: 400
    font-family 'Open-Sans', sans-serif

  &__timetracker
    margin-top: 48px

    &-title-and-icon
      display flex
      align-items center

    &-icon
      width: 10px
      height: 10px
      background main_red
      border-radius 100px
      margin-left: 12px

    &-time
      padding-left: 24px
      display flex
      align-items center
      font-weight: 600
      font-size: 20px
      margin-top: 8px

      span:nth-child(2)
        margin: 0 4px

  &__exchange-rates
    margin-top: 38px

    &-list
      margin-top: 20px
      padding-left: 24px

      li
        margin-bottom: 14px

        &:last-child
          margin-bottom: 0

  &__last-note
    margin-top: 38px

    p
      margin-top: 12px
      line-height 1.2
      padding-left: 24px
</style>
