@import "components/fonts.scss";
@import "components/colors.scss";
@import "components/components.scss";
@import "components/header.scss";
@import "components/main.scss";
@import "components/section-video.scss";
@import "components/future-block.scss";
@import "components/visa-components.scss";
@import "components/questionnaire-info.scss";
@import "components/digital-process.scss";
@import "components/integrations.scss";
@import "components/contact.scss";
@import "components/footer.scss";
@import "components/data-protection.scss";
@import "components/imprint.scss";
@import "components/modal-video.scss";
@import "components/social-network.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--main_grey);
  transition: background-color 0.2s;
  min-height: 100vh;
}

.body__blue {
  background: #0C0B2D;
  color: white !important;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style-type: none;
}

input, select, button, textarea {
  outline: none;
}

button {
  cursor: pointer;
}