<template>
  <BaseLayout>
    <IndicatorsLayout type="payments">
      <template #table_0>
        <h3>Forwarding</h3>
      </template>
      <template #table_1>
        <h3>Regular</h3>
      </template>
    </IndicatorsLayout>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import IndicatorsLayout from "@/components/IndicatorsLayout.vue";

export default {
  name: "transactions-outgoing",
  components: {IndicatorsLayout, BaseLayout},
  provide: {
    title: 'Payments'
  }
}
</script>

<style scoped lang="scss">

</style>