<template>
  <BaseLayout>
    <IndicatorsLayout type="receipts" />
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import IndicatorsLayout from "@/components/IndicatorsLayout.vue";

export default {
  name: "transactions-incoming",
  components: {IndicatorsLayout, BaseLayout},
  provide: {
    title: 'Receipts'
  }
}
</script>

<style scoped lang="scss">

</style>