<template>
  <BaseLayout>
    <IndicatorsLayout type="proceeds">
      <template #table_0>
        <h3>Fiat (USD)</h3>
      </template>
      <template #table_1>
        <h3>Crypto</h3>
      </template>
    </IndicatorsLayout>
  </BaseLayout>
</template>

<script>
import BaseLayout from "@/layouts/base-layout.vue";
import IndicatorsLayout from "@/components/IndicatorsLayout.vue";

export default {
  name: "turnover",
  components: {IndicatorsLayout, BaseLayout},
  provide: {
    title: 'Turnover'
  }
}
</script>

<style scoped lang="scss">

</style>