<template>
  <auth-layout title="Авторизация" @submitHandler="submitHandler">
    <div class="container-input">
      <label class="label">Введите Email</label>
      <input class="input"
             :class="{'invalid-input': ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
             type="text"
             placeholder="Email"
             v-model.trim="email"
      >
      <div class="error-input">
        <span v-if="($v.email.$dirty && !$v.email.required)">{{ ERRORS.required }}</span>
        <span v-else-if="($v.email.$dirty && !$v.email.email)">{{ ERRORS.email }}</span>
      </div>
    </div>
    <div class="container-input">
      <label class="label">Введите пароль</label>
      <input class="input"
             :class="{'invalid-input': ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
             type="password"
             placeholder="Password"
             v-model.trim="password"
      >
      <div class="error-input">
        <span v-if="($v.password.$dirty && !$v.password.required)">{{ ERRORS.required }}</span>
        <span v-else-if="($v.password.$dirty && !$v.password.minLength)">{{ ERRORS.minLength(6) }}</span>
      </div>
    </div>
    <div class="login__registration">Нет аккаунта?
      <router-link tag="a" to="/registration/">Зарегистрироваться</router-link>
    </div>
    <button type="submit" class="change-button button">Вход</button>
  </auth-layout>
</template>

<script>
import authLayout from '@/layouts/auth-layout'
import {email, required, minLength} from 'vuelidate/lib/validators'
import {FORM_ERROR_MESSAGE} from "@/errors";


export default {
  name: "login",
  components: {authLayout},
  data() {
    return {
      email: '',
      password: '',
      ERRORS: FORM_ERROR_MESSAGE
    }
  },
  validations: {
    email: {required, email},
    password: {required, minLength: minLength(6)}
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      } else {
        try {
          const data = {
            email: this.email,
            password: this.password
          }
          const response = await this.$services('authorizeUser', data)
          if (response.token) {
            localStorage.setItem('auth_token', response.token)
          }
          console.log(response)
        } catch (error) {
          console.log(error)
        }
      }
    }
  }
}
</script>

<style lang="stylus">
@import "@/assets/stylus/variables.styl"
.login
  &__registration
    font-size: 14px
    margin: 8px 0

    & > a
      color main_blue
</style>