<template>
  <auth-layout title="Регистрация" @submitHandler="submitHandler">
    <div class="registration__container-input">
      <div class="container-input">
        <label class="label">Введите ваше имя*</label>
        <input class="input"
               :class="{'invalid-input': $v.name.$dirty && !$v.name.required}"
               type="text"
               placeholder="Введите ваше имя*"
               v-model="name"
        >
        <div class="error-input">
          <span v-if="($v.name.$dirty && !$v.name.required)">{{ ERRORS.required }}</span>
        </div>
      </div>
      <div class="container-input">
        <label class="label">Введите login*</label>
        <input class="input"
               :class="{'invalid-input': ($v.login.$dirty && !$v.login.required) ||
                                         ($v.login.$dirty && !$v.login.minLength) ||
                                         ($v.login.$dirty && !$v.login.maxLength)}"
               type="text"
               placeholder="Введите login*"
               v-model="login"
        >
        <div class="error-input">
          <span v-if="($v.login.$dirty && !$v.login.required)">{{ ERRORS.required }}</span>
          <span v-if="($v.login.$dirty && (!$v.login.minLength || !$v.login.maxLength))">{{
              ERRORS.rangeLength(4, 16)
            }}</span>
        </div>
      </div>
    </div>
    <div class="container-input">
      <label class="label">Введите email*</label>
      <input class="input"
             :class="{'invalid-input': ($v.email.$dirty && !$v.email.required) ||
                                       ($v.email.$dirty && !$v.email.email)}"
             type="text"
             placeholder="Введите email*"
             v-model="email"
      >
      <div class="error-input">
        <span v-if="($v.email.$dirty && !$v.email.required)">{{ ERRORS.required }}</span>
        <span v-if="($v.email.$dirty && !$v.email.email)">{{ ERRORS.email }}</span>
      </div>
    </div>
    <div class="registration__container-input">
      <div class="container-input">
        <label class="label">Введите пароль*</label>
        <input class="input"
               :class="{'invalid-input': ($v.password.$dirty && !$v.password.required) ||
                                         ($v.password.$dirty && !$v.password.minLength)}"
               type="password"
               placeholder="Введите пароль*"
               v-model="password"
        >
        <div class="error-input">
          <span v-if="($v.password.$dirty && !$v.password.required)">{{ ERRORS.required }}</span>
          <span v-if="($v.password.$dirty && !$v.password.minLength)">{{ ERRORS.minLength(6) }}</span>
        </div>
      </div>
      <div class="container-input">
        <label class="label">Повторите пароль*</label>
        <input class="input"
               :class="{'invalid-input': ($v.repeatPassword.$dirty && !$v.repeatPassword.required) ||
                                         ($v.repeatPassword.$dirty && !$v.repeatPassword.minLength)}"
               type="password"
               placeholder="Повторите пароль*"
               v-model="repeatPassword"
        >
        <div class="error-input">
          <span v-if="($v.repeatPassword.$dirty && !$v.repeatPassword.required)">{{ ERRORS.required }}</span>
          <span v-if="($v.repeatPassword.$dirty && !$v.repeatPassword.minLength)">{{ ERRORS.minLength(6) }}</span>
          <span v-if="$v.repeatPassword.$dirty && (repeatPassword !== password)">Пароли не совпадают!</span>
        </div>
      </div>
    </div>
    <div class="login__registration">Уже есть аккаунт?
      <router-link tag="a" to="/login/">Войти</router-link>
    </div>
    <button class="change-button button">Зарегистрироваться</button>
  </auth-layout>
</template>

<script>
import authLayout from '@/layouts/auth-layout'
import {email, minLength, maxLength, required} from 'vuelidate/lib/validators'
import {FORM_ERROR_MESSAGE} from "@/errors";


export default {
  name: "registration",
  components: {authLayout},
  data() {
    return {
      name: '',
      login: '',
      email: '',
      password: '',
      repeatPassword: '',
      ERRORS: FORM_ERROR_MESSAGE
    }
  },
  validations: {
    name: {required},
    login: {required, maxLength: maxLength(16), minLength: minLength(4)},
    email: {required, email},
    password: {minLength: minLength(6), required},
    repeatPassword: {minLength: minLength(6), required}
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        console.log(this.$v)
        return
      } else {
        const data = {
          name: this.name,
          password: this.password,
          email: this.email,
          login: this.login
        }
        console.log('complete')
        await this.$services('registration', data)
      }
    },
    async registration() {
      const data = {
        name: this.name,
        password: this.password,
        email: this.email,
        login: this.login
      }
      await this.$services('registration', data)
    }
  }
}
</script>

<style lang="stylus">
.registration
  &__container-input
    display flex
    margin-top: 16px

    & > .container-input
      margin-top: 0
      width: 100%

      & + .container-input
        margin-left: 16px

</style>