<template>
  <section class="indicators-layout">
    <div class="indicators-layout__filters">
      <div class="fields-row">
        <label for="">Type</label>
        <select
          id=""
          v-model="grouping"
          name=""
          class="select"
        >
          <option
            selected
            disabled
            value=""
          >
            Type
          </option>
          <option
            v-for="(date, index) in optionDate"
            :key="`filterDate_${index}`"
            :value="date.toLowerCase()"
          >
            {{ date }}
          </option>
        </select>
      </div>
      <div class="fields-row">
        <label for="">Start</label>
        <VueDatePicker
          v-model="dtstart"
          placeholder="Start (YYYY-MM-dd)"
          text-input
          auto-apply
          :format="formatDatePicker"
          :week-picker="grouping === 'week'"
          :month-picker="grouping === 'month'"
        ></VueDatePicker>
      </div>
      <div class="fields-row">
        <label for="">End</label>
        <VueDatePicker
          v-model="dtend"
          placeholder="End (YYYY-MM-dd)"
          text-input
          auto-apply
          :format="formatDatePicker"
          :week-picker="grouping === 'week'"
          :month-picker="grouping === 'month'"
        ></VueDatePicker>
      </div>
    </div>
    <div
      v-if="loader"
      class="loader"
    ></div>
    <div>
      <apexchart
        v-if="!loader && series"
        width="100%"
        :height="apexHeight"
        :type="apexType"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </div>
    <div v-if="!loader && dataTables.length && series">
      <div
        v-for="(table, mainIndex) in dataTables"
        :key="`table_${mainIndex}`"
        class="table__wrap"
      >
        <slot :name="`table_${mainIndex}`"></slot>
        <div class="table__container">
          <table
            class="table"
          >
            <thead>
            <tr>
              <th>Period</th>
              <th
                v-for="(label, labelIndex) in table.data[0].amounts"
                :key="`label_${labelIndex}${mainIndex}`"
              >
                <img
                  width="30"
                  :src="require(`@/assets/img/coins/${label.currency.includes('fwd') ? label.currency.replace('fwd', '').trim().toLowerCase() : label.currency.toLowerCase()}.svg`)"
                  alt=""
                >
              </th>
            </tr>
            </thead>
            <tbody>
            <tr
              v-for="(data, index) in table.data"
              :key="`data_${index}${mainIndex}`"
            >
              <td>{{ data.date }}</td>
              <td
                v-for="(amount, index) in data.amounts"
                :key="`data_${index}${mainIndex}`"
              >
                <div :class="{'indicators-layout__table-amount' : amount.value !== 0}">
                  {{
                    amount.hasOwnProperty('value') && amount.value ? amount.value % 1 !== 0 ? Number(amount.value).toFixed(2) : amount.value : 0
                  }}
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      v-if="series === false && !loader"
      style="text-align: center; color: var(--grey-text); font-size: 20px;"
    >
      No data for the period: {{ moment(dtstart).format('DD.MM.YYYY') }} - {{ moment(dtend).format('DD.MM.YYYY') }}
    </div>
  </section>
</template>

<script>

import moment from "moment";
import {CRYPTO_COLORS} from "@/dictionaries/CRYPTO_COLORS";
import Logo from "@/components/icons/Logo.vue";

import VueApexCharts from "vue3-apexcharts";
import refreshToken from "@/mixins/refreshToken";


export default {
  name: "IndicatorsLayout",
  components: {
    Logo,
    apexchart: VueApexCharts
  },
  mixins: [refreshToken],
  props: {
    type: {
      default: ''
    },
    apexType: {
      default: 'line'
    },
  },
  data: () => ({
    optionDate: ['Day', 'Month', 'Week'],
    moment,
    apexHeight: 500,
    date: new Date(),
    series: [],
    chartOptions: {
      dataTable: {},
      chart: {
        height: 500,
        type: 'line',
        zoom: {
          enabled: false
        },
        dropShadow: {
          enabled: true,
          color: '#000',
          top: 18,
          left: 7,
          blur: 10,
          opacity: 0.2
        },
      },
      colors: [],
      dataLabels: {
        enabled: true
      },
      stroke: {
        curve: 'smooth',
      },
      markers: {
        size: 0,
        hover: {
          sizeOffset: 6
        }
      },
      xaxis: {
        categories: [],
      },
      yaxis: {
        title: {
          text: 'Count'
        },
      },
      legend: {
        show: true,
        formatter: function (seriesName) {
          return seriesName.toUpperCase();
        }
      },
    },


    loader: false,
    d: {
      labels: [],
      datasets: []
    },
    o: {
      responsive: true,
      maintainAspectRatio: false
    },
    labels: null,
    preparedData: null,
    currencies: [],
    dataTables: []
  }),
  computed: {
    yaxis() {
      if (this.type === 'proceeds') {
        return 'Fiat (USD)'
      } else if (this.type === 'balances') {
        return 'Date'
      } else {
        return 'Quantity'
      }
    },
    formatDatePicker() {
      if (this.grouping === 'month') {
        return 'yyyy MMM'
      } else {
        return 'dd MMM yyyy'
      }
    },
    dtstart: {
      get() {
        return this._transformDateInGetters(this.$route.query.dtstart, 'start')
      },
      set(dtstart) {
        this.updateRouteQuery('dtstart', this._transformDateInSetters(dtstart, 'start'))
      }
    },
    dtend: {
      get() {
        return this._transformDateInGetters(this.$route.query.dtend, 'end')
      },
      set(dtend) {
        this.updateRouteQuery('dtend', this._transformDateInSetters(dtend, 'end'))
      }
    },
    grouping: {
      get() {
        return this.$route.query.grouping || 'month'
      },
      set(grouping) {
        this.$router.push({
          query: {
            ...this.$route.query,
            grouping: grouping
          }
        })
      }
    },
  },
  watch: {
    '$route.query': {
      immediate: true,
      handler() {
        this.getStatistics();
      }
    }
  },
  mounted() {
    if (this.type === 'balances') {
      this.chartOptions.plotOptions = {
        bar: {
          horizontal: true,
          dataLabels: {
            total: {
              enabled: true,
              offsetX: 16,
              style: {
                fontSize: '11px',
                fontWeight: 700,
                color: '#000000',
              },
              formatter: function (val) {
                return Number(val).toFixed(2)
              }
            }
          }
        },
      }
      this.chartOptions.chart.stacked = true
      this.chartOptions.title = {
        text: 'Client balances'
      }
      this.optionDate = this.optionDate.filter(date => date !== 'Day')
    }
  },
  methods: {
    updateRouteQuery(key, value) {
      this.$router.push({query: {...this.$route.query, [key]: value}});
    },
    _transformDateInGetters(value, type) {
      if (this.grouping === 'day') {
        if (value) {
          return moment(value).format('yyyy-MM-DD')
        } else {
          return type === 'start' ? moment().subtract(1, 'weeks').format('yyyy-MM-DD') : moment().format('yyyy-MM-DD')
        }
      } else if (this.grouping === 'week') {
        if (value) {
          const date = type === 'start' ? new Date(moment(value).add(1, 'weeks')) : new Date(moment(value))
          return [new Date(value), date]
        } else {
          const date = type === 'start' ? new Date(moment().subtract(2, "months")) : new Date()
          return [date, new Date(moment(date).add(1, "weeks"))]
        }

      } else if (this.grouping === 'month') {
        let momentDate = value ? moment(value) : type === 'start' ? moment().subtract(2, 'months') : moment()
        return {
          month: momentDate.month(),
          year: momentDate.year()
        }
      }
    },
    _transformDateInSetters(value, type) {
      if (this.grouping === 'day') {
        return moment(value).format('yyyy-MM-DD')
      } else if (this.grouping === 'week') {
        return moment(value[type === 'start' ? 0 : 1]).format('yyyy-MM-DD')
      } else if (this.grouping === 'month') {
        if (type === 'start') {
          return moment(value).format('yyyy-MM-DD')
        } else {
          return moment(value).endOf('months').format('yyyy-MM-DD')
        }
      }
    },
    _transformDateInRequest(value, type) {
      if (this.grouping === 'day') {
        return moment(value).format('yyyy-MM-DD')
      } else if (this.grouping === 'week') {
        return type === 'start' ? moment(value[0]).format('yyyy-MM-DD') : moment(value[1]).format('yyyy-MM-DD')
      } else if (this.grouping === 'month') {
        if (type === 'start') {
          return moment(value).format('yyyy-MM-DD')
        } else {
          return moment(value).endOf('months').format('yyyy-MM-DD')
        }
      }
    },
    async getStatistics() {
      this.loader = true
      if (!this.checkLifetimeToken()) {
        await this.callRefreshToken()
      }

      const response = await fetch(`${this.$store.state.serviceUrl}/api/v2/reports/${this.type}?grouping=${this.grouping}&dtstart=${this._transformDateInRequest(this.dtstart, 'start')}&dtend=${this._transformDateInRequest(this.dtend, 'end')}`,
        {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${this.$store.state.accessToken}`
          }
        }
      )
      const result = await response.json()
      if (result.length === 0) {
        this.series = false
        this.loader = false
        return false
      }
      this.chartOptions.yaxis.title.text = this.yaxis
      await this.processData(result)
      this.loader = false


    },
    /**
     * Формирует данные для вывода в график
     * @param data
     * @returns {Promise<void>}
     */
    async processData(data) {
      const coinKey = this.type === 'balances' ? 'token' : 'currency'
      const dateKey = this.type === 'balances' ? 'dt' : 'period'

      moment.locale('en');

      let categories = [];
      const seriesData = {};

      if (['day', 'week', 'month'].includes(this.grouping)) {
        const allIntervals = this.generateIntervals(this.dtstart, this.dtend, this.grouping);
        categories = allIntervals.map(interval => interval.label);
      }

      data.forEach(item => {
        const currencyKey = (item[coinKey] ? item[coinKey] : '') + (item.is_forwarding ? ' fwd' : '') + (item.network ? `${item[coinKey] ? '@' : ''}${item.network}` : '');
        if (this.type === 'proceeds') {
          this.chartOptions.dataTable.amount_fiat = {...this.chartOptions.dataTable.amount_fiat};
          this.chartOptions.dataTable.amount_major = {...this.chartOptions.dataTable.amount_major};

          this.chartOptions.dataTable.amount_fiat[currencyKey] = new Array(categories.length).fill(0);
          this.chartOptions.dataTable.amount_major[currencyKey] = new Array(categories.length).fill(0);
        } else if (this.type === 'payments') {
          this.chartOptions.dataTable.forwarding = {...this.chartOptions.dataTable.forwarding};
          this.chartOptions.dataTable.regular = {...this.chartOptions.dataTable.regular};
          if (currencyKey.includes('fwd')) {
            this.chartOptions.dataTable.forwarding[currencyKey] = new Array(categories.length).fill(0);
          } else {
            this.chartOptions.dataTable.regular[currencyKey] = new Array(categories.length).fill(0);
          }
        } else {
          this.chartOptions.dataTable.regular = {...this.chartOptions.dataTable.regular};
          this.chartOptions.dataTable.regular[currencyKey] = new Array(categories.length).fill(0);
        }


        if (!seriesData[currencyKey]) {
          seriesData[currencyKey] = new Array(categories.length).fill(0);
        }
      });

      data.forEach(item => {
        const currencyKey = (item[coinKey] ? item[coinKey] : '') + (item.is_forwarding ? ' fwd' : '') + (item.network ? `${item[coinKey] ? '@' : ''}${item.network}` : '');
        let index;
        let label;

        if (this.grouping === 'week') {
          label = `${moment(item[dateKey].dtstart).startOf('isoWeek').format('YYYY-MM-DD')}`;
        } else if (this.grouping === 'month') {
          label = moment(item[dateKey]).format('MMM YYYY');
        } else if (this.grouping === 'day') {
          label = moment(item[dateKey]).format('DD MMM YYYY');
        }
        index = categories.findIndex(c => c === label);
        if (index !== -1) {
          if (this.type === 'proceeds') {
            this.chartOptions.dataTable.amount_fiat[currencyKey][index] += item.hasOwnProperty('amount_fiat') ? Number(item.amount_fiat) : 0;
            this.chartOptions.dataTable.amount_major[currencyKey][index] += item.hasOwnProperty('amount_major') ? Number(item.amount_major) : 0;
            seriesData[currencyKey][index] += item.hasOwnProperty('amount_fiat') ? item.amount_fiat : 0;
          } else if (this.type === 'payments') {
            if (currencyKey.includes('fwd')) {

              this.chartOptions.dataTable.forwarding[currencyKey][index] += item.is_forwarding && currencyKey ? item.count : 0;
            } else {

              this.chartOptions.dataTable.regular[currencyKey][index] += !item.is_forwarding ? item.count : 0;
            }

            seriesData[currencyKey][index] += item.count;
          } else if (this.type === 'receipts') {
            this.chartOptions.dataTable.regular[currencyKey][index] += item.count;
            seriesData[currencyKey][index] += item.count;
          } else if (this.type === 'balances') {
            this.chartOptions.dataTable.regular[currencyKey][index] += item.balance_major || 0;
            seriesData[currencyKey][index] += item.balance_major || 0;
          }
        }

      });

      this.series = Object.keys(seriesData).map(currency => ({
        name: currency,
        data: seriesData[currency].map(amount => this.type === 'balances' ? parseFloat(amount.toFixed(2)) : amount),
      }));

      this.chartOptions.stroke.dashArray = Object.keys(seriesData).map(currency => currency.includes('fwd') ? 10 : 0)

      this.chartOptions.colors = this.series.map(({name}) => CRYPTO_COLORS[name] || '#000');
      this.chartOptions.xaxis.categories = categories;

      if (this.type === 'balances') {
        const apexHeight = (categories.length + 1) * 40
        this.apexHeight = apexHeight > 500 ? apexHeight : 500
      }

      this.serializeTableData(categories)

    },

    /**
     * Сериализует данные для вывода таблиц
     * @param categories
     */
    serializeTableData(categories) {
      const tables = this.chartOptions.dataTable;
      if (this.type === 'payments') {
        const regularKeys = Object.keys(tables.regular);
        const forwardingKeys = Object.keys(tables.forwarding).map(key => key.replace(' fwd', ''));
        const allKeys = Array.from(new Set([...regularKeys, ...forwardingKeys])).sort();

        const updatedRegular = {};
        const updatedForwarding = {};

        allKeys.forEach(key => {
          updatedRegular[key] = regularKeys.includes(key) ? tables.regular[key] : new Array(categories.length).fill(0);
          updatedForwarding[`${key} fwd`] = forwardingKeys.includes(key) ? tables.forwarding[`${key} fwd`] : new Array(categories.length).fill(0);
        });

        tables.regular = updatedRegular;
        tables.forwarding = updatedForwarding;
      }

      const dataTables = Array.from({length: Object.keys(tables).length}, (_, i) => ({
        label: [],
        data: categories.map(category => ({date: category, amounts: []}))
      }));

      Object.entries(tables).forEach(([tableName, currencies], tableIndex) => {
        categories.forEach((_, categoryIndex) => {
          Object.entries(currencies).forEach(([currency, values]) => {
            dataTables[tableIndex].data[categoryIndex].amounts.push({
              value: values[categoryIndex],
              currency: currency
            });
          });
        });
      });

      this.dataTables = dataTables;
    },
    generateIntervals(dtstart, dtend, grouping) {
      let start = moment(grouping === 'week' ? dtstart[0] : dtstart);
      let end = moment(grouping === 'week' ? dtend[1] : dtend);
      const intervals = [];

      start = start.startOf('isoWeek');
      end = end.endOf('isoWeek');

      while (start <= end) {
        let label;
        if (grouping === 'week') {
          label = `${start.format('YYYY-MM-DD')}`;
        } else if (grouping === 'month') {
          label = `${start.format('MMM YYYY')}`
        } else if (grouping === 'day') {
          label = `${start.format('DD MMM YYYY')}`
        }

        intervals.push({label});
        start.add(1, grouping);
      }

      return intervals;
    },
    convertToProperFormat(amount, currency) {
      const currencyDetails = this.currencies.find(cur => cur.abbr === currency);
      if (!currencyDetails) return amount;
      const toFixed = currencyDetails.abbr.toLowerCase().includes('usdt') || currencyDetails.abbr.toLowerCase().includes('tcn') ? 2 : (1 / currencyDetails['units-factor']).toString().length - 1;
      return (amount * parseFloat(currencyDetails['units-factor'])).toFixed(toFixed);
    }

  }
}
</script>

<style lang="scss">
.indicators-layout {
  table {
    tbody > tr {
      &:hover {
        background: var(--primary);
        color: white !important;
      }
    }
  }

  &__filters {
    background: white;
    border-radius: 10px;
    padding: 32px;
    margin-bottom: 48px;
    border: 1px solid var(--primary);
    display: flex;

    .fields-row {
      width: 133px;

      &:first-child {
        width: 120px;
        margin-right: 48px;
      }

      &:last-child {
        margin-left: 32px;
      }
    }
  }

  &__table-amount {
    font-weight: 700;
  }
}

</style>