<template>
  <transition
    name="notification"
    mode="out-in"
  >
    <div
      v-if="show"
      class="notification"
    >
      <span 
        class="notification__close"
        @click="$emit('closeNotification')"
      ></span>
      <div class="notification__title">
        {{ title }}
      </div>
      {{ message }}
    </div>
  </transition>
</template>

<script>
export default {
  name: "Notification",
  props: {
    message: String,
    title: String,
    show: Boolean
  },
  emits: {'closeNotification': null}
}
</script>

<style lang="scss">

.notification {
  max-width: 300px;
  color: var(--primary);
  position: absolute;
  top: 2vh;
  right: 2vh;
  background: #EFF3F8;
  padding: 12px 24px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 1px 6px 2px rgb(0, 0, 0, 0.2);
  &:before {
    content: '';
    display: block;
    width: 6px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 12px;
  }
  &__close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    &:after, &:before {
      content: '';
      display: block;
      width: 1.5px;
      height: 10px;
      position: absolute;
      top: 9%;
      left: 45%;
      background: var(--primary);
      border-radius: 4px;
      cursor: pointer;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
  &-enter-active,
  &-leave-active {
    opacity: 1;
    top: 2vh;
    transition: opacity 0.3s, top 0.5s;
  }

  &-enter-from,
  &-leave-to {
    top: 6vh;
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .notification {
    top: 70px;
    &-enter-active,
    &-leave-active {
      opacity: 1;
      top: 70px;
      transition: opacity 0.3s, top 0.5s;
    }

    &-enter-from,
    &-leave-to {
      top: 120px;
      opacity: 0;
    }
  }
}

</style>