.close-btn {
  font-size: 18px;
  height: 36px;
  padding: 8px;
  border-radius: 100%;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--lime);
    border: 1px solid var(--black);
  }
}

.button {
  &-reserved,
  &-confirmed,
  &-cancel,
  &-delete,
  &-add{
    padding: 8px 12px;
    border-radius: var(--radius);
  }

  &-reserved {
    border: 1px solid var(--black);
    color: var(--black);
    background: yellow;
  }

  &-confirmed {
    border: 1px solid var(--black);
    color: var(--black);
    background: var(--lime);
  }

  &-cancel {
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  &-delete {
    border: 1px solid var(--orange);
    background: var(--orange);
    color: white;
  }

  &-add {
    border: 1px solid var(--blue);
    background: var(--blue);
    color: white;
  }

  &-plus {
    background: #00e300;
    border: 1px solid #00e300;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-refresh {
    border: 1px solid var(--black);
    color: black;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: white;
    &:hover {
      background: var(--lime);
      i {
        animation: refresh 2s linear infinite
      }
    }
  }
}

@keyframes refresh {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}