.table {
  width: 100%;

  tr {
    th:first-child, td:first-child {
      padding-left: 16px;
    }
  }

  tr:nth-child(even) {
    td {
      background-color: white;
    }
  }

  td, th {
    text-align: start;
    padding: 9px;
  }

  tbody {
    td {
      background-color: #f2f2f2;
    }
  }
}