:root {
  --black: #292929;
  --white: #ffffff;
  --lime: #D2FF28;
  --orange: #C84C09;
  --blue: #5887FF;
  --container: 1920px;
  --radius: 4px;
  --grey: #f4f4f4;
  --grey-dark: #5a5a5a;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --linear-primary: linear-gradient(135deg, rgba(200, 76, 9, 0.2), rgba(210, 255, 40, 0.2), rgba(88, 135, 255, 0.2));
}